Repository rizinorg/rizin, changes with the labels that .github/labeler.yml gives for each.
All labels: rizin, rz_bin, rz_diff, rz_find, rz_gg, rz_hash, rz_run, rz_asm, rz_ax, RzAnalysis, RzAsm-Assembler, RzAsm-Disassembler, RzBin, RzBreakpoint, RzConfig, RzCons, RzCore, RzCrypto, RzDebug, RzEgg, RzFlag, RzHash, RzIO, RzLang, RzMagic, RzParse, RReg, RzSearch, RzSocket, RzSyscall, RzUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, rz_test, java, WinDbg, visual, panel

Avoid memory leak in seek history API
  librz/core/core.c
  librz/core/seek.c
  librz/include/rz_core.h
Labels: RzCore, API

Add rz_cmd_desc_get_arg API
  librz/core/cmd_api.c
  librz/include/rz_cmd.h
  test/unit/test_cmd.c
Labels: RzCore, API, command, rz_test

Avoid memory leaks in autocompletion code
  librz/core/cautocmpl.c
Labels: RzCore

Add Ruby to the rz-pipe's list of supported languages on the README
  README.md
Labels: none

Capitalization and other minor improvements in CONTROBUTING.md ##docs
  CONTRIBUTING.md
Labels: none

Fix old uses of @@ and @@@
  librz/core/cmd_analysis.c
  librz/core/cmd_macro.c
  librz/core/hack.c
  librz/include/sflib/darwin-arm-64/ios-syscalls.py
Labels: RzCore, API, command

Fix rpath on MacOS, broken by moving binaries for signing
  binrz/rizin/macos_sign.sh
  binrz/rizin/meson.build
  meson.build
Labels: rizin

Fix old uses of @@ and @@@ (#409)
  librz/core/cmd_analysis.c
  librz/core/cmd_macro.c
  librz/core/hack.c
  librz/include/sflib/darwin-arm-64/ios-syscalls.py
Labels: RzCore, API, command

Avoid memory leaks in autocompletion code
  librz/core/cautocmpl.c
Labels: RzCore

Prevent dupped autocompletion suggestions
  librz/cons/line.c
  librz/include/rz_cons.h
Labels: RzCons, API

Extract rz_core_get_help_vars API to get vars names
  librz/core/cmd_help.c
  librz/include/rz_core.h
Labels: RzCore, API, command

Add rz_cmd_desc_get_arg API
  librz/core/cmd_api.c
  librz/include/rz_cmd.h
  test/unit/test_cmd.c
Labels: RzCore, API, command, rz_test

Avoid memory leak in seek history API
  librz/core/core.c
  librz/core/seek.c
  librz/include/rz_core.h
Labels: RzCore, API

Implement seek autocompletion
  librz/core/cautocmpl.c
  test/unit/test_autocmplt.c
Labels: RzCore, rz_test

Add Rust and Go to the list of rz-pipe's supported languages ##docs
  README.md
Labels: none

Oxford comma.
  README.md
Labels: none

Merge pull request #408 from officialcjunior/ruby-readme
  CONTRIBUTING.md
  README.md
Labels: none

Update issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

Patching AVR ao wrong output on rjmp instruction
  librz/analysis/p/analysis_avr.c
Labels: RzAnalysis

Fixed test output
  test/db/analysis/avr
Labels: rz_test

Fix rpath on MacOS, broken by moving binaries for signing (#411)
  binrz/rizin/macos_sign.sh
  binrz/rizin/meson.build
  meson.build
Labels: rizin

Add AVR RJMP test
  test/db/analysis/avr
Labels: rz_test

Fix Mach-O rebase on fat slices ##bin (#18248)
  librz/bin/p/bin_mach0.c
  test/db/formats/mach0/fatmach0
Labels: RzBin, rz_test

Fix x86_cs cmpbs esil ##analysis ##esil (#18251)
  librz/analysis/p/analysis_x86_cs.c
Labels: RzAnalysis

Use pj in cmd_print ##refactor
  librz/core/cmd_print.c
  librz/include/rz_util/pj.h
  librz/util/pj.c
  test/db/json/json3
Labels: RzCore, RzUtil, API, command, rz_test

Patching AVR ao wrong output on rjmp instruction (#415)
  librz/analysis/p/analysis_avr.c
  test/db/analysis/avr
Labels: RzAnalysis, rz_test

Fix x86_cs cmpbs esil ##analysis ##esil (#18251)
  librz/analysis/p/analysis_x86_cs.c
Labels: RzAnalysis

Fix Mach-O rebase on fat slices ##bin (#18248)
  librz/bin/p/bin_mach0.c
  test/db/formats/mach0/fatmach0
Labels: RzBin, rz_test

Use pj in cmd_print ##refactor
  librz/core/cmd_print.c
  librz/include/rz_util/pj.h
  librz/util/pj.c
  test/db/json/json3
Labels: RzCore, RzUtil, API, command, rz_test

Use spaces for some alignment
  .clang-format
Labels: none

Add clang-format script
  sys/clang-format.py
Labels: buildsystem

No more space before function call parentheses
  .clang-format
Labels: none

Temporary workaround for clang-format #46240 bug
  binrz/rz-test/rz_test.h
Labels: none

Fix foreach macroses
  .clang-format
Labels: none

Workaround a multiline comment clang-format bug
  librz/debug/p/debug_native.c
Labels: RzDebug

Align consecutive macros for clang-format
  .clang-format
Labels: none

Dont align escaped newlines
  .clang-format
Labels: none

Fix for clang-format parsing error
  librz/asm/arch/tms320/c55x/table.h
  librz/asm/arch/tms320/tms320_dasm.c
Labels: none

Remove unnecessary code style test
  test/db/tools/rz
Labels: rz_test

Fix cmd_descs_generate.py for clang-format
  librz/core/cmd_descs_generate.py
Labels: RzCore, command

.github/labeler.yml:

rizin:
  - binrz/rizin/*
  - librz/main/rizin.c

rz_bin:
  - binrz/rz_bin/*
  - librz/main/rz_bin.c

rz_diff:
  - binrz/rz_diff/*
  - librz/main/rz_diff.c

rz_find:
  - binrz/rz_find/*
  - librz/main/rz_find.c

rz_gg:
  - binrz/rz_gg/*
  - librz/main/rz_gg.c

rz_hash:
  - binrz/rz_hash/*
  - librz/main/rz_hash.c

rz_run:
  - binrz/rz_run/*
  - librz/main/rz_run.c

rz_asm:
  - binrz/rz_asm/*
  - librz/main/rz_asm.c

rz_ax:
  - binrz/rz_ax/*
  - librz/main/rz_ax.c

RzAnalysis:
  - librz/analysis/**/*

RzAsm-Assembler:
  - librz/asm/**/*ass*
  - librz/asm/asm_x86_nz.c

RzAsm-Disassembler:
  - librz/asm/**/*dis*

RzBin:
  - librz/bin/**/*

RzBreakpoint:
  - librz/bp/**/*

RzConfig:
  - librz/config/**/*

RzCons:
  - librz/cons/**/*

RzCore:
  - librz/core/**/*

RzCrypto:
  - librz/crypto/**/*

RzDebug:
  - librz/debug/**/*

RzEgg:
  - librz/egg/**/*

RzFlag:
  - librz/flag/**/*

RzHash:
  - librz/hash/**/*

RzIO:
  - librz/io/**/*

RzLang:
  - librz/lang/**/*

RzMagic:
  - librz/magic/**/*

RzParse:
  - librz/parse/**/*

RReg:
  - librz/reg/**/*

RzSearch:
  - librz/search/**/*

RzSocket:
  - librz/socket/**/*

RzSyscall:
  - librz/syscall/**/*

RzUtil:
  - librz/util/**/*

API:
  - librz/include/**/*

buildsystem:
  - sys/**/*

command:
  - librz/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - librz/analysis/esil*

gdb:
  - shlr/gdb/**/*
  - librz/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

rz_test:
  - binrz/rz_test/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - librz/io/p/io_winkd.c

visual:
  - librz/core/visual.c

panel:
  - librz/core/panels.c
