Repository rizinorg/rizin, changes with the labels that .github/labeler.yml gives for each.
All labels: rizin, rz_bin, rz_diff, rz_find, rz_gg, rz_hash, rz_run, rz_asm, rz_ax, RzAnalysis, RzAsm-Assembler, RzAsm-Disassembler, RzBin, RzBreakpoint, RzConfig, RzCons, RzCore, RzCrypto, RzDebug, RzEgg, RzFlag, RzHash, RzIO, RzLang, RzMagic, RzParse, RReg, RzSearch, RzSocket, RzSyscall, RzUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, rz_test, java, WinDbg, visual, panel

Fix strncpy truncation warnings
  librz/asm/arch/arc/gnu/arcompact-dis.c
  librz/cons/grep.c
  librz/cons/hud.c
Labels: RzAsm-Disassembler, RzCons

Fix dead assignment librz/asm/arch/arm/armass.c
  librz/asm/arch/arm/armass.c
Labels: RzAsm-Assembler

Fix dead assignment librz/asm/arch/arm/gnu/arm-dis.c
  librz/asm/arch/arm/gnu/arm-dis.c
Labels: RzAsm-Disassembler

Fix dead assignment librz/asm/arch/arc/gnu/arcompact-dis.c
  librz/asm/arch/arc/gnu/arcompact-dis.c
Labels: RzAsm-Disassembler

Fix dead assignment librz/asm/arch/arm/armass.c
  librz/asm/arch/arm/armass.c
Labels: RzAsm-Assembler

Fix dead assignment librz/asm/arch/arc/gnu/arcompact-dis.c
  librz/asm/arch/arc/gnu/arcompact-dis.c
Labels: RzAsm-Disassembler

Fix dead assignment librz/asm/arch/arm/gnu/arm-dis.c
  librz/asm/arch/arm/gnu/arm-dis.c
Labels: RzAsm-Disassembler

Fix dead nested assignment librz/asm/arch/arm/armass.c
  librz/asm/arch/arm/armass.c
Labels: RzAsm-Assembler

Make sure there is a \0 at buf's end
  librz/asm/arch/arc/gnu/arcompact-dis.c
Labels: RzAsm-Disassembler

Make sure there is a \0 at buf's end
  librz/asm/arch/arc/gnu/arcompact-dis.c
Labels: RzAsm-Disassembler

Fix dead nested assignment librz/asm/arch/arm/armass.c
  librz/asm/arch/arm/armass.c
Labels: RzAsm-Assembler

Clean dependencies between modules and put them in order
  binrz/rz-asm/meson.build
  binrz/rz-bin/meson.build
  binrz/rz-hash/meson.build
  librz/analysis/meson.build
  librz/analysis/p/analysis_avr.c
  librz/asm/meson.build
  librz/bin/meson.build
  librz/core/meson.build
  librz/crypto/meson.build
  librz/debug/meson.build
  librz/debug/p/debug_bf.c
  librz/debug/p/debug_bochs.c
  librz/debug/p/debug_esil.c
  librz/debug/p/debug_gdb.c
  librz/debug/p/debug_io.c
  librz/debug/p/debug_native.c
  librz/debug/p/debug_qnx.c
  librz/debug/p/debug_rap.c
  librz/debug/p/debug_winkd.c
  librz/debug/p/native/linux/linux_debug.c
  librz/debug/p/native/xnu/xnu_debug.c
  librz/egg/meson.build
  librz/io/meson.build
  librz/main/meson.build
  librz/parse/meson.build
  librz/syscall/meson.build
  shlr/meson.build
Labels: RzAnalysis, RzBin, RzCore, RzCrypto, RzDebug, RzEgg, RzIO, RzParse, RzSyscall

Use meson/ninja in CentOS 7 build and remove ACR builds
  .github/workflows/ci.yml
Labels: infrastructure

Use meson for codeql analysis
  .github/workflows/codeql-analysis.yml
Labels: infrastructure

Remove RZ_GITTAP
  librz/core/cmd_help.c
  librz/include/rz_types.h
  librz/include/rz_version.h.in
  librz/main/rizin.c
  librz/util/str.c
  meson.build
  meson_options.txt
Labels: rizin, RzCore, RzUtil, API, command

Remove deprecated ACR/Make from BUILDING.md
  BUILDING.md
Labels: none

Use 'v' prefix for version
  meson.build
Labels: none

Fix unit test tree
  test/unit/test_tree.c
Labels: rz_test

Use meson to compile with TCC
  .github/workflows/tcc.yml
Labels: infrastructure

Remove configure.acr and use meson project version
  .github/workflows/ci.yml
  configure.acr
  librz/include/rz_version.h.in
  meson.build
  sys/version.py
Labels: API, buildsystem, infrastructure

Make LGTM use Meson
  .lgtm.yml
Labels: infrastructure

Remove RZ_GITTAP
  librz/core/cmd_help.c
  librz/include/rz_types.h
  librz/include/rz_version.h.in
  librz/main/rizin.c
  librz/util/str.c
  meson.build
  meson_options.txt
Labels: rizin, RzCore, RzUtil, API, command

Remove deprecated ACR/Make from BUILDING.md
  BUILDING.md
Labels: none

Clean dependencies between modules and put them in order
  binrz/rz-asm/meson.build
  binrz/rz-bin/meson.build
  binrz/rz-hash/meson.build
  librz/analysis/meson.build
  librz/analysis/p/analysis_avr.c
  librz/asm/meson.build
  librz/bin/meson.build
  librz/core/meson.build
  librz/crypto/meson.build
  librz/debug/meson.build
  librz/debug/p/debug_bf.c
  librz/debug/p/debug_bochs.c
  librz/debug/p/debug_esil.c
  librz/debug/p/debug_gdb.c
  librz/debug/p/debug_io.c
  librz/debug/p/debug_native.c
  librz/debug/p/debug_qnx.c
  librz/debug/p/debug_rap.c
  librz/debug/p/debug_winkd.c
  librz/debug/p/native/linux/linux_debug.c
  librz/debug/p/native/xnu/xnu_debug.c
  librz/egg/meson.build
  librz/io/meson.build
  librz/main/meson.build
  librz/parse/meson.build
  librz/syscall/meson.build
  shlr/meson.build
Labels: RzAnalysis, RzBin, RzCore, RzCrypto, RzDebug, RzEgg, RzIO, RzParse, RzSyscall

Remove RZ_GITTAP
  librz/core/cmd_help.c
  librz/include/rz_types.h
  librz/include/rz_version.h.in
  librz/main/rizin.c
  librz/util/str.c
  meson.build
  meson_options.txt
Labels: rizin, RzCore, RzUtil, API, command

Use meson/ninja in CentOS 7 build and remove ACR builds
  .github/workflows/ci.yml
Labels: infrastructure

Remove configure.acr and use meson project version
  .github/workflows/ci.yml
  configure.acr
  librz/include/rz_version.h.in
  meson.build
  sys/version.py
Labels: API, buildsystem, infrastructure

Make LGTM use Meson
  .lgtm.yml
Labels: infrastructure

Fix unit test tree
  test/unit/test_tree.c
Labels: rz_test

Use meson for codeql analysis
  .github/workflows/codeql-analysis.yml
Labels: infrastructure

Use 'v' prefix for version
  meson.build
Labels: none

Use meson to compile with TCC
  .github/workflows/tcc.yml
Labels: infrastructure

Search for static dependencies/libraries when static_runtime is set
  librz/debug/meson.build
  librz/util/meson.build
  meson.build
  meson_options.txt
  shlr/meson.build
  shlr/ptrace-wrap/meson.build
Labels: RzDebug, RzUtil

Revert "Don't treat warnings as errors for now"
  .github/workflows/ci.yml
Labels: infrastructure

Remove obsolete iphone.md
  doc/iphone.md
Labels: documentation

Directly use rz-test instead of make in CI
  .github/workflows/ci.yml
Labels: infrastructure

Use OLDINPUT command descriptor for =! to allow passing cmd to IO plugin
  librz/core/cmd_descs.c
  librz/core/cmd_descs.h
  librz/core/cmd_descs.yaml
  librz/core/cmd_remote.c
Labels: RzCore, command

Directly use rz-test instead of make in CI
  .github/workflows/ci.yml
Labels: infrastructure

Remove obsolete iphone.md
  doc/iphone.md
Labels: documentation

Fix strncpy truncation warnings (#479)
  librz/asm/arch/arc/gnu/arcompact-dis.c
  librz/cons/grep.c
  librz/cons/hud.c
Labels: RzAsm-Disassembler, RzCons

.github/labeler.yml:

rizin:
  - binrz/rizin/*
  - librz/main/rizin.c

rz_bin:
  - binrz/rz_bin/*
  - librz/main/rz_bin.c

rz_diff:
  - binrz/rz_diff/*
  - librz/main/rz_diff.c

rz_find:
  - binrz/rz_find/*
  - librz/main/rz_find.c

rz_gg:
  - binrz/rz_gg/*
  - librz/main/rz_gg.c

rz_hash:
  - binrz/rz_hash/*
  - librz/main/rz_hash.c

rz_run:
  - binrz/rz_run/*
  - librz/main/rz_run.c

rz_asm:
  - binrz/rz_asm/*
  - librz/main/rz_asm.c

rz_ax:
  - binrz/rz_ax/*
  - librz/main/rz_ax.c

RzAnalysis:
  - librz/analysis/**/*

RzAsm-Assembler:
  - librz/asm/**/*ass*
  - librz/asm/asm_x86_nz.c

RzAsm-Disassembler:
  - librz/asm/**/*dis*

RzBin:
  - librz/bin/**/*

RzBreakpoint:
  - librz/bp/**/*

RzConfig:
  - librz/config/**/*

RzCons:
  - librz/cons/**/*

RzCore:
  - librz/core/**/*

RzCrypto:
  - librz/crypto/**/*

RzDebug:
  - librz/debug/**/*

RzEgg:
  - librz/egg/**/*

RzFlag:
  - librz/flag/**/*

RzHash:
  - librz/hash/**/*

RzIO:
  - librz/io/**/*

RzLang:
  - librz/lang/**/*

RzMagic:
  - librz/magic/**/*

RzParse:
  - librz/parse/**/*

RReg:
  - librz/reg/**/*

RzSearch:
  - librz/search/**/*

RzSocket:
  - librz/socket/**/*

RzSyscall:
  - librz/syscall/**/*

RzUtil:
  - librz/util/**/*

API:
  - librz/include/**/*

buildsystem:
  - sys/**/*

command:
  - librz/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - librz/analysis/esil*

gdb:
  - shlr/gdb/**/*
  - librz/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

rz_test:
  - binrz/rz_test/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - librz/io/p/io_winkd.c

visual:
  - librz/core/visual.c

panel:
  - librz/core/panels.c
