Repository rizinorg/rizin, changes with the labels that .github/labeler.yml gives for each.
All labels: rizin, rz_bin, rz_diff, rz_find, rz_gg, rz_hash, rz_run, rz_asm, rz_ax, RzAnalysis, RzAsm-Assembler, RzAsm-Disassembler, RzBin, RzBreakpoint, RzConfig, RzCons, RzCore, RzCrypto, RzDebug, RzEgg, RzFlag, RzHash, RzIO, RzLang, RzMagic, RzParse, RReg, RzSearch, RzSocket, RzSyscall, RzUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, rz_test, java, WinDbg, visual, panel

.github/labeler.yml:

rizin:
  - binrz/rizin/*
  - librz/main/rizin.c

rz_bin:
  - binrz/rz_bin/*
  - librz/main/rz_bin.c

rz_diff:
  - binrz/rz_diff/*
  - librz/main/rz_diff.c

rz_find:
  - binrz/rz_find/*
  - librz/main/rz_find.c

rz_gg:
  - binrz/rz_gg/*
  - librz/main/rz_gg.c

rz_hash:
  - binrz/rz_hash/*
  - librz/main/rz_hash.c

rz_run:
  - binrz/rz_run/*
  - librz/main/rz_run.c

rz_asm:
  - binrz/rz_asm/*
  - librz/main/rz_asm.c

rz_ax:
  - binrz/rz_ax/*
  - librz/main/rz_ax.c

RzAnalysis:
  - librz/analysis/**/*

RzAsm-Assembler:
  - librz/asm/**/*ass*
  - librz/asm/asm_x86_nz.c

RzAsm-Disassembler:
  - librz/asm/**/*dis*

RzBin:
  - librz/bin/**/*

RzBreakpoint:
  - librz/bp/**/*

RzConfig:
  - librz/config/**/*

RzCons:
  - librz/cons/**/*

RzCore:
  - librz/core/**/*

RzCrypto:
  - librz/crypto/**/*

RzDebug:
  - librz/debug/**/*

RzEgg:
  - librz/egg/**/*

RzFlag:
  - librz/flag/**/*

RzHash:
  - librz/hash/**/*

RzIO:
  - librz/io/**/*

RzLang:
  - librz/lang/**/*

RzMagic:
  - librz/magic/**/*

RzParse:
  - librz/parse/**/*

RReg:
  - librz/reg/**/*

RzSearch:
  - librz/search/**/*

RzSocket:
  - librz/socket/**/*

RzSyscall:
  - librz/syscall/**/*

RzUtil:
  - librz/util/**/*

API:
  - librz/include/**/*

buildsystem:
  - sys/**/*

command:
  - librz/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - librz/analysis/esil*

gdb:
  - shlr/gdb/**/*
  - librz/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

rz_test:
  - binrz/rz_test/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - librz/io/p/io_winkd.c

visual:
  - librz/core/visual.c

panel:
  - librz/core/panels.c

Refactor to replace `sr` and `aei` calls with the API and other improvements
  librz/core/agraph.c
  librz/core/canalysis.c
  librz/core/cfile.c
  librz/core/cio.c
  librz/core/cmd.c
  librz/core/cmd_analysis.c
  librz/core/cmd_open.c
  librz/core/cmd_search.c
  librz/core/disasm.c
Labels: RzCore, command

Refactor to use API in debug commands
  librz/core/cmd_debug.c
  librz/core/cmd_meta.c
  librz/core/cmd_open.c
Labels: RzCore, command

Fix coding style javascript files (prettier)
  librz/bin/mangling/cxx/test.js
  librz/io/p/io_rzpipe-test.js
  librz/lang/p/pipe-node.js
  shlr/rizin-shell-parser/grammar.js
  shlr/rizin-shell-parser/index.js
Labels: RzBin, RzIO, RzLang

Add prettier - js coding style
  .github/workflows/linter.yml
Labels: infrastructure

Update .gitignore for build dirs and subprojects
  .gitignore
Labels: none

Fix coding style javascript files (prettier)
  librz/bin/mangling/cxx/test.js
  librz/io/p/io_rzpipe-test.js
  librz/lang/p/pipe-node.js
  shlr/rizin-shell-parser/grammar.js
  shlr/rizin-shell-parser/index.js
Labels: RzBin, RzIO, RzLang

Add prettier - js coding style
  .github/workflows/linter.yml
Labels: infrastructure

ci: Make sure to test src tarball
  .github/workflows/ci.yml
Labels: infrastructure

Dockerfile: take rizin source code from context
  .github/workflows/ci.yml
  Dockerfile
Labels: infrastructure

Dockerfile: take rizin source code from context (#602)
  .github/workflows/ci.yml
  Dockerfile
Labels: infrastructure

Move mpc to subprojects: keep it in-repo because small (#599)
  shlr/meson.build
  shlr/mpc/mpc.c
  shlr/mpc/mpc.h
  subprojects/mpc/LICENSE.md
  subprojects/mpc/meson.build
  subprojects/mpc/mpc.c
  subprojects/mpc/mpc.h
Labels: none

core/cmd_analysis: extract API for agn/age
  librz/core/agraph.c
  librz/core/cmd_analysis.c
  librz/core/core_private.h
Labels: RzCore, command

core: use esil API instead of aeim/aeim- commands
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/cmd_type.c
  librz/core/disasm.c
  librz/core/panels.c
Labels: RzCore, command, panel

core/cmd_analysis: extract API for agg commands
  librz/core/agraph.c
  librz/core/cmd_analysis.c
  librz/core/core_private.h
Labels: RzCore, command

core: use API instead of cmd ag-
  librz/core/agraph.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/core_private.h
Labels: RzCore, command

core/cmd_analysis: refactor aeim commands
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/core_private.h
Labels: RzCore, command

Move core_agraph functions to core/cagraph.c
  librz/core/agraph.c
  librz/core/cagraph.c
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/meson.build
Labels: RzCore, command

Do not add extra newline
  librz/core/cagraph.c
Labels: RzCore

Fix mem leak of b
  librz/core/cagraph.c
Labels: RzCore

Pass 1 to `rz_core_seek_opcode` on a case in agraph.c
  librz/core/agraph.c
Labels: RzCore

Update .gitignore for build dirs and subprojects (#608)
  .gitignore
Labels: none

CI: Make sure to test src tarball (#600)
  .github/workflows/ci.yml
Labels: infrastructure

Make Tests use x86.as only on x86 Host
  test/db/archos/linux-x64/asm_x64_as
  test/db/cmd/cmd_pa
  test/db/esil/x86_32
  test/db/tools/rz_asm
Labels: rz_test

Remove broken comments
  test/db/archos/linux-x64/asm_x64_as
Labels: rz_test

Add function declaration/definition finder to DEVELOPERS.md
  DEVELOPERS.md
Labels: none

Refactor to replace `sr` and `aei` calls with the API ##refactor
  librz/core/agraph.c
  librz/core/canalysis.c
  librz/core/cfile.c
  librz/core/cio.c
  librz/core/cmd.c
  librz/core/cmd_analysis.c
  librz/core/cmd_search.c
  librz/core/disasm.c
Labels: RzCore, command

Add function declaration/definition finder to DEVELOPERS.md (#620)
  DEVELOPERS.md
Labels: none

Add filter step for linter.yml
  .github/workflows/linter.yml
Labels: infrastructure

Add filter step for ci.yml
  .github/workflows/ci.yml
Labels: infrastructure

Add filter step for appveyor.yml
  .appveyor.yml
Labels: infrastructure

Add filter step for tcc.yml
  .github/workflows/tcc.yml
Labels: infrastructure

Add filter step for code-scanning.yml
  .github/workflows/code-analysis.yml
Labels: infrastructure

Add filter step for tcc.yml
  .github/workflows/tcc.yml
Labels: infrastructure

Add filter step for appveyor.yml
  .appveyor.yml
Labels: infrastructure

Add filter step for linter.yml
  .github/workflows/linter.yml
Labels: infrastructure

Add filter step for ci.yml
  .github/workflows/ci.yml
Labels: infrastructure

Add filter step for code-scanning.yml
  .github/workflows/code-analysis.yml
Labels: infrastructure

Fix pending required test ci.yml
  .github/workflows/ci.yml
Labels: infrastructure

Fix no git repository on master (CI)
  .github/workflows/code-analysis.yml
  .github/workflows/linter.yml
Labels: infrastructure

aae: Realign on fcn start if not in bb
  librz/core/canalysis.c
  test/db/analysis/x86_32
Labels: RzCore, rz_test
