Repository rizinorg/rizin, changes with the labels that .github/labeler.yml gives for each.
All labels: rizin, rz_bin, rz_diff, rz_find, rz_gg, rz_hash, rz_run, rz_asm, rz_ax, RzAnalysis, RzAsm-Assembler, RzAsm-Disassembler, RzBin, RzBreakpoint, RzConfig, RzCons, RzCore, RzCrypto, RzDebug, RzEgg, RzFlag, RzHash, RzIO, RzLang, RzMagic, RzParse, RReg, RzSearch, RzSocket, RzSyscall, RzUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, rz_test, java, WinDbg, visual, panel

Refactor to use API in visual modes
  librz/core/analysis_objc.c
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/core_private.h
  librz/core/panels.c
  librz/core/vasm.c
  librz/include/rz_core.h
Labels: RzCore, API, command, panel

aae: Realign on fcn start if not in bb (#622)
  librz/core/canalysis.c
  test/db/analysis/x86_32
Labels: RzCore, rz_test

Refactor to use API in print commands
  librz/core/cmd_meta.c
  librz/core/cmd_print.c
  librz/core/core_private.h
Labels: RzCore, command

Refactor to use API in print commands
  librz/core/cmd_meta.c
  librz/core/cmd_print.c
  librz/core/core_private.h
Labels: RzCore, command

aae: Realign on bb start if not in bb
  librz/core/canalysis.c
Labels: RzCore

aae: Realign on bb start if not in bb (#634)
  librz/core/canalysis.c
Labels: RzCore

core: replace agg command calls with API
  librz/core/agraph.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/core.c
Labels: RzCore, command

core: extract common API to print graphs in different fmts ##breaking
  librz/core/cagraph.c
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/core_private.h
  test/db/cmd/cmd_ag
  test/db/cmd/cmd_agC
Labels: RzCore, command, rz_test

core: move agf to cagraph
  librz/core/agraph.c
  librz/core/cagraph.c
  librz/core/cmd_analysis.c
  librz/core/core_private.h
  shlr/rizin-shell-parser/grammar.js
  shlr/rizin-shell-parser/src/grammar.json
  shlr/rizin-shell-parser/src/parser.c
Labels: RzCore, command

core: use cagraph API instead of relying on 'agf' commands
  librz/core/cmd_analysis.c
Labels: RzCore, command

Fix style
  librz/core/cagraph.c
Labels: RzCore

Move rz_core_agraph_print_write to cagraph.c
  librz/core/cagraph.c
  librz/core/cmd_analysis.c
Labels: RzCore, command

Revert "aae: Realign on bb start if not in bb (#634)"
  librz/core/canalysis.c
Labels: RzCore

core: move aeg to cagraph API
  librz/core/cagraph.c
  librz/core/cmd_analysis.c
  librz/core/core_private.h
Labels: RzCore, command

Refactor to use API in various commands
  librz/core/canalysis.c
  librz/core/cconfig.c
  librz/core/cdebug.c
  librz/core/cio.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/core_private.h
  librz/core/p/core_java.c
  librz/core/panels.c
Labels: RzCore, command, panel

core: call rz_core_agraph_print_* instead of 'agg' commands
  librz/core/agraph.c
  librz/core/cagraph.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/core_private.h
Labels: RzCore, command

Refactor to use API in various commands
  librz/core/canalysis.c
  librz/core/cconfig.c
  librz/core/cdebug.c
  librz/core/cio.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/core_private.h
  librz/core/p/core_java.c
  librz/core/panels.c
Labels: RzCore, command, panel

Remove an old, unused help for the command `pi`
  librz/core/cmd_print.c
Labels: RzCore, command

Refactor to use API in file open commands
  librz/core/cfile.c
  librz/core/cmd_open.c
  librz/core/core_private.h
  librz/core/panels.c
Labels: RzCore, command, panel

core: extract API for afv commands
  librz/analysis/var.c
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/core_private.h
  librz/core/disasm.c
  test/db/analysis/x86_64
  test/db/cmd/cmd_afvd
Labels: RzAnalysis, RzCore, command, rz_test

Add test for bb overlapping fcn start
  test/db/analysis/x86_64
Labels: rz_test

Fix afvd tests
  test/db/analysis/x86_64
  test/db/cmd/cmd_afvd
Labels: rz_test

Run tests on test changes
  .github/workflows/ci.yml
Labels: infrastructure

Add test/ to whitelist in .appveyor.yml and tcc.yml
  .appveyor.yml
  .github/workflows/tcc.yml
Labels: infrastructure

Refactor to use API in file open commands
  librz/core/cfile.c
  librz/core/cmd_open.c
  librz/core/core_private.h
  librz/core/panels.c
Labels: RzCore, command, panel

Add test for bb overlapping fcn start (#643)
  .appveyor.yml
  .github/workflows/ci.yml
  .github/workflows/tcc.yml
  test/db/analysis/x86_64
Labels: infrastructure, rz_test

Extract API for `agg` and `afv`. (#642)
  librz/analysis/var.c
  librz/core/agraph.c
  librz/core/cagraph.c
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/core_private.h
  librz/core/disasm.c
  test/db/analysis/x86_64
Labels: RzAnalysis, RzCore, command, rz_test

Add test for aae when non-fcn-start bb is first
  test/db/analysis/x86_32
Labels: rz_test

core: use rz_core_analysis_esil_step_over API in cmd_analysis
  librz/core/cmd_analysis.c
Labels: RzCore, command

core: extract API for k and use it
  librz/core/cmd.c
  librz/core/cmd_analysis.c
  librz/core/cmd_zign.c
  librz/core/core_private.h
Labels: RzCore, command

core: other simple rz_core_cmd0 removals
  librz/core/cmd_analysis.c
Labels: RzCore, command

core: extract API for aeso commands
  librz/core/canalysis.c
  librz/core/cdebug.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/core_private.h
  librz/core/panels.c
Labels: RzCore, command, panel

core: extract API for afs commands
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/core_private.h
  librz/core/vmenus.c
Labels: RzCore, command

Extract APIs for k, aeso, afs (#644)
  librz/core/canalysis.c
  librz/core/cdebug.c
  librz/core/cmd.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/cmd_zign.c
  librz/core/core_private.h
  librz/core/panels.c
  librz/core/vmenus.c
Labels: RzCore, command, panel

Revert "aae: Realign on bb start if not in bb (#634)" (#639)
  librz/core/canalysis.c
Labels: RzCore

Refactor to use API in analysis
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/core_private.h
Labels: RzCore, command

Refactor to use API in analysis (#647)
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/core_private.h
Labels: RzCore, command

aae: Realign on bb start if not in bb
  librz/core/canalysis.c
Labels: RzCore

Add test for aae when non-fcn-start bb is first
  test/db/analysis/x86_32
Labels: rz_test

Make Tests use x86.as only on x86 Host (#618)
  test/db/archos/linux-x64/asm_x64_as
  test/db/cmd/cmd_pa
  test/db/esil/x86_32
  test/db/tools/rz_asm
Labels: rz_test

.github/labeler.yml:

rizin:
  - binrz/rizin/*
  - librz/main/rizin.c

rz_bin:
  - binrz/rz_bin/*
  - librz/main/rz_bin.c

rz_diff:
  - binrz/rz_diff/*
  - librz/main/rz_diff.c

rz_find:
  - binrz/rz_find/*
  - librz/main/rz_find.c

rz_gg:
  - binrz/rz_gg/*
  - librz/main/rz_gg.c

rz_hash:
  - binrz/rz_hash/*
  - librz/main/rz_hash.c

rz_run:
  - binrz/rz_run/*
  - librz/main/rz_run.c

rz_asm:
  - binrz/rz_asm/*
  - librz/main/rz_asm.c

rz_ax:
  - binrz/rz_ax/*
  - librz/main/rz_ax.c

RzAnalysis:
  - librz/analysis/**/*

RzAsm-Assembler:
  - librz/asm/**/*ass*
  - librz/asm/asm_x86_nz.c

RzAsm-Disassembler:
  - librz/asm/**/*dis*

RzBin:
  - librz/bin/**/*

RzBreakpoint:
  - librz/bp/**/*

RzConfig:
  - librz/config/**/*

RzCons:
  - librz/cons/**/*

RzCore:
  - librz/core/**/*

RzCrypto:
  - librz/crypto/**/*

RzDebug:
  - librz/debug/**/*

RzEgg:
  - librz/egg/**/*

RzFlag:
  - librz/flag/**/*

RzHash:
  - librz/hash/**/*

RzIO:
  - librz/io/**/*

RzLang:
  - librz/lang/**/*

RzMagic:
  - librz/magic/**/*

RzParse:
  - librz/parse/**/*

RReg:
  - librz/reg/**/*

RzSearch:
  - librz/search/**/*

RzSocket:
  - librz/socket/**/*

RzSyscall:
  - librz/syscall/**/*

RzUtil:
  - librz/util/**/*

API:
  - librz/include/**/*

buildsystem:
  - sys/**/*

command:
  - librz/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - librz/analysis/esil*

gdb:
  - shlr/gdb/**/*
  - librz/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

rz_test:
  - binrz/rz_test/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - librz/io/p/io_winkd.c

visual:
  - librz/core/visual.c

panel:
  - librz/core/panels.c
