Repository rizinorg/rizin, changes with the labels that .github/labeler.yml gives for each.
All labels: rizin, rz_bin, rz_diff, rz_find, rz_gg, rz_hash, rz_run, rz_asm, rz_ax, RzAnalysis, RzAsm-Assembler, RzAsm-Disassembler, RzBin, RzBreakpoint, RzConfig, RzCons, RzCore, RzCrypto, RzDebug, RzEgg, RzFlag, RzHash, RzIO, RzLang, RzMagic, RzParse, RReg, RzSearch, RzSocket, RzSyscall, RzUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, rz_test, java, WinDbg, visual, panel

Speedup tests REMOVE ME
  .github/workflows/ci.yml
Labels: infrastructure

Use tmate REMOVE ME
  .github/workflows/ci.yml
Labels: infrastructure

Consider DESTDIR in macos_sign.sh during install script
  binrz/rizin/macos_sign.sh
  binrz/rizin/meson.build
Labels: rizin

Fix for clang-format parsing error
  librz/asm/arch/tms320/c55x/table.h
  librz/asm/arch/tms320/tms320_dasm.c
Labels: none

Workaround a multiline comment clang-format bug
  librz/debug/p/debug_native.c
Labels: RzDebug

Use spaces for some alignment
  .clang-format
Labels: none

Add clang-format script
  sys/clang-format.py
Labels: buildsystem

Dont align escaped newlines
  .clang-format
Labels: none

Align consecutive macros for clang-format
  .clang-format
Labels: none

Fix foreach macroses
  .clang-format
Labels: none

Temporary workaround for clang-format #46240 bug
  binrz/rz-test/rz_test.h
Labels: none

Fix cmd_descs_generate.py for clang-format
  librz/core/cmd_descs_generate.py
Labels: RzCore, command

No more space before function call parentheses
  .clang-format
Labels: none

Remove unnecessary code style test
  test/db/tools/rz
Labels: rz_test

Extend warning when debug on macOS fails
  librz/io/p/io_mach.c
Labels: RzIO

Fix -Wmaybe-uninitialized warnings
  librz/analysis/rtti_msvc.c
  librz/core/agraph.c
  librz/core/cmd_open.c
  librz/core/task.c
Labels: RzAnalysis, RzCore, command

Add fix by clang-format
  librz/asm/arch/hexagon/hexagon_disas.c
Labels: RzAsm-Disassembler

clang-format-diff.py invocation: Change master to dev and remove unneeded my-branch
  sys/clang-format-diff.py
Labels: buildsystem

Fix -Wmaybe-uninitialized warnings
  librz/analysis/rtti_msvc.c
  librz/core/agraph.c
  librz/core/cmd_open.c
  librz/core/task.c
Labels: RzAnalysis, RzCore, command

Remove obsolete indent scripts
  sys/clang-analyzer.sh
  sys/indent-whitelist.sh
  sys/indent.sh
Labels: buildsystem

Fix #394 - convert old Debian to Meson/Ninja
  .github/workflows/ci.yml
Labels: infrastructure

Allow ptrace for Alpine static build
  .github/workflows/ci.yml
Labels: infrastructure

Re-order dependencies between modules
  librz/analysis/meson.build
  librz/asm/meson.build
  librz/bin/meson.build
  librz/core/meson.build
  librz/crypto/meson.build
  librz/debug/meson.build
  librz/egg/meson.build
  librz/io/meson.build
  librz/parse/meson.build
  librz/util/meson.build
  shlr/gdb/meson.build
  shlr/meson.build
  shlr/qnx/src/libqnxr.c
Labels: RzAnalysis, RzBin, RzCore, RzCrypto, RzDebug, RzEgg, RzIO, RzParse, RzUtil, gdb

Enable releases for stable branch
  .github/workflows/ci.yml
Labels: infrastructure

Consider DESTDIR in macos_sign.sh during install script
  binrz/rizin/macos_sign.sh
  binrz/rizin/meson.build
Labels: rizin

Fix rzpipe egg name
  .github/workflows/ci.yml
Labels: infrastructure

Consider DESTDIR in macos_sign.sh during install script
  binrz/rizin/macos_sign.sh
  binrz/rizin/meson.build
Labels: rizin

Fix #394 - convert old Debian to Meson/Ninja
  .github/workflows/ci.yml
Labels: infrastructure

Re-order dependencies between modules
  librz/analysis/meson.build
  librz/asm/meson.build
  librz/bin/meson.build
  librz/core/meson.build
  librz/crypto/meson.build
  librz/debug/meson.build
  librz/egg/meson.build
  librz/io/meson.build
  librz/parse/meson.build
  librz/util/meson.build
  shlr/gdb/meson.build
  shlr/meson.build
  shlr/qnx/src/libqnxr.c
Labels: RzAnalysis, RzBin, RzCore, RzCrypto, RzDebug, RzEgg, RzIO, RzParse, RzUtil, gdb

Fix rzpipe egg name
  .github/workflows/ci.yml
Labels: infrastructure

Allow ptrace for Alpine static build
  .github/workflows/ci.yml
Labels: infrastructure

Enable releases for stable branch
  .github/workflows/ci.yml
Labels: infrastructure

Remove obsolete indent scripts
  sys/clang-analyzer.sh
  sys/indent-whitelist.sh
  sys/indent.sh
Labels: buildsystem

Use full github.ref name
  .github/workflows/ci.yml
Labels: infrastructure

Use full github.ref name
  .github/workflows/ci.yml
Labels: infrastructure

Fix typo: heads not head
  .github/workflows/ci.yml
Labels: infrastructure

Fix typo: heads not head
  .github/workflows/ci.yml
Labels: infrastructure

Use RzStrBuf for RzAnalysisEsil::current_opstr
  librz/analysis/esil.c
  librz/analysis/esil_dfg.c
  librz/include/rz_analysis.h
Labels: RzAnalysis, API, ESIL

Fix -Wmaybe-uninitialized warnings (#423)
  librz/analysis/rtti_msvc.c
  librz/core/agraph.c
  librz/core/cmd_open.c
  librz/core/task.c
Labels: RzAnalysis, RzCore, command

RzTable: replace UT64MAX with dashes for X specifier
  librz/core/cbin.c
  librz/util/table.c
  test/db/cmd/cmd_i
  test/db/formats/ar
  test/db/formats/coff
  test/db/formats/dex
  test/db/formats/elf/elf-riscv64
  test/db/formats/elf/symbols
  test/db/formats/le
  test/db/formats/mach0/fatmach0
  test/db/formats/mach0/mach0
  test/db/formats/mdmp
  test/db/formats/ne
  test/db/formats/omf
  test/db/formats/xbe
Labels: RzCore, RzUtil, rz_test

.github/labeler.yml:

rizin:
  - binrz/rizin/*
  - librz/main/rizin.c

rz_bin:
  - binrz/rz_bin/*
  - librz/main/rz_bin.c

rz_diff:
  - binrz/rz_diff/*
  - librz/main/rz_diff.c

rz_find:
  - binrz/rz_find/*
  - librz/main/rz_find.c

rz_gg:
  - binrz/rz_gg/*
  - librz/main/rz_gg.c

rz_hash:
  - binrz/rz_hash/*
  - librz/main/rz_hash.c

rz_run:
  - binrz/rz_run/*
  - librz/main/rz_run.c

rz_asm:
  - binrz/rz_asm/*
  - librz/main/rz_asm.c

rz_ax:
  - binrz/rz_ax/*
  - librz/main/rz_ax.c

RzAnalysis:
  - librz/analysis/**/*

RzAsm-Assembler:
  - librz/asm/**/*ass*
  - librz/asm/asm_x86_nz.c

RzAsm-Disassembler:
  - librz/asm/**/*dis*

RzBin:
  - librz/bin/**/*

RzBreakpoint:
  - librz/bp/**/*

RzConfig:
  - librz/config/**/*

RzCons:
  - librz/cons/**/*

RzCore:
  - librz/core/**/*

RzCrypto:
  - librz/crypto/**/*

RzDebug:
  - librz/debug/**/*

RzEgg:
  - librz/egg/**/*

RzFlag:
  - librz/flag/**/*

RzHash:
  - librz/hash/**/*

RzIO:
  - librz/io/**/*

RzLang:
  - librz/lang/**/*

RzMagic:
  - librz/magic/**/*

RzParse:
  - librz/parse/**/*

RReg:
  - librz/reg/**/*

RzSearch:
  - librz/search/**/*

RzSocket:
  - librz/socket/**/*

RzSyscall:
  - librz/syscall/**/*

RzUtil:
  - librz/util/**/*

API:
  - librz/include/**/*

buildsystem:
  - sys/**/*

command:
  - librz/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - librz/analysis/esil*

gdb:
  - shlr/gdb/**/*
  - librz/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

rz_test:
  - binrz/rz_test/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - librz/io/p/io_winkd.c

visual:
  - librz/core/visual.c

panel:
  - librz/core/panels.c
