Repository rizinorg/rizin, changes with the labels that .github/labeler.yml gives for each.
All labels: rizin, rz_bin, rz_diff, rz_find, rz_gg, rz_hash, rz_run, rz_asm, rz_ax, RzAnalysis, RzAsm-Assembler, RzAsm-Disassembler, RzBin, RzBreakpoint, RzConfig, RzCons, RzCore, RzCrypto, RzDebug, RzEgg, RzFlag, RzHash, RzIO, RzLang, RzMagic, RzParse, RReg, RzSearch, RzSocket, RzSyscall, RzUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, rz_test, java, WinDbg, visual, panel

Move rz_str_get/get2 into rz_str.h
  librz/core/cmd_eval.c
  librz/include/rz_util/rz_str.h
  librz/util/str.c
Labels: RzCore, RzUtil, API, command

Move Serialization Helpers to Global API
  librz/analysis/serialize_analysis.c
  librz/core/project.c
  librz/core/serialize_core.c
  librz/flag/serialize_flag.c
  librz/include/rz_util/rz_serialize.h
  librz/io/serialize_io.c
  librz/util/serialize_helper.h
  librz/util/serialize_spaces.c
Labels: RzAnalysis, RzCore, RzFlag, RzIO, RzUtil, API

Remove some spaces between func name and opening parenthesis
  librz/core/cbin.c
  librz/core/cmd_open.c
Labels: RzCore, command

Rename rz_str_get to rz_str_get_null
  librz/analysis/esil.c
  librz/analysis/p/analysis_arm_cs.c
  librz/asm/asm.c
  librz/core/canalysis.c
  librz/core/cbin.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/cmd_eval.c
  librz/core/disasm.c
  librz/debug/p/native/xnu/xnu_debug.h
  librz/include/rz_util/rz_str.h
  librz/main/rz_diff.c
Labels: rz_diff, RzAnalysis, RzCore, RzDebug, API, command, ESIL

Rename rz_str_get2 to rz_str_get
  librz/bp/bp.c
  librz/core/cbin.c
  librz/core/cmd_debug.c
  librz/core/cmd_open.c
  librz/core/vmenus.c
  librz/include/rz_util/rz_str.h
Labels: RzBreakpoint, RzCore, API, command

Switch places of rz_str_get and rz_str_get_null
  librz/include/rz_util/rz_str.h
Labels: API

Rename rz_str_null to rz_str_empty
  librz/include/rz_util/rz_str.h
  librz/util/str.c
Labels: RzUtil, API

Rename rz_str_null_c to rz_str_null
  librz/include/rz_util/rz_str.h
Labels: API

Apply rz_str_get_null in more places
  librz/bin/format/mach0/dyldcache.c
  librz/bin/format/objc/mach0_classes.c
Labels: RzBin

Make Varnames explicit in RZ_SERIALIZE_ Macros
  librz/analysis/serialize_analysis.c
  librz/core/project.c
  librz/core/serialize_core.c
  librz/flag/serialize_flag.c
  librz/include/rz_util/rz_serialize.h
  librz/io/serialize_io.c
  librz/util/serialize_spaces.c
Labels: RzAnalysis, RzCore, RzFlag, RzIO, RzUtil, API

Refactor to replace `ecr` and `dc` with the API globally ##refactor
  librz/core/agraph.c
  librz/core/cconfig.c
  librz/core/panels.c
  librz/core/visual.c
Labels: RzCore, visual, panel

Include in agraph.c
  librz/core/agraph.c
Labels: RzCore

Initall attempt to convert `q` command to newshell
  librz/core/cmd_descs.c
  librz/core/cmd_descs.h
  librz/core/cmd_descs.yaml
  librz/core/cmd_quit.c
Labels: RzCore, command

Added gdbserver tests ##test
  test/db/archos/linux-x64/dbg_gdbserver
  test/db/archos/linux-x64/dbg_gdbserver_rebase
Labels: rz_test

Added gdbserver.py wrapper script to execute gdbsrv as a background task ##test
  test/scripts/gdbserver.py
Labels: rz_test

Replaced the connection test with a continue test to avoid disrupting other tests
  test/db/archos/linux-x64/dbg_gdbserver
Labels: rz_test

Install gdbserver in ubuntu test runner CI targets
  .github/workflows/ci.yml
  test/db/archos/linux-x64/dbg_gdbserver
Labels: infrastructure, rz_test

Add gdbserver tests ##test (#502)
  .github/workflows/ci.yml
  test/db/archos/linux-x64/dbg_gdbserver
  test/db/archos/linux-x64/dbg_gdbserver_rebase
  test/scripts/gdbserver.py
Labels: infrastructure, rz_test

Move Serialization Helpers to Global API (#522)
  librz/analysis/serialize_analysis.c
  librz/core/project.c
  librz/core/serialize_core.c
  librz/flag/serialize_flag.c
  librz/include/rz_util/rz_serialize.h
  librz/io/serialize_io.c
  librz/util/serialize_helper.h
  librz/util/serialize_spaces.c
Labels: RzAnalysis, RzCore, RzFlag, RzIO, RzUtil, API

Inline rz_str_empty and rz_str_null
  librz/include/rz_util/rz_str.h
  librz/util/str.c
Labels: RzUtil, API

Move rz_str_get/get2 into rz_str.h and rename them to rz_str_get_null/get (#521)
  librz/analysis/esil.c
  librz/analysis/p/analysis_arm_cs.c
  librz/asm/asm.c
  librz/bin/format/mach0/dyldcache.c
  librz/bin/format/objc/mach0_classes.c
  librz/bp/bp.c
  librz/core/canalysis.c
  librz/core/cbin.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/cmd_eval.c
  librz/core/cmd_open.c
  librz/core/disasm.c
  librz/core/vmenus.c
  librz/debug/p/native/xnu/xnu_debug.h
  librz/include/rz_util/rz_str.h
  librz/main/rz_diff.c
  librz/util/str.c
Labels: rz_diff, RzAnalysis, RzBin, RzBreakpoint, RzCore, RzDebug, RzUtil, API, command, ESIL

Fix memleak in fcn_recurse()
  librz/analysis/fcn.c
Labels: RzAnalysis

Move definition
  librz/analysis/fcn.c
Labels: RzAnalysis

Fix memleak in cmd_analysis_aaft()
  librz/core/cmd_analysis.c
Labels: RzCore, command

Refactor to replace `ecr` and `dc` with the API, globally ##refactor (#523)
  librz/core/agraph.c
  librz/core/cconfig.c
  librz/core/panels.c
  librz/core/visual.c
Labels: RzCore, visual, panel

syscall.c: Redo openDatabase and rename it to load_sdb
  librz/syscall/syscall.c
Labels: RzSyscall

Try to fix FreeBSD
  librz/syscall/syscall.c
Labels: RzSyscall

Fix memleak in rz_config_set_i()
  librz/config/config.c
Labels: RzConfig

Add a delay before exiting in the gdbserver wrapper
  test/scripts/gdbserver.py
Labels: rz_test

Retry gdbr read_packet if socket_read fails
  shlr/gdb/src/packet.c
Labels: gdb

Fix memleak in cmd_analysis_aaft() (#528)
  librz/core/cmd_analysis.c
Labels: RzCore, command

syscall.c: Redo openDatabase and rename it to load_sdb (#532)
  librz/syscall/syscall.c
Labels: RzSyscall

Update sdb subproject
  subprojects/sdb.wrap
Labels: none

Fix dead assignment librz/core/cmd_cmp.c
  librz/core/cmd_cmp.c
Labels: RzCore, command

Fix dead assignment librz/core/cmd_debug.c
  librz/core/cmd_debug.c
Labels: RzCore, command

Fix dead assignment librz/core/cmd_open.c
  librz/core/cmd_open.c
Labels: RzCore, command

Fix dead assignment librz/core/cmd_info.c
  librz/core/cmd_info.c
Labels: RzCore, command

Fix dead assignment librz/core/disasm.c
  librz/core/disasm.c
Labels: RzCore

Fix dead assignment librz/core/core.c
  librz/core/core.c
Labels: RzCore

Fix dead assignment librz/core/panels.c
  librz/core/panels.c
Labels: RzCore, panel

.github/labeler.yml:

rizin:
  - binrz/rizin/*
  - librz/main/rizin.c

rz_bin:
  - binrz/rz_bin/*
  - librz/main/rz_bin.c

rz_diff:
  - binrz/rz_diff/*
  - librz/main/rz_diff.c

rz_find:
  - binrz/rz_find/*
  - librz/main/rz_find.c

rz_gg:
  - binrz/rz_gg/*
  - librz/main/rz_gg.c

rz_hash:
  - binrz/rz_hash/*
  - librz/main/rz_hash.c

rz_run:
  - binrz/rz_run/*
  - librz/main/rz_run.c

rz_asm:
  - binrz/rz_asm/*
  - librz/main/rz_asm.c

rz_ax:
  - binrz/rz_ax/*
  - librz/main/rz_ax.c

RzAnalysis:
  - librz/analysis/**/*

RzAsm-Assembler:
  - librz/asm/**/*ass*
  - librz/asm/asm_x86_nz.c

RzAsm-Disassembler:
  - librz/asm/**/*dis*

RzBin:
  - librz/bin/**/*

RzBreakpoint:
  - librz/bp/**/*

RzConfig:
  - librz/config/**/*

RzCons:
  - librz/cons/**/*

RzCore:
  - librz/core/**/*

RzCrypto:
  - librz/crypto/**/*

RzDebug:
  - librz/debug/**/*

RzEgg:
  - librz/egg/**/*

RzFlag:
  - librz/flag/**/*

RzHash:
  - librz/hash/**/*

RzIO:
  - librz/io/**/*

RzLang:
  - librz/lang/**/*

RzMagic:
  - librz/magic/**/*

RzParse:
  - librz/parse/**/*

RReg:
  - librz/reg/**/*

RzSearch:
  - librz/search/**/*

RzSocket:
  - librz/socket/**/*

RzSyscall:
  - librz/syscall/**/*

RzUtil:
  - librz/util/**/*

API:
  - librz/include/**/*

buildsystem:
  - sys/**/*

command:
  - librz/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - librz/analysis/esil*

gdb:
  - shlr/gdb/**/*
  - librz/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

rz_test:
  - binrz/rz_test/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - librz/io/p/io_winkd.c

visual:
  - librz/core/visual.c

panel:
  - librz/core/panels.c
