Repository rizinorg/rizin, changes with the labels that .github/labeler.yml gives for each.
All labels: rizin, rz_bin, rz_diff, rz_find, rz_gg, rz_hash, rz_run, rz_asm, rz_ax, RzAnalysis, RzAsm-Assembler, RzAsm-Disassembler, RzBin, RzBreakpoint, RzConfig, RzCons, RzCore, RzCrypto, RzDebug, RzEgg, RzFlag, RzHash, RzIO, RzLang, RzMagic, RzParse, RReg, RzSearch, RzSocket, RzSyscall, RzUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, rz_test, java, WinDbg, visual, panel

Use HtUP for storing cache of class methods (#457)
  librz/bin/bobj.c
  librz/core/canalysis.c
  librz/include/rz_bin.h
Labels: RzBin, RzCore, API

Fix code style in esil_interrupts.c
  librz/analysis/esil_interrupt.c
Labels: RzAnalysis, ESIL

Update DEVELOPERS.md
  DEVELOPERS.md
Labels: none

Update DEVELOPERS.md
  DEVELOPERS.md
Labels: none

Update DEVELOPERS.md (#462)
  DEVELOPERS.md
Labels: none

Fix code style in esil_interrupts.c (#461)
  librz/analysis/esil_interrupt.c
Labels: RzAnalysis, ESIL

Fix signature in JSON mode in MachO and check for NULL signature
  librz/bin/p/bin_mach0.c
  librz/bin/p/bin_qnx.c
  librz/core/cbin.c
Labels: RzBin, RzCore

Fix "‘%s’ directive argument is null" warnings
  librz/asm/arch/tms320/c55x_plus/c55plus_decode.c
  librz/core/cmd_eval.c
  librz/egg/egg_lang.c
Labels: RzCore, RzEgg, command

Fix "‘%s’ directive argument is null" warnings
  librz/asm/arch/tms320/c55x_plus/c55plus_decode.c
  librz/core/cmd_eval.c
  librz/egg/egg_lang.c
Labels: RzCore, RzEgg, command

Change version string printed on -v command flag
  doc/PACKAGERS.md
  librz/core/cmd_help.c
  librz/include/rz_version.h.in
  librz/util/str.c
  meson.build
  meson_options.txt
Labels: RzCore, RzUtil, API, command, documentation

Fix signature in JSON mode in MachO and check for NULL signature (#463)
  librz/bin/p/bin_mach0.c
  librz/bin/p/bin_qnx.c
  librz/core/cbin.c
Labels: RzBin, RzCore

Extend warning when debug on macOS fails
  librz/io/p/io_mach.c
Labels: RzIO

Merge pull request #422 from rizinorg/shorter-clang-format-diff-invocation
  sys/clang-format-diff.py
Labels: buildsystem

Fix crash with `el` without args (#434)
  librz/core/cmd_eval.c
Labels: RzCore, command

Fix crash with `es` without args (#436)
  librz/core/cmd_eval.c
Labels: RzCore, command

Prevent FD_ZERO formatting from mangling by clang-format (#437)
  librz/include/sflib/common/sftypes.h
Labels: API

Fix memleaks in ESIL op handlers (#438)
  librz/analysis/esil.c
Labels: RzAnalysis, ESIL

Meson: Escape paths on Windows (#444)
  meson.build
Labels: none

Remove sys/clang-format-diff.py (#442)
  DEVELOPERS.md
  sys/clang-format-diff.py
Labels: buildsystem

Update DEVELOPERS.md due to use of clang-format (#445)
  DEVELOPERS.md
Labels: none

COFF: handle empty sections (#447)
  librz/bin/format/coff/coff.c
Labels: RzBin

COFF: set zero size for label-symbols (#448)
  librz/bin/p/bin_coff.c
Labels: RzBin

#include <errno.h> explicitly in rz_types.h (#452)
  librz/include/rz_types.h
Labels: API

Update DEVELOPERS.md (#462)
  DEVELOPERS.md
Labels: none

Fix signature in JSON mode in MachO and check for NULL signature (#463)
  librz/bin/p/bin_mach0.c
  librz/bin/p/bin_qnx.c
  librz/core/cbin.c
Labels: RzBin, RzCore

Replace SDB with HtPP in esil_dfg.c
  librz/analysis/esil_dfg.c
  librz/include/rz_analysis.h
Labels: RzAnalysis, API, ESIL

Fix dead nested assignment librz/analysis/reflines.c
  librz/analysis/reflines.c
Labels: RzAnalysis

Fix dead nested assignment librz/asm/arch/arc/gnu/arcompact-dis.c
  librz/asm/arch/arc/gnu/arcompact-dis.c
Labels: RzAsm-Disassembler

Fix dead nested assignment librz/asm/arch/gb/gbasm.c
  librz/asm/arch/gb/gbasm.c
Labels: none

Fix dead nested assignment librz/asm/asm.c
  librz/asm/asm.c
Labels: none

Update bug_report github template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

Add git wrapper to work with old git as well
  meson.build
  shlr/meson.build
  sys/meson_git_wrapper.py
Labels: buildsystem

Fix dead nested assignment librz/analysis/reflines.c
  librz/analysis/reflines.c
Labels: RzAnalysis

Fix dead nested assignment librz/asm/arch/gb/gbasm.c
  librz/asm/arch/gb/gbasm.c
Labels: none

Fix dead nested assignment librz/asm/asm.c
  librz/asm/asm.c
Labels: none

Fix dead nested assignment librz/asm/arch/arc/gnu/arcompact-dis.c
  librz/asm/arch/arc/gnu/arcompact-dis.c
Labels: RzAsm-Disassembler

Fixes for jump table ##analysis
  librz/analysis/block.c
  librz/analysis/fcn.c
  librz/analysis/jmptbl.c
  librz/include/rz_analysis.h
  test/db/analysis/path
  test/db/analysis/x86_32
  test/db/analysis/x86_64
  test/db/cmd/cmd_ab
  test/db/cmd/cmd_af
  test/db/cmd/cmd_zignature
Labels: RzAnalysis, API, rz_test

Refactor to use API in Visual mode
  librz/core/Makefile
  librz/core/cdebug.c
  librz/core/cmd_debug.c
  librz/core/cmd_eval.c
  librz/core/meson.build
  librz/core/visual.c
  librz/include/rz_core.h
Labels: RzCore, API, command, visual

Fix #39 - Do not initialize registers on initialization
  librz/main/rizin.c
Labels: rizin

Put registers in their own flagspace
  librz/core/cmd_debug.c
  librz/debug/dreg.c
  librz/include/rz_core.h
Labels: RzCore, RzDebug, API, command

.github/labeler.yml:

rizin:
  - binrz/rizin/*
  - librz/main/rizin.c

rz_bin:
  - binrz/rz_bin/*
  - librz/main/rz_bin.c

rz_diff:
  - binrz/rz_diff/*
  - librz/main/rz_diff.c

rz_find:
  - binrz/rz_find/*
  - librz/main/rz_find.c

rz_gg:
  - binrz/rz_gg/*
  - librz/main/rz_gg.c

rz_hash:
  - binrz/rz_hash/*
  - librz/main/rz_hash.c

rz_run:
  - binrz/rz_run/*
  - librz/main/rz_run.c

rz_asm:
  - binrz/rz_asm/*
  - librz/main/rz_asm.c

rz_ax:
  - binrz/rz_ax/*
  - librz/main/rz_ax.c

RzAnalysis:
  - librz/analysis/**/*

RzAsm-Assembler:
  - librz/asm/**/*ass*
  - librz/asm/asm_x86_nz.c

RzAsm-Disassembler:
  - librz/asm/**/*dis*

RzBin:
  - librz/bin/**/*

RzBreakpoint:
  - librz/bp/**/*

RzConfig:
  - librz/config/**/*

RzCons:
  - librz/cons/**/*

RzCore:
  - librz/core/**/*

RzCrypto:
  - librz/crypto/**/*

RzDebug:
  - librz/debug/**/*

RzEgg:
  - librz/egg/**/*

RzFlag:
  - librz/flag/**/*

RzHash:
  - librz/hash/**/*

RzIO:
  - librz/io/**/*

RzLang:
  - librz/lang/**/*

RzMagic:
  - librz/magic/**/*

RzParse:
  - librz/parse/**/*

RReg:
  - librz/reg/**/*

RzSearch:
  - librz/search/**/*

RzSocket:
  - librz/socket/**/*

RzSyscall:
  - librz/syscall/**/*

RzUtil:
  - librz/util/**/*

API:
  - librz/include/**/*

buildsystem:
  - sys/**/*

command:
  - librz/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - librz/analysis/esil*

gdb:
  - shlr/gdb/**/*
  - librz/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

rz_test:
  - binrz/rz_test/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - librz/io/p/io_winkd.c

visual:
  - librz/core/visual.c

panel:
  - librz/core/panels.c
