Repository rizinorg/rizin, changes with the labels that .github/labeler.yml gives for each.
All labels: rizin, rz_bin, rz_diff, rz_find, rz_gg, rz_hash, rz_run, rz_asm, rz_ax, RzAnalysis, RzAsm-Assembler, RzAsm-Disassembler, RzBin, RzBreakpoint, RzConfig, RzCons, RzCore, RzCrypto, RzDebug, RzEgg, RzFlag, RzHash, RzIO, RzLang, RzMagic, RzParse, RReg, RzSearch, RzSocket, RzSyscall, RzUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, rz_test, java, WinDbg, visual, panel

Make rz_cons_rgb_str* take const RzColor *
  librz/cons/rgb.c
  librz/include/rz_cons.h
Labels: RzCons, API

Don't realign if Java
  librz/core/canalysis.c
Labels: RzCore

Make rz_cons_rgb_str* take const RzColor * (#652)
  librz/cons/rgb.c
  librz/include/rz_cons.h
Labels: RzCons, API

Refactor to use RzOutputMode enum for mode
  librz/core/cmd_flag.c
Labels: RzCore, command

Refactor to use API instead of commands in types
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/cmd_type.c
  librz/core/core_private.h
  test/db/cmd/cmd_tcc
Labels: RzCore, command, rz_test

Refactor to use API in visual mode
  librz/core/cmd_flag.c
  librz/core/core_private.h
  librz/core/visual.c
Labels: RzCore, command, visual

Oops "size_t i_old = i" in wrong location
  librz/core/canalysis.c
Labels: RzCore

Revert "Don't realign if Java"
  librz/core/canalysis.c
Labels: RzCore

Refactor to use API in visual mode
  librz/core/cmd_flag.c
  librz/core/core_private.h
  librz/core/visual.c
Labels: RzCore, command, visual

Refactor to use RzOutputMode enum for mode
  librz/core/cmd_flag.c
Labels: RzCore, command

Refactor to use API instead of commands in types
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/cmd_type.c
  librz/core/core_private.h
  test/db/cmd/cmd_tcc
Labels: RzCore, command, rz_test

Remove ab. command, you can already do `ab`
  librz/core/cmd_analysis.c
Labels: RzCore, command

core: extract API for aesp command
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/core_private.h
Labels: RzCore, command

core: remove abb/aab/abr as not tested/used
  librz/core/blaze.c
  librz/core/cmd_analysis.c
  librz/core/core.c
  librz/core/meson.build
  librz/core/panels.c
  librz/include/rz_core.h
Labels: RzCore, API, command, panel

core: use afb API to implement ab/abj
  librz/core/cmd_analysis.c
Labels: RzCore, command

core: refactor afb commands and extract API
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/core_private.h
  librz/core/visual.c
  test/db/cmd/cmd_afb
Labels: RzCore, command, rz_test, visual

core: make sure to sort basic blocks
  librz/core/canalysis.c
  librz/core/cmd.c
  librz/core/cmd_analysis.c
Labels: RzCore, command

Make afbr and afb= accept argument
  librz/core/cmd_analysis.c
  test/db/analysis/x86_64
Labels: RzCore, command, rz_test

core: API for `aesp` and `afb` and remove `abb`,`aab`, `abr`, `ab.` ##breaking (#651)
  librz/core/blaze.c
  librz/core/canalysis.c
  librz/core/cmd.c
  librz/core/cmd_analysis.c
  librz/core/core.c
  librz/core/core_private.h
  librz/core/meson.build
  librz/core/panels.c
  librz/core/visual.c
  librz/include/rz_core.h
  test/db/analysis/x86_64
  test/db/cmd/cmd_afb
Labels: RzCore, API, command, rz_test, visual, panel

Add ELF Section type to `iS` command
  librz/bin/bin.c
  librz/bin/format/elf/elf.c
  librz/bin/format/elf/elf.h
  librz/bin/p/bin_elf.inc
  librz/core/cbin.c
  librz/include/rz_bin.h
Labels: RzBin, RzCore, API

Fix MinGW build for rz_sys
  librz/include/rz_util/rz_sys.h
  librz/util/sys.c
Labels: RzUtil, API

Fix CLOCK_MONOTONIC detection for MinGW
  librz/include/rz_types.h
Labels: API

aae: Realign on bb start if not in bb (#650)
  librz/core/canalysis.c
  test/db/analysis/x86_32
Labels: RzCore, rz_test

Fix MinGW build for rz_sys
  librz/include/rz_util/rz_sys.h
  librz/util/sys.c
Labels: RzUtil, API

Fix CLOCK_MONOTONIC detection for MinGW
  librz/include/rz_types.h
Labels: API

Move 'afb' commands to newshell
  librz/core/cmd_analysis.c
  librz/core/cmd_descs.c
  librz/core/cmd_descs.h
  librz/core/cmd_descs.yaml
  librz/core/core.c
  test/db/analysis/sparc
  test/db/analysis/x86_32
  test/db/cmd/cmd_afb
Labels: RzCore, command, rz_test

Move 'afo' command to newshell
  librz/core/cmd_analysis.c
  librz/core/cmd_descs.c
  librz/core/cmd_descs.h
  librz/core/cmd_descs.yaml
Labels: RzCore, command

Move 'afS' command to newshell
  librz/core/cmd_analysis.c
  librz/core/cmd_descs.c
  librz/core/cmd_descs.h
  librz/core/cmd_descs.yaml
Labels: RzCore, command

Move 'afB' to newshell
  librz/core/cmd_analysis.c
  librz/core/cmd_descs.c
  librz/core/cmd_descs.h
  librz/core/cmd_descs.yaml
Labels: RzCore, command

Move 'afs' commands to newshell
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/cmd_descs.c
  librz/core/cmd_descs.h
  librz/core/cmd_descs.yaml
  librz/core/core_private.h
Labels: RzCore, command

Move 'afu' command to newshell
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/cmd_descs.c
  librz/core/cmd_descs.h
  librz/core/cmd_descs.yaml
  librz/core/core_private.h
Labels: RzCore, command

Move 'afx' to newshell
  librz/core/cmd_analysis.c
  librz/core/cmd_descs.c
  librz/core/cmd_descs.h
  librz/core/cmd_descs.yaml
Labels: RzCore, command

Refactor types: extract API for `ttc` and `tt` ##refactor
  librz/core/cmd.c
  librz/core/cmd_type.c
  librz/include/rz_core.h
Labels: RzCore, API, command

Pass a predifined variable on `tc`
  librz/core/cmd_type.c
Labels: RzCore, command

WIP Update machtraps
  librz/bin/format/xnu/scripts/machtraps.py
Labels: RzBin

Move 'afv' commands to newshell
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/cmd_api.c
  librz/core/cmd_descs.c
  librz/core/cmd_descs.h
  librz/core/cmd_descs.yaml
  librz/core/core_private.h
  librz/include/rz_cmd.h
Labels: RzCore, API, command

Add function variables autocompletion
  librz/core/cautocmpl.c
Labels: RzCore

core/cmd_api: put a NULL at the end of argv
  librz/core/cmd_api.c
Labels: RzCore, command

test: 'afo' does not accept an argument anymore
  test/db/analysis/x86_64
  test/db/formats/elf/main
Labels: rz_test

commands: rename sH to sh
  librz/bin/format/xnu/scripts/machtraps.py
  librz/core/cconfig.c
  librz/core/cio.c
  librz/core/cmd_descs.c
  librz/core/cmd_descs.yaml
  librz/core/visual.c
  test/db/cmd/cmd_pd
  test/db/cmd/cmd_seek
  test/db/cmd/feat_variables
  test/db/cmd/manyundo
  test/db/cmd/undoredo
  test/db/json/json4
  test/db/tools/rz
Labels: RzBin, RzCore, command, rz_test, visual

.github/labeler.yml:

rizin:
  - binrz/rizin/*
  - librz/main/rizin.c

rz_bin:
  - binrz/rz_bin/*
  - librz/main/rz_bin.c

rz_diff:
  - binrz/rz_diff/*
  - librz/main/rz_diff.c

rz_find:
  - binrz/rz_find/*
  - librz/main/rz_find.c

rz_gg:
  - binrz/rz_gg/*
  - librz/main/rz_gg.c

rz_hash:
  - binrz/rz_hash/*
  - librz/main/rz_hash.c

rz_run:
  - binrz/rz_run/*
  - librz/main/rz_run.c

rz_asm:
  - binrz/rz_asm/*
  - librz/main/rz_asm.c

rz_ax:
  - binrz/rz_ax/*
  - librz/main/rz_ax.c

RzAnalysis:
  - librz/analysis/**/*

RzAsm-Assembler:
  - librz/asm/**/*ass*
  - librz/asm/asm_x86_nz.c

RzAsm-Disassembler:
  - librz/asm/**/*dis*

RzBin:
  - librz/bin/**/*

RzBreakpoint:
  - librz/bp/**/*

RzConfig:
  - librz/config/**/*

RzCons:
  - librz/cons/**/*

RzCore:
  - librz/core/**/*

RzCrypto:
  - librz/crypto/**/*

RzDebug:
  - librz/debug/**/*

RzEgg:
  - librz/egg/**/*

RzFlag:
  - librz/flag/**/*

RzHash:
  - librz/hash/**/*

RzIO:
  - librz/io/**/*

RzLang:
  - librz/lang/**/*

RzMagic:
  - librz/magic/**/*

RzParse:
  - librz/parse/**/*

RReg:
  - librz/reg/**/*

RzSearch:
  - librz/search/**/*

RzSocket:
  - librz/socket/**/*

RzSyscall:
  - librz/syscall/**/*

RzUtil:
  - librz/util/**/*

API:
  - librz/include/**/*

buildsystem:
  - sys/**/*

command:
  - librz/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - librz/analysis/esil*

gdb:
  - shlr/gdb/**/*
  - librz/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

rz_test:
  - binrz/rz_test/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - librz/io/p/io_winkd.c

visual:
  - librz/core/visual.c

panel:
  - librz/core/panels.c
