Repository rizinorg/rizin, changes with the labels that .github/labeler.yml gives for each.
All labels: rizin, rz_bin, rz_diff, rz_find, rz_gg, rz_hash, rz_run, rz_asm, rz_ax, RzAnalysis, RzAsm-Assembler, RzAsm-Disassembler, RzBin, RzBreakpoint, RzConfig, RzCons, RzCore, RzCrypto, RzDebug, RzEgg, RzFlag, RzHash, RzIO, RzLang, RzMagic, RzParse, RReg, RzSearch, RzSocket, RzSyscall, RzUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, rz_test, java, WinDbg, visual, panel

Use analysis API for disasm.c
  librz/analysis/var.c
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/disasm.c
  librz/core/visual.c
  librz/include/rz_analysis.h
  librz/include/rz_core.h
Labels: RzAnalysis, RzCore, API, command, visual

Use RzConfig API in Visual mode
  librz/core/visual.c
Labels: RzCore, visual

Use RZ_STR_ISNOTEMPTY vs IS_NULLSTR
  librz/config/config.c
Labels: RzConfig

Use RzConfig API in Panels mode
  librz/core/panels.c
Labels: RzCore, panel

Use rz_config_get_b() API in disasm and visual
  librz/config/config.c
  librz/core/disasm.c
  librz/core/visual.c
  librz/include/rz_config.h
Labels: RzConfig, RzCore, API, visual

Use rz_config_get_b() API in visual panels
  librz/core/panels.c
Labels: RzCore, panel

Code deduplication in visual modes
  librz/core/agraph.c
  librz/core/panels.c
  librz/core/visual.c
  librz/core/vmenus.c
  librz/include/rz_core.h
Labels: RzCore, API, visual, panel

Refactor to use API in ASCII Graph mode
  librz/core/agraph.c
Labels: RzCore

Use RzConfig API in Visual mode
  librz/core/visual.c
Labels: RzCore, visual

Use rz_config_get_b() API in visual panels
  librz/core/panels.c
Labels: RzCore, panel

Use rz_config_get_b() API in disasm and visual
  librz/config/config.c
  librz/core/disasm.c
  librz/core/visual.c
  librz/include/rz_config.h
Labels: RzConfig, RzCore, API, visual

Add rz_config_* API for booleans
  librz/config/config.c
  librz/include/rz_config.h
  test/unit/meson.build
  test/unit/test_config.c
Labels: RzConfig, API, rz_test

Use analysis API for disasm.c
  librz/analysis/var.c
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/disasm.c
  librz/core/visual.c
  librz/include/rz_analysis.h
  librz/include/rz_core.h
Labels: RzAnalysis, RzCore, API, command, visual

Use RzConfig API in Panels mode
  librz/core/panels.c
Labels: RzCore, panel

Refactor to use API in ASCII Graph mode
  librz/core/agraph.c
Labels: RzCore

Code deduplication in visual modes
  librz/core/agraph.c
  librz/core/panels.c
  librz/core/visual.c
  librz/core/vmenus.c
  librz/include/rz_core.h
Labels: RzCore, API, visual, panel

Use RZ_STR_ISNOTEMPTY vs IS_NULLSTR
  librz/config/config.c
Labels: RzConfig

Refactor to use API in Visual mode
  librz/core/cdebug.c
  librz/core/cfile.c
  librz/core/cmd.c
  librz/core/cmd_debug.c
  librz/core/visual.c
  librz/include/rz_core.h
Labels: RzCore, API, command, visual

Refactor some parts of vmenus to use more API
  librz/core/cmd_help.c
  librz/core/vmenus.c
  librz/include/rz_core.h
Labels: RzCore, API, command

Rename `rz_core_eval_variables_print` to `rz_core_help_vars_print`
  librz/core/cmd_help.c
  librz/core/vmenus.c
  librz/include/rz_core.h
Labels: RzCore, API, command

Rename `rz_core_get_help_vars` to `rz_core_help_vars_get`
  librz/core/cautocmpl.c
  librz/core/cmd_help.c
  librz/include/rz_core.h
Labels: RzCore, API, command

Refactor some parts of vmenus to use more API ##refactor (#503)
  librz/core/cautocmpl.c
  librz/core/cmd_help.c
  librz/core/vmenus.c
  librz/include/rz_core.h
Labels: RzCore, API, command

Make rz_base64_encode use the right types
  librz/analysis/meta.c
  librz/analysis/serialize_analysis.c
  librz/core/canalysis.c
  librz/core/cannotated_code.c
  librz/core/cmd.c
  librz/core/cmd_analysis.c
  librz/core/cmd_help.c
  librz/flag/flag.c
  librz/include/rz_util/rz_base64.h
  librz/util/str.c
  librz/util/ubase64.c
  shlr/java/class.c
  test/unit/test_base64.c
Labels: RzAnalysis, RzCore, RzFlag, RzUtil, API, command, rz_test, java

Fix assert on base64 crypto final call without buf
  librz/crypto/p/crypto_base64.c
  test/db/tools/rz_hash
Labels: RzCrypto, rz_test

Add check option to sys/clang-format.py
  sys/clang-format.py
Labels: buildsystem

Add worflow clang-format
  .github/workflows/linter.yml
Labels: infrastructure

Fix clang format errors
  librz/analysis/fcn.c
  librz/core/cdebug.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/visual.c
  librz/include/rz_util/rz_str.h
Labels: RzAnalysis, RzCore, API, command, visual

Replace HtPP with more suitable types in bin_dyldcache.c
  librz/bin/p/bin_dyldcache.c
Labels: RzBin

Add check option to sys/clang-format.py
  sys/clang-format.py
Labels: buildsystem

Fix clang format errors
  librz/analysis/fcn.c
  librz/core/cdebug.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/visual.c
  librz/include/rz_util/rz_str.h
Labels: RzAnalysis, RzCore, API, command, visual

Add worflow clang-format
  .github/workflows/linter.yml
Labels: infrastructure

Windows subprocess: Remove \r only if followed by \n or not part of esc seq (#512)
  librz/util/subprocess.c
  test/db/archos/linux-x64/cmd_visual
  test/db/archos/windows-x64/cmd_visual
  test/db/cmd/cmd_visual
Labels: RzUtil, rz_test

subprocess.c: Fix format
  librz/util/subprocess.c
Labels: RzUtil

subprocess.c: Fix format (#519)
  librz/util/subprocess.c
Labels: RzUtil

Fix assert on base64 crypto final call without buf (#517)
  librz/crypto/p/crypto_base64.c
  test/db/tools/rz_hash
Labels: RzCrypto, rz_test

Rename clang_format GHA to clang-format
  .github/workflows/linter.yml
Labels: infrastructure

Refacto function assemble librz/asm/arch/z80/z80asm.c
  librz/asm/arch/z80/z80asm.c
Labels: none

Refacto function assemble librz/asm/arch/z80/z80asm.c (#507)
  librz/asm/arch/z80/z80asm.c
Labels: none

Rename clang_format GHA to clang-format (#520)
  .github/workflows/linter.yml
Labels: infrastructure

Replace HtPP with more suitable types in bin_dyldcache.c (#518)
  librz/bin/p/bin_dyldcache.c
Labels: RzBin

.github/labeler.yml:

rizin:
  - binrz/rizin/*
  - librz/main/rizin.c

rz_bin:
  - binrz/rz_bin/*
  - librz/main/rz_bin.c

rz_diff:
  - binrz/rz_diff/*
  - librz/main/rz_diff.c

rz_find:
  - binrz/rz_find/*
  - librz/main/rz_find.c

rz_gg:
  - binrz/rz_gg/*
  - librz/main/rz_gg.c

rz_hash:
  - binrz/rz_hash/*
  - librz/main/rz_hash.c

rz_run:
  - binrz/rz_run/*
  - librz/main/rz_run.c

rz_asm:
  - binrz/rz_asm/*
  - librz/main/rz_asm.c

rz_ax:
  - binrz/rz_ax/*
  - librz/main/rz_ax.c

RzAnalysis:
  - librz/analysis/**/*

RzAsm-Assembler:
  - librz/asm/**/*ass*
  - librz/asm/asm_x86_nz.c

RzAsm-Disassembler:
  - librz/asm/**/*dis*

RzBin:
  - librz/bin/**/*

RzBreakpoint:
  - librz/bp/**/*

RzConfig:
  - librz/config/**/*

RzCons:
  - librz/cons/**/*

RzCore:
  - librz/core/**/*

RzCrypto:
  - librz/crypto/**/*

RzDebug:
  - librz/debug/**/*

RzEgg:
  - librz/egg/**/*

RzFlag:
  - librz/flag/**/*

RzHash:
  - librz/hash/**/*

RzIO:
  - librz/io/**/*

RzLang:
  - librz/lang/**/*

RzMagic:
  - librz/magic/**/*

RzParse:
  - librz/parse/**/*

RReg:
  - librz/reg/**/*

RzSearch:
  - librz/search/**/*

RzSocket:
  - librz/socket/**/*

RzSyscall:
  - librz/syscall/**/*

RzUtil:
  - librz/util/**/*

API:
  - librz/include/**/*

buildsystem:
  - sys/**/*

command:
  - librz/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - librz/analysis/esil*

gdb:
  - shlr/gdb/**/*
  - librz/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

rz_test:
  - binrz/rz_test/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - librz/io/p/io_winkd.c

visual:
  - librz/core/visual.c

panel:
  - librz/core/panels.c
