Repository rizinorg/rizin, changes with the labels that .github/labeler.yml gives for each.
All labels: rizin, rz_bin, rz_diff, rz_find, rz_gg, rz_hash, rz_run, rz_asm, rz_ax, RzAnalysis, RzAsm-Assembler, RzAsm-Disassembler, RzBin, RzBreakpoint, RzConfig, RzCons, RzCore, RzCrypto, RzDebug, RzEgg, RzFlag, RzHash, RzIO, RzLang, RzMagic, RzParse, RReg, RzSearch, RzSocket, RzSyscall, RzUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, rz_test, java, WinDbg, visual, panel

.github/labeler.yml:

rizin:
  - binrz/rizin/*
  - librz/main/rizin.c

rz_bin:
  - binrz/rz_bin/*
  - librz/main/rz_bin.c

rz_diff:
  - binrz/rz_diff/*
  - librz/main/rz_diff.c

rz_find:
  - binrz/rz_find/*
  - librz/main/rz_find.c

rz_gg:
  - binrz/rz_gg/*
  - librz/main/rz_gg.c

rz_hash:
  - binrz/rz_hash/*
  - librz/main/rz_hash.c

rz_run:
  - binrz/rz_run/*
  - librz/main/rz_run.c

rz_asm:
  - binrz/rz_asm/*
  - librz/main/rz_asm.c

rz_ax:
  - binrz/rz_ax/*
  - librz/main/rz_ax.c

RzAnalysis:
  - librz/analysis/**/*

RzAsm-Assembler:
  - librz/asm/**/*ass*
  - librz/asm/asm_x86_nz.c

RzAsm-Disassembler:
  - librz/asm/**/*dis*

RzBin:
  - librz/bin/**/*

RzBreakpoint:
  - librz/bp/**/*

RzConfig:
  - librz/config/**/*

RzCons:
  - librz/cons/**/*

RzCore:
  - librz/core/**/*

RzCrypto:
  - librz/crypto/**/*

RzDebug:
  - librz/debug/**/*

RzEgg:
  - librz/egg/**/*

RzFlag:
  - librz/flag/**/*

RzHash:
  - librz/hash/**/*

RzIO:
  - librz/io/**/*

RzLang:
  - librz/lang/**/*

RzMagic:
  - librz/magic/**/*

RzParse:
  - librz/parse/**/*

RReg:
  - librz/reg/**/*

RzSearch:
  - librz/search/**/*

RzSocket:
  - librz/socket/**/*

RzSyscall:
  - librz/syscall/**/*

RzUtil:
  - librz/util/**/*

API:
  - librz/include/**/*

buildsystem:
  - sys/**/*

command:
  - librz/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - librz/analysis/esil*

gdb:
  - shlr/gdb/**/*
  - librz/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

rz_test:
  - binrz/rz_test/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - librz/io/p/io_winkd.c

visual:
  - librz/core/visual.c

panel:
  - librz/core/panels.c

Support in newshell for `<cmd>?*[j]` and `j*[j] <command>`
  librz/core/cautocmpl.c
  librz/core/cmd.c
  librz/core/cmd_api.c
  librz/core/cmd_descs.c
  librz/core/cmd_descs.h
  librz/core/cmd_descs.yaml
  librz/include/rz_cmd.h
  shlr/rizin-shell-parser/src/scanner.c
  test/db/cmd/cmd_help
  test/unit/test_cmd.c
Labels: RzCore, API, command, rz_test

Retry read packet if no error occured
  shlr/gdb/src/packet.c
Labels: gdb

Support in newshell for `<cmd>?*[j]` and `j*[j] <command>`
  librz/core/cautocmpl.c
  librz/core/cmd.c
  librz/core/cmd_api.c
  librz/core/cmd_descs.c
  librz/core/cmd_descs.h
  librz/core/cmd_descs.yaml
  librz/include/rz_cmd.h
  shlr/rizin-shell-parser/src/scanner.c
  test/db/cmd/cmd_help
  test/unit/test_cmd.c
Labels: RzCore, API, command, rz_test

added -f/--file to clang format for simpler run.
  sys/clang-format.py
Labels: buildsystem

Update sdb subproject
  subprojects/sdb.wrap
Labels: none

Fix assigned value is undefined librz/util/print.c
  librz/util/print.c
Labels: RzUtil

Fix assigned value is undefined librz/debug/p/native/linux/linux_debug.c
  librz/debug/p/native/linux/linux_debug.c
Labels: RzDebug

Fix assigned value is undefined shlr/tcc/tccgen.c
  shlr/tcc/tccgen.c
Labels: none

Fix assigned value is undefined shlr/gdb/src/utils.c
  shlr/gdb/src/utils.c
Labels: gdb

Fix assigned value is undefined librz/analysis/p/analysis_arm_gnu.c
  librz/analysis/p/analysis_arm_gnu.c
Labels: RzAnalysis

Fix assigned value is undefined librz/bin/mangling/cxx/cp-demangle.c
  librz/bin/mangling/cxx/cp-demangle.c
Labels: RzBin

Fix assigned value is undefined librz/main/rz_diff.c
  librz/main/rz_diff.c
Labels: rz_diff

Fix allocator sizeof operand mismatch librz/util/regex/regcomp.c
  librz/util/regex/regcomp.c
Labels: RzUtil

Fix allocator sizeof operand mismatch librz/debug/p/debug_winkd.c
  librz/debug/p/debug_winkd.c
Labels: RzDebug

Fix allocator sizeof operand mismatch shlr/mpc/mpc.c
  shlr/mpc/mpc.c
Labels: none

Fix allocator sizeof operand mismatch librz/io/p/io_winedbg.c
  librz/io/p/io_winedbg.c
Labels: RzIO

Fix allocator sizeof operand mismatch librz/debug/p/debug_winkd.c
  librz/debug/p/debug_winkd.c
Labels: RzDebug

Fix allocator sizeof operand mismatch librz/util/regex/regcomp.c
  librz/util/regex/regcomp.c
Labels: RzUtil

Fix allocator sizeof operand mismatch shlr/mpc/mpc.c
  shlr/mpc/mpc.c
Labels: none

Fix allocator sizeof operand mismatch librz/io/p/io_winedbg.c
  librz/io/p/io_winedbg.c
Labels: RzIO

Fix memleak in fcn_recurse() (#527)
  librz/analysis/fcn.c
Labels: RzAnalysis

Rename RJson to RzJson
  librz/analysis/serialize_analysis.c
  librz/debug/dsession.c
  librz/flag/serialize_flag.c
  librz/include/rz_analysis.h
  librz/include/rz_util/rz_json.h
  librz/include/rz_util/rz_serialize.h
  librz/util/json_parser.c
  librz/util/serialize_spaces.c
  test/unit/test_json.c
  test/unit/test_serialize_analysis.c
Labels: RzAnalysis, RzDebug, RzFlag, RzUtil, API, rz_test

Implement io_memory Serialization
  librz/include/rz_io.h
  librz/io/io_memory.c
  librz/io/io_memory.h
  librz/io/p/io_malloc.c
  librz/io/serialize_io.c
  librz/util/ubase64.c
Labels: RzIO, RzUtil, API

Rename RJson to RzJson (#545)
  librz/analysis/serialize_analysis.c
  librz/debug/dsession.c
  librz/flag/serialize_flag.c
  librz/include/rz_analysis.h
  librz/include/rz_util/rz_json.h
  librz/include/rz_util/rz_serialize.h
  librz/util/json_parser.c
  librz/util/serialize_spaces.c
  test/unit/test_json.c
  test/unit/test_serialize_analysis.c
Labels: RzAnalysis, RzDebug, RzFlag, RzUtil, API, rz_test

Save IO Plugin Data and Add Empty Tests
  librz/include/rz_io.h
  librz/io/serialize_io.c
  test/unit/meson.build
  test/unit/test_serialize_io.c
Labels: RzIO, API, rz_test

Add flag diff sys/clang-format.py
  .github/workflows/linter.yml
  sys/clang-format.py
Labels: buildsystem, infrastructure

Add short flags sys/clang-format.py
  sys/clang-format.py
Labels: buildsystem

Add short flags sys/clang-format.py
  sys/clang-format.py
Labels: buildsystem

Add flag diff sys/clang-format.py
  .github/workflows/linter.yml
  sys/clang-format.py
Labels: buildsystem, infrastructure

Update sdb subproject (#544)
  subprojects/sdb.wrap
Labels: none

Suggestions from code review: fix args_str
  librz/core/cmd_descs.yaml
  librz/core/cmd_quit.c
Labels: RzCore, command

Fix dead assignment librz/core/rtr.c
  librz/core/rtr.c
Labels: RzCore

Fix dead assignment librz/parse/filter.c
  librz/parse/filter.c
Labels: RzParse

Fix dead assignment librz/core/yank.c
  librz/core/yank.c
Labels: RzCore

Fix dead assignment librz/io/p/io_rzk_linux.c
  librz/io/p/io_rzk_linux.c
Labels: RzIO

Fix dead assignment librz/main/rizin.c
  librz/main/rizin.c
Labels: rizin

Fix dead assignment librz/main/rz_ax.c
  librz/main/rz_ax.c
Labels: rz_ax

Fix dead assignment librz/io/p/io_procpid.c
  librz/io/p/io_procpid.c
Labels: RzIO

Fix dead assignment librz/io/p/io_ptrace.c
  librz/io/p/io_ptrace.c
Labels: RzIO

Fix dead assignment librz/debug/debug.c
  librz/debug/debug.c
Labels: RzDebug
