Repository rizinorg/rizin, changes with the labels that .github/labeler.yml gives for each.
All labels: rizin, rz_bin, rz_diff, rz_find, rz_gg, rz_hash, rz_run, rz_asm, rz_ax, RAnal, RAsm-Assembler, RAsm-Disassembler, RBin, RBreakpoint, RConfig, RCons, RCore, RCrypto, RDebug, REgg, RFlag, RFS, RHash, RIO, RLang, RMagic, RParse, RReg, RSearch, RSocket, RSyscall, RUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, rz_test, java, WinDbg, webui, visual, panel

.github/labeler.yml:

rizin:
  - binrz/rizin/*
  - librz/main/rizin.c

rz_bin:
  - binrz/rz_bin/*
  - librz/main/rz_bin.c

rz_diff:
  - binrz/rz_diff/*
  - librz/main/rz_diff.c

rz_find:
  - binrz/rz_find/*
  - librz/main/rz_find.c

rz_gg:
  - binrz/rz_gg/*
  - librz/main/rz_gg.c

rz_hash:
  - binrz/rz_hash/*
  - librz/main/rz_hash.c

rz_run:
  - binrz/rz_run/*
  - librz/main/rz_run.c

rz_asm:
  - binrz/rz_asm/*
  - librz/main/rz_asm.c

rz_ax:
  - binrz/rz_ax/*
  - librz/main/rz_ax.c

RAnal:
  - librz/anal/**/*

RAsm-Assembler:
  - librz/asm/**/*ass*
  - librz/asm/asm_x86_nz.c

RAsm-Disassembler:
  - librz/asm/**/*dis*

RBin:
  - librz/bin/**/*

RBreakpoint:
  - librz/bp/**/*

RConfig:
  - librz/config/**/*

RCons:
  - librz/cons/**/*

RCore:
  - librz/core/**/*

RCrypto:
  - librz/crypto/**/*

RDebug:
  - librz/debug/**/*

REgg:
  - librz/egg/**/*

RFlag:
  - librz/flag/**/*

RFS:
  - librz/fs/**/*

RHash:
  - librz/hash/**/*

RIO:
  - librz/io/**/*

RLang:
  - librz/lang/**/*

RMagic:
  - librz/magic/**/*

RParse:
  - librz/parse/**/*

RReg:
  - librz/reg/**/*

RSearch:
  - librz/search/**/*

RSocket:
  - librz/socket/**/*

RSyscall:
  - librz/syscall/**/*

RUtil:
  - librz/util/**/*

API:
  - librz/include/**/*

buildsystem:
  - sys/**/*

command:
  - librz/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - librz/anal/esil*

gdb:
  - shlr/gdb/**/*
  - librz/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

rz_test:
  - binrz/rz_test/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - librz/io/p/io_winkd.c

webui:
  - shlr/www/**/*

visual:
  - librz/core/visual.c

panel:
  - librz/core/panels.c

Other renamings to make most tests happy
  binrz/rz_test/rz_test.c
  test/db/cmd/cmd_i
  test/db/cmd/cmd_interpret
  test/db/formats/dex
  test/db/formats/elf/elf-relarm
  test/db/formats/elf/reloc
  test/db/formats/mach0/entitlements
  test/db/formats/mach0/fcn
Labels: rz_test

Second round of renaming, acr+make compiles
  configure
  configure-plugins
  librz/config.mk.tail
  plugins.def.cfg
  plugins.ios-store.cfg
  plugins.static.cfg
  plugins.static.nogpl.cfg
  shlr/spp/configure
Labels: none

Try to work with private rzpipe
  .github/workflows/ci.yml
Labels: infrastructure

Fix rzpipe path
  .github/workflows/ci.yml
Labels: infrastructure

Rename rz_pm -> rz-pm as appropriate
  .github/workflows/ci.yml
  CONTRIBUTING.md
  Dockerfile
  Makefile
  README.md
  autogen.sh
  binrz/Makefile
  binrz/rz_pm/rz-pm
  rizin.spec
  snapcraft.yaml
  sys/android-build.sh
  sys/docker_build_alpine_image.sh
  sys/indent-whitelist.sh
  sys/indent.sh
  sys/menu.sh
Labels: buildsystem, infrastructure

Other renaming for rz_test -> rz-test
  .appveyor.yml
  .github/workflows/ci.yml
  .gitignore
  binrz/rz_test/Makefile
  configure
  configure.acr
  librz/asm/arch/h8300/h8300_disas.c
  librz/core/cconfig.c
  librz/core/vmenus.c
  test/Makefile
Labels: RAsm-Disassembler, RCore, infrastructure, rz_test

Use HOME
  .github/workflows/ci.yml
Labels: infrastructure

Try with rz-pipe now
  .github/workflows/ci.yml
Labels: infrastructure

again
  .github/workflows/ci.yml
Labels: infrastructure

use github_workflow
  .github/workflows/ci.yml
Labels: infrastructure

Temporarily disable some CI jobs
  .github/workflows/ci.yml
Labels: infrastructure

Reduce number of GH CI jobs
  .github/workflows/ci.yml
Labels: infrastructure

Disable continue-on-error
  .github/workflows/ci.yml
Labels: infrastructure

comment other ci jobs
  .github/workflows/ci.yml
Labels: infrastructure

Use rz-hash not rz_hash
  test/scripts/no-nl-at-eof.rz
Labels: rz_test

Fix test_str and enable windows GH CI on master
  .github/workflows/ci.yml
  test/unit/test_str.c
Labels: infrastructure, rz_test

Only run things on master/dev/stable branches
  .github/workflows/ci.yml
Labels: infrastructure

run pull_request ci on dev
  .github/workflows/ci.yml
Labels: infrastructure
