Repository rizinorg/rizin, changes with the labels that .github/labeler.yml gives for each.
All labels: rizin, rz_bin, rz_diff, rz_find, rz_gg, rz_hash, rz_run, rz_asm, rz_ax, RzAnalysis, RzAsm-Assembler, RzAsm-Disassembler, RzBin, RzBreakpoint, RzConfig, RzCons, RzCore, RzCrypto, RzDebug, RzEgg, RzFlag, RzHash, RzIO, RzLang, RzMagic, RzParse, RReg, RzSearch, RzSocket, RzSyscall, RzUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, rz_test, java, WinDbg, visual, panel

.github/labeler.yml:

rizin:
  - binrz/rizin/*
  - librz/main/rizin.c

rz_bin:
  - binrz/rz_bin/*
  - librz/main/rz_bin.c

rz_diff:
  - binrz/rz_diff/*
  - librz/main/rz_diff.c

rz_find:
  - binrz/rz_find/*
  - librz/main/rz_find.c

rz_gg:
  - binrz/rz_gg/*
  - librz/main/rz_gg.c

rz_hash:
  - binrz/rz_hash/*
  - librz/main/rz_hash.c

rz_run:
  - binrz/rz_run/*
  - librz/main/rz_run.c

rz_asm:
  - binrz/rz_asm/*
  - librz/main/rz_asm.c

rz_ax:
  - binrz/rz_ax/*
  - librz/main/rz_ax.c

RzAnalysis:
  - librz/analysis/**/*

RzAsm-Assembler:
  - librz/asm/**/*ass*
  - librz/asm/asm_x86_nz.c

RzAsm-Disassembler:
  - librz/asm/**/*dis*

RzBin:
  - librz/bin/**/*

RzBreakpoint:
  - librz/bp/**/*

RzConfig:
  - librz/config/**/*

RzCons:
  - librz/cons/**/*

RzCore:
  - librz/core/**/*

RzCrypto:
  - librz/crypto/**/*

RzDebug:
  - librz/debug/**/*

RzEgg:
  - librz/egg/**/*

RzFlag:
  - librz/flag/**/*

RzHash:
  - librz/hash/**/*

RzIO:
  - librz/io/**/*

RzLang:
  - librz/lang/**/*

RzMagic:
  - librz/magic/**/*

RzParse:
  - librz/parse/**/*

RReg:
  - librz/reg/**/*

RzSearch:
  - librz/search/**/*

RzSocket:
  - librz/socket/**/*

RzSyscall:
  - librz/syscall/**/*

RzUtil:
  - librz/util/**/*

API:
  - librz/include/**/*

buildsystem:
  - sys/**/*

command:
  - librz/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - librz/analysis/esil*

gdb:
  - shlr/gdb/**/*
  - librz/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

rz_test:
  - binrz/rz_test/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - librz/io/p/io_winkd.c

visual:
  - librz/core/visual.c

panel:
  - librz/core/panels.c

Fix dbg.dts test ##test
  test/db/archos/windows-x64/dbg_dts
Labels: rz_test

Added windows rebase tests ##test
  test/db/archos/windows-x64/dbg_rebase
Labels: rz_test

Remove REIL related code
  librz/analysis/esil.c
  librz/core/cmd_analysis.c
  librz/include/rz_analysis.h
Labels: RzAnalysis, RzCore, API, command, ESIL

Added windows rebase tests ##test
  test/db/archos/windows-x64/dbg_rebase
Labels: rz_test

Fix dbg.dts test ##test
  test/db/archos/windows-x64/dbg_dts
Labels: rz_test

One more -Werror=maybe-uninitialized issue fixed
  librz/bin/format/pe/pe.c
Labels: RzBin

One more -Werror=maybe-uninitialized
  librz/debug/p/native/linux/linux_coredump.c
Labels: RzDebug

Fix crash in XNU kernel parsing (no cache) ##bin
  librz/bin/format/mach0/mach0_defines.h
  librz/bin/p/bin_xnu_kernelcache.c
Labels: RzBin

Fix rz-diff can't open file error message
  librz/main/rz_diff.c
Labels: rz_diff

Fix rz-diff usage message
  librz/main/rz_diff.c
Labels: rz_diff

Fix rz-diff man page for -O option
  man/rz-diff.1
Labels: none

Add additional ELF header fields to rz-bin output (#372)
  librz/bin/p/bin_elf.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_elf64.c
  test/db/cmd/cmd_i
  test/db/tools/rz_bin
Labels: RzBin, rz_test

Fix crash in XNU kernel parsing (no cache) ##bin
  librz/bin/format/mach0/mach0_defines.h
  librz/bin/p/bin_xnu_kernelcache.c
Labels: RzBin

Fix rz-diff usage message
  librz/main/rz_diff.c
Labels: rz_diff

Fix rz-diff man page for -O option
  man/rz-diff.1
Labels: none

One more -Werror=maybe-uninitialized
  librz/debug/p/native/linux/linux_coredump.c
Labels: RzDebug

One more -Werror=maybe-uninitialized issue fixed
  librz/bin/format/pe/pe.c
Labels: RzBin

Fix rz-diff can't open file error message
  librz/main/rz_diff.c
Labels: rz_diff

Remove REIL related code
  librz/analysis/esil.c
  librz/core/cmd_analysis.c
  librz/include/rz_analysis.h
Labels: RzAnalysis, RzCore, API, command, ESIL

Remove the Debian package building
  .github/workflows/ci.yml
  .github/workflows/newshell-treesitter-tests.yml
Labels: infrastructure

Update README
  README.md
Labels: none

Prevent NULL pointer dereference
  librz/bin/bfile.c
Labels: RzBin

Give rz_log some spinach (Fix #350)
  .github/workflows/ci.yml
  librz/include/rz_util/rz_log.h
Labels: API, infrastructure

Upload Rizin static artifact
  .github/workflows/ci.yml
Labels: infrastructure

Remove an empty and useless Makefile in `librz/lang` ##lang
  librz/lang/p/Makefile
Labels: RzLang

Remove an empty and useless Makefile in `librz/lang` ##lang (#395)
  librz/lang/p/Makefile
Labels: RzLang

Check if list of basic block is empty to avoid crash when doing @@i
  librz/core/cmd.c
Labels: RzCore, command

Give rz_log some spinach (Fix #350)
  .github/workflows/ci.yml
  librz/include/rz_util/rz_log.h
Labels: API, infrastructure

Upload Rizin static artifact
  .github/workflows/ci.yml
Labels: infrastructure

Prevent NULL pointer dereference
  librz/bin/bfile.c
Labels: RzBin

Remove the Debian package building
  .github/workflows/ci.yml
  .github/workflows/newshell-treesitter-tests.yml
Labels: infrastructure

Update README
  README.md
Labels: none

Check if list of basic block is empty to avoid crash when doing @@i
  librz/core/cmd.c
Labels: RzCore, command

Use space between 'so' and argument
  librz/core/agraph.c
Labels: RzCore

Fix rz_bin to rz-bin
  librz/bin/d/dll/makefile
  librz/core/cmd_debug.c
  librz/core/cmd_info.c
  librz/core/cmd_print.c
  librz/egg/egg_Cfile.c
Labels: RzBin, RzCore, RzEgg, command

Use space between 'so' and argument (#401)
  librz/core/agraph.c
Labels: RzCore

Merge pull request #402 from rizinorg/fix-rz-bin
  librz/bin/d/dll/makefile
  librz/core/cmd_debug.c
  librz/core/cmd_info.c
  librz/core/cmd_print.c
  librz/egg/egg_Cfile.c
Labels: RzBin, RzCore, RzEgg, command

Implement seek autocompletion
  librz/core/cautocmpl.c
  test/unit/test_autocmplt.c
Labels: RzCore, rz_test

Extract rz_core_get_help_vars API to get vars names
  librz/core/cmd_help.c
  librz/include/rz_core.h
Labels: RzCore, API, command

Prevent dupped autocompletion suggestions
  librz/cons/line.c
  librz/include/rz_cons.h
Labels: RzCons, API
