Repository rizinorg/rizin, changes with the labels that .github/labeler.yml gives for each.
All labels: rizin, rz_bin, rz_diff, rz_find, rz_gg, rz_hash, rz_run, rz_asm, rz_ax, RzAnalysis, RzAsm-Assembler, RzAsm-Disassembler, RzBin, RzBreakpoint, RzConfig, RzCons, RzCore, RzCrypto, RzDebug, RzEgg, RzFlag, RzHash, RzIO, RzLang, RzMagic, RzParse, RReg, RzSearch, RzSocket, RzSyscall, RzUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, rz_test, java, WinDbg, visual, panel

.github/labeler.yml:

rizin:
  - binrz/rizin/*
  - librz/main/rizin.c

rz_bin:
  - binrz/rz_bin/*
  - librz/main/rz_bin.c

rz_diff:
  - binrz/rz_diff/*
  - librz/main/rz_diff.c

rz_find:
  - binrz/rz_find/*
  - librz/main/rz_find.c

rz_gg:
  - binrz/rz_gg/*
  - librz/main/rz_gg.c

rz_hash:
  - binrz/rz_hash/*
  - librz/main/rz_hash.c

rz_run:
  - binrz/rz_run/*
  - librz/main/rz_run.c

rz_asm:
  - binrz/rz_asm/*
  - librz/main/rz_asm.c

rz_ax:
  - binrz/rz_ax/*
  - librz/main/rz_ax.c

RzAnalysis:
  - librz/analysis/**/*

RzAsm-Assembler:
  - librz/asm/**/*ass*
  - librz/asm/asm_x86_nz.c

RzAsm-Disassembler:
  - librz/asm/**/*dis*

RzBin:
  - librz/bin/**/*

RzBreakpoint:
  - librz/bp/**/*

RzConfig:
  - librz/config/**/*

RzCons:
  - librz/cons/**/*

RzCore:
  - librz/core/**/*

RzCrypto:
  - librz/crypto/**/*

RzDebug:
  - librz/debug/**/*

RzEgg:
  - librz/egg/**/*

RzFlag:
  - librz/flag/**/*

RzHash:
  - librz/hash/**/*

RzIO:
  - librz/io/**/*

RzLang:
  - librz/lang/**/*

RzMagic:
  - librz/magic/**/*

RzParse:
  - librz/parse/**/*

RReg:
  - librz/reg/**/*

RzSearch:
  - librz/search/**/*

RzSocket:
  - librz/socket/**/*

RzSyscall:
  - librz/syscall/**/*

RzUtil:
  - librz/util/**/*

API:
  - librz/include/**/*

buildsystem:
  - sys/**/*

command:
  - librz/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - librz/analysis/esil*

gdb:
  - shlr/gdb/**/*
  - librz/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

rz_test:
  - binrz/rz_test/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - librz/io/p/io_winkd.c

visual:
  - librz/core/visual.c

panel:
  - librz/core/panels.c

Remove root help printing from ? command
  librz/core/cmd_help.c
Labels: RzCore, command

ci: pre-download meson subprojects because of no-network containers
  .github/workflows/ci.yml
Labels: infrastructure

ci: install meson before using it in publish-docker-image
  .github/workflows/ci.yml
Labels: infrastructure

Make it clear with git status that subprojects are there
  .gitignore
Labels: none

Move libuv to meson subproject wrap
  .github/workflows/ci.yml
  meson.build
  meson_options.txt
  subprojects/libuv.wrap
  subprojects/packagefiles/libuv-v1.40.0/meson.build
Labels: infrastructure

Update BUILDING.md and mention subprojects
  BUILDING.md
Labels: none

Make use_sys_* meson option features instead of boolean
  doc/PACKAGERS.md
  doc/capstone.md
  librz/core/meson.build
  librz/hash/meson.build
  librz/magic/meson.build
  librz/socket/meson.build
  librz/util/meson.build
  meson.build
  meson_options.txt
  shlr/meson.build
Labels: RzCore, RzHash, RzMagic, RzSocket, RzUtil, documentation

Move zlib to meson subproject wrap
  meson.build
  subprojects/packagefiles/zlib-1.2.11/meson.build
  subprojects/zlib.wrap
Labels: none

io/p/io_zip: fix NULL deref when opening unknown zip
  librz/io/p/io_zip.c
Labels: RzIO

Move xxhash to meson subproject wrap
  librz/hash/hash.c
  librz/hash/meson.build
  librz/hash/xxhash.c
  librz/hash/xxhash.h
  meson.build
  subprojects/xxhash/LICENSE
  subprojects/xxhash/README.md
  subprojects/xxhash/meson.build
  subprojects/xxhash/xxhash.c
  subprojects/xxhash/xxhash.h
Labels: RzHash

Improve sys/check_meson_subproject script
  sys/check_meson_subproject.py
Labels: buildsystem

Move lz4 to meson subproject wrap
  shlr/lz4/.gitignore
  shlr/lz4/LICENSE
  shlr/lz4/README.md
  shlr/lz4/dll/liblz4.def
  shlr/lz4/liblz4.pc.in
  shlr/lz4/lz4.c
  shlr/lz4/lz4.h
  shlr/meson.build
  subprojects/lz4.wrap
  subprojects/packagefiles/lz4-1.9.3/meson.build
Labels: none

Move libzip to meson subproject wrap
  doc/PACKAGERS.md
  librz/io/meson.build
  meson.build
  meson_options.txt
  shlr/meson.build
  subprojects/libzip.wrap
  subprojects/packagefiles/libzip-1.7.3/cmake-config.h.in
  subprojects/packagefiles/libzip-1.7.3/cmake-zipconf.h.in
  subprojects/packagefiles/libzip-1.7.3/create_zip_err_str.py
  subprojects/packagefiles/libzip-1.7.3/meson.build
  subprojects/packagefiles/libzip-1.7.3/meson_options.txt
  travis-script
Labels: RzIO, documentation

Move yxml to meson subprojects wrap
  librz/bin/format/xnu/rz_cf_dict.c
  librz/bin/meson.build
  shlr/meson.build
  subprojects/yxml/.gitignore
  subprojects/yxml/COPYING
  subprojects/yxml/meson.build
  subprojects/yxml/yxml.c
  subprojects/yxml/yxml.h
Labels: RzBin

ci: download all meson subprojects before building container
  .github/workflows/ci.yml
Labels: infrastructure

Remove root help printing from ? command (#596)
  librz/core/cmd_help.c
Labels: RzCore, command

ci: download all meson subprojects before building container
  .github/workflows/ci.yml
Labels: infrastructure

Move lz4 to meson subproject wrap
  shlr/lz4/.gitignore
  shlr/lz4/LICENSE
  shlr/lz4/README.md
  shlr/lz4/dll/liblz4.def
  shlr/lz4/liblz4.pc.in
  shlr/lz4/lz4.c
  shlr/lz4/lz4.h
  shlr/meson.build
  subprojects/lz4.wrap
  subprojects/packagefiles/lz4-1.9.3/meson.build
Labels: none

Move libuv to meson subproject wrap
  .github/workflows/ci.yml
  meson.build
  meson_options.txt
  subprojects/libuv.wrap
  subprojects/packagefiles/libuv-v1.40.0/meson.build
Labels: infrastructure

Make use_sys_* meson option features instead of boolean
  doc/PACKAGERS.md
  doc/capstone.md
  librz/core/meson.build
  librz/hash/meson.build
  librz/magic/meson.build
  librz/socket/meson.build
  librz/util/meson.build
  meson.build
  meson_options.txt
  shlr/meson.build
Labels: RzCore, RzHash, RzMagic, RzSocket, RzUtil, documentation

Update BUILDING.md and mention subprojects
  BUILDING.md
Labels: none

Move yxml to meson subprojects wrap
  librz/bin/format/xnu/rz_cf_dict.c
  librz/bin/meson.build
  shlr/meson.build
  subprojects/yxml/.gitignore
  subprojects/yxml/COPYING
  subprojects/yxml/meson.build
  subprojects/yxml/yxml.c
  subprojects/yxml/yxml.h
Labels: RzBin

Move libzip to meson subproject wrap
  doc/PACKAGERS.md
  librz/io/meson.build
  meson.build
  meson_options.txt
  shlr/meson.build
  subprojects/libzip.wrap
  subprojects/packagefiles/libzip-1.7.3/cmake-config.h.in
  subprojects/packagefiles/libzip-1.7.3/cmake-zipconf.h.in
  subprojects/packagefiles/libzip-1.7.3/create_zip_err_str.py
  subprojects/packagefiles/libzip-1.7.3/meson.build
  subprojects/packagefiles/libzip-1.7.3/meson_options.txt
  travis-script
Labels: RzIO, documentation

Move zlib to meson subproject wrap
  meson.build
  subprojects/packagefiles/zlib-1.2.11/meson.build
  subprojects/zlib.wrap
Labels: none

Improve sys/check_meson_subproject script
  sys/check_meson_subproject.py
Labels: buildsystem

Make it clear with git status that subprojects are there
  .gitignore
Labels: none

io/p/io_zip: fix NULL deref when opening unknown zip
  librz/io/p/io_zip.c
Labels: RzIO

Move xxhash to meson subproject wrap
  librz/hash/hash.c
  librz/hash/meson.build
  librz/hash/xxhash.c
  librz/hash/xxhash.h
  meson.build
  subprojects/xxhash/LICENSE
  subprojects/xxhash/README.md
  subprojects/xxhash/meson.build
  subprojects/xxhash/xxhash.c
  subprojects/xxhash/xxhash.h
Labels: RzHash

Refactor to use API in debug commands
  librz/core/cmd_debug.c
  librz/core/cmd_meta.c
  librz/core/cmd_open.c
Labels: RzCore, command

Get libuv from GitHub
  subprojects/libuv.wrap
  subprojects/packagefiles/libuv-1.40.0/meson.build
Labels: none

Disable condition for publish-docker-image
  .github/workflows/ci.yml
Labels: infrastructure

Change RZ_VERSION in Dockerfile
  Dockerfile
Labels: none

Try pip3 install --upgrade certifi
  Dockerfile
Labels: none

Try upgrading Docker base image instead
  Dockerfile
Labels: none

Move mpc to subprojects: keep it in-repo because small
  shlr/meson.build
  shlr/mpc/mpc.c
  shlr/mpc/mpc.h
  subprojects/mpc/LICENSE.md
  subprojects/mpc/meson.build
  subprojects/mpc/mpc.c
  subprojects/mpc/mpc.h
Labels: none

Get zlib from SourceForge
  subprojects/zlib.wrap
Labels: none

Try using Ubuntu 20.04 as base image instead
  Dockerfile
Labels: none

Revert "Get zlib from SourceForge"
  subprojects/zlib.wrap
Labels: none

Use https instead
  subprojects/zlib.wrap
Labels: none

Get zlib using https (#601)
  subprojects/zlib.wrap
Labels: none
