Repository rizinorg/rizin, changes with the labels that .github/labeler.yml gives for each.
All labels: rizin, rz_bin, rz_diff, rz_find, rz_gg, rz_hash, rz_run, rz_asm, rz_ax, RzAnalysis, RzAsm-Assembler, RzAsm-Disassembler, RzBin, RzBreakpoint, RzConfig, RzCons, RzCore, RzCrypto, RzDebug, RzEgg, RzFlag, RzHash, RzIO, RzLang, RzMagic, RzParse, RReg, RzSearch, RzSocket, RzSyscall, RzUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, rz_test, java, WinDbg, visual, panel

.github/labeler.yml:

rizin:
  - binrz/rizin/*
  - librz/main/rizin.c

rz_bin:
  - binrz/rz_bin/*
  - librz/main/rz_bin.c

rz_diff:
  - binrz/rz_diff/*
  - librz/main/rz_diff.c

rz_find:
  - binrz/rz_find/*
  - librz/main/rz_find.c

rz_gg:
  - binrz/rz_gg/*
  - librz/main/rz_gg.c

rz_hash:
  - binrz/rz_hash/*
  - librz/main/rz_hash.c

rz_run:
  - binrz/rz_run/*
  - librz/main/rz_run.c

rz_asm:
  - binrz/rz_asm/*
  - librz/main/rz_asm.c

rz_ax:
  - binrz/rz_ax/*
  - librz/main/rz_ax.c

RzAnalysis:
  - librz/analysis/**/*

RzAsm-Assembler:
  - librz/asm/**/*ass*
  - librz/asm/asm_x86_nz.c

RzAsm-Disassembler:
  - librz/asm/**/*dis*

RzBin:
  - librz/bin/**/*

RzBreakpoint:
  - librz/bp/**/*

RzConfig:
  - librz/config/**/*

RzCons:
  - librz/cons/**/*

RzCore:
  - librz/core/**/*

RzCrypto:
  - librz/crypto/**/*

RzDebug:
  - librz/debug/**/*

RzEgg:
  - librz/egg/**/*

RzFlag:
  - librz/flag/**/*

RzHash:
  - librz/hash/**/*

RzIO:
  - librz/io/**/*

RzLang:
  - librz/lang/**/*

RzMagic:
  - librz/magic/**/*

RzParse:
  - librz/parse/**/*

RReg:
  - librz/reg/**/*

RzSearch:
  - librz/search/**/*

RzSocket:
  - librz/socket/**/*

RzSyscall:
  - librz/syscall/**/*

RzUtil:
  - librz/util/**/*

API:
  - librz/include/**/*

buildsystem:
  - sys/**/*

command:
  - librz/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - librz/analysis/esil*

gdb:
  - shlr/gdb/**/*
  - librz/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

rz_test:
  - binrz/rz_test/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - librz/io/p/io_winkd.c

visual:
  - librz/core/visual.c

panel:
  - librz/core/panels.c

Add optional lzma and openssl dependencies to libzip
  subprojects/packagefiles/libzip-1.7.3/meson.build
Labels: none

Move libzip to meson wraps
  doc/PACKAGERS.md
  librz/io/meson.build
  librz/io/p/io_zip.c
  meson.build
  meson_options.txt
  shlr/meson.build
  subprojects/libzip.wrap
  subprojects/packagefiles/libzip-1.7.3/create_zip_err_str.py
  subprojects/packagefiles/libzip-1.7.3/meson.build
  subprojects/packagefiles/libzip-1.7.3/meson_options.txt
  travis-script
Labels: RzIO, documentation

Fix sys_xxhash
  meson.build
Labels: none

Add libuv wrap
  meson.build
  subprojects/libuv.wrap
  subprojects/packagefiles/libuv-v1.18.0/meson.build
Labels: none

Convert lz4 in a meson subproject
  shlr/lz4/.gitignore
  shlr/lz4/LICENSE
  shlr/lz4/README.md
  shlr/lz4/dll/liblz4.def
  shlr/lz4/liblz4.pc.in
  shlr/lz4/lz4.c
  shlr/lz4/lz4.h
  shlr/meson.build
  subprojects/lz4.wrap
  subprojects/packagefiles/lz4-1.9.3/meson.build
Labels: none

Make use_sys_* meson option features instead of boolean
  doc/PACKAGERS.md
  doc/capstone.md
  librz/core/meson.build
  librz/hash/meson.build
  librz/magic/meson.build
  librz/socket/meson.build
  librz/util/meson.build
  meson.build
  meson_options.txt
  shlr/meson.build
Labels: RzCore, RzHash, RzMagic, RzSocket, RzUtil, documentation

Use meson wrap for xxhash
  librz/hash/hash.c
  librz/hash/meson.build
  librz/hash/xxhash.c
  librz/hash/xxhash.h
  meson.build
  subprojects/packagefiles/xxHash-0.6.5/meson.build
  subprojects/xxhash.wrap
Labels: RzHash

libzip: use custom cmake-config.h.in
  subprojects/packagefiles/libzip-1.7.3/cmake-config.h.in
  subprojects/packagefiles/libzip-1.7.3/meson.build
Labels: none

Make yxml a local subproject, it's small
  subprojects/yxml.wrap
  subprojects/yxml/.gitignore
  subprojects/yxml/COPYING
  subprojects/yxml/meson.build
  subprojects/yxml/yxml.c
  subprojects/yxml/yxml.h
Labels: none

Make xxhash a local subproject, it's small
  subprojects/xxhash.wrap
  subprojects/xxhash/.gitattributes
  subprojects/xxhash/.gitignore
  subprojects/xxhash/.travis.yml
  subprojects/xxhash/LICENSE
  subprojects/xxhash/README.md
  subprojects/xxhash/meson.build
  subprojects/xxhash/xxhash.c
  subprojects/xxhash/xxhash.h
Labels: none

ci.yml: use --werror instead of changing CFLAGS
  .github/workflows/ci.yml
Labels: infrastructure

Add use_sys_libzip_openssl and fix lzma in libzip
  meson_options.txt
  shlr/meson.build
  subprojects/packagefiles/libzip-1.7.3/meson.build
  subprojects/packagefiles/libzip-1.7.3/meson_options.txt
Labels: none

libzip: fix windows build
  subprojects/packagefiles/libzip-1.7.3/meson.build
Labels: none

libzip: Add limits.h to make OpenBSD happy
  subprojects/packagefiles/libzip-1.7.3/cmake-zipconf.h.in
  subprojects/packagefiles/libzip-1.7.3/meson.build
Labels: none

Make libuv still optional
  meson.build
  meson_options.txt
Labels: none

Remove xxhash unnecessary files
  subprojects/xxhash/.gitattributes
  subprojects/xxhash/.gitignore
  subprojects/xxhash/.travis.yml
Labels: none

libzip: fix windows compilation
  subprojects/packagefiles/libzip-1.7.3/meson.build
Labels: none

libzip: fix again libzip meson
  subprojects/packagefiles/libzip-1.7.3/meson.build
Labels: none

libzip: Fix strcasecmp error
  meson.build
  subprojects/packagefiles/libzip-1.7.3/meson.build
Labels: none

Improve meson.build for libuv
  subprojects/libuv.wrap
  subprojects/packagefiles/libuv-v1.18.0/meson.build
  subprojects/packagefiles/libuv-v1.40.0/meson.build
Labels: none

libzip: use windows crypto, not openssl
  subprojects/packagefiles/libzip-1.7.3/meson.build
Labels: none

libzip: use sys/types.h to find off_t
  subprojects/packagefiles/libzip-1.7.3/meson.build
Labels: none

libzip: fix compilation on windows
  subprojects/packagefiles/libzip-1.7.3/meson.build
Labels: none

libzip: generate zipconf.h header
  subprojects/packagefiles/libzip-1.7.3/meson.build
Labels: none

Make it clear with git status that subprojects are there
  .gitignore
Labels: none

Disable werror on libuv
  subprojects/packagefiles/libuv-v1.18.0/meson.build
Labels: none

libzip: set _fcn only if fcn is not present
  subprojects/packagefiles/libzip-1.7.3/meson.build
Labels: none

Remove packagefiles for xxhash and yxml and add version to yxml
  subprojects/packagefiles/xxHash-0.6.5/meson.build
  subprojects/packagefiles/yxml/meson.build
  subprojects/yxml/meson.build
Labels: none

Fix #584 - Memleak
  librz/config/config.c
Labels: RzConfig

libzip: avoid optional dependencies on windows
  subprojects/packagefiles/libzip-1.7.3/meson.build
Labels: none

Fix TinyCC CI build
  .github/workflows/tcc.yml
Labels: infrastructure

Refactor to use API in visual and graph modes
  librz/core/agraph.c
  librz/core/canalysis.c
  librz/core/cio.c
  librz/core/cmd_analysis.c
  librz/core/cmd_seek.c
  librz/core/cmd_write.c
  librz/core/core_private.h
  librz/core/panels.c
  librz/core/visual.c
  librz/core/vmenus.c
  librz/include/rz_core.h
  test/db/cmd/cmd_graph
  test/db/cmd/cmd_pd2
  test/db/formats/mangling/bin
Labels: RzCore, API, command, rz_test, visual, panel

[java] Remove DsoJson (#585)
  librz/core/p/core_java.c
  shlr/java/class.c
  shlr/java/class.h
  shlr/java/dsojson.c
  shlr/java/dsojson.h
  shlr/java/main.c
  shlr/meson.build
  test/db/analysis/java
Labels: RzCore, rz_test, java

Merge all code scanning (CI) files
  .github/workflows/clang-analysis.yml
  .github/workflows/code-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: infrastructure

Refacto code scanning CI with matrix
  .github/workflows/code-analysis.yml
Labels: infrastructure

Update code analysis: treat warnings as errors
  .github/workflows/code-analysis.yml
Labels: infrastructure

Refacto code scanning CI with matrix
  .github/workflows/code-analysis.yml
Labels: infrastructure

Update code analysis: treat warnings as errors
  .github/workflows/code-analysis.yml
Labels: infrastructure

Merge all code scanning (CI) files
  .github/workflows/clang-analysis.yml
  .github/workflows/code-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: infrastructure

Refactor to use API in visual and graph modes
  librz/core/agraph.c
  librz/core/canalysis.c
  librz/core/cio.c
  librz/core/cmd_analysis.c
  librz/core/cmd_seek.c
  librz/core/cmd_write.c
  librz/core/core_private.h
  librz/core/panels.c
  librz/core/visual.c
  librz/core/vmenus.c
  librz/include/rz_core.h
  test/db/cmd/cmd_graph
  test/db/cmd/cmd_pd2
  test/db/formats/mangling/bin
Labels: RzCore, API, command, rz_test, visual, panel
