Repository rizinorg/rizin, changes with the labels that .github/labeler.yml gives for each.
All labels: rizin, rz_bin, rz_diff, rz_find, rz_gg, rz_hash, rz_run, rz_asm, rz_ax, RzAnalysis, RzAsm-Assembler, RzAsm-Disassembler, RzBin, RzBreakpoint, RzConfig, RzCons, RzCore, RzCrypto, RzDebug, RzEgg, RzFlag, RzHash, RzIO, RzLang, RzMagic, RzParse, RReg, RzSearch, RzSocket, RzSyscall, RzUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, rz_test, java, WinDbg, visual, panel

Fix dead nested assignment librz/asm/arch/z80/z80asm.c
  librz/asm/arch/z80/z80asm.c
Labels: none

Fix dead nested assignment librz/asm/p/asm_x86_nz.c
  librz/asm/p/asm_x86_nz.c
Labels: none

Fix dead nested assigment librz/core/casm.c
  librz/core/casm.c
Labels: RzCore

Fix dead nested assignment librz/core/cbin.c
  librz/core/cbin.c
Labels: RzCore

Fix dead nested assignment librz/bin/format/mach0/mach0.c
  librz/bin/format/mach0/mach0.c
Labels: RzBin

Fix dead nested assignment librz/core/cmd.c
  librz/core/cmd.c
Labels: RzCore, command

Fix dead nested assignment librz/core/cmd_analysis.c
  librz/core/cmd_analysis.c
Labels: RzCore, command

Fix dead nested assignment librz/asm/arch/z80/z80asm.c
  librz/asm/arch/z80/z80asm.c
Labels: none

Fix dead nested assignment librz/bin/format/mach0/mach0.c
  librz/bin/format/mach0/mach0.c
Labels: RzBin

Fix dead nested assignment librz/core/cmd_analysis.c
  librz/core/cmd_analysis.c
Labels: RzCore, command

Fix dead nested assignment librz/asm/p/asm_x86_nz.c
  librz/asm/p/asm_x86_nz.c
Labels: none

Fix dead nested assigment librz/core/casm.c
  librz/core/casm.c
Labels: RzCore

Fix dead nested assignment librz/core/cmd.c
  librz/core/cmd.c
Labels: RzCore, command

Fix dead nested assignment librz/core/cbin.c
  librz/core/cbin.c
Labels: RzCore

Fix dead assignment librz/asm/arch/pyc/pyc_dis.c
  librz/asm/arch/pyc/pyc_dis.c
Labels: RzAsm-Disassembler

Fix dead assignment librz/asm/arch/sh/gnu/sh-dis.c
  librz/asm/arch/sh/gnu/sh-dis.c
Labels: RzAsm-Disassembler

Fix dead assignment librz/asm/arch/ebc/ebc_disas.c
  librz/asm/arch/ebc/ebc_disas.c
Labels: RzAsm-Disassembler

Fix dead assignment librz/bin/format/mach0/mach0.c
  librz/bin/format/mach0/mach0.c
Labels: RzBin

Fix dead assignment librz/bin/format/pe/pe.c
  librz/bin/format/pe/pe.c
Labels: RzBin

Fix dead assignment librz/asm/asm.c
  librz/asm/asm.c
Labels: none

Update sdb revision
  subprojects/sdb.wrap
Labels: none

update to tree-sitter-0.18.0 and remove -static from meson
  meson.build
  subprojects/packagefiles/tree-sitter-0.18.0/meson.build
  subprojects/tree-sitter.wrap
Labels: none

Fix dead assignment librz/bin/format/pe/pe.c
  librz/bin/format/pe/pe.c
Labels: RzBin

Fix dead assignment librz/asm/arch/sh/gnu/sh-dis.c
  librz/asm/arch/sh/gnu/sh-dis.c
Labels: RzAsm-Disassembler

Fix dead assignment librz/asm/asm.c
  librz/asm/asm.c
Labels: none

Fix dead assignment librz/bin/format/mach0/mach0.c
  librz/bin/format/mach0/mach0.c
Labels: RzBin

Fix dead assignment librz/asm/arch/pyc/pyc_dis.c
  librz/asm/arch/pyc/pyc_dis.c
Labels: RzAsm-Disassembler

Fix dead assignment librz/asm/arch/ebc/ebc_disas.c
  librz/asm/arch/ebc/ebc_disas.c
Labels: RzAsm-Disassembler

Update meson.build
  meson.build
Labels: none

Remove git submodules
  .gitmodules
  meson.build
  shlr/capstone-patches/.oobfix-X86_insn_reg_intel.patch
  shlr/capstone-patches/capstone-calloc.patch
  shlr/capstone-patches/fix-x86-16.patch
  shlr/capstone-patches/sparc-crash.patch
  shlr/capstone-patches/sstream-null.patch
Labels: none

Provide an example of how packager/packager_version are shown
  doc/PACKAGERS.md
Labels: documentation

Search for static dependencies/libraries when static_runtime is set (#473)
  librz/debug/meson.build
  librz/util/meson.build
  meson.build
  meson_options.txt
  shlr/meson.build
  shlr/ptrace-wrap/meson.build
Labels: RzDebug, RzUtil

Remove references to git submodules
  .appveyor.yml
  .github/workflows/ci.yml
  .github/workflows/clang-analysis.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/tcc.yml
  BUILDING.md
  Dockerfile
  README.md
  doc/PACKAGERS.md
Labels: documentation, infrastructure

Rename the macro RBININFO to RZBININFO in cmd_info.c ##refactor
  librz/core/cmd_info.c
Labels: RzCore, command

Use OLDINPUT command descriptor for =! to allow passing cmd to IO plugin (#483)
  librz/core/cmd_descs.c
  librz/core/cmd_descs.h
  librz/core/cmd_descs.yaml
  librz/core/cmd_remote.c
Labels: RzCore, command

Don't treat warnings as errors for now
  .github/workflows/ci.yml
Labels: infrastructure

Fix -Wformat-truncation warnings in asan build
  test/unit/minunit.h
Labels: rz_test

Don't evaluate macro parameters multiple times
  test/unit/minunit.h
Labels: rz_test

Add a `?` in the help message of `a` to show that `ab?` exists
  librz/core/cmd_analysis.c
Labels: RzCore, command

Remove `[b]` and added a title to `ab?` submenu
  librz/core/cmd_analysis.c
Labels: RzCore, command

.github/labeler.yml:

rizin:
  - binrz/rizin/*
  - librz/main/rizin.c

rz_bin:
  - binrz/rz_bin/*
  - librz/main/rz_bin.c

rz_diff:
  - binrz/rz_diff/*
  - librz/main/rz_diff.c

rz_find:
  - binrz/rz_find/*
  - librz/main/rz_find.c

rz_gg:
  - binrz/rz_gg/*
  - librz/main/rz_gg.c

rz_hash:
  - binrz/rz_hash/*
  - librz/main/rz_hash.c

rz_run:
  - binrz/rz_run/*
  - librz/main/rz_run.c

rz_asm:
  - binrz/rz_asm/*
  - librz/main/rz_asm.c

rz_ax:
  - binrz/rz_ax/*
  - librz/main/rz_ax.c

RzAnalysis:
  - librz/analysis/**/*

RzAsm-Assembler:
  - librz/asm/**/*ass*
  - librz/asm/asm_x86_nz.c

RzAsm-Disassembler:
  - librz/asm/**/*dis*

RzBin:
  - librz/bin/**/*

RzBreakpoint:
  - librz/bp/**/*

RzConfig:
  - librz/config/**/*

RzCons:
  - librz/cons/**/*

RzCore:
  - librz/core/**/*

RzCrypto:
  - librz/crypto/**/*

RzDebug:
  - librz/debug/**/*

RzEgg:
  - librz/egg/**/*

RzFlag:
  - librz/flag/**/*

RzHash:
  - librz/hash/**/*

RzIO:
  - librz/io/**/*

RzLang:
  - librz/lang/**/*

RzMagic:
  - librz/magic/**/*

RzParse:
  - librz/parse/**/*

RReg:
  - librz/reg/**/*

RzSearch:
  - librz/search/**/*

RzSocket:
  - librz/socket/**/*

RzSyscall:
  - librz/syscall/**/*

RzUtil:
  - librz/util/**/*

API:
  - librz/include/**/*

buildsystem:
  - sys/**/*

command:
  - librz/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - librz/analysis/esil*

gdb:
  - shlr/gdb/**/*
  - librz/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

rz_test:
  - binrz/rz_test/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - librz/io/p/io_winkd.c

visual:
  - librz/core/visual.c

panel:
  - librz/core/panels.c
