Repository rizinorg/rizin, changes with the labels that .github/labeler.yml gives for each.
All labels: rizin, rz_bin, rz_diff, rz_find, rz_gg, rz_hash, rz_run, rz_asm, rz_ax, RzAnalysis, RzAsm-Assembler, RzAsm-Disassembler, RzBin, RzBreakpoint, RzConfig, RzCons, RzCore, RzCrypto, RzDebug, RzEgg, RzFlag, RzHash, RzIO, RzLang, RzMagic, RzParse, RReg, RzSearch, RzSocket, RzSyscall, RzUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, rz_test, java, WinDbg, visual, panel

Fix dead assignment librz/core/cmd_print.c
  librz/core/cmd_print.c
Labels: RzCore, command

Fix dead assignment librz/core/cmd_search_rop.c
  librz/core/cmd_search_rop.c
Labels: RzCore, command

Fix dead assignment librz/core/cmd_search.c
  librz/core/cmd_search.c
Labels: RzCore, command

Fix dead assignment librz/core/cmd_search_rop.c
  librz/core/cmd_search_rop.c
Labels: RzCore, command

Fix dead assignment librz/core/cmd_print.c
  librz/core/cmd_print.c
Labels: RzCore, command

Fix dead assignment librz/core/disasm.c
  librz/core/disasm.c
Labels: RzCore

Fix dead assignment librz/core/cmd_search.c
  librz/core/cmd_search.c
Labels: RzCore, command

Fix dead assignment librz/core/cmd_debug.c
  librz/core/cmd_debug.c
Labels: RzCore, command

Fix dead assignment librz/core/cmd_open.c
  librz/core/cmd_open.c
Labels: RzCore, command

Fix dead assignment librz/core/cmd_info.c
  librz/core/cmd_info.c
Labels: RzCore, command

Fix dead assignment librz/core/core.c
  librz/core/core.c
Labels: RzCore

Fix dead assignment librz/core/panels.c
  librz/core/panels.c
Labels: RzCore, panel

Fix dead assignment librz/core/cmd_cmp.c
  librz/core/cmd_cmp.c
Labels: RzCore, command

Refacto function rz_str_word_count (librz/util/str.c)
  librz/util/str.c
Labels: RzUtil

Fix dead nested assignment librz/util/subprocess.c
  librz/util/subprocess.c
Labels: RzUtil

Fix dead nested assignment librz/util/str.c
  librz/util/str.c
Labels: RzUtil

Fix dead nested assignment shlr/gdb/src/gdbclient/xml.c
  shlr/gdb/src/gdbclient/xml.c
Labels: gdb

Fix dead nested assignment shlr/qnx/src/core.c
  shlr/qnx/src/core.c
Labels: none

Fix dead nested assignment shlr/gdb/src/gdbclient/core.c
  shlr/gdb/src/gdbclient/core.c
Labels: gdb

Fix dead nested assignment shlr/gdb/src/gdbserver/core.c
  shlr/gdb/src/gdbserver/core.c
Labels: gdb

Remove ifdef TEST
  librz/bin/demangle.c
  librz/util/calc.c
Labels: RzBin, RzUtil

Fix dead nested assignment shlr/qnx/src/core.c
  shlr/qnx/src/core.c
Labels: none

Fix dead nested assignment librz/util/subprocess.c
  librz/util/subprocess.c
Labels: RzUtil

Fix dead nested assignment shlr/gdb/src/gdbclient/xml.c
  shlr/gdb/src/gdbclient/xml.c
Labels: gdb

Refacto function rz_str_word_count (librz/util/str.c)
  librz/util/str.c
Labels: RzUtil

Fix dead nested assignment shlr/gdb/src/gdbserver/core.c
  shlr/gdb/src/gdbserver/core.c
Labels: gdb

Fix dead nested assignment librz/util/str.c
  librz/util/str.c
Labels: RzUtil

Fix dead nested assignment shlr/gdb/src/gdbclient/core.c
  shlr/gdb/src/gdbclient/core.c
Labels: gdb

Remove ifdef JAYRO
  librz/analysis/fcn.c
  librz/core/cmd_analysis.c
Labels: RzAnalysis, RzCore, command

Update sdb subproject (#536)
  subprojects/sdb.wrap
Labels: none

Remove ifdef TEST (#537)
  librz/bin/demangle.c
  librz/util/calc.c
Labels: RzBin, RzUtil

Fix assigned value is undefined librz/analysis/p/analysis_arm_gnu.c
  librz/analysis/p/analysis_arm_gnu.c
Labels: RzAnalysis

Fix assigned value is undefined librz/debug/p/native/linux/linux_debug.c
  librz/debug/p/native/linux/linux_debug.c
Labels: RzDebug

Fix assigned value is undefined librz/bin/mangling/cxx/cp-demangle.c
  librz/bin/mangling/cxx/cp-demangle.c
Labels: RzBin

Fix assigned value is undefined librz/util/print.c
  librz/util/print.c
Labels: RzUtil

Fix assigned value is undefined librz/main/rz_diff.c
  librz/main/rz_diff.c
Labels: rz_diff

Fix assigned value is undefined shlr/gdb/src/utils.c
  shlr/gdb/src/utils.c
Labels: gdb

Fix assigned value is undefined shlr/tcc/tccgen.c
  shlr/tcc/tccgen.c
Labels: none

Remove ifdef JAYRO (#538)
  librz/analysis/fcn.c
  librz/core/cmd_analysis.c
Labels: RzAnalysis, RzCore, command

added -f/--file to clang format for simpler run.
  sys/clang-format.py
Labels: buildsystem

.github/labeler.yml:

rizin:
  - binrz/rizin/*
  - librz/main/rizin.c

rz_bin:
  - binrz/rz_bin/*
  - librz/main/rz_bin.c

rz_diff:
  - binrz/rz_diff/*
  - librz/main/rz_diff.c

rz_find:
  - binrz/rz_find/*
  - librz/main/rz_find.c

rz_gg:
  - binrz/rz_gg/*
  - librz/main/rz_gg.c

rz_hash:
  - binrz/rz_hash/*
  - librz/main/rz_hash.c

rz_run:
  - binrz/rz_run/*
  - librz/main/rz_run.c

rz_asm:
  - binrz/rz_asm/*
  - librz/main/rz_asm.c

rz_ax:
  - binrz/rz_ax/*
  - librz/main/rz_ax.c

RzAnalysis:
  - librz/analysis/**/*

RzAsm-Assembler:
  - librz/asm/**/*ass*
  - librz/asm/asm_x86_nz.c

RzAsm-Disassembler:
  - librz/asm/**/*dis*

RzBin:
  - librz/bin/**/*

RzBreakpoint:
  - librz/bp/**/*

RzConfig:
  - librz/config/**/*

RzCons:
  - librz/cons/**/*

RzCore:
  - librz/core/**/*

RzCrypto:
  - librz/crypto/**/*

RzDebug:
  - librz/debug/**/*

RzEgg:
  - librz/egg/**/*

RzFlag:
  - librz/flag/**/*

RzHash:
  - librz/hash/**/*

RzIO:
  - librz/io/**/*

RzLang:
  - librz/lang/**/*

RzMagic:
  - librz/magic/**/*

RzParse:
  - librz/parse/**/*

RReg:
  - librz/reg/**/*

RzSearch:
  - librz/search/**/*

RzSocket:
  - librz/socket/**/*

RzSyscall:
  - librz/syscall/**/*

RzUtil:
  - librz/util/**/*

API:
  - librz/include/**/*

buildsystem:
  - sys/**/*

command:
  - librz/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - librz/analysis/esil*

gdb:
  - shlr/gdb/**/*
  - librz/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

rz_test:
  - binrz/rz_test/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - librz/io/p/io_winkd.c

visual:
  - librz/core/visual.c

panel:
  - librz/core/panels.c
