Repository rizinorg/rizin, changes with the labels that .github/labeler.yml gives for each.
All labels: rizin, rz_bin, rz_diff, rz_find, rz_gg, rz_hash, rz_run, rz_asm, rz_ax, RzAnalysis, RzAsm-Assembler, RzAsm-Disassembler, RzBin, RzBreakpoint, RzConfig, RzCons, RzCore, RzCrypto, RzDebug, RzEgg, RzFlag, RzHash, RzIO, RzLang, RzMagic, RzParse, RReg, RzSearch, RzSocket, RzSyscall, RzUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, rz_test, java, WinDbg, visual, panel

Meson: Escape paths on Windows (#444)
  meson.build
Labels: none

Replace SdbMini with HtUU in rz_core_analysis_paths() (#443)
  librz/core/canalysis.c
Labels: RzCore

Implement history filtering for dietline (#435)
  librz/cons/dietline.c
  librz/include/rz_cons.h
Labels: RzCons, API

Remove sys/clang-format-diff.py (#442)
  DEVELOPERS.md
  sys/clang-format-diff.py
Labels: buildsystem

Update DEVELOPERS.md based on clang-format switch
  DEVELOPERS.md
Labels: none

Update sdb submodule
  meson.build
Labels: none

Update makefile
  librz/util/sdb.mk
Labels: RzUtil

Fix tests
  librz/flag/flag.c
  test/db/esil/x86_64
Labels: RzFlag, rz_test

Remove "Do not use C99 var decl" item
  DEVELOPERS.md
Labels: none

Update sdb submodule (#446)
  librz/util/sdb.mk
  meson.build
Labels: RzUtil

Update DEVELOPERS.md due to use of clang-format (#445)
  DEVELOPERS.md
Labels: none

COFF: handle empty sections
  librz/bin/format/coff/coff.c
Labels: RzBin

COFF: set zero size for label-symbols
  librz/bin/p/bin_coff.c
Labels: RzBin

COFF: handle empty sections (#447)
  librz/bin/format/coff/coff.c
Labels: RzBin

Fix dead increment librz/io/p/io_gdb.c
  librz/io/p/io_gdb.c
Labels: RzIO, gdb

Fix dead increment librz/util/range.c
  librz/util/range.c
Labels: RzUtil

Fix dead increment librz/core/yank.c
  librz/core/yank.c
Labels: RzCore

Fix dead increment shlr/java/class.c
  shlr/java/class.c
Labels: java

Fix dead increment librz/search/bytepat.c
  librz/search/bytepat.c
Labels: RzSearch

Fix dead increment librz/util/print.c
  librz/util/print.c
Labels: RzUtil

Fix dead increment librz/util/sys.c
  librz/util/sys.c
Labels: RzUtil

Fix dead increment librz/search/bytepat.c
  librz/search/bytepat.c
Labels: RzSearch

Fix dead increment shlr/java/class.c
  shlr/java/class.c
Labels: java

Fix dead increment librz/core/yank.c
  librz/core/yank.c
Labels: RzCore

Fix dead increment librz/io/p/io_gdb.c
  librz/io/p/io_gdb.c
Labels: RzIO, gdb

Fix dead increment librz/util/range.c
  librz/util/range.c
Labels: RzUtil

Fix dead increment librz/util/sys.c
  librz/util/sys.c
Labels: RzUtil

Fix dead increment librz/util/print.c
  librz/util/print.c
Labels: RzUtil

Use rz_core_flag_get_by_spaces() in getFunctionName()
  librz/core/canalysis.c
Labels: RzCore

Use rz_core_flag_get_by_spaces() in getFunctionName() (#449)
  librz/core/canalysis.c
Labels: RzCore

Consider parentheses args as $.args
  shlr/rizin-shell-parser/corpus/simple_commands.txt
  shlr/rizin-shell-parser/grammar.js
  shlr/rizin-shell-parser/package-lock.json
  shlr/rizin-shell-parser/package.json
  shlr/rizin-shell-parser/src/grammar.json
  shlr/rizin-shell-parser/src/node-types.json
  shlr/rizin-shell-parser/src/parser.c
  test/db/cmd/cmd_help
Labels: rz_test

Make Tiny C Compiler `configure` script executable again
  .github/workflows/tcc.yml
Labels: infrastructure

Make Tiny C Compiler `configure` script executable again (#451)
  .github/workflows/tcc.yml
Labels: infrastructure

#include <errno.h> explicitly in rz_types.h
  librz/include/rz_types.h
Labels: API

COFF: set zero size for label-symbols (#448)
  librz/bin/p/bin_coff.c
Labels: RzBin

#include <errno.h> explicitly in rz_types.h (#452)
  librz/include/rz_types.h
Labels: API

Suppress -Wunused-result for test/unit/auxiliary code
  test/unit/auxiliary/meson.build
Labels: rz_test

Consider all functions in afl. and print error if no function is there
  librz/core/canalysis.c
Labels: RzCore

Use HtUP for storing cache of class methods
  librz/bin/bobj.c
  librz/core/canalysis.c
  librz/include/rz_bin.h
Labels: RzBin, RzCore, API

Consider parentheses args as $.args (#450)
  shlr/rizin-shell-parser/corpus/simple_commands.txt
  shlr/rizin-shell-parser/grammar.js
  shlr/rizin-shell-parser/package-lock.json
  shlr/rizin-shell-parser/package.json
  shlr/rizin-shell-parser/src/grammar.json
  shlr/rizin-shell-parser/src/node-types.json
  shlr/rizin-shell-parser/src/parser.c
  test/db/cmd/cmd_help
Labels: rz_test

.github/labeler.yml:

rizin:
  - binrz/rizin/*
  - librz/main/rizin.c

rz_bin:
  - binrz/rz_bin/*
  - librz/main/rz_bin.c

rz_diff:
  - binrz/rz_diff/*
  - librz/main/rz_diff.c

rz_find:
  - binrz/rz_find/*
  - librz/main/rz_find.c

rz_gg:
  - binrz/rz_gg/*
  - librz/main/rz_gg.c

rz_hash:
  - binrz/rz_hash/*
  - librz/main/rz_hash.c

rz_run:
  - binrz/rz_run/*
  - librz/main/rz_run.c

rz_asm:
  - binrz/rz_asm/*
  - librz/main/rz_asm.c

rz_ax:
  - binrz/rz_ax/*
  - librz/main/rz_ax.c

RzAnalysis:
  - librz/analysis/**/*

RzAsm-Assembler:
  - librz/asm/**/*ass*
  - librz/asm/asm_x86_nz.c

RzAsm-Disassembler:
  - librz/asm/**/*dis*

RzBin:
  - librz/bin/**/*

RzBreakpoint:
  - librz/bp/**/*

RzConfig:
  - librz/config/**/*

RzCons:
  - librz/cons/**/*

RzCore:
  - librz/core/**/*

RzCrypto:
  - librz/crypto/**/*

RzDebug:
  - librz/debug/**/*

RzEgg:
  - librz/egg/**/*

RzFlag:
  - librz/flag/**/*

RzHash:
  - librz/hash/**/*

RzIO:
  - librz/io/**/*

RzLang:
  - librz/lang/**/*

RzMagic:
  - librz/magic/**/*

RzParse:
  - librz/parse/**/*

RReg:
  - librz/reg/**/*

RzSearch:
  - librz/search/**/*

RzSocket:
  - librz/socket/**/*

RzSyscall:
  - librz/syscall/**/*

RzUtil:
  - librz/util/**/*

API:
  - librz/include/**/*

buildsystem:
  - sys/**/*

command:
  - librz/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - librz/analysis/esil*

gdb:
  - shlr/gdb/**/*
  - librz/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

rz_test:
  - binrz/rz_test/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - librz/io/p/io_winkd.c

visual:
  - librz/core/visual.c

panel:
  - librz/core/panels.c
