Repository rizinorg/rizin, changes with the labels that .github/labeler.yml gives for each.
All labels: rizin, rz_bin, rz_diff, rz_find, rz_gg, rz_hash, rz_run, rz_asm, rz_ax, RzAnalysis, RzAsm-Assembler, RzAsm-Disassembler, RzBin, RzBreakpoint, RzConfig, RzCons, RzCore, RzCrypto, RzDebug, RzEgg, RzFlag, RzHash, RzIO, RzLang, RzMagic, RzParse, RReg, RzSearch, RzSocket, RzSyscall, RzUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, rz_test, java, WinDbg, visual, panel

Provide both x86/x64 windows installers (#548)
  .github/vsdevenv.ps1
  .github/workflows/ci.yml
Labels: infrastructure

Use defines for the values used while quitting and removed code comments
  librz/core/cmd_quit.c
Labels: RzCore, command

Use clang-format on cmd_quit.c
  librz/core/cmd_quit.c
Labels: RzCore, command

Remove the configuration variable `graph.web`
  librz/core/cconfig.c
  librz/core/cmd_analysis.c
  librz/core/panels.c
Labels: RzCore, command, panel

Refactor to use API in visual panels mode
  librz/core/cdebug.c
  librz/core/cmd_debug.c
  librz/core/cmd_eval.c
  librz/core/core_private.h
  librz/core/panels.c
  librz/core/visual.c
Labels: RzCore, command, visual, panel

core/agraph: reintroduce shift-tab to move to prev node (#553)
  librz/core/agraph.c
Labels: RzCore

Provide both x86/x64 windows installers (#548)
  .github/vsdevenv.ps1
  .github/workflows/ci.yml
Labels: infrastructure

Fix errors regarding not using the bracket
  librz/core/cmd_analysis.c
Labels: RzCore, command

Refactor to use API in visual panels mode (#556)
  librz/core/cdebug.c
  librz/core/cmd_debug.c
  librz/core/cmd_eval.c
  librz/core/core_private.h
  librz/core/panels.c
  librz/core/visual.c
Labels: RzCore, command, visual, panel

Put `args_str:` for `q` as `options:`
  librz/core/cmd_descs.yaml
Labels: RzCore, command

Group `qyy` and `qyn` under `qy` and `qny` and `qnn` under `qn`
  librz/core/cmd_descs.c
  librz/core/cmd_descs.yaml
Labels: RzCore, command

Tweak options of `quit_with_preference` again
  librz/core/cmd_descs.yaml
Labels: RzCore, command

Update cmd_descs.c according to the updated options for args
  librz/core/cmd_descs.c
Labels: RzCore, command

Change the overall summary of `q` according to its arguments
  librz/core/cmd_descs.yaml
Labels: RzCore, command

Update cmd_descs.c according to the updated summary
  librz/core/cmd_descs.c
Labels: RzCore, command

aaef: Add help msg and x86_32 test
  librz/core/cmd_analysis.c
  test/db/analysis/x86_32
Labels: RzCore, command, rz_test

Remove the configuration variable `graph.web` (#567)
  librz/core/cconfig.c
  librz/core/cmd_analysis.c
  librz/core/panels.c
Labels: RzCore, command, panel

Use gzip when compressing android release archives
  .github/workflows/ci.yml
Labels: infrastructure

Convert `q` commands to newshell (#525) ##commands
  librz/core/cmd_descs.c
  librz/core/cmd_descs.h
  librz/core/cmd_descs.yaml
  librz/core/cmd_quit.c
Labels: RzCore, command

Unfold aae in aaef help
  librz/core/cmd_analysis.c
Labels: RzCore, command

aaef: Add help msg and x86_32 test (#568)
  librz/core/cmd_analysis.c
  test/db/analysis/x86_32
Labels: RzCore, command, rz_test

Use gzip when compressing android release archives (#575)
  .github/workflows/ci.yml
Labels: infrastructure

Use gzip when compressing android release archives (#575)
  .github/workflows/ci.yml
Labels: infrastructure

core: =!= accept a argument and check cmdremote when executing commands (#565)
  librz/core/cmd.c
  librz/core/cmd_descs.c
  librz/core/cmd_descs.yaml
  librz/core/cmd_remote.c
Labels: RzCore, command

Refactor to use API in visual mode
  librz/core/agraph.c
  librz/core/cdebug.c
  librz/core/cmd_seek.c
  librz/core/core_private.h
  librz/core/panels.c
  librz/core/visual.c
Labels: RzCore, command, visual, panel

Refactor to use API in visual mode
  librz/core/agraph.c
  librz/core/cdebug.c
  librz/core/cmd_seek.c
  librz/core/core_private.h
  librz/core/panels.c
  librz/core/visual.c
Labels: RzCore, command, visual, panel

removed java/main.c
  shlr/java/main.c
Labels: java

Removed DsoJson
  librz/core/p/core_java.c
  shlr/java/class.c
  shlr/java/class.h
  shlr/java/dsojson.c
  shlr/java/dsojson.h
  shlr/meson.build
  test/db/analysis/java
Labels: RzCore, rz_test, java

Add ignore paths codeql, remove CI warnings
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql-config.yml
Labels: infrastructure

fixed access_flags introduced bug.
  shlr/java/class.c
  test/db/analysis/java
Labels: rz_test, java

Add ignore paths codeql, remove CI warnings
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql-config.yml
Labels: infrastructure

Simplified convert_string
  shlr/java/class.c
Labels: java

Add paths ignore (clang, codeql) with jq
  .github/workflows/clang-analysis.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql-config.yml
Labels: infrastructure

Fix #584 - Memleak
  librz/config/config.c
Labels: RzConfig

refactoring code.
  librz/core/p/core_java.c
  shlr/java/class.c
  shlr/java/class.h
Labels: RzCore, java

fixed invalid json.
  shlr/java/class.c
  test/db/analysis/java
Labels: rz_test, java

Add paths ignore (clang, codeql) with jq
  .github/workflows/clang-analysis.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql-config.yml
Labels: infrastructure

Move yxml to subprojects
  librz/bin/format/xnu/rz_cf_dict.c
  librz/bin/meson.build
  meson.build
  shlr/meson.build
  shlr/yxml/yxml.c
  shlr/yxml/yxml.h
  subprojects/packagefiles/yxml/meson.build
  subprojects/yxml.wrap
  sys/check_meson_subproject.py
Labels: RzBin, buildsystem

Make sure openssl is used in libzip when available
  subprojects/packagefiles/libzip-1.7.3/meson.build
Labels: none

Add zlib wrap and improve check_meson_subproject script
  meson.build
  shlr/meson.build
  subprojects/packagefiles/libzip-1.7.3/meson.build
  subprojects/packagefiles/zlib-1.2.11/meson.build
  subprojects/zlib.wrap
  sys/check_meson_subproject.py
Labels: buildsystem

.github/labeler.yml:

rizin:
  - binrz/rizin/*
  - librz/main/rizin.c

rz_bin:
  - binrz/rz_bin/*
  - librz/main/rz_bin.c

rz_diff:
  - binrz/rz_diff/*
  - librz/main/rz_diff.c

rz_find:
  - binrz/rz_find/*
  - librz/main/rz_find.c

rz_gg:
  - binrz/rz_gg/*
  - librz/main/rz_gg.c

rz_hash:
  - binrz/rz_hash/*
  - librz/main/rz_hash.c

rz_run:
  - binrz/rz_run/*
  - librz/main/rz_run.c

rz_asm:
  - binrz/rz_asm/*
  - librz/main/rz_asm.c

rz_ax:
  - binrz/rz_ax/*
  - librz/main/rz_ax.c

RzAnalysis:
  - librz/analysis/**/*

RzAsm-Assembler:
  - librz/asm/**/*ass*
  - librz/asm/asm_x86_nz.c

RzAsm-Disassembler:
  - librz/asm/**/*dis*

RzBin:
  - librz/bin/**/*

RzBreakpoint:
  - librz/bp/**/*

RzConfig:
  - librz/config/**/*

RzCons:
  - librz/cons/**/*

RzCore:
  - librz/core/**/*

RzCrypto:
  - librz/crypto/**/*

RzDebug:
  - librz/debug/**/*

RzEgg:
  - librz/egg/**/*

RzFlag:
  - librz/flag/**/*

RzHash:
  - librz/hash/**/*

RzIO:
  - librz/io/**/*

RzLang:
  - librz/lang/**/*

RzMagic:
  - librz/magic/**/*

RzParse:
  - librz/parse/**/*

RReg:
  - librz/reg/**/*

RzSearch:
  - librz/search/**/*

RzSocket:
  - librz/socket/**/*

RzSyscall:
  - librz/syscall/**/*

RzUtil:
  - librz/util/**/*

API:
  - librz/include/**/*

buildsystem:
  - sys/**/*

command:
  - librz/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - librz/analysis/esil*

gdb:
  - shlr/gdb/**/*
  - librz/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

rz_test:
  - binrz/rz_test/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - librz/io/p/io_winkd.c

visual:
  - librz/core/visual.c

panel:
  - librz/core/panels.c
