Repository rizinorg/rizin, changes with the labels that .github/labeler.yml gives for each.
All labels: rizin, rz_bin, rz_diff, rz_find, rz_gg, rz_hash, rz_run, rz_asm, rz_ax, RzAnalysis, RzAsm-Assembler, RzAsm-Disassembler, RzBin, RzBreakpoint, RzConfig, RzCons, RzCore, RzCrypto, RzDebug, RzEgg, RzFlag, RzHash, RzIO, RzLang, RzMagic, RzParse, RReg, RzSearch, RzSocket, RzSyscall, RzUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, rz_test, java, WinDbg, visual, panel

Fix missing tests
  test/db/analysis/arm64
  test/db/analysis/x86_64
  test/db/cmd/cmd_i
  test/db/formats/dex
  test/db/formats/elf/elf-riscv64
  test/db/formats/elf/simple
  test/db/formats/mangling/bin
  test/db/formats/mdmp
  test/db/formats/pe/delayimports
  test/db/formats/pe/export_names
  test/db/formats/pe/imports
  test/db/formats/xbe
  test/db/tools/rz_bin
Labels: rz_test

Fixes for jump table ##analysis
  librz/analysis/block.c
  librz/analysis/fcn.c
  librz/analysis/jmptbl.c
  librz/include/rz_analysis.h
  test/db/analysis/path
  test/db/analysis/x86_32
  test/db/analysis/x86_64
  test/db/cmd/cmd_ab
  test/db/cmd/cmd_af
  test/db/cmd/cmd_zignature
Labels: RzAnalysis, API, rz_test

Don't create flags at UT64_MAX
  librz/core/cbin.c
  librz/flag/flag.c
Labels: RzCore, RzFlag

Try to fix workflow syntax
  .github/workflows/ci.yml
Labels: infrastructure

Enable CI on stable branch
  .github/workflows/ci.yml
Labels: infrastructure

Use HtUP for storing ESIL interrupt handlers
  librz/analysis/esil_interrupt.c
  librz/core/cmd_analysis.c
  librz/include/rz_analysis.h
Labels: RzAnalysis, RzCore, API, command, ESIL

Try to fix workflow syntax
  .github/workflows/ci.yml
Labels: infrastructure

Try to fix workflow syntax
  .github/workflows/ci.yml
Labels: infrastructure

Fix names in the release job
  .github/workflows/ci.yml
Labels: infrastructure

Fix names in the release job
  .github/workflows/ci.yml
Labels: infrastructure

Use the right path for rizin-src tarball
  .github/workflows/ci.yml
Labels: infrastructure

Use the right path for rizin-src tarball
  .github/workflows/ci.yml
Labels: infrastructure

Use rizin-src.tar.xz in rzpipe CI job
  .github/workflows/ci.yml
Labels: infrastructure

Use rizin-src.tar.xz in rzpipe CI job
  .github/workflows/ci.yml
Labels: infrastructure

Version 0.1.0
  configure
  configure.acr
Labels: none

Start 0.2.0 development cycle
  configure
  configure.acr
Labels: none

Extend warning when debug on macOS fails
  librz/io/p/io_mach.c
Labels: RzIO

Use pj in core ##refactor (#18267)
  librz/core/cmd_print.c
  librz/core/disasm.c
  librz/core/yank.c
  test/db/cmd/cmd_pd
  test/db/esil/x86_32
  test/db/formats/elf/crash
  test/db/formats/elf/helloworld-gcc-elf
  test/db/json/json1
  test/db/json/json4
Labels: RzCore, command, rz_test

Use RzStrBuf for RzAnalysisEsil::current_opstr (#410)
  librz/analysis/esil.c
  librz/analysis/esil_dfg.c
  librz/include/rz_analysis.h
Labels: RzAnalysis, API, ESIL

Use pj in core ##refactor (#18267)
  librz/core/cmd_print.c
  librz/core/disasm.c
  librz/core/yank.c
  test/db/cmd/cmd_pd
  test/db/esil/x86_32
  test/db/formats/elf/crash
  test/db/formats/elf/helloworld-gcc-elf
  test/db/json/json1
  test/db/json/json4
Labels: RzCore, command, rz_test

Merge pull request #422 from rizinorg/shorter-clang-format-diff-invocation
  sys/clang-format-diff.py
Labels: buildsystem

sys/clang-format.py: Require clang-format 11
  sys/clang-format.py
Labels: buildsystem

RzTable: replace UT64MAX with dashes for X specifier
  librz/core/cbin.c
  librz/util/table.c
  test/db/analysis/arm64
  test/db/analysis/x86_64
  test/db/cmd/cmd_i
  test/db/formats/ar
  test/db/formats/coff
  test/db/formats/dex
  test/db/formats/elf/elf-riscv64
  test/db/formats/elf/simple
  test/db/formats/elf/symbols
  test/db/formats/le
  test/db/formats/mach0/fatmach0
  test/db/formats/mach0/mach0
  test/db/formats/mangling/bin
  test/db/formats/mdmp
  test/db/formats/ne
  test/db/formats/omf
  test/db/formats/pe/delayimports
  test/db/formats/pe/export_names
  test/db/formats/pe/imports
  test/db/formats/xbe
  test/db/tools/rz_bin
Labels: RzCore, RzUtil, rz_test

Fix crash with `el` without args
  librz/core/cmd_eval.c
Labels: RzCore, command

Implement history filtering for dietline
  librz/cons/dietline.c
  librz/include/rz_cons.h
Labels: RzCons, API

Fix crash with `el` without args (#434)
  librz/core/cmd_eval.c
Labels: RzCore, command

Fix double-free bug
  librz/analysis/esil_interrupt.c
Labels: RzAnalysis, ESIL

Fix crash with `es` without args
  librz/core/cmd_eval.c
Labels: RzCore, command

Fix crash with `es` without args (#436)
  librz/core/cmd_eval.c
Labels: RzCore, command

Prevent FD_ZERO formatting from mangling by clang-format
  librz/include/sflib/common/sftypes.h
Labels: API

Fix memleaks in ESIL op handlers
  librz/analysis/esil.c
Labels: RzAnalysis, ESIL

Use /* clang-format off/on */ instead
  librz/include/sflib/common/sftypes.h
Labels: API

Prevent FD_ZERO formatting from mangling by clang-format (#437)
  librz/include/sflib/common/sftypes.h
Labels: API

Fix memleaks in ESIL op handlers (#438)
  librz/analysis/esil.c
Labels: RzAnalysis, ESIL

Fix free function
  librz/analysis/esil_interrupt.c
Labels: RzAnalysis, ESIL

Remove sys/clang-format-diff.py
  sys/clang-format-diff.py
Labels: buildsystem

Update DEVELOPERS.md
  DEVELOPERS.md
Labels: none

Use HtUP for storing ESIL interrupt handlers (#412)
  librz/analysis/esil_interrupt.c
  librz/core/cmd_analysis.c
  librz/include/rz_analysis.h
Labels: RzAnalysis, RzCore, API, command, ESIL

Replace SdbMini with HtUU in rz_core_analysis_paths()
  librz/core/canalysis.c
Labels: RzCore

Meson: Escape paths on Windows
  meson.build
Labels: none

.github/labeler.yml:

rizin:
  - binrz/rizin/*
  - librz/main/rizin.c

rz_bin:
  - binrz/rz_bin/*
  - librz/main/rz_bin.c

rz_diff:
  - binrz/rz_diff/*
  - librz/main/rz_diff.c

rz_find:
  - binrz/rz_find/*
  - librz/main/rz_find.c

rz_gg:
  - binrz/rz_gg/*
  - librz/main/rz_gg.c

rz_hash:
  - binrz/rz_hash/*
  - librz/main/rz_hash.c

rz_run:
  - binrz/rz_run/*
  - librz/main/rz_run.c

rz_asm:
  - binrz/rz_asm/*
  - librz/main/rz_asm.c

rz_ax:
  - binrz/rz_ax/*
  - librz/main/rz_ax.c

RzAnalysis:
  - librz/analysis/**/*

RzAsm-Assembler:
  - librz/asm/**/*ass*
  - librz/asm/asm_x86_nz.c

RzAsm-Disassembler:
  - librz/asm/**/*dis*

RzBin:
  - librz/bin/**/*

RzBreakpoint:
  - librz/bp/**/*

RzConfig:
  - librz/config/**/*

RzCons:
  - librz/cons/**/*

RzCore:
  - librz/core/**/*

RzCrypto:
  - librz/crypto/**/*

RzDebug:
  - librz/debug/**/*

RzEgg:
  - librz/egg/**/*

RzFlag:
  - librz/flag/**/*

RzHash:
  - librz/hash/**/*

RzIO:
  - librz/io/**/*

RzLang:
  - librz/lang/**/*

RzMagic:
  - librz/magic/**/*

RzParse:
  - librz/parse/**/*

RReg:
  - librz/reg/**/*

RzSearch:
  - librz/search/**/*

RzSocket:
  - librz/socket/**/*

RzSyscall:
  - librz/syscall/**/*

RzUtil:
  - librz/util/**/*

API:
  - librz/include/**/*

buildsystem:
  - sys/**/*

command:
  - librz/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - librz/analysis/esil*

gdb:
  - shlr/gdb/**/*
  - librz/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

rz_test:
  - binrz/rz_test/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - librz/io/p/io_winkd.c

visual:
  - librz/core/visual.c

panel:
  - librz/core/panels.c
