Repository rizinorg/rizin, changes with the labels that .github/labeler.yml gives for each.
All labels: rizin, rz-bin, rz-diff, rz-find, rz-gg, rz-hash, rz-run, rz-asm, rz-ax, RzAnalysis, RzAsm-Assembler, RzAsm-Disassembler, RzBin, RzBreakpoint, RzConfig, RzCons, RzCore, RzCrypto, RzDebug, RzEgg, RzFlag, RzHash, RzIO, RzLang, RzMagic, RzParse, RReg, RzSearch, RzSocket, RzSyscall, RzType, RzUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, rz-test, java, WinDbg, visual, panel

Revert "Added support to swift demangling (#1595)"
  .gitignore
  librz/bin/blang.c
  librz/bin/bobj.c
  librz/bin/demangle.c
  librz/bin/filter.c
  librz/bin/format/java/class_bin.c
  librz/bin/i/private.h
  librz/bin/mangling/swift-sd.c
  librz/bin/mangling/swift.c
  librz/bin/meson.build
  librz/core/cbin.c
  librz/core/cconfig.c
  librz/core/cmd_info.c
  librz/debug/meson.build
  librz/include/rz_bin.h
  librz/main/rz-bin.c
  meson.build
  subprojects/libswift.wrap
  subprojects/libuv.wrap
  test/db/formats/mach0/swift
  test/db/formats/mangling/swift
  test/db/tools/rz_bin
Labels: RzBin, RzCore, RzDebug, API, command, rz-test

Use source_fallback_url when failing
  subprojects/libuv.wrap
  subprojects/lz4.wrap
  subprojects/zlib.wrap
Labels: none

Use source_fallback_url when failing (#1604)
  subprojects/libuv.wrap
  subprojects/lz4.wrap
  subprojects/zlib.wrap
Labels: none

Map 'obr' to 'oba' and 'ob-X'
  librz/core/cmd_open.c
Labels: RzCore, command

Patch relocs not once, but each time 'patch_relocs' is set.
  librz/bin/p/bin_elf.inc
  librz/core/cfile.c
Labels: RzBin, RzCore

Fixed OOB read in mach0.c
  librz/bin/format/mach0/mach0.c
Labels: RzBin

debug: generate coredump on netbsd.
  librz/core/cmd_debug.c
  librz/debug/p/debug_native.c
  librz/debug/p/debug_windbg.c
  librz/debug/p/native/bsd/bsd_debug.c
  librz/debug/p/native/bsd/bsd_debug.h
  librz/include/rz_debug.h
Labels: RzCore, RzDebug, API, command

Check for null before serializing strings
  librz/bp/serialize_bp.c
  librz/core/serialize_core.c
Labels: RzBreakpoint, RzCore

Add checks while loading the serialized breakpoint data
  librz/bp/serialize_bp.c
Labels: RzBreakpoint

Create xrefs for conditional jumps when `analysis.jmp.cref` is true
  librz/core/canalysis.c
  test/db/tools/rz_diff
Labels: RzCore, rz-test

Fix the tests
  test/db/analysis/x86_64
  test/db/formats/elf/elf-riscv64
  test/db/formats/mach0/objc
Labels: rz-test

debug: generate coredump on netbsd. (#1603)
  librz/core/cmd_debug.c
  librz/debug/p/debug_native.c
  librz/debug/p/debug_windbg.c
  librz/debug/p/native/bsd/bsd_debug.c
  librz/debug/p/native/bsd/bsd_debug.h
  librz/include/rz_debug.h
Labels: RzCore, RzDebug, API, command

Load types, callables, classes before functions and variables
  librz/analysis/serialize_analysis.c
Labels: RzAnalysis

Load bit-specific types before arch-specific
  librz/type/type.c
Labels: RzType

Fix atomic type format serialization
  librz/type/serialize_types.c
Labels: RzType

Bump Project version to 5, add `unknown_t`
  librz/core/project_migrate.c
  librz/include/rz_project.h
  test/db/cmd/project
  test/unit/test_project_migrate.c
Labels: RzCore, API, rz-test

Add serialize_debug.c to allow for better interface
  librz/core/serialize_core.c
  librz/debug/meson.build
  librz/debug/serialize_debug.c
  librz/include/rz_debug.h
Labels: RzCore, RzDebug, API

Remove `test_serialize_bp`
  test/unit/meson.build
  test/unit/test_serialize_bp.c
Labels: rz-test

Add null checks for function arguments
  librz/debug/serialize_debug.c
Labels: RzDebug

Add Doxygen documentation for serialization functions for debug and bp
  librz/bp/serialize_bp.c
  librz/debug/serialize_debug.c
Labels: RzBreakpoint, RzDebug

Remove `-` (open editor) from rzshell
  librz/core/cmd.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
Labels: RzCore, command

Load bit-specific types before arch-specific
  librz/type/type.c
Labels: RzType

Fix atomic type format serialization
  librz/type/serialize_types.c
Labels: RzType

Load types, callables, classes before functions and variables
  librz/analysis/serialize_analysis.c
Labels: RzAnalysis

Bump Project version to 5, add `unknown_t`
  librz/core/project_migrate.c
  librz/include/rz_project.h
  test/db/cmd/project
  test/unit/test_project_migrate.c
Labels: RzCore, API, rz-test

Add tips for storing project in compressed format and global variables
  doc/fortunes.tips
Labels: documentation

Use RZ_LOG_INFO instead of RZ_LOG_WARN for hash/gnu_hash sections
  librz/bin/format/elf/elf_symbols.c
Labels: RzBin

Add `RZ_BUILD_DEBUG` compile time definition for debug logging
  librz/include/rz_util/rz_log.h
  meson.build
Labels: API

.github/labeler.yml:

rizin:
  - binrz/rizin/*
  - librz/main/rizin.c

rz-bin:
  - binrz/rz-bin/*
  - librz/main/rz_bin.c

rz-diff:
  - binrz/rz-diff/*
  - librz/main/rz_diff.c

rz-find:
  - binrz/rz-find/*
  - librz/main/rz_find.c

rz-gg:
  - binrz/rz-gg/*
  - librz/main/rz_gg.c

rz-hash:
  - binrz/rz-hash/*
  - librz/main/rz_hash.c

rz-run:
  - binrz/rz-run/*
  - librz/main/rz_run.c

rz-asm:
  - binrz/rz-asm/*
  - librz/main/rz_asm.c

rz-ax:
  - binrz/rz-ax/*
  - librz/main/rz_ax.c

RzAnalysis:
  - librz/analysis/**/*

RzAsm-Assembler:
  - librz/asm/**/*ass*
  - librz/asm/asm_x86_nz.c

RzAsm-Disassembler:
  - librz/asm/**/*dis*

RzBin:
  - librz/bin/**/*

RzBreakpoint:
  - librz/bp/**/*

RzConfig:
  - librz/config/**/*

RzCons:
  - librz/cons/**/*

RzCore:
  - librz/core/**/*

RzCrypto:
  - librz/crypto/**/*

RzDebug:
  - librz/debug/**/*

RzEgg:
  - librz/egg/**/*

RzFlag:
  - librz/flag/**/*

RzHash:
  - librz/hash/**/*

RzIO:
  - librz/io/**/*

RzLang:
  - librz/lang/**/*

RzMagic:
  - librz/magic/**/*

RzParse:
  - librz/parse/**/*

RReg:
  - librz/reg/**/*

RzSearch:
  - librz/search/**/*

RzSocket:
  - librz/socket/**/*

RzSyscall:
  - librz/syscall/**/*

RzType:
  - librz/type/**/*

RzUtil:
  - librz/util/**/*

API:
  - librz/include/**/*

buildsystem:
  - sys/**/*

command:
  - librz/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - librz/analysis/esil/*

gdb:
  - shlr/gdb/**/*
  - librz/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

rz-test:
  - binrz/rz-test/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - librz/io/p/io_winkd.c

visual:
  - librz/core/visual.c

panel:
  - librz/core/panels.c
