Repository rizinorg/rizin, changes with the labels that .github/labeler.yml gives for each.
All labels: rizin, rz_bin, rz_diff, rz_find, rz_gg, rz_hash, rz_run, rz_asm, rz_ax, RzAnalysis, RzAsm-Assembler, RzAsm-Disassembler, RzBin, RzBreakpoint, RzConfig, RzCons, RzCore, RzCrypto, RzDebug, RzEgg, RzFlag, RzHash, RzIO, RzLang, RzMagic, RzParse, RReg, RzSearch, RzSocket, RzSyscall, RzUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, rz_test, java, WinDbg, visual, panel

Make capstone subproject a C project, not cpp
  subprojects/packagefiles/capstone-3.0.5/meson.build
  subprojects/packagefiles/capstone-4.0.2/meson.build
  subprojects/packagefiles/capstone-bundled/meson.build
  subprojects/packagefiles/capstone-next/meson.build
Labels: none

Fix check_meson_subproject script
  .github/workflows/ci.yml
  sys/check_meson_subproject.py
Labels: buildsystem, infrastructure

Disable unit tests because of bins dependency
  .github/workflows/ci.yml
Labels: infrastructure

Windows subprocess: Remove \r only if not part of esc seq
  librz/util/subprocess.c
Labels: RzUtil

Windows subprocess: Remove \r only if followed by \n or not part of esc seq
  librz/util/subprocess.c
Labels: RzUtil

rz_reg_get_list returns always the same list
  librz/core/cdebug.c
  librz/core/cmd.c
  librz/core/cmd_debug.c
  librz/core/cmd_search_rop.c
  librz/include/rz_reg.h
  librz/parse/filter.c
  librz/reg/reg.c
  test/unit/test_reg.c
Labels: RzCore, RzParse, RReg, API, command, rz_test

Avoid dead assignment to value
  librz/core/cdebug.c
Labels: RzCore

Rename core/private.h to core/core_private.h
  librz/core/agraph.c
  librz/core/cdebug.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/core_private.h
  librz/core/panels.c
  librz/core/visual.c
Labels: RzCore, command, visual, panel

Create dist tarball with master meson
  .github/workflows/ci.yml
Labels: infrastructure

Update sdb wrap
  subprojects/sdb.wrap
Labels: none

Use reg->size / 8 as in the original code
  librz/core/cdebug.c
Labels: RzCore

Select the right reg size when doing regs_to_flag
  librz/core/cdebug.c
Labels: RzCore

Remove all flaky download pdb test
  test/db/formats/pdb
Labels: rz_test

Add rz_strf() Macro (#506)
  librz/include/rz_util/rz_str.h
  meson.build
  test/unit/test_str.c
Labels: API, rz_test

Update sdb and pass sdb_includedir option
  .gitignore
  meson.build
  subprojects/sdb.wrap
Labels: none

Fix dead assignment librz/core/agraph.c
  librz/core/agraph.c
Labels: RzCore

Fix dead nested assignment librz/cons/input.c
  librz/cons/input.c
Labels: RzCons

Fix dead assignment librz/bin/mangling/swift-sd.c
  librz/bin/mangling/swift-sd.c
Labels: RzBin

Fix dead assignment librz/bin/mangling/microsoft_demangle.c
  librz/bin/mangling/microsoft_demangle.c
Labels: RzBin

Fix dead assignment librz/core/cfile.c
  librz/core/cfile.c
Labels: RzCore

Fix dead assignment librz/core/cbin.c
  librz/core/cbin.c
Labels: RzCore

Fix dead assignment librz/core/cmd_analysis.c
  librz/core/cmd_analysis.c
Labels: RzCore, command

Fix dead assignment librz/core/cmd_analysis.c
  librz/core/cmd_analysis.c
Labels: RzCore, command

Fix dead assignment librz/core/agraph.c
  librz/core/agraph.c
Labels: RzCore

Fix dead assignment librz/bin/mangling/microsoft_demangle.c
  librz/bin/mangling/microsoft_demangle.c
Labels: RzBin

Fix dead assignment librz/core/cfile.c
  librz/core/cfile.c
Labels: RzCore

Fix dead assignment librz/core/cbin.c
  librz/core/cbin.c
Labels: RzCore

Fix dead nested assignment librz/cons/input.c
  librz/cons/input.c
Labels: RzCons

Fix dead assignment librz/bin/mangling/swift-sd.c
  librz/bin/mangling/swift-sd.c
Labels: RzBin

Fix dead nested assignment librz/core/disasm.c
  librz/core/disasm.c
Labels: RzCore

Fix dead nested assignment librz/core/cmd_print.c
  librz/core/cmd_print.c
Labels: RzCore, command

Fix dead nested assignment librz/hash/hamdist.c
  librz/hash/hamdist.c
Labels: RzHash

Fix dead nested assignment librz/hash/sha2.c
  librz/hash/sha2.c
Labels: RzHash

Fix dead nested assignment librz/util/format.c
  librz/util/format.c
Labels: RzUtil

Fix dead nested assignment librz/socket/socket.c
  librz/socket/socket.c
Labels: RzSocket

Fix dead nested assignment librz/main/rz_gg.c
  librz/main/rz_gg.c
Labels: rz_gg

Fix dead nested assignment librz/util/file.c
  librz/util/file.c
Labels: RzUtil

Fix dead nested assignment librz/util/print.c
  librz/util/print.c
Labels: RzUtil

Fix dead nested assignment librz/core/cmd_print.c
  librz/core/cmd_print.c
Labels: RzCore, command

Fix dead nested assignment librz/main/rz_gg.c
  librz/main/rz_gg.c
Labels: rz_gg

.github/labeler.yml:

rizin:
  - binrz/rizin/*
  - librz/main/rizin.c

rz_bin:
  - binrz/rz_bin/*
  - librz/main/rz_bin.c

rz_diff:
  - binrz/rz_diff/*
  - librz/main/rz_diff.c

rz_find:
  - binrz/rz_find/*
  - librz/main/rz_find.c

rz_gg:
  - binrz/rz_gg/*
  - librz/main/rz_gg.c

rz_hash:
  - binrz/rz_hash/*
  - librz/main/rz_hash.c

rz_run:
  - binrz/rz_run/*
  - librz/main/rz_run.c

rz_asm:
  - binrz/rz_asm/*
  - librz/main/rz_asm.c

rz_ax:
  - binrz/rz_ax/*
  - librz/main/rz_ax.c

RzAnalysis:
  - librz/analysis/**/*

RzAsm-Assembler:
  - librz/asm/**/*ass*
  - librz/asm/asm_x86_nz.c

RzAsm-Disassembler:
  - librz/asm/**/*dis*

RzBin:
  - librz/bin/**/*

RzBreakpoint:
  - librz/bp/**/*

RzConfig:
  - librz/config/**/*

RzCons:
  - librz/cons/**/*

RzCore:
  - librz/core/**/*

RzCrypto:
  - librz/crypto/**/*

RzDebug:
  - librz/debug/**/*

RzEgg:
  - librz/egg/**/*

RzFlag:
  - librz/flag/**/*

RzHash:
  - librz/hash/**/*

RzIO:
  - librz/io/**/*

RzLang:
  - librz/lang/**/*

RzMagic:
  - librz/magic/**/*

RzParse:
  - librz/parse/**/*

RReg:
  - librz/reg/**/*

RzSearch:
  - librz/search/**/*

RzSocket:
  - librz/socket/**/*

RzSyscall:
  - librz/syscall/**/*

RzUtil:
  - librz/util/**/*

API:
  - librz/include/**/*

buildsystem:
  - sys/**/*

command:
  - librz/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - librz/analysis/esil*

gdb:
  - shlr/gdb/**/*
  - librz/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

rz_test:
  - binrz/rz_test/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - librz/io/p/io_winkd.c

visual:
  - librz/core/visual.c

panel:
  - librz/core/panels.c
