Repository rizinorg/rizin, changes with the labels that .github/labeler.yml gives for each.
All labels: rizin, rz_bin, rz_diff, rz_find, rz_gg, rz_hash, rz_run, rz_asm, rz_ax, RzAnalysis, RzAsm-Assembler, RzAsm-Disassembler, RzBin, RzBreakpoint, RzConfig, RzCons, RzCore, RzCrypto, RzDebug, RzEgg, RzFlag, RzHash, RzIO, RzLang, RzMagic, RzParse, RReg, RzSearch, RzSocket, RzSyscall, RzUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, rz_test, java, WinDbg, visual, panel

.github/labeler.yml:

rizin:
  - binrz/rizin/*
  - librz/main/rizin.c

rz_bin:
  - binrz/rz_bin/*
  - librz/main/rz_bin.c

rz_diff:
  - binrz/rz_diff/*
  - librz/main/rz_diff.c

rz_find:
  - binrz/rz_find/*
  - librz/main/rz_find.c

rz_gg:
  - binrz/rz_gg/*
  - librz/main/rz_gg.c

rz_hash:
  - binrz/rz_hash/*
  - librz/main/rz_hash.c

rz_run:
  - binrz/rz_run/*
  - librz/main/rz_run.c

rz_asm:
  - binrz/rz_asm/*
  - librz/main/rz_asm.c

rz_ax:
  - binrz/rz_ax/*
  - librz/main/rz_ax.c

RzAnalysis:
  - librz/analysis/**/*

RzAsm-Assembler:
  - librz/asm/**/*ass*
  - librz/asm/asm_x86_nz.c

RzAsm-Disassembler:
  - librz/asm/**/*dis*

RzBin:
  - librz/bin/**/*

RzBreakpoint:
  - librz/bp/**/*

RzConfig:
  - librz/config/**/*

RzCons:
  - librz/cons/**/*

RzCore:
  - librz/core/**/*

RzCrypto:
  - librz/crypto/**/*

RzDebug:
  - librz/debug/**/*

RzEgg:
  - librz/egg/**/*

RzFlag:
  - librz/flag/**/*

RzHash:
  - librz/hash/**/*

RzIO:
  - librz/io/**/*

RzLang:
  - librz/lang/**/*

RzMagic:
  - librz/magic/**/*

RzParse:
  - librz/parse/**/*

RReg:
  - librz/reg/**/*

RzSearch:
  - librz/search/**/*

RzSocket:
  - librz/socket/**/*

RzSyscall:
  - librz/syscall/**/*

RzUtil:
  - librz/util/**/*

API:
  - librz/include/**/*

buildsystem:
  - sys/**/*

command:
  - librz/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - librz/analysis/esil*

gdb:
  - shlr/gdb/**/*
  - librz/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

rz_test:
  - binrz/rz_test/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - librz/io/p/io_winkd.c

visual:
  - librz/core/visual.c

panel:
  - librz/core/panels.c

Fix dead assignment librz/io/p/io_rzpipe.c
  librz/io/p/io_rzpipe.c
Labels: RzIO

Fix dead assignment librz/debug/p/debug_gdb.c
  librz/debug/p/debug_gdb.c
Labels: RzDebug

Fix dead assignment shlr/mpc/mpc.c
  shlr/mpc/mpc.c
Labels: none

Fix dead assignment test/unit/test_cmd.c
  test/unit/test_cmd.c
Labels: rz_test

Fix dead assignment librz/search/bytepat.c
  librz/search/bytepat.c
Labels: RzSearch

Fix dead assignment librz/util/print.c
  librz/util/print.c
Labels: RzUtil

Fix dead assignment shlr/java/class.c
  shlr/java/class.c
Labels: java

Fix dead assignment test/unit/test_id_storage.c
  test/unit/test_id_storage.c
Labels: rz_test

Fix dead assignment librz/search/privkey-find.c
  librz/search/privkey-find.c
Labels: RzSearch

Fix dead assignment shlr/spp/spp.c
  shlr/spp/spp.c
Labels: none

Fix dead assignment librz/util/buf.c
  librz/util/buf.c
Labels: RzUtil

Fix dead assignment librz/search/privkey-find.c
  librz/search/privkey-find.c
Labels: RzSearch

Fix dead assignment librz/io/p/io_rzpipe.c
  librz/io/p/io_rzpipe.c
Labels: RzIO

Fix dead assignment shlr/spp/spp.c
  shlr/spp/spp.c
Labels: none

Fix dead assignment librz/search/bytepat.c
  librz/search/bytepat.c
Labels: RzSearch

Fix dead assignment librz/util/buf.c
  librz/util/buf.c
Labels: RzUtil

Fix dead assignment librz/debug/debug.c
  librz/debug/debug.c
Labels: RzDebug

Fix dead assignment librz/core/yank.c
  librz/core/yank.c
Labels: RzCore

Fix dead assignment librz/core/rtr.c
  librz/core/rtr.c
Labels: RzCore

Fix dead assignment test/unit/test_cmd.c
  test/unit/test_cmd.c
Labels: rz_test

Fix dead assignment librz/main/rizin.c
  librz/main/rizin.c
Labels: rizin

Fix dead assignment test/unit/test_id_storage.c
  test/unit/test_id_storage.c
Labels: rz_test

Fix dead assignment librz/parse/filter.c
  librz/parse/filter.c
Labels: RzParse

Fix dead assignment shlr/mpc/mpc.c
  shlr/mpc/mpc.c
Labels: none

Fix dead assignment librz/io/p/io_ptrace.c
  librz/io/p/io_ptrace.c
Labels: RzIO

Fix dead assignment librz/io/p/io_procpid.c
  librz/io/p/io_procpid.c
Labels: RzIO

Fix dead assignment librz/debug/p/debug_gdb.c
  librz/debug/p/debug_gdb.c
Labels: RzDebug

Fix dead assignment shlr/java/class.c
  shlr/java/class.c
Labels: java

Fix dead assignment librz/util/print.c
  librz/util/print.c
Labels: RzUtil

Fix dead assignment librz/io/p/io_rzk_linux.c
  librz/io/p/io_rzk_linux.c
Labels: RzIO

Fix dead assignment librz/main/rz_ax.c
  librz/main/rz_ax.c
Labels: rz_ax

Mark gdbserver as BROKEN for now
  test/db/archos/linux-x64/dbg_gdbserver
  test/db/archos/linux-x64/dbg_gdbserver_rebase
Labels: rz_test

Mark gdbserver as BROKEN for now (#549)
  test/db/archos/linux-x64/dbg_gdbserver
  test/db/archos/linux-x64/dbg_gdbserver_rebase
Labels: rz_test

Provide both x86/x64 windows installers
  .github/vsdevenv.ps1
  .github/workflows/ci.yml
Labels: infrastructure

Refactor to use API in visual mode
  librz/core/canalysis.c
  librz/core/cdebug.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/core_private.h
  librz/core/visual.c
  librz/core/vmenus.c
  librz/include/rz_core.h
Labels: RzCore, API, command, visual

Introduce `qyn/qyy/qnn/qny` and different handlers for each
  librz/core/cmd_descs.c
  librz/core/cmd_descs.h
  librz/core/cmd_descs.yaml
  librz/core/cmd_quit.c
Labels: RzCore, command

Refactor to use API in visual mode
  librz/core/canalysis.c
  librz/core/cdebug.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/core_private.h
  librz/core/visual.c
  librz/core/vmenus.c
  librz/include/rz_core.h
Labels: RzCore, API, command, visual

core/agraph: reintroduce shift-tab to move to prev node
  librz/core/agraph.c
Labels: RzCore

core/agraph: reintroduce shift-tab to move to prev node (#553)
  librz/core/agraph.c
Labels: RzCore

core: =!= accept a argument and check cmdremote when executing commands
  librz/core/cmd.c
  librz/core/cmd_descs.c
  librz/core/cmd_descs.yaml
  librz/core/cmd_remote.c
Labels: RzCore, command
