Repository rizinorg/rizin, changes with the labels that .github/labeler.yml gives for each.
All labels: rizin, rz_bin, rz_diff, rz_find, rz_gg, rz_hash, rz_run, rz_asm, rz_ax, RzAnalysis, RzAsm-Assembler, RzAsm-Disassembler, RzBin, RzBreakpoint, RzConfig, RzCons, RzCore, RzCrypto, RzDebug, RzEgg, RzFlag, RzHash, RzIO, RzLang, RzMagic, RzParse, RReg, RzSearch, RzSocket, RzSyscall, RzUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, rz_test, java, WinDbg, visual, panel

Oops should use old value of cur
  librz/core/canalysis.c
Labels: RzCore

Hmm actually i_old is already out of phase by cur % opalign
  librz/core/canalysis.c
Labels: RzCore

Fix no git repository on master (CI) (#621)
  .github/workflows/ci.yml
  .github/workflows/code-analysis.yml
  .github/workflows/linter.yml
Labels: infrastructure

Remove the command `tail` ##refactor
  librz/core/cmd_type.c
Labels: RzCore, command

core/cmd_analysis: refactor aeim commands
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/core_private.h
Labels: RzCore, command

core: use API instead of cmd ag-
  librz/core/agraph.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/core_private.h
Labels: RzCore, command

core: use esil API instead of aeim/aeim- commands
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/cmd_type.c
  librz/core/disasm.c
  librz/core/panels.c
Labels: RzCore, command, panel

Move core_agraph functions to core/cagraph.c
  librz/core/agraph.c
  librz/core/cagraph.c
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/meson.build
Labels: RzCore, command

Do not add extra newline
  librz/core/cagraph.c
Labels: RzCore

core/cmd_analysis: extract API for agg commands
  librz/core/agraph.c
  librz/core/cmd_analysis.c
  librz/core/core_private.h
Labels: RzCore, command

Fix mem leak of b
  librz/core/cagraph.c
Labels: RzCore

core/cmd_analysis: extract API for agn/age
  librz/core/agraph.c
  librz/core/cmd_analysis.c
  librz/core/core_private.h
Labels: RzCore, command

Move the conditional skip for ci.yml
  .github/workflows/ci.yml
Labels: infrastructure

Remove a reference of the `tail` command from core.c
  librz/core/core.c
Labels: RzCore

Move the conditional skip for ci.yml
  .github/workflows/ci.yml
Labels: infrastructure

Fix pylint errors sys/meson_git_wrapper.py
  sys/meson_git_wrapper.py
Labels: buildsystem

Remove undocumented python script convert_dumpbin_exports_to_sdb_txt.py
  librz/bin/d/dll/convert_dumpbin_exports_to_sdb_txt.py
Labels: RzBin

Fix pylint errors test/fuzz/scripts/fuzz_rz_asm.py
  test/fuzz/scripts/fuzz_rz_asm.py
Labels: rz_test

Fix pylint errors test/scripts/gdbserver.py
  test/scripts/gdbserver.py
Labels: rz_test

Fix pylint errors test/unit/legacy_unit/syscall/openbsd-gen.py
  test/unit/legacy_unit/syscall/openbsd-gen.py
Labels: rz_test

Fix pylint errors librz/core/cmd_descs_generate.py
  librz/core/cmd_descs_generate.py
Labels: RzCore, command

Add workflow linter python
  .github/workflows/linter.yml
  .pylintrc
Labels: infrastructure

Fix coding style python files (black, isort)
  .github/workflows/linter.yml
  librz/bin/d/dll/convert_dumpbin_exports_to_sdb_txt.py
  librz/bin/format/xnu/scripts/build_mig_index.py
  librz/bin/format/xnu/scripts/machtraps.py
  librz/core/cmd_descs_generate.py
  librz/include/sflib/darwin-arm-64/ios-syscalls.py
  sys/check_meson_subproject.py
  sys/create_tags_rz.py
  sys/meson_git_wrapper.py
  sys/sdb_version.py
  sys/syscall_preprocessing.py
  sys/version.py
  test/fuzz/scripts/fuzz_rz_asm.py
  test/scripts/gdbserver.py
  test/scripts/get-funcs.py
  test/unit/legacy_unit/syscall/openbsd-gen.py
Labels: RzBin, RzCore, API, buildsystem, command, infrastructure, rz_test

Fix code-scanning filtering for javascript / python
  .github/workflows/code-analysis.yml
Labels: infrastructure

Fix pylint errors test/fuzz/scripts/fuzz_rz_asm.py
  test/fuzz/scripts/fuzz_rz_asm.py
Labels: rz_test

Fix pylint errors librz/core/cmd_descs_generate.py
  librz/core/cmd_descs_generate.py
Labels: RzCore, command

Fix pylint errors test/unit/legacy_unit/syscall/openbsd-gen.py
  test/unit/legacy_unit/syscall/openbsd-gen.py
Labels: rz_test

Fix coding style python files (black, isort)
  .github/workflows/linter.yml
  librz/bin/d/dll/convert_dumpbin_exports_to_sdb_txt.py
  librz/bin/format/xnu/scripts/build_mig_index.py
  librz/bin/format/xnu/scripts/machtraps.py
  librz/core/cmd_descs_generate.py
  librz/include/sflib/darwin-arm-64/ios-syscalls.py
  sys/check_meson_subproject.py
  sys/create_tags_rz.py
  sys/meson_git_wrapper.py
  sys/sdb_version.py
  sys/syscall_preprocessing.py
  sys/version.py
  test/fuzz/scripts/fuzz_rz_asm.py
  test/scripts/gdbserver.py
  test/scripts/get-funcs.py
  test/unit/legacy_unit/syscall/openbsd-gen.py
Labels: RzBin, RzCore, API, buildsystem, command, infrastructure, rz_test

Remove undocumented python script convert_dumpbin_exports_to_sdb_txt.py
  librz/bin/d/dll/convert_dumpbin_exports_to_sdb_txt.py
Labels: RzBin

Fix pylint errors test/scripts/gdbserver.py
  test/scripts/gdbserver.py
Labels: rz_test

Fix pylint errors sys/meson_git_wrapper.py
  sys/meson_git_wrapper.py
Labels: buildsystem

Add workflow linter python
  .github/workflows/linter.yml
  .pylintrc
Labels: infrastructure

Fix code-scanning filtering for javascript / python
  .github/workflows/code-analysis.yml
Labels: infrastructure

Remove the command `tail` ##refactor (#625)
  librz/core/cmd_type.c
  librz/core/core.c
Labels: RzCore, command

Enable AppVeyor back
  .appveyor.yml
Labels: infrastructure

Fix appveyor filtering
  .appveyor.yml
Labels: infrastructure

Fix appveyor filtering (#628)
  .appveyor.yml
Labels: infrastructure

libzip: use conf_data not zipconf_data in meson.build for HAVE_SHARED
  subprojects/packagefiles/libzip-1.7.3/meson.build
Labels: none

libzip: use conf_data not zipconf_data in meson.build for HAVE_SHARED (#629)
  subprojects/packagefiles/libzip-1.7.3/meson.build
Labels: none

Refactor to use API in visual modes
  librz/core/analysis_objc.c
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/core_private.h
  librz/core/panels.c
  librz/core/vasm.c
  librz/include/rz_core.h
Labels: RzCore, API, command, panel

.github/labeler.yml:

rizin:
  - binrz/rizin/*
  - librz/main/rizin.c

rz_bin:
  - binrz/rz_bin/*
  - librz/main/rz_bin.c

rz_diff:
  - binrz/rz_diff/*
  - librz/main/rz_diff.c

rz_find:
  - binrz/rz_find/*
  - librz/main/rz_find.c

rz_gg:
  - binrz/rz_gg/*
  - librz/main/rz_gg.c

rz_hash:
  - binrz/rz_hash/*
  - librz/main/rz_hash.c

rz_run:
  - binrz/rz_run/*
  - librz/main/rz_run.c

rz_asm:
  - binrz/rz_asm/*
  - librz/main/rz_asm.c

rz_ax:
  - binrz/rz_ax/*
  - librz/main/rz_ax.c

RzAnalysis:
  - librz/analysis/**/*

RzAsm-Assembler:
  - librz/asm/**/*ass*
  - librz/asm/asm_x86_nz.c

RzAsm-Disassembler:
  - librz/asm/**/*dis*

RzBin:
  - librz/bin/**/*

RzBreakpoint:
  - librz/bp/**/*

RzConfig:
  - librz/config/**/*

RzCons:
  - librz/cons/**/*

RzCore:
  - librz/core/**/*

RzCrypto:
  - librz/crypto/**/*

RzDebug:
  - librz/debug/**/*

RzEgg:
  - librz/egg/**/*

RzFlag:
  - librz/flag/**/*

RzHash:
  - librz/hash/**/*

RzIO:
  - librz/io/**/*

RzLang:
  - librz/lang/**/*

RzMagic:
  - librz/magic/**/*

RzParse:
  - librz/parse/**/*

RReg:
  - librz/reg/**/*

RzSearch:
  - librz/search/**/*

RzSocket:
  - librz/socket/**/*

RzSyscall:
  - librz/syscall/**/*

RzUtil:
  - librz/util/**/*

API:
  - librz/include/**/*

buildsystem:
  - sys/**/*

command:
  - librz/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - librz/analysis/esil*

gdb:
  - shlr/gdb/**/*
  - librz/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

rz_test:
  - binrz/rz_test/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - librz/io/p/io_winkd.c

visual:
  - librz/core/visual.c

panel:
  - librz/core/panels.c
