Repository rizinorg/rizin, changes with the labels that .github/labeler.yml gives for each.
All labels: rizin, rz_bin, rz_diff, rz_find, rz_gg, rz_hash, rz_run, rz_asm, rz_ax, RzAnalysis, RzAsm-Assembler, RzAsm-Disassembler, RzBin, RzBreakpoint, RzConfig, RzCons, RzCore, RzCrypto, RzDebug, RzEgg, RzFlag, RzHash, RzIO, RzLang, RzMagic, RzParse, RReg, RzSearch, RzSocket, RzSyscall, RzUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, rz_test, java, WinDbg, visual, panel

.github/labeler.yml:

rizin:
  - binrz/rizin/*
  - librz/main/rizin.c

rz_bin:
  - binrz/rz_bin/*
  - librz/main/rz_bin.c

rz_diff:
  - binrz/rz_diff/*
  - librz/main/rz_diff.c

rz_find:
  - binrz/rz_find/*
  - librz/main/rz_find.c

rz_gg:
  - binrz/rz_gg/*
  - librz/main/rz_gg.c

rz_hash:
  - binrz/rz_hash/*
  - librz/main/rz_hash.c

rz_run:
  - binrz/rz_run/*
  - librz/main/rz_run.c

rz_asm:
  - binrz/rz_asm/*
  - librz/main/rz_asm.c

rz_ax:
  - binrz/rz_ax/*
  - librz/main/rz_ax.c

RzAnalysis:
  - librz/analysis/**/*

RzAsm-Assembler:
  - librz/asm/**/*ass*
  - librz/asm/asm_x86_nz.c

RzAsm-Disassembler:
  - librz/asm/**/*dis*

RzBin:
  - librz/bin/**/*

RzBreakpoint:
  - librz/bp/**/*

RzConfig:
  - librz/config/**/*

RzCons:
  - librz/cons/**/*

RzCore:
  - librz/core/**/*

RzCrypto:
  - librz/crypto/**/*

RzDebug:
  - librz/debug/**/*

RzEgg:
  - librz/egg/**/*

RzFlag:
  - librz/flag/**/*

RzHash:
  - librz/hash/**/*

RzIO:
  - librz/io/**/*

RzLang:
  - librz/lang/**/*

RzMagic:
  - librz/magic/**/*

RzParse:
  - librz/parse/**/*

RReg:
  - librz/reg/**/*

RzSearch:
  - librz/search/**/*

RzSocket:
  - librz/socket/**/*

RzSyscall:
  - librz/syscall/**/*

RzUtil:
  - librz/util/**/*

API:
  - librz/include/**/*

buildsystem:
  - sys/**/*

command:
  - librz/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - librz/analysis/esil*

gdb:
  - shlr/gdb/**/*
  - librz/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

rz_test:
  - binrz/rz_test/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - librz/io/p/io_winkd.c

visual:
  - librz/core/visual.c

panel:
  - librz/core/panels.c

Fix dead nested assignment librz/socket/socket.c
  librz/socket/socket.c
Labels: RzSocket

Fix dead nested assignment librz/hash/sha2.c
  librz/hash/sha2.c
Labels: RzHash

Fix dead nested assignment librz/util/print.c
  librz/util/print.c
Labels: RzUtil

Fix dead nested assignment librz/util/file.c
  librz/util/file.c
Labels: RzUtil

Fix dead nested assignment librz/util/format.c
  librz/util/format.c
Labels: RzUtil

Fix dead nested assignment librz/hash/hamdist.c
  librz/hash/hamdist.c
Labels: RzHash

Fix dead nested assignment librz/core/disasm.c
  librz/core/disasm.c
Labels: RzCore

Fix invalid left shift on dalvik parser
  librz/analysis/p/analysis_dalvik.c
Labels: RzAnalysis

Fix memleak in db/formats/mangling/mangling
  librz/bin/mangling/microsoft_demangle.c
  librz/main/rz_bin.c
  librz/util/str.c
Labels: rz_bin, RzBin, RzUtil

Clang formatting fixes
  librz/bin/format/mach0/mach0.c
  librz/core/cmd_help.c
  librz/util/str.c
Labels: RzBin, RzCore, RzUtil, command

Add tests for pf.write
  test/db/cmd/cmd_pf_write
Labels: rz_test

Fix some of the last coverities related to UAF and OOBREAD
  shlr/gdb/src/gdbclient/xml.c
Labels: gdb

Fix double free in RzBin.DEX.libs
  librz/bin/p/bin_dex.c
Labels: RzBin

Fix memory leaks and small logic bugs (#18297)
  librz/analysis/dwarf_process.c
  librz/cons/dietline.c
  librz/core/analysis_tp.c
  librz/core/cmd_open.c
  librz/core/disasm.c
  librz/core/linux_heap_glibc.c
  librz/main/rz_hash.c
  librz/util/format.c
  librz/util/pkcs7.c
Labels: rz_hash, RzAnalysis, RzCons, RzCore, RzUtil, command

rz-diff: drop MODE_DIST
  librz/include/rz_diff.h
  librz/main/rz_diff.c
  librz/util/udiff.c
  man/rz-diff.1
  test/unit/test_diff.c
Labels: rz_diff, RzUtil, API, rz_test

Honor graph.font in more places
  librz/core/canalysis.c
Labels: RzCore

Fix #39 - Do not initialize registers on initialization
  librz/main/rizin.c
Labels: rizin

Delete register flags if necessary after aaft
  librz/core/cmd_analysis.c
  test/db/cmd/cmd_fnj
  test/db/cmd/cmd_pd2
Labels: RzCore, command, rz_test

Put registers in their own flagspace
  librz/core/cmd_debug.c
  librz/debug/dreg.c
  librz/include/rz_core.h
Labels: RzCore, RzDebug, API, command

Add rz_core_debug_(set/clear)_register_flags apis
  librz/core/cmd_debug.c
  librz/include/rz_core.h
Labels: RzCore, API, command

Shorten function name to "remove_cr"
  librz/util/subprocess.c
Labels: RzUtil

Remove irrelevant dr from test
  test/db/cmd/cmd_visual
Labels: rz_test

Use rz_core_debug_regs2flags instead of .dr*
  librz/core/agraph.c
  librz/core/cdebug.c
  librz/core/cfile.c
  librz/core/cio.c
  librz/core/cmd.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/cmd_type.c
  librz/core/core_private.h
  librz/core/panels.c
  librz/core/visual.c
Labels: RzCore, command, visual, panel

Use strncmp instead
  librz/util/subprocess.c
Labels: RzUtil

Fix memory leaks and small logic bugs (#18297)
  librz/analysis/dwarf_process.c
  librz/cons/dietline.c
  librz/core/analysis_tp.c
  librz/core/cmd_open.c
  librz/core/disasm.c
  librz/core/linux_heap_glibc.c
  librz/main/rz_hash.c
  librz/util/format.c
  librz/util/pkcs7.c
Labels: rz_hash, RzAnalysis, RzCons, RzCore, RzUtil, command

Fix memleak in db/formats/mangling/mangling
  librz/bin/mangling/microsoft_demangle.c
  librz/main/rz_bin.c
  librz/util/str.c
Labels: rz_bin, RzBin, RzUtil

Fix invalid left shift on dalvik parser
  librz/analysis/p/analysis_dalvik.c
Labels: RzAnalysis

Honor graph.font in more places
  librz/core/canalysis.c
Labels: RzCore

Fix some of the last coverities related to UAF and OOBREAD
  shlr/gdb/src/gdbclient/xml.c
Labels: gdb

Add tests for pf.write
  test/db/cmd/cmd_pf_write
Labels: rz_test

Clang formatting fixes
  librz/bin/format/mach0/mach0.c
  librz/core/cmd_help.c
  librz/util/str.c
Labels: RzBin, RzCore, RzUtil, command

Fix double free in RzBin.DEX.libs
  librz/bin/p/bin_dex.c
Labels: RzBin

rz-diff: drop MODE_DIST
  librz/include/rz_diff.h
  librz/main/rz_diff.c
  librz/util/udiff.c
  man/rz-diff.1
  test/unit/test_diff.c
Labels: rz_diff, RzUtil, API, rz_test

Make rz_core_debug_reg_list accept RzCore*
  librz/core/cdebug.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/core_private.h
Labels: RzCore, command

Mention meson dist in PACKAGER.md
  doc/PACKAGERS.md
Labels: documentation

Switch to meson subprojects and wraps
  .appveyor.yml
  .github/workflows/ci.yml
  .github/workflows/clang-analysis.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/newshell-treesitter-tests.yml
  .github/workflows/tcc.yml
  .gitignore
  .gitmodules
  BUILDING.md
  Dockerfile
  README.md
  doc/PACKAGERS.md
  doc/capstone.md
  meson.build
  meson_options.txt
  shlr/capstone-patches/.oobfix-X86_insn_reg_intel.patch
  shlr/capstone-patches/capstone-calloc.patch
  shlr/capstone-patches/fix-x86-16.patch
  shlr/capstone-patches/sparc-crash.patch
  shlr/capstone-patches/sstream-null.patch
  shlr/meson.build
  subprojects/capstone-bundled.wrap
  subprojects/capstone-next.wrap
  subprojects/capstone-v3.wrap
  subprojects/capstone-v4.wrap
  subprojects/packagefiles/capstone-3.0.5/meson.build
  subprojects/packagefiles/capstone-4.0.2/meson.build
  subprojects/packagefiles/capstone-bundled/meson.build
  subprojects/packagefiles/capstone-next/meson.build
  subprojects/packagefiles/tree-sitter-0.18.0/meson.build
  subprojects/sdb.wrap
  subprojects/tree-sitter.wrap
  sys/check_meson_subproject.py
Labels: buildsystem, documentation, infrastructure

Make rz_base64_encode use the right types
  librz/analysis/meta.c
  librz/analysis/serialize_analysis.c
  librz/core/canalysis.c
  librz/core/cannotated_code.c
  librz/core/cmd.c
  librz/core/cmd_analysis.c
  librz/core/cmd_help.c
  librz/flag/flag.c
  librz/include/rz_util/rz_base64.h
  librz/util/str.c
  librz/util/ubase64.c
  shlr/java/class.c
  test/unit/test_base64.c
Labels: RzAnalysis, RzCore, RzFlag, RzUtil, API, command, rz_test, java

Create API for `.ar*`, `.dr*`, `aei`, `ar <reg>=<val>` (#511)
  librz/core/agraph.c
  librz/core/cdebug.c
  librz/core/cfile.c
  librz/core/cio.c
  librz/core/cmd.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/cmd_search_rop.c
  librz/core/cmd_type.c
  librz/core/core_private.h
  librz/core/panels.c
  librz/core/visual.c
  librz/debug/dreg.c
  librz/include/rz_debug.h
  librz/include/rz_reg.h
  librz/parse/filter.c
  librz/reg/reg.c
  test/unit/test_reg.c
Labels: RzCore, RzDebug, RzParse, RReg, API, command, rz_test, visual, panel

Add rz_config_* API for booleans
  librz/config/config.c
  librz/include/rz_config.h
  test/unit/meson.build
  test/unit/test_config.c
Labels: RzConfig, API, rz_test

Refactor to use API in Visual mode
  librz/core/cdebug.c
  librz/core/cfile.c
  librz/core/cmd.c
  librz/core/cmd_debug.c
  librz/core/visual.c
  librz/include/rz_core.h
Labels: RzCore, API, command, visual
