Repository rizinorg/rizin, changes with the labels that .github/labeler.yml gives for each.
All labels: rizin, rz_bin, rz_diff, rz_find, rz_gg, rz_hash, rz_run, rz_asm, rz_ax, RzAnalysis, RzAsm-Assembler, RzAsm-Disassembler, RzBin, RzBreakpoint, RzConfig, RzCons, RzCore, RzCrypto, RzDebug, RzEgg, RzFlag, RzHash, RzIO, RzLang, RzMagic, RzParse, RReg, RzSearch, RzSocket, RzSyscall, RzUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, rz_test, java, WinDbg, visual, panel

Add rz_core_debug_(set/clear)_register_flags apis
  librz/core/cmd_debug.c
  librz/include/rz_core.h
Labels: RzCore, API, command

Delete register flags if necessary after aaft
  librz/core/cmd_analysis.c
  test/db/cmd/cmd_fnj
  test/db/cmd/cmd_pd2
Labels: RzCore, command, rz_test

Fix io.va being set to true after aaft
  librz/core/cmd_analysis.c
  test/db/cmd/types
Labels: RzCore, command, rz_test

Refactor panels' Analyze menu to use more API ##refactor
  librz/core/cmd_analysis.c
  librz/core/panels.c
  librz/include/rz_core.h
Labels: RzCore, API, command, panel

Apply suggestions from code review
  librz/core/panels.c
Labels: RzCore, panel

Return 0 even when something goes wrong and fix indendation
  librz/core/cmd_debug.c
Labels: RzCore, command

Include cmd_descs.h in panels.c
  librz/core/panels.c
Labels: RzCore, panel

Make the whole 'dc' tree a OLDINPUT command
  librz/core/cmd_debug.c
Labels: RzCore, command

Generate `rz_debug_continue_oldhandler()` automatically with the YAML and fixed the return values
  librz/core/cmd_debug.c
  librz/core/cmd_descs.c
  librz/core/cmd_descs.h
  librz/core/cmd_descs.yaml
Labels: RzCore, command

Include cmd_descs.h in panels.c
  librz/core/panels.c
Labels: RzCore, panel

Create RZ_API `rz_debug_continue_oldhandler()` to handle `dc`
  librz/core/agraph.c
  librz/core/cmd_debug.c
  librz/core/cmd_descs.h
  librz/core/panels.c
Labels: RzCore, command, panel

Refactor to use API in Visual mode
  librz/core/Makefile
  librz/core/cdebug.c
  librz/core/cmd_debug.c
  librz/core/cmd_eval.c
  librz/core/meson.build
  librz/core/visual.c
  librz/include/rz_core.h
Labels: RzCore, API, command, visual

Consider all functions in afl. and print error if no function is there
  librz/core/canalysis.c
Labels: RzCore

Change how version is reported in -v command flag
  .github/ISSUE_TEMPLATE/bug_report.md
  doc/PACKAGERS.md
  librz/core/cmd_help.c
  librz/include/rz_version.h.in
  librz/util/str.c
  meson.build
  meson_options.txt
  shlr/meson.build
  sys/meson_git_wrapper.py
Labels: RzCore, RzUtil, API, buildsystem, command, documentation

Fix "‘%s’ directive argument is null" warnings (#464)
  librz/asm/arch/tms320/c55x_plus/c55plus_decode.c
  librz/core/cmd_eval.c
  librz/egg/egg_lang.c
Labels: RzCore, RzEgg, command

Fix `io.va` being set to true after `aaft` (#459)
  librz/core/cmd_analysis.c
  test/db/cmd/types
Labels: RzCore, command, rz_test

Fix dead assignment librz/asm/arch/arc/gnu/arcompact-dis.c
  librz/asm/arch/arc/gnu/arcompact-dis.c
Labels: RzAsm-Disassembler

Fix dead assignment librz/asm/arch/arc/gnu/arc-dis.c
  librz/asm/arch/arc/gnu/arc-dis.c
Labels: RzAsm-Disassembler

Fix dead assignment librz/analysis/esil_cfg.c
  librz/analysis/esil_cfg.c
Labels: RzAnalysis, ESIL

Fix dead assignment librz/analysis/p/analysis_x86_cs.c
  librz/analysis/p/analysis_x86_cs.c
Labels: RzAnalysis

Fix dead assignment librz/analysis/fcn.c
  librz/analysis/fcn.c
Labels: RzAnalysis

Fix dead assignment librz/analysis/reflines.c
  librz/analysis/reflines.c
Labels: RzAnalysis

Use clang-format and fix the coding style issues
  librz/core/cmd_analysis.c
  librz/core/panels.c
Labels: RzCore, command, panel

Fix agraph.c calloc warning
  librz/include/rz_agraph.h
Labels: API

Fix dead assignment librz/analysis/esil_cfg.c
  librz/analysis/esil_cfg.c
Labels: RzAnalysis, ESIL

Fix dead assignment librz/analysis/reflines.c
  librz/analysis/reflines.c
Labels: RzAnalysis

Fix dead assignment librz/analysis/p/analysis_x86_cs.c
  librz/analysis/p/analysis_x86_cs.c
Labels: RzAnalysis

Fix dead assignment librz/asm/arch/arc/gnu/arcompact-dis.c
  librz/asm/arch/arc/gnu/arcompact-dis.c
Labels: RzAsm-Disassembler

Fix dead assignment librz/asm/arch/arc/gnu/arc-dis.c
  librz/asm/arch/arc/gnu/arc-dis.c
Labels: RzAsm-Disassembler

Fix dead assignment librz/analysis/fcn.c
  librz/analysis/fcn.c
Labels: RzAnalysis

Replace SDB with HtPP in esil_dfg.c
  librz/analysis/esil_dfg.c
  librz/include/rz_analysis.h
Labels: RzAnalysis, API, ESIL

Fix agraph.c calloc warning
  librz/include/rz_agraph.h
Labels: API

Use `dbg.follow` and make `dc` respect that
  librz/core/cmd_debug.c
Labels: RzCore, command

Refactor panels' Analyze menu to use more API ##refactor (#431)
  librz/core/agraph.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/cmd_descs.c
  librz/core/cmd_descs.h
  librz/core/cmd_descs.yaml
  librz/core/panels.c
  librz/include/rz_core.h
Labels: RzCore, API, command, panel

Add Test for gcc 9.2.0 jumptable
  test/db/analysis/x86_64
Labels: rz_test

Fix hardcoded jumptable entry size
  librz/analysis/fcn.c
Labels: RzAnalysis

Fix agraph.c calloc warning (#474)
  librz/include/rz_agraph.h
Labels: API

Add test for show current offset's function
  test/db/cmd/cmd_af
Labels: rz_test

Fix strncpy truncation warnings
  librz/asm/arch/arc/gnu/arcompact-dis.c
  librz/cons/grep.c
  librz/cons/hud.c
Labels: RzAsm-Disassembler, RzCons

Fix gcc 9.2.0 kind of x86_64 jumptables (#475)
  librz/analysis/fcn.c
  test/db/analysis/x86_64
Labels: RzAnalysis, rz_test

.github/labeler.yml:

rizin:
  - binrz/rizin/*
  - librz/main/rizin.c

rz_bin:
  - binrz/rz_bin/*
  - librz/main/rz_bin.c

rz_diff:
  - binrz/rz_diff/*
  - librz/main/rz_diff.c

rz_find:
  - binrz/rz_find/*
  - librz/main/rz_find.c

rz_gg:
  - binrz/rz_gg/*
  - librz/main/rz_gg.c

rz_hash:
  - binrz/rz_hash/*
  - librz/main/rz_hash.c

rz_run:
  - binrz/rz_run/*
  - librz/main/rz_run.c

rz_asm:
  - binrz/rz_asm/*
  - librz/main/rz_asm.c

rz_ax:
  - binrz/rz_ax/*
  - librz/main/rz_ax.c

RzAnalysis:
  - librz/analysis/**/*

RzAsm-Assembler:
  - librz/asm/**/*ass*
  - librz/asm/asm_x86_nz.c

RzAsm-Disassembler:
  - librz/asm/**/*dis*

RzBin:
  - librz/bin/**/*

RzBreakpoint:
  - librz/bp/**/*

RzConfig:
  - librz/config/**/*

RzCons:
  - librz/cons/**/*

RzCore:
  - librz/core/**/*

RzCrypto:
  - librz/crypto/**/*

RzDebug:
  - librz/debug/**/*

RzEgg:
  - librz/egg/**/*

RzFlag:
  - librz/flag/**/*

RzHash:
  - librz/hash/**/*

RzIO:
  - librz/io/**/*

RzLang:
  - librz/lang/**/*

RzMagic:
  - librz/magic/**/*

RzParse:
  - librz/parse/**/*

RReg:
  - librz/reg/**/*

RzSearch:
  - librz/search/**/*

RzSocket:
  - librz/socket/**/*

RzSyscall:
  - librz/syscall/**/*

RzUtil:
  - librz/util/**/*

API:
  - librz/include/**/*

buildsystem:
  - sys/**/*

command:
  - librz/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - librz/analysis/esil*

gdb:
  - shlr/gdb/**/*
  - librz/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

rz_test:
  - binrz/rz_test/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - librz/io/p/io_winkd.c

visual:
  - librz/core/visual.c

panel:
  - librz/core/panels.c
