Repository rizinorg/rizin, changes with the labels that .github/labeler.yml gives for each.
All labels: rizin, rz_bin, rz_diff, rz_find, rz_gg, rz_hash, rz_run, rz_asm, rz_ax, RzAnalysis, RzAsm-Assembler, RzAsm-Disassembler, RzBin, RzBreakpoint, RzConfig, RzCons, RzCore, RzCrypto, RzDebug, RzEgg, RzFlag, RzHash, RzIO, RzLang, RzMagic, RzParse, RReg, RzSearch, RzSocket, RzSyscall, RzUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, rz_test, java, WinDbg, visual, panel

REMOVE ME: tmp move SDB to SDB PR for testing
  subprojects/sdb.wrap
Labels: none

Provide an example of how packager/packager_version are shown (#488)
  doc/PACKAGERS.md
Labels: documentation

Use latest SDB
  subprojects/sdb.wrap
Labels: none

Remove the line about `abb` under `a?` as it's there at `ab?`
  librz/core/cmd_analysis.c
Labels: RzCore, command

Fix -Wformat-truncation warnings
  test/unit/minunit.h
Labels: rz_test

Don't evaluate macro parameters multiple times
  test/unit/minunit.h
Labels: rz_test

Consider all functions in afl. and print error if no function is there
  librz/core/canalysis.c
Labels: RzCore

Fix `io.va` being set to true after `aaft` (#459)
  librz/core/cmd_analysis.c
  test/db/cmd/types
Labels: RzCore, command, rz_test

Fix "‘%s’ directive argument is null" warnings (#464)
  librz/asm/arch/tms320/c55x_plus/c55plus_decode.c
  librz/core/cmd_eval.c
  librz/egg/egg_lang.c
Labels: RzCore, RzEgg, command

Add a `?` in the help message of `a` to show that `ab?` exists (#492)
  librz/core/cmd_analysis.c
Labels: RzCore, command

Fix some meson messages
  meson.build
  meson_options.txt
Labels: none

Use subprojects_check instead of no_subprojects_check
  meson.build
  meson_options.txt
  shlr/meson.build
Labels: none

Remove references to shlr/{capstone,tree-sitter}
  .github/workflows/ci.yml
  .github/workflows/clang-analysis.yml
  .github/workflows/newshell-treesitter-tests.yml
  doc/capstone.md
Labels: documentation, infrastructure

Fix -Wformat-truncation warnings (#493)
  test/unit/minunit.h
Labels: rz_test

Remove an unused variable `input`
  librz/core/cmd_info.c
Labels: RzCore, command

Reclassify some AVR instructions away from SWI
  librz/analysis/p/analysis_avr.c
  test/db/analysis/avr
Labels: RzAnalysis, rz_test

Rename the macro RBININFO to RZBININFO in cmd_info.c ##refactor (#490)
  librz/core/cmd_info.c
Labels: RzCore, command

Rename rz_userconf.h template
  librz/include/rz_userconf.h.in
  meson.build
Labels: API

Remove ACR related lines
  librz/include/rz_userconf.h.in
Labels: API

Reclassify some AVR instructions away from SWI (#495)
  librz/analysis/p/analysis_avr.c
  test/db/analysis/avr
Labels: RzAnalysis, rz_test

8051_ass.c: Remove never-executed break
  librz/asm/arch/8051/8051_ass.c
Labels: RzAsm-Assembler

Update test/db/cmd/cmd_af
  test/db/cmd/cmd_af
Labels: rz_test

8051_ass.c: Remove never-executed break
  librz/asm/arch/8051/8051_ass.c
Labels: RzAsm-Assembler

Rename .acr to .in and remove RZ_MESON_VERSION
  librz/bin/p/bin_nso.c
  librz/include/rz_userconf.h.acr
  librz/include/rz_userconf.h.in
  librz/include/rz_version.h.in
  librz/librz.pc.in
  meson.build
Labels: RzBin, API

Add "initial view" test for Visual mode
  test/db/cmd/cmd_visual
Labels: rz_test

Put test under archos/linux-x64 for now
  test/db/archos/linux-x64/cmd_visual
  test/db/cmd/cmd_visual
Labels: rz_test

Add same test under archos/windows-x64
  test/db/archos/windows-x64/cmd_visual
Labels: rz_test

No space before @
  librz/include/rz_userconf.h.in
Labels: API

Again..
  librz/include/rz_userconf.h.in
Labels: API

Add "initial view" test for Visual mode (#500)
  test/db/archos/linux-x64/cmd_visual
  test/db/archos/windows-x64/cmd_visual
Labels: rz_test

Rename .acr to .in and remove RZ_MESON_VERSION (#499)
  librz/bin/p/bin_nso.c
  librz/include/rz_userconf.h.acr
  librz/include/rz_userconf.h.in
  librz/include/rz_version.h.in
  librz/librz.pc.in
  meson.build
Labels: RzBin, API

Use portable Format for Graph Metrics in Zignatures
  librz/analysis/sign.c
  librz/include/rz_util/rz_str.h
  librz/util/str.c
  test/unit/test_serialize_analysis.c
  test/unit/test_str.c
Labels: RzAnalysis, RzUtil, API, rz_test

Remove axF
  librz/core/cmd_analysis.c
  librz/core/core.c
Labels: RzCore, command

Remove axF (#505)
  librz/core/cmd_analysis.c
  librz/core/core.c
Labels: RzCore, command

Add rz_strf() Macro
  librz/include/rz_util/rz_str.h
  meson.build
  test/unit/test_str.c
Labels: API, rz_test

Disable purposefully broken Test
  test/unit/test_str.c
Labels: rz_test

Add test for show current offset's function (#476)
  test/db/cmd/cmd_af
Labels: rz_test

Use portable Format for Graph Metrics in Zignatures
  librz/analysis/sign.c
  librz/include/rz_util/rz_str.h
  librz/util/str.c
  test/unit/test_serialize_analysis.c
  test/unit/test_str.c
Labels: RzAnalysis, RzUtil, API, rz_test

Windows subprocess: Remove \r only if followed by \n
  librz/util/subprocess.c
  test/db/archos/linux-x64/cmd_visual
  test/db/archos/windows-x64/cmd_visual
  test/db/cmd/cmd_visual
Labels: RzUtil, rz_test

Create API for `.ar*`, `aei`, `ar <reg>=<val>`
  librz/core/agraph.c
  librz/core/cdebug.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/cmd_type.c
  librz/core/panels.c
  librz/core/private.h
  librz/core/visual.c
  librz/debug/dreg.c
  librz/include/rz_debug.h
Labels: RzCore, RzDebug, API, command, visual, panel

.github/labeler.yml:

rizin:
  - binrz/rizin/*
  - librz/main/rizin.c

rz_bin:
  - binrz/rz_bin/*
  - librz/main/rz_bin.c

rz_diff:
  - binrz/rz_diff/*
  - librz/main/rz_diff.c

rz_find:
  - binrz/rz_find/*
  - librz/main/rz_find.c

rz_gg:
  - binrz/rz_gg/*
  - librz/main/rz_gg.c

rz_hash:
  - binrz/rz_hash/*
  - librz/main/rz_hash.c

rz_run:
  - binrz/rz_run/*
  - librz/main/rz_run.c

rz_asm:
  - binrz/rz_asm/*
  - librz/main/rz_asm.c

rz_ax:
  - binrz/rz_ax/*
  - librz/main/rz_ax.c

RzAnalysis:
  - librz/analysis/**/*

RzAsm-Assembler:
  - librz/asm/**/*ass*
  - librz/asm/asm_x86_nz.c

RzAsm-Disassembler:
  - librz/asm/**/*dis*

RzBin:
  - librz/bin/**/*

RzBreakpoint:
  - librz/bp/**/*

RzConfig:
  - librz/config/**/*

RzCons:
  - librz/cons/**/*

RzCore:
  - librz/core/**/*

RzCrypto:
  - librz/crypto/**/*

RzDebug:
  - librz/debug/**/*

RzEgg:
  - librz/egg/**/*

RzFlag:
  - librz/flag/**/*

RzHash:
  - librz/hash/**/*

RzIO:
  - librz/io/**/*

RzLang:
  - librz/lang/**/*

RzMagic:
  - librz/magic/**/*

RzParse:
  - librz/parse/**/*

RReg:
  - librz/reg/**/*

RzSearch:
  - librz/search/**/*

RzSocket:
  - librz/socket/**/*

RzSyscall:
  - librz/syscall/**/*

RzUtil:
  - librz/util/**/*

API:
  - librz/include/**/*

buildsystem:
  - sys/**/*

command:
  - librz/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - librz/analysis/esil*

gdb:
  - shlr/gdb/**/*
  - librz/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

rz_test:
  - binrz/rz_test/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - librz/io/p/io_winkd.c

visual:
  - librz/core/visual.c

panel:
  - librz/core/panels.c
