Repository rizinorg/rizin, pull requests merged in 2020-12, with the labels that each got.

#133 Enable all github jobs
  .github/workflows/ci.yml
  .github/workflows/continuous.yml
Labels: infrastructure

#135 Fix rz-pipe urls in Sourcehut
  .builds/freebsd.yml
  .builds/openbsd.yml
Labels: merge-when-green

#139 Download submodules in appveyor
  .appveyor.yml
Labels: bug, infrastructure

#143 Restore previous fd after tmp change statements (e.g. @x:, etc.)
  librz/core/cmd.c
  test/db/archos/linux-x64/dbg
Labels: command

#140 Updated Dockerfile to follow the build instructions from rizin README.
  Dockerfile
Labels: merge-when-green

#169 Remember project file after save and add Ps without args
  librz/core/cmd_descs.c
  librz/core/cmd_descs.yaml
  librz/core/cmd_project.c
  librz/core/project.c
  test/db/cmd/project
Labels: command

#173 Fix zb(r)-invalid-count tests on asan
  librz/core/cmd_zign.c
Labels: command, good first issue

#190 Missing ASAN env vars in CI
  .github/workflows/ci.yml
Labels: infrastructure

#166 Reduce Coupling between RzCore and Tasks ##core
  librz/cons/cons.c
  librz/core/cmd.c
  librz/core/cmd_tasks.c
  librz/core/core.c
  librz/core/task.c
  librz/core/vmenus.c
  librz/core/vmenus_graph.c
  librz/core/vmenus_zigns.c
  librz/include/rz_core.h
  test/db/cmd/cmd_task
  test/unit/meson.build
  test/unit/test_core_task.c
  test/unit/test_task.c
Labels: command, rz_test

#196 Re-add Finished Callback to Cmd Tasks ##core
  librz/core/cmd_tasks.c
  librz/core/task.c
  librz/include/rz_core.h
  test/unit/test_core_task.c
Labels: command, merge-when-green, rz_test

#194 Remove p3 command
  librz/core/cmd_print.c
  librz/include/rz_util/rz_print.h
  librz/util/print.c
  test/db/cmd/cmd_0
Labels: API, command, merge-when-green

#197 Suppress warning about unused variable in div overflow check.
  librz/include/rz_types_overflow.h
Labels: merge-when-green

#199 Remove snow
  librz/core/panels.c
  librz/core/visual.c
  librz/include/rz_cons.h
Labels: panel, visual

#204 Fix assert in anj for address
  librz/core/cmd_analysis.c
  test/db/cmd/cmd_an
Labels: command

#193 Switch to ubuntu-20.04 to fix gcov issue
  .github/workflows/ci.yml
  test/db/archos/linux-x64/dbg_io
  test/db/archos/linux-x64/dbg_maps
  test/db/archos/linux-x64/dbg_px0
  test/db/archos/linux-x64/dbg_step_back
Labels: API, RDebug, RLang, command, infrastructure, merge-when-green, rz_test

#201 Remove folding
  librz/analysis/serialize_analysis.c
  librz/core/agraph.c
  librz/core/canalysis.c
  librz/core/cconfig.c
  librz/core/cmd_analysis.c
  librz/core/core.c
  librz/core/disasm.c
  librz/core/visual.c
  librz/include/rz_analysis.h
  test/db/analysis/x86_32
  test/unit/test_serialize_analysis.c
Labels: command, rz_test, visual

#185 Make it possible to have escape char in cmd_identifier ##newshell
  librz/core/cmd.c
  librz/util/str.c
  shlr/rizin-shell-parser/corpus/simple_commands.txt
  shlr/rizin-shell-parser/src/scanner.c
  test/db/cmd/cmd_w
Labels: command, merge-when-green

#176 Rename more Block API and remove hard-coded x86 logic ##analysis
  librz/analysis/Makefile
  librz/analysis/analysis.c
  librz/analysis/bb.c
  librz/analysis/block.c
  librz/analysis/fcn.c
  librz/analysis/meson.build
  librz/analysis/op.c
  librz/analysis/xrefs.c
  librz/core/agraph.c
  librz/core/canalysis.c
  librz/core/cconfig.c
  librz/core/cmd.c
  librz/core/cmd_analysis.c
  librz/core/cmd_print.c
  librz/core/visual.c
  librz/include/rz_analysis.h
  test/db/cmd/cmd_pd2
  test/unit/mock_io.inl
  test/unit/test_analysis_block.c
Labels: command, rz_test, visual

#121 Enable Travis CI for ARM, PPC, SYSZ
  .travis.disabled.yml
  .travis.yml
  librz/bin/mangling/rust.c
  test/db/cmd/project
  travis-script
Labels: RBin, RzBin, infrastructure, merge-when-green

#172 Fix a crash in dts+ command with empty register arenas ##debug
  librz/debug/dsession.c
  librz/include/rz_reg.h
  librz/include/rz_util/rz_mem.h
  librz/reg/arena.c
  librz/util/mem.c
Labels: API, merge-when-green

#211 Use docker/build-push-action@v2
  .github/workflows/ci.yml
  Dockerfile
Labels: infrastructure

#184 Check if submodules are downloaded and warn user if they are not
  meson.build
Labels: buildsystem

#205 Add clang static analyzer ci (#187)
  .github/workflows/clang-analysis.yml
Labels: infrastructure

#213 Improve meson information, structure and move fortunes
  .github/workflows/ci.yml
  meson.build
  meson_options.txt
  shlr/meson.build
Labels: infrastructure

#206 Added 'aecb' to continue backwards in ESIL ##trace
  librz/core/cmd_analysis.c
  librz/core/core.c
  test/db/cmd/cmd_aecb
Labels: command, merge-when-green

#220 Use Meson/Ninja build in Travis CI
  .travis.yml
  travis-script
Labels: infrastructure, merge-when-green

#219 Remove experimental a2f core analysis plugin.
  librz/core/canalysis.c
  librz/core/cconfig.c
  librz/core/cmd_analysis.c
  librz/core/core.c
  librz/core/meson.build
  librz/core/p/Makefile
  librz/core/p/a2f.mk
  librz/core/p/core_a2f.c
  librz/include/rz_core.h
  librz/meson.build
  plugins.android.cfg
  plugins.bin.cfg
  plugins.def.cfg
  plugins.emscripten.cfg
  plugins.ios-store.cfg
  plugins.ios.cfg
  plugins.nogpl.cfg
  plugins.static.cfg
  plugins.static.nogpl.cfg
  plugins.tiny.cfg
  test/db/analysis/arm
  test/db/analysis/x86_32
  test/db/analysis/x86_64
Labels: RCore, command

#215 Remove Rapatch
  binrz/rz-bin/patch.txt
  doc/rapatch.md
  librz/core/Makefile
  librz/core/cmd_descs.c
  librz/core/cmd_descs.h
  librz/core/cmd_descs.yaml
  librz/core/cmd_write.c
  librz/core/meson.build
  librz/core/patch.c
  librz/include/rz_core.h
  librz/main/rizin.c
  man/rizin.1
  test/db/cmd/cmd_w
  test/db/tools/rz
Labels: command, merge-when-green, rizin

#207 Use async-signal-safe functions after fork in multithread program
  librz/socket/rzpipe.c
  librz/util/sandbox.c
  librz/util/subprocess.c
  librz/util/sys.c
  meson.build
  shlr/ptrace-wrap/Makefile
  shlr/ptrace-wrap/meson.build
  shlr/ptrace-wrap/src/ptrace_wrap.c
Labels: merge-when-green

#225 Always run appveyor
  .appveyor.yml
Labels: infrastructure

#222 Fix gcov working directory for Codecov
  .github/workflows/ci.yml
Labels: infrastructure

#228 Remove citem
  librz/core/Makefile
  librz/core/citem.c
  librz/core/cmd_info.c
  librz/core/meson.build
  librz/include/rz_core.h
Labels: command

#226 rz_sys_system should not depend on LIBC_HAVE_FORK
  .appveyor.yml
  binrz/rz-test/rz-test.c
  librz/cons/cons.c
  librz/core/cmd.c
  librz/include/rz_util/rz_sandbox.h
  librz/lang/lang.c
  librz/lang/p/c.c
  librz/lang/p/cpipe.c
  librz/lang/p/pipe.c
  librz/lang/p/rust.c
  librz/lang/p/vala.c
  librz/lang/p/zig.c
  librz/main/rz_find.c
  librz/socket/rzpipe.c
  librz/util/sandbox.c
  librz/util/sys.c
Labels: API, RLang, command, infrastructure, rz_find

#223 Add Exclusions to RzConfig Loading
  librz/config/serialize_config.c
  librz/core/serialize_core.c
  librz/include/rz_config.h
  test/unit/test_serialize_config.c
Labels: rz_test

#241 Check pdf Bounds earlier
  librz/core/cmd_print.c
  librz/core/disasm.c
Labels: command, merge-when-green

#235 Cleanup cmd_analysis
  librz/core/cmd_analysis.c
Labels: command

#246 Remove r2wars
  librz/core/cconfig.c
  librz/core/cmd_analysis.c
Labels: command

#248 Removing file.md5 file.desc
  librz/core/cconfig.c
  librz/main/rz_hash.c
  man/rz-hash.1
  test/db/tools/rz_hash
Labels: merge-when-green

#271 Remove unused variables: `file.location` and `dbg.libc.dbglib`
  librz/core/cconfig.c
Labels: merge-when-green

#261 Remove unused callback.c
  librz/config/Makefile
  librz/config/callback.c
  librz/config/meson.build
  sys/indent-whitelist.sh
Labels: merge-when-green

#254 Finish removing www related content
  Makefile
  shlr/Makefile
  shlr/www/index.html
  test/db/archos/darwin-x64/http
  test/db/archos/linux-x64/http
  test/db/archos/windows-x64/http
  test/scripts/test-webserver.bat
  test/scripts/test-webserver.sh
Labels: rz_test

#264 Fix 'dr-' usage in the 'doc' command ##debug
  librz/core/cmd_debug.c
Labels: command

#269 Added support for regex in test output ##test
  binrz/rz-test/run.c
  binrz/rz-test/rz-test.c
  binrz/rz-test/rz_test.h
  librz/include/rz_regex.h
  librz/util/regex/regcomp.c
  test/db/archos/linux-x64/dbg_oo
Labels: RUtil

#262 Add dbg.create_new_console to toggle console creation ##debug
  librz/core/cconfig.c
  librz/include/rz_debug.h
  librz/io/p/io_debug.c
Labels: RIO

#265 Remove EMSCRIPTEN__TODO and TODO
  binrz/rizin/rizin.c
  librz/analysis/sign.c
  librz/core/canalysis.c
  librz/core/cbin.c
  librz/core/cmd_search.c
  librz/core/cmd_zign.c
  librz/include/rz_debug.h
  librz/include/rz_types.h
  librz/util/debruijn.c
Labels: command, rizin
