Repository rizinorg/rizin, pull requests merged in 2021-10, with the labels that each got.

#1771 Remove editor from RzCons
  librz/cons/editor.c
  librz/cons/less.c
  librz/cons/meson.build
  librz/core/cmd.c
  librz/core/core.c
  librz/include/rz_cons.h
  librz/lang/lang.c
Labels: command, refactor, RzCons

#1774 Added crc32 and entropy values in `it` command
  librz/bin/bfile.c
  librz/include/rz_bin.h
  test/db/cmd/cmd_i
  test/db/formats/pe/authentihash
  test/unit/test_bin.c
Labels: rz-test

#1783 Rename `pj.h` to `rz_pj.h`
  DEVELOPERS.md
  librz/core/project_migrate.c
  librz/include/rz_cons.h
  librz/include/rz_diff.h
  librz/include/rz_util.h
  librz/include/rz_util/rz_json.h
  librz/include/rz_util/rz_pj.h
  librz/meson.build
  librz/util/json_parser.c
  test/unit/test_pj.c
Labels: rz-test, API

#1785 Enforce c99/gnu99 on libdemangle
  subprojects/libdemangle.wrap
Labels: buildsystem, merge-when-green

#1711 Load all files in `.a`
  librz/bin/bfile.c
  librz/core/cbin.c
  librz/core/cfile.c
  librz/core/cmd_open.c
  librz/include/rz_core.h
  librz/io/p/io_ar.c
  librz/main/rizin.c
  shlr/ar/ar.c
  shlr/ar/ar.h
  test/db/formats/ar
Labels: command, rizin, RzIO

#1781 Extend the pretty printing API for base types and other printers
  librz/core/ctypes.c
  librz/include/rz_type.h
  librz/type/base.c
  librz/type/type.c
  test/db/cmd/cmd_tc
  test/db/cmd/types
  test/unit/test_type.c
Labels: rz-test

#1787 remaining warning build fixes
  librz/include/rz_io.h
  librz/io/p/io_shm.c
Labels: RzIO, merge-when-green

#1788 `pj_(k)r`: Use `ut8` instead of `unsigned char`
  librz/core/cbin.c
  librz/include/rz_util/rz_pj.h
  librz/util/pj.c
Labels: API

#1765 Move files to generate windows installer under dist/windows
  .appveyor.yml
  .github/workflows/ci.yml
  .gitignore
  dist/windows/build_windows_installer.ps1
  dist/windows/rizin.ico
  dist/windows/rizin.iss
  dist/windows/vsdevenv.ps1
  doc/PACKAGERS.md
Labels: infrastructure

#1790 Fix nullptr due missing small_block method when openssl is used.
  librz/hash/algorithms/openssl_common.h
Labels: RzHash

#1792 Fix potential buffer overflow in rc2
  librz/crypto/p/crypto_rc2.c
Labels: RzCrypto

#1769 Use RzOutputMode for `rz_core_file_print()` (`o` cmd)
  librz/core/cfile.c
  librz/core/cmd_open.c
  librz/include/rz_core.h
Labels: command

#1794 Fix changing `rflags` register using `dr`
  librz/core/cmd_debug.c
  test/db/cmd/cmd_ar
  test/db/cmd/cmd_dr
Labels: command

#1798 [dex] to remove bottleneck on rz_list_get_n
  librz/bin/format/dex/dex.c
  librz/bin/format/dex/dex.h
Labels: DEX

#1795 `archos/`: Support `<os>-any` test categories
  binrz/rz-test/load.c
  test/db/archos/linux-any/cmd_i
Labels: rz-test

#1766 Fix function return type for `rz_debug_.*_wait` functions
  librz/debug/p/debug_bf.c
  librz/debug/p/debug_bochs.c
  librz/debug/p/debug_esil.c
  librz/debug/p/debug_io.c
  librz/debug/p/debug_qnx.c
  librz/debug/p/debug_rap.c
  librz/include/rz_debug.h
Labels: RzDebug, ESIL

#1901 [RzIL] implemented ao statement output
  librz/analysis/analysis.c
  librz/analysis/op.c
  librz/analysis/p/analysis_bf.c
  librz/analysis/rzil/rzil.c
  librz/core/cil.c
  librz/core/cmd/cmd_analysis.c
  librz/il/definitions/bag.c
  librz/il/meson.build
  librz/il/rzil_export.c
  librz/il/rzil_opcodes.c
  librz/il/rzil_vm.c
  librz/il/theory_effect.c
  librz/il/theory_mem.c
  librz/il/vm_layer.c
  librz/include/rz_analysis.h
  librz/include/rz_il/definitions/bag.h
  librz/include/rz_il/rzil_vm.h
  test/db/esil/bf
  test/db/rzil/bf
  test/unit/test_il_vm.c
Labels: rz-test, RzAnalysis, API, ESIL, RzCore, RZIL

#1905 Run push only on certain branches
  .github/workflows/code-analysis.yml
  .github/workflows/linter.yml
Labels: infrastructure

#1906 Fix #1887: Sync test results with testfile
  binrz/rz-test/rz-test.c
Labels: rz-test

#1904 Backport: Add Support For dyld4 Atlas-style Shared Library Caches
  librz/bin/format/mach0/dyldcache.c
  librz/bin/format/mach0/dyldcache.h
  librz/bin/format/mach0/mach0.c
  librz/bin/format/mach0/mach0.h
  librz/bin/format/mach0/mach0_specs.h
  librz/bin/format/objc/mach0_classes.c
  librz/bin/format/objc/mach0_classes.h
  librz/bin/p/bin_dyldcache.c
  librz/bin/p/bin_mach0.c
  librz/bin/p/bin_mach064.c
Labels: RzBin, Mach-O

#1908 Refactor bin_xnu_kernelcache to use VFiles instead of IO Hacks
  librz/bin/format/mach0/kernelcache.c
  librz/bin/format/mach0/kernelcache.h
  librz/bin/format/mach0/mach0.c
  librz/bin/format/mach0/mach0.h
  librz/bin/format/mach0/mach064_is_kernelcache.c
  librz/bin/format/mach0/mach0_rebase.c
  librz/bin/meson.build
  librz/bin/p/bin_mach064.c
  librz/bin/p/bin_xnu_kernelcache.c
Labels: RzBin, Mach-O
