Repository rizinorg/rizin, pull requests merged in 2021-09, with the labels that each got.

#1563 Fix Coverity defects
  librz/bin/dwarf.c
  librz/bin/format/elf/elf_relocs.c
  librz/bin/format/ne/ne.c
  librz/bin/p/bin_nro.c
  librz/core/project.c
  librz/type/function.c
  librz/type/parser/types_parser.c
  librz/type/type.c
Labels: RzBin, merge-when-green, RzType

#1565 Force python3 when running sys/version.py
  dist/osx/build_osx_package.sh
Labels: merge-when-green

#1566 Add missing Windows types
  librz/analysis/d/types-windows_winldap.sdb.txt
  test/db/cmd/types
Labels: RzAnalysis, merge-when-green, RzType

#1568 Fix dex & java coverity
  librz/bin/format/dex/dex.c
  librz/bin/format/java/class_attribute.c
  librz/bin/format/java/class_bin.c
  librz/bin/mangling/java.c
Labels: RzBin

#1570 Add missing copyrights
  .reuse/dep5
  librz/bin/format/le/le.h
  librz/bin/format/le/le_specs.h
  librz/bin/format/mach0/coresymbolication.h
  librz/bin/format/mach0/fatmach0.h
  librz/bin/format/mach0/mach0.h
  librz/bin/format/mach0/mach0_specs.h
  librz/bin/format/ne/ne.h
  librz/bin/format/ne/ne_specs.h
  librz/bin/format/nin/gba.h
  librz/bin/format/nin/n3ds.h
  librz/bin/format/nin/nds.h
  librz/bin/format/nin/nin.h
  librz/bin/format/objc/mach064_classes.h
  librz/bin/format/objc/mach0_classes.h
  librz/bin/format/omf/omf.h
  librz/bin/format/omf/omf_specs.h
  librz/bin/format/pe/dotnet.c
  librz/bin/format/pe/dotnet.h
  librz/bin/format/pe/pe.h
  librz/bin/format/pe/pemixed.h
  librz/bin/format/psxexe/psxexe.h
  librz/bin/format/te/te.h
  librz/bin/format/te/te_specs.h
  librz/bin/format/xbe/xbe.h
  librz/bin/format/zimg/zimg.h
  librz/bin/p/bin_xbe.c
  librz/debug/debug.c
  librz/debug/p/bfvm.h
  librz/debug/p/debug_winkd.c
  librz/io/p/io_winkd.c
  librz/search/regexp.c
  librz/util/utf8.c
  shlr/winkd/iob_pipe.c
  shlr/winkd/kd.c
  shlr/winkd/kd.h
  shlr/winkd/transport.c
  shlr/winkd/transport.h
  shlr/winkd/winkd.c
  shlr/winkd/winkd.h
  test/unit/test_inflate_deflate.c
Labels: RzBin, RzDebug

#1536 Implement seeking for global variables
  librz/analysis/var_global.c
  librz/core/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/include/rz_analysis.h
  test/unit/test_analysis_global_var.c
Labels: command, rz-test, RzCore, variable, shell

#1571 RzCore debug - use API instead of `dcr` command
  librz/core/cdebug.c
Labels: RzDebug

#1562 esil_trace.c: Refactor print_instruction_trace()
  librz/analysis/esil/esil_trace.c
  librz/include/rz_analysis.h
Labels: RzAnalysis, ESIL, merge-when-green

#1569 Fix various Coverity bugs
  librz/asm/arch/tms320/c55x_plus/hashtable.c
  librz/bin/format/le/le.c
  librz/bin/format/mach0/mach0.c
  librz/bin/format/pe/pe.c
  librz/bin/format/wasm/wasm.c
  librz/cons/pal.c
  librz/core/cbin.c
  librz/core/cmd_analysis.c
  librz/core/core.c
  librz/debug/debug.c
  librz/include/rz_core.h
  librz/search/strings.c
  librz/util/protobuf.c
  librz/util/regex/regcomp.c
  librz/util/str.c
Labels: command, RzUtil

#1576 Added missing SPDX headers
  librz/asm/arch/arm/winedbg/be_arm.c
  librz/asm/arch/arm/winedbg/be_arm.h
  librz/asm/arch/ppc/libvle/vle.c
  librz/asm/arch/ppc/libvle/vle.h
  librz/asm/arch/ppc/libvle/vle_internal.h
  librz/asm/arch/riscv/riscv-opc.h
  librz/asm/arch/spc700/spc700_opcode_table.h
  librz/asm/arch/tms320/c55x/table.h
  librz/asm/binutils_as.h
  librz/asm/p/asm_snes.h
  librz/bin/format/qnx/qnx_specs.h
  librz/bin/format/xbe/kernel.h
  librz/bin/format/xnu/rz_cf_dict.h
  librz/bin/mangling/demangler.h
  librz/bin/mangling/demangler_types.h
  librz/bin/mangling/microsoft_demangle.h
Labels: RzBin

#1578 Fix #683 - enable SPDX linter checks
  .github/workflows/linter.yml
  subprojects/packagefiles/libzip-1.7.3/create_zip_err_str.py
Labels: infrastructure

#1579 RzCmd: RZ_OUTPUT_MODE_LONG_JSON should be considered same as JSON
  librz/core/cmd_api.c
Labels: command

#1577 Add autocomplete function and cmd arg type for global variables
  librz/core/cautocmpl.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/include/rz_cmd.h
  test/unit/test_autocmplt.c
Labels: rz-test, RzCore, merge-when-green

#1582 Fix few clang-cl warnings
  librz/bin/pdb/pdb_downloader.c
  librz/cons/dietline.c
  librz/core/cmd.c
  librz/core/panels.c
  librz/debug/p/debug_windbg.c
  librz/debug/p/native/windows/windows_debug.c
  librz/io/p/io_self.c
  librz/io/p/io_w32dbg.c
  librz/lang/p/pipe.c
  librz/util/file.c
  librz/util/subprocess.c
  librz/util/syscmd.c
  test/unit/test_diff.c
  test/unit/test_event.c
Labels: command, rz-test, RzIO, RzLang, RzBin, RzDebug, panel

#1593 Fix rz-test coverity issues
  binrz/rz-test/load.c
  binrz/rz-test/run.c
  binrz/rz-test/rz-test.c
Labels: rz-test, merge-when-green

#1595 Added support to swift demangling
  .gitignore
  librz/bin/blang.c
  librz/bin/bobj.c
  librz/bin/demangle.c
  librz/bin/filter.c
  librz/bin/format/java/class_bin.c
  librz/bin/i/private.h
  librz/bin/mangling/swift-sd.c
  librz/bin/mangling/swift.c
  librz/bin/meson.build
  librz/core/cbin.c
  librz/core/cconfig.c
  librz/core/cmd_info.c
  librz/debug/meson.build
  librz/include/rz_bin.h
  librz/main/rz-bin.c
  meson.build
  subprojects/libswift.wrap
  subprojects/libuv.wrap
  test/db/formats/mach0/swift
  test/db/formats/mangling/swift
  test/db/tools/rz_bin
Labels: command, RzBin, merge-when-green

#1603 debug: generate coredump on netbsd.
  librz/core/cmd_debug.c
  librz/debug/p/debug_native.c
  librz/debug/p/debug_windbg.c
  librz/debug/p/native/bsd/bsd_debug.c
  librz/debug/p/native/bsd/bsd_debug.h
  librz/include/rz_debug.h
Labels: command, RzDebug

#1610 Fix type name parsing in `tc` and `tcd`
  librz/core/cmd_type.c
  librz/core/core_private.h
  librz/core/ctypes.c
  test/db/cmd/cmd_tc
  test/db/cmd/types
Labels: command, merge-when-green

#1616 Add `RZ_BUILD_DEBUG` compile time definition for debug logging
  librz/core/cmd.c
  librz/include/rz_userconf.h.in
  librz/include/rz_util/rz_log.h
  librz/type/parser/c_cpp_parser.c
  meson.build
Labels: command, API, RzType

#1623 Fix debugger on alpine system by using proper ptrace type and data
  librz/include/rz_io.h
Labels: merge-when-green

#1619 Fix some leaks detected by Coverity
  librz/bin/bobj.c
  librz/core/cbin.c
  librz/core/cmd_info.c
  librz/core/cmd_type.c
Labels: command

#1596 Remove `-` (open editor) from rzshell
  librz/core/cmd.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
Labels: command, RzCore

#1627 Fix minor leak in union parsing
  librz/type/parser/types_parser.c
Labels: RzType

#1630 Use UTC timezone for tests
  binrz/rz-test/rz-test.c
  test/README.md
Labels: rz-test

#1631 Resolve MMIO and extended registers
  librz/analysis/arch_profile.c
  librz/analysis/op.c
  librz/analysis/p/analysis_avr.c
  librz/core/disasm.c
  librz/include/rz_analysis.h
  librz/include/rz_arch.h
  test/db/analysis/avr
Labels: RzAnalysis

#1488 Use PJ in `config_print_node()`
  librz/config/config.c
  librz/core/cconfig.c
  librz/core/cmd.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_eval.yaml
  librz/core/cmd_eval.c
  librz/include/rz_config.h
  librz/include/rz_core.h
  librz/main/rizin.c
  test/db/cmd/cmd_eval
  test/db/cmd/regexp
Labels: command, rizin, RzCore

#1620 debug: generate core dump for FreeBSD.
  librz/debug/p/native/bsd/bsd_debug.c
  meson.build
Labels: RzDebug, BSD

#1638 Fix array printing in complex types
  librz/core/ctypes.c
  librz/include/rz_type.h
  librz/type/base.c
  librz/type/type.c
  test/unit/test_type.c
Labels: rz-test

#1648 core: While doing @dm gather all addresses first, then iterate
  librz/core/cmd.c
Labels: command

#1649 Default build to Windows 10/Windows Server 2016
  librz/asm/arch/arc/gnu/arc-dis.c
  librz/asm/arch/arc/gnu/arcompact-dis.c
  librz/asm/arch/hppa/gnu/hppa-dis.c
  librz/asm/arch/xtensa/gnu/xtensa-isa.c
  librz/include/rz_types.h
Labels: blocker

#1652 Remove yank test where we alloc 2 GB of ram for no reason
  test/db/cmd/feat_yank
Labels: merge-when-green

#1654 Fix coverity bugs
  binrz/rz-test/rz-test.c
  librz/asm/asm.c
  librz/bin/format/java/class_bin.c
  librz/core/disasm.c
  librz/main/rz-hash.c
  librz/main/rz-run.c
  librz/main/rz-sign.c
  librz/util/strpool.c
  librz/util/subprocess.c
Labels: rz-test

#1639 Add UTC timezone to timestamps
  librz/include/rz_util/rz_time.h
  librz/util/time.c
  test/db/archos/darwin-x64/cmd_pt
  test/db/archos/linux-x64/cmd_pt
  test/db/archos/windows-x64/cmd_pt
  test/db/cmd/cmd_i
  test/db/cmd/cmd_pt
  test/db/formats/pe/arm
  test/db/formats/pe/resource
Labels: API

#1657 #undef `_WIN32_WINNT` and `NTDDI_VERSION` before redefining them
  librz/include/rz_types.h
Labels: infrastructure

#1659 Fix `toe` command
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_type.yaml
  librz/core/cmd_type.c
  librz/core/core_private.h
  librz/core/ctypes.c
  librz/include/rz_type.h
  librz/type/base.c
  librz/type/type.c
  test/unit/test_type.c
Labels: command, rz-test, RzCore

#1669 Restrict builds.sr.ht to Specific Refs
  .builds/freebsd.yml
  .builds/netbsd.yml
  .builds/openbsd.yml
Labels: infrastructure

#1665 Parse comments in types definitions
  librz/core/ctypes.c
  librz/type/base.c
  librz/type/format.c
  librz/type/parser/types_parser.c
  test/db/cmd/types
Labels: merge-when-green, RzType

#1673 Fix Android API type library
  librz/analysis/d/functions-android.sdb.txt
Labels: merge-when-green, RzType

#1685 commands: 'toe' accept a type argument
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_type.yaml
Labels: RzCore, merge-when-green

#1687 Fix leaks found by Coverity
  librz/analysis/serialize_analysis.c
  librz/analysis/var.c
  librz/core/canalysis.c
  librz/core/cmd_type.c
  librz/core/ctypes.c
Labels: command

#1689 Check for not declared keys earlier to prevent segfault.
  binrz/rz-test/load.c
Labels: rz-test

#1693 Add some missing Windows types
  librz/analysis/d/types-windows.sdb.txt
  test/db/cmd/types
Labels: RzAnalysis, RzType, Windows

#1694 io/io_ar: Check for NULL when doing strdup
  librz/io/p/io_ar.c
Labels: RzIO

#1697 Fix Global Variable UAF after deleting flag manually
  librz/analysis/var_global.c
  librz/include/rz_analysis.h
  librz/include/rz_core.h
  test/unit/test_analysis_global_var.c
Labels: rz-test

#1701 Fix Leaks in Types string conversions
  librz/type/type.c
  test/unit/test_type.c
Labels: rz-test

#1700 Add `not-windows-x64` category to `archos/`
  binrz/rz-test/load.c
  test/db/archos/linux-x64/cmd_pt
  test/db/archos/not-windows-x64/cmd_pt
Labels: rz-test

#1688 Fixes for Windows input when `e scr.vtmode=1`
  librz/cons/cons.c
  librz/cons/input.c
  librz/core/cconfig.c
Labels: Windows, RzCons

#1703 Unicode fixes for Windows
  librz/main/rizin.c
  librz/main/rz-diff.c
  librz/main/rz-sign.c
  librz/util/file.c
Labels: rizin

#1535 UTF-16 be, UTF-32 be support
  librz/bin/bfile.c
  librz/bin/bin.c
  librz/core/cbin.c
  librz/include/rz_bin.h
  librz/include/rz_util.h
  librz/include/rz_util/rz_str_search.h
  librz/include/rz_util/rz_utf32.h
  librz/meson.build
  librz/util/meson.build
  librz/util/str_search.c
  test/db/cmd/cmd_i
  test/db/formats/mdmp
  test/unit/meson.build
  test/unit/test_str_search.c
Labels: rz-test, API, test-required, high-priority, refactor, RzUtil

#1706 Do not use VLA - MSVC does not support them
  librz/util/str_search.c
Labels: merge-when-green

#1705 Fix #807 - Don't use `cmd.prompt` to update register flags
  librz/core/cconfig.c
  librz/core/cdebug.c
  librz/core/cio.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/core.c
  librz/core/core_private.h
Labels: command, RzDebug

#1675 Fixes for WinDbg plugin debugging
  librz/debug/p/debug_windbg.c
  librz/io/p/io_windbg.c
Labels: RzIO, RzDebug, Windows, WinDbg

#1713 `archos/`: Support `any` arch for `not-` categories
  binrz/rz-test/load.c
  test/db/archos/not-windows-any/cmd_pt
Labels: rz-test

#1719 debug: handle signals on NetBSD and little build fix.
  librz/debug/p/debug_native.c
  librz/debug/p/native/bsd/bsd_debug.c
  librz/include/rz_io.h
Labels: RzDebug

#1707 Implemented RzVirtTermMode for more clarity
  librz/cons/cons.c
  librz/cons/dietline.c
  librz/cons/input.c
  librz/cons/line.c
  librz/cons/output.c
  librz/core/cconfig.c
  librz/core/visual.c
  librz/include/rz_cons.h
Labels: visual, Windows

#1709 Extract few more APIs for w and idp commands
  librz/core/cbin.c
  librz/core/cio.c
  librz/core/cmd_info.c
  librz/core/cmd_write.c
  librz/core/core_private.h
  librz/core/ctypes.c
  librz/include/rz_core.h
Labels: command

#1730 Fix pimm/cimm opex printing in ARM instructions
  librz/analysis/p/analysis_arm_cs.c
  test/db/cmd/cmd_ao
Labels: RzAnalysis

#1723 Move `cmd_interpreter` test into `not-windows-any` + diff btw `cmd_i` tests of `linux-x64` and `darwin-x64`
  test/db/archos/darwin-x64/cmd_i
  test/db/archos/linux-x64/cmd_i
  test/db/archos/linux-x64/cmd_interpreter
  test/db/archos/not-windows-any/cmd_interpreter
Labels: rz-test, merge-when-green

#1655 Port ax commands to newshell
  librz/analysis/xrefs.c
  librz/bin/format/xnu/scripts/machtraps.py
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_print.c
  librz/core/core.c
  librz/core/panels.c
  librz/include/rz_analysis.h
  test/db/analysis/arm
  test/db/analysis/avr
  test/db/analysis/mips
  test/db/analysis/x86_32
  test/db/analysis/x86_64
  test/db/archos/linux-x64/dbg_aslr
  test/db/archos/linux-x64/dbg_gdbserver_rebase
  test/db/archos/windows-x64/dbg_rebase
  test/db/cmd/cmd_ax
  test/db/cmd/cmd_pd
  test/db/cmd/cmd_pd2
  test/db/cmd/cmd_zignature
  test/db/extras/cmd/udis86
  test/db/formats/mach0/objc
  test/db/formats/pe/ioli
  test/db/json/json2
Labels: command, RzCore, panel

#1736 Fixed GCC 11 warning in rz-test
  binrz/rz-test/rz-test.c
Labels: rz-test

#1743 Add separate test to check if C++ programs work with Rizin
  .github/workflows/ci.yml
  test/unit/cpp/meson.build
  test/unit/cpp/test_cpp.cpp
Labels: infrastructure

#1686 Convert `pm` to rz-shell
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
  librz/core/cmd_magic.c
  librz/core/cmd_print.c
  test/db/cmd/cmd_print
Labels: command, RzCore, shell

#1574 Add serialization functionality for breakpoints
  librz/bp/meson.build
  librz/bp/serialize_bp.c
  librz/core/project_migrate.c
  librz/core/serialize_core.c
  librz/debug/meson.build
  librz/debug/serialize_debug.c
  librz/include/rz_bp.h
  librz/include/rz_debug.h
  librz/include/rz_project.h
  test/db/cmd/project
  test/unit/meson.build
  test/unit/test_project_migrate.c
  test/unit/test_serialize_debug.c
Labels: rz-test

#1747 Fix `test_debug_serialize` for Windows and other platforms
  test/unit/test_serialize_debug.c
Labels: rz-test

#1750 Add API function for `RzBreakpointItem` and fix breakpoint serialization tests
  librz/bp/bp.c
  librz/debug/debug.c
  librz/include/rz_bp.h
  librz/include/rz_debug.h
  test/unit/test_serialize_debug.c
Labels: rz-test, high-priority

#1737 Port `r` (resize) commands to the rzshell
  librz/core/cmd.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
  librz/core/cmd_descs/cmd_resize.yaml
  librz/core/cmd_descs/meson.build
  librz/core/cmd_resize.c
  test/db/io/resize
Labels: command, RzCore, shell

#1745 Port `b` (block size) commands to the rzshell
  librz/core/cmd.c
  librz/core/cmd_block.c
  librz/core/cmd_descs/cmd_block.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
  librz/core/cmd_descs/meson.build
Labels: command, RzCore, merge-when-green, shell

#1734 Port `y` (yank) commands to the rzshell
  librz/core/cmd.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
  librz/core/cmd_descs/cmd_yank.yaml
  librz/core/cmd_descs/meson.build
  librz/core/cmd_help.c
  librz/core/cmd_yank.c
  librz/core/yank.c
  librz/include/rz_core.h
  test/db/cmd/cmd_yank
  test/db/cmd/feat_yank
  test/unit/meson.build
  test/unit/test_yank.c
Labels: command, rz-test, RzCore, shell

#1757 Removed junk on screen in visual mode with two columns
  librz/core/visual.c
Labels: visual, merge-when-green

#1678 Type pretty printing API
  librz/include/rz_type.h
  librz/type/type.c
  test/db/cmd/cmd_avg
  test/unit/test_type.c
Labels: command, rz-test, API

#1759 Detect `shm_open()` function with Meson
  librz/include/rz_userconf.h.in
  librz/io/meson.build
  librz/io/p/io_shm.c
  meson.build
Labels: RzIO, merge-when-green

#1728 Cherry pick refactor elf plugin interface
  librz/bin/format/elf/elf.c
  librz/bin/format/elf/elf.h
  librz/bin/format/elf/elf64_ehdr.c
  librz/bin/format/elf/elf_ehdr.c
  librz/bin/format/elf/elf_specs.h
  librz/bin/meson.build
  librz/bin/p/bin_cgc.c
  librz/bin/p/bin_elf.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_elf64.c
  test/db/cmd/cmd_i
  test/db/cmd/metadata
  test/db/formats/elf/thumb
  test/db/tools/rz_bin
Labels: RzBin, merge-when-green

#1763 Refactor loading of the PE headers
  librz/bin/format/mdmp/mdmp.c
  librz/bin/format/pe/pe.c
  librz/bin/format/pe/pe.h
  librz/bin/format/pe/pe_misc.c
  librz/bin/format/pe/pe_specs.h
  librz/bin/meson.build
Labels: rz-test, RzIO, PE, refactor
