Repository rizinorg/rizin, pull requests merged in 2021-04, with the labels that each got.

#946 Fix dup ]0;0H esc seq in cmd_visual test
  librz/cons/cons.c
  librz/core/visual.c
  librz/include/rz_cons.h
  test/db/cmd/cmd_visual
Labels: visual

#954 Remove some exit() calls from librz/
  librz/crypto/p/crypto_serpent_algo.c
  librz/egg/egg_lang.c
  librz/egg/rlcc/rlcc.c
Labels: RzCrypto, RzEgg

#957 Coverity test
  .github/workflows/coverity-scan.yml
Labels: infrastructure

#938 Separate Relocs Setting and Printing
  librz/bin/bin.c
  librz/bin/bobj.c
  librz/bin/i/private.h
  librz/core/cbin.c
  librz/include/rz_bin.h
  librz/include/rz_core.h
Labels: RzBin

#949 Fix wrong demangling of tiff swab16 bit data
  librz/bin/mangling/swift-sd.c
  test/db/formats/coff
Labels: RzBin

#947 Separate Entry Setting and Printing
  librz/core/cbin.c
  librz/include/rz_core.h
Labels: RzBin

#965 Fix dup [?25l esc seq in cmd_visual test
  librz/core/visual.c
  test/db/cmd/cmd_visual
Labels: visual

#968 Fix some leaks.
  librz/core/canalysis.c
  librz/core/cmd.c
  librz/util/file.c
Labels: command

#967 omt: Enable table modifiers
  librz/core/cmd_open.c
  test/db/analysis/x86_32
Labels: command

#953 Detect presence of extern char **environ
  librz/include/rz_userconf.h.in
  librz/util/subprocess.c
  librz/util/sys.c
  meson.build
Labels: MacOS, buildsystem

#951 Link sdb and spp libs wholly to rz_util
  librz/core/meson.build
  librz/lang/meson.build
  librz/util/meson.build
  meson.build
  subprojects/sdb.wrap
Labels: merge-when-green

#981 Make rz_diff_buffers_unified() use the Subprocess API (dev)
  binrz/rz-test/rz-test.c
  librz/include/rz_diff.h
  librz/main/rz-diff.c
  librz/util/udiff.c
Labels: rz-test

#980 Make rz_diff_buffers_unified() use the Subprocess API
  binrz/rz-test/rz-test.c
  librz/include/rz_diff.h
  librz/main/rz-diff.c
  librz/util/udiff.c
Labels: rz-test

#975 Split afvx to two commands - one for variables and one for function arguments
  librz/core/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  test/db/analysis/vars
Labels: RzCore, command

#990 Add omtq (:quiet version of omt)
  librz/core/cmd_open.c
  test/db/analysis/x86_32
  test/db/io/om
Labels: command

#998 Support x86_64 and macOS dyld caches (#18570) ##bin
  librz/bin/p/bin_dyldcache.c
Labels: RzBin

#1005 Use PJ in `Lcj` and refactor to use API in panels ##json
  librz/core/cmd_plugins.c
  librz/core/panels.c
  test/db/cmd/cmd_list
Labels: command, panel

#1010 Switch enums access to RzBaseType API
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_type.yaml
  librz/core/cmd_type.c
  librz/core/core_private.h
  librz/core/ctypes.c
  librz/include/rz_type.h
  librz/type/format.c
  librz/type/type.c
  test/db/cmd/types
Labels: RzCore, command, merge-when-green, types

#1016 Update sdb to 9e3917094700a8bea44c6467af716c7bbb6fe97f
  subprojects/sdb.wrap
Labels: stable-backport

#1012 Add RzIOMap return to rz_io_open_at()
  librz/analysis/p/analysis_8051.c
  librz/analysis/p/analysis_pic.c
  librz/bin/p/bin_coff.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_mach0.c
  librz/core/cbin.c
  librz/core/cmd_open.c
  librz/include/rz_io.h
  librz/io/io.c
  test/unit/test_buf.c
  test/unit/test_io.c
Labels: RzAnalysis, RzBin, command, rz-test

#1021 Remove hacky Overlap Check in Core IO Mapping from Bin
  librz/bin/p/bin_nes.c
  librz/core/cbin.c
Labels: RzAnalysis, RzBin, command, rz-test

#1028 AVR LGPL Assembler and Disassembler + tests
  librz/analysis/meson.build
  librz/analysis/p/analysis_avr.c
  librz/asm/arch/avr/README
  librz/asm/arch/avr/assembler.c
  librz/asm/arch/avr/assembler.h
  librz/asm/arch/avr/avr_disasm.c
  librz/asm/arch/avr/avr_disasm.h
  librz/asm/arch/avr/avr_instructionset.c
  librz/asm/arch/avr/avr_instructionset.h
  librz/asm/arch/avr/common.h
  librz/asm/arch/avr/disasm.c
  librz/asm/arch/avr/disasm.h
  librz/asm/arch/avr/disassembler.c
  librz/asm/arch/avr/disassembler.h
  librz/asm/arch/avr/errorcodes.h
  librz/asm/arch/avr/format.c
  librz/asm/arch/avr/format.h
  librz/asm/meson.build
  librz/asm/p/asm_avr.c
  test/db/analysis/avr
  test/db/asm/avr
  test/db/cmd/cmd_rop
  test/db/formats/elf/riscv
Labels: RzAnalysis

#1031 Remove appending Section Index to Name in COFF Plugin
  librz/bin/p/bin_coff.c
  test/db/formats/coff
Labels: RzBin

#1026 New API to get vector of RzIO maps
  librz/bin/p/bin_coff.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_mach0.c
  librz/core/canalysis.c
  librz/core/cfile.c
  librz/core/cmd_analysis.c
  librz/core/cmd_open.c
  librz/core/cmd_search.c
  librz/core/linux_heap_glibc.c
  librz/core/visual.c
  librz/include/rz_io.h
  librz/io/io_map.c
  test/unit/test_io.c
Labels: RzBin, command, rz-test, visual

#1020 Switch struct/union access to RzBaseType API
  librz/include/rz_type.h
  librz/type/base.c
  librz/type/link.c
  librz/type/type.c
  test/db/cmd/types
Labels: refactor, types

#1040 Fix some Leaks in Dex
  librz/bin/bfile.c
  librz/bin/format/dex/dex.c
  librz/bin/p/bin_dex.c
Labels: RzBin

#1042 Honor value_add when estimating dyldcache slide ##bin
  librz/bin/p/bin_dyldcache.c
  test/db/formats/dyldcache
Labels: RzBin

#1039 `rz-pm` fetch all reference to checkout selected tags
  binrz/rz-pm/rz-pm
Labels: high-priority

#1038 Remove unused Travis and Purge action in rz-pm
  binrz/rz-pm/rz-pm
Labels: merge-when-green

#1050 Fix symbols collision due to visibility not being used on subprojects
  meson.build
Labels: stable-backport

#1049 Fix a typo in `afv` commands
  librz/core/cmd_analysis.c
Labels: RzAnalysis, command, vars

#1056 Release 0.2.1 cherrypicks
  librz/util/str.c
Labels: merge-when-green

#1060 Rename newshell to rzshell and parser commands to statements
  CONTRIBUTING.md
  doc/newshell.md
  librz/core/cautocmpl.c
  librz/core/cconfig.c
  librz/core/cmd.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs_generate.py
  librz/core/core.c
  librz/core/p/core_plugin_example.c
  librz/core/rz-shell-parser-cmds.inc
  librz/include/rz_core.h
  librz/main/rizin.c
  man/rizin.1
  shlr/rizin-shell-parser/corpus/cmd_specifier.txt
  shlr/rizin-shell-parser/corpus/cmd_substitution.txt
  shlr/rizin-shell-parser/corpus/comments.txt
  shlr/rizin-shell-parser/corpus/escape_args.txt
  shlr/rizin-shell-parser/corpus/grep_commands.txt
  shlr/rizin-shell-parser/corpus/iter_commands.txt
  shlr/rizin-shell-parser/corpus/pf_commands.txt
  shlr/rizin-shell-parser/corpus/pipes.txt
  shlr/rizin-shell-parser/corpus/quoted_args.txt
  shlr/rizin-shell-parser/corpus/redirects.txt
  shlr/rizin-shell-parser/corpus/repeated_commands.txt
  shlr/rizin-shell-parser/corpus/search_commands.txt
  shlr/rizin-shell-parser/corpus/simple_commands.txt
  shlr/rizin-shell-parser/corpus/special_commands.txt
  shlr/rizin-shell-parser/corpus/temporary_changes.txt
  shlr/rizin-shell-parser/grammar.js
  shlr/rizin-shell-parser/src/grammar.json
  shlr/rizin-shell-parser/src/node-types.json
  shlr/rizin-shell-parser/src/parser.c
  shlr/rizin-shell-parser/src/scanner.c
  test/db/cmd/cmd_interpret
  test/db/cmd/cmd_pd
  test/db/cmd/cmd_task
  test/db/cmd/cmd_w
  test/db/cmd/cmd_zignature
  test/db/cmd/feat_grep
  test/db/cmd/feat_quote
  test/db/cmd/project
  test/db/cmd/regexp
  test/unit/test_autocmplt.c
  test/unit/test_core_cmd.c
  travis-script
Labels: RzCore, command, rizin

#1066 8051: Make Jump Targets in Higher Banks stay inside their Bank
  librz/analysis/p/analysis_8051.c
  librz/asm/arch/8051/8051_disas.c
  librz/asm/arch/8051/8051_ops.h
  test/db/analysis/8051
Labels: RzAnalysis

#1070 New function disassembly API
  librz/core/cmd_print.c
  librz/core/disasm.c
  librz/include/rz_core.h
Labels: API, command, disassembly

#1072 Refactoring rz-hash, crypto and hashes interfaces
  librz/core/cmd_write.c
  librz/crypto/crypto.c
  librz/crypto/p/crypto_aes.c
  librz/crypto/p/crypto_aes_algo.c
  librz/crypto/p/crypto_aes_algo.h
  librz/crypto/p/crypto_aes_cbc.c
  librz/crypto/p/crypto_base64.c
  librz/crypto/p/crypto_base91.c
  librz/crypto/p/crypto_blowfish.c
  librz/crypto/p/crypto_cps2.c
  librz/crypto/p/crypto_des.c
  librz/crypto/p/crypto_punycode.c
  librz/crypto/p/crypto_rc2.c
  librz/crypto/p/crypto_rc4.c
  librz/crypto/p/crypto_rc6.c
  librz/crypto/p/crypto_rol.c
  librz/crypto/p/crypto_ror.c
  librz/crypto/p/crypto_rot.c
  librz/crypto/p/crypto_serpent.c
  librz/crypto/p/crypto_serpent_algo.c
  librz/crypto/p/crypto_serpent_algo.h
  librz/crypto/p/crypto_xor.c
  librz/hash/entropy.c
  librz/hash/hash.c
  librz/hash/state.c
  librz/include/rz_crypto.h
  librz/include/rz_hash.h
  librz/main/rz-hash.c
  librz/util/punycode.c
  shlr/winkd/iob_net.c
  test/db/cmd/cmd_ph
  test/db/cmd/md5sha1
  test/db/tools/rz_hash
Labels: RzCrypto, command

#1074 Add alignment to `iSS` and `iS` commands where appropriate
  librz/bin/format/mach0/mach0.c
  librz/bin/p/bin_elf.inc
  librz/core/cbin.c
  librz/include/rz_bin.h
  test/db/abi/platforms/sections
  test/db/cmd/cmd_i
  test/db/cmd/feat_variables
  test/db/formats/elf/sections
  test/db/formats/mach0/mach0
  test/db/tools/rz_bin
Labels: RzBin

#1083 table.c: On no op, print column named (new syntax)
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.yaml
  librz/util/table.c
  test/db/analysis/x86_32
  test/db/cmd/tables
  test/db/io/om
Labels: RzCore

#1085 Fix omtq wrt new table syntax
  librz/core/cmd_open.c
  test/db/analysis/x86_32
  test/db/cmd/tables
  test/db/io/om
Labels: command

#1086 Replace SDB with SetU in librz/bin/p/bin_mach0.c
  librz/bin/p/bin_mach0.c
Labels: RzBin

#1092 Add rz_list_find_ptr()
  librz/include/rz_list.h
  librz/util/list.c
  test/unit/test_list.c
Labels: rz-test
