Repository rizinorg/rizin, pull requests merged in 2021-01, with the labels that each got.

#287 Rename zign cfg vars and disable zign.match.types
  librz/core/cconfig.c
  librz/core/cmd_zign.c
  test/db/cmd/cmd_zignature
Labels: command

#305 More Rizin renames
  librz/bin/bfile.c
  librz/core/cbin.c
  librz/core/cmd_debug.c
  librz/core/cmd_info.c
  librz/core/cmd_search.c
  librz/include/rz_types.h
  librz/main/rz_bin.c
  sys/ios-sdk.sh
  test/unit/test_annotated_code.c
Labels: command, rz_bin, rz_test

#307 Add a Security policy
  SECURITY.md
Labels: merge-when-green

#300 Use /MT for VS2019 build
  meson.build
Labels: infrastructure

#308 Fix #298: Tighten utf16le auto-detection rules
  librz/bin/bfile.c
  test/db/cmd/cmd_i
  test/db/formats/elf/elf-relro
  test/db/formats/mdmp
Labels: merge-when-green

#319 More refactoring to use PJ
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/debug/dreg.c
  librz/include/rz_core.h
  librz/include/rz_debug.h
  test/db/formats/mach0/swift
  test/db/json/json1
Labels: command

#250 Add -std=c99, for older gcc ##build
  config-user.mk.acr
  configure
  configure.acr
  meson.build
  shlr/Makefile
Labels: merge-when-green

#328 CentOS 6 is EOL. Switch CI to CentOS 7
  .github/workflows/ci.yml
Labels: infrastructure

#310 Remove all dead assignment detected by clang static analysis
  binrz/rizin/rizin.c
  librz/analysis/dwarf_process.c
  librz/core/agraph.c
  librz/core/cmd.c
  librz/core/cmd_api.c
  librz/core/core.c
  librz/egg/egg_lang.c
  librz/util/print.c
  shlr/java/code.c
Labels: command, rizin

#324 Fix clang static analysis
  .github/workflows/clang-analysis.yml
Labels: infrastructure

#338 Remove Mingw and Cygwin from ACR build
  configure
  configure.acr
  doc/gprobe.md
  librz/config.mk.tail
  librz/io/p/rzk.mk
  librz/socket/deps.mk
  librz/util/regex/Makefile
  mk/i386-mingw32-gcc.mk
  mk/i486-mingw32-gcc.mk
  mk/i586-mingw32-gcc.mk
  mk/i586-mingw32msvc-gcc.mk
  mk/i686-pc-mingw32-gcc.mk
  mk/i686-unknown-mingw32_nt-6.2-gnu.mk
  mk/i686-w64-mingw32-gcc.mk
  mk/i686-w64-mingw32.static-gcc.mk
  mk/mingw32-gcc-5.3.0.mk
  mk/platform.mk
  mk/x86_64-w64-mingw32-gcc.mk
  mk/x86_64-w64-mingw32.static-gcc.mk
  shlr/ar/Makefile
  shlr/java/Makefile
  shlr/zip/zip/Makefile
  shlr/zip/zlib/Makefile
Labels: RzIO, RzUtil, merge-when-green

#318 Remove `arS` command ##analysis
  librz/core/cmd_analysis.c
Labels: command

#321 Fixing clang flow warnings
  librz/analysis/op.c
  librz/analysis/p/analysis_pyc.c
  librz/asm/arch/amd29k/amd29k.c
  librz/asm/arch/arm/aarch64/aarch64-dis.c
  librz/asm/arch/arm/aarch64/aarch64-opc.c
  librz/asm/arch/mips/mipsasm.c
  librz/debug/arg.c
  librz/reg/profile.c
  librz/util/udiff.c
Labels: RzAnalysis, merge-when-green

#343 Remove lines cache
  librz/core/cconfig.c
  librz/core/cmd_print.c
  librz/core/cmd_seek.c
  librz/core/core.c
  librz/include/rz_cmd.h
  librz/include/rz_core.h
  librz/include/rz_util/rz_print.h
  librz/util/print.c
  test/db/cmd/cmd_0
  test/db/cmd/cmd_print
  test/db/cmd/cmd_seek
Labels: API, command

#339 Shell error messages improvements
  librz/core/cmd.c
  librz/core/cmd_api.c
  librz/include/rz_cmd.h
  test/db/cmd/cmd_w
  test/unit/test_cmd.c
Labels: command, rz_test

#342 Use Meson for static build
  .github/workflows/ci.yml
Labels: infrastructure

#344 Update rz-diff's manpage and other minor improvements in rz-diff ##docs
  librz/main/rz_diff.c
  man/rz-diff.1
Labels: rz_diff

#355 Fix minunit -Wformat-overflow= warning by increasing msg buf size
  test/unit/minunit.h
Labels: rz_test

#356 Fix cursor in panels mode
  librz/core/panels.c
Labels: panel

#358 Move seek history from RzIO to RzCore
  librz/core/Makefile
  librz/core/agraph.c
  librz/core/canalysis.c
  librz/core/cconfig.c
  librz/core/cio.c
  librz/core/cmd_seek.c
  librz/core/cmd_write.c
  librz/core/core.c
  librz/core/meson.build
  librz/core/panels.c
  librz/core/seek.c
  librz/core/visual.c
  librz/core/vmenus.c
  librz/include/rz_core.h
  librz/include/rz_io.h
  librz/include/rz_vector.h
  librz/io/Makefile
  librz/io/io.c
  librz/io/meson.build
  librz/io/undo.c
  librz/io/undo.h
  test/db/cmd/cmd_seek
  test/db/cmd/manyundo
  test/db/cmd/undoredo
  test/unit/meson.build
  test/unit/test_core_seek.c
  test/unit/test_vector.c
Labels: command, merge-when-green, panel, rz_test, visual

#362 Exclude external lib of analysis (clang CI)
  .github/workflows/clang-analysis.yml
Labels: infrastructure

#366 Remove the `/me` command ##cons
  librz/core/cmd_search.c
Labels: command

#357 Add a test for `tlj` ##test
  librz/core/cmd_type.c
  test/db/cmd/types
Labels: command

#364 Remove ESIL to REIL conversion
  librz/analysis/Makefile
  librz/analysis/esil2reil.c
  librz/analysis/meson.build
  librz/core/cmd_analysis.c
  test/db/cmd/cmd_aetr
Labels: ESIL, command

#367 minunit.h: Use snprintf instead
  test/unit/minunit.h
Labels: rz_test

#354 Use Meson dist for generating tarball
  .github/workflows/ci.yml
  .github/workflows/tcc.yml
Labels: infrastructure

#365 Fix `???` command, which should show the help of `?`
  librz/core/cmd_api.c
  test/db/cmd/cmd_help
Labels: command

#361 AVR: Fixed profile, (null) instruction and analysis
  librz/analysis/p/analysis_avr.c
  librz/asm/arch/avr/disasm.c
  test/db/analysis/avr
  test/db/asm/avr
Labels: RzAnalysis

#374 Removed TTS
  librz/core/cconfig.c
  librz/core/cmd.c
  librz/core/cmd_descs.c
  librz/core/cmd_descs.yaml
  librz/core/cmd_help.c
  librz/core/cmd_info.c
  librz/core/core.c
  librz/core/fortune.c
  librz/core/rz-shell-parser-cmds.inc
  librz/include/rz_cons.h
  librz/include/rz_util/rz_sys.h
  librz/util/sys.c
  shlr/rizin-shell-parser/corpus/pipes.txt
  shlr/rizin-shell-parser/grammar.js
  shlr/rizin-shell-parser/src/grammar.json
  shlr/rizin-shell-parser/src/node-types.json
  shlr/rizin-shell-parser/src/parser.c
Labels: API, command

#376 Fix trace crash caused by a mismatch between the register profile and op analysis
  binrz/rz-test/run.c
  binrz/rz-test/rz-test.c
  librz/debug/p/native/reg/windows-x64.h
  librz/debug/trace.c
  test/db/archos/windows-x64/dbg_dts
Labels: merge-when-green

#388 Replace naked rz_sys_system/write/read/freopen calls with their wrapped counterparts
  binrz/preload/librz2.c
  binrz/rizin/rizin.c
  librz/analysis/p/analysis_x86_cs.c
  librz/asm/p/asm_x86_nasm.c
  librz/cons/cons.c
  librz/cons/cutf8.c
  librz/cons/output.c
  librz/core/cmd.c
  librz/core/cmd_debug.c
  librz/core/panels.c
  librz/debug/p/debug_native.c
  librz/debug/p/native/darwin.c
  librz/include/rz_types.h
  librz/include/rz_util/rz_sys.h
  librz/lang/lang.c
  librz/lang/p/pipe.c
  librz/main/rizin.c
  librz/main/rz_diff.c
  librz/main/rz_find.c
  librz/main/rz_hash.c
  librz/main/rz_run.c
  librz/socket/rzpipe.c
  librz/util/file.c
  librz/util/subprocess.c
  test/unit/test_buf.c
  test/unit/test_io.c
  test/unit/test_util.c
Labels: API, RzAnalysis, RzDebug, RzLang, command, panel, rizin, rz_diff, rz_find, rz_hash, rz_run, rz_test

#372 Add additional ELF header fields to rz-bin output
  librz/bin/p/bin_elf.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_elf64.c
  test/db/cmd/cmd_i
  test/db/tools/rz_bin
Labels: RzBin, test-required, waiting-for-author

#390 Remove REIL related code
  librz/analysis/esil.c
  librz/core/cmd_analysis.c
  librz/include/rz_analysis.h
Labels: ESIL, command

#395 Remove an empty and useless Makefile in `librz/lang` ##lang
  librz/lang/p/Makefile
Labels: RzLang

#375 Convert `s` commands to newshell
  librz/bin/format/xnu/scripts/machtraps.py
  librz/core/cconfig.c
  librz/core/cio.c
  librz/core/cmd.c
  librz/core/cmd_analysis.c
  librz/core/cmd_descs.c
  librz/core/cmd_descs.h
  librz/core/cmd_descs.yaml
  librz/core/cmd_descs_generate.py
  librz/core/cmd_seek.c
  librz/core/rtr_shell.c
  librz/core/seek.c
  librz/core/visual.c
  librz/include/rz_cmd.h
  librz/include/rz_core.h
  librz/util/print_code.c
  test/db/analysis/arm64
  test/db/analysis/avr
  test/db/analysis/v850
  test/db/analysis/x86_32
  test/db/analysis/x86_64
  test/db/cmd/0000
  test/db/cmd/cmd_afb
  test/db/cmd/cmd_disassembly
  test/db/cmd/cmd_macros
  test/db/cmd/cmd_pc
  test/db/cmd/cmd_pd
  test/db/cmd/cmd_pd_bugs
  test/db/cmd/cmd_pf2
  test/db/cmd/cmd_px
  test/db/cmd/cmd_seek
  test/db/cmd/feat_variables
  test/db/cmd/malloc
  test/db/cmd/manyundo
  test/db/cmd/types
  test/db/cmd/undoredo
  test/db/cmd/write
  test/db/esil/arm_16
  test/db/esil/mips_32
  test/db/esil/x86_64
  test/db/formats/elf/v850
  test/db/io/cache
  test/db/io/ff
  test/db/io/neg
  test/db/json/json4
  test/db/tools/rz
  test/notworking_db/linux-arm/dbg_bps
  test/unit/test_core_seek.c
Labels: RzAnalysis, RzBin, RzDebug, command, panel, rizin, visual

#396 Check if list of basic block is empty to avoid crash when doing @@i
  librz/core/cmd.c
Labels: command

#402 Fix rz_bin to rz-bin
  librz/bin/d/dll/makefile
  librz/core/cmd_debug.c
  librz/core/cmd_info.c
  librz/core/cmd_print.c
  librz/egg/egg_Cfile.c
Labels: command, merge-when-green

#409 Fix old uses of @@ and @@@
  librz/core/cmd_analysis.c
  librz/core/cmd_macro.c
  librz/core/hack.c
  librz/include/sflib/darwin-arm-64/ios-syscalls.py
Labels: command

#411 Fix rpath on MacOS, broken by moving binaries for signing
  binrz/rizin/macos_sign.sh
  binrz/rizin/meson.build
  meson.build
Labels: rizin

#415 Patching AVR ao wrong output on rjmp instruction
  librz/analysis/p/analysis_avr.c
  test/db/analysis/avr
Labels: RzAnalysis, merge-when-green

#423 Fix -Wmaybe-uninitialized warnings
  librz/analysis/rtti_msvc.c
  librz/core/agraph.c
  librz/core/cmd_open.c
  librz/core/task.c
Labels: command

#421 Extend warning when debug on macOS fails
  librz/io/p/io_mach.c
Labels: RzIO, merge-when-green

#410 Use RzStrBuf for RzAnalysisEsil::current_opstr
  librz/analysis/esil.c
  librz/analysis/esil_dfg.c
  librz/include/rz_analysis.h
Labels: ESIL

#429 Use PJ API in RzCore
  librz/core/cmd_print.c
  librz/core/disasm.c
  librz/core/yank.c
  test/db/cmd/cmd_pd
  test/db/esil/x86_32
  test/db/formats/elf/crash
  test/db/formats/elf/helloworld-gcc-elf
  test/db/json/json1
  test/db/json/json4
Labels: command

#436 Fix crash with `es` without args
  librz/core/cmd_eval.c
Labels: command

#438 Fix memleaks in ESIL op handlers
  librz/analysis/esil.c
Labels: ESIL

#412 Use HtUP for storing ESIL interrupt handlers
  librz/analysis/esil_interrupt.c
  librz/core/cmd_analysis.c
  librz/include/rz_analysis.h
Labels: ESIL, command

#451 Make Tiny C Compiler `configure` script executable again
  .github/workflows/tcc.yml
Labels: infrastructure

#448 COFF: set zero size for label-symbols
  librz/bin/p/bin_coff.c
Labels: RzBin

#461 Fix code style in esil_interrupts.c
  librz/analysis/esil_interrupt.c
Labels: ESIL, merge-when-green

#463 Fix signature in JSON mode in MachO and check for NULL signature
  librz/bin/p/bin_mach0.c
  librz/bin/p/bin_qnx.c
  librz/core/cbin.c
Labels: RzBin

#466 Refactor to use API in Visual mode
  librz/core/Makefile
  librz/core/cdebug.c
  librz/core/cmd_debug.c
  librz/core/cmd_eval.c
  librz/core/meson.build
  librz/core/visual.c
  librz/include/rz_core.h
Labels: command, visual

#465 Change how version is reported
  .github/ISSUE_TEMPLATE/bug_report.md
  doc/PACKAGERS.md
  librz/core/cmd_help.c
  librz/include/rz_version.h.in
  librz/util/str.c
  meson.build
  meson_options.txt
  shlr/meson.build
  sys/meson_git_wrapper.py
Labels: command

#464 Fix "‘%s’ directive argument is null" warnings
  librz/asm/arch/tms320/c55x_plus/c55plus_decode.c
  librz/core/cmd_eval.c
  librz/egg/egg_lang.c
Labels: command

#459 Fix io.va being set to true after aaft
  librz/core/cmd_analysis.c
  test/db/cmd/types
Labels: command

#468 Replace SDB with HtPP in esil_dfg.c
  librz/analysis/esil_dfg.c
  librz/include/rz_analysis.h
Labels: ESIL

#431 Refactor panels' Analyze menu to use more API ##refactor
  librz/core/agraph.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/cmd_descs.c
  librz/core/cmd_descs.h
  librz/core/cmd_descs.yaml
  librz/core/panels.c
  librz/include/rz_core.h
Labels: command, panel

#482 Directly use rz-test instead of make in CI
  .github/workflows/ci.yml
Labels: infrastructure, merge-when-green

#483 Use OLDINPUT command descriptor for =! to allow passing cmd to IO plugin
  librz/core/cmd_descs.c
  librz/core/cmd_descs.h
  librz/core/cmd_descs.yaml
  librz/core/cmd_remote.c
Labels: command

#492 Add a `?` in the help message of `a` to show that `ab?` exists
  librz/core/cmd_analysis.c
Labels: command

#493 Fix -Wformat-truncation warnings
  test/unit/minunit.h
Labels: rz_test

#490 Rename the macro RBININFO to RZBININFO in cmd_info.c ##refactor
  librz/core/cmd_info.c
Labels: command

#495 Reclassify some AVR instructions away from SWI
  librz/analysis/p/analysis_avr.c
  test/db/analysis/avr
Labels: RzAnalysis
