Repository rizinorg/rizin, pull requests merged in 2021-07, with the labels that each got.

#1242 Refactor Heap bins and implement API
  librz/core/cmd_linux_heap_glibc.c
  librz/core/linux_heap_glibc.c
  librz/include/rz_core.h
  librz/include/rz_heap_glibc.h
Labels: command

#1254 Introduce `RzArchPlatform` and support for platform profiles
  librz/analysis/analysis.c
  librz/analysis/arch_platform.c
  librz/analysis/arch_profile.c
  librz/analysis/meson.build
  librz/asm/p/asm_arm_cs.c
  librz/asm/platforms/arm-arm1176-bcm2835.sdb.txt
  librz/asm/platforms/meson.build
  librz/core/canalysis.c
  librz/core/cconfig.c
  librz/core/cmd_analysis.c
  librz/include/rz_analysis.h
  librz/include/rz_arch.h
  librz/include/rz_asm.h
  librz/include/rz_core.h
  librz/include/rz_syscall.h
  meson.build
  test/db/abi/compilers/pelles_c
  test/db/analysis/arm
  test/db/formats/elf/helloworld-gcc-elf
Labels: command

#1262 Refactor rz_bin_elf_get_libs change return type
  librz/bin/format/elf/elf.h
  librz/bin/format/elf/elf_info.c
  librz/bin/format/elf/elf_strtab.c
  librz/bin/p/bin_elf.inc
Labels: RzBin

#1264 Refactor relocs loading for elf file ##refactor
  librz/bin/format/elf/elf.c
  librz/bin/format/elf/elf.h
  librz/bin/format/elf/elf_relocs.c
  librz/bin/format/elf/elf_symbols.c
  librz/bin/p/bin_elf.inc
  test/db/formats/elf/elf-relarm
Labels: RzBin

#1267 Define rizin_exe also when using blob feature
  binrz/blob/meson.build
  test/unit/meson.build
Labels: rz-test

#1258 Replace sdb_fmt with rz_strf in librz/bin/format/elf/elf_info.c
  librz/bin/format/elf/elf_info.c
Labels: test-required

#1275 Added Missing SPDX headers on librz/hash
  librz/hash/algorithms/crc/crca.h
  librz/hash/algorithms/md5/md5.h
  librz/hash/algorithms/openssl_common.h
Labels: RzHash

#1273 Use rz_file_is_directory to check if the directory .tmp already exists
  test/integration/meson.build
  test/integration/test_open_analyse_save_load_project.c
Labels: rz-test

#1271 Add integration test for CPU and Platform profiles
  librz/analysis/arch_platform.c
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  test/integration/meson.build
  test/integration/test_cpu_platform_profiles.c
Labels: command, rz-test

#1274 Few SPDX info addition and REUSE lint to CI
  .github/workflows/linter.yml
  LICENSES/MPL-1.1.txt
  LICENSES/MS-PL.txt
  librz/bin/format/spc700/spc_specs.h
  librz/bin/mangling/cxx/ansidecl.h
  librz/bin/mangling/cxx/cp-demangle.h
  librz/bin/mangling/cxx/demangle.h
  librz/bin/mangling/cxx/libiberty.h
  librz/config.h.in
  librz/cons/pager_private.h
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs_generate.py
  librz/core/cmd_descs/cmd_heap_glibc.yaml
  librz/core/cmd_linux_heap_glibc.c
  librz/core/p/core_plugin_example.c
  librz/include/rz_util/rz_serialize.h
  librz/include/rz_util/rz_subprocess.h
  sys/check_meson_subproject.py
Labels: API, RzCore, command, infrastructure

#1270 Refactor notes storage elf file ##refactor
  librz/bin/format/elf/elf.c
  librz/bin/format/elf/elf.h
  librz/bin/format/elf/elf_corefile.c
  librz/bin/format/elf/elf_notes.c
  librz/bin/p/bin_elf.inc
Labels: ELF, RzBin

#1293 Rename newshell doc to rzshell doc
  doc/rzshell.md
Labels: documentation

#1292 Fix #1171 - Fix incorrect variable detection for push [esp + var]
  librz/analysis/fcn.c
  test/db/analysis/x86_32
  test/db/cmd/midbb
Labels: RzAnalysis

#1302 RzArch: Fix `clang-cl` and Coverity warnings
  librz/analysis/arch_platform.c
  librz/flag/flag.c
  librz/reg/profile.c
  librz/syscall/syscall.c
  test/integration/test_cpu_platform_profiles.c
Labels: rz-test

#1304 Remove ESIL CFG and DFG
  librz/analysis/esil_cfg.c
  librz/analysis/esil_dfg.c
  librz/analysis/meson.build
  librz/core/agraph.c
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/include/rz_analysis.h
  librz/include/rz_core.h
  test/db/cmd/cmd_ao
  test/unit/meson.build
  test/unit/test_esil_dfg_filter.c
Labels: ESIL, command, rz-test

#1298 Fix some clang-cl warnings
  binrz/rz-test/run.c
  librz/core/rtr.c
  librz/debug/p/debug_windbg.c
  librz/debug/p/native/windows/windows_debug.c
  librz/include/rz_types.h
Labels: RzDebug, rz-test

#1303 Load all dalvik files in an APK
  librz/core/cfile.c
  librz/include/rz_core.h
  librz/io/io_map.c
  librz/io/p/io_zip.c
  test/db/formats/dex
Labels: RzIO

#1307 Fix the broken integration test for CPU profiles
  test/integration/test_cpu_platform_profiles.c
  test/unit/rz_arch_buffer.h
Labels: rz-test

#1316 Fix crash in `rz_interpret_handler()`
  librz/core/cmd_interpret.c
Labels: command

#1315 Fix `dmias` creating new maps
  librz/core/cmd_debug.c
Labels: command

#1279 Refactor Tcache to use RzHeapBin
  librz/core/cmd_debug.c
  librz/core/cmd_linux_heap_glibc.c
  librz/core/linux_heap_glibc.c
  librz/include/rz_core.h
  librz/include/rz_heap_glibc.h
Labels: command

#1321 Fix #1317 - Fix `dL handler` printing a warning
  librz/core/cmd_debug.c
Labels: command

#1325 Move multiple pdb symbol server support from cmd handler to api
  librz/bin/pdb/pdb_downloader.c
  librz/bin/pdb/pdb_downloader.h
  librz/core/cmd_info.c
Labels: RzBin, command

#1318 Refactor Windows debug code
  librz/debug/p/debug_native.c
  librz/debug/p/native/windows/windows_debug.c
  librz/io/p/io_debug.c
  librz/io/p/io_w32dbg.c
Labels: RzDebug, RzIO

#1319 Convert `pt` to newshell ##newshell
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
  librz/core/cmd_print.c
  test/db/cmd/cmd_pt
Labels: RzCore, command, merge-when-green

#1323 Remove unused RzLang Vala tests
  librz/lang/t/hello.vala
  librz/lang/t/json-test.vala
Labels: RzLang

#1336 Use RZ_LOG_INFO for Windows debug messages
  librz/debug/p/debug_native.c
Labels: RzDebug, merge-when-green

#1334 Add test for pointers inside structures
  test/db/cmd/types
Labels: high-priority, merge-when-green, types

#1335 Add test for type print less than block
  test/db/cmd/types
Labels: types

#1339 Fix some typedb related memleaks
  librz/analysis/d/functions-windows_winsock2.sdb.txt
  librz/include/rz_type.h
  librz/type/function.c
  librz/type/parser/types_parser.c
  librz/type/serialize_functions.c
  librz/type/serialize_types.c
  librz/type/type.c
  test/db/cmd/cmd_tc
  test/db/cmd/types
Labels: RzAnalysis, merge-when-green

#1343 Do not offer ESIL if not actually support it
  librz/analysis/p/analysis_gb.c
  librz/analysis/p/analysis_hexagon.c
  librz/analysis/p/analysis_i4004.c
  librz/analysis/p/analysis_sparc_cs.c
  librz/analysis/p/analysis_vax.c
  test/db/cmd/cmd_list
  test/db/tools/rz_asm
Labels: RzAnalysis

#1346 [rz-diff] Optimize diffing functions.
  librz/analysis/diff.c
  librz/core/gdiff.c
  librz/include/rz_analysis.h
  test/db/tools/rz_diff
Labels: rz-diff

#1348 Fix various leaks
  librz/analysis/analysis.c
  librz/bin/p/bin_pe.inc
  librz/core/cmd.c
  librz/debug/p/debug_native.c
  librz/main/rizin.c
  librz/type/parser/c_cpp_parser.c
  librz/type/type.c
  test/db/formats/pe/65535sects
Labels: RzBin, RzDebug, command, merge-when-green, rizin

#1345 `dc` to newshell
  librz/core/agraph.c
  librz/core/cdebug.c
  librz/core/cmd_debug.c
  librz/core/cmd_descs/cmd_debug.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/core_private.h
  librz/core/panels.c
Labels: RzCore, command, merge-when-green, panel

#1308 Pseudo refactoring
  librz/asm/asm.c
  librz/core/cfile.c
  librz/core/cmd_analysis.c
  librz/core/disasm.c
  librz/include/rz_core.h
  librz/include/rz_parse.h
  librz/parse/p/parse_6502_pseudo.c
  librz/parse/p/parse_arm_pseudo.c
  librz/parse/p/parse_att2intel.c
  librz/parse/p/parse_avr_pseudo.c
  librz/parse/p/parse_chip8_pseudo.c
  librz/parse/p/parse_common.c
  librz/parse/p/parse_dalvik_pseudo.c
  librz/parse/p/parse_m68k_pseudo.c
  librz/parse/p/parse_mips_pseudo.c
  librz/parse/p/parse_ppc_pseudo.c
  librz/parse/p/parse_riscv_pseudo.c
  librz/parse/p/parse_sh_pseudo.c
  librz/parse/p/parse_tms320_pseudo.c
  librz/parse/p/parse_v850_pseudo.c
  librz/parse/p/parse_x86_pseudo.c
  librz/parse/p/parse_z80_pseudo.c
  librz/parse/parse.c
  test/db/analysis/arm
  test/db/analysis/arm64
  test/db/analysis/dalvik
  test/db/analysis/m68k
  test/db/analysis/mips
  test/db/analysis/sh
  test/db/analysis/sysz
  test/db/analysis/tms320.c64x_32
  test/db/analysis/v850
  test/unit/legacy_unit/parse/parse.c
Labels: RzParse, command

#1349 Remove unused rz-pipe test
  librz/io/p/io_rzpipe-test.js
Labels: RzIO

#1355 Remove `RzDebug->user` and use `RzDebug->plugin_data` instead
  librz/debug/p/debug_native.c
  librz/debug/p/debug_windbg.c
  librz/debug/p/native/maps/windows_maps.c
  librz/debug/p/native/windows/windows_debug.c
  librz/debug/plugin.c
  librz/include/rz_debug.h
  librz/io/p/io_debug.c
  librz/io/p/io_w32dbg.c
  librz/io/p/io_windbg.c
Labels: RzDebug, RzIO

#1351 Fix some leaks in types and analysis code
  librz/analysis/fcn.c
  librz/analysis/serialize_typelink.c
  librz/analysis/type_pdb.c
  librz/type/parser/types_parser.c
  librz/type/parser/types_storage.c
  librz/type/type.c
Labels: RzAnalysis, types

#1360 Reorganize esil directory
  librz/analysis/esil/esil.c
  librz/analysis/esil/esil_interrupt.c
  librz/analysis/esil/esil_sources.c
  librz/analysis/esil/esil_stats.c
  librz/analysis/esil/esil_trace.c
  librz/analysis/meson.build
  librz/core/canalysis.c
  librz/core/cil.c
  librz/core/meson.build
Labels: ESIL, RzAnalysis, merge-when-green

#1362 librz/util: Fix double free in buf when whole_buf is not allocated
  librz/util/buf.c
  test/unit/test_buf.c
Labels: rz-test

#1352 Fix FLIRT v5 file format decompression
  DEVELOPERS.md
  librz/analysis/flirt.c
  librz/include/rz_util/rz_file.h
  librz/util/zip.c
Labels: API

#1235 Convert `!` commands to newshell
  binrz/rz-test/run.c
  binrz/rz-test/rz-test.c
  doc/rzshell.md
  librz/cons/dietline.c
  librz/core/cfile.c
  librz/core/cmd.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
  librz/core/cmd_descs/cmd_eval.yaml
  librz/core/cmd_descs/cmd_history.yaml
  librz/core/cmd_descs/cmd_system.yaml
  librz/core/cmd_descs/meson.build
  librz/core/cmd_help.c
  librz/core/cmd_history.c
  librz/core/cmd_system.c
  librz/core/p/core_plugin_example.c
  librz/include/rz_core.h
  librz/include/rz_util/rz_subprocess.h
  librz/util/file.c
  librz/util/str.c
  librz/util/strbuf.c
  librz/util/subprocess.c
  shlr/rizin-shell-parser/corpus/pipes.txt
  shlr/rizin-shell-parser/grammar.js
  shlr/rizin-shell-parser/src/grammar.json
  shlr/rizin-shell-parser/src/node-types.json
  shlr/rizin-shell-parser/src/parser.c
  test/db/archos/linux-x64/asm_x64_as
  test/db/cmd/cmd_system
  test/db/formats/mangling/mangling
  test/db/formats/mangling/rust
  test/db/formats/pdb
  test/db/tools/rz_asm
  test/db/tools/rz_ax
  test/db/tools/rz_bin
  test/db/tools/rz_find
  test/db/tools/rz_hash
  test/unit/test_rz_test.c
  test/unit/test_subprocess.c
Labels: API, RzCore, command, rz-test

#1368 Fix codecov CI, 'ood check for ptrace errors'
  test/db/archos/linux-x64/dbg_oo
Labels: infrastructure

#1371 Fix some warnings related casting ut8* to char*
  binrz/rz-test/run.c
  librz/crypto/p/crypto_aes_algo.c
Labels: RzCrypto, rz-test

#1372 rz-test: Make sure to correctly free path_left ht
  binrz/rz-test/rz-test.c
Labels: rz-test

#1374 Set <destroy> method for bin_elf64
  librz/bin/p/bin_elf64.c
Labels: RzBin

#1378 Allow capstone next to fail
  .github/workflows/ci.yml
Labels: infrastructure

#1173 Partly refactor PDB parser
  librz/analysis/type_pdb.c
  librz/bin/pdb/dbi.c
  librz/bin/pdb/fpo.c
  librz/bin/pdb/gdata.c
  librz/bin/pdb/main.c
  librz/bin/pdb/pdb.c
  librz/bin/pdb/pdb_downloader.h
  librz/bin/pdb/stream_file.c
  librz/bin/pdb/stream_file.h
  librz/bin/pdb/stream_pe.c
  librz/bin/pdb/tpi.c
  librz/bin/pdb/tpi.h
  librz/bin/pdb/types.h
  librz/type/type.c
  test/db/formats/pdb
  test/unit/test_pdb.c
Labels: PDB, RzBin, rz-test

#1383 Fix PDB unit test ASAN failure
  librz/bin/pdb/tpi.c
Labels: RzBin

#1384 Delete unused Dockerfile.travis
  Dockerfile.travis
Labels: merge-when-green

#1328 Move windows heap to new shell
  librz/core/cmd.c
  librz/core/cmd_debug.c
  librz/core/cmd_descs/cmd_debug.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_windows_heap.c
  librz/core/windows_heap.c
Labels: RzCore, command, heap, merge-when-green
