Repository rizinorg/rizin, pull requests merged in 2021-12, with the labels that each got.

#2048 Rename and refactor to use `RzBitVector` instead of `RzILBitVector`
  librz/analysis/p/analysis_bf.c
  librz/core/cil.c
  librz/il/definitions/effect.c
  librz/il/definitions/mem.c
  librz/il/definitions/value.c
  librz/il/meson.build
  librz/il/rzil_export.c
  librz/il/rzil_opcodes.c
  librz/il/rzil_vm.c
  librz/il/rzil_vm_events.c
  librz/il/theory_bitv.c
  librz/il/theory_effect.c
  librz/il/theory_init.c
  librz/il/theory_mem.c
  librz/il/vm_layer.c
  librz/include/rz_il/definitions/bitvector.h
  librz/include/rz_il/definitions/definitions.h
  librz/include/rz_il/definitions/effect.h
  librz/include/rz_il/definitions/mem.h
  librz/include/rz_il/definitions/value.h
  librz/include/rz_il/definitions/variable.h
  librz/include/rz_il/rzil_opcodes.h
  librz/include/rz_il/rzil_vm.h
  librz/include/rz_il/rzil_vm_events.h
  librz/include/rz_il/vm_layer.h
  librz/include/rz_util.h
  librz/include/rz_util/rz_bitvector.h
  librz/meson.build
  librz/util/bitvector.c
  librz/util/meson.build
  test/unit/meson.build
  test/unit/test_bitvector.c
  test/unit/test_il_definitions.c
  test/unit/test_il_vm.c
Labels: RzAnalysis, API, ESIL, RZIL

#2053 Fix REL relocations in ARM binaries
  librz/bin/bobj.c
  librz/bin/p/bin_elf.inc
  librz/core/cbin.c
  librz/include/rz_bin.h
  test/db/formats/elf/elf-relarm
Labels: RzBin, ELF

#2056 Fix installing bitvector headers
  librz/meson.build
Labels: merge-when-green

#2055 Fix #726 - Fix building for x86 Windows with clang-cl
  librz/include/rz_types_base.h
Labels: merge-when-green, Windows

#2062 Add rz_bv_init/rz_bv_fini API
  librz/include/rz_util/rz_bitvector.h
  librz/util/bitvector.c
Labels: API

#2064 Update macos builds to `macos-11`
  .github/workflows/ci.yml
Labels: infrastructure

#2070 Fix `-Wunused-function` warning on Mac
  librz/debug/p/debug_native.c
Labels: RzDebug

#2068 Add rz_bv_set_from_bytes_le()
  librz/include/rz_util/rz_bitvector.h
  librz/util/bitvector.c
  test/unit/test_bitvector.c
Labels: rz-test, API, merge-when-green

#2074 Add `--werror` to macos build
  .github/workflows/ci.yml
Labels: infrastructure

#2077 Fix optional brackets termination of newshell help
  librz/core/cmd/cmd_api.c
  test/db/cmd/cmd_help
Labels: RzCore

#2081 fill_args: Refactor out code that does closing brackets for optional args
  librz/core/cmd/cmd_api.c
Labels: RzCore

#2086 Fix oob write for dwarf with abbrev with count 0 (Fix #2083)
  librz/bin/dwarf.c
  test/db/formats/elf/crash
Labels: DWARF

#2085 Remove unused, unupdated and largely untested ARM WineDBG and GNU (Binutils) plugins
  librz/analysis/meson.build
  librz/analysis/p/analysis_arm_gnu.c
  librz/asm/arch/arm/gnu/README.md
  librz/asm/arch/arm/gnu/arm-dis.c
  librz/asm/arch/arm/gnu/elfarm.h
  librz/asm/arch/arm/gnu/floatformat.c
  librz/asm/arch/arm/gnu/floatformat.h
  librz/asm/arch/arm/gnu/opcode-arm.h
  librz/asm/arch/arm/winedbg/be_arm.c
  librz/asm/arch/arm/winedbg/be_arm.h
  librz/asm/arch/include/opcode/hexagon.h
  librz/asm/arch/include/wine-arm.h
  librz/asm/meson.build
  librz/asm/p/asm_arm_gnu.c
  librz/asm/p/asm_arm_winedbg.c
  librz/include/rz_analysis.h
  librz/include/rz_asm.h
  librz/meson.build
  test/db/analysis/arm
  test/db/analysis/arm.gnu_16
  test/db/asm/arm.gnu_32
  test/db/asm/arm.gnu_cortex_16
  test/db/asm/arm.winedbg_32
  test/db/cmd/cmd_list
  test/db/tools/rz_asm
Labels: RzAnalysis, ARM

#2090 Remove unused and untested PPC GNU target
  librz/analysis/meson.build
  librz/analysis/p/analysis_ppc_gnu.c
  librz/asm/arch/ppc/README
  librz/asm/arch/ppc/gnu/ppc-dis.c
  librz/asm/arch/ppc/gnu/ppc-opc.c
  librz/asm/meson.build
  librz/asm/p/asm_ppc_gnu.c
  librz/include/rz_analysis.h
  librz/include/rz_asm.h
  librz/meson.build
  test/db/cmd/cmd_list
Labels: RzAnalysis, merge-when-green, PPC

#2091 Remove RzAnalysisPlugin.set_reg_profile
  librz/analysis/analysis.c
  librz/analysis/p/analysis_6502.c
  librz/analysis/p/analysis_8051.c
  librz/analysis/p/analysis_amd29k.c
  librz/analysis/p/analysis_arc.c
  librz/analysis/p/analysis_avr.c
  librz/analysis/p/analysis_cris.c
  librz/analysis/p/analysis_dalvik.c
  librz/analysis/p/analysis_gb.c
  librz/analysis/p/analysis_h8300.c
  librz/analysis/p/analysis_hexagon.c
  librz/analysis/p/analysis_i4004.c
  librz/analysis/p/analysis_java.c
  librz/analysis/p/analysis_m680x_cs.c
  librz/analysis/p/analysis_m68k_cs.c
  librz/analysis/p/analysis_mcore.c
  librz/analysis/p/analysis_mips_gnu.c
  librz/analysis/p/analysis_null.c
  librz/analysis/p/analysis_pic.c
  librz/analysis/p/analysis_sh.c
  librz/analysis/p/analysis_sparc_cs.c
  librz/analysis/p/analysis_sparc_gnu.c
  librz/analysis/p/analysis_spc700.c
  librz/analysis/p/analysis_sysz.c
  librz/analysis/p/analysis_tricore.c
  librz/analysis/p/analysis_v810.c
  librz/analysis/p/analysis_z80.c
  librz/include/rz_analysis.h
  test/db/analysis/6502
  test/db/analysis/amd29k
  test/db/analysis/arc
  test/db/analysis/avr
  test/db/analysis/cris
  test/db/analysis/dalvik
  test/db/analysis/gb
  test/db/analysis/h8300
  test/db/analysis/hexagon
  test/db/analysis/i4004
  test/db/analysis/java
  test/db/analysis/m680x
  test/db/analysis/m68k
  test/db/analysis/mcore
  test/db/analysis/mips
  test/db/analysis/null
  test/db/analysis/pic
  test/db/analysis/sh
  test/db/analysis/sparc
  test/db/analysis/spc700
  test/db/analysis/sysz
  test/db/analysis/tricore
  test/db/analysis/v810
  test/db/analysis/z80
Labels: RzAnalysis, MIPS

#2092 [RzIL] refactor rz_il_op to provide rz_il_op_new_* per op
  librz/analysis/p/analysis_bf.c
  librz/il/rzil_export.c
  librz/il/rzil_opcodes.c
  librz/il/rzil_vm.c
  librz/il/theory_bitv.c
  librz/include/rz_il/rzil_opcodes.h
  test/db/rzil/bf
  test/unit/test_il_vm.c
Labels: rz-test, RzAnalysis, API

#2087 Disable GPL code and Add RISC-V support via Capstone 5
  .github/workflows/ci.yml
  librz/analysis/meson.build
  librz/analysis/p/analysis_riscv.c
  librz/analysis/p/analysis_riscv_cs.c
  librz/asm/arch/xtensa/gnu/xtensa-modules.c
  librz/asm/meson.build
  librz/asm/p/asm_riscv.c
  librz/asm/p/asm_riscv_cs.c
  librz/asm/p/asm_vax.c
  librz/asm/p/asm_z80.c
  librz/bin/bin.c
  librz/debug/meson.build
  librz/io/meson.build
  librz/meson.build
  meson.build
  shlr/meson.build
  subprojects/packagefiles/capstone-3.0.5/meson.build
  subprojects/packagefiles/capstone-4.0.2/meson.build
  subprojects/packagefiles/capstone-bundled/meson.build
  subprojects/packagefiles/capstone-next/meson.build
  test/db/archos/linux-x64/dbg_dL
  test/db/cmd/cmd_list
  test/unit/test_analysis_op.c
  test/unit/test_autocmplt.c
  test/unit/test_dwarf_integration.c
Labels: infrastructure, rz-test, RzAnalysis, merge-when-green

#2096 Remove ESIL Pins
  librz/analysis/analysis.c
  librz/analysis/meson.build
  librz/analysis/pin.c
  librz/analysis/serialize_analysis.c
  librz/core/cmd/cmd_analysis.c
  librz/core/project_migrate.c
  librz/include/rz_analysis.h
  librz/include/rz_project.h
  test/db/cmd/project
  test/db/esil/mips_32
  test/unit/test_project_migrate.c
  test/unit/test_serialize_analysis.c
Labels: rz-test, RzCore

#2099 Check kind of DWARF attribute before demangling
  librz/analysis/dwarf_process.c
  librz/bin/bin.c
Labels: merge-when-green, DWARF, crash

#2040 Convert afl/afi commands to rzhell
  librz/core/canalysis.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/core.c
  librz/include/rz_core.h
  test/db/analysis/msp430
  test/db/analysis/x86_32
  test/db/analysis/x86_64
  test/db/archos/linux-x64/dbg_aaa_dcu
  test/db/cmd/cmd_af
  test/db/cmd/cmd_afb
  test/db/cmd/cmd_afl
  test/db/cmd/cmd_an
  test/db/cmd/tables
  test/db/formats/elf/crackme7
Labels: RzCore

#2036 [FLIRT] Create signatures from RzAnalysis data
  librz/analysis/analysis.c
  librz/core/cconfig.c
  librz/core/cmd/cmd_zign.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_zign.yaml
  librz/core/csign.c
  librz/include/rz_analysis.h
  librz/include/rz_core.h
  librz/include/rz_flirt.h
  librz/include/rz_list.h
  librz/main/rz-sign.c
  librz/signature/create.c
  librz/signature/flirt.c
  librz/signature/meson.build
  librz/signature/pac.c
  librz/util/list.c
  librz/util/strbuf.c
  librz/util/zip.c
  test/db/cmd/cmd_zignature
  test/db/tools/rz_sign
  test/unit/test_flirt.c
  test/unit/test_inflate_deflate.c
Labels: rz-test, RzIO, API, RzCore, merge-when-green, FLIRT, rz-sign

#2106 Remove oldshell handlers from cmd_analysis.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/core.c
  test/db/analysis/x86_64
  test/db/cmd/types
Labels: RzCore

#2057 Provide CMake config files for CMake projects
  .github/cmake_test/CMakeLists.txt
  .github/cmake_test/rz_core_test.c
  .github/workflows/ci.yml
  .reuse/dep5
  librz/RizinConfig.cmake.in
  librz/RzModulesConfig.cmake.in
  librz/analysis/meson.build
  librz/asm/meson.build
  librz/bin/meson.build
  librz/bp/meson.build
  librz/config/meson.build
  librz/cons/meson.build
  librz/core/meson.build
  librz/crypto/meson.build
  librz/debug/meson.build
  librz/demangler/meson.build
  librz/diff/meson.build
  librz/egg/meson.build
  librz/flag/meson.build
  librz/hash/meson.build
  librz/il/meson.build
  librz/io/meson.build
  librz/lang/meson.build
  librz/librz.pc.in
  librz/magic/meson.build
  librz/main/meson.build
  librz/meson.build
  librz/parse/meson.build
  librz/reg/meson.build
  librz/search/meson.build
  librz/signature/meson.build
  librz/socket/meson.build
  librz/syscall/meson.build
  librz/type/meson.build
  librz/util/meson.build
  meson.build
  sys/meson_cmake_prefix_dir.py
Labels: infrastructure, buildsystem

#2110 Allow to fail silently FLIRT and Analysis
  librz/core/canalysis.c
  librz/signature/create.c
Labels: FLIRT

#2114 newshell help: Remove brackets from list tail
  librz/core/cmd/cmd_api.c
  test/db/cmd/cmd_help
Labels: RzCore

#2104 Fix multidex and open_many loading using proper base address
  librz/core/cfile.c
  librz/core/core_private_base.h
  librz/io/p/io_zip.c
  test/db/formats/ar
Labels: RzIO

#2115 Make rz_strbuf_slice() truncate on excessive len
  librz/include/rz_util/rz_strbuf.h
  librz/util/strbuf.c
  test/unit/test_strbuf.c
Labels: rz-test, API

#2116 [FLIRT] pac to pat
  librz/core/csign.c
  librz/main/rz-sign.c
  librz/signature/flirt.c
  librz/signature/meson.build
  librz/signature/pat.c
  test/db/cmd/cmd_zignature
  test/db/tools/rz_sign
Labels: FLIRT, rz-sign

#2118 Fix +/- in visual cursor mode
  librz/core/tui/visual.c
Labels: RzCore

#2109 [RzIL] Fix concept of Effects and Effect ops
  librz/analysis/p/analysis_bf.c
  librz/il/definitions/effect.c
  librz/il/definitions/label.c
  librz/il/meson.build
  librz/il/rzil_export.c
  librz/il/rzil_opcodes.c
  librz/il/rzil_vm.c
  librz/il/theory_effect.c
  librz/il/vm_layer.c
  librz/include/rz_il/definitions/definitions.h
  librz/include/rz_il/definitions/effect.h
  librz/include/rz_il/definitions/label.h
  librz/include/rz_il/definitions/value.h
  librz/include/rz_il/rzil_opcodes.h
  librz/include/rz_il/rzil_vm.h
  librz/meson.build
  test/db/rzil/bf
  test/unit/test_il_definitions.c
  test/unit/test_il_vm.c
Labels: rz-test, RzAnalysis, API, RZIL

#2120 [Core] Integration of Rizin SigDB in aaa and add aaF
  librz/analysis/meson.build
  librz/analysis/sigdb.c
  librz/core/canalysis.c
  librz/core/cconfig.c
  librz/core/cmd/cmd_analysis.c
  librz/include/rz_analysis.h
  librz/include/rz_core.h
  librz/main/rz-sign.c
  test/db/cmd/cmd_aaF
Labels: RzCore, merge-when-green, rz-sign

#2131 Expose the RzCore meta API
  librz/analysis/analysis.c
  librz/core/cmd/cmd_meta.c
  librz/core/cmeta.c
  librz/include/rz_core.h
Labels: RzCore, merge-when-green

#2134 Fix self-referential typedef format
  librz/type/format.c
  test/db/cmd/types
Labels: merge-when-green

#2105 [RzIL] Add loadw/storew and bind memories against RzBuffer
  librz/analysis/p/analysis_bf.c
  librz/analysis/rzil/rzil.c
  librz/il/definitions/mem.c
  librz/il/rzil_export.c
  librz/il/rzil_opcodes.c
  librz/il/rzil_vm.c
  librz/il/theory_mem.c
  librz/il/vm_layer.c
  librz/include/rz_analysis.h
  librz/include/rz_il/definitions/mem.h
  librz/include/rz_il/rzil_opcodes.h
  librz/include/rz_il/rzil_vm.h
  librz/include/rz_il/vm_layer.h
  librz/include/rz_io.h
  librz/include/rz_util/rz_bitvector.h
  librz/io/io.c
  librz/util/bitvector.c
  test/db/cmd/cmd_aez
  test/db/rzil/bf
  test/unit/test_bitvector.c
  test/unit/test_il_definitions.c
  test/unit/test_il_vm.c
Labels: rz-test, RzAnalysis, API, ESIL, RzCore, RZIL

#2123 Fix x86 disassembly issues related to MASM syntax
  librz/include/rz_util/rz_str.h
  librz/parse/filter.c
  librz/parse/p/parse_x86_pseudo.c
  librz/util/str.c
  librz/util/unum.c
  test/db/cmd/cmd_pd
Labels: API, RzParse

#2142 Fix null-deref on failed g
  librz/core/cmd/cmd_egg.c
Labels: RzCore

#2140 [RzIL] Make RzILOp statically typed
  librz/analysis/p/analysis_bf.c
  librz/il/rzil_export.c
  librz/il/rzil_opcodes.c
  librz/il/rzil_vm.c
  librz/il/theory_bitv.c
  librz/il/theory_bool.c
  librz/il/theory_effect.c
  librz/il/theory_init.c
  librz/il/theory_mem.c
  librz/il/vm_layer.c
  librz/include/rz_analysis.h
  librz/include/rz_il/definitions/bool.h
  librz/include/rz_il/rzil_opcodes.h
  librz/include/rz_il/rzil_vm.h
  librz/include/rz_il/vm_layer.h
  librz/include/rz_util/rz_bitvector.h
  librz/util/bitvector.c
  test/db/rzil/bf
  test/unit/test_il_vm.c
Labels: rz-test, RzAnalysis, API

#2139 Convert afn commands to rzshell
  librz/core/canalysis.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/include/rz_core.h
  test/db/cmd/cmd_afn
Labels: RzCore

#2143 Fix several memleaks
  librz/analysis/arch_profile.c
  librz/core/canalysis.c
  librz/core/cil.c
  librz/core/cio.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_search.c
  librz/flag/flag.c
  librz/syscall/syscall.c
Labels: ESIL, RzCore, RZIL

#2152 [RzIL] Make cast work as in BAP
  librz/il/rzil_export.c
  librz/il/rzil_opcodes.c
  librz/il/theory_bitv.c
  librz/include/rz_il/rzil_opcodes.h
  librz/util/bitvector.c
  test/unit/test_il_vm.c
Labels: rz-test, API, merge-when-green

#2151 [RzIL] Flatten out all RzILOpArgs* structs
  librz/il/rzil_export.c
  librz/il/rzil_opcodes.c
  librz/il/theory_bitv.c
  librz/il/theory_bool.c
  librz/il/theory_effect.c
  librz/il/theory_init.c
  librz/il/theory_mem.c
  librz/include/rz_il/rzil_opcodes.h
  test/unit/test_il_definitions.c
  test/unit/test_il_vm.c
Labels: rz-test, API

#2147 Add IO/Map-based RzBuffer Implementation
  librz/analysis/rzil/rzil.c
  librz/bin/bin.c
  librz/bin/p/bin_bf.c
  librz/core/basefind.c
  librz/core/cbin.c
  librz/core/cmd/cmd_search.c
  librz/include/rz_util/rz_buf.h
  librz/util/buf.c
  librz/util/buf_io.c
  librz/util/buf_io_fd.c
  test/unit/test_buf.c
Labels: rz-test, RzBin, RzAnalysis, API, RzCore, RZIL

#2130 Convert ah commands to rzshell
  librz/core/canalysis.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/include/rz_core.h
  test/db/analysis/x86_64
  test/db/cmd/cmd_ah
  test/db/cmd/cmd_ahi
  test/db/cmd/cmd_pd
  test/db/formats/mach0/mach0
Labels: RzCore

#2153 [RzIL] Add rz_il_op_pure_dup() and rz_il_op_new_(unsigned|signed)()
  librz/il/rzil_opcodes.c
  librz/include/rz_il/rzil_opcodes.h
  test/unit/test_il_vm.c
Labels: rz-test, API, merge-when-green

#2154 [RzIL] Various Renaming and Restructuring
  librz/il/il_events.c
  librz/il/il_export.c
  librz/il/il_opcodes.c
  librz/il/il_vm.c
  librz/il/il_vm_eval.c
  librz/il/meson.build
  librz/il/theory_bitv.c
  librz/il/theory_bool.c
  librz/il/theory_effect.c
  librz/il/theory_init.c
  librz/il/theory_mem.c
  librz/include/meson.build
  librz/include/rz_il.h
  librz/include/rz_il/definitions/label.h
  librz/include/rz_il/definitions/mem.h
  librz/include/rz_il/rz_il_events.h
  librz/include/rz_il/rz_il_opcodes.h
  librz/include/rz_il/rz_il_vm.h
  librz/include/rz_il/vm_layer.h
Labels: API

#2159 [RzIL] Fix shift, definitions and export
  librz/il/il_export.c
  librz/il/il_opcodes.c
  librz/il/theory_bitv.c
  librz/il/theory_effect.c
  librz/include/rz_il/rz_il_opcodes.h
Labels: API
