Repository rizinorg/rizin, pull requests merged in 2021-11, with the labels that each got.

#1914 [Debug] Do not ask about killing the process if it is impossible
  librz/debug/debug.c
  librz/include/rz_debug.h
  librz/main/rizin.c
Labels: rizin

#1915 enable flushing for oldinput_get_help
  librz/core/cmd/cmd_api.c
Labels: RzCore

#1912 [RzIL] Print events on single/multi step
  librz/analysis/p/analysis_bf.c
  librz/core/cconfig.c
  librz/core/cil.c
  librz/core/cmd/cmd_analysis.c
  librz/core/core_private.h
  librz/il/definitions/bitvector.c
  librz/il/meson.build
  librz/il/rzil_export.c
  librz/il/rzil_vm_events.c
  librz/il/theory_bitv.c
  librz/il/theory_effect.c
  librz/il/theory_init.c
  librz/il/theory_mem.c
  librz/il/vm_layer.c
  librz/include/rz_il/definitions/bitvector.h
  librz/include/rz_il/rzil_vm.h
  librz/include/rz_il/rzil_vm_events.h
  librz/include/rz_il/vm_layer.h
  librz/meson.build
  test/db/rzil/bf
Labels: RzAnalysis, API, ESIL, RzCore, RZIL

#1923 Use get_reg_profile instead of set in ppc plugins
  librz/analysis/p/analysis_ppc_cs.c
  librz/analysis/p/analysis_ppc_gnu.c
Labels: RzAnalysis, PPC

#1924 [RzIL] fix jmp & added bitvector type due limitation of int type
  librz/analysis/p/analysis_bf.c
  librz/il/definitions/bitvector.c
  librz/il/rzil_export.c
  librz/il/rzil_opcodes.c
  librz/il/theory_bitv.c
  librz/il/theory_effect.c
  librz/il/theory_init.c
  librz/il/vm_layer.c
  librz/include/rz_il/definitions/bitvector.h
  librz/include/rz_il/rzil_opcodes.h
  librz/include/rz_il/rzil_vm.h
  test/db/rzil/bf
  test/unit/test_il_vm.c
Labels: rz-test, RzAnalysis, API, RZIL

#1935 Fix typo in the bitvector SLE operation definition.
  librz/il/definitions/bitvector.c
Labels: RZIL

#1930 [RzIL] Refactoring, added bool xor and added bitv carry/borrow
  librz/analysis/p/analysis_bf.c
  librz/il/definitions/bitvector.c
  librz/il/definitions/effect.c
  librz/il/rzil_export.c
  librz/il/rzil_opcodes.c
  librz/il/theory_bitv.c
  librz/il/theory_bool.c
  librz/il/theory_effect.c
  librz/il/vm_layer.c
  librz/include/rz_il/definitions/bitvector.h
  librz/include/rz_il/definitions/effect.h
  librz/include/rz_il/rzil_opcodes.h
  librz/include/rz_il/rzil_vm.h
  librz/include/rz_il/vm_layer.h
  test/unit/test_il_definitions.c
Labels: rz-test, RzAnalysis, API, RZIL

#1940 Various fixes RzCons, RzUtil, RzConfig
  librz/config/config.c
  librz/cons/dietline.c
  librz/core/cbin.c
  librz/include/rz_config.h
  librz/include/rz_util/rz_str.h
  librz/io/p/io_gdb.c
  librz/io/p/io_shm.c
  librz/reg/profile.c
  librz/util/str.c
  librz/util/syscmd.c
Labels: RzIO, API, GDB, dietline

#1942 Remove Newlisp and ES6 (Babel) support for RzLang
  librz/core/cmd/cmd.c
Labels: RzCore

#1945 Rzshell: convert `o=` and `oa`
  librz/core/cbin.c
  librz/core/cmd/cmd_open.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_open.yaml
  librz/include/rz_bin.h
Labels: RzCore

#1950 RzShell: convert op commands
  librz/core/cmd/cmd_open.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_open.yaml
Labels: RzCore, merge-when-green

#1965 RzShell: convert wr command
  librz/core/cio.c
  librz/core/cmd/cmd_write.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_write.yaml
  librz/include/rz_core.h
Labels: RzCore

#1964 RzShell: convert wh command to shell/which
  librz/core/cmd/cmd_shell.c
  librz/core/cmd/cmd_write.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
  librz/core/cmd_descs/cmd_descs_generate.py
  librz/core/cmd_descs/cmd_shell.yaml
  librz/core/cmd_descs/cmd_write.yaml
  test/db/cmd/cmd_w
Labels: RzCore

#1955 Provide API for calculating sections digests
  librz/bin/bin.c
  librz/core/cbin.c
  librz/include/rz_bin.h
  librz/include/rz_core.h
Labels: merge-when-green

#1970 Provide API for calculating sections digests (#1955)
  librz/bin/bin.c
  librz/core/cbin.c
  librz/include/rz_bin.h
  librz/include/rz_core.h
Labels: merge-when-green

#1971 Remove unused RzCache
  librz/core/cmd/cmd_help.c
  librz/core/disasm.c
  librz/include/rz_io.h
  librz/include/rz_util.h
  librz/include/rz_util/rz_cache.h
  librz/io/io.c
  librz/io/io_cache.c
  librz/meson.build
  librz/util/cache.c
  librz/util/meson.build
  librz/util/prof.c
Labels: API, RzCore

#1972 Fix io_ptrace.c UB
  librz/io/p/io_ptrace.c
Labels: RzIO, merge-when-green

#1977 Fix #1963 - Add option for setting visual mode and fix debug mode
  librz/core/cconfig.c
  librz/core/tui/visual.c
  librz/include/rz_core.h
Labels: RzCore

#1973 Add thread pool and physical core number
  librz/include/rz_th.h
  librz/util/thread.c
  test/unit/meson.build
  test/unit/test_threads.c
Labels: rz-test

#1975 Rewrite and fix AVR DES ESIL
  librz/analysis/p/analysis_avr.c
  librz/crypto/des.c
  librz/include/rz_crypto/rz_des.h
  test/db/esil/avr
Labels: RzAnalysis, API

#1979 Fix #1952 - Implement iR <hashes>
  librz/core/cbin.c
  librz/core/cmd/cmd_info.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_info.yaml
  librz/include/rz_core.h
  test/db/cmd/cmd_i
Labels: RzCore

#1936 [RzIL] Add concat, append handlers etc.
  librz/il/definitions/bitvector.c
  librz/il/rzil_opcodes.c
  librz/il/theory_bitv.c
  librz/il/vm_layer.c
  librz/include/rz_il/definitions/bitvector.h
  librz/include/rz_il/rzil_opcodes.h
  test/unit/test_il_definitions.c
Labels: rz-test, API, RZIL

#1966 Basefind
  librz/core/basefind.c
  librz/core/cbin.c
  librz/core/cconfig.c
  librz/core/cmd/cmd.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
  librz/core/meson.build
  librz/include/rz_basefind.h
  librz/include/rz_bin.h
  librz/include/rz_core.h
  librz/include/rz_th.h
  librz/main/rz-bin.c
  librz/meson.build
  librz/util/thread.c
  test/db/cmd/cmd_B
Labels: rz-bin, RzCore

#1985 Remove r1_r0 Hack from AVR
  librz/analysis/p/analysis_avr.c
  librz/asm/arch/avr/assembler.c
  test/db/analysis/avr
  test/db/asm/avr
  test/db/esil/avr
Labels: RzAnalysis

#1986 Implement il_opdmp_append and fix windows warnings
  librz/il/definitions/bitvector.c
  librz/il/rzil_export.c
Labels: RZIL

#1988 Remove rX_rY Hacks in AVR ESIL
  librz/analysis/p/analysis_avr.c
  librz/asm/arch/avr/assembler.c
  librz/asm/arch/avr/disassembler.c
  test/db/analysis/avr
  test/db/asm/avr
  test/db/esil/avr
Labels: RzAnalysis

#1920 Unscramble Register Printing and Flags Logic
  librz/analysis/analysis.c
  librz/analysis/p/analysis_6502.c
  librz/analysis/p/analysis_6502_cs.c
  librz/analysis/p/analysis_arm_cs.c
  librz/analysis/p/analysis_arm_gnu.c
  librz/analysis/p/analysis_avr.c
  librz/core/cdebug.c
  librz/core/cfile.c
  librz/core/cil.c
  librz/core/cio.c
  librz/core/cmd/cmd.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_debug.c
  librz/core/core_private.h
  librz/core/tui/panels.c
  librz/core/tui/visual.c
  librz/include/rz_analysis.h
  test/db/abi/platforms/reg_profile
  test/db/analysis/avr
  test/db/esil/avr
  test/db/formats/elf/core
Labels: RzAnalysis, API, ESIL, RzCore, RzCrypto, ARM, RZIL

#1984 Fix #1881 - Fix windows build
  dist/windows/build_windows_installer.ps1
Labels: merge-when-green

#1910 Add asan build for clang
  .github/workflows/ci.yml
  binrz/rizin/meson.build
  binrz/rz-agent/meson.build
  binrz/rz-asm/meson.build
  binrz/rz-ax/meson.build
  binrz/rz-bin/meson.build
  binrz/rz-diff/meson.build
  binrz/rz-find/meson.build
  binrz/rz-gg/meson.build
  binrz/rz-hash/meson.build
  binrz/rz-run/meson.build
  binrz/rz-sign/meson.build
  binrz/rz-test/meson.build
  librz/analysis/meson.build
  librz/asm/meson.build
  librz/bin/meson.build
  librz/bp/meson.build
  librz/config/meson.build
  librz/cons/meson.build
  librz/core/meson.build
  librz/crypto/meson.build
  librz/debug/meson.build
  librz/demangler/meson.build
  librz/diff/meson.build
  librz/egg/meson.build
  librz/flag/meson.build
  librz/hash/meson.build
  librz/il/meson.build
  librz/io/meson.build
  librz/lang/meson.build
  librz/magic/meson.build
  librz/main/meson.build
  librz/parse/meson.build
  librz/reg/meson.build
  librz/search/meson.build
  librz/signature/meson.build
  librz/socket/meson.build
  librz/syscall/meson.build
  librz/type/meson.build
  librz/util/meson.build
  meson.build
  test/db/archos/not-windows-any/cmd_interpreter
  test/db/archos/not-windows-any/cmd_pipe
  test/db/cmd/cmd_pipe
  test/integration/meson.build
  test/unit/auxiliary/meson.build
  test/unit/cpp/meson.build
  test/unit/meson.build
Labels: infrastructure, rizin, rz-asm, rz-bin, rz-test, RzIO, RzBin, rz-find, rz-ax, rz-diff, buildsystem, merge-when-green, FLIRT, rz-hash, rz-run, rz-gg, rz-sign

#1990 Support fuzz tests in asan clang build
  .github/workflows/ci.yml
Labels: infrastructure

#1992 [FLIRT] Enforce arch match on sig, zfs output n of matches and added pac support & tests
  librz/core/cmd/cmd_zign.c
  librz/core/csign.c
  librz/include/rz_flirt.h
  librz/signature/flirt.c
  librz/signature/meson.build
  librz/signature/pac.c
  test/db/cmd/cmd_zignature
  test/unit/meson.build
  test/unit/test_flirt.c
Labels: rz-test, RzCore, merge-when-green, FLIRT

#1994 macos: update installer background
  .github/workflows/ci.yml
  dist/osx/Distribution
  dist/osx/Resources/rizin-logo.png
  dist/osx/build_osx_package.sh
Labels: infrastructure

#2001 Fix Visual Commenting (Fix #1999)
  librz/core/cmd/cmd_meta.c
  librz/core/cmeta.c
  librz/core/core_private.h
  librz/core/tui/visual.c
Labels: RzCore

#2002 Use rz_analysis_get_address_bits() in pxr and fix asserts
  librz/core/cmd/cmd_print.c
  librz/core/core.c
  test/db/cmd/cmd_px
Labels: RzCore

#2004 Fix aae overwriting registers of debuggee
  librz/core/canalysis.c
  librz/core/cil.c
  librz/reg/rvalue.c
  test/db/abi/platforms/reg_profile
Labels: ESIL, RZIL

#1643 EBCDIC character support
  librz/bin/bfile.c
  librz/bin/bin.c
  librz/core/cconfig.c
  librz/include/rz_bin.h
  librz/include/rz_util/rz_ebcdic.h
  librz/include/rz_util/rz_str.h
  librz/util/ebcdic.c
  librz/util/meson.build
  librz/util/str.c
  librz/util/str_search.c
  test/db/abi/compilers/pelles_c
  test/db/cmd/cmd_basefind
  test/db/cmd/cmd_i
  test/db/formats/elf/elf-relro
  test/db/tools/rz_bin
  test/unit/meson.build
  test/unit/test_ebcdic.c
  test/unit/test_str_search.c
Labels: rz-test, API

#2007 Fix meta escape for EBCDIC encodings
  librz/core/cmeta.c
Labels: merge-when-green

#1968 RzShell: convert om-, om-*, om=, oma, omb, omr commands
  librz/core/cmd/cmd_open.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_open.yaml
Labels: RzCore

#2008 Enable `shm://` test on OpenBSD
  .builds/openbsd_fast.yml
Labels: merge-when-green

#2016 Fix: UAF caused by parse_type_abstract_declarator_node()
  librz/type/parser/types_parser.c
Labels: RzType

#2019 Fix usage typo
  librz/main/rizin.c
Labels: rizin

#2018 debug: descriptors list netbsd.
  librz/debug/p/debug_native.c
  librz/debug/p/native/bsd/bsd_debug.c
  librz/debug/p/native/linux/linux_debug.c
Labels: RzDebug

#1502 Add support for Windows on ARM
  binrz/rz-test/rz_test.h
  librz/core/cconfig.c
  librz/core/cdebug.c
  librz/core/cmd/cmd_debug.c
  librz/core/core_private.h
  librz/core/tui/visual.c
  librz/debug/debug.c
  librz/debug/p/debug_native.c
  librz/debug/p/debug_windbg.c
  librz/debug/p/native/bt.c
  librz/debug/p/native/bt/windows-all.c
  librz/debug/p/native/linux/reg/linux-arm64.h
  librz/debug/p/native/reg.c
  librz/debug/p/native/reg/windows-arm.h
  librz/debug/p/native/reg/windows-arm64.h
  librz/debug/p/native/windows/windows_debug.c
  librz/debug/p/native/windows/windows_debug.h
  librz/debug/p/native/windows/windows_message.c
  librz/debug/p/native/windows/windows_message.h
  librz/include/rz_types.h
  sys/cross-arm64-windows.txt
Labels: command, rz-test, RzDebug, RzCore, visual, high-priority, Windows, WinDbg, ARM, port

#2024 asan builds: Get loc of asan so from env
  .github/workflows/ci.yml
Labels: infrastructure

#2026 Add -g (grep directly) option and fallback for oldshell to which
  librz/core/cmd_descs/rzshell_which.py
Labels: RzCore

#1854 Port `c` commands to newshell
  librz/core/cconfig.c
  librz/core/cmd/cmd.c
  librz/core/cmd/cmd_cmp.c
  librz/core/cmd_descs/cmd_cmp.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
  librz/core/cmd_descs/meson.build
  librz/core/cmp.c
  librz/core/core.c
  librz/core/meson.build
  librz/include/rz_cmp.h
  librz/include/rz_core.h
  librz/meson.build
  test/db/cmd/cmd_c
  test/db/cmd/regexp
  test/unit/meson.build
  test/unit/test_compare.c
Labels: rz-test, RzCore, merge-when-green

#2012 Cleanup `dbl` command handler; Remove `rz_bp_list`
  librz/bp/bp.c
  librz/core/cdebug.c
  librz/core/cfile.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_debug.c
  librz/core/cmd_descs/cmd_debug.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/debug/debug.c
  librz/debug/p/debug_gdb.c
  librz/debug/p/debug_windbg.c
  librz/include/rz_bp.h
  test/README.md
  test/db/archos/linux-x64/dbg_bps
  test/db/archos/linux-x64/dbg_cmdbps
  test/db/archos/linux-x64/dbg_seginfo
  test/notworking_db/darwin-x64/dbg
Labels: RzDebug, RzCore, GDB, WinDbg

#1974 Fix a few memleaks
  librz/analysis/rzil/rzil.c
  librz/core/cmd/cmd_eval.c
  librz/core/core.c
Labels: RzAnalysis, RzCore, RZIL

#2031 Initialize retctx,ctx before freeing the inner elements
  librz/analysis/var.c
  librz/core/analysis_tp.c
  librz/core/canalysis.c
Labels: merge-when-green

#2035 Fix which for subfile references
  librz/core/cmd_descs/rzshell_which.py
Labels: RzCore

#2039 Check for plugin ESIL support before running ESIL code in `aaa`.
  librz/analysis/p/analysis_riscv.c
  librz/core/canalysis.c
  test/db/cmd/cmd_list
Labels: RzAnalysis

#2042 Fix clang `-Wabsolute-value` warning + Trigger linux clang build on `clang` in branch name
  .github/workflows/ci.yml
  librz/include/rz_util/rz_hex.h
  librz/util/hex.c
Labels: infrastructure, API

#2037 Coverity scan fixes (mostly memory leaks)
  librz/analysis/type_pdb.c
  librz/core/basefind.c
  librz/core/cmd/cmd.c
  librz/il/definitions/bitvector.c
  librz/include/rz_util/rz_assert.h
  librz/type/format.c
  librz/type/parser/types_parser.c
Labels: API, RzCore, RzType, PDB, RZIL

#2041 Init all fields in rz_cmd_state_output_init()
  librz/core/cmd/cmd_api.c
Labels: RzCore

#2043 Use `--werror` with Linux Clang builds
  .github/workflows/ci.yml
  subprojects/packagefiles/capstone-bundled/meson.build
Labels: infrastructure
