Repository rizinorg/rizin, pull requests merged in 2021-06, with the labels that each got.

#1179 Refactor NSO to use RzBinVirtualFile instead of IO Cache
  librz/bin/format/nxo/nxo.h
  librz/bin/p/bin_nso.c
  test/db/formats/nso
Labels: RzBin

#1160 Deprecate RzSyscallPort and move the existing sysregs to SDB
  librz/core/cconfig.c
  librz/core/disasm.c
  librz/include/rz_syscall.h
  librz/reg/d/avr-ATmega8-8.sdb.txt
  librz/reg/d/meson.build
  librz/syscall/d2/avr-atmega16.sdb.txt
  librz/syscall/ioports.c
  librz/syscall/meson.build
  librz/syscall/syscall.c
  meson.build
  test/db/analysis/avr
Labels: RReg, RzSyscall, merge-when-green

#1177 Add some rz-diff -t lines tests
  librz/diff/unified_diff.c
  librz/main/rz-diff.c
  test/db/tools/rz_diff
Labels: infrastructure

#1186 Add Integration Test for RzBinVirtualFiles without RzCore
  librz/bin/bobj.c
  librz/include/rz_bin.h
  test/integration/meson.build
  test/integration/test_bin_vfiles.c
Labels: rz-test

#1189 Refactor COFF Reloc Patching to use RzBinVirtualFile instead of IO Cache
  librz/bin/format/coff/coff.c
  librz/bin/format/coff/coff.h
  librz/bin/format/coff/coff_reloc.c
  librz/bin/meson.build
  librz/bin/p/bin_coff.c
  librz/include/rz_bin.h
  test/db/formats/coff
Labels: RzBin

#1187 Import refactor split format elf
  librz/bin/format/elf/elf.c
  librz/bin/format/elf/elf.h
  librz/bin/format/elf/elf64.c
  librz/bin/format/elf/elf64.h
  librz/bin/format/elf/elf64_corefile.c
  librz/bin/format/elf/elf64_info.c
  librz/bin/format/elf/elf64_notes.c
  librz/bin/format/elf/elf64_relocs.c
  librz/bin/format/elf/elf64_sections.c
  librz/bin/format/elf/elf64_symbols.c
  librz/bin/format/elf/elf64_write.c
  librz/bin/format/elf/elf_corefile.c
  librz/bin/format/elf/elf_info.c
  librz/bin/format/elf/elf_notes.c
  librz/bin/format/elf/elf_relocs.c
  librz/bin/format/elf/elf_sections.c
  librz/bin/format/elf/elf_specs.h
  librz/bin/format/elf/elf_symbols.c
  librz/bin/format/elf/elf_write.c
  librz/bin/meson.build
  librz/bin/p/bin_cgc.c
  librz/bin/p/bin_elf.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_elf64.c
  librz/core/cbin.c
  test/db/cmd/cmd_i
  test/db/formats/elf/crash
  test/db/formats/elf/symbols
  test/db/formats/elf/versioninfo
  test/db/tools/rz_bin
Labels: RzBin

#674 Disable optional code analysis ##test
  .github/workflows/code-analysis.yml
Labels: infrastructure

#1199 Fix coverity scan errors from elf refactoring
  librz/bin/format/elf/elf_info.c
  librz/bin/format/elf/elf_symbols.c
  librz/bin/p/bin_elf.inc
Labels: RzBin

#1200 Remove all PJEncodings
  librz/analysis/class.c
  librz/analysis/fcn.c
  librz/analysis/sign.c
  librz/analysis/xrefs.c
  librz/core/canalysis.c
  librz/core/cbin.c
  librz/core/cconfig.c
  librz/core/cmd_analysis.c
  librz/core/cmd_api.c
  librz/core/cmd_debug.c
  librz/core/cmd_info.c
  librz/core/cmd_print.c
  librz/core/cmd_search.c
  librz/core/cmd_seek.c
  librz/core/cmd_type.c
  librz/core/core.c
  librz/core/ctypes.c
  librz/core/disasm.c
  librz/core/linux_heap_glibc.c
  librz/core/yank.c
  librz/include/rz_bind.h
  librz/include/rz_core.h
  librz/include/rz_util/pj.h
  librz/include/rz_util/rz_json.h
  librz/include/rz_util/rz_str.h
  librz/main/rz-bin.c
  librz/util/json_parser.c
  librz/util/pj.c
  librz/util/str.c
  test/db/cmd/cmd_afb
  test/db/cmd/cmd_ax
  test/db/cmd/cmd_i
  test/db/cmd/cmd_pf2
  test/unit/test_str.c
Labels: API, command

#1206 Cleanup of RzLang
  librz/lang/lang.c
  librz/lang/meson.build
  librz/lang/p/c.c
  librz/lang/p/cpipe.c
  librz/lang/p/pipe-bash.sh
  librz/lang/p/pipe-node.js
  librz/lang/p/rust.c
  librz/lang/p/spp.c
  librz/lang/p/spp_rz.inc
  librz/lang/p/vala.c
  librz/lang/p/zig.c
  test/db/cmd/cmd_interpret
  test/db/cmd/cmd_list
Labels: RzLang

#1207 Always Upload Test Results in GHA
  .github/workflows/ci.yml
Labels: infrastructure

#1193 Introduce `RzArchProfile` and add support for CPU profiles
  librz/analysis/analysis.c
  librz/analysis/arch_profile.c
  librz/analysis/meson.build
  librz/analysis/p/analysis_avr.c
  librz/asm/cpus/avr-ATTiny48.sdb.txt
  librz/asm/cpus/avr-ATTiny88.sdb.txt
  librz/asm/cpus/avr-ATmega1280.sdb.txt
  librz/asm/cpus/avr-ATmega1281.sdb.txt
  librz/asm/cpus/avr-ATmega16.sdb.txt
  librz/asm/cpus/avr-ATmega168.sdb.txt
  librz/asm/cpus/avr-ATmega2560.sdb.txt
  librz/asm/cpus/avr-ATmega2561.sdb.txt
  librz/asm/cpus/avr-ATmega640.sdb.txt
  librz/asm/cpus/avr-ATmega8.sdb.txt
  librz/asm/cpus/avr-ATmega88.sdb.txt
  librz/asm/cpus/avr-ATxmega128a4u.sdb.txt
  librz/asm/cpus/meson.build
  librz/asm/p/asm_avr.c
  librz/core/canalysis.c
  librz/core/cconfig.c
  librz/core/cmd_analysis.c
  librz/core/disasm.c
  librz/include/rz_analysis.h
  librz/include/rz_arch.h
  librz/include/rz_core.h
  librz/meson.build
  librz/syscall/syscall.c
  meson.build
  test/db/abi/compilers/pelles_c
  test/db/analysis/avr
  test/db/formats/elf/helloworld-gcc-elf
Labels: RzAnalysis, command, merge-when-green

#1198 test: use inplace 'rizin' binary for 'rzpipe' test
  test/unit/meson.build
  test/unit/test_config.h.in
  test/unit/test_rzpipe.c
Labels: rz-test

#1215 Refactor `rz_arch_profile_add_flag_every_io` to not let it depend on RzCore
  librz/analysis/arch_profile.c
  librz/core/canalysis.c
  librz/core/cconfig.c
  librz/core/cmd_analysis.c
  librz/include/rz_arch.h
  librz/include/rz_syscall.h
  librz/syscall/syscall.c
Labels: command

#1214 Refactor add new interface to fetch data from elf ##refactor
  librz/bin/format/elf/elf.c
  librz/bin/format/elf/elf.h
  librz/bin/format/elf/elf64_misc.c
  librz/bin/format/elf/elf_dynamic.c
  librz/bin/format/elf/elf_info.c
  librz/bin/format/elf/elf_misc.c
  librz/bin/format/elf/elf_notes.c
  librz/bin/format/elf/elf_relocs.c
  librz/bin/format/elf/elf_sections.c
  librz/bin/format/elf/elf_symbols.c
  librz/bin/format/pe/dotnet.c
  librz/bin/meson.build
  librz/bin/p/bin_elf.inc
  librz/include/rz_util/rz_num.h
Labels: API, RzBin

#1219 Remove unsupported @<addr>!<blksz> sintax
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.yaml
Labels: RzCore, merge-when-green

#1182 Refactor `dm`
  librz/core/cdebug.c
  librz/core/cmd.c
  librz/core/cmd_debug.c
  librz/core/cmd_descs/cmd_debug.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_heap_glibc.yaml
  librz/core/cmd_descs/meson.build
  librz/core/cmd_linux_heap_glibc.c
  librz/core/linux_heap_glibc.c
  librz/core/linux_heap_jemalloc.c
  librz/core/windows_heap.c
  librz/debug/dmap.c
  librz/include/rz_core.h
  librz/include/rz_debug.h
  librz/include/rz_heap_glibc.h
  test/db/archos/linux-x64/dbg_aslr
  test/db/archos/linux-x64/dbg_dmh
  test/db/json/json2
Labels: RzCore, command, merge-when-green, refactor, shell

#1222 Fix some Code Scanning Alerts
  librz/core/canalysis.c
  librz/include/rz_util/rz_print.h
  librz/main/rz-ax.c
  librz/main/rz-diff.c
  librz/util/print.c
Labels: API

#1216 Add NetBSD CI
  .builds/netbsd.yml
Labels: BSD, buildsystem, infrastructure

#1226 Avoid using pcache when emulating functions.
  librz/core/canalysis.c
  librz/core/cconfig.c
  test/db/analysis/arm
Labels: RzAnalysis

#1227 Fix compiler warnings gnu/arc*.c syscall.c print.c debug_gdb.c
  librz/asm/arch/arc/gnu/arc-dis.c
  librz/asm/arch/arc/gnu/arcompact-dis.c
  librz/debug/p/debug_gdb.c
  librz/include/rz_syscall.h
  librz/syscall/syscall.c
  librz/util/print.c
Labels: RzDebug

#1234 Refactor how sections are stored in ELFOBJ ##refactor
  librz/bin/format/elf/elf.c
  librz/bin/format/elf/elf.h
  librz/bin/format/elf/elf_info.c
  librz/bin/format/elf/elf_misc.c
  librz/bin/format/elf/elf_notes.c
  librz/bin/format/elf/elf_relocs.c
  librz/bin/format/elf/elf_sections.c
  librz/bin/format/elf/elf_segments.c
  librz/bin/format/elf/elf_symbols.c
  librz/bin/p/bin_elf.inc
Labels: RzBin

#1224 Fix coverity errors in heap parsing code and improve heap API
  librz/core/cmd_linux_heap_glibc.c
  librz/core/linux_heap_glibc.c
  librz/include/rz_core.h
  librz/include/rz_heap_glibc.h
Labels: command

#1237 Fix fuzz test created by PR #1234
  librz/bin/format/elf/elf.h
  librz/bin/format/elf/elf_info.c
  librz/bin/format/elf/elf_relocs.c
  librz/bin/format/elf/elf_segments.c
  librz/bin/p/bin_elf.inc
Labels: RzBin

#1245 Remove drps/arps Commands
  librz/core/cmd_debug.c
  librz/core/core.c
Labels: command

#1228 RzArch: Support for memory mapping the ROM sizes
  librz/analysis/arch_profile.c
  librz/asm/cpus/avr-ATmega16.sdb.txt
  librz/core/canalysis.c
  librz/include/rz_analysis.h
  librz/include/rz_arch.h
  test/README.md
  test/db/analysis/avr
Labels: RzArch, command, merge-when-green

#1246 Using with for resource-allocating operations ##refactor
  sys/check_meson_subproject.py
  sys/syscall_preprocessing.py
  test/fuzz/scripts/fuzz_rz_asm.py
  test/scripts/gdbserver.py
  test/unit/legacy_unit/syscall/openbsd-gen.py
Labels: rz-test

#1239 Full table header line
  librz/util/table.c
  test/db/analysis/arm64
  test/db/analysis/classes
  test/db/analysis/java
  test/db/analysis/x86_64
  test/db/cmd/bug_duplicate_vtables
  test/db/cmd/cmd_ac
  test/db/cmd/cmd_acll
  test/db/cmd/cmd_avr
  test/db/cmd/cmd_i
  test/db/cmd/cmd_open
  test/db/cmd/tables
  test/db/cmd/utf32
  test/db/formats/bflt
  test/db/formats/coff
  test/db/formats/dex
  test/db/formats/dmp/dmp
  test/db/formats/dyldcache
  test/db/formats/elf/crash
  test/db/formats/elf/elf-relarm
  test/db/formats/elf/elf-relro
  test/db/formats/elf/elf-riscv64
  test/db/formats/elf/reloc
  test/db/formats/elf/sections
  test/db/formats/elf/symbols
  test/db/formats/elf/v850
  test/db/formats/gba
  test/db/formats/gbc
  test/db/formats/java
  test/db/formats/le
  test/db/formats/mach0/fatmach0
  test/db/formats/mach0/mach0
  test/db/formats/mdmp
  test/db/formats/ne
  test/db/formats/nro
  test/db/formats/nso
  test/db/formats/omf
  test/db/formats/pe/96emptysections
  test/db/formats/pe/96workingsections
  test/db/formats/pe/delayimports
  test/db/formats/pe/exe2pe
  test/db/formats/pe/export_names
  test/db/formats/pe/imports
  test/db/formats/pe/imports_tinyW7
  test/db/formats/pe/pe
  test/db/formats/pe/sectiondata
  test/db/formats/plan9
  test/db/formats/prg
  test/db/formats/psx
  test/db/formats/qnx
  test/db/formats/smd
  test/db/formats/spc700
  test/db/formats/web_assembly
  test/db/formats/xbe
  test/db/formats/z64
  test/db/io/srec
  test/db/tools/rz_bin
  test/unit/test_table.c
Labels: rz-test

#1252 Fix JSON generation for axgj command
  librz/core/cmd_analysis.c
  test/db/analysis/x86_64
Labels: command

#1253 Call rz_cons_pop even on error path
  librz/core/cmd.c
Labels: command, merge-when-green

#1255 Support self-unhooking of RzEvent Callbacks
  librz/include/rz_util/rz_event.h
  librz/util/event.c
  test/unit/test_event.c
Labels: API, rz-test
