Repository rizinorg/rizin, pull requests merged in 2021-03, with the labels that each got.

#722 Free objects allocated by rz_syscall_get()
  librz/bin/p/bin_xnu_kernelcache.c
  librz/core/canalysis.c
  librz/core/cmd_search.c
  librz/egg/egg.c
  librz/parse/filter.c
Labels: RzBin, command

#737 Make RzBinPlugin.patch_relocs local to RzBinFile
  librz/bin/bin.c
  librz/bin/bobj.c
  librz/bin/i/private.h
  librz/bin/p/bin_bflt.c
  librz/bin/p/bin_coff.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_mach0.c
  librz/include/rz_bin.h
Labels: RzBin

#738 Use HtUP for storing trace nodes
  librz/core/cmd_debug.c
  librz/debug/debug.c
  librz/include/rz_debug.h
Labels: command

#745 core/cmd_debug: fix OOB read when running 'dcu'
  librz/core/cmd_debug.c
Labels: command

#748 Update SDB subproject
  subprojects/sdb.wrap
Labels: merge-when-green

#750 Prevent signed int difference overflow in java_switch_op()
  librz/analysis/p/analysis_java.c
Labels: RzAnalysis

#742 Pull actively info-applying functions out of rz_core_bin_info()
  librz/bin/filter.c
  librz/core/cbin.c
  librz/core/cconfig.c
  librz/core/cfile.c
  librz/core/cmd_info.c
  librz/core/cmd_open.c
  librz/core/disasm.c
  librz/include/rz_bin.h
  librz/include/rz_core.h
  test/db/cmd/cmd_i
Labels: RzBin, command

#754 core/cmd_analysis: fix UAF in afist command
  librz/core/cmd_analysis.c
Labels: command

#749 build: improve documentation for static building
  .github/workflows/ci.yml
  BUILDING.md
  meson.build
Labels: infrastructure

#758 Fix "directive argument is null" warnings in optimized asan build
  librz/analysis/p/analysis_ppc_cs.c
  librz/util/table.c
Labels: RzAnalysis

#769 Remove io_rbuf #751
  librz/include/rz_io.h
  librz/io/meson.build
  librz/io/p/io_rbuf.c
  librz/meson.build
Labels: RzIO, merge-when-green

#771 license amd29k
  librz/analysis/p/analysis_amd29k.c
  librz/asm/arch/amd29k/amd29k.c
  librz/asm/arch/amd29k/amd29k.h
  librz/asm/arch/amd29k/amd29k_internal.h
  librz/bin/p/bin_coff.c
Labels: RzAnalysis, RzBin

#776 Set <free> method for reloc lists
  librz/bin/p/bin_coff.c
  librz/bin/p/bin_mdmp.c
  librz/bin/p/bin_qnx.c
Labels: RzBin

#779 Enable pyc
  librz/meson.build
Labels: buildsystem, merge-when-green

#781 Remove `cmd_print_pwn` and other easter eggs
  librz/core/cmd_print.c
Labels: command

#784 Add some missing copyright marks
  librz/analysis/arch/hexagon/hexagon_analysis.c
  librz/analysis/arch/hexagon/hexagon_analysis.h
  librz/asm/arch/hexagon/hexagon.c
  librz/asm/arch/hexagon/hexagon.h
  librz/asm/arch/hexagon/hexagon_disas.c
  librz/asm/arch/hexagon/hexagon_insn.h
  librz/asm/arch/pyc/opcode.c
  librz/asm/arch/pyc/opcode_10.c
  librz/asm/arch/pyc/opcode_11.c
  librz/asm/arch/pyc/opcode_12.c
  librz/asm/arch/pyc/opcode_13.c
  librz/asm/arch/pyc/opcode_14.c
  librz/asm/arch/pyc/opcode_15.c
  librz/asm/arch/pyc/opcode_16.c
  librz/asm/arch/pyc/opcode_20.c
  librz/asm/arch/pyc/opcode_21.c
  librz/asm/arch/pyc/opcode_22.c
  librz/asm/arch/pyc/opcode_23.c
  librz/asm/arch/pyc/opcode_24.c
  librz/asm/arch/pyc/opcode_25.c
  librz/asm/arch/pyc/opcode_26.c
  librz/asm/arch/pyc/opcode_27.c
  librz/asm/arch/pyc/opcode_2x.c
  librz/asm/arch/pyc/opcode_30.c
  librz/asm/arch/pyc/opcode_31.c
  librz/asm/arch/pyc/opcode_32.c
  librz/asm/arch/pyc/opcode_33.c
  librz/asm/arch/pyc/opcode_34.c
  librz/asm/arch/pyc/opcode_35.c
  librz/asm/arch/pyc/opcode_36.c
  librz/asm/arch/pyc/opcode_37.c
  librz/asm/arch/pyc/opcode_38.c
  librz/asm/arch/pyc/opcode_39.c
  librz/asm/arch/pyc/opcode_3x.c
  librz/asm/arch/pyc/opcode_analysis.c
  librz/asm/arch/pyc/opcode_arg_fmt.c
  librz/bin/pdb/dbi.c
  librz/bin/pdb/fpo.c
  librz/bin/pdb/gdata.c
  librz/config/serialize_config.c
  librz/core/cagraph.c
  librz/core/cautocmpl.c
  librz/core/cdebug.c
  librz/core/cmd_interpret.c
  librz/core/cmd_plugins.c
  librz/core/cmd_remote.c
  librz/core/cmd_tasks.c
  librz/core/seek.c
  librz/core/serialize_core.c
  librz/flag/serialize_flag.c
  librz/util/big.c
  shlr/rar/cpu.c
Labels: RzBin, command

#787 Rename esil.7 to rz-esil.7 to avoid collisions with r2
  man/rz-esil.7
  meson.build
Labels: stable-backport

#785 Add types autocompletion
  librz/core/cautocmpl.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_type.yaml
  librz/core/core_private.h
  librz/core/ctypes.c
  librz/include/rz_cmd.h
  librz/include/rz_list.h
  librz/util/list.c
Labels: RzCore, merge-when-green, shell, types

#789 Create right Docker tags when releasing
  .github/workflows/ci.yml
Labels: infrastructure

#797 Fix memory corruption in disasm
  librz/analysis/analysis.c
  librz/analysis/esil_trace.c
  librz/core/cbin.c
  librz/core/disasm.c
Labels: ESIL

#800 analysis_arm_cs.c: Fix -Wmaybe-uninitialized warning in optimized capstone-v3 build
  librz/analysis/p/analysis_arm_cs.c
Labels: RzAnalysis

#709 Convert `dsu` commands to newshell
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/cmd_descs/cmd_debug.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  test/db/archos/linux-x64/dbg_step
Labels: RzCore, command

#260 Set CI buildtypes to highest opt level possible and set default buildtype to debugoptimized
  .github/workflows/ci.yml
  librz/asm/arch/hexagon/hexagon_disas.c
  meson.build
  subprojects/packagefiles/capstone-3.0.5/meson.build
  subprojects/packagefiles/capstone-4.0.2/meson.build
  subprojects/packagefiles/capstone-bundled/meson.build
  subprojects/packagefiles/capstone-next/meson.build
  test/unit/auxiliary/meson.build
Labels: API, RzAnalysis, RzDebug, RzLang, command, infrastructure, panel, rizin, rz-diff, rz-find, rz-hash, rz-run, rz-test

#813 Add rz_num_align_delta()
  librz/include/rz_util/rz_num.h
  test/unit/test_unum.c
Labels: API, rz-test

#798 Fix rz_name_validate_char in name.c & update test
  librz/analysis/flirt.c
  librz/analysis/meta.c
  librz/bin/bfile.c
  librz/bin/pdb/pdb.c
  librz/core/canalysis.c
  librz/core/cbin.c
  librz/core/cconfig.c
  librz/core/cmd_debug.c
  librz/core/cmd_help.c
  librz/core/cmd_zign.c
  librz/core/disasm.c
  librz/core/vmenus.c
  librz/debug/dmap.c
  librz/flag/flag.c
  librz/include/rz_util/rz_name.h
  librz/util/name.c
  test/db/analysis/x86_64
  test/db/cmd/cmd_i
  test/db/formats/coff
  test/db/formats/elf/helloworld-gcc-elf
  test/db/formats/elf/sections
  test/db/tools/rz_bin
Labels: API, RzBin, command

#812 Add rz_vector_flush()
  librz/include/rz_vector.h
  librz/util/vector.c
  test/unit/test_vector.c
Labels: rz-test

#811 Fix display duplicate vtable in multiple use “aaa” command
  librz/analysis/class.c
  test/db/cmd/bug_duplicate_vtables
Labels: RzAnalysis, types

#818 af-*: Remove function flags too
  librz/core/cmd_analysis.c
  test/db/analysis/x86_64
Labels: command

#821 Refactor to use more API in various commands and improve code quality
  binrz/preload/librz2.c
  librz/core/cconfig.c
  librz/core/cmd.c
  librz/core/cmd_analysis.c
  librz/core/cmd_flag.c
  librz/core/panels.c
  librz/core/vmenus.c
  librz/util/print_code.c
Labels: command, panel

#808 Refactoring RzAsm and RzAnalysis to allow plugin execution context.
  librz/analysis/analysis.c
  librz/analysis/function.c
  librz/analysis/p/analysis_arm_cs.c
  librz/analysis/p/analysis_pyc.c
  librz/analysis/p/analysis_snes.c
  librz/analysis/p/analysis_tms320.c
  librz/analysis/p/analysis_x86_cs.c
  librz/asm/asm.c
  librz/asm/p/asm_arm_cs.c
  librz/asm/p/asm_snes.c
  librz/asm/p/asm_tms320.c
  librz/asm/p/asm_x86_cs.c
  librz/core/canalysis.c
  librz/core/cconfig.c
  librz/core/cmd_zign.c
  librz/core/core.c
  librz/include/rz_analysis.h
  librz/include/rz_asm.h
  test/db/cmd/archs
Labels: RzAnalysis, command, merge-when-green

#824 aae(f): Unset reg flags if they were not initially set
  librz/core/cmd_analysis.c
  librz/include/rz_flag.h
  test/db/analysis/x86_32
Labels: command

#799 Process noreturn functions also for relocations
  librz/core/canalysis.c
  test/db/analysis/noreturn
Labels: RzAnalysis, merge-when-green

#746 Add file section type and more flags for the ELF sections information (`iS`) ##bin
  librz/bin/format/elf/elf.c
  librz/bin/format/elf/elf.h
  librz/bin/format/mach0/mach0.c
  librz/bin/format/mach0/mach0.h
  librz/bin/format/pe/pe.c
  librz/bin/format/pe/pe.h
  librz/bin/p/bin_cgc.c
  librz/bin/p/bin_elf.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_elf64.c
  librz/bin/p/bin_mach0.c
  librz/bin/p/bin_mach064.c
  librz/bin/p/bin_pe.c
  librz/bin/p/bin_pe.inc
  librz/bin/p/bin_pe64.c
  librz/core/cbin.c
  librz/include/rz_bin.h
  test/db/analysis/x86_64
  test/db/cmd/cmd_i
  test/db/cmd/feat_variables
  test/db/formats/ar
  test/db/formats/elf/elf-relro
  test/db/formats/elf/helloworld-gcc-elf
  test/db/formats/elf/sections
  test/db/formats/mach0/mach0
  test/db/formats/pe/96emptysections
  test/db/formats/pe/96workingsections
  test/db/formats/pe/pe
  test/db/formats/pe/sectiondata
  test/db/tools/rz_bin
Labels: RzBin, merge-when-green

#830 Mention rz_warn_if_reached() in documentation
  DEVELOPERS.md
Labels: documentation

#836 Add missing copyright information
  .reuse/dep5
  LICENSES/CC-BY-SA-4.0.txt
  librz/analysis/esil_cfg.c
  librz/analysis/esil_interrupt.c
  librz/analysis/esil_sources.c
  librz/analysis/p/analysis_msp430.c
  librz/analysis/p/analysis_spc700.c
  librz/analysis/serialize_analysis.c
  librz/analysis/type_pdb.c
  librz/bin/format/omf/omf.c
  librz/parse/code.c
Labels: ESIL, RzAnalysis

#835 Refactor code into new API function rz_flag_unset_all_in_space
  librz/core/cmd_analysis.c
  librz/flag/flag.c
  librz/include/rz_flag.h
Labels: command

#822 Pyc plugin segment fault fix and add tests
  librz/analysis/analysis.c
  librz/analysis/p/analysis_pyc.c
  librz/asm/arch/pyc/opcode.c
  librz/asm/p/asm_pyc.c
  test/db/formats/pyc
Labels: RzAnalysis

#819 Refactoring analysis process in order to finish the next job like `constructor detection`
  librz/analysis/class.c
  librz/analysis/rtti_itanium.c
  librz/analysis/rtti_msvc.c
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/include/rz_analysis.h
  test/db/cmd/bug_duplicate_vtables
  test/db/cmd/cmd_ac
  test/db/cmd/cmd_acll
  test/db/cmd/cmd_fnj
  test/unit/test_serialize_analysis.c
Labels: command, rz-test, types

#844 analysis/esil_trace: check if a trace exist before accessing esil->trace
  librz/analysis/esil_trace.c
Labels: ESIL

#848 Remove more.c in favor of less.c
  librz/cons/meson.build
  librz/cons/more.c
Labels: refactor

#846 Add missing copyright information
  .reuse/dep5
  librz/asm/arch/avr/avr_disasm.h
  librz/asm/arch/avr/avr_instructionset.c
  librz/asm/arch/avr/disasm.c
  librz/asm/arch/cr16/cr16_disas.c
  librz/asm/arch/h8300/h8300_disas.c
  librz/asm/arch/mcore/mcore.c
  librz/asm/arch/msp430/msp430_disas.c
  librz/asm/arch/propeller/propeller_disas.c
  librz/asm/arch/spc700/spc700dis.c
  librz/asm/arch/xap/dis.c
  librz/asm/p/asm_spc700.c
  librz/asm/p/cs_mnemonics.c
  librz/bin/p/bin_spc700.c
  shlr/ptrace-wrap/COPYING
  shlr/ptrace-wrap/README.md
  shlr/ptrace-wrap/include/ptrace_wrap.h
  shlr/ptrace-wrap/src/ptrace_wrap.c
  shlr/w32dbg_wrap/include/w32dbg_wrap.h
  shlr/w32dbg_wrap/src/w32dbg_wrap.c
  shlr/winkd/transport.c
  shlr/winkd/transport.h
Labels: RzBin

#842 core/cmd_descs: convert wf commands to newshell
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_write.yaml
  librz/core/cmd_write.c
  test/db/cmd/cmd_w
Labels: RzCore, command

#850 Support rz_read_<endianness>_float/rz_read_<endianness>_double
  librz/include/rz_endian.h
  test/unit/meson.build
  test/unit/minunit.h
  test/unit/test_endian.c
Labels: rz-test

#859 Add missing copyright information
  .reuse/dep5
  librz/bin/format/mach0/mach064_is_kernelcache.c
  librz/bin/format/objc/mach064_classes.c
  librz/bin/format/xnu/rz_cf_dict.c
  librz/crypto/des.c
  shlr/gdb/src/arch.c
  shlr/gdb/src/common.c
  shlr/gdb/src/gdbserver/core.c
  shlr/qnx/include/arch.h
  shlr/qnx/include/core.h
  shlr/qnx/include/libqnxr.h
  shlr/qnx/include/packet.h
  shlr/qnx/include/sigutil.h
  shlr/qnx/include/utils.h
Labels: GDB

#862 Add missing copyright information
  .reuse/dep5
  librz/asm/arch/arm/aarch64/aarch64-dis.h
  librz/asm/arch/arm/aarch64/aarch64-opc.h
  librz/asm/arch/arm/aarch64/aarch64-tbl.h
  librz/asm/arch/arm/aarch64/aarch64.h
  librz/asm/arch/arm/aarch64/sysdep.h
  librz/asm/arch/mcore/mcore.h
  librz/io/p/io_rzk_linux.c
  librz/io/p/io_rzk_linux.h
  librz/io/p/io_rzk_windows.c
  librz/io/p/io_rzk_windows.h
  librz/syscall/ioports.c
  shlr/heap/include/rz_windows/windows_heap.h
Labels: RzIO

#864 Fix JSON output `aflj` if empty
  librz/core/canalysis.c
  test/db/cmd/cmd_afl
Labels: RzAnalysis, merge-when-green

#804 Java rewrite with LGPL license
  librz/analysis/meson.build
  librz/analysis/p/analysis_java.c
  librz/asm/arch/java/bytecode.h
  librz/asm/arch/java/code.c
  librz/asm/arch/java/code.h
  librz/asm/arch/java/const.h
  librz/asm/arch/java/jvm.c
  librz/asm/arch/java/jvm.h
  librz/asm/arch/java/ops.c
  librz/asm/arch/java/ops.h
  librz/asm/meson.build
  librz/asm/p/asm_java.c
  librz/bin/bin.c
  librz/bin/format/java/class.c
  librz/bin/format/java/class.h
  librz/bin/format/java/class_attribute.c
  librz/bin/format/java/class_attribute.h
  librz/bin/format/java/class_bin.c
  librz/bin/format/java/class_bin.h
  librz/bin/format/java/class_const_pool.c
  librz/bin/format/java/class_const_pool.h
  librz/bin/format/java/class_exceptions.h
  librz/bin/format/java/class_field.c
  librz/bin/format/java/class_field.h
  librz/bin/format/java/class_interface.c
  librz/bin/format/java/class_interface.h
  librz/bin/format/java/class_line_number.h
  librz/bin/format/java/class_local_variable.h
  librz/bin/format/java/class_method.c
  librz/bin/format/java/class_method.h
  librz/bin/format/java/class_module.h
  librz/bin/format/java/class_private.h
  librz/bin/format/java/internals.h
  librz/bin/format/java/json.c
  librz/bin/format/java/json.h
  librz/bin/format/java/print.c
  librz/bin/format/java/print.h
  librz/bin/mangling/java.c
  librz/bin/meson.build
  librz/bin/p/bin_java.c
  librz/core/cbin.c
  librz/core/cmd_analysis.c
  librz/core/disasm.c
  librz/core/p/core_java.c
  librz/include/rz_analysis.h
  librz/include/rz_bin.h
  test/db/analysis/java
  test/db/asm/java
  test/db/cmd/cmd_i
  test/db/cmd/cmd_pa
  test/db/cmd/cmd_pd
  test/db/formats/java
  test/db/tools/rz_bin
  test/unit/meson.build
Labels: RzAnalysis, java

#876 Fixed warning on uninitialized variable
  librz/core/cmd_analysis.c
Labels: command

#869 Remove all remaining SDB from Dwarf
  librz/bin/dwarf.c
  librz/core/cbin.c
  librz/include/rz_bin_dwarf.h
  test/db/cmd/cmd_i
  test/unit/test_dwarf.c
Labels: rz-test

#881 Use rz_bin_field_free for releasing RzBinField objects
  librz/bin/bin.c
  librz/bin/format/java/class_bin.c
  librz/bin/format/mach0/mach0.c
  librz/bin/p/bin_dex.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_pe.c
  librz/bin/p/bin_pe64.c
  librz/include/rz_bin.h
Labels: RzBin

#753 Implement luac bin-plugin
  librz/analysis/meson.build
  librz/analysis/p/analysis_luac.c
  librz/asm/arch/luac/lua_arch.c
  librz/asm/arch/luac/lua_arch.h
  librz/asm/arch/luac/v54/analysis_54.c
  librz/asm/arch/luac/v54/arch_54.h
  librz/asm/arch/luac/v54/disassembly_54.c
  librz/asm/arch/luac/v54/opcode_54.c
  librz/asm/meson.build
  librz/asm/p/asm_luac.c
  librz/bin/format/luac/luac_bin.c
  librz/bin/format/luac/luac_common.c
  librz/bin/format/luac/luac_common.h
  librz/bin/format/luac/v54/luac_specs_54.h
  librz/bin/format/luac/v54/parse_54.c
  librz/bin/meson.build
  librz/bin/p/bin_luac.c
  librz/include/rz_analysis.h
  librz/include/rz_asm.h
  librz/include/rz_bin.h
  librz/meson.build
  test/db/analysis/luac
  test/db/asm/luac
  test/db/formats/luac/luac
Labels: RzAnalysis, RzBin

#888 Use rz_bin_symbol_free as <free> method for symbol lists
  librz/bin/bin.c
  librz/bin/format/java/class_bin.c
  librz/bin/format/luac/luac_bin.c
  librz/bin/p/bin_avr.c
  librz/bin/p/bin_coff.c
  librz/bin/p/bin_dex.c
  librz/bin/p/bin_dyldcache.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_mach0.c
  librz/bin/p/bin_mdmp.c
  librz/bin/p/bin_nes.c
  librz/bin/p/bin_ningb.c
  librz/bin/p/bin_nro.c
  librz/bin/p/bin_omf.c
  librz/bin/p/bin_pe.inc
  librz/bin/p/bin_smd.c
  librz/bin/p/bin_vsf.c
  librz/bin/p/bin_wasm.c
  librz/bin/p/bin_xbe.c
  librz/bin/p/bin_xnu_kernelcache.c
  librz/include/rz_bin.h
Labels: RzBin

#795 Reuse analysis data in rz_core_analysis_type_match()
  librz/core/analysis_tp.c
Labels: RzAnalysis, optimization

#894 Fix Ada and FreePascal detection tests (broken)
  test/db/abi/languages/ada
  test/db/abi/languages/freepascal
Labels: merge-when-green

#893 Use rz_bin_import_free() as <free> cb for imports list
  librz/bin/bin.c
  librz/bin/format/java/class_bin.c
  librz/bin/format/ne/ne.c
  librz/bin/p/bin_dex.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_mach0.c
  librz/bin/p/bin_mdmp.c
  librz/bin/p/bin_nro.c
  librz/bin/p/bin_pe.inc
  librz/bin/p/bin_wasm.c
  librz/include/rz_bin.h
Labels: RzBin, merge-when-green

#810 `dmh` output enhancement
  librz/core/linux_heap_glibc.c
  librz/include/rz_heap_glibc.h
  test/db/archos/linux-x64/dbg_dmh
  test/db/archos/linux-x64/dbg_dmhd
Labels: heap

#891 commands: remove "comment" argument from `zi*` and `f*`
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_zign.yaml
  librz/core/cmd_zign.c
  librz/flag/flag.c
  test/db/cmd/cmd_flags
  test/db/cmd/cmd_help
Labels: RzCore, command

#740 Remove Whitespace Plugins for now
  README.md
  librz/analysis/meson.build
  librz/analysis/p/analysis_ws.c
  librz/asm/arch/whitespace/wsdis.c
  librz/asm/meson.build
  librz/asm/p/asm_ws.c
  librz/include/rz_analysis.h
  librz/include/rz_asm.h
  librz/meson.build
  test/db/asm/ws
Labels: RzAnalysis, test-required

#855 Complete "acvf" command to better look up function address on vtable offset
  librz/analysis/class.c
  librz/analysis/rtti_itanium.c
  librz/analysis/rtti_msvc.c
  librz/core/cmd_analysis.c
  test/db/cmd/cmd_ac
Labels: command

#910 Remove duplicate definitions of `esilprintf` ##analysis
  librz/analysis/p/analysis_arm_cs.c
  librz/analysis/p/analysis_sparc_cs.c
  librz/analysis/p/analysis_sysz.c
  librz/analysis/p/analysis_x86_cs.c
  librz/analysis/p/analysis_xcore_cs.c
Labels: RzAnalysis

#925 Update Snap package file
  snapcraft.yaml
Labels: infrastructure

#919 asm.bits: Don't process a value of 0
  librz/core/cconfig.c
  test/db/archos/linux-x64/cmd_k
Labels: merge-when-green

#926 Update missing copyrights
  librz/bin/pdb/dbi.h
  librz/bin/pdb/fpo.h
  librz/bin/pdb/gdata.h
  librz/bin/pdb/omap.h
  librz/bin/pdb/pdb_downloader.h
  librz/bin/pdb/stream_file.h
  librz/bin/pdb/stream_pe.h
  librz/bin/pdb/tpi.h
  librz/bin/pdb/types.h
  librz/core/cdwarf.c
  librz/util/asn1_oids.h
  librz/util/x509.h
Labels: RzBin

#928 Update rizin-shell-parser to tree-sitter 0.19.4
  .prettierignore
  librz/core/cmd.c
  meson.build
  shlr/meson.build
  shlr/rizin-shell-parser/Cargo.toml
  shlr/rizin-shell-parser/binding.gyp
  shlr/rizin-shell-parser/bindings/node/binding.cc
  shlr/rizin-shell-parser/bindings/node/index.js
  shlr/rizin-shell-parser/bindings/rust/build.rs
  shlr/rizin-shell-parser/bindings/rust/lib.rs
  shlr/rizin-shell-parser/index.js
  shlr/rizin-shell-parser/meson.build
  shlr/rizin-shell-parser/package-lock.json
  shlr/rizin-shell-parser/package.json
  shlr/rizin-shell-parser/src/grammar.json
  shlr/rizin-shell-parser/src/meson.build
  shlr/rizin-shell-parser/src/node-types.json
  shlr/rizin-shell-parser/src/parser.c
  shlr/rizin-shell-parser/src/tree_sitter/parser.h
  subprojects/packagefiles/tree-sitter-0.19.4/meson.build
  subprojects/tree-sitter.wrap
  sys/meson_git_wrapper.py
  sys/meson_tree_sitter_generate.py
Labels: command

#932 Implement `exit` command to exit Rizin ##cons
  librz/core/cmd.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
  librz/core/cmd_descs/cmd_quit.yaml
Labels: RzCore, command

#913 Replace ref/xref with xref from/to
  librz/analysis/analysis.c
  librz/analysis/fcn.c
  librz/analysis/serialize_analysis.c
  librz/analysis/sign.c
  librz/analysis/vtable.c
  librz/analysis/xrefs.c
  librz/core/agraph.c
  librz/core/analysis_objc.c
  librz/core/canalysis.c
  librz/core/cfile.c
  librz/core/cmd_analysis.c
  librz/core/cmd_print.c
  librz/core/cmd_search.c
  librz/core/core.c
  librz/core/disasm.c
  librz/core/panels.c
  librz/core/visual.c
  librz/core/vmenus.c
  librz/core/vmenus_graph.c
  librz/include/rz_analysis.h
  librz/include/rz_core.h
  librz/include/rz_sign.h
  test/db/analysis/x86_64
  test/db/cmd/cmd_afl
  test/db/cmd/cmd_agf
  test/db/cmd/cmd_ax
  test/db/cmd/cmd_pdr
  test/db/cmd/cmd_zignature
  test/db/cmd/midbb
  test/unit/test_serialize_analysis.c
  test/unit/test_sign.c
Labels: command, panel, rz-test, visual

#943 Fix dup title in cmd_visual test
  librz/core/visual.c
  test/db/cmd/cmd_visual
Labels: visual
