Repository rizinorg/rizin, pull requests merged in 2021-02, with the labels that each got.

#499 Rename .acr to .in and remove RZ_MESON_VERSION
  librz/bin/p/bin_nso.c
  librz/include/rz_userconf.h.acr
  librz/include/rz_userconf.h.in
  librz/include/rz_version.h.in
  librz/librz.pc.in
  meson.build
Labels: RzBin

#505 Remove axF
  librz/core/cmd_analysis.c
  librz/core/core.c
Labels: command

#504 Use portable Format for Graph Metrics in Zignatures
  librz/analysis/sign.c
  librz/include/rz_util/rz_str.h
  librz/util/str.c
  test/unit/test_serialize_analysis.c
  test/unit/test_str.c
Labels: API, rz_test

#506 Add rz_strf() Macro
  librz/include/rz_util/rz_str.h
  meson.build
  test/unit/test_str.c
Labels: API, rz_test

#511 Create API for `.ar*`, `aei`, `ar <reg>=<val>`
  librz/core/agraph.c
  librz/core/cdebug.c
  librz/core/cfile.c
  librz/core/cio.c
  librz/core/cmd.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/cmd_search_rop.c
  librz/core/cmd_type.c
  librz/core/core_private.h
  librz/core/panels.c
  librz/core/visual.c
  librz/debug/dreg.c
  librz/include/rz_debug.h
  librz/include/rz_reg.h
  librz/parse/filter.c
  librz/reg/reg.c
  test/unit/test_reg.c
Labels: command, panel, rz_test, visual

#503 Refactor some parts of vmenus to use more API ##refactor
  librz/core/cautocmpl.c
  librz/core/cmd_help.c
  librz/core/vmenus.c
  librz/include/rz_core.h
Labels: command, panel

#515 Make rz_base64_encode use the right types
  librz/analysis/meta.c
  librz/analysis/serialize_analysis.c
  librz/core/canalysis.c
  librz/core/cannotated_code.c
  librz/core/cmd.c
  librz/core/cmd_analysis.c
  librz/core/cmd_help.c
  librz/flag/flag.c
  librz/include/rz_util/rz_base64.h
  librz/util/str.c
  librz/util/ubase64.c
  shlr/java/class.c
  test/unit/test_base64.c
Labels: API, command, rz_test

#517 Fix assert on base64 crypto final call without buf
  librz/crypto/p/crypto_base64.c
  test/db/tools/rz_hash
Labels: RzCrypto

#507 Refacto function assemble librz/asm/arch/z80/z80asm.c
  librz/asm/arch/z80/z80asm.c
Labels: merge-when-green

#520 Rename clang_format GHA to clang-format
  .github/workflows/linter.yml
Labels: infrastructure

#518 Replace HtPP with more suitable types in bin_dyldcache.c
  librz/bin/p/bin_dyldcache.c
Labels: RzBin

#502 Add gdbserver tests ##test
  .github/workflows/ci.yml
  test/db/archos/linux-x64/dbg_gdbserver
  test/db/archos/linux-x64/dbg_gdbserver_rebase
  test/scripts/gdbserver.py
Labels: infrastructure, rz_test

#522 Move Serialization Helpers to Global API
  librz/analysis/serialize_analysis.c
  librz/core/project.c
  librz/core/serialize_core.c
  librz/flag/serialize_flag.c
  librz/include/rz_util/rz_serialize.h
  librz/io/serialize_io.c
  librz/util/serialize_helper.h
  librz/util/serialize_spaces.c
Labels: API

#521 Move rz_str_get/get2 into rz_str.h and rename them to rz_str_get_null/get
  librz/analysis/esil.c
  librz/analysis/p/analysis_arm_cs.c
  librz/asm/asm.c
  librz/bin/format/mach0/dyldcache.c
  librz/bin/format/objc/mach0_classes.c
  librz/bp/bp.c
  librz/core/canalysis.c
  librz/core/cbin.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/cmd_eval.c
  librz/core/cmd_open.c
  librz/core/disasm.c
  librz/core/vmenus.c
  librz/debug/p/native/xnu/xnu_debug.h
  librz/include/rz_util/rz_str.h
  librz/main/rz_diff.c
  librz/util/str.c
Labels: API, ESIL, RzAnalysis, command, rz_diff

#523 Refactor to replace `ecr` and `dc` with the API, globally ##refactor
  librz/core/agraph.c
  librz/core/cconfig.c
  librz/core/panels.c
  librz/core/visual.c
Labels: panel, visual

#528 Fix memleak in cmd_analysis_aaft()
  librz/core/cmd_analysis.c
Labels: command

#538 Remove ifdef JAYRO
  librz/analysis/fcn.c
  librz/core/cmd_analysis.c
Labels: command

#545 Rename RJson to RzJson
  librz/analysis/serialize_analysis.c
  librz/debug/dsession.c
  librz/flag/serialize_flag.c
  librz/include/rz_analysis.h
  librz/include/rz_util/rz_json.h
  librz/include/rz_util/rz_serialize.h
  librz/util/json_parser.c
  librz/util/serialize_spaces.c
  test/unit/test_json.c
  test/unit/test_serialize_analysis.c
Labels: API, merge-when-green, rz_test

#531 Refactor to use API in visual mode
  librz/core/canalysis.c
  librz/core/cdebug.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/core_private.h
  librz/core/visual.c
  librz/core/vmenus.c
  librz/include/rz_core.h
Labels: command, merge-when-green, visual

#548 Provide both x86/x64 windows installers
  .github/vsdevenv.ps1
  .github/workflows/ci.yml
Labels: infrastructure

#556 Refactor to use API in visual panels mode
  librz/core/cdebug.c
  librz/core/cmd_debug.c
  librz/core/cmd_eval.c
  librz/core/core_private.h
  librz/core/panels.c
  librz/core/visual.c
Labels: command, panel, refactor, visual

#567 Remove the configuration variable `graph.web`
  librz/core/cconfig.c
  librz/core/cmd_analysis.c
  librz/core/panels.c
Labels: command, panel

#525 Convert `q` command to newshell
  librz/core/cmd_descs.c
  librz/core/cmd_descs.h
  librz/core/cmd_descs.yaml
  librz/core/cmd_quit.c
Labels: command

#568 aaef: Add help msg and x86_32 test
  librz/core/cmd_analysis.c
  test/db/analysis/x86_32
Labels: command

#575 Use gzip when compressing android release archives
  .github/workflows/ci.yml
Labels: infrastructure, merge-when-green

#565 core: =!= accept a argument and check cmdremote when executing commands
  librz/core/cmd.c
  librz/core/cmd_descs.c
  librz/core/cmd_descs.yaml
  librz/core/cmd_remote.c
Labels: command

#577 Refactor to use API in visual and ASCII graph modes
  librz/core/agraph.c
  librz/core/cdebug.c
  librz/core/cmd_seek.c
  librz/core/core_private.h
  librz/core/panels.c
  librz/core/visual.c
Labels: command, panel, visual

#516 Add ignore paths for codeql analysis
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql-config.yml
Labels: infrastructure

#586 Add paths ignore (clang, codeql) with jq
  .github/workflows/clang-analysis.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql-config.yml
Labels: infrastructure

#585 [java] Remove DsoJson
  librz/core/p/core_java.c
  shlr/java/class.c
  shlr/java/class.h
  shlr/java/dsojson.c
  shlr/java/dsojson.h
  shlr/java/main.c
  shlr/meson.build
  test/db/analysis/java
Labels: RzCore

#588 Refactor to use API in visual and graph modes
  librz/core/agraph.c
  librz/core/canalysis.c
  librz/core/cio.c
  librz/core/cmd_analysis.c
  librz/core/cmd_seek.c
  librz/core/cmd_write.c
  librz/core/core_private.h
  librz/core/panels.c
  librz/core/visual.c
  librz/core/vmenus.c
  librz/include/rz_core.h
  test/db/cmd/cmd_graph
  test/db/cmd/cmd_pd2
  test/db/formats/mangling/bin
Labels: command, panel, visual

#596 Remove root help printing from ? command
  librz/core/cmd_help.c
Labels: command

#597 Refactor to use API in debug commands
  librz/core/cmd_debug.c
  librz/core/cmd_meta.c
  librz/core/cmd_open.c
Labels: RzDebug, command, refactor

#602 Dockerfile: take rizin source code from context
  .github/workflows/ci.yml
  Dockerfile
Labels: infrastructure

#600 ci: Make sure to test src tarball
  .github/workflows/ci.yml
Labels: infrastructure

#604 Refactor to replace `sr` and `aei` calls with the API ##refactor
  librz/core/agraph.c
  librz/core/canalysis.c
  librz/core/cfile.c
  librz/core/cio.c
  librz/core/cmd.c
  librz/core/cmd_analysis.c
  librz/core/cmd_search.c
  librz/core/disasm.c
Labels: command

#621 Fix no git repository on master (CI)
  .github/workflows/ci.yml
  .github/workflows/code-analysis.yml
  .github/workflows/linter.yml
Labels: infrastructure

#624 Move the conditional skip for ci.yml
  .github/workflows/ci.yml
Labels: infrastructure

#625 Remove the command `tail` ##refactor
  librz/core/cmd_type.c
  librz/core/core.c
Labels: command

#628 Apply/Fix filtering appveyor.yml
  .appveyor.yml
Labels: infrastructure

#626 Refactor to use API in visual modes
  librz/core/analysis_objc.c
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/core_private.h
  librz/core/panels.c
  librz/core/vasm.c
  librz/include/rz_core.h
Labels: RzAnalysis, command, merge-when-green, panel, refactor

#633 Refactor to use API in print commands
  librz/core/cmd_meta.c
  librz/core/cmd_print.c
  librz/core/core_private.h
Labels: command, refactor

#636 Refactor to use API in various commands
  librz/core/canalysis.c
  librz/core/cconfig.c
  librz/core/cdebug.c
  librz/core/cio.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/core_private.h
  librz/core/p/core_java.c
  librz/core/panels.c
Labels: RzCore, RzDebug, RzIO, command, panel, refactor

#641 Refactor to use API in file open commands
  librz/core/cfile.c
  librz/core/cmd_open.c
  librz/core/core_private.h
  librz/core/panels.c
Labels: command, panel, refactor

#643 Add test for bb overlapping fcn start
  .appveyor.yml
  .github/workflows/ci.yml
  .github/workflows/tcc.yml
  test/db/analysis/x86_64
Labels: infrastructure

#642 Extract API for `agg` and `afv`.
  librz/analysis/var.c
  librz/core/agraph.c
  librz/core/cagraph.c
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/core_private.h
  librz/core/disasm.c
  test/db/analysis/x86_64
Labels: command

#644 Extract APIs for k, aeso, afs
  librz/core/canalysis.c
  librz/core/cdebug.c
  librz/core/cmd.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/cmd_zign.c
  librz/core/core_private.h
  librz/core/panels.c
  librz/core/vmenus.c
Labels: command, panel

#647 Refactor to use API in analysis
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/core_private.h
Labels: RzAnalysis, RzCore, command, refactor

#651 core: API for `aesp` and `afb` and remove `abb`,`aab`, `abr`, `ab.` ##breaking
  librz/core/blaze.c
  librz/core/canalysis.c
  librz/core/cmd.c
  librz/core/cmd_analysis.c
  librz/core/core.c
  librz/core/core_private.h
  librz/core/meson.build
  librz/core/panels.c
  librz/core/visual.c
  librz/include/rz_core.h
  test/db/analysis/x86_64
  test/db/cmd/cmd_afb
Labels: command, panel, visual

#650 aae: Realign on bb start if not in bb
  librz/core/canalysis.c
  test/db/analysis/x86_32
Labels: merge-when-green

#662 commands: rename sH to sh
  librz/bin/format/xnu/scripts/machtraps.py
  librz/core/cconfig.c
  librz/core/cio.c
  librz/core/cmd_descs.c
  librz/core/cmd_descs.yaml
  librz/core/visual.c
  test/db/cmd/cmd_pd
  test/db/cmd/cmd_seek
  test/db/cmd/feat_variables
  test/db/cmd/manyundo
  test/db/cmd/undoredo
  test/db/json/json4
  test/db/tools/rz
Labels: command, visual

#663 Use PJ in debug signal handling
  DEVELOPERS.md
  librz/core/cmd_debug.c
  librz/debug/dsignal.c
  librz/include/rz_debug.h
Labels: command

#670 Check if Core Plugin implements call before calling
  librz/core/cmd_api.c
Labels: command

#673 Disable clang analysis CI
  .github/workflows/code-analysis.yml
Labels: infrastructure

#665 Fixes for MSYS2 building
  librz/include/rz_types.h
  shlr/tcc/tcc.h
Labels: Windows

#681 Refactor to use API instead of rz_core_cmd
  librz/analysis/analysis.c
  librz/core/analysis_objc.c
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/core_private.h
  librz/core/libs.c
Labels: command, merge-when-green, refactor

#682 Update used TinyCC commit
  .github/workflows/tcc.yml
Labels: infrastructure

#684 RzCore ESIL initialization code deduplication
  librz/core/canalysis.c
  librz/core/cio.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/cmd_search.c
  librz/core/core_private.h
  librz/core/disasm.c
Labels: ESIL, RzCore, command, refactor

#243 Implement rz_subprocess_start_opt API to choose pipes
  binrz/rz-test/run.c
  librz/include/rz_util/rz_subprocess.h
  librz/util/subprocess.c
  test/unit/auxiliary/meson.build
  test/unit/auxiliary/subprocess-interactive.c
  test/unit/test_subprocess.c
Labels: API, GDB, infrastructure, rz-test

#685 Refactor to use API instead of rz_core_cmd
  librz/core/cbin.c
  librz/core/cmd_debug.c
Labels: RzCore, command, refactor

#659 Refactor types: extract API for `ttc` and `tt` ##refactor
  librz/core/cmd.c
  librz/core/cmd_type.c
  librz/include/rz_core.h
  test/db/cmd/cmd_tc
Labels: command

#687 core: split cmd_descs.yaml in smaller YAML files
  librz/core/agraph.c
  librz/core/cdebug.c
  librz/core/cmd.c
  librz/core/cmd_descs.yaml
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_debug.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
  librz/core/cmd_descs/cmd_descs_generate.py
  librz/core/cmd_descs/cmd_eval.yaml
  librz/core/cmd_descs/cmd_interpret.yaml
  librz/core/cmd_descs/cmd_project.yaml
  librz/core/cmd_descs/cmd_quit.yaml
  librz/core/cmd_descs/cmd_remote.yaml
  librz/core/cmd_descs/cmd_seek.yaml
  librz/core/cmd_descs/cmd_tasks.yaml
  librz/core/cmd_descs/cmd_write.yaml
  librz/core/cmd_descs/cmd_zign.yaml
  librz/core/cmd_descs/meson.build
  librz/core/cmd_interpret.c
  librz/core/cmd_tasks.c
  librz/core/meson.build
  librz/core/panels.c
  librz/core/visual.c
Labels: RzCore, command, panel, visual

#689 Use API for "aav" command
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/core_private.h
Labels: RzAnalysis, RzCore, command, merge-when-green, refactor

#719 Use 'fetch-depth: 2' for actions/checkout
  .github/workflows/ci.yml
Labels: infrastructure

#724 core: retrieve parents details when not available
  librz/core/cmd_api.c
  test/unit/test_cmd.c
Labels: command, rz-test

#723 core: RzCmd provides default_value to handler when specified
  librz/core/cmd_api.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.yaml
  librz/core/cmd_descs/cmd_descs_generate.py
  librz/core/cmd_descs/cmd_remote.yaml
  librz/core/cmd_descs/cmd_zign.yaml
  librz/core/p/core_java.c
  librz/include/rz_cmd.h
  test/unit/test_cmd.c
Labels: RzCore, command, merge-when-green, rz-test

#729 rizin: RZ_IS_PORTABLE should be 0 or 1
  librz/main/rizin.c
Labels: rizin

#627 ci: push Docker tag also for tagged release
  .github/workflows/ci.yml
Labels: infrastructure
