Repository rizinorg/rizin, pull requests merged in 2021-05, with the labels that each got.

#1098 bin_any.c: Remove dup ret->dbg_info = 0
  librz/bin/p/bin_any.c
Labels: RzBin

#1104 Fix Coverity issues
  librz/crypto/crypto.c
  librz/hash/msg_digest.c
  librz/include/rz_crypto.h
  librz/main/rz-hash.c
  test/unit/test_hash.c
Labels: rz-test

#1068 New string information API
  librz/core/cbin.c
  librz/core/cmd_print.c
  librz/include/rz_core.h
  test/db/cmd/cmd_ps
  test/db/cmd/cmd_psj
Labels: API, command, merge-when-green

#986 Use RzJson in Visual Panels layout config
  librz/core/panels.c
Labels: json, merge-when-green, panel, refactor, visual

#1105 Demangle tcache and fastbin pointers automatically for glibc >= 2.32
  librz/core/cconfig.c
  librz/core/linux_heap_glibc.c
  test/db/archos/linux-x64/dbg_dmht
Labels: heap

#1111 Expose section type and flag to string API
  librz/bin/bin.c
  librz/core/cbin.c
  librz/include/rz_bin.h
Labels: API, merge-when-green

#1113 Fix manual RzBinFile deletion in bin_raw_strings()
  librz/core/cbin.c
Labels: merge-when-green

#1102 Convert `dts` commands to newshell
  librz/core/cmd_debug.c
  librz/core/cmd_descs/cmd_debug.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  test/db/archos/linux-x64/dbg_dts
Labels: RzCore, command

#1116 libzip.wrap: add fallback url
  subprojects/libzip.wrap
Labels: buildsystem, merge-when-green

#1115 RzJson: support simple JSON paths
  librz/include/rz_util/rz_json.h
  librz/util/json_parser.c
  test/unit/test_json.c
Labels: API, json, merge-when-green, rz-test

#1124 Add Overlay Functionality to Sparse RzBuffer
  librz/include/rz_util/rz_buf.h
  librz/util/buf.c
  librz/util/buf_sparse.c
  test/unit/test_buf.c
Labels: API, rz-test

#1122 Introduce `rz_core_gadget_print()` API to print visual gadgets
  librz/core/cmd_print.c
  librz/core/core.c
  librz/core/panels.c
  librz/core/visual.c
  librz/include/rz_core.h
  test/db/cmd/cmd_visual
Labels: command, panel, visual

#1126 Rewrite rz-diff and internal diffing library
  binrz/rz-test/meson.build
  binrz/rz-test/rz-test.c
  librz/analysis/diff.c
  librz/analysis/meson.build
  librz/analysis/sign.c
  librz/bin/bin.c
  librz/core/canalysis.c
  librz/core/cmd_debug.c
  librz/core/meson.build
  librz/diff/bytes_diff.c
  librz/diff/diff.c
  librz/diff/distance.c
  librz/diff/lines_diff.c
  librz/diff/meson.build
  librz/diff/unified_diff.c
  librz/include/rz_bin.h
  librz/include/rz_diff.h
  librz/include/rz_list.h
  librz/include/rz_util/rz_time.h
  librz/main/meson.build
  librz/main/rizin.c
  librz/main/rz-diff.c
  librz/util/bdiff.c
  librz/util/meson.build
  librz/util/randomart.c
  librz/util/str.c
  librz/util/time.c
  librz/util/udiff.c
  meson.build
  test/db/tools/rz_diff
  test/unit/test_diff.c
Labels: API, RzDiff, command, rizin, rz-diff, rz-test

#1130 Update TinyCC commit fo the CI
  .github/workflows/tcc.yml
Labels: buildsystem, infrastructure

#1110 `iI` Command enhancement Fix #470.
  librz/core/cbin.c
  librz/include/rz_util/rz_table.h
  librz/util/table.c
  test/db/analysis/java
  test/db/analysis/sh
  test/db/cmd/cmd_i
  test/db/cmd/cmd_open
  test/db/formats/dmp/dmp
  test/db/formats/dyldcache
  test/db/formats/elf/elf-nx
  test/db/formats/elf/elf-riscv64
  test/db/formats/elf/elf-xnorelro
  test/db/formats/elf/v850
  test/db/formats/mdmp
  test/db/formats/pe/aslr
  test/db/formats/prg
  test/db/formats/smd
  test/db/tools/rz_bin
  test/unit/test_table.c
Labels: API, rz-test

#1076 Print the Rizin plugin information in JSON
  librz/bin/bin.c
  librz/core/casm.c
  librz/core/cbin.c
  librz/core/cconfig.c
  librz/core/cdebug.c
  librz/core/chash.c
  librz/core/cio.c
  librz/core/clang.c
  librz/core/cmd.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
  librz/core/cmd_descs/cmd_plugins.yaml
  librz/core/cmd_descs/meson.build
  librz/core/cmd_hash.c
  librz/core/cmd_info.c
  librz/core/cmd_open.c
  librz/core/cmd_plugins.c
  librz/core/cmd_print.c
  librz/core/core.c
  librz/core/cparser.c
  librz/core/meson.build
  librz/debug/plugin.c
  librz/include/rz_bin.h
  librz/include/rz_core.h
  librz/include/rz_debug.h
  librz/include/rz_io.h
  librz/include/rz_lang.h
  librz/io/io_plugin.c
  librz/lang/lang.c
  librz/main/rizin.c
  librz/main/rz-asm.c
  librz/main/rz-bin.c
  test/db/cmd/cmd_list
  test/db/tools/rz_bin
  test/unit/legacy_unit/debug/main.c
Labels: RzCore, command, merge-when-green

#1139 Fix `L` tests for Windows platform
  test/db/cmd/cmd_list
Labels: merge-when-green

#1142 Add extern "C" to rz_assert.h
  librz/include/rz_util/rz_assert.h
Labels: API

#1146 Fix #1145 - when no operation is defined, use sha256
  librz/main/rz-hash.c
Labels: merge-when-green, rz-hash

#1131 Add graph diffing and better function diffing
  librz/analysis/diff.c
  librz/analysis/fcn.c
  librz/analysis/var.c
  librz/cons/canvas_line.c
  librz/cons/d/ayu
  librz/cons/d/basic
  librz/cons/d/behelit
  librz/cons/d/bold
  librz/cons/d/bright
  librz/cons/d/cga
  librz/cons/d/consonance
  librz/cons/d/cutter
  librz/cons/d/dark
  librz/cons/d/darkda
  librz/cons/d/defragger
  librz/cons/d/focus
  librz/cons/d/gb
  librz/cons/d/gentoo
  librz/cons/d/lima
  librz/cons/d/matrix
  librz/cons/d/monokai
  librz/cons/d/ogray
  librz/cons/d/onedark
  librz/cons/d/pink
  librz/cons/d/rasta
  librz/cons/d/sepia
  librz/cons/d/smyck
  librz/cons/d/solarized
  librz/cons/d/tango
  librz/cons/d/twilight
  librz/cons/d/white
  librz/cons/d/white2
  librz/cons/d/xvilka
  librz/cons/d/zenburn
  librz/cons/pal.c
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/cmd_cmp.c
  librz/core/cmd_print.c
  librz/core/core.c
  librz/core/gdiff.c
  librz/diff/unified_diff.c
  librz/include/rz_cons.h
  librz/include/rz_core.h
  librz/main/rz-diff.c
  librz/type/base.c
  test/db/cmd/cmd_ec
  test/db/tools/rz_diff
  test/scripts/palette.rz
Labels: RzCons, command, merge-when-green

#1158 rz-test: Remove broken diffchar option
  binrz/rz-test/rz-test.c
Labels: rz-test

#1157 Gitignore all capstones
  .gitignore
Labels: merge-when-green

#1148 Add hexview on rz-diff
  librz/cons/d/ayu
  librz/cons/d/bright
  librz/cons/d/sepia
  librz/cons/d/solarized
  librz/cons/d/white2
  librz/cons/pal.c
  librz/core/agraph.c
  librz/core/meson.build
  librz/core/zdiff.c
  librz/diff/diff.c
  librz/include/rz_cons.h
  librz/include/rz_core.h
  librz/main/rz-diff.c
  test/db/cmd/cmd_ec
  test/db/tools/rz_diff
Labels: RzCons, rz-diff, visual

#1154 Fix minor leak in `rizin -v` execution path
  librz/main/rizin.c
Labels: rizin

#1152 Convert `pg` commands to newshell
  librz/core/cmd_descs/cmd_debug.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
  librz/core/cmd_descs/cmd_print.yaml
  librz/core/cmd_descs/meson.build
  librz/core/cmd_print.c
  test/db/cmd/cmd_pg
Labels: RzCore, command, merge-when-green

#1164 RzMsgDigest - Add pointer ownership
  librz/hash/msg_digest.c
  librz/include/rz_msg_digest.h
  test/unit/test_hash.c
Labels: rz-test

#1163 Refactor to use API instead of rz_core_cmd() in visual panels
  librz/core/panels.c
Labels: panel, refactor, visual

#948 SREC format support
  librz/include/rz_io.h
  librz/io/meson.build
  librz/io/p/io_srec.c
  librz/meson.build
  test/db/io/srec
Labels: RzIO

#1170 Fix negative read on rz_print_hex_from_bin
  librz/util/print.c
Labels: merge-when-green
