Repository rizinorg/rizin, pull requests merged in 2021-08, with the labels that each got.

#1390 Remove .! special case and just consider the general case .<cmd>
  librz/core/cmd.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_interpret.yaml
  librz/core/cmd_interpret.c
  shlr/rizin-shell-parser/corpus/special_commands.txt
  shlr/rizin-shell-parser/grammar.js
  shlr/rizin-shell-parser/src/grammar.json
  shlr/rizin-shell-parser/src/node-types.json
  shlr/rizin-shell-parser/src/parser.c
Labels: RzCore, command

#1394 Use `RZ_CMD_STATUS_ERROR` in `pt` commands
  librz/core/cmd_print.c
Labels: command

#1369 Reorganize map skyline segments
  librz/bin/format/java/class_bin.c
  librz/bin/p/bin_dex.c
  librz/core/cbin.c
  librz/core/cmd_open.c
  test/db/analysis/java
  test/db/cmd/bug_3788
  test/db/cmd/cmd_open
  test/db/cmd/cmd_pf2
  test/db/cmd/project
  test/db/cmd/tables
  test/db/formats/coff
  test/db/formats/dex
  test/db/formats/dyldcache
  test/db/formats/elf/core
  test/db/formats/elf/helloworld-phdr-elf
  test/db/formats/elf/overlapped-segment
  test/db/formats/elf/reloc
  test/db/formats/elf/sections
  test/db/formats/gba
  test/db/formats/gbc
  test/db/formats/java
  test/db/formats/le
  test/db/formats/mach0/arm64e
  test/db/formats/mdmp
  test/db/formats/menuet
  test/db/formats/nes
  test/db/formats/ninds
  test/db/formats/nro
  test/db/formats/nso
  test/db/formats/omf
  test/db/formats/pe/hellocxx
  test/db/formats/pe/secinsec
  test/db/formats/plan9
  test/db/formats/qnx
  test/db/formats/smd
  test/db/formats/vsf/rambo2-rom
  test/db/formats/vsf/rhps-norom
  test/db/formats/vsf/rhps-rom
  test/db/formats/web_assembly
  test/db/io/maps
  test/db/io/om
  test/db/tools/rz
  test/unit/meson.build
  test/unit/test_core_bin.c
  test/unit/test_itv.c
Labels: RzBin, command, rz-test

#1397 Migrate the constrained type from `RzAnalysis` to `RzType`
  librz/analysis/cond.c
  librz/analysis/fcn.c
  librz/analysis/p/analysis_6502.c
  librz/analysis/p/analysis_8051.c
  librz/analysis/p/analysis_arc.c
  librz/analysis/p/analysis_arm_cs.c
  librz/analysis/p/analysis_arm_gnu.c
  librz/analysis/p/analysis_gb.c
  librz/analysis/p/analysis_or1k.c
  librz/analysis/p/analysis_ppc_cs.c
  librz/analysis/p/analysis_rsp.c
  librz/analysis/p/analysis_snes.c
  librz/analysis/p/analysis_sparc_gnu.c
  librz/analysis/p/analysis_x86_cs.c
  librz/analysis/serialize_analysis.c
  librz/analysis/var.c
  librz/asm/arch/ppc/libvle/vle.c
  librz/core/analysis_tp.c
  librz/core/cmd_analysis.c
  librz/include/rz_analysis.h
  librz/include/rz_type.h
  librz/type/helpers.c
  test/unit/test_serialize_analysis.c
Labels: RzAnalysis, command, rz-test

#1400 Allow referring to structs/unions without specifiers
  librz/type/parser/types_parser.c
  test/unit/test_type.c
Labels: rz-test

#1401 Adjust `prc` brightness weight slightly
  librz/core/cmd_print.c
  test/db/cmd/cmd_print
Labels: command

#1386 Add API calls of Windows Heap for Cutter
  librz/core/cheap.c
  librz/core/cmd_debug.c
  librz/core/cmd_windows_heap.c
  librz/core/core_private.h
  librz/core/meson.build
  librz/core/windows_heap.c
  librz/include/rz_core.h
  librz/include/rz_windows_heap.h
  librz/meson.build
Labels: command

#1398 core/serialize_core: exclude restoring of scr.prompt
  librz/core/serialize_core.c
  test/db/cmd/cmd_pipe
Labels: infrastructure

#1404 Make sure cmd_descs.h in the src dir does not cause double-compilation
  librz/core/agraph.c
  librz/core/cdebug.c
  librz/core/cmd.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs_generate.py
  librz/core/cmd_descs/meson.build
  librz/core/cmd_interpret.c
  librz/core/cmd_tasks.c
  librz/core/meson.build
  librz/core/panels.c
  librz/core/visual.c
Labels: command, RzCore, visual, panel

#1405 Convert `av` command to newshell
  librz/analysis/rtti.c
  librz/analysis/rtti_itanium.c
  librz/analysis/rtti_msvc.c
  librz/analysis/vtable.c
  librz/core/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/include/rz_analysis.h
  test/db/cmd/cmd_avr
Labels: command, RzCore

#1402 Resolve minor bug in `rz_type_db_base_type_as_string`
  librz/type/base.c
  test/unit/test_type.c
Labels: rz-test

#1415 Converting ph commands
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
  librz/core/cmd_print.c
  librz/core/core.c
  librz/include/rz_core.h
  test/db/cmd/cmd_ph
  test/db/cmd/md5sha1
Labels: command, RzCore

#1410 Migrate ESIL trace to use vectors instead of SDB
  librz/analysis/esil/esil_trace.c
  librz/analysis/il_trace.c
  librz/analysis/meson.build
  librz/core/analysis_tp.c
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/debug/trace.c
  librz/include/rz_analysis.h
  librz/include/rz_core.h
Labels: command, RzAnalysis

#1419 RzUtil: add unit tests for rz_str_ndup/nlen
  test/unit/test_str.c
Labels: rz-test

#1434 [rz-diff] Added single file seek
  librz/main/rz-diff.c
Labels: rz-diff

#1407 New global variable concept
  librz/analysis/analysis.c
  librz/analysis/meson.build
  librz/analysis/serialize_analysis.c
  librz/analysis/var_global.c
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/core_private.h
  librz/core/project_migrate.c
  librz/include/rz_analysis.h
  librz/include/rz_project.h
  test/db/cmd/cmd_avg
  test/db/cmd/project
  test/unit/meson.build
  test/unit/test_analysis_global_var.c
  test/unit/test_project_migrate.c
  test/unit/test_serialize_analysis.c
Labels: command, rz-test, RzAnalysis, RzCore, vars, variable

#1444 Added SPDX info
  librz/core/cheap.c
  librz/core/cmd_linux_heap_glibc.c
  librz/core/cmd_windows_heap.c
Labels: command

#1448 Added missing SPDX headers
  librz/core/cmd_history.c
  librz/core/cmd_system.c
Labels: command

#1443 Update CODEOWNERS, SPDX, and GitHub labeler
  .github/labeler.yml
  .reuse/dep5
  CODEOWNERS
Labels: infrastructure

#1440 Modification of rz_buf_read* API
  librz/bin/format/coff/coff.c
  librz/bin/format/coff/coff_reloc.c
  librz/bin/format/dex/dex.c
  librz/bin/format/elf/elf_imports.c
  librz/bin/format/elf/elf_misc.c
  librz/bin/format/java/class_attribute.c
  librz/bin/format/java/class_bin.c
  librz/bin/format/java/class_const_pool.c
  librz/bin/format/java/class_field.c
  librz/bin/format/java/class_interface.c
  librz/bin/format/java/class_method.c
  librz/bin/format/le/le.c
  librz/bin/format/luac/v53/parse_53.c
  librz/bin/format/luac/v54/parse_54.c
  librz/bin/format/mach0/dyldcache.c
  librz/bin/format/mach0/mach0.c
  librz/bin/format/mach0/mach064_is_kernelcache.c
  librz/bin/format/mdmp/mdmp.c
  librz/bin/format/mz/mz.c
  librz/bin/format/ne/ne.c
  librz/bin/format/nxo/nxo.c
  librz/bin/format/p9/p9bin.c
  librz/bin/format/pe/pe.c
  librz/bin/format/wasm/wasm.c
  librz/bin/p/bin_avr.c
  librz/bin/p/bin_bios.c
  librz/bin/p/bin_dex.c
  librz/bin/p/bin_elf.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_elf64.c
  librz/bin/p/bin_le.c
  librz/bin/p/bin_mz.c
  librz/bin/p/bin_ne.c
  librz/bin/p/bin_nro.c
  librz/bin/p/bin_nso.c
  librz/bin/p/bin_omf.c
  librz/bin/p/bin_p9.c
  librz/bin/p/bin_pe.c
  librz/bin/p/bin_pe64.c
  librz/bin/p/bin_prg.c
  librz/bin/p/bin_sfc.c
  librz/bin/p/bin_xnu_kernelcache.c
  librz/bin/p/bin_xtr_fatmach0.c
  librz/bin/p/bin_xtr_sep64.c
  librz/core/cmd_debug.c
  librz/core/cmd_egg.c
  librz/core/yank.c
  librz/egg/p/egg_xor.c
  librz/include/rz_util/rz_buf.h
  librz/util/buf.c
  test/integration/test_bin_vfiles.c
Labels: RzBin

#1462 Fix condition logic in esil_get_instruction_trace
  librz/analysis/esil/esil_trace.c
  librz/include/rz_analysis.h
Labels: RzAnalysis, ESIL, merge-when-green

#1464 Fix fuzz dex binary parse_dex_class_methods
  librz/bin/p/bin_dex.c
Labels: RzBin

#1460 Fix Coverity issues on parse/parse_*.c
  librz/parse/p/parse_common.c
  librz/parse/p/parse_m68k_pseudo.c
  librz/parse/p/parse_riscv_pseudo.c
Labels: RzParse, merge-when-green

#1465 Minor ESIL trace fix
  librz/analysis/esil/esil_trace.c
  librz/include/rz_analysis.h
Labels: RzAnalysis, ESIL

#1459 Fix some of the RzType memory leaks
  librz/analysis/fcn.c
  librz/analysis/var.c
  librz/bin/format/le/le.c
  librz/core/carg.c
  librz/core/cmd_analysis.c
  librz/core/cmd_print.c
  librz/core/cmd_system.c
  librz/core/cmd_type.c
  librz/core/ctypes.c
  librz/parse/p/parse_common.c
  librz/type/parser/c_cpp_parser.c
  librz/type/parser/types_parser.c
  librz/type/parser/types_storage.c
  librz/type/serialize_functions.c
  librz/type/type.c
Labels: command, RzParse, RzType

#1467 Fix function type derivation memory leak
  librz/analysis/fcn.c
  librz/analysis/function.c
  librz/analysis/sign.c
  librz/core/analysis_tp.c
Labels: RzAnalysis, RzType

#1468 Fix Coverity Scan rz_buf_read*
  librz/bin/format/le/le.c
  librz/bin/format/luac/v54/parse_54.c
  librz/bin/format/mach0/mach0.c
  librz/bin/format/ne/ne.c
  librz/bin/format/nxo/nxo.c
  librz/bin/format/pe/pe.c
  librz/bin/p/bin_nro.c
  librz/bin/p/bin_nso.c
Labels: RzBin

#1455 Various fixes on Java, icc/ic and dex rewrite
  librz/analysis/meta.c
  librz/asm/p/asm_dalvik.c
  librz/bin/bin.c
  librz/bin/format/dex/dex.c
  librz/bin/format/dex/dex.h
  librz/bin/format/java/class_bin.c
  librz/bin/format/java/class_bin.h
  librz/bin/mangling/java.c
  librz/bin/p/bin_dex.c
  librz/bin/p/bin_java.c
  librz/core/cbin.c
  librz/core/cfile.c
  librz/core/cmd_api.c
  librz/core/cmd_info.c
  librz/include/rz_asm.h
  librz/include/rz_bin.h
  librz/include/rz_core.h
  librz/main/rz-diff.c
  librz/util/log.c
  librz/util/name.c
  librz/util/table.c
  test/db/analysis/dalvik
  test/db/analysis/java
  test/db/cmd/cmd_disassembly
  test/db/cmd/cmd_i
  test/db/cmd/cmd_list
  test/db/cmd/cmd_tc
  test/db/formats/dex
  test/db/formats/dyldcache
  test/db/formats/java
  test/db/formats/mach0/coresymbolication
  test/db/formats/mach0/fatmach0
  test/db/formats/mach0/objc
  test/db/tools/rz_bin
  test/db/tools/rz_diff
Labels: command, RzBin, merge-when-green

#1473 Fix several memleaks
  librz/analysis/esil/esil_trace.c
  librz/analysis/fcn.c
  librz/analysis/il_trace.c
  librz/core/analysis_tp.c
  librz/include/rz_analysis.h
Labels: RzAnalysis, ESIL

#1474 Fix some of the Coverity issues in types and analysis code
  librz/analysis/fcn.c
  librz/analysis/serialize_analysis.c
  librz/analysis/sign.c
  librz/core/analysis_tp.c
  librz/core/cmd_analysis.c
  librz/core/cmd_type.c
  librz/core/ctypes.c
  librz/type/format.c
  librz/type/parser/c_cpp_parser.c
  librz/type/parser/types_parser.c
Labels: command, RzAnalysis, RzType

#1479 Reset certificate search properly (#18664) ##search
  librz/core/cmd_search.c
  test/db/cmd/cmd_search_hit
Labels: command

#1018 Fix segfault in `rz-find` for multiple files
  librz/main/rz-find.c
  test/db/tools/rz_find
Labels: bug

#1483 Test OSX pkg on both Big Sur and Catalina
  .github/workflows/ci.yml
Labels: infrastructure

#1482 Fix emulation for AARCH64 ldr,str,stp,ldp instructions ##esil
  librz/analysis/p/analysis_arm_cs.c
  test/db/esil/arm_64
Labels: RzAnalysis

#1481 Fix use of unsafe `localtime()` and portable `gmtime_r()`
  librz/include/rz_types.h
  librz/include/rz_util/rz_time.h
  librz/magic/mdump.c
  librz/type/format.c
  librz/util/time.c
Labels: API

#1490 Update TinyCC version for CI
  .github/workflows/tcc.yml
Labels: infrastructure

#1501 Fix some of the Coverity reports
  librz/analysis/dwarf_process.c
  librz/analysis/esil/esil_trace.c
  librz/bin/format/dex/dex.c
  librz/bin/format/java/class_attribute.c
  librz/bin/format/le/le.c
  librz/bin/p/bin_nro.c
  librz/bin/p/bin_nso.c
  librz/core/analysis_tp.c
  librz/core/cmd_print.c
  librz/core/disasm.c
  librz/core/linux_heap_glibc.c
  librz/core/yank.c
  librz/type/parser/types_parser.c
Labels: command, RzBin, RzAnalysis, ESIL, RzType

#1510 always set coff name even when you fail.
  librz/bin/format/coff/coff.c
  librz/bin/p/bin_coff.c
Labels: RzBin

#1509 Fix #1276: invoke-virtual is now resolved
  librz/asm/p/asm_dalvik.c
  librz/bin/format/dex/dex.c
  librz/bin/p/bin_dex.c
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  test/db/analysis/dalvik
  test/db/formats/dex
Labels: command, RzBin, merge-when-green

#1250 Enable Travis CI PPC tests
  .travis.yml
  librz/type/format.c
  test/db/cmd/types
Labels: infrastructure, command, PPC

#1518 Fix legend of `Vv` - visual menu mode
  librz/core/vmenus.c
Labels: visual

#1519 Fixes for ARM PE binaries
  librz/bin/format/pe/pe.c
  librz/bin/format/pe/pe_specs.h
  librz/bin/p/bin_pe.inc
  test/db/formats/pe/arm
Labels: RzBin, PE, ARM

#1522 Rename `rzli` to `rzline` to avoid clash with RZIL
  librz/core/core.c
Labels: merge-when-green

#1512 Fix #1506 - Fix unsigned integer overflow in RzIO cache skyline
  librz/include/rz_skyline.h
  librz/io/io_cache.c
  librz/util/skyline.c
  test/unit/test_io.c
  test/unit/test_ovf.c
  test/unit/test_skyline.c
Labels: rz-test, merge-when-green, high-priority

#1395 Use `str{l,n}cpy()` in `rz_str_ncpy()` instead of a loop
  librz/include/rz_userconf.h.in
  librz/util/str.c
  meson.build
  test/unit/test_str.c
Labels: rz-test, merge-when-green

#1525 Report an error when global variable does not exist
  librz/analysis/var_global.c
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/core_private.h
  test/db/cmd/cmd_avg
Labels: command

#1538 Convert `rz_core_cmd*()` calls to API in vmenus
  librz/core/cmd_analysis.c
  librz/core/vmenus.c
  librz/include/rz_util/rz_num.h
  librz/util/unum.c
Labels: command, API, visual, refactor

#1545 Fix #1416: Fix `dte`
  librz/analysis/esil/esil_trace.c
  librz/include/rz_analysis.h
  test/db/cmd/cmd_aes
Labels: RzAnalysis, ESIL, merge-when-green

#1539 Rename RNum to the RzNum
  doc/esil.md
  librz/core/cmd_analysis.c
  librz/core/cmd_help.c
  librz/core/core.c
  librz/debug/debug.c
  librz/debug/dreg.c
  librz/flag/flag.c
  librz/include/rz_asm.h
  librz/include/rz_cmd.h
  librz/include/rz_config.h
  librz/include/rz_cons.h
  librz/include/rz_core.h
  librz/include/rz_debug.h
  librz/include/rz_flag.h
  librz/include/rz_type.h
  librz/include/rz_util/rz_big.h
  librz/include/rz_util/rz_num.h
  librz/include/rz_util/rz_print.h
  librz/main/rz-ax.c
  librz/type/format.c
  librz/util/big-gmp.c
  librz/util/big-ssl.c
  librz/util/big.c
  librz/util/calc.c
  librz/util/unum.c
  test/unit/legacy_unit/util/big.c
  test/unit/test_big.c
  test/unit/test_unum.c
Labels: command, rz-test, API, merge-when-green

#1542 RzCmd: add some helper APIs for RzCmdStateOutput
  librz/core/cconfig.c
  librz/core/cmd_analysis.c
  librz/core/cmd_api.c
  librz/core/cmd_debug.c
  librz/core/cmd_hash.c
  librz/core/cmd_info.c
  librz/core/cmd_linux_heap_glibc.c
  librz/core/cmd_open.c
  librz/include/rz_cmd.h
  librz/main/rizin.c
  librz/main/rz-asm.c
  librz/main/rz-bin.c
  test/unit/legacy_unit/debug/main.c
  test/unit/test_cmd.c
Labels: command, rizin, rz-test

#1547 Fix compilation with Capstone v3
  librz/analysis/p/analysis_arm_cs.c
Labels: RzAnalysis, merge-when-green

#1546 Remove deprecated and unused `of` command
  librz/core/cmd_open.c
Labels: command, merge-when-green

#1550 Use FREE_UTF8_ARGV, not UTF8_ARGV_FREE
  binrz/blob/main.c
Labels: merge-when-green

#1446 Add `rz_deflate*` functions and save projects in compressed format
  librz/core/cconfig.c
  librz/core/cmd_project.c
  librz/core/project.c
  librz/core/serialize_core.c
  librz/include/rz_project.h
  librz/include/rz_util/rz_buf.h
  librz/include/rz_util/rz_file.h
  librz/main/rizin.c
  librz/util/file.c
  librz/util/zip.c
  test/integration/test_cpu_platform_profiles.c
  test/integration/test_open_analyse_save_load_project.c
  test/unit/meson.build
  test/unit/test_inflate_deflate.c
Labels: command, rizin, rz-test, API, merge-when-green

#1554 Fix inflate/deflate tests on Windows
  test/unit/test_inflate_deflate.c
Labels: infrastructure, rz-test, merge-when-green, high-priority

#1558 Use python3 to use encoding= in open() function
  .appveyor.yml
Labels: infrastructure

#1552 Use `rz_read_{le,be}XX` API in TI TMS320 code
  librz/analysis/p/analysis_snes.c
  librz/asm/arch/snes/snesdis.c
  librz/asm/arch/tms320/c55x_plus/c55plus.c
  librz/asm/arch/tms320/c55x_plus/c55plus.h
  librz/asm/arch/tms320/tms320_dasm.c
  librz/asm/arch/tms320/tms320_p.h
  librz/bin/format/omf/omf.c
  librz/include/rz_endian.h
Labels: RzAnalysis
