Repository rizinorg/rizin, pull requests merged in 2022-12, with the labels that each got.

#3217 For gcc, use `${CC}` when setting `ASAN_LD_PRELOAD`
  .github/workflows/ci.yml
Labels: infrastructure

#3185 Fix rz-pipe.go building on CI
  .github/workflows/ci.yml
Labels: infrastructure

#3219 x86_il.c: Fix namespace clash with android-ndk-25b's x86_64-linux-android/asm/processor-flags.h
  librz/analysis/arch/x86/x86_il.c
Labels: RzAnalysis

#3066 Upgrade `rz-test` CI to `ubuntu-22.04`
  .github/workflows/ci.yml
  .github/workflows/tcc.yml
Labels: infrastructure

#3223 Fix leaks in rz_type and tests
  librz/type/base.c
  librz/type/parser/c_cpp_parser.c
  librz/type/parser/types_parser.c
  librz/type/serialize_types.c
  librz/type/type.c
  test/unit/test_type.c
Labels: rz-test, RzType

#3222 Do not load sigdb from system and home when running rz-test
  binrz/rz-test/run.c
  test/db/abi/compilers/gcc_64
  test/db/abi/compilers/pelles_c
  test/db/analysis/x86_64
  test/db/cmd/cmd_pd2
  test/db/cmd/cmd_signature
  test/db/tools/rz_diff
Labels: rz-test

#3225 Fix wB test due broken pv1
  librz/core/cmd/cmd_print.c
  librz/core/cmd/cmd_write.c
  test/db/cmd/cmd_w
Labels: rz-test, RzCore

#3224 Fix NE reloc endianness bug
  librz/bin/format/ne/ne.c
Labels: RzBin

#3227 Fix Coverity issues for x86 RzIL uplifting
  librz/analysis/arch/x86/x86_il.c
  librz/asm/p/asm_x86_nz.c
Labels: RzAnalysis, X86

#3234 Drop container from gcc-11 ASAN build
  .github/workflows/ci.yml
Labels: infrastructure

#3204 Fix endianness for win pagedump and winkd
  .travis.yml
  librz/bin/format/dmp/dmp64.c
  librz/bin/format/mdmp/mdmp_windefs.h
  librz/bin/p/bin_pe64.c
  librz/debug/p/debug_dmp.c
  librz/debug/p/debug_winkd.c
  librz/debug/p/native/bt/windows-x64.c
  librz/debug/p/native/reg/windows-arm.h
  librz/include/rz_reg.h
  librz/include/rz_util/rz_bitmap.h
  librz/reg/arena.c
  librz/util/bitmap.c
  subprojects/rzwinkd/winkd.c
  test/db/formats/dmp/dmp
Labels: infrastructure, rz-test, RzBin, RzDebug, API, PE, Windows, WinDbg, RzUtil, RzReg

#3236 Fix #3191 - Esil wrong order in X86_INS_POP
  librz/analysis/p/analysis_x86_cs.c
  test/db/analysis/x86_64
  test/db/esil/x86_32
  test/db/formats/elf/helloworld-gcc-elf
Labels: rz-test, RzAnalysis, X86

#3235 Run debug tests on Ubuntu 20.04
  .github/workflows/ci.yml
Labels: infrastructure

#3239 Fix assertions in test_serialize_analysis
  librz/analysis/class.c
Labels: RzAnalysis

#3242 Catch rz_asm_tokenize_asm_string() returning NULL
  librz/asm/asm.c
  librz/core/cmd/cmd_search.c
  librz/core/disasm.c
  librz/core/tui/biteditor.c
  librz/core/tui/esil.c
Labels: RzCore

#2999 Uplifting 8051 architecture to new IL
  librz/analysis/arch/8051/8051_il.c
  librz/analysis/arch/8051/8051_il.h
  librz/analysis/arch/8051/8051_parse.c
  librz/analysis/meson.build
  librz/analysis/p/analysis_8051.c
  librz/reg/profile.c
  test/db/asm/8051
Labels: rz-test, RzAnalysis, RzReg

#3246 Remove RZ_HOMD_OLD_PLUGINS after transition period ended
  librz/core/libs.c
  librz/include/rz_userconf.h.in
  librz/main/rz-asm.c
  librz/main/rz-bin.c
  librz/util/lib.c
Labels: rz-asm, rz-bin, API, RzCore, RzUtil

#3248 bin/formats/elf: consider stripped bins without sections
  librz/bin/format/elf/elf_info.c
  test/db/formats/elf/sections
Labels: rz-test, RzBin, ELF

#3253 gdb_to_rz_profile: Check whether `groups` exist
  librz/reg/profile.c
Labels: RzReg

#3232 Enable trivial-auto-var-init and unsigned-char GCC flags
  .github/workflows/ci.yml
Labels: infrastructure

#3252 Add Mars color theme
  librz/cons/d/mars
  test/db/cmd/cmd_ec
Labels: rz-test, RzCons

#3250 Add Nord color theme
  librz/cons/d/nord
  test/db/cmd/cmd_ec
Labels: rz-test, RzCons

#3255 Dalvik disassembly should not throw error for single opcode
  librz/analysis/p/analysis_dalvik.c
  test/db/analysis/dalvik
Labels: rz-test, RzAnalysis

#3258 [Hexagon] Add Hexagon v70, v70t and v73 instructions.
  librz/asm/arch/hexagon/hexagon_disas.c
  librz/asm/arch/hexagon/hexagon_insn.h
Labels: RzAsm-Disassembler

#3259 Fix: grep(~) will change the original result when ignores case
  librz/cons/grep.c
  librz/include/rz_util/rz_str.h
  librz/util/str.c
  test/db/formats/demangling_bin
  test/unit/test_str.c
Labels: rz-test, API, RzUtil, RzCons

#3241 Add search.case_sensitive for grep case-sensitive/insensitive
  librz/cons/grep.c
  librz/core/cconfig.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.yaml
  librz/include/rz_cons.h
  test/db/cmd/cmd_help
  test/db/cmd/cmd_i
  test/db/cmd/cmd_search
  test/db/formats/dol
  test/db/formats/firmware
  test/db/formats/le
  test/db/formats/mach0/mach0
  test/db/formats/nro
  test/db/formats/nso
  test/db/formats/plan9
Labels: rz-test, API, RzCore, RzCons

#3221 Add `*pty` API
  librz/include/rz_util/rz_subprocess.h
  librz/include/rz_util/rz_sys.h
  librz/util/subprocess.c
  librz/util/sys.c
  test/unit/test_subprocess.c
Labels: rz-test, API, RzUtil

#3261 Fixing some Coverity issues
  librz/core/cmd/cmd_shell.c
  librz/util/compression.c
  test/integration/test_autocmplt.c
Labels: rz-test, RzCore, RzUtil
