Repository rizinorg/rizin, pull requests merged in 2022-05, with the labels that each got.

#2577 Move DEBUGGER checks from C to meson.build
  librz/debug/meson.build
  librz/debug/p/debug_native.c
  librz/debug/p/native/linux/linux_coredump.c
  librz/debug/p/native/linux/linux_debug.c
  librz/debug/p/native/xnu/xnu_debug.c
  librz/debug/p/native/xnu/xnu_threads.c
  test/db/archos/linux-x64/dbg_dL
  test/db/cmd/cmd_list
Labels: rz-test, RzDebug, MacOS

#2522 Python bytecode fixes
  librz/asm/arch/pyc/opcode.c
  librz/bin/format/pyc/pyc_magic.c
  test/db/formats/pyc
Labels: rz-test, RzBin

#2578 Refactor `afs` and `afsj`
  librz/analysis/fcn.c
  test/db/cmd/cmd_af
Labels: rz-test, RzAnalysis

#2323 Convert `as` commands to the rzshell
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/csyscall.c
  librz/core/disasm.c
  librz/core/meson.build
  librz/include/rz_core.h
  test/db/esil/arm_16
  test/db/json/json2
Labels: rz-test, API, RzCore, merge-when-green

#2585 Fix minor compiler warnings on i386
  librz/debug/p/debug_native.c
  librz/debug/p/native/linux/linux_debug.c
Labels: RzDebug, merge-when-green

#2589 Fix #2582 - Fix `rz_buf_fwd_scan` unit test for big endian archs
  test/unit/test_buf.c
Labels: rz-test

#2586 Convert af commands to rzshell
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/core.c
  test/db/analysis/mips
  test/db/analysis/vars
  test/db/analysis/x86_32
  test/db/analysis/x86_64
  test/db/cmd/cmd_af
  test/db/cmd/cmd_afv
  test/db/cmd/cmd_graph
  test/db/cmd/cmd_pd
  test/db/cmd/cmd_pd2
  test/db/cmd/cmd_pd_bugs
  test/db/cmd/display_flag
  test/db/cmd/project
  test/db/json/json1
Labels: rz-test, RzCore

#2574 Convert `ds` commands to the rzshell
  librz/core/cdebug.c
  librz/core/cmd/cmd_debug.c
  librz/core/cmd_descs/cmd_debug.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/core_private.h
  librz/include/rz_core.h
Labels: API, RzCore

#2573 Convert to newshell `do`
  librz/core/cdebug.c
  librz/core/cmd/cmd_debug.c
  librz/core/cmd_descs/cmd_debug.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/include/rz_core.h
  test/db/archos/linux-x64/dbg_oo
Labels: rz-test, API, RzCore, merge-when-green

#2592 Cleanup rz_core_search_preludes
  librz/core/cmd/cmd_search.c
Labels: RzCore

#2591 RzBin: improve handling of addresses in ELF
  librz/bin/bfile.c
  librz/bin/bin.c
  librz/bin/bobj.c
  librz/bin/format/elf/elf_imports.c
  librz/bin/format/elf/elf_map.c
  librz/bin/format/elf/elf_sections.c
  librz/bin/format/elf/elf_symbols.c
  librz/core/cbin.c
  librz/core/cmd/cmd.c
  test/db/abi/platforms/sections
  test/db/analysis/arm
  test/db/cmd/cmd_flags
  test/db/cmd/cmd_foreach
  test/db/cmd/cmd_i
  test/db/cmd/cmd_pd
  test/db/cmd/cmd_pd2
  test/db/cmd/cmd_pd_bugs
  test/db/cmd/cmd_pipe
  test/db/cmd/cmd_px
  test/db/cmd/metadata
  test/db/cmd/project
  test/db/cmd/simple-elf
  test/db/cmd/tables
  test/db/formats/ar
  test/db/formats/elf/elf-relarm
  test/db/formats/elf/elf-relro
  test/db/formats/elf/helloworld-gcc-elf
  test/db/formats/elf/overlapped-segment
  test/db/formats/elf/sections
  test/db/formats/elf/simple
  test/db/formats/elf/symbols
  test/db/io/srec
  test/db/tools/rz_bin
  test/db/tools/rz_sign
  test/integration/test_autocmplt.c
Labels: rz-test, RzBin, RzCore, merge-when-green, ELF

#2580 sdb usage cleanup within rz_bin
  librz/bin/bfile.c
  librz/bin/bobj.c
  librz/bin/format/ne/ne.c
  librz/bin/i/private.h
  librz/core/cbin.c
  librz/core/cmd/cmd.c
  librz/core/core.c
  librz/include/rz_bin.h
  librz/include/rz_types.h
  librz/type/format.c
  test/db/cmd/cmd_i
  test/db/formats/elf/elf-relro
  test/db/formats/elf/elf-xnorelro
  test/db/formats/mach0/mach0
Labels: rz-test, RzBin, API, RzCore, RzType

#2597 test: allow to run unit tests without installation
  librz/analysis/d/meson.build
  test/integration/meson.build
  test/integration/test_analysis_global_var.c
  test/unit/meson.build
  test/unit/test_config.h.in
  test/unit/test_serialize_analysis.c
  test/unit/test_type.c
Labels: rz-test, RzAnalysis

#2594 Ported aa* commands under newshell
  librz/core/analysis_objc.c
  librz/core/canalysis.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/tui/panels.c
  librz/include/rz_core.h
  test/db/analysis/golang
  test/db/formats/mach0/objc
  test/db/json/json1
Labels: rz-test, API, RzCore

#2598 meson: use major/minor only in the lib soversion
  librz/analysis/meson.build
  librz/asm/meson.build
  librz/bin/meson.build
  librz/bp/meson.build
  librz/config/meson.build
  librz/cons/meson.build
  librz/core/meson.build
  librz/crypto/meson.build
  librz/debug/meson.build
  librz/demangler/meson.build
  librz/diff/meson.build
  librz/egg/meson.build
  librz/flag/meson.build
  librz/hash/meson.build
  librz/il/meson.build
  librz/io/meson.build
  librz/lang/meson.build
  librz/magic/meson.build
  librz/main/meson.build
  librz/parse/meson.build
  librz/reg/meson.build
  librz/search/meson.build
  librz/signature/meson.build
  librz/socket/meson.build
  librz/syscall/meson.build
  librz/type/meson.build
  librz/util/meson.build
  meson.build
Labels: RzIO, RzLang, RzBin, RzAnalysis, RzDebug, RzCore, RzCrypto, RzParse, RzFlag, RzSyscall, RzType, FLIRT, RzEgg, RzUtil, RzHash, RzDiff, RzCons, RzReg, RZIL, RzBreakpoint, RzConfig, RzMagic, RzSearch, RzSocket

#2600 Fix #2596 - Fix `winkd` connection to windows kernel through a pipe
  subprojects/rzwinkd/winkd.c
Labels: WinDbg

#2601 Optimize `rz_name_validate_char()`
  librz/util/name.c
Labels: RzUtil

#2603 [dalvik] handle move-exception after gotos/returns and mid op jumps
  librz/analysis/fcn.c
  librz/analysis/p/analysis_dalvik.c
  librz/core/cmd/cmd_analysis.c
  librz/include/rz_type.h
  librz/type/helpers.c
  test/db/analysis/dalvik
Labels: rz-test, RzAnalysis, API, RzCore, RzType

#2610 PowerPC relocs
  librz/bin/format/elf/glibc_elf.h
  librz/bin/p/bin_elf.inc
Labels: RzBin, ELF

#2607 Expose `rz_core_debug_backtraces`, `rz_core_analysis_hint_set_offset` and convert `dL` to rzshell
  librz/core/canalysis.c
  librz/core/cdebug.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_debug.c
  librz/core/cmd_descs/cmd_debug.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/include/rz_core.h
  librz/include/rz_debug.h
  test/db/archos/linux-x64/dbg_dl
  test/db/formats/dmp/dmp
  test/db/json/json2
Labels: rz-test, API, RzCore

#2612 Fix: Hexagon relocations
  librz/bin/format/elf/glibc_elf.h
  librz/bin/p/bin_elf.inc
  test/db/analysis/hexagon
Labels: rz-test, RzBin, ELF

#2604 `rz_buf_{read,write}_XX_offset()` API to track the offset
  librz/bin/format/elf/elf_misc.c
  librz/bin/format/pe/pe.c
  librz/bin/format/pe/pe_misc.c
  librz/bin/format/pe/pe_specs.h
  librz/bin/meson.build
  librz/include/rz_util/rz_buf.h
Labels: RzBin, API, ELF, PE, refactor

#2556 Update libdemangle for MSVC fixes
  subprojects/libdemangle.wrap
  test/db/formats/dmp/dmp
  test/db/formats/pdb
Labels: rz-test, merge-when-green

#2618 Rename `RLogLevel` to `RzLogLevel`
  librz/include/rz_cons.h
  librz/include/rz_util/rz_assert.h
  librz/include/rz_util/rz_log.h
  librz/util/assert.c
  librz/util/log.c
Labels: API, merge-when-green, RzUtil

#2615 Various Coverity fixes
  librz/analysis/diff.c
  librz/analysis/dwarf_process.c
  librz/bin/bin.c
  librz/bin/bobj.c
  librz/bin/dwarf.c
  librz/bin/format/mach0/dyldcache.c
  librz/bin/golang.c
  librz/bin/p/bin_qnx.c
  librz/core/carg.c
  librz/core/cmd/cmd.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_debug.c
  librz/core/cmd/cmd_flag.c
  librz/core/cmd/cmd_open.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd/cmd_search.c
  librz/core/cmd/cmd_write.c
  librz/core/tui/panels.c
  librz/crypto/p/crypto_base91.c
  librz/flag/tags.c
  librz/include/rz_analysis.h
  librz/include/rz_core.h
  librz/include/rz_flag.h
  librz/reg/rvalue.c
  librz/signature/pat.c
  librz/type/parser/types_parser.c
Labels: RzBin, RzAnalysis, API, RzCore, RzCrypto, RzFlag, RzType, Mach-O, DWARF, FLIRT, RzReg

#2606 RzCore: add scr.prompt.flag.only config var
  librz/core/cconfig.c
  librz/core/core.c
  librz/lang/lang.c
  test/db/tools/rz
Labels: rz-test, RzLang, RzCore

#2622 expose `rz_analysis_continue_until_syscall` `rz_analysis_continue_unt…
  librz/core/canalysis.c
  librz/core/cmd/cmd_analysis.c
  librz/include/rz_core.h
Labels: API, RzCore

#2624 Improve sigdb signature matching
  librz/core/canalysis.c
Labels: RzCore

#2628 Fix the `rizin -hh` output for user plugins path
  librz/main/rizin.c
Labels: rizin

#2631 Change arm64 REGBITS assert to regular check
  librz/analysis/arch/arm/arm_il64.c
Labels: RzAnalysis

#2630 Expose some apis
  librz/core/cdebug.c
  librz/core/cfile.c
  librz/core/cil.c
  librz/core/core_private.h
  librz/include/rz_core.h
Labels: API, ESIL, RzCore, RZIL

#2633 RzCore: move wd function to rz_core_write_duplicate_at API
  librz/core/cio.c
  librz/core/cmd/cmd_write.c
  librz/include/rz_core.h
  test/db/cmd/write
Labels: rz-test, API, RzCore, merge-when-green

#2634 build: Release also windows shared builds
  .github/workflows/ci.yml
Labels: infrastructure

#2635 Update SDB to e1a015aa1f07169bb70a2260a1262230ffaa3f6a
  subprojects/sdb.wrap
Labels: merge-when-green

#2637 Fix -Wunused-but-set-variable warnings
  librz/cons/grep.c
  librz/core/linux_heap_jemalloc.c
  librz/diff/unified_diff.c
  librz/util/range.c
  librz/util/zip.c
Labels: RzCore, RzUtil, RzDiff, RzCons

#2639 build: add rz-ghidra to rizin container
  Dockerfile
Labels: merge-when-green

#2645 Refactor rz_core_analysis_get_stats() and fix edge cases
  librz/core/canalysis.c
  librz/core/cmd/cmd_print.c
  librz/flag/flag.c
  librz/include/rz_core.h
  librz/include/rz_flag.h
  librz/include/rz_util/rz_num.h
  test/db/cmd/cmd_p-
  test/db/cmd/cmd_print
  test/db/formats/elf/helloworld-gcc-elf
  test/unit/meson.build
  test/unit/test_core_analysis_stats.c
Labels: rz-test, API, RzCore, RzFlag

#2646 RzUtil: fix rz_path_prefix in case of portable build
  librz/include/meson.build
  librz/include/rz_constructor.h
  librz/include/rz_th.h
  librz/include/rz_types.h
  librz/include/rz_userconf.h.in
  librz/include/rz_util/rz_num.h
  librz/io/meson.build
  librz/util/meson.build
  librz/util/path.c
  librz/util/sys.c
  meson.build
  test/unit/test_serialize_analysis.c
  test/unit/test_serialize_types.c
Labels: rz-test, RzIO, API, RzUtil
