Repository rizinorg/rizin, pull requests merged in 2022-07, with the labels that each got.

#2763 core_search_for_xrefs_in_boundaries omits the negative return value
  librz/core/canalysis.c
Labels: RzCore

#2755 Fix some checks of rz_analysis_op
  librz/core/canalysis.c
  librz/core/cio.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_debug.c
  librz/core/cmd/cmd_search.c
  librz/core/disasm.c
  librz/core/hack.c
  librz/core/seek.c
  librz/core/tui/visual.c
  librz/core/tui/vmenus.c
  librz/debug/debug.c
  librz/debug/desil.c
  librz/debug/trace.c
Labels: RzDebug, ESIL, RzCore

#2765 Remove `1` from some header guards
  librz/asm/arch/include/ansidecl.h
  librz/bin/format/elf/glibc_elf.h
  librz/include/rz_getopt.h
  librz/include/rz_util/rz_pj.h
  librz/include/rz_version.h.in
Labels: RzBin, API, merge-when-green, ELF

#2761 Remove usage of rz_bin_is_big_endian
  librz/asm/p/asm_ppc_cs.c
  librz/bin/bin.c
  librz/core/cconfig.c
  librz/core/cmd/cmd_meta.c
  librz/core/cmeta.c
  librz/include/rz_bin.h
  test/db/analysis/ppc
Labels: rz-test, RzBin, API, RzCore, PPC

#2770 rz-test: Avoid PATH search when launching binaries
  binrz/rz-test/rz-test.c
Labels: rz-test

#2769 Windows: Completely save & restore console state
  librz/cons/cons.c
  librz/include/rz_cons.h
Labels: API, merge-when-green, RzCons

#2776 Convert command aL(j) to new shell
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
Labels: RzCore, merge-when-green

#2778 Convert command ai to new shell
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
Labels: RzCore

#2781 Fix OOB read in golang.c
  librz/bin/golang.c
Labels: RzBin, merge-when-green

#2787 Remove rz_th_kill and replace with safe halt.
  librz/core/basefind.c
Labels: RzCore

#2789 Fix capstone include directory
  librz/analysis/arch/arm/arm_il64.c
Labels: RzAnalysis, merge-when-green

#2785 Add hints for command fe/f
  librz/core/cmd/cmd_flag.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_flag.yaml
  test/db/archos/linux-x64/dbg_oo
Labels: rz-test, RzCore, merge-when-green

#2773 Windows: Fix for subprocess API handle inheriting
  librz/include/rz_windows.h
  librz/util/subprocess.c
Labels: API, merge-when-green, RzUtil

#2791 Add psc command to generate a C/C++ string
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
  librz/core/cprint.c
  librz/core/meson.build
  librz/include/rz_core.h
  test/db/cmd/cmd_ps
Labels: rz-test, API, RzCore, merge-when-green

#2790 Remove rz_th_kill, rz_th_kill_free and rz_th_pool_kill
  librz/bin/bfile_string.c
  librz/core/basefind.c
  librz/core/rtr.c
  librz/core/rtr_http.c
  librz/include/rz_th.h
  librz/util/meson.build
  librz/util/thread.c
  librz/util/thread_pool.c
  librz/util/thread_types.c
Labels: RzBin, API, RzCore, RzUtil

#2746 Refactor `rz_core_print_disasm_json`
  librz/core/canalysis.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
  librz/core/core.c
  librz/core/core_private.h
  librz/core/disasm.c
  librz/include/rz_analysis.h
  librz/include/rz_core.h
  test/db/analysis/ppc
  test/db/cmd/archs
  test/db/cmd/cmd_0
  test/db/cmd/cmd_ahi
  test/db/cmd/cmd_disassembly
  test/db/cmd/cmd_meta
  test/db/cmd/cmd_pd2
  test/db/cmd/cmd_pde
  test/db/cmd/cmd_print
  test/db/cmd/cmds
  test/db/cmd/midbb
  test/db/cmd/midflags
  test/db/cmd/print_bug
  test/db/cmd/project
  test/db/cmd/seekbug
  test/db/formats/elf/code
  test/db/formats/elf/helloworld-gcc-elf
  test/db/formats/elf/reloc
  test/db/formats/elf/simple
  test/db/formats/elf/tiny
  test/db/formats/omf
  test/db/formats/pe/hellocxx
  test/db/formats/pe/mz
  test/db/json/json4
  test/db/rzil/avr
  test/db/tools/rz
  test/unit/test_analysis_op.c
Labels: rz-test, API, RzCore, merge-when-green

#2796 Fix and test rz_json_as_string() for primitives
  librz/util/json_parser.c
  test/unit/test_json.c
Labels: rz-test, RzUtil

#2800 Expose `rz_core_analysis_name`
  librz/core/canalysis.c
  librz/core/cmd/cmd_analysis.c
  librz/include/rz_core.h
Labels: API, RzCore

#2804 bin: build and install dll .sdb files that are already in the repo
  librz/bin/d/meson.build
Labels: RzBin

#2811 util: provide rz_time_gettimeofday API
  librz/include/rz_util.h
  librz/include/rz_util/rz_time.h
  librz/util/time.c
  test/unit/test_analysis_block.c
  test/unit/test_intervaltree.c
Labels: rz-test, API, RzUtil

#2812 Use add_global_arguments instead of passing cflags/ldflags all around
  .github/workflows/ci.yml
  binrz/rizin/meson.build
  binrz/rz-agent/meson.build
  binrz/rz-asm/meson.build
  binrz/rz-ax/meson.build
  binrz/rz-bin/meson.build
  binrz/rz-diff/meson.build
  binrz/rz-find/meson.build
  binrz/rz-gg/meson.build
  binrz/rz-hash/meson.build
  binrz/rz-run/meson.build
  binrz/rz-sign/meson.build
  binrz/rz-test/meson.build
  librz/analysis/meson.build
  librz/asm/meson.build
  librz/bin/meson.build
  librz/bp/meson.build
  librz/config/meson.build
  librz/cons/meson.build
  librz/core/meson.build
  librz/crypto/meson.build
  librz/debug/meson.build
  librz/demangler/meson.build
  librz/diff/meson.build
  librz/egg/meson.build
  librz/flag/meson.build
  librz/hash/meson.build
  librz/il/meson.build
  librz/io/meson.build
  librz/lang/meson.build
  librz/magic/meson.build
  librz/main/meson.build
  librz/parse/meson.build
  librz/reg/meson.build
  librz/search/meson.build
  librz/sign/meson.build
  librz/socket/meson.build
  librz/syscall/meson.build
  librz/type/meson.build
  librz/util/meson.build
  meson.build
  test/integration/meson.build
  test/unit/auxiliary/meson.build
  test/unit/meson.build
  test/unit/test_str.c
Labels: infrastructure, rizin, rz-asm, rz-bin, rz-test, RzIO, RzLang, RzBin, RzAnalysis, RzDebug, rz-find, rz-ax, rz-diff, RzCore, RzCrypto, RzParse, RzFlag, RzSyscall, RzType, RzEgg, RzUtil, rz-hash, rz-run, rz-gg, RzHash, RzDiff, RzCons, RzReg, RZIL, rz-sign, RzBreakpoint, RzConfig, RzMagic, RzSearch, RzSocket

#2814 util: make zlib dependency optional
  librz/include/rz_userconf.h.in
  librz/util/compression.c
  librz/util/meson.build
  meson.build
  meson_options.txt
Labels: API, RzUtil

#2809 Add UTF-8 friendly `strchr`
  librz/include/rz_util/rz_mem.h
  librz/include/rz_util/rz_str.h
  librz/util/mem.c
  librz/util/str.c
  test/unit/test_str.c
Labels: rz-test, API, RzUtil

#2815 Fix rz_str_split_list_regex
  librz/util/str.c
  test/unit/test_str.c
Labels: rz-test, merge-when-green, RzUtil

#2816 Enable undo for jumping by mouse click in panel mode
  librz/core/tui/panels.c
Labels: RzCore

#2817 Fix double free of enum member name
  librz/core/cmd/cmd_type.c
  librz/include/rz_type.h
  librz/type/format.c
  librz/type/type.c
Labels: API, RzCore, merge-when-green, RzType

#2805 TMS320 and TMS320c64x register profile
  librz/analysis/p/analysis_tms320.c
  librz/analysis/p/analysis_tms320c64x.c
  test/db/analysis/tms320
  test/db/analysis/tms320.c64x_32
Labels: rz-test, RzAnalysis, merge-when-green

#2818 Fixes for tests
  test/db/cmd/cmd_open
  test/db/cmd/write
  test/db/formats/pdb
  test/db/io/resize
  test/db/io/write
  test/db/tools/rz
Labels: rz-test

#2819 Port command p6 to new shell
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
  test/db/cmd/cmd_p6
Labels: rz-test, RzCore

#2824 Port command pa to new shell
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
  librz/core/cprint.c
  librz/include/rz_core.h
  test/db/cmd/cmd_pae
  test/db/cmd/cmds
Labels: rz-test, API, RzCore

#2786 Prepare headers for rz-bindgen
  librz/analysis/analysis.c
  librz/analysis/block.c
  librz/analysis/cc.c
  librz/analysis/class.c
  librz/analysis/fcn.c
  librz/analysis/reflines.c
  librz/analysis/rtti_msvc.c
  librz/analysis/vtable.c
  librz/bin/bfile.c
  librz/bin/bobj.c
  librz/bin/i/private.h
  librz/cons/hud.c
  librz/include/rz_analysis.h
  librz/include/rz_bin.h
  librz/include/rz_cmp.h
  librz/include/rz_cons.h
  librz/include/rz_core.h
  librz/include/rz_main.h
  librz/include/rz_types.h
  librz/include/rz_util/rz_buf.h
Labels: RzBin, RzAnalysis, API, merge-when-green, RzCons

#2825 ARM pseudo subvar: don't substitude [pc, reg]
  librz/parse/p/parse_arm_pseudo.c
  test/db/analysis/thumb
Labels: rz-test, RzParse

#2826 ARM esil32: ldr reg, [pc, reg] correct
  librz/analysis/arch/arm/arm_esil32.c
  test/db/esil/apple
  test/db/esil/arm_32
Labels: rz-test, RzAnalysis

#2838 Update embedded fd command
  librz/core/cmd/cmd_analysis.c
Labels: RzCore, merge-when-green

#2839 Fixes for the regex engine
  librz/util/regex/engine.c
  librz/util/regex/regex2.h
  librz/util/regex/regexec.c
  test/unit/meson.build
  test/unit/test_regex.c
Labels: rz-test, merge-when-green, RzUtil

#2837 Fix the failure of switching panel command
  librz/core/tui/panels.c
Labels: RzCore, merge-when-green

#2840 Show available memory in Linux `ci.yml` jobs
  .github/workflows/ci.yml
Labels: infrastructure

#2843 Fix endian issues and libs in xbe and extend tests
  librz/bin/format/xbe/xbe.h
  librz/bin/p/bin_xbe.c
  test/db/formats/xbe
Labels: rz-test, RzBin

#2417 Tokenize and colorize asm strings
  librz/asm/arch/hexagon/hexagon.h
  librz/asm/arch/hexagon/hexagon_arch.c
  librz/asm/arch/hexagon/hexagon_arch.h
  librz/asm/arch/hexagon/hexagon_disas.c
  librz/asm/asm.c
  librz/asm/p/asm_hexagon.c
  librz/cons/d/sepia
  librz/cons/pal.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd/cmd_search.c
  librz/core/disasm.c
  librz/core/tui/vmenus.c
  librz/include/rz_asm.h
  librz/include/rz_cons.h
  librz/include/rz_util/rz_num.h
  librz/include/rz_util/rz_print.h
  librz/parse/filter.c
  librz/util/print.c
  librz/util/unum.c
  test/db/analysis/hexagon
  test/db/analysis/x86_64
  test/db/cmd/cmd_ahi
  test/db/cmd/cmd_ec
  test/db/cmd/cmd_pd
  test/db/cmd/cmd_pd2
  test/db/cmd/cmd_pi
  test/db/cmd/midbb
  test/unit/meson.build
  test/unit/test_analysis_op.c
  test/unit/test_tokens.c
Labels: rz-test, API, RzCore, RzParse, merge-when-green, refactor, RzUtil, RzCons, RzAsm-Disassembler

#2841 print.c refactor
  librz/core/cmd/cmd_print.c
  librz/core/cmd/cmd_regs.c
  librz/core/cmd/cmd_search.c
  librz/core/core_private.h
  librz/core/cprint.c
  librz/core/disasm.c
  librz/core/linux_heap_glibc.c
  librz/core/yank.c
  librz/include/rz_util/rz_print.h
  librz/io/p/io_gprobe.c
  librz/io/p/io_rzk_linux.c
  librz/main/rz-find.c
  librz/util/print.c
Labels: RzIO, rz-find, API, RzCore, merge-when-green, RzUtil

#2848 Remove lcmds field on RzCmd
  librz/core/cmd/cmd_api.c
  librz/include/rz_cmd.h
Labels: API, RzCore

#2847 Refactor and replace .dm* calls with pure C
  librz/core/cdebug.c
  librz/core/cfile.c
  librz/core/cmd/cmd_debug.c
  librz/debug/dmap.c
  librz/include/rz_core.h
  librz/include/rz_debug.h
  librz/main/rizin.c
  test/db/archos/darwin-arm64/dbg
  test/db/archos/darwin-x64/dbg
  test/db/archos/linux-x64/dbg_maps
  test/db/archos/linux-x64/dbg_oo
Labels: rizin, rz-test, RzDebug, API, RzCore

#2850 Move warning from rz_reg_type_by_name to profile parsing
  librz/core/cmd/cmd_regs.c
  librz/reg/profile.c
  librz/reg/reg.c
  test/db/cmd/cmd_ar
Labels: rz-test, RzCore, RzReg

#2828 Port command pb/B to new shell
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
  test/db/cmd/cmd_0
Labels: rz-test, RzCore, waiting-for-author

#2849 print reflector
  librz/core/cmd/cmd_cmp.c
  librz/core/cmd/cmd_print.c
  librz/core/core_private.h
  librz/core/cprint.c
  librz/include/rz_util/rz_print.h
  librz/util/print.c
Labels: API, RzCore, RzUtil

#2855 Asm tokens fixes
  librz/asm/asm.c
  librz/core/disasm.c
  librz/core/tui/vmenus.c
  librz/util/print.c
  test/unit/test_tokens.c
Labels: rz-test, RzCore, RzUtil

#2852 Additional header annotation changes for rz-bindgen
  librz/bin/bin.c
  librz/flag/tags.c
  librz/include/rz_analysis.h
  librz/include/rz_bin.h
  librz/include/rz_flag.h
  librz/include/rz_util/rz_num.h
Labels: RzBin, API, RzFlag

#2858 Skip including lzma.h if not available
  librz/util/compression.c
Labels: RzUtil
