Repository rizinorg/rizin, pull requests merged in 2022-10, with the labels that each got.

#3058 Always detach when quitting from -q or -Q
  librz/main/rizin.c
  test/db/archos/darwin-arm64/dbg
  test/db/archos/darwin-x64/dbg
  test/db/archos/linux-x64/dbg_de
  test/db/archos/linux-x64/dbg_dts
  test/db/archos/linux-x64/dbg_step
  test/db/archos/linux-x64/dbg_step_back
Labels: rizin, rz-test

#3057 Upgrade CI to `macos-12`
  .github/workflows/ci.yml
Labels: infrastructure

#3060 Replace rz_buf_seek(..., 0, RZ_BUF_CUR) with rz_buf_tell
  librz/bin/format/mdmp/mdmp.c
  librz/bin/format/pe/dotnet.c
  librz/bin/format/pe/pe_debug.c
  librz/bin/format/pe/pe_exports.c
  librz/bin/format/pe/pe_imports.c
  librz/bin/format/pe/pe_rsrc.c
  librz/bin/format/pe/pe_tls.c
Labels: RzBin, PE

#3062 Upgrade non-`rz-test` CI to `ubuntu-22.04`
  .github/workflows/code-analysis.yml
  .github/workflows/coverity-scan.yml
  .github/workflows/labeler.yml
  .github/workflows/linter.yml
  .github/workflows/muon.yml
  .github/workflows/newshell-treesitter-tests.yml
Labels: infrastructure

#3065 Fix doxygen typo
  librz/analysis/var.c
Labels: RzAnalysis

#3063 ci: build portable Windows
  .github/workflows/ci.yml
Labels: infrastructure

#3068 Kill debugged process on exit if non-interactive and `dbg.exitkills` is true
  librz/main/rizin.c
  test/db/archos/linux-x64/dbg_bps
  test/db/archos/linux-x64/dbg_dmh
  test/db/archos/linux-x64/dbg_dmhd
  test/db/archos/linux-x64/dbg_oo
  test/db/archos/linux-x64/dbg_step
Labels: rizin, rz-test

#3074 Refactoring RzList to remove unused methods and bad naming
  librz/include/rz_list.h
  librz/util/list.c
Labels: API, RzUtil

#3070 Remove `dk 9` from debug tests
  test/db/archos/darwin-arm64/dbg
  test/db/archos/darwin-x64/dbg
  test/db/archos/linux-x64/dbg
  test/db/archos/linux-x64/dbg_bps
  test/db/archos/linux-x64/dbg_bps2
  test/db/archos/linux-x64/dbg_cmdbps
  test/db/archos/linux-x64/dbg_cont
  test/db/archos/linux-x64/dbg_cont_back
  test/db/archos/linux-x64/dbg_de
  test/db/archos/linux-x64/dbg_dmi
  test/db/archos/linux-x64/dbg_dr
  test/db/archos/linux-x64/dbg_dts
  test/db/archos/linux-x64/dbg_fds
  test/db/archos/linux-x64/dbg_io
  test/db/archos/linux-x64/dbg_maps
  test/db/archos/linux-x64/dbg_oo
  test/db/archos/linux-x64/dbg_step
  test/db/archos/linux-x64/dbg_step_back
  test/db/archos/linux-x64/dbg_trace1
  test/db/archos/linux-x64/dbg_trace2
  test/db/archos/linux-x64/dbg_wps
  test/notworking_db/darwin-x64/dbg
  test/notworking_db/darwin-x64/dbg_cmdbps
Labels: rz-test

#3079 Fix endianness on floats
  librz/util/float/float.c
Labels: RzUtil

#3075 build: fix BINDIR_DEPTH computation on Windows
  meson.build
Labels: Windows

#3080 Fix gcc11-asan pe_debug -Wstringop-truncation warning
  librz/bin/format/pe/pe_debug.c
Labels: RzBin, PE

#3071 Convert `pF` commands to the rzshell
  librz/bin/p/bin_pe.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
  librz/include/rz_util/rz_pkcs7.h
  librz/util/pkcs7.c
  test/db/cmd/cmd_asn1
Labels: rz-test, RzBin, API, RzCore, PE, RzUtil

#3083 Convert `de` commands to the rzshell
  librz/core/cesil.c
  librz/core/cmd/cmd_debug.c
  librz/core/cmd_descs/cmd_debug.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/core_private.h
  librz/debug/desil.c
  librz/include/rz_debug.h
Labels: RzDebug, API, ESIL, RzCore, merge-when-green

#3084 Add ssdeep hash
  librz/analysis/block.c
  librz/bin/bfile.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd/cmd_search.c
  librz/hash/algorithms/ssdeep/fnv_hash.h
  librz/hash/algorithms/ssdeep/roll_hash.c
  librz/hash/algorithms/ssdeep/ssdeep.c
  librz/hash/algorithms/ssdeep/ssdeep.h
  librz/hash/hash.c
  librz/hash/meson.build
  librz/hash/p/algo_ssdeep.c
  librz/include/rz_hash.h
  librz/main/rz-diff.c
  test/db/cmd/cmd_list
  test/db/tools/rz_diff
  test/db/tools/rz_hash
Labels: rz-test, RzBin, RzAnalysis, rz-diff, API, RzCore, RzHash

#3078 Convert `dk` commands to the rzshell
  librz/core/cdebug.c
  librz/core/cmd/cmd.c
  librz/core/cmd/cmd_debug.c
  librz/core/cmd_descs/cmd_debug.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
  librz/core/core_private.h
  librz/debug/dsignal.c
  librz/include/rz_debug.h
  test/db/archos/linux-x64/dbg
Labels: rz-test, RzDebug, API, RzCore, merge-when-green

#3076 core/cmd_descs: add name of command on top of cmd handler
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs_generate.py
Labels: RzCore

#3069 Convert `pv` commands to rzshell
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
Labels: RzCore, merge-when-green

#3087 Remove `rz-agent`
  binrz/blob/meson_install_links.sh
  binrz/man/rz-agent.1
  binrz/meson.build
  binrz/rz-agent/meson.build
  binrz/rz-agent/rz-agent.c
  librz/core/core.c
  librz/include/rz_main.h
  librz/main/main.c
  librz/main/meson.build
  librz/main/rz-agent.c
  snapcraft.yaml
  test/db/tools/rz_agent
Labels: rz-test, API, RzCore

#3092 Fix gcc12-asan arcompact-dis -Wformat-overflow= warnings
  librz/asm/arch/arc/gnu/arcompact-dis.c
Labels: RzAsm-Disassembler

#3094 Mach-O: Add support for DYLD_CHAINED_PTR_64
  librz/bin/format/mach0/mach0_rebase.c
  test/db/formats/mach0/mach0
Labels: rz-test, RzBin, Mach-O

#3097 Fix gcc11-asan arcompact-dis -Wstringop-truncation warning
  librz/asm/arch/arc/gnu/arcompact-dis.c
Labels: RzAsm-Disassembler

#3096 Fix PPC RZIL endianness issue on SystemZ
  librz/analysis/arch/ppc/ppc_il_ops.c
  test/db/asm/ppc_64
Labels: rz-test, RzAnalysis

#3099 Remove syncing dbg->bits -> asm.bits
  librz/core/cdebug.c
  librz/core/core_private.h
  librz/core/tui/visual.c
Labels: RzCore

#3098 Fix parsing QNX format on BE platforms
  librz/bin/format/qnx/qnx.h
  librz/bin/p/bin_qnx.c
Labels: RzBin

#3100 Revert some changes in 52e6140 of cris-dis.c
  librz/asm/arch/cris/gnu/cris-dis.c
Labels: RzAsm-Disassembler

#3101 Rewrite reading in io_mach
  librz/io/p/io_mach.c
  test/db/archos/darwin-arm64/dbg_io
Labels: rz-test, RzIO

#3103 Remove forbidden words
  librz/core/disasm.c
  librz/core/project_migrate.c
Labels: RzCore

#3104 Fix BE output due bad cast conversion done via pointers
  librz/core/disasm.c
Labels: RzCore

#3105 Ensure double and float uses the proper method to decode it.
  librz/include/rz_endian.h
  librz/type/format.c
Labels: API, RzType

#3109 Cleanup endianness on rz_buf_fread/_at
  librz/util/buf.c
Labels: RzUtil

#3110 Rewritten bin_nin3ds.c and add test
  librz/bin/format/nin/n3ds.h
  librz/bin/p/bin_nin3ds.c
  librz/include/rz_util/rz_buf.h
  test/db/formats/n3ds
Labels: rz-test, RzBin, API

#3113 Make dyld_chained_ptr_* parsing endian-independent
  librz/bin/format/mach0/mach0_defines.h
  librz/bin/format/mach0/mach0_rebase.c
  librz/bin/format/mach0/mach0_relocs.c
  test/unit/meson.build
  test/unit/test_bin_mach0.c
Labels: rz-test, RzBin, Mach-O

#3115 Fix ahi i endianness
  librz/parse/filter.c
Labels: RzParse

#3118 Fix flirt detection when function size is less than 32 bytes
  librz/sign/create.c
  librz/sign/flirt.c
  test/db/cmd/cmd_signature
Labels: rz-test

#3121 Refactor pe_debug.c to fix endianness
  librz/bin/format/pe/pe.h
  librz/bin/format/pe/pe_debug.c
Labels: RzBin, merge-when-green, PE

#3122 Fix coff on big endian hosts
  librz/bin/format/coff/coff.c
  librz/bin/format/coff/coff.h
  librz/bin/p/bin_coff.c
Labels: RzBin, merge-when-green

#3123 Fix luac endianness
  librz/bin/format/luac/luac_bin.c
Labels: RzBin

#3090 Threaded analysis matching
  librz/analysis/similarity.c
  librz/include/rz_analysis.h
  librz/include/rz_th.h
  librz/main/rz-diff.c
  librz/util/thread_queue.c
  test/db/tools/rz_diff
Labels: rz-test, RzAnalysis, rz-diff, API, RzUtil

#3124 Use RZ_NEW0 in pe_rsrc.c
  librz/bin/format/pe/pe_rsrc.c
Labels: RzBin, PE

#3120 Remove cosmetic changes from cris-dis.c
  librz/asm/arch/cris/gnu/cris-dis.c
Labels: RzAsm-Disassembler

#3126 Fix mdmp endianness
  librz/bin/format/mdmp/mdmp.c
  librz/bin/format/mdmp/mdmp.h
  librz/bin/format/mdmp/mdmp_specs.h
  librz/bin/p/bin_mdmp.c
  test/db/cmd/cmd_list
Labels: rz-test, RzBin, PE

#3127 Update `librz/asm/arch/cris/gnu/` to the latest binutils
  librz/asm/arch/cris/gnu/cris-dis.c
  librz/asm/arch/cris/gnu/cris-opc.c
  librz/asm/arch/include/opcode/cris.h
Labels: RzAsm-Disassembler

#3135 Use only x64 for blake3 optimizations and portable for x86
  subprojects/packagefiles/blake3/meson.build
Labels: merge-when-green

#3133 replacing `"` with `'` in `ag* dot` functions
  librz/core/cagraph.c
  librz/util/graph_drawable.c
  test/db/cmd/cmd_ag
Labels: rz-test, RzCore, test-required, RzUtil

#3136 Fix gcc12-asan cris-dis -Wformat-overflow= warnings
  librz/asm/arch/cris/gnu/cris-dis.c
Labels: RzAsm-Disassembler

#3137 Fix gcc12-asan do_analysis_search -Wstringop-overread warning
  librz/core/cmd/cmd_search.c
Labels: RzCore, merge-when-green

#3139 Fix gcc12-asan rz_core_cmd_subst -Warray-bounds warning
  librz/core/cmd/cmd.c
Labels: RzCore

#3141 Fix gcc12-asan rz_main_rz_asm -Wstringop-overread warning
  librz/main/rz-asm.c
Labels: rz-asm

#3142 Fix gcc11-asan hackyArmAnal -Wstringop-overread warning
  librz/analysis/p/analysis_arm_hacks.inc
Labels: RzAnalysis, ARM
