Repository rizinorg/rizin, pull requests merged in 2022-09, with the labels that each got.

#2998 Remove rz_str_mb_to_wc_l()
  librz/include/rz_util/rz_str.h
  librz/util/str.c
Labels: API, RzUtil

#2996 Better view modes for `p`-cycling in `Vv` view
  librz/core/tui/modes.c
Labels: RzCore

#3000 Remove multibyte conversion functions
  librz/include/rz_util/rz_str.h
  librz/util/str.c
Labels: API, RzUtil

#3001 Fix gcc12 rz_cons_visual_write -Wstringop-overread warnings
  librz/cons/cons.c
Labels: RzCons

#3002 Fixes #2976: Add comment at cursor location in visual mode
  librz/core/tui/visual.c
Labels: RzCore, merge-when-green

#3004 Fix gcc12 rzgdb -Wuse-after-free warning
  subprojects/rzgdb/src/gdbclient/xml.c
Labels: GDB

#3005 Fix #2993 - Check rz_buf_read_le32_offset return status parsing LE bins
  librz/bin/format/le/le.c
Labels: RzBin, merge-when-green

#3011 Add free-pascal demangling support
  librz/bin/bin.c
  librz/bin/bin_language.c
  librz/demangler/demangler.c
  librz/demangler/meson.build
  librz/include/rz_bin.h
  librz/include/rz_demangler.h
  subprojects/libdemangle.wrap
  test/db/abi/languages/freepascal
  test/db/cmd/cmd_i
  test/db/cmd/dwarf
  test/db/tools/rz_bin
Labels: rz-test, RzBin, API

#3010 docker: remove `rz-pm` as it was deprecated
  Dockerfile
Labels: merge-when-green

#3014 Fix gcc12 mach0.c -Walloc-size-larger-than= warnings
  librz/bin/format/mach0/mach0.c
Labels: RzBin, merge-when-green, Mach-O

#3012 Fix #2851 - wrong AVR analysis jump value for rjmp
  librz/analysis/arch/avr/avr_il.c
  librz/analysis/p/analysis_avr.c
  librz/asm/arch/avr/disassembler.c
  test/db/analysis/avr
  test/db/asm/avr
Labels: rz-test, RzAnalysis, RzAsm-Disassembler, RzAsm-Assembler

#3009 Update Android NDK to the latest default platform
  .github/meson-android-aarch64.ini
  .github/meson-android-arm.ini
  .github/meson-android-x86_64.ini
  .github/workflows/ci.yml
Labels: infrastructure

#3018 Bump version to v0.4.1
  meson.build
Labels: merge-when-green

#3015 Add nim lang support
  librz/bin/bin_language.c
  librz/include/rz_bin.h
  test/db/abi/languages/nim
Labels: rz-test, RzBin, API

#2784 RzUtil: softfloat support based on bitvector
  librz/include/meson.build
  librz/include/rz_util.h
  librz/include/rz_util/rz_float.h
  librz/util/float/float.c
  librz/util/float/float_internal.c
  librz/util/meson.build
  test/unit/meson.build
  test/unit/test_float.c
Labels: rz-test, API, merge-when-green, RzUtil

#3025 Convert some of the `a` commands to the rzshell
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  test/db/analysis/msp430
  test/db/cmd/cmd_ad
Labels: rz-test, RzCore

#3024 Remove global variables from Visual mode
  librz/core/core_private.h
  librz/core/tui/visual.c
Labels: RzCore, visual, refactor

#3029 Remove sdb_fmt from analysis
  librz/analysis/analysis.c
  librz/analysis/cc.c
  librz/analysis/fcn.c
  librz/analysis/var.c
Labels: RzAnalysis

#3030 Support blake3 hash algo
  .gitignore
  librz/hash/meson.build
  librz/hash/p/algo_blake3.c
  librz/hash/p/algo_md5.c
  librz/include/rz_hash.h
  meson.build
  subprojects/blake3.wrap
  subprojects/packagefiles/blake3/c/blake3_dispatch.c
  subprojects/packagefiles/blake3/c/blake3_impl.h
  subprojects/packagefiles/blake3/meson.build
  test/db/cmd/cmd_list
  test/db/tools/rz_hash
Labels: rz-test, API, merge-when-green, RzHash

#3038 Fix pointless expression due wrong bit check on rz-test
  binrz/rz-test/rz-test.c
Labels: rz-test

#3036 Expose rz_core_prevop_addr* as RZ_API + docs
  librz/core/canalysis.c
  librz/core/core_private.h
  librz/core/tui/visual.c
  librz/include/rz_core.h
Labels: API, RzCore

#3037 Remove unused fingerprint callbacks
  librz/analysis/diff.c
  librz/include/rz_analysis.h
Labels: RzAnalysis, API, merge-when-green

#3040 Remove rz_core_print_scrollbar() from RzCore header
  librz/core/agraph.c
  librz/core/core_private.h
  librz/core/tui/visual.c
  librz/include/rz_core.h
Labels: API, RzCore, refactor

#3039 Allow RzThreadQueue to be initialized with a RzList
  librz/include/rz_th.h
  librz/util/thread_queue.c
Labels: API, RzUtil

#3041 Convert `di` commands to the rzshell
  librz/core/cmd/cmd_debug.c
  librz/core/cmd/cmd_shell.c
  librz/core/cmd_descs/cmd_debug.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_shell.yaml
Labels: RzCore

#3044 Fix android binaries and missing main callbacks
  binrz/blob/main.c
  binrz/blob/meson_install_links.sh
  librz/include/rz_main.h
  librz/main/main.c
Labels: API, merge-when-green

#3047 Convert `dp` commands to the rzshell
  librz/core/cdebug.c
  librz/core/cmd/cmd_debug.c
  librz/core/cmd_descs/cmd_debug.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/core_private.h
  librz/debug/pid.c
  librz/include/rz_debug.h
Labels: RzDebug, API, RzCore, merge-when-green

#3043 Convert `dx` commands to the rzshell
  librz/core/cmd/cmd_debug.c
  librz/core/cmd_descs/cmd_debug.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
Labels: RzCore

#3048 Added apple ASN1 OIDs
  librz/util/asn1_oids.h
Labels: RzUtil

#3049 Convert `dd` commands to rzshell
  librz/core/cdebug.c
  librz/core/cmd/cmd_debug.c
  librz/core/cmd/cmd_shell.c
  librz/core/cmd_descs/cmd_debug.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_shell.yaml
  librz/core/core_private.h
  librz/debug/ddesc.c
  test/db/archos/linux-x64/dbg_fds
Labels: rz-test, RzDebug, RzCore, merge-when-green, refactor, shell

#3051 Convert `dg`, `dw`, and `dW` commands to rzshell
  librz/core/cmd/cmd_debug.c
  librz/core/cmd_descs/cmd_debug.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
Labels: RzCore

#3056 Use `ninja-build` from `apt` in docker
  Dockerfile
Labels: merge-when-green
