Repository rizinorg/rizin, pull requests merged in 2022-11, with the labels that each got.

#3152 Fix endianness issue of rz_str_utf16_to_utf8
  librz/bin/p/bin_mdmp.c
  librz/util/str.c
Labels: RzBin, PE, RzUtil

#3153 Fix endianness of esil register write hook
  librz/core/disasm.c
Labels: RzCore

#3155 Fix CID 402240
  librz/core/cmd/cmd_regs.c
Labels: RzCore

#3158 Update GitHub Actions setup due NodeJS 12 deprecation
  .github/workflows/ci.yml
  .github/workflows/code-analysis.yml
  .github/workflows/coverity-scan.yml
  .github/workflows/linter.yml
  .github/workflows/muon.yml
  .github/workflows/rzshell-treesitter-tests.yml
  .github/workflows/tcc.yml
Labels: infrastructure

#3159 Nop out `calls_x64`'s `printf` call in some dbg_step and dbg_step_back tests
  test/db/archos/linux-x64/dbg_step
  test/db/archos/linux-x64/dbg_step_back
Labels: rz-test

#3160 Remove leftover rz_analysis_var_all_list() definition
  librz/analysis/var.c
Labels: RzAnalysis

#3161 Update GitHub Docker Action due deprecations
  .github/workflows/ci.yml
Labels: infrastructure, merge-when-green

#3166 Backport `rz-ax` conversion fixes
  librz/main/rz-ax.c
  test/db/tools/rz_ax
Labels: rz-test, rz-ax

#3163 Convert `pu` and `pI` commands to rzshell
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
Labels: RzCore

#3162 Update TinyCC commit in GitHub Actions
  .github/workflows/tcc.yml
Labels: infrastructure

#3112 Convert `pp` commands to the rzshell
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
Labels: RzCore

#3173 Show test path and name in rz-test -i failures
  binrz/rz-test/rz-test.c
Labels: rz-test

#3169 Enable show/close legend in Vv mode
  librz/core/core_private.h
  librz/core/tui/vmenus.c
Labels: RzCore, visual

#3168 Support for Xbox 360 PE32 architecture (PPC BE)
  librz/bin/format/pe/pe_info.c
  librz/bin/format/pe/pe_specs.h
Labels: RzBin, merge-when-green, PE

#3176 Make `dbg.stepback` test invariant to env
  test/db/archos/linux-x64/dbg_step_back
Labels: rz-test

#3178 Convert `pk`, `pK`, and `pkill` commands to the rzshell
  librz/core/cmd/cmd_print.c
  librz/core/cmd/cmd_shell.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
  librz/core/cmd_descs/cmd_shell.yaml
Labels: RzCore

#3179 Make "debug stepback from callee" test invariant to env
  test/db/archos/linux-x64/dbg_step_back
Labels: rz-test

#3180 Make ps+ use cfg.bigendian instead of host one
  librz/core/cmd/cmd_print.c
Labels: RzCore

#3181 Make "dbg.px0" test invariant to `ld`
  test/db/archos/linux-x64/dbg_px0
Labels: rz-test

#3183 Mask out ebx too in "Conditional dr/ar" test
  test/db/archos/linux-x64/dbg_dr
Labels: rz-test

#3187 Convert `pi` commands to rzshell
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
Labels: RzCore

#3188 Make first dbg_dmh test invariant to r13
  test/db/archos/linux-x64/dbg_dmh
Labels: rz-test

#3189 Extract histograms and bars into RzCons
  librz/cons/bar.c
  librz/cons/histogram.c
  librz/cons/meson.build
  librz/core/agraph.c
  librz/core/cmd/cmd_flag.c
  librz/core/cmd/cmd_help.c
  librz/core/cmd/cmd_open.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd/cmd_search.c
  librz/include/rz_cons.h
  librz/include/rz_util/rz_print.h
  librz/util/print.c
  test/db/cmd/cmd_pd
Labels: rz-test, API, RzCore, RzUtil, RzCons

#3195 Fix wrong usages of `rz_core_theme_nextpal`
  librz/core/agraph.c
  librz/core/tui/biteditor.c
  librz/core/tui/colors.c
  librz/core/tui/panels.c
  librz/core/tui/visual.c
  librz/core/tui/vmenus.c
Labels: RzCore

#3193 Fix `i~:-2` grep example
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.yaml
Labels: RzCore

#3194 Update option shown in `Vv` when seeking to other symbols in `V`
  librz/core/tui/vmenus.c
Labels: RzCore

#3197 linux_heap_glibc.c: Get main arena addr from mallopt() instead
  librz/core/linux_heap_glibc.c
Labels: RzCore

#3198 Convert `p-` commands to rzshell
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
  test/db/cmd/cmd_p-
Labels: rz-test, RzCore, merge-when-green

#3199 Improve "dmh allocated" test
  test/db/archos/linux-x64/dbg_dmh
Labels: rz-test

#3200 rz_heap_glibc.h: Add `have_fastchunks` member to `RzHeap_MallocState_` structs
  librz/include/rz_heap_glibc.h
  test/db/archos/linux-x64/dbg_dmh
Labels: rz-test, API

#3201 Fix old Debian CI builds
  .github/workflows/ci.yml
Labels: infrastructure

#3202 Make color promt test not load user settings
  test/db/tools/rz
Labels: rz-test

#3203 Print err msgs if rz_debug_trace_ins_before() fails
  librz/debug/trace.c
Labels: RzDebug

#3205 Add missing project migrations tests up to v9 and fix leaks
  librz/analysis/analysis.c
  librz/analysis/serialize_typelink.c
  librz/analysis/typelink.c
  librz/config/serialize_config.c
  librz/core/project_migrate.c
  librz/core/serialize_core.c
  librz/include/rz_analysis.h
  test/integration/test_project_migrate.c
  test/prj/v2-types-empty.rzdb
  test/prj/v3-typelink.rzdb
  test/prj/v4-types.rzdb
  test/prj/v5-empty.rzdb
  test/prj/v6-esil-pins.rzdb
  test/prj/v7-zignatures.rzdb
  test/prj/v8-fingerprint.rzdb
  test/unit/test_serialize_types.c
Labels: rz-test, RzAnalysis, API, RzCore, RzConfig

#3208 Add missing macros to `rz_il_opbuilder_end`
  librz/include/rz_il/rz_il_opbuilder_end.h
Labels: API

#2747 x86 RzIL uplifting
  librz/analysis/arch/x86/x86_il.c
  librz/analysis/arch/x86/x86_il.h
  librz/analysis/meson.build
  librz/analysis/p/analysis_x86_cs.c
  librz/asm/p/asm_x86_nz.c
  test/db/analysis/x86_16
  test/db/analysis/x86_32
  test/db/analysis/x86_64
  test/db/asm/x86_16
  test/db/asm/x86_32
  test/db/asm/x86_64
  test/db/cmd/cmd_a8
  test/db/cmd/cmd_ao
  test/db/cmd/cmd_ar
  test/db/cmd/cmd_foreach
Labels: rz-test, RzAnalysis, X86

#3211 Add version checks for Capstone so that x86 IL compiles for v3
  librz/analysis/arch/x86/x86_il.c
Labels: RzAnalysis

#3206 rz_debug_trace_ins_after: Downgrade `dbg->cur_op` guard
  librz/debug/trace.c
Labels: RzDebug

#3214 added vn_next break condition
  librz/bin/format/elf/elf_info.c
Labels: RzBin, ELF

#3216 Fix up rz_debug_trace_ins_after()
  librz/debug/trace.c
  librz/include/rz_debug.h
Labels: RzDebug, API
