Repository rizinorg/rizin, pull requests merged in 2022-03, with the labels that each got.

#2365 RzCmd: Improve suggestions when wrong command/args is used
  librz/core/cmd/cmd.c
  librz/core/cmd/cmd_api.c
  librz/include/rz_cmd.h
  test/db/cmd/cmd_w
  test/unit/test_cmd.c
Labels: rz-test, RzCore

#2377 Add tests for Rizin prompt
  binrz/rz-test/run.c
  librz/cons/dietline.c
  test/db/tools/rz
Labels: rz-test, dietline

#2375 Convert rz_print_date_* to rz_time_date_*
  librz/core/cmd/cmd_debug.c
  librz/core/cmd/cmd_print.c
  librz/diff/unified_diff.c
  librz/include/rz_util/rz_time.h
  librz/main/rz-ax.c
  librz/util/time.c
Labels: rz-ax, API, RzCore

#2379 Increase timeout for RZIL test
  test/db/rzil/arm32
Labels: merge-when-green

#2376 Refactoring for rz_print_2bpp_* and ps<cmd>
  librz/core/cbin.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
  librz/core/cmd_descs/cmd_write.yaml
  librz/include/rz_core.h
  librz/include/rz_util/rz_print.h
  librz/include/rz_util/rz_str.h
  librz/include/rz_util/rz_utf8.h
  librz/util/print.c
  librz/util/str.c
  librz/util/str_search.c
  librz/util/utf8.c
  test/db/cmd/cmd_0
  test/db/cmd/cmd_print
  test/db/cmd/cmd_print_misc
  test/db/cmd/cmd_psj
  test/db/esil/6502
  test/db/formats/elf/helloworld-gcc-elf
Labels: API, RzCore

#2382 Removed definitions of methods that has been removed in #2375
  librz/include/rz_util/rz_print.h
Labels: API

#2383 Removed seven.c (unused) and removed 2 previously removed functions
  librz/include/rz_util/rz_print.h
  librz/util/meson.build
  librz/util/seven.c
Labels: API

#2386 Add `--print-errorlogs` flag `meson test` for Windows jobs
  .appveyor.yml
  .github/workflows/ci.yml
  test/README.md
Labels: infrastructure

#2391 Fix broken seek in visual debug mode
  librz/core/tui/visual.c
Labels: RzCore

#2390 Remove command 0 (alias for s 0x)
  librz/core/cmd/cmd.c
  librz/core/cmd/rz-shell-parser-cmds.inc
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
  subprojects/rizin-shell-parser/corpus/simple_commands.txt
  subprojects/rizin-shell-parser/grammar.js
  subprojects/rizin-shell-parser/src/grammar.json
  subprojects/rizin-shell-parser/src/node-types.json
  subprojects/rizin-shell-parser/src/parser.c
  subprojects/rizin-shell-parser/src/tree_sitter/parser.h
  test/db/formats/elf/helloworld-gcc-elf
Labels: RzCore

#2403 Update libc6 and `dbg.maps.count.after.map` test
  .github/workflows/ci.yml
  .github/workflows/tcc.yml
  test/db/archos/linux-x64/dbg_maps
Labels: infrastructure

#2393 Add hint for unexpected type definition (td)
  librz/type/parser/c_cpp_parser.c
  librz/type/parser/types_parser.c
  test/db/cmd/types
Labels: RzType

#2409 Add indicator to oml for which map is visible at seek
  librz/core/cmd/cmd_open.c
  test/db/archos/linux-x64/dbg_oo
  test/db/cmd/cmd_open
  test/db/cmd/cmd_pf2
  test/db/cmd/project
  test/db/cmd/simple-elf
  test/db/cmd/types
  test/db/formats/bflt
  test/db/formats/coff
  test/db/formats/dex
  test/db/formats/elf/helloworld-phdr-elf
  test/db/formats/elf/reloc
  test/db/formats/elf/sections
  test/db/formats/elf/tiny
  test/db/formats/gba
  test/db/formats/gbc
  test/db/formats/mach0/arm64e
  test/db/formats/mach0/relocs
  test/db/formats/mdmp
  test/db/formats/menuet
  test/db/formats/nes
  test/db/formats/ninds
  test/db/formats/nro
  test/db/formats/nso
  test/db/formats/omf
  test/db/formats/pe/CoST
  test/db/formats/pe/hellocxx
  test/db/formats/pe/nosectionW7
  test/db/formats/pe/nosectionXP
  test/db/formats/plan9
  test/db/formats/psx
  test/db/formats/pyc
  test/db/formats/qnx
  test/db/formats/smd
  test/db/formats/sms
  test/db/formats/spc700
  test/db/formats/vsf/rambo2-norom
  test/db/formats/vsf/rambo2-rom
  test/db/formats/vsf/rhps-norom
  test/db/formats/vsf/rhps-rom
  test/db/formats/web_assembly
  test/db/formats/z64
  test/db/formats/zimg
  test/db/io/maps
  test/db/io/om
Labels: RzCore

#2405 Create enum type for socket and access
  librz/analysis/d/functions-libc.sdb.txt
  librz/analysis/d/functions-linux.sdb.txt
  librz/analysis/d/types-libc.sdb.txt
  librz/analysis/d/types-linux.sdb.txt
Labels: RzAnalysis, merge-when-green

#2408 Store back-references to core files in RzIOMap
  librz/core/cbin.c
  librz/core/cfile.c
  librz/core/core_private.h
  librz/include/rz_core.h
  librz/include/rz_io.h
  librz/io/io_map.c
  test/unit/test_core_bin.c
  test/unit/test_io.c
Labels: rz-test

#2401 `!!`: Fix extra `\r` on Windows
  binrz/rz-test/run.c
  librz/core/cmd/cmd_system.c
  test/db/archos/not-windows-any/feat_redirect
  test/db/cmd/cmd_pipe
  test/db/cmd/feat_redirect
  test/scripts/shared_memory.py
Labels: rz-test, RzCore

#2407 Removing eprintfs from linux_heap_jemalloc.c
  librz/core/linux_heap_jemalloc.c
Labels: merge-when-green

#2387 Implement getting a backtrace from a Windows Kernel Dump for x64
  librz/bin/format/mdmp/mdmp_windefs.h
  librz/bin/format/pe/pe_specs.h
  librz/bin/p/bin_pe.inc
  librz/core/cmd/cmd_open.c
  librz/core/core.c
  librz/debug/p/common_winkd.c
  librz/debug/p/debug_dmp.c
  librz/debug/p/native/bt/windows-x64.c
  librz/include/rz_bind.h
  librz/io/io_map.c
  subprojects/rzwinkd/winkd.c
  subprojects/rzwinkd/winkd.h
  test/db/cmd/cmd_search
  test/db/cmd/cmd_seek
  test/db/formats/dmp/dmp
  test/db/formats/pe/65535sects
  test/db/formats/pe/CoST
  test/db/formats/pe/hellocxx
  test/db/formats/pe/nosectionXP
Labels: RzBin, RzDebug, RzCore, PE

#2406 Fix #1058 - Use thread-safe wcsrtombs insead of wcstombs
  librz/util/str.c
Labels: merge-when-green

#2412 Finish conversion of `w` commands to rzshell
  librz/core/cautocmpl.c
  librz/core/cio.c
  librz/core/cmd/cmd.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd/cmd_write.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_write.yaml
  librz/include/rz_core.h
  librz/include/rz_util/rz_debruijn.h
  librz/io/io.c
  librz/main/rz-gg.c
  librz/util/debruijn.c
  test/db/archos/darwin-x64/cmd_i
  test/db/archos/linux-any/cmd_i
  test/db/cmd/cmd_pd
  test/db/cmd/cmd_pf
  test/db/cmd/cmd_psj
  test/db/cmd/cmd_px
  test/db/cmd/cmd_w
  test/db/cmd/cmd_wD
  test/db/cmd/cmd_wox
  test/db/cmd/unified
  test/db/cmd/write
  test/db/io/maps
  test/db/io/omp
  test/scripts/smd_strings.rz
  test/unit/test_debruijn.c
  test/unit/test_util.c
Labels: rz-test, API, RzCore, merge-when-green, rz-gg

#2378 RzCore: remove as many #include .c as possible in cmd.c
  librz/core/cmd/cmd.c
  librz/core/cmd/cmd_debug.c
  librz/core/cmd/cmd_eval.c
  librz/core/cmd/cmd_flag.c
  librz/core/cmd/cmd_hash.c
  librz/core/cmd/cmd_history.c
  librz/core/cmd/cmd_info.c
  librz/core/cmd/cmd_interpret.c
  librz/core/cmd/cmd_linux_heap_glibc.c
  librz/core/cmd/cmd_meta.c
  librz/core/cmd/cmd_open.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd/cmd_quit.c
  librz/core/cmd/cmd_regs.c
  librz/core/cmd/cmd_system.c
  librz/core/cmd/cmd_write.c
  librz/core/cmd/cmd_yank.c
  librz/core/core_private.h
  librz/core/linux_heap_glibc.c
  librz/core/linux_heap_glibc.h
  librz/core/linux_heap_glibc64.c
  librz/core/linux_heap_glibc64.h
  librz/core/meson.build
  librz/include/rz_heap_glibc.h
Labels: rz-test, RzCore, merge-when-green

#2420 RzShell: Remove possibility to switch to oldshell
  binrz/man/rizin.1
  librz/core/cconfig.c
  librz/core/cmd/cmd.c
  librz/core/core.c
  librz/include/rz_core.h
  librz/main/rizin.c
  test/db/cmd/cmd_interpret
  test/db/cmd/cmd_pd
  test/db/cmd/cmd_task
  test/db/cmd/cmd_w
  test/db/cmd/cmd_zignature
  test/db/cmd/feat_grep
  test/db/cmd/feat_quote
  test/db/cmd/project
  test/db/cmd/regexp
  test/unit/test_autocmplt.c
Labels: rizin, rz-test, RzCore

#2396 Convert a8, aO and ao command to rzshell
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  test/db/cmd/cmd_a8
  test/db/cmd/cmd_aO
  test/db/cmd/cmd_ao
  test/db/json/json2
Labels: RzCore, merge-when-green

#2418 Convert `dt` commands to rzshell
  librz/core/cdebug.c
  librz/core/cmd/cmd_debug.c
  librz/core/cmd_descs/cmd_debug.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/debug/trace.c
  librz/include/rz_debug.h
  test/db/archos/linux-x64/dbg_dt
  test/db/cmd/cmd_aes
Labels: RzCore

#2430 Move CMD_CHECK_DEBUG_DEAD outside rz_debug.h
  librz/core/cmd/cmd_debug.c
  librz/include/rz_debug.h
Labels: RzCore

#2434 Fill in `module->name` in `rz_debug_dmp_modules()`
  librz/debug/p/debug_dmp.c
Labels: RzDebug

#2437 Fix PDB download reporting success even after failing
  librz/bin/pdb/pdb_downloader.c
Labels: RzBin

#2438 Add -Wimplicit-fallthrough to meson file
  librz/analysis/arch/arm/arm_il32.c
  librz/analysis/p/analysis_arc.c
  librz/analysis/p/analysis_arm_cs.c
  librz/analysis/p/analysis_dalvik.c
  librz/analysis/p/analysis_gb.c
  librz/analysis/p/analysis_mips_gnu.c
  librz/analysis/p/analysis_ppc_cs.c
  librz/analysis/p/analysis_x86_cs.c
  librz/analysis/p/analysis_xtensa.c
  librz/analysis/reflines.c
  librz/asm/arch/arc/gnu/arc-dis.c
  librz/asm/arch/arc/gnu/arcompact-dis.c
  librz/asm/arch/arm/armass64.c
  librz/asm/arch/lh5801/lh5801.c
  librz/asm/arch/sh/gnu/sh-dis.c
  librz/asm/arch/vax/vax-dis.c
  librz/bin/format/mach0/mach0.c
  librz/core/canalysis.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd/cmd_search.c
  librz/core/disasm.c
  librz/core/linux_heap_glibc.c
  librz/core/tui/panels.c
  librz/core/tui/vmenus.c
  librz/debug/p/bfvm.c
  librz/main/rz-asm.c
  librz/main/rz-diff.c
  librz/parse/p/parse_x86_pseudo.c
  librz/type/format.c
  librz/util/buf_io_fd.c
  librz/util/calc.c
  meson.build
Labels: rz-asm, RzAnalysis, RzDebug, rz-diff, RzCore, RzParse, ARM, MIPS, PPC, X86

#2440 rz-test: support exclude directories
  .github/workflows/ci.yml
  binrz/rz-test/rz-test.c
Labels: infrastructure, rz-test

#2443 Skip debug tests on Alpine and CentOS
  .github/workflows/ci.yml
Labels: infrastructure, merge-when-green

#2444 Add rz_lang_byte_array and remove rz_print_code
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
  librz/include/meson.build
  librz/include/rz_util.h
  librz/include/rz_util/rz_lang_byte_array.h
  librz/include/rz_util/rz_print.h
  librz/main/rz-gg.c
  librz/util/lang_byte_array.c
  librz/util/meson.build
  librz/util/print_code.c
  test/db/cmd/cmd_0
  test/db/cmd/cmd_pc
  test/db/formats/elf/helloworld-gcc-elf
Labels: API, RzCore, rz-gg

#2449 Keep targeting meson 0.55
  librz/core/cmd_descs/meson.build
  librz/type/meson.build
  meson.build
Labels: RzCore

#2450 Fix 2448 - OOB read via memcmp
  librz/bin/p/bin_symbols.c
Labels: RzBin

#2446 Remove cb_printf from rzbin and rawstr
  librz/bin/bfile.c
  librz/bin/bin.c
  librz/bin/bobj.c
  librz/bin/i/private.h
  librz/bin/p/bin_bflt.c
  librz/bin/p/bin_cgc.c
  librz/bin/p/bin_elf.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_elf64.c
  librz/bin/p/bin_le.c
  librz/bin/p/bin_mach0.c
  librz/bin/p/bin_mach064.c
  librz/bin/p/bin_mdmp.c
  librz/bin/p/bin_pe.c
  librz/bin/p/bin_pe.inc
  librz/bin/p/bin_pe64.c
  librz/bin/p/bin_psxexe.c
  librz/bin/p/bin_smd.c
  librz/core/basefind.c
  librz/core/cbin.c
  librz/core/cconfig.c
  librz/core/cfile.c
  librz/core/cmd/cmd_info.c
  librz/core/cmd/cmd_search.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_info.yaml
  librz/core/linux_heap_glibc.c
  librz/core/linux_heap_jemalloc.c
  librz/include/rz_bin.h
  librz/include/rz_types.h
  librz/main/rizin.c
  librz/main/rz-bin.c
  librz/main/rz-diff.c
  librz/main/rz-find.c
  test/db/abi/compilers/pelles_c
  test/db/cmd/cmd_i
  test/db/cmd/cmd_pipe
  test/db/formats/elf/elf-relro
  test/db/formats/pe/appendeddata
  test/db/formats/pe/appendedhdr
  test/db/formats/pe/appendedsecttbl
  test/db/formats/pe/apphdrW7
  test/db/formats/pe/appsectableW7
  test/db/formats/pe/bigalign
  test/db/formats/pe/bigib
  test/db/formats/pe/mz
  test/db/formats/pe/nosectionW7
  test/db/formats/pe/nosectionXP
  test/db/formats/pe/tls_noEP
  test/db/formats/pe/virtsectblXP
  test/db/tools/rz_bin
  test/integration/test_bin.c
  test/integration/test_dwarf.c
  test/integration/test_dwarf_info.c
  test/integration/test_dwarf_integration.c
Labels: rizin, rz-bin, rz-test, RzBin, rz-find, rz-diff, RzCore, merge-when-green, ELF, PE, Mach-O

#2354 [RzIL] Add lifter for Armv8 AArch64
  librz/analysis/arch/arm/arm_cs.h
  librz/analysis/arch/arm/arm_il32.c
  librz/analysis/arch/arm/arm_il64.c
  librz/analysis/arch/arm/arm_il_common.inc
  librz/analysis/meson.build
  librz/analysis/p/analysis_arm_cs.c
  test/db/asm/arm_64
  test/db/rzil/arm64
Labels: RzAnalysis, ARM

#2454 Remove cb_printf from RzAnalysis
  librz/analysis/analysis.c
  librz/analysis/esil/esil.c
  librz/analysis/var.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_zign.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/core.c
  librz/include/rz_analysis.h
  librz/include/rz_sign.h
  librz/signature/zignature.c
  test/db/esil/math
Labels: RzAnalysis, ESIL, RzCore, FLIRT

#2451 Cleanup of util/print.c
  librz/core/analysis_objc.c
  librz/core/canalysis.c
  librz/core/cmd/cmd_analysis.c
  librz/core/core.c
  librz/include/rz_core.h
  librz/include/rz_util/rz_print.h
  librz/main/rz-ax.c
  librz/util/print.c
Labels: rz-ax, API, RzCore, merge-when-green

#2447 Convert command an to new shell
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
Labels: RzCore

#2460 Moved rz_analysis_esil_dumpstack to rz_core_esil_dumpstack
  librz/analysis/esil/esil.c
  librz/core/cmd/cmd_analysis.c
  librz/core/tui/vmenus.c
  librz/include/rz_analysis.h
  librz/include/rz_core.h
  test/db/esil/math
Labels: RzAnalysis, ESIL, RzCore, merge-when-green

#2461 Update SDB for C++ compatibility
  subprojects/sdb.wrap
Labels: merge-when-green

#2433 Fix `rz_file_basename` on Windows
  librz/bin/pdb/pdb_downloader.c
  librz/core/cbin.c
  librz/debug/p/debug_dmp.c
  librz/include/rz_util/rz_file.h
  librz/util/file.c
  test/unit/test_file.c
Labels: rz-test, RzBin, RzDebug, API, merge-when-green

#2435 Add module name to PDB flag name
  librz/core/cpdb.c
  librz/debug/p/debug_dmp.c
  test/db/cmd/cmd_idp
  test/db/formats/dmp/dmp
  test/db/formats/pdb
Labels: RzDebug, merge-when-green, PDB

#2468 Convert aae to newshell and remove /re
  librz/core/canalysis.c
  librz/core/cil.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_search.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/include/rz_core.h
Labels: ESIL, RzCore, RZIL

#2469 PE: Optimize `haschr()` function
  librz/bin/p/bin_pe.inc
Labels: RzBin, PE

#2463 Move "p8|sed -e s,1,x,g>x;cat x;rm x" test back under `cmd/feat_redirect`
  test/db/archos/not-windows-any/feat_redirect
  test/db/cmd/feat_redirect
Labels: rizin

#2473 Allow testing of `rizin -qc "..." -` on `not-windows-any`
  librz/main/rizin.c
  test/db/archos/not-windows-any/rz
Labels: rizin
