Repository rizinorg/rizin, pull requests merged in 2022-06, with the labels that each got.

#2649 doc: add release process documentation
  doc/RELEASE.md
Labels: documentation

#2652 RzCore: add 'aez' help reference
  librz/core/cmd/cmd_analysis.c
Labels: RzCore

#2655 Debug: Fix x86-32 `EIP` tracing
  librz/analysis/p/analysis_x86_cs.c
Labels: RzAnalysis, X86

#2657 Add rz_path_set_prefix to allow setting the prefix path
  librz/include/rz_util/rz_path.h
  librz/util/path.c
Labels: API, RzUtil

#2661 Handle RZ_SIGN_OPT_NONE on rz-sign
  librz/main/rz-sign.c
Labels: merge-when-green, rz-sign

#2662 Fix rz-sign -h
  librz/main/rz-sign.c
Labels: rz-sign

#2660 Write logs to INFO when loading a library instead of DEBUG
  librz/util/lib.c
Labels: RzUtil

#2667 Fix endian issue and unaligned access in PDB
  librz/bin/pdb/pdb.c
  librz/include/rz_pdb.h
Labels: RzBin, API, PDB, stable-backport

#2668 Added valid empty json output for mach0 and any other info->rclass
  librz/core/cbin.c
Labels: RzCore, stable-backport

#2671 Fix compilation on Termux
  librz/include/rz_userconf.h.in
  librz/io/p/io_shm.c
  meson.build
  subprojects/packagefiles/libuv-v1.40.0/meson.build
  subprojects/rzwinkd/meson.build
Labels: RzIO, API, WinDbg, stable-backport

#2428 Updated Shellforge in librz/include/sflib
  .reuse/dep5
  librz/include/sflib/common/sfsocketcall.h
  librz/include/sflib/common/sftypes.h
  librz/include/sflib/darwin-arm-64/ios-syscalls.txt
  librz/include/sflib/darwin-arm-64/sflib.h
  librz/include/sflib/darwin-arm-64/sfsyscall.h
  librz/include/sflib/darwin-arm-64/sfsysnr.h
  librz/include/sflib/darwin-x86-32/sflib.h
  librz/include/sflib/darwin-x86-32/sfsyscall.h
  librz/include/sflib/darwin-x86-32/sfsysnr.h
  librz/include/sflib/linux-arm-32/sflib.h
  librz/include/sflib/linux-arm-32/sfsysnr.h
  librz/include/sflib/linux-arm-64/sflib.h
  librz/include/sflib/linux-arm-64/sfsysnr.h
  librz/include/sflib/linux-x86-32/sflib.h
  librz/include/sflib/linux-x86-32/sfsyscall.h
  librz/include/sflib/linux-x86-32/sfsysnr.h
  librz/include/sflib/linux-x86-64/sflib.h
  librz/include/sflib/linux-x86-64/sfsyscall.h
  librz/include/sflib/linux-x86-64/sfsysnr.h
  sys/clang-format.py
  test/db/tools/rz_gg
Labels: rz-test, API, buildsystem, ready

#2686 Use github as symbol server for the tests
  test/db/formats/dmp/dmp
  test/db/formats/pdb
Labels: rz-test

#2684 Fix default arch of x86
  librz/asm/meson.build
  librz/bin/format/elf/elf_info.c
  test/db/cmd/cmd_list
Labels: rz-test, RzBin, ELF

#2690 Add EM_KVX elfid
  librz/bin/d/elf_enums
  librz/bin/format/elf/elf.c
  librz/bin/format/elf/elf_info.c
  librz/bin/format/elf/elf_specs.h
Labels: RzBin, merge-when-green, ELF

#2688 Skip floating point numbers during asm name substitution
  librz/parse/filter.c
  test/db/cmd/cmd_pd2
Labels: rz-test, RzParse

#2691 Better False-Positive Detection in rz_scan_strings
  librz/bin/bfile.c
  librz/core/cconfig.c
  librz/core/cmeta.c
  librz/include/rz_bin.h
  librz/include/rz_util/rz_str_search.h
  librz/util/str_search.c
  test/db/analysis/golang
  test/db/cmd/cmd_basefind
  test/db/cmd/cmd_i
  test/db/cmd/metadata
  test/db/formats/elf/elf-relro
  test/db/tools/rz_bin
  test/unit/test_str_search.c
Labels: rz-test, RzBin, API, RzCore, merge-when-green, RzUtil

#2694 RzCore: read core block before printing
  librz/core/cmd/cmd_print.c
  test/db/archos/linux-x64/dbg_bps
Labels: rz-test, RzCore

#2697 Implement empty instruction for RzIL
  librz/il/il_export.c
  librz/il/il_opcodes.c
  librz/il/il_validate.c
  librz/il/il_vm_eval.c
  librz/il/theory_effect.c
  librz/include/rz_il/rz_il_opbuilder_begin.h
  librz/include/rz_il/rz_il_opcodes.h
  test/unit/test_il_validate.c
Labels: rz-test, API, RZIL

#2698 Fix RzIODescData magic checks (Fix #2696)
  librz/include/rz_io.h
Labels: API

#2693 Rz-test: assign the expected successful and failed test
  binrz/rz-test/rz-test.c
Labels: rz-test, waiting-for-author

#2705 Replace IL opbuilder macro `NOP` with `NOP()` to make it more intuitive
  librz/analysis/arch/arm/arm_il32.c
  librz/analysis/arch/arm/arm_il64.c
  librz/analysis/arch/avr/avr_il.c
  librz/asm/arch/6502/6502_il.inc
  librz/include/rz_il/rz_il_opbuilder_begin.h
  librz/include/rz_il/rz_il_opbuilder_end.h
Labels: RzAnalysis, API

#2706 Allow to set jump table type to a enum
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/disasm.c
  librz/include/rz_analysis.h
  test/db/cmd/cmd_afb
Labels: rz-test, API, RzCore

#2707 Add `analysis.jmp.tblmaxoffset` configuration option
  librz/analysis/fcn.c
  librz/core/cconfig.c
  librz/include/rz_analysis.h
Labels: RzAnalysis, API, RzCore

#2683 Refactor thread code and add RzThreadQueue
  binrz/rz-test/rz-test.c
  librz/core/basefind.c
  librz/core/rtr.c
  librz/core/rtr_http.c
  librz/core/task.c
  librz/include/rz_th.h
  librz/socket/run.c
  librz/util/meson.build
  librz/util/subprocess.c
  librz/util/thread.c
  librz/util/thread.h
  librz/util/thread_cond.c
  librz/util/thread_lock.c
  librz/util/thread_pool.c
  librz/util/thread_queue.c
  librz/util/thread_sem.c
  test/unit/test_threads.c
Labels: rz-test, API, RzCore, merge-when-green, RzUtil, RzSocket

#2576 Reg profile parsing
  librz/include/rz_reg.h
  librz/include/rz_util/rz_str.h
  librz/reg/profile.c
  librz/reg/reg.c
  librz/util/str.c
  test/unit/test_str.c
Labels: rz-test, API, merge-when-green, RzUtil, RzReg

#2713 build: use llvm-ar on newer Android NDK (#2711)
  .github/meson-android-aarch64.ini
  .github/meson-android-arm.ini
  .github/meson-android-x86_64.ini
Labels: merge-when-green

#2710 Expose APIs
  librz/core/canalysis.c
  librz/core/cbin.c
  librz/core/cconfig.c
  librz/core/cfile.c
  librz/core/cil.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_eval.c
  librz/core/cmd/cmd_open.c
  librz/core/cmd/cmd_type.c
  librz/core/core_private.h
  librz/core/ctypes.c
  librz/include/rz_core.h
Labels: API, ESIL, RzCore, merge-when-green, RZIL

#2716 Remove RZ_BIN_STRING_ENC_* in favor of RZ_STRING_ENC_*
  librz/bin/bfile.c
  librz/bin/bin.c
  librz/bin/bobj.c
  librz/bin/format/dex/dex.c
  librz/bin/format/java/class_bin.c
  librz/bin/format/luac/luac_bin.c
  librz/core/cbin.c
  librz/core/golang.c
  librz/include/rz_bin.h
  librz/include/rz_util/rz_str.h
  librz/main/rz-bin.c
  librz/main/rz-find.c
  librz/util/str.c
  test/db/cmd/cmd_psj
  test/db/cmd/metadata
Labels: rz-bin, rz-test, RzBin, rz-find, API, RzCore, RzUtil, java, DEX

#2717 rz-test: do not use rz_vector_insert if there are no tests to add
  binrz/rz-test/rz-test.c
Labels: rz-test

#2718 Check if the lib handler has been set, otherwise skip shared lib
  librz/util/lib.c
Labels: RzUtil

#2719 Clean up headers
  librz/core/core.c
  librz/include/meson.build
  librz/include/rz_analysis.h
  librz/include/rz_bin.h
  librz/include/rz_bin_dwarf.h
  librz/include/rz_bp.h
  librz/include/rz_cmd.h
  librz/include/rz_config.h
  librz/include/rz_cons.h
  librz/include/rz_core.h
  librz/include/rz_crypto/rz_aes.h
  librz/include/rz_crypto/rz_des.h
  librz/include/rz_debug.h
  librz/include/rz_egg.h
  librz/include/rz_endian.h
  librz/include/rz_flag.h
  librz/include/rz_heap_glibc.h
  librz/include/rz_io.h
  librz/include/rz_lang.h
  librz/include/rz_lib.h
  librz/include/rz_list.h
  librz/include/rz_regex.h
  librz/include/rz_search.h
  librz/include/rz_socket.h
  librz/include/rz_types.h
  librz/include/rz_types_base.h
  librz/include/rz_types_overflow.h
  librz/include/rz_util.h
  librz/include/rz_util/rz_ascii_table.h
  librz/include/rz_util/rz_asn1.h
  librz/include/rz_util/rz_axml.h
  librz/include/rz_util/rz_base64.h
  librz/include/rz_util/rz_base91.h
  librz/include/rz_util/rz_bitmap.h
  librz/include/rz_util/rz_buf.h
  librz/include/rz_util/rz_hex.h
  librz/include/rz_util/rz_idpool.h
  librz/include/rz_util/rz_log.h
  librz/include/rz_util/rz_mem.h
  librz/include/rz_util/rz_name.h
  librz/include/rz_util/rz_num.h
  librz/include/rz_util/rz_panels.h
  librz/include/rz_util/rz_pkcs7.h
  librz/include/rz_util/rz_pool.h
  librz/include/rz_util/rz_protobuf.h
  librz/include/rz_util/rz_punycode.h
  librz/include/rz_util/rz_queue.h
  librz/include/rz_util/rz_range.h
  librz/include/rz_util/rz_signal.h
  librz/include/rz_util/rz_stack.h
  librz/include/rz_util/rz_str.h
  librz/include/rz_util/rz_strbuf.h
  librz/include/rz_util/rz_strpool.h
  librz/include/rz_util/rz_subprocess.h
  librz/include/rz_util/rz_sys.h
  librz/include/rz_util/rz_table.h
  librz/include/rz_util/rz_uleb128.h
  librz/include/rz_util/rz_x509.h
  librz/include/rz_windows_heap.h
  librz/magic/magic.c
Labels: API, RzCore, RzMagic

#2720 Remove RQueue
  librz/include/meson.build
  librz/include/rz_util.h
  librz/include/rz_util/rz_idpool.h
  librz/include/rz_util/rz_queue.h
  librz/include/rz_util/rz_tree.h
  librz/util/idpool.c
  librz/util/meson.build
  librz/util/queue.c
  librz/util/tree.c
  test/unit/legacy_unit/util/Makefile
  test/unit/legacy_unit/util/test_queue.c
  test/unit/meson.build
  test/unit/test_queue.c
Labels: rz-test, API, merge-when-green, RzUtil

#2708 Rename rz_arch to rz_platform
  librz/analysis/analysis.c
  librz/analysis/arch/avr/avr_il.c
  librz/analysis/meson.build
  librz/analysis/platform_profile.c
  librz/analysis/platform_target_index.c
  librz/core/canalysis.c
  librz/core/cconfig.c
  librz/core/disasm.c
  librz/include/meson.build
  librz/include/rz_analysis.h
  librz/include/rz_arch.h
  librz/include/rz_core.h
  librz/include/rz_platform.h
  test/integration/test_cpu_platform_profiles.c
Labels: rz-test, RzAnalysis, API, RzCore, merge-when-green

#2722 RzBin/PE: fix parsing of malformed PE with 0 FileAlignment
  librz/bin/p/bin_pe.inc
Labels: RzBin, PE, crash

#2724 Fix rz_magic_load_buffer with USE_LIB_MAGIC=1
  librz/magic/magic.c
Labels: merge-when-green, RzMagic

#2689 CI: install sigdb in static version of rizin
  .github/workflows/ci.yml
  librz/core/canalysis.c
  librz/core/cconfig.c
  librz/core/cmd/cmd_analysis.c
  librz/include/rz_flirt.h
  librz/signature/sigdb.c
  test/db/abi/compilers/pelles_c
  test/db/analysis/x86_64
  test/db/cmd/cmd_aaF
  test/db/cmd/cmd_pd2
  test/db/cmd/cmd_zignature
Labels: infrastructure, rz-test, API, RzCore, FLIRT, stable-backport

#2729 Fix `pdb.autoload` crash
  librz/debug/p/debug_native.c
Labels: RzDebug

#2737 Update `rz_sys_breakpoint` proposal.
  librz/include/rz_util/rz_sys.h
Labels: API

#2739 Fix the crash caused by get_long_object()
  librz/bin/format/pyc/marshal.c
Labels: RzBin

#2665 Multithread string search
  librz/bin/bfile.c
  librz/bin/bfile_string.c
  librz/bin/bobj.c
  librz/bin/meson.build
  librz/include/rz_bin.h
  librz/include/rz_util/rz_str_search.h
  librz/util/str_search.c
  test/db/cmd/cmd_i
  test/db/cmd/utf32
Labels: rz-test, RzBin, API, RzUtil

#2728 Add libmspack and add idpx to extracts compressed pdb
  .builds/freebsd.yml
  .builds/netbsd.yml
  .builds/openbsd.yml
  .github/workflows/ci.yml
  .github/workflows/coverity-scan.yml
  .gitignore
  .travis.yml
  librz/bin/meson.build
  librz/bin/pdb/cab_extract.c
  librz/bin/pdb/pdb.c
  librz/bin/pdb/pdb_downloader.c
  librz/core/cmd/cmd_info.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_info.yaml
  librz/include/rz_pdb.h
  meson.build
  meson_options.txt
  subprojects/libmspack.wrap
  subprojects/packagefiles/libmspack/config.h.inc
  subprojects/packagefiles/libmspack/libmspack/mspack/cabd.c
  subprojects/packagefiles/libmspack/libmspack/mspack/chmd.c
  subprojects/packagefiles/libmspack/meson.build
  subprojects/packagefiles/libmspack/meson_options.txt
  test/db/formats/pdb
Labels: infrastructure, rz-test, RzBin, API, RzCore, PDB

#2682 Remove zignatures and move aaF[l] under F[al] and zf[sdc] under F[sdc]
  .github/labeler.yml
  librz/analysis/analysis.c
  librz/analysis/serialize_analysis.c
  librz/core/canalysis.c
  librz/core/cautocmpl.c
  librz/core/cconfig.c
  librz/core/cmd/cmd_api.c
  librz/core/cmd/cmd_flirt.c
  librz/core/cmd/cmd_zign.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
  librz/core/cmd_descs/cmd_flirt.yaml
  librz/core/cmd_descs/cmd_zign.yaml
  librz/core/cmd_descs/meson.build
  librz/core/core.c
  librz/core/csign.c
  librz/core/meson.build
  librz/core/project_migrate.c
  librz/core/serialize_core.c
  librz/core/tui/visual.c
  librz/core/tui/vmenus_zigns.c
  librz/include/meson.build
  librz/include/rz_analysis.h
  librz/include/rz_cmd.h
  librz/include/rz_core.h
  librz/include/rz_flirt.h
  librz/include/rz_project.h
  librz/include/rz_sign.h
  librz/include/rz_userconf.h.in
  librz/include/rz_util/rz_spaces.h
  librz/main/rizin.c
  librz/meson.build
  librz/sign/create.c
  librz/sign/flirt.c
  librz/sign/meson.build
  librz/sign/pat.c
  librz/sign/sigdb.c
  librz/sign/sign.c
  librz/signature/zignature.c
  meson.build
  meson_options.txt
  test/db/cmd/cmd_aaF
  test/db/cmd/cmd_help
  test/db/cmd/cmd_k
  test/db/cmd/cmd_signature
  test/db/cmd/cmd_zignature
  test/db/cmd/project
  test/integration/meson.build
  test/integration/test_autocmplt.c
  test/integration/test_project_migrate.c
  test/integration/test_sign_integration.c
  test/unit/meson.build
  test/unit/test_serialize_analysis.c
  test/unit/test_serialize_types.c
  test/unit/test_sign.c
Labels: rizin, rz-test, RzAnalysis, API, RzCore, FLIRT

#2758 Fix the crash of command fg
  librz/core/cmd/cmd_flag.c
  test/db/cmd/cmd_flags
Labels: rz-test, RzCore

#2754 Add RzBinStrDb and api to interact with it via rz_bin_object_string_*
  librz/bin/bin.c
  librz/bin/bobj.c
  librz/bin/i/private.h
  librz/core/canalysis.c
  librz/core/cconfig.c
  librz/core/golang.c
  librz/include/rz_bin.h
  librz/main/rz-diff.c
  librz/util/list.c
  test/db/analysis/golang
  test/integration/test_bin.c
Labels: rz-test, RzBin, rz-diff, API, RzCore, merge-when-green, RzUtil
