Repository rizinorg/rizin, pull requests merged in 2022-04, with the labels that each got.

#2482 Support `rizin -` on Windows
  librz/main/rizin.c
  test/db/archos/not-windows-any/rz
  test/db/tools/rz
Labels: rizin

#2484 TUI: Use API to rename functions/flags in visual mode when using 'd'
  librz/core/tui/visual.c
  librz/core/tui/vmenus.c
Labels: RzCore

#2395 Convert ab commands to rzshell
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/core.c
  test/db/analysis/x86_64
  test/db/cmd/cmd_ab
  test/db/cmd/cmd_afb
  test/db/json/json1
Labels: RzCore, waiting-for-author

#2486 PE: Cache computed authentihash
  librz/bin/format/pe/pe.c
  librz/bin/format/pe/pe.h
  librz/bin/p/bin_pe.inc
Labels: RzBin, PE

#2483 [DEX] Add relocation support
  librz/analysis/p/analysis_dalvik.c
  librz/bin/format/dex/dex.c
  librz/bin/format/dex/dex.h
  librz/bin/p/bin_dex.c
  test/db/analysis/dalvik
  test/db/formats/dex
  test/db/io/zip
Labels: RzBin, RzAnalysis, DEX

#2489 Add durian color theme based on summerfruit.vim
  librz/cons/d/durian
Labels: RzCons

#2472 Fix #2088 - Fix resource exhaustion in dwarf parsing
  librz/bin/dwarf.c
Labels: DWARF

#2496 Better error message for type redefinition
  librz/type/parser/types_parser.c
  librz/type/parser/types_storage.c
Labels: RzType

#2498 Fix OOB in ASN.1 stringify
  librz/util/astr.c
Labels: merge-when-green

#2508 RzUtil/str: remove `len` argument from rz_str_filter
  librz/bin/format/mach0/mach0.c
  librz/bin/p/bin_xnu_kernelcache.c
  librz/core/cconfig.c
  librz/core/cmd/cmd_analysis.c
  librz/core/disasm.c
  librz/include/rz_util/rz_str.h
  librz/util/astr.c
  librz/util/str.c
  test/unit/test_str.c
Labels: rz-test, RzBin, API, RzCore, merge-when-green

#2499 Various Coverity fixes
  librz/bin/format/dmp/dmp64.c
  librz/core/cdebug.c
  librz/core/cmd/cmd_open.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd/cmd_write.c
  librz/debug/p/debug_winkd.c
  librz/debug/p/native/bt/windows-x64.c
  librz/signature/sigdb.c
  librz/type/format.c
  librz/util/file.c
Labels: RzDebug, RzCore, WinDbg, FLIRT

#2502 Add big endian PPC relocs
  librz/bin/p/bin_elf.inc
  librz/include/rz_types.h
  test/db/formats/elf/reloc
Labels: RzBin, ELF

#2505 IO: do not call plugin->system if cmd is empty
  librz/core/cdebug.c
  librz/io/io.c
  librz/util/sys.c
Labels: merge-when-green

#2514 Remove `scr.fps`
  librz/cons/cons.c
  librz/core/cconfig.c
  librz/core/tui/panels.c
  librz/include/rz_cons.h
Labels: RzCore, merge-when-green

#2421 Refactor RzTable: change the internal storage to RzVector
  librz/core/cmd/cmd_analysis.c
  librz/include/rz_util/rz_table.h
  librz/include/rz_vector.h
  librz/util/table.c
  librz/util/vector.c
  test/db/cmd/cmd_i
  test/db/cmd/tables
  test/unit/test_table.c
  test/unit/test_vector.c
Labels: rz-test, API, RzCore, merge-when-green

#2516 RzCore: add afv help under af?
  librz/core/cmd/cmd_analysis.c
Labels: RzCore

#2517 Revert "Refactor RzTable: change the internal storage to RzVector"
  librz/core/cmd/cmd_analysis.c
  librz/include/rz_util/rz_table.h
  librz/include/rz_vector.h
  librz/util/table.c
  librz/util/vector.c
  test/db/cmd/cmd_i
  test/db/cmd/tables
  test/unit/test_table.c
  test/unit/test_vector.c
Labels: rz-test, API, RzCore, merge-when-green

#2525 Update PR labeler to use official GitHub action
  .github/workflows/labeler.yml
Labels: infrastructure

#2515 Convert `aec` `aei` commands to rzshell
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
Labels: RzCore

#2531 Fix console settings after `rizin -` on Linux
  librz/cons/cons.c
  librz/main/rizin.c
Labels: rizin, RzCons

#2534 Convert commands to rzshell `aes` `aets`
  librz/core/canalysis.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/core_private.h
  librz/core/creg.c
  librz/include/rz_core.h
Labels: API, RzCore

#2507 Fix: Propeller and Hexagon out of bounds reads
  librz/analysis/p/analysis_hexagon.c
  librz/analysis/p/analysis_propeller.c
  librz/asm/p/asm_hexagon.c
  librz/asm/p/asm_propeller.c
Labels: RzAnalysis

#2513 rz-ax: count set bits in number
  librz/main/rz-ax.c
  test/db/tools/rz_ax
Labels: rz-test, rz-ax

#2536 Refactor RzTable: change the implementation to RzVector
  librz/core/cmd/cmd_analysis.c
  librz/include/rz_util/rz_table.h
  librz/include/rz_vector.h
  librz/util/table.c
  librz/util/vector.c
  test/db/cmd/cmd_i
  test/db/cmd/tables
  test/unit/test_table.c
  test/unit/test_vector.c
Labels: rz-test, API, RzCore, RzUtil

#2538 Fix buffer underflow on rz-ax
  librz/main/rz-ax.c
Labels: rz-ax

#2537 Always run ASAN CI jobs
  .github/workflows/ci.yml
Labels: infrastructure, merge-when-green

#2527 Fixing compilation warnings on riscv
  librz/cons/dietline.c
  librz/debug/p/debug_native.c
Labels: RzDebug, dietline, RzCons

#2524 Prevent reallocation of hash table buffer on dwarf parsing
  librz/bin/dwarf.c
  librz/include/rz_bin_dwarf.h
Labels: RzBin, API, DWARF

#2543 Fix OOB write in `unescape_special_chars()`
  librz/core/cmd/cmd_api.c
  test/db/cmd/cmd_fuzzed
Labels: rz-test, RzCore

#2530 Implement new `rz_buf_fwd_scan()` API
  librz/bin/format/pe/pe.c
  librz/bin/p/bin_omf.c
  librz/include/rz_io.h
  librz/include/rz_util/rz_buf.h
  librz/io/io.c
  librz/io/io_desc.c
  librz/io/io_fd.c
  librz/io/p/io_default.c
  librz/util/buf.c
  librz/util/buf_io_fd.c
  librz/util/buf_mmap.c
  test/unit/test_buf.c
Labels: rz-test, RzIO, RzBin, API, PE, RzUtil

#2547 Fix bug in rz_copy_nbits and add unit test
  librz/util/bitvector.c
  test/unit/test_bitvector.c
Labels: rz-test, RzUtil

#2546 Optimize `RzStrBuf` allocation strategy
  librz/util/strbuf.c
Labels: RzUtil

#2553 rizin.c: Use `RZ_LOG_ERROR` instead of `eprintf` for obvious errors
  librz/main/rizin.c
  test/db/tools/rz
Labels: rizin, rz-test

#2550 Convert afM, afm, aft commands to rzshell
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/core.c
  librz/core/tui/vmenus.c
Labels: RzCore

#2552 Porting pd and subcommands to newshell
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_cmp.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
  librz/core/cmp.c
  librz/core/disasm.c
  test/db/cmd/cmd_0
  test/db/cmd/cmd_c
  test/db/cmd/cmd_disassembly
  test/db/cmd/cmd_pd
  test/db/cmd/cmd_pdx
  test/db/cmd/retries
Labels: rz-test, RzCore

#2555 Remove afC commands
  librz/core/cmd/cmd_analysis.c
  librz/core/core.c
  test/db/analysis/msp430
  test/db/analysis/x86_64
  test/db/cmd/cmd_afb
  test/db/cmd/cmd_afl
Labels: rz-test, RzCore

#2558 Remove eprintfs (part 1)
  librz/bin/bfile.c
  librz/bin/bin.c
  librz/bin/bobj.c
  librz/bin/dwarf.c
  librz/bin/format/coff/coff.c
  librz/bin/format/dmp/dmp64.c
  librz/bin/format/luac/luac_bin.c
  librz/bin/format/luac/luac_common.c
  librz/bin/format/luac/luac_common.h
  librz/bin/format/luac/v53/parse_53.c
  librz/bin/format/luac/v54/parse_54.c
  librz/bin/format/mach0/coresymbolication.c
  librz/bin/format/mach0/dyldcache.c
  librz/bin/format/mach0/dyldcache_rebase.c
  librz/bin/format/mach0/fatmach0.c
  librz/bin/format/mdmp/mdmp.c
  librz/bin/format/mz/mz.c
  librz/bin/format/nxo/nxo.c
  librz/bin/format/objc/mach0_classes.c
  librz/bin/format/omf/omf.c
  librz/bin/format/pe/pe.c
  librz/bin/format/pe/pemixed.c
  librz/bin/p/bin_nso.c
  librz/include/rz_bin.h
  librz/main/rz-bin.c
  sys/clang-format.py
  test/db/formats/luac/luac
  test/db/formats/luac/luac53
Labels: rz-bin, rz-test, RzBin, API, buildsystem, PE, Mach-O, DWARF

#2559 Convert afc commands to rzshell
  librz/analysis/fcn.c
  librz/core/canalysis.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/core.c
  librz/core/core_private.h
  librz/core/ctypes.c
  test/db/cmd/cmd_af
  test/db/cmd/cmd_tcc
  test/db/formats/mach0/swift
Labels: rz-test, RzAnalysis, RzCore

#2563 Remove eprintfs (part 2)
  librz/bin/format/pyc/marshal.c
  librz/bin/format/pyc/pyc_magic.c
  librz/bin/format/te/te.c
  librz/bin/format/wasm/wasm.c
  librz/bin/format/xnu/rz_cf_dict.c
  librz/bin/p/bin_bf.c
  librz/bin/p/bin_cgc.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_luac.c
  librz/bin/p/bin_mach0.c
  librz/bin/p/bin_mdmp.c
  librz/bin/p/bin_menuet.c
  librz/bin/p/bin_nes.c
  librz/bin/p/bin_pe.c
  librz/bin/p/bin_pebble.c
  librz/bin/p/bin_psxexe.c
  librz/bin/p/bin_sfc.c
  test/db/cmd/cmd_i
Labels: rz-test, RzBin, ELF, PE, Mach-O

#2566 Fix opbuilder typo
  librz/include/rz_il/rz_il_opbuilder_begin.h
  librz/include/rz_il/rz_il_opbuilder_end.h
Labels: API, merge-when-green

#2565 Expose `rz_core_analysis_bytes()` API
  librz/core/canalysis.c
  librz/core/cmd/cmd_analysis.c
  librz/include/rz_analysis.h
  librz/include/rz_core.h
Labels: API, RzCore, merge-when-green

#2570 rz_file_copy use copy_file_range (linux only)
  librz/include/rz_userconf.h.in
  librz/util/file.c
  meson.build
Labels: API, RzUtil

#2571 Fix: Allow to setup big endian bitvectors with less than 8bit values.
  librz/util/bitvector.c
  test/unit/test_bitvector.c
Labels: rz-test, RzUtil

#2567 Expose `rz_core_reg_assign_sync` and `rz_core_reg_filter_items_sync` API
  librz/core/cmd/cmd_regs.c
  librz/core/core_private.h
  librz/include/rz_core.h
Labels: API, RzCore
