Repository rizinorg/rizin, pull requests merged in 2022-08, with the labels that each got.

#2863 Update on every build the git hash shown by `rizin -v`
  librz/include/rz_version.h.in
  librz/util/str.c
  meson.build
  meson_options.txt
  sys/meson_git_wrapper.py
Labels: API, buildsystem, RzUtil

#2518 [RzIL] IL lifting of SuperH ISA
  librz/analysis/arch/sh/sh_il.c
  librz/analysis/arch/sh/sh_il.h
  librz/analysis/meson.build
  librz/analysis/p/analysis_sh.c
  librz/asm/arch/avr/disassembler.c
  librz/asm/arch/sh/assembler.c
  librz/asm/arch/sh/assembler.h
  librz/asm/arch/sh/common.h
  librz/asm/arch/sh/disassembler.c
  librz/asm/arch/sh/disassembler.h
  librz/asm/arch/sh/gnu/sh-dis.c
  librz/asm/arch/sh/gnu/sh-opc.h
  librz/asm/arch/sh/lookup.c
  librz/asm/arch/sh/regs.h
  librz/asm/meson.build
  librz/asm/p/asm_sh.c
  librz/include/rz_util/rz_str.h
  librz/include/rz_vector.h
  librz/parse/p/parse_sh_pseudo.c
  librz/util/str.c
  test/db/analysis/sh
  test/db/asm/sh
  test/db/cmd/cmd_list
  test/db/tools/rz_asm
Labels: rz-test, RzAnalysis, API, RzParse, merge-when-green, RzUtil, RzAsm-Disassembler, RzAsm-Assembler

#2866 Fix Coverity defects for SuperH lifting, assembler and disassembler
  librz/asm/arch/sh/assembler.c
  librz/asm/arch/sh/disassembler.c
Labels: RzAsm-Disassembler, RzAsm-Assembler

#2853 `px` to rzshell
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
  librz/core/core_private.h
  librz/core/cprint.c
  librz/include/rz_core.h
  librz/include/rz_util/rz_print.h
  librz/util/print.c
  test/db/cmd/cmd_0
  test/db/cmd/cmd_px
  test/db/cmd/cmd_pxd
  test/db/cmd/cmd_pxw
  test/db/formats/mach0/arm64e
  test/db/json/json4
Labels: rz-test, API, RzCore, RzUtil

#2869 gittip: Use Meson's `capture: true` for Python 3.6 compatibility
  librz/util/str.c
  meson.build
  sys/meson_git_wrapper.py
Labels: buildsystem, RzUtil

#2846 Use clang-format 14 instead of 13
  .github/workflows/linter.yml
  DEVELOPERS.md
  librz/asm/arch/include/mybfd.h
  librz/asm/arch/rsp/rsp_idec.c
  librz/bin/pdb/omap.c
  librz/include/rz_cons.h
  librz/include/rz_util/rz_serialize.h
Labels: infrastructure, RzBin, API, PDB

#2876 Add `extern "C"` in `librz/include/rz_util/rz_lang_byte_array.h`
  librz/include/rz_util/rz_lang_byte_array.h
Labels: API

#2879 Fix always true if due wrong check
  librz/core/cmd/cmd_search.c
Labels: RzCore

#2873 gittip: Use `subprocess.PIPE` instead for Python 3.6 compatibility
  librz/util/str.c
  meson.build
  sys/meson_git_wrapper.py
Labels: buildsystem, RzUtil

#2880 export `pcA` as `rz_core_print_bytes_with_inst`
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
  librz/core/cprint.c
  librz/include/rz_core.h
  test/db/cmd/cmd_pc
Labels: rz-test, API, RzCore, merge-when-green

#2884 Add new API function rz_str_gittip()
  librz/include/rz_util/rz_str.h
  librz/util/str.c
Labels: API, RzUtil

#2886 Fix leaks
  librz/cons/grep.c
  librz/core/cprint.c
Labels: RzCore, RzCons

#2875 Remove reduntant license entries and READMEs
  .reuse/dep5
  .woodpecker/macos-arm64.yml
  librz/bp/README
  librz/io/README
  librz/magic/README
  test/Makefile
Labels: rz-test, RzIO, merge-when-green, RzBreakpoint, RzMagic

#2832 Fix the chaos while clicking in panel mode
  librz/cons/cons.c
  librz/cons/dietline.c
  librz/cons/input.c
  librz/core/tui/panels.c
  librz/include/rz_cons.h
Labels: API, RzCore, waiting-for-author, dietline, RzCons

#2882 [Hexagon] Resolve duplex instructions dynamically
  diff
  librz/asm/arch/hexagon/hexagon.c
  librz/asm/arch/hexagon/hexagon.h
  librz/asm/arch/hexagon/hexagon_arch.c
  librz/asm/arch/hexagon/hexagon_arch.h
  librz/asm/arch/hexagon/hexagon_disas.c
  librz/asm/arch/hexagon/hexagon_insn.h
  test/db/analysis/hexagon
  test/db/asm/hexagon
Labels: rz-test, refactor, RzAsm-Disassembler

#2889 Disassemble invalid duplex instructions to `invalid ; invalid`.
  librz/asm/arch/hexagon/hexagon_disas.c
  test/db/asm/hexagon
Labels: rz-test, RzAsm-Disassembler

#2890 Move rz_str version funcs into `version.c`
  binrz/rz-test/rz-test.c
  librz/core/cmd/cmd_help.c
  librz/core/tui/panels.c
  librz/include/meson.build
  librz/include/rz_util.h
  librz/include/rz_util/rz_str.h
  librz/include/rz_util/rz_version.h
  librz/main/main.c
  librz/util/meson.build
  librz/util/str.c
  librz/util/version.c
Labels: rz-test, API, RzCore, RzUtil

#2887 Fix windows and cpp compatibility
  librz/include/meson.build
  librz/include/rz_util/rz_time.h
  librz/util/time.c
Labels: API, RzUtil

#2885 Expose `pds`
  librz/core/carg.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_print.yaml
  librz/core/cprint.c
  librz/core/disasm.c
  librz/include/rz_analysis.h
  librz/include/rz_core.h
Labels: API, RzCore

#2893 Add documentation to rz_version_str()
  librz/include/rz_util/rz_version.h
  librz/util/version.c
Labels: API, RzUtil

#2891 Add rz_bv_range_set and rz_bv_is_all_one to bitvector lib
  librz/include/rz_util/rz_bitvector.h
  librz/util/bitvector.c
  test/unit/test_bitvector.c
Labels: rz-test, API, RzUtil

#2897 Fix Windows cross build
  librz/include/rz_userconf.h.in
  librz/util/compression.c
  meson.build
Labels: API, RzUtil

#2861 Fix rz_heap_glibc circular include
  librz/include/rz_cmd.h
  librz/include/rz_heap_glibc.h
  librz/include/rz_types.h
Labels: API

#2898 strbuf.c: Fix some assert return values
  librz/util/strbuf.c
Labels: merge-when-green, RzUtil

#2823 PPC uplifting
  librz/analysis/arch/ppc/ppc_analysis.h
  librz/analysis/arch/ppc/ppc_il.c
  librz/analysis/arch/ppc/ppc_il.h
  librz/analysis/arch/ppc/ppc_il_flag_ops.c
  librz/analysis/arch/ppc/ppc_il_ops.c
  librz/analysis/il/analysis_il.c
  librz/analysis/meson.build
  librz/analysis/p/analysis_ppc_cs.c
  librz/il/il_opcodes.c
  librz/il/il_reg.c
  librz/il/theory_effect.c
  librz/include/rz_il/rz_il_opbuilder_begin.h
  librz/include/rz_il/rz_il_opbuilder_end.h
  librz/include/rz_il/rz_il_opcodes.h
  librz/reg/rvalue.c
  librz/util/bitvector.c
  test/db/abi/platforms/reg_profile
  test/db/analysis/ppc
  test/db/asm/ppc_64
  test/db/cmd/cmd_ar
  test/db/cmd/cmd_pde
  test/db/rzil/ppc32
  test/db/rzil/ppc64
Labels: rz-test, RzAnalysis, API, merge-when-green, PPC, RzUtil, RzReg, RZIL, ready

#2878 Resolve golang string structures in data section
  librz/bin/bin.c
  librz/bin/bobj.c
  librz/core/golang.c
  librz/include/rz_bin.h
  test/db/analysis/golang
Labels: rz-test, RzBin, API, RzCore, merge-when-green

#2907 Move gittip to share/rizin
  librz/util/version.c
  meson.build
Labels: RzUtil

#2908 Fix #2904
  librz/analysis/arch/ppc/ppc_il.c
  librz/analysis/arch/ppc/ppc_il_ops.c
Labels: RzAnalysis, merge-when-green

#2909 expose `rz_core_clippy`
  librz/core/cmd/cmd_help.c
  librz/core/core_private.h
  librz/core/fortune.c
  librz/include/rz_core.h
Labels: API, RzCore

#2910 Avoid warning about unused endian for single byte
  librz/include/rz_util/rz_buf.h
Labels: API

#2911 Add forgotten cases from #2908
  librz/analysis/arch/ppc/ppc_il.c
  librz/analysis/arch/ppc/ppc_il_ops.c
Labels: RzAnalysis

#2912 Fix reset followed by color change.
  librz/cons/html.c
  test/unit/test_cons.c
Labels: rz-test, RzCons

#2913 Fix arm64 assembler tests on big endian hosts
  librz/asm/arch/arm/armass64.c
Labels: ARM, RzAsm-Assembler

#2914 Rename rz_version.h.in to rz_build_version.h.in
  librz/include/rz_build_version.h.in
  librz/include/rz_util/rz_version.h
  meson.build
Labels: API

#2874 Use GCC 12.x instead of GCC 11.x on CI job
  .github/workflows/ci.yml
Labels: infrastructure

#2917 Ensure RZ_ANALYSIS_ARCHINFO_MIN_OP_SIZE always return at least 1
  librz/analysis/analysis.c
  test/db/formats/prg
  test/db/formats/smd
Labels: rz-test, RzAnalysis

#2919 Fix rz_core_search_value_in_range (aav) for big endian hosts
  librz/core/canalysis.c
  librz/include/rz_types_base.h
Labels: API, RzCore

#2921 Fix `pg` with fewer than 5 arguments
  librz/core/cmd/cmd_print.c
  test/db/cmd/cmd_pg
Labels: rz-test, RzCore

#2928 Fix path to meson on Mac
  .github/workflows/ci.yml
  .github/workflows/code-analysis.yml
  .github/workflows/linter.yml
Labels: infrastructure

#2931 core/cmd: print graph when dmhg is executed
  librz/core/cmd/cmd_linux_heap_glibc.c
Labels: RzCore

#2932 core/cmd: fix CHOICES argument selection between choices_cb/choices
  librz/core/cautocmpl.c
  librz/core/cmd/cmd_api.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs_generate.py
  librz/include/rz_cmd.h
  test/integration/test_autocmplt.c
  test/unit/test_cmd.c
Labels: rz-test, API, RzCore

#2933 Fix cu[1248] and cb on big endian
  librz/core/cmd/cmd_cmp.c
  test/db/cmd/cmd_c
Labels: rz-test, RzCore

#2934 build: add option to choose to regenerate cmd_descs.[ch]
  librz/core/cmd_descs/meson.build
  meson_options.txt
Labels: RzCore

#2937 Handle endianess during MZ format parsing
  librz/bin/format/mz/mz.c
Labels: RzBin

#2945 Meson refactor: collect modules in dict and centralize config
  librz/analysis/meson.build
  librz/asm/meson.build
  librz/bin/meson.build
  librz/bp/meson.build
  librz/config/meson.build
  librz/cons/meson.build
  librz/core/meson.build
  librz/crypto/meson.build
  librz/debug/meson.build
  librz/demangler/meson.build
  librz/diff/meson.build
  librz/egg/meson.build
  librz/flag/meson.build
  librz/hash/meson.build
  librz/il/meson.build
  librz/io/meson.build
  librz/lang/meson.build
  librz/magic/meson.build
  librz/main/meson.build
  librz/meson.build
  librz/parse/meson.build
  librz/reg/meson.build
  librz/search/meson.build
  librz/sign/meson.build
  librz/socket/meson.build
  librz/syscall/meson.build
  librz/type/meson.build
  librz/util/meson.build
Labels: RzIO, RzLang, RzBin, RzAnalysis, RzDebug, RzCore, RzCrypto, RzParse, RzFlag, RzSyscall, RzType, RzEgg, RzUtil, RzHash, RzDiff, RzCons, RzReg, RZIL, RzBreakpoint, RzConfig, RzMagic, RzSearch, RzSocket

#2941 Handle endianess during NE format parsing
  librz/bin/format/ne/ne.c
  librz/bin/format/ne/ne_specs.h
Labels: RzBin

#2948 Replace meson cmake module usage by plain configure_file()
  .github/workflows/muon.yml
  librz/RzModulesConfig.cmake.in
  librz/meson.build
  meson.build
Labels: infrastructure

#2916 Convert `ag` to rzshell
  librz/analysis/diff.c
  librz/core/canalysis.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/core_private.h
  librz/include/rz_core.h
  test/db/cmd/cmd_ag
  test/db/cmd/cmd_agC
  test/db/cmd/cmd_agf
  test/db/cmd/cmd_graph
  test/db/json/json1
Labels: rz-test, RzAnalysis, API, RzCore

#2947 Rewritten partially rz_run_parseline
  librz/io/p/io_debug.c
  librz/socket/run.c
  test/db/archos/not-windows-any/rz_run
  test/db/tools/rz_run
Labels: rz-test, RzIO, RzSocket

#2951 core/cmd_descs: do not duplicate function declarations
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs_generate.py
Labels: RzCore

#2943 Expose `pda` and fix memory leaks
  librz/asm/asm.c
  librz/core/cmd/cmd_print.c
  librz/core/disasm.c
  librz/include/rz_core.h
Labels: API, RzCore

#2980 Fix unused variable warnings on MacOS ARM64
  librz/debug/p/debug_native.c
  librz/debug/p/native/xnu/xnu_debug.c
Labels: RzDebug, MacOS

#2984 Update rz-libdemangle
  subprojects/libdemangle.wrap
  test/db/analysis/java
  test/db/formats/java
Labels: rz-test

#2985 Make all visual functions private (RZ_IPI)
  librz/core/agraph.c
  librz/core/cconfig.c
  librz/core/cmd/cmd.c
  librz/core/core.c
  librz/core/core_private.h
  librz/core/meson.build
  librz/core/tui/panels.c
  librz/core/tui/vasm.c
  librz/core/tui/visual.c
  librz/core/tui/visual_tabs.inc
  librz/core/tui/vmarks.c
  librz/core/tui/vmenus.c
  librz/core/tui/vmenus_graph.c
  librz/include/rz_core.h
  librz/include/rz_util/rz_table.h
  librz/util/table.c
Labels: API, RzCore, refactor, RzUtil

#2988 Use correct enum for MOD and SMOD
  librz/il/il_opcodes.c
  test/db/asm/ppc_64
Labels: rz-test, RZIL

#2990 Use Ubuntu 22.04.1 Jammy for GCC 11 CI job
  .github/workflows/ci.yml
Labels: infrastructure, merge-when-green
