Repository rizinorg/rizin, pull requests merged in 2022-02, with the labels that each got.

#2258 bf_syscall_write: Use `fflush` and don't print NUL
  librz/analysis/p/analysis_bf.c
  test/db/rzil/bf
Labels: RzAnalysis

#2278 Add patching for R_386_32 and R_386_PC32
  librz/bin/p/bin_elf.inc
  test/db/formats/elf/reloc
  test/db/formats/elf/sections
Labels: RzBin, merge-when-green, ELF

#2286 Fix cmn, teq and tst in arm32 assembler
  librz/asm/arch/arm/armass.c
  test/db/asm/arm_32
Labels: merge-when-green

#2289 Rename functions properly and ensure to remove the old flags.
  librz/flag/flag.c
  librz/include/rz_flag.h
  librz/signature/flirt.c
  test/db/cmd/cmd_zignature
Labels: merge-when-green, FLIRT

#2287 Add floating point support to math operations
  librz/core/cmd/cmd_help.c
  test/db/cmd/cmd_help
  test/db/cmd/feat_variables
  test/db/formats/firmware
Labels: RzCore

#2281 Finish converting `o` commands to rzshell
  librz/core/cfile.c
  librz/core/cmd/cmd.c
  librz/core/cmd/cmd_open.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
  librz/core/cmd_descs/cmd_open.yaml
  librz/include/rz_core.h
  test/db/cmd/cmd_open
  test/db/cmd/project
  test/db/formats/ar
  test/db/formats/bf
  test/db/formats/dex
  test/db/formats/mach0/relocs
  test/db/io/many
  test/db/io/omp
  test/db/json/json3
  test/db/tools/rz
Labels: RzCore

#2294 Fix #2288: Clear `ds->opstr` on pdf '`..`'
  librz/core/disasm.c
  test/db/cmd/cmd_af
  test/db/cmd/cmd_pd2
  test/db/formats/elf/reloc
Labels: merge-when-green

#2293 Convert `wa` commands to rzshell
  librz/core/cio.c
  librz/core/cmd/cmd_write.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_write.yaml
  librz/core/hack.c
  librz/include/rz_core.h
  test/db/analysis/arm
  test/db/analysis/x86_32
  test/db/cmd/cmd_ahi
  test/db/cmd/cmd_dh
  test/db/cmd/cmd_graph
  test/db/cmd/cmd_pd
  test/db/cmd/cmd_pd2
  test/db/cmd/cmd_search
  test/db/cmd/cmd_search_hit
  test/db/cmd/cmds
  test/db/cmd/describe
  test/db/cmd/feat_variables
  test/db/cmd/noreturn
  test/db/cmd/singleline
  test/db/cmd/write
  test/db/esil/arm_16
  test/db/esil/arm_32
  test/db/esil/avr
  test/db/esil/x86_32
  test/db/esil/x86_64
Labels: RzCore

#2297 Convert 'wc' commands to rzshell
  librz/core/cio.c
  librz/core/cmd/cmd_write.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_write.yaml
  librz/include/rz_core.h
  librz/include/rz_io.h
  librz/io/io_cache.c
  test/db/io/cache
  test/db/rzil/bf
Labels: RzCore

#2301 Fix #2300 - name is too limited
  librz/signature/flirt.c
Labels: merge-when-green

#2302 Fix #2299: `?p` ignores `io.va`
  librz/core/cmd/cmd_help.c
  test/db/cmd/cmd_help
Labels: RzCore

#2304 Fix leaks in rz-asm -A
  librz/main/rz-asm.c
Labels: rz-asm

#2305 `?P`: Ignore `io.va`
  librz/core/cmd/cmd_help.c
  test/db/cmd/cmd_help
Labels: RzCore

#2312 [COFF] Add SH, MIPS and ARM support
  librz/bin/format/coff/coff.c
  librz/bin/p/bin_coff.c
Labels: RzBin

#2256 rz-find: enable search within import and symbol table
  librz/main/rz-find.c
  test/db/tools/rz_find
Labels: rz-find

#2325 Convert 'we' commands to rzshell
  librz/core/cio.c
  librz/core/cmd/cmd_write.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_write.yaml
  librz/include/rz_core.h
  librz/include/rz_io.h
  librz/io/io.c
  librz/io/io_desc.c
  test/db/cmd/cmd_extend
  test/db/cmd/cmd_shift
Labels: RzCore

#2333 Drop `scr.interactive` requirement for `s` error
  librz/core/cmd/cmd_seek.c
  test/db/cmd/cmd_i
Labels: RzCore

#2334 Fix rz_bv_len_bytes()
  librz/util/bitvector.c
  test/unit/test_bitvector.c
Labels: rz-test

#2336 Refactor Arm IT handling and fix for 4-byte ops
  librz/analysis/p/analysis_arm_cs.c
  librz/asm/arch/arm/arm_it.c
  librz/asm/arch/arm/arm_it.h
  librz/asm/meson.build
  librz/asm/p/asm_arm_cs.c
  test/db/analysis/arm
Labels: RzAnalysis, ARM

#2343 RzIL: add various ops to opbuilder
  librz/include/rz_il/rz_il_opbuilder_begin.h
  librz/include/rz_il/rz_il_opbuilder_end.h
Labels: API

#2341 Fix Meson subprojects language option
  subprojects/mpc/meson.build
  subprojects/packagefiles/libzip-1.7.3/meson.build
  subprojects/packagefiles/tree-sitter-c/meson.build
Labels: merge-when-green

#2345 Fix UB in rz_bv_set_all(..., 64)
  librz/util/bitvector.c
  test/unit/test_bitvector.c
Labels: rz-test

#2348 Fix trailing bits in rz_bv_set_to_bytes_le()
  librz/util/bitvector.c
  test/unit/test_bitvector.c
Labels: rz-test

#2332 Fix rz_path_prefix not working when BINDIR is at the root directory or several folders deep
  librz/include/rz_userconf.h.in
  librz/include/rz_util/rz_path.h
  librz/util/file.c
  librz/util/path.c
  meson.build
Labels: API

#2241 [RzIL] Add lifter for 32-bit Arm, including thumb
  librz/analysis/arch/arm/arm_cs.h
  librz/analysis/arch/arm/arm_il32.c
  librz/analysis/meson.build
  librz/analysis/p/analysis_arm_cs.c
  librz/il/il_opcodes.c
  librz/include/rz_il/rz_il_opbuilder_begin.h
  librz/include/rz_il/rz_il_opcodes.h
  test/db/analysis/arm
  test/db/asm/arm_16
  test/db/asm/arm_32
  test/db/rzil/arm32
Labels: rz-test, RzAnalysis, API, ARM

#2353 Fix ub shift in Arm IL lifter
  librz/analysis/arch/arm/arm_il32.c
Labels: merge-when-green

#2350 Fix double-free detected by scan-build
  librz/bin/dwarf.c
  librz/core/cmeta.c
Labels: merge-when-green, DWARF

#2356 Optimize parsing flirt sig files when just reading header infos
  librz/include/rz_flirt.h
  librz/signature/flirt.c
  librz/signature/sigdb.c
Labels: FLIRT

#2361 RzCmd: add support for dynamically generated details sections
  librz/core/cmd/cmd.c
  librz/core/cmd/cmd_api.c
  librz/core/cmd/cmd_hash.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
  librz/core/cmd_descs/cmd_descs_generate.py
  librz/include/rz_cmd.h
  test/db/cmd/cmd_help
  test/unit/test_cmd.c
Labels: rz-test, RzCore

#2362 RzCmd: add support for dynamic arg choices
  librz/core/cautocmpl.c
  librz/core/cmd/cmd_api.c
  librz/core/cmd/cmd_info.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
  librz/core/cmd_descs/cmd_descs_generate.py
  librz/core/cmd_descs/cmd_info.yaml
  librz/include/rz_cmd.h
  test/unit/test_autocmplt.c
Labels: rz-test, RzCore

#2367 aezsu: Fix outdated `pc` when checking for completion
  librz/core/cmd/cmd_analysis.c
  test/db/cmd/cmd_aez
Labels: RzCore

#2368 Fix separation of fpu and gpr in arm64 reg profile
  librz/analysis/p/analysis_arm_cs.c
  test/db/formats/elf/core
Labels: RzAnalysis, ARM

#2328 Add option to install sigdb systemwise and custom user location for additional signatures
  .gitignore
  librz/analysis/meson.build
  librz/asm/meson.build
  librz/bin/meson.build
  librz/bp/meson.build
  librz/config/meson.build
  librz/cons/meson.build
  librz/core/canalysis.c
  librz/core/cconfig.c
  librz/core/meson.build
  librz/crypto/meson.build
  librz/debug/meson.build
  librz/demangler/meson.build
  librz/diff/meson.build
  librz/egg/meson.build
  librz/flag/meson.build
  librz/hash/meson.build
  librz/il/meson.build
  librz/include/rz_userconf.h.in
  librz/io/meson.build
  librz/lang/meson.build
  librz/magic/meson.build
  librz/main/meson.build
  librz/main/rizin.c
  librz/parse/meson.build
  librz/reg/meson.build
  librz/search/meson.build
  librz/signature/meson.build
  librz/signature/sigdb.c
  librz/socket/meson.build
  librz/syscall/meson.build
  librz/type/meson.build
  librz/util/meson.build
  meson.build
  meson_options.txt
  subprojects/sigdb.wrap
  sys/check_meson_subproject.py
Labels: rizin, merge-when-green, FLIRT

#2370 Update capstone-next
  subprojects/capstone-next.wrap
Labels: merge-when-green
