Repository rizinorg/rizin, pull requests merged in 2022-01, with the labels that each got.

#2157 Use analysis_get_function_in() wherever possible
  librz/core/cmd/cmd_analysis.c
Labels: RzCore

#2161 Show error if no-arg macro is called with args
  librz/core/cmd/cmd_api.c
  test/db/cmd/cmd_macros
Labels: RzCore

#2162 Port `ft` commands to the rzshell
  librz/core/cmd/cmd_flag.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
  librz/core/cmd_descs/cmd_flag.yaml
  librz/core/cmd_descs/meson.build
  librz/flag/tags.c
  librz/include/rz_flag.h
  test/db/cmd/cmd_flags
Labels: RzCore, RzFlag, shell

#2155 [RzIL] RzReg/Variable Binding
  librz/analysis/p/analysis_bf.c
  librz/analysis/rzil/rzil.c
  librz/core/cil.c
  librz/core/cmd/cmd_analysis.c
  librz/il/il_reg.c
  librz/il/il_vm.c
  librz/il/il_vm_eval.c
  librz/il/meson.build
  librz/include/rz_il.h
  librz/include/rz_il/rz_il_reg.h
  librz/include/rz_il/rz_il_vm.h
  librz/include/rz_reg.h
  librz/include/rz_util/rz_bitvector.h
  librz/reg/rvalue.c
  librz/util/bitvector.c
  test/db/cmd/cmd_aez
  test/db/rzil/bf
  test/unit/meson.build
  test/unit/test_il_reg.c
  test/unit/test_reg.c
Labels: rz-test, RzAnalysis, API, ESIL, RzCore, RZIL

#2163 Use API instead of commands in Visual Panels
  librz/core/cmd/cmd_debug.c
  librz/core/core_private.h
  librz/core/fortune.c
  librz/core/tui/panels.c
  librz/include/rz_core.h
Labels: RzCore, visual, panel

#2164 Rename RZIL occurences to RZ_IL
  librz/analysis/analysis.c
  librz/analysis/p/analysis_bf.c
  librz/analysis/rzil/rzil.c
  librz/analysis/rzil/rzil_stats.c
  librz/analysis/rzil/rzil_trace.c
  librz/core/cil.c
  librz/debug/trace.c
  librz/il/definitions/value.c
  librz/il/il_events.c
  librz/il/il_export.c
  librz/il/il_opcodes.c
  librz/il/il_reg.c
  librz/il/il_vm.c
  librz/il/il_vm_eval.c
  librz/il/theory_effect.c
  librz/il/theory_init.c
  librz/include/rz_analysis.h
  librz/include/rz_il/definitions/value.h
  librz/include/rz_il/definitions/variable.h
  librz/include/rz_il/rz_il_events.h
  librz/include/rz_il/rz_il_opcodes.h
  librz/include/rz_il/rz_il_reg.h
  librz/include/rz_il/rz_il_vm.h
  test/unit/test_il_definitions.c
  test/unit/test_il_reg.c
  test/unit/test_il_vm.c
Labels: rz-test, RzAnalysis, API, ESIL, RZIL

#2156 RzDiff optimizations and fix #1770
  librz/core/gdiff.c
  librz/main/rz-diff.c
  test/db/tools/rz_diff
Labels: rz-diff

#2119 Implement RZIL effects: `BLK` and `REPEAT`
  librz/il/il_export.c
  librz/il/il_opcodes.c
  librz/il/il_vm_eval.c
  librz/il/theory_effect.c
  librz/include/rz_il/rz_il_opcodes.h
  test/unit/test_il_vm.c
Labels: rz-test, API, test-required, merge-when-green, high-priority, RZIL

#2067 Search `RzAnalysisOp.analysis_vals[]` for xrefs.
  librz/core/canalysis.c
  librz/core/cmd/cmd_analysis.c
  librz/include/rz_core.h
  test/db/analysis/hexagon
Labels: RzCore

#2175 Remove optional <addr> argument for afb commands
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  test/db/analysis/x86_64
Labels: RzCore

#2176 Fix #1377 - Handle forward definitions in PDB parser
  librz/analysis/type_pdb.c
  librz/type/base.c
  test/db/cmd/types
  test/unit/test_pdb.c
Labels: rz-test, PDB

#2174 [RzIL] Rework Variable Handling
  librz/analysis/p/analysis_bf.c
  librz/core/cil.c
  librz/il/definitions/bag.c
  librz/il/definitions/value.c
  librz/il/definitions/variable.c
  librz/il/il_export.c
  librz/il/il_opcodes.c
  librz/il/il_reg.c
  librz/il/il_vm.c
  librz/il/il_vm_eval.c
  librz/il/meson.build
  librz/il/theory_bitv.c
  librz/il/theory_bool.c
  librz/il/theory_effect.c
  librz/il/theory_init.c
  librz/il/theory_mem.c
  librz/include/meson.build
  librz/include/rz_il/definitions/bag.h
  librz/include/rz_il/definitions/definitions.h
  librz/include/rz_il/definitions/sort.h
  librz/include/rz_il/definitions/value.h
  librz/include/rz_il/definitions/variable.h
  librz/include/rz_il/rz_il_opcodes.h
  librz/include/rz_il/rz_il_vm.h
  librz/include/rz_util/rz_bitvector.h
  librz/util/bitvector.c
  test/unit/test_il_reg.c
  test/unit/test_il_vm.c
Labels: rz-test, RzAnalysis, API, ESIL, RZIL

#2160 Convert ac commands to rzshell
  librz/analysis/class.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/include/rz_analysis.h
  test/db/cmd/cmd_ac
Labels: RzCore, shell

#2189 Fix the RZ_BIN_PREFIX test for Windows
  .appveyor.yml
  test/db/tools/rz_bin
Labels: infrastructure, merge-when-green, high-priority

#2182 [RzIL] Add Validator (Type-checker)
  librz/il/il_export.c
  librz/il/il_opcodes.c
  librz/il/il_validate.c
  librz/il/il_vm.c
  librz/il/il_vm_eval.c
  librz/il/meson.build
  librz/il/theory_init.c
  librz/include/meson.build
  librz/include/rz_il.h
  librz/include/rz_il/definitions/sort.h
  librz/include/rz_il/rz_il_events.h
  librz/include/rz_il/rz_il_opcodes.h
  librz/include/rz_il/rz_il_validate.h
  librz/include/rz_il/rz_il_vm.h
  librz/include/rz_util/rz_str.h
  librz/util/str_trim.c
  test/unit/meson.build
  test/unit/test_il_definitions.c
  test/unit/test_il_validate.c
Labels: rz-test, API

#2193 Change IL string syntax to s-expressions
  librz/core/cil.c
  librz/il/il_export.c
  librz/include/rz_util/rz_bitvector.h
  librz/util/bitvector.c
  test/db/asm/bf
  test/db/rzil/bf
  test/db/tools/rz_asm
  test/unit/test_bitvector.c
Labels: rz-test, API, ESIL, RZIL

#2192 Convert `om` commands to rzshell
  librz/core/cmd/cmd_open.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_open.yaml
  librz/main/rizin.c
  test/db/analysis/x86_32
  test/db/archos/linux-x64/dbg_oo
  test/db/cmd/cmd_open
  test/db/cmd/cmd_pf2
  test/db/cmd/project
  test/db/cmd/simple-elf
  test/db/cmd/tables
  test/db/formats/bflt
  test/db/formats/coff
  test/db/formats/dex
  test/db/formats/dmp/dmp
  test/db/formats/dyldcache
  test/db/formats/elf/core
  test/db/formats/elf/helloworld-phdr-elf
  test/db/formats/elf/reloc
  test/db/formats/elf/sections
  test/db/formats/elf/tiny
  test/db/formats/gba
  test/db/formats/gbc
  test/db/formats/mach0/arm64e
  test/db/formats/mach0/fatmach0
  test/db/formats/mach0/relocs
  test/db/formats/mdmp
  test/db/formats/menuet
  test/db/formats/nes
  test/db/formats/ninds
  test/db/formats/nro
  test/db/formats/nso
  test/db/formats/omf
  test/db/formats/pe/65535sects
  test/db/formats/pe/CoST
  test/db/formats/pe/hellocxx
  test/db/formats/pe/nosectionW7
  test/db/formats/pe/nosectionXP
  test/db/formats/pe/sectiondata
  test/db/formats/plan9
  test/db/formats/psx
  test/db/formats/pyc
  test/db/formats/qnx
  test/db/formats/smd
  test/db/formats/sms
  test/db/formats/spc700
  test/db/formats/vsf/rambo2-norom
  test/db/formats/vsf/rambo2-rom
  test/db/formats/vsf/rhps-norom
  test/db/formats/vsf/rhps-rom
  test/db/formats/web_assembly
  test/db/formats/z64
  test/db/formats/zimg
  test/db/io/maps
  test/db/io/om
  test/db/io/omp
  test/db/json/json3
Labels: rizin, RzCore

#2196 Add asm auto-fix and diff to rz-test
  binrz/rz-test/rz-test.c
Labels: rz-test

#2184 Fix #2135: Add `..(` command
  librz/core/cmd/cmd_api.c
  librz/core/cmd/cmd_interpret.c
  librz/core/cmd/cmd_macro.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_interpret.yaml
  librz/include/rz_cmd.h
  subprojects/rizin-shell-parser/corpus/special_commands.txt
  subprojects/rizin-shell-parser/grammar.js
  subprojects/rizin-shell-parser/src/grammar.json
  subprojects/rizin-shell-parser/src/parser.c
  test/db/cmd/cmd_aes
  test/db/cmd/cmd_help
  test/db/cmd/cmd_macros
Labels: RzCore

#2202 Use GitHub mirror for TinyC compiler
  .github/workflows/tcc.yml
Labels: infrastructure

#2199 Print path and GUID of the downloaded PDB file in the JSON output
  librz/bin/pdb/pdb_downloader.c
  librz/bin/pdb/pdb_downloader.h
  test/db/formats/pdb
Labels: RzBin, merge-when-green

#2201 Convert 'ob' commands to rzshell
  librz/core/cbin.c
  librz/core/cfile.c
  librz/core/cmd/cmd_open.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
  librz/core/cmd_descs/cmd_open.yaml
  librz/include/rz_core.h
  librz/main/rizin.c
  test/db/cmd/cmd_open
  test/db/json/json3
Labels: rizin, RzCore

#1993 Switch to Visual Studio 2022 in AppVeyor
  .appveyor.yml
Labels: infrastructure, Windows

#2208 Convert `fs` commands to rzshell
  librz/core/cmd/cmd.c
  librz/core/cmd/cmd_eval.c
  librz/core/cmd/cmd_flag.c
  librz/core/cmd/cmd_meta.c
  librz/core/cmd/cmd_regs.c
  librz/core/cmd/cmd_zign.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_flag.yaml
  librz/core/cmeta.c
  librz/core/core.c
  librz/core/core_private.h
  test/db/abi/compilers/clang
  test/db/abi/compilers/clang_64
  test/db/abi/compilers/gcc
  test/db/abi/compilers/gcc_64
  test/db/abi/compilers/pelles_c
  test/db/abi/compilers/visual_studio
  test/db/analysis/avr
  test/db/cmd/cmd_ar
  test/db/cmd/cmd_flags
  test/db/formats/elf/helloworld-gcc-elf
Labels: RzCore

#2186 Fix memory leak in rz_debug_free()
  librz/debug/debug.c
Labels: waiting-for-author

#2214 [RzIL] Make bf emulation stateless
  librz/analysis/p/analysis_bf.c
  test/db/asm/bf
  test/db/rzil/bf
Labels: RzAnalysis, merge-when-green

#2215 [RzIL] Refactor RzAnalysis side of IL
  doc/rzil.md
  librz/analysis/analysis.c
  librz/analysis/il/analysis_il.c
  librz/analysis/il/analysis_il_trace.c
  librz/analysis/meson.build
  librz/analysis/p/analysis_6502.c
  librz/analysis/p/analysis_bf.c
  librz/analysis/rzil/rzil.c
  librz/analysis/rzil/rzil_stats.c
  librz/core/analysis_tp.c
  librz/core/cil.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/core_private.h
  librz/debug/trace.c
  librz/il/definitions/label.c
  librz/il/il_reg.c
  librz/il/il_vm.c
  librz/include/rz_analysis.h
  librz/include/rz_il/definitions/label.h
  librz/include/rz_il/rz_il_reg.h
  librz/include/rz_il/rz_il_vm.h
  librz/main/rz-asm.c
  test/db/cmd/cmd_aez
  test/db/rzil/bf
  test/integration/meson.build
  test/integration/test_analysis_il.c
  test/unit/test_il_reg.c
Labels: rz-asm, rz-test, RzAnalysis, API, ESIL, RzCore, RZIL

#2223 [FLIRT] Add sigdb details and fixed bugs
  librz/analysis/meson.build
  librz/analysis/sigdb.c
  librz/core/canalysis.c
  librz/include/rz_analysis.h
  librz/include/rz_flirt.h
  librz/signature/flirt.c
  librz/signature/meson.build
  librz/signature/sigdb.c
  test/db/cmd/cmd_aaF
  test/db/cmd/cmd_zignature
  test/db/tools/rz_sign
Labels: FLIRT

#2242 Add RZ_ANALYSIS_OP_MASK_IL to RzAnalysisOpMask
  librz/analysis/il/analysis_il.c
  librz/analysis/p/analysis_6502.c
  librz/analysis/p/analysis_bf.c
  librz/core/cmd/cmd_analysis.c
  librz/include/rz_analysis.h
  librz/main/rz-asm.c
Labels: rz-asm, RzAnalysis, RzCore

#2222 Fix OOB in overlapping variables resolution
  librz/analysis/var.c
  librz/core/analysis_tp.c
  librz/core/cmd/cmd_analysis.c
  librz/core/ctypes.c
  librz/core/tui/vmenus.c
  librz/include/rz_analysis.h
  test/db/analysis/x86_64
Labels: bug, RzCore

#2245 Add test for case-insensitivity of #2236
  .appveyor.yml
  test/db/formats/bf
Labels: infrastructure

#2246 Fix many pointer/int conversion warnings on arm32
  librz/analysis/block.c
  librz/bin/format/le/le.c
  librz/bin/format/mach0/mach0.c
  librz/core/tui/panels.c
  librz/util/file.c
  test/unit/test_analysis_block.c
  test/unit/test_il_vm.c
  test/unit/test_uleb128.c
  test/unit/test_vector.c
Labels: rz-test, RzCore

#2252 Set `bf` machine memory size to 30,000
  librz/bin/p/bin_bf.c
  test/db/formats/bf
Labels: RzBin

#2220 Add power/exponent to math operations
  doc/esil.md
  librz/include/rz_util/rz_num.h
  librz/util/calc.c
  test/db/cmd/cmd_help
Labels: API

#2259 Use `rz_file_path_join` in rz-find to avoid duplicated dir separator
  librz/main/rz-find.c
Labels: rz-test, rz-find, API

#2264 Localize ARM accessor macros to 32/64-bit
  librz/analysis/arch/arm/arm_accessors.h
  librz/analysis/arch/arm/arm_accessors32.h
  librz/analysis/arch/arm/arm_accessors64.h
  librz/analysis/arch/arm/arm_esil32.c
  librz/analysis/arch/arm/arm_esil64.c
  librz/analysis/p/analysis_arm_cs.c
Labels: RzAnalysis, ARM

#2261 Enable specifying exact reg bindings in RzAnalysisILConfig
  librz/analysis/il/analysis_il.c
  librz/il/il_reg.c
  librz/include/rz_analysis.h
  test/unit/test_il_reg.c
Labels: rz-test, RzAnalysis
