Repository rizinorg/rizin, pull requests merged in 2023-05, with the labels that each got.

#3491 Add thread-safe hash tables
  librz/include/meson.build
  librz/include/rz_th.h
  librz/include/rz_util/rz_th_ht.h
  librz/util/meson.build
  librz/util/thread_hash_table.c
  test/unit/test_threads.c
Labels: rz-test, API, RzUtil

#3497 Remove incomplete ESIL support for WASM
  librz/analysis/p/analysis_wasm.c
  test/db/cmd/cmd_list
Labels: rz-test, RzAnalysis

#3499 dbg.follow: Follow when pc >= core->offset + dbg.follow
  librz/core/cconfig.c
  librz/core/cdebug.c
  librz/core/cesil.c
  librz/core/tui/visual.c
  test/db/archos/linux-x64/dbg_step
Labels: rz-test, RzCore

#3503 Fix dbg_step test on Ubuntu 20.04
  test/db/archos/linux-x64/dbg_step
Labels: rz-test

#3485 librz: fix UAF in plugin deletion
  librz/analysis/analysis.c
  librz/asm/asm.c
  librz/bin/bin.c
  librz/parse/parse.c
Labels: RzBin, RzAnalysis, RzParse

#3509 Add float to raw bitvector conversion.
  librz/il/il_export.c
  librz/il/il_opcodes.c
  librz/il/il_validate.c
  librz/il/il_vm_eval.c
  librz/il/theory_fbasic.c
  librz/include/rz_il/rz_il_opcodes.h
  librz/include/rz_util/rz_float.h
  librz/util/float/float.c
  test/unit/test_float.c
Labels: rz-test, API, RzUtil, RZIL

#3511 Dwarf sourceline info
  librz/core/cconfig.c
  librz/core/disasm.c
  test/db/extras/cmd/dwarf.lines
Labels: rz-test, RzCore

#3514 Refactor `disasm.c` color
  librz/core/disasm.c
  test/db/cmd/cmd_pipe
  test/db/formats/elf/reloc
Labels: rz-test, RzCore

#3513 Rename `asm.dwarf` to `asm.debuginfo`
  librz/core/cbin.c
  librz/core/cconfig.c
  librz/core/cgraph.c
  librz/core/cprint.c
  librz/core/disasm.c
  librz/core/tui/visual.c
  test/db/archos/linux-x64/dbg_bps
  test/db/cmd/dwarf
  test/db/extras/cmd/dwarf.lines
  test/prj/v2-typelink-callables.rzdb
  test/prj/v2-types-empty.rzdb
Labels: rz-test, RzCore

#3510 Automatically cancel any previous workflow on new push in the same branch
  .github/workflows/ci.yml
  .github/workflows/code-analysis.yml
  .github/workflows/coverity-scan.yml
  .github/workflows/labeler.yml
  .github/workflows/linter.yml
  .github/workflows/muon.yml
  .github/workflows/rzshell-treesitter-tests.yml
  .github/workflows/tcc.yml
Labels: infrastructure

#3517 Revert "Add float to raw bitvector conversion. (#3509)"
  librz/il/il_export.c
  librz/il/il_opcodes.c
  librz/il/il_validate.c
  librz/il/il_vm_eval.c
  librz/il/theory_fbasic.c
  librz/include/rz_il/rz_il_opcodes.h
  librz/include/rz_util/rz_float.h
  librz/util/float/float.c
  test/unit/test_float.c
Labels: rz-test, API, RzUtil, RZIL

#3519 Fix arm64 adrp assembler
  librz/asm/arch/arm/armass64.c
  test/db/asm/arm_64
Labels: rz-test, ARM, RzAsm-Assembler

#3516 Add Float Operation Builder Macros in RzIL OpBuilder
  librz/include/rz_il/rz_il_opbuilder_begin.h
  librz/include/rz_il/rz_il_opbuilder_end.h
Labels: API

#3522 Fix compile warnings
  librz/analysis/p/analysis_x86_cs.c
  librz/asm/arch/xap/dis.c
  librz/debug/p/native/linux/linux_debug.h
Labels: RzAnalysis, RzDebug, X86, RzAsm-Disassembler

#3527 Fix oob read from corrupt dyldcache dependents
  librz/bin/format/mach0/dyldcache.c
Labels: RzBin, Mach-O

#3531 Remove incomplete ESIL support for RSP
  librz/analysis/p/analysis_rsp.c
  test/db/cmd/cmd_list
Labels: rz-test, RzAnalysis

#3533 Fix unregistered comiss type
  librz/analysis/op.c
  librz/analysis/p/analysis_x86_cs.c
  librz/include/rz_analysis.h
Labels: RzAnalysis, API, X86

#3532 Fix pointer casting to integer
  librz/util/axml.c
  librz/util/thread.c
Labels: RzUtil

#3534 Fix oob write in dyldcache accel loading
  librz/bin/format/mach0/dyldcache.c
Labels: RzBin, Mach-O

#3536 Add support for dyldcache headers up to dyld-1042.1
  librz/bin/format/mach0/dyldcache.c
  librz/bin/format/mach0/dyldcache.h
  librz/bin/format/mach0/mach0_specs.h
  librz/bin/p/bin_dyldcache.c
  test/db/formats/dyldcache
Labels: rz-test, RzBin, Mach-O

#3537 Remove dead code from DWARF parser
  librz/bin/dwarf.c
Labels: RzBin, DWARF

#3530 Fix function argument by DWARF
  librz/analysis/dwarf_process.c
  librz/analysis/var.c
  librz/include/rz_analysis.h
  test/db/analysis/vars
  test/db/cmd/dwarf
  test/integration/test_dwarf_integration.c
Labels: rz-test, RzAnalysis, API, DWARF

#3538 Ensure the concurrency job group is unique
  .github/workflows/ci.yml
  .github/workflows/code-analysis.yml
  .github/workflows/coverity-scan.yml
  .github/workflows/labeler.yml
  .github/workflows/linter.yml
  .github/workflows/muon.yml
  .github/workflows/rzshell-treesitter-tests.yml
  .github/workflows/tcc.yml
Labels: infrastructure
