Repository rizinorg/rizin, pull requests merged in 2023-10, with the labels that each got.

#3906 Move DWARF attribute class enum into file scope
  librz/include/rz_bin_dwarf.h
Labels: API

#3900 Rz endian docs
  librz/include/rz_endian.h
  test/unit/test_endian.c
Labels: rz-test, API

#3911 core/cmd: fix some leftover of ?i command
  librz/core/agraph.c
  librz/core/cmd/cmd_math.c
  librz/core/cmd/cmd_print.c
  librz/core/core_private.h
  librz/core/tui/panels.c
  librz/core/tui/rop.c
  librz/core/tui/visual.c
  librz/core/tui/vmenus.c
  librz/core/tui/vmenus_graph.c
  librz/debug/p/native/windows/windows_message.c
Labels: RzDebug, RzCore, Windows

#3913 dsui: Remove error msg on success
  librz/core/cmd/cmd_debug.c
  test/db/archos/linux-x64/dbg_trace
Labels: rz-test, RzCore

#3736 ci: switch to softprops/action-gh-release
  .github/workflows/ci.yml
Labels: infrastructure

#3910 Move Hashtable and Set primitives to RzUtil
  librz/include/meson.build
  librz/include/rz_util/ht_inc.h
  librz/include/rz_util/ht_pp.h
  librz/include/rz_util/ht_pu.h
  librz/include/rz_util/ht_up.h
  librz/include/rz_util/ht_uu.h
  librz/util/ht/ht_inc.c
  librz/util/ht/ht_pp.c
  librz/util/ht/ht_pu.c
  librz/util/ht/ht_up.c
  librz/util/ht/ht_uu.c
  librz/util/meson.build
  librz/util/sdb/src/meson.build
  librz/util/set.c
  librz/util/set.h
Labels: API, RzUtil

#3782 librz: add some initial documentation
  librz/README.md
  librz/analysis/README.md
  librz/asm/README.md
  librz/bin/README.md
  librz/bp/README.md
  librz/config/README.md
  librz/cons/README.md
  librz/core/README.md
  librz/crypto/README.md
  librz/debug/README.md
  librz/demangler/README.md
  librz/diff/README.md
  librz/egg/README.md
  librz/flag/README.md
  librz/hash/README.md
  librz/il/README.md
  librz/io/README.md
  librz/lang/README.md
  librz/magic/README.md
  librz/main/README.md
  librz/parse/README.md
  librz/reg/README.md
  librz/search/README.md
  librz/sign/README.md
  librz/socket/README.md
  librz/syscall/README.md
  librz/type/README.md
  librz/util/README.md
Labels: RzIO, RzLang, RzBin, RzAnalysis, RzDebug, RzCore, RzCrypto, RzParse, RzFlag, RzSyscall, RzType, RzEgg, RzUtil, RzHash, RzDiff, RzCons, RzReg, RZIL, RzBreakpoint, RzConfig, RzMagic, RzSearch, RzSocket

#3854 librz: syscalls in Linux 6.5.3
  librz/syscall/d/linux-arm-64.sdb.txt
  librz/syscall/d/linux-x86-32.sdb.txt
  librz/syscall/d/linux-x86-64.sdb.txt
Labels: RzSyscall

#3912 Buffer trim and document
  librz/util/sdb/src/buffer.c
  librz/util/sdb/src/buffer.h
Labels: RzUtil

#3649 Renesas RL78 disassembler plugin
  librz/analysis/meson.build
  librz/analysis/p/analysis_rl78.c
  librz/asm/arch/rl78/rl78.c
  librz/asm/arch/rl78/rl78.h
  librz/asm/arch/rl78/rl78_instr.c
  librz/asm/arch/rl78/rl78_instr.h
  librz/asm/arch/rl78/rl78_maps.c
  librz/asm/arch/rl78/rl78_maps.h
  librz/asm/arch/rl78/rl78_operand.c
  librz/asm/arch/rl78/rl78_operand.h
  librz/asm/d/rl78.sdb.txt
  librz/asm/meson.build
  librz/asm/p/asm_rl78.c
  librz/include/rz_analysis.h
  librz/include/rz_asm.h
  test/db/analysis/rl78
  test/db/asm/rl78
  test/db/cmd/cmd_list
Labels: rz-test, RzAnalysis, API, merge-when-green

#3923 Try fix memleaks
  librz/analysis/dwarf_process.c
  librz/bin/dwarf/abbrev.c
  librz/bin/dwarf/addr.c
  librz/bin/dwarf/aranges.c
  librz/bin/dwarf/attr.c
  librz/bin/dwarf/endian_reader.c
  librz/bin/dwarf/line.c
  librz/bin/dwarf/loclists.c
  librz/bin/dwarf/op.c
  librz/bin/dwarf/rnglists.c
  librz/bin/dwarf/unit.c
Labels: RzBin, RzAnalysis, DWARF

#3918 Fix a double free.
  librz/analysis/p/analysis_tricore_cs.c
Labels: RzAnalysis

#3925 test/fuzz: fix pylint on fuzz_rz_asm.py
  test/fuzz/scripts/fuzz_rz_asm.py
Labels: rz-test

#3922 Fix fpe and heap buffer overflow
  librz/bin/format/le/le.c
  librz/bin/format/pyc/marshal.c
Labels: RzBin

#3919 Replace RZ_ASM_NOPLUGINS and RZ_BIN_NOPLUGINS with more general RZ_NOPLUGINS
  librz/main/rz-asm.c
  librz/main/rz-bin.c
  librz/main/rz-hash.c
Labels: rz-asm, rz-bin, rz-hash

#3648 [PPC/ARM] Update to Capstone `v6`/`auto-sync`
  librz/analysis/arch/arm/arm_accessors32.h
  librz/analysis/arch/arm/arm_cs.h
  librz/analysis/arch/arm/arm_esil32.c
  librz/analysis/arch/arm/arm_esil64.c
  librz/analysis/arch/arm/arm_il32.c
  librz/analysis/arch/ppc/ppc_analysis.h
  librz/analysis/arch/ppc/ppc_il.c
  librz/analysis/arch/ppc/ppc_il.h
  librz/analysis/arch/ppc/ppc_il_ops.c
  librz/analysis/p/analysis_arm_cs.c
  librz/analysis/p/analysis_ppc_cs.c
  librz/analysis/var.c
  librz/asm/arch/arm/arm_it.c
  librz/asm/p/asm_arm_cs.c
  librz/asm/p/asm_ppc_cs.c
  subprojects/capstone-next.wrap
  subprojects/packagefiles/capstone-next/meson.build
  test/db/abi/platforms/reg_profile
  test/db/analysis/arm
  test/db/analysis/ppc
  test/db/analysis/vars
  test/db/asm/arm_16
  test/db/asm/arm_32
  test/db/asm/ppc_64
  test/db/asm/ppc_qpx_64
  test/db/cmd/cmd_a_capital_o
  test/db/cmd/cmd_ao
  test/db/esil/ppc_32
  test/db/formats/elf/thumb
  test/db/rzil/ppc32
  test/db/rzil/ppc64
  test/db/tools/rz_asm
Labels: rz-test, RzAnalysis, high-priority, ARM, PPC, capstone

#3931 Fix typedb reload
  librz/analysis/analysis.c
  librz/analysis/dwarf_process.c
  test/db/cmd/dwarf
Labels: rz-test, RzAnalysis, DWARF

#3927 le: Fix segv in le.c
  librz/bin/format/le/le.c
Labels: RzBin

#3915 Demangle flags symbols
  librz/core/disasm.c
  test/db/analysis/riscv
  test/db/cmd/cmd_flags
Labels: rz-test, RzCore

#3833 Load split DWARF
  librz/bin/dwarf/abbrev.c
  librz/bin/dwarf/addr.c
  librz/bin/dwarf/aranges.c
  librz/bin/dwarf/dwarf.c
  librz/bin/dwarf/dwarf_private.h
  librz/bin/dwarf/endian_reader.c
  librz/bin/dwarf/line.c
  librz/bin/dwarf/line_str.c
  librz/bin/dwarf/loclists.c
  librz/bin/dwarf/rnglists.c
  librz/bin/dwarf/str.c
  librz/bin/dwarf/str_offsets.c
  librz/bin/dwarf/unit.c
  librz/core/cbin.c
  librz/core/cconfig.c
  librz/core/cdwarf.c
  librz/include/rz_bin_dwarf.h
  test/db/cmd/dwarf
  test/integration/test_dwarf.c
Labels: rz-test, RzBin, API, RzCore, high-priority, DWARF

#3935 Remove `../include/rz_util` from `rz_util_includes`
  librz/analysis/block.c
  librz/analysis/p/analysis_arm_cs.c
  librz/asm/arch/arm/arm_it.h
  librz/asm/p/asm_arm_cs.c
  librz/bin/format/coff/coff.h
  librz/bin/format/coff/coff_reloc.c
  librz/bin/format/elf/elf_dynamic.h
  librz/bin/format/elf/elf_relocs.c
  librz/bin/format/elf/elf_symbols.c
  librz/bin/format/mach0/dyldcache.c
  librz/bin/format/mach0/dyldcache.h
  librz/bin/format/mach0/mach0_relocs.c
  librz/bin/format/pe/pe_rsrc.c
  librz/bin/p/bin_coff.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_mach0.c
  librz/bin/p/bin_symbols.c
  librz/bin/relocs_patch.c
  librz/core/agraph.c
  librz/core/analysis_tp.c
  librz/core/canalysis.c
  librz/core/cil.c
  librz/core/cmd/cmd_search.c
  librz/diff/diff.c
  librz/il/il_validate.c
  librz/include/rz_util/ht_pp.h
  librz/include/rz_util/ht_pu.h
  librz/include/rz_util/ht_up.h
  librz/include/rz_util/ht_uu.h
  librz/include/rz_util/rz_event.h
  librz/include/rz_util/rz_th_ht.h
  librz/include/rz_util/set.h
  librz/util/ht/ht_pp.c
  librz/util/ht/ht_pu.c
  librz/util/ht/ht_up.c
  librz/util/ht/ht_uu.c
  librz/util/meson.build
  librz/util/set.c
  librz/util/sys.c
  test/unit/test_sdb_hash.c
Labels: rz-test, RzBin, RzAnalysis, API, ESIL, RzCore, ELF, PE, Mach-O, ARM, RzUtil, RzDiff, RZIL

#3936 rz_util.h was included twice.
  librz/core/cmd/cmd_api.c
Labels: RzCore

#3916 Fix quit confirmation during debuggin session.
  librz/main/rizin.c
Labels: rizin

#3938 Remove `sdb` from `rz_util_includes`
  librz/util/meson.build
Labels: RzUtil

#3934 Remove Capstone 3 (fix CS 4 & 5)
  .github/workflows/ci.yml
  librz/analysis/arch/arm/arm_accessors32.h
  librz/analysis/arch/arm/arm_accessors64.h
  librz/analysis/arch/arm/arm_cs.h
  librz/analysis/arch/arm/arm_esil32.c
  librz/analysis/arch/arm/arm_esil64.c
  librz/analysis/arch/arm/arm_il32.c
  librz/analysis/arch/arm/arm_il64.c
  librz/analysis/arch/ppc/ppc_il.c
  librz/analysis/arch/ppc/ppc_il.h
  librz/analysis/arch/ppc/ppc_il_ops.c
  librz/analysis/arch/x86/common.c
  librz/analysis/p/analysis_arm_cs.c
  librz/analysis/p/analysis_m680x_cs.c
  librz/analysis/p/analysis_m68k_cs.c
  librz/analysis/p/analysis_mips_cs.c
  librz/analysis/p/analysis_ppc_cs.c
  librz/analysis/p/analysis_x86_cs.c
  librz/asm/arch/arm/arm_it.c
  librz/asm/p/asm_arm_cs.c
  librz/asm/p/asm_m680x_cs.c
  librz/asm/p/asm_mips_cs.c
  librz/asm/p/asm_x86_cs.c
  meson_options.txt
  subprojects/capstone-next.wrap
  subprojects/capstone-v3.wrap
  subprojects/packagefiles/capstone-3.0.5/include/capstone/arm.h
  subprojects/packagefiles/capstone-3.0.5/include/capstone/arm64.h
  subprojects/packagefiles/capstone-3.0.5/include/capstone/capstone.h
  subprojects/packagefiles/capstone-3.0.5/include/capstone/mips.h
  subprojects/packagefiles/capstone-3.0.5/include/capstone/platform.h
  subprojects/packagefiles/capstone-3.0.5/include/capstone/ppc.h
  subprojects/packagefiles/capstone-3.0.5/include/capstone/sparc.h
  subprojects/packagefiles/capstone-3.0.5/include/capstone/systemz.h
  subprojects/packagefiles/capstone-3.0.5/include/capstone/x86.h
  subprojects/packagefiles/capstone-3.0.5/include/capstone/xcore.h
  subprojects/packagefiles/capstone-3.0.5/meson.build
Labels: infrastructure, RzAnalysis, ARM, MIPS, PPC, X86

#3940 [RZIL] Fix reachable endless loop.
  librz/il/theory_effect.c
  test/unit/test_il_validate.c
Labels: rz-test, RZIL

#3941 Move afv to afvl
  librz/analysis/dwarf_process.c
  librz/bin/dwarf/dwarf_private.h
  librz/bin/dwarf/op.c
  librz/bin/dwarf/value.c
  librz/core/cdwarf.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/include/rz_analysis.h
  librz/include/rz_bin_dwarf.h
  test/db/analysis/arm
  test/db/analysis/vars
  test/db/analysis/x86_64
  test/db/archos/linux-x64/dbg_aslr
  test/db/archos/linux-x64/dbg_gdbserver_rebase
  test/db/archos/windows-x64/dbg_rebase
  test/db/cmd/dwarf
  test/db/cmd/types
  test/db/cmd/write
  test/db/formats/mach0/swift
  test/db/json/json1
Labels: rz-test, RzBin, RzAnalysis, API, RzCore, DWARF

#3945 afvl command improvements
  librz/analysis/var.c
  librz/bin/dwarf/op.c
  librz/core/canalysis.c
  librz/core/cmd/cmd_analysis.c
  librz/core/tui/vmenus.c
  librz/include/rz_analysis.h
  test/db/analysis/vars
Labels: rz-test, RzBin, RzAnalysis, API, RzCore
