Repository rizinorg/rizin, pull requests merged in 2023-11, with the labels that each got.

#3947 Parse go 1.20 & 1.21 pclntab
  librz/bin/p/bin_pe.inc
  librz/core/golang.c
  test/db/analysis/golang
Labels: rz-test, RzBin, RzCore, PE

#3949 Fix #3929
  librz/analysis/analysis.c
  librz/core/canalysis.c
  librz/core/cbin.c
  librz/type/type.c
Labels: RzAnalysis, RzCore, RzType

#3953 Fix #3952
  librz/core/disasm.c
  librz/parse/filter.c
  test/db/cmd/dwarf
Labels: rz-test, RzCore, RzParse

#3951 Issue 3871 configure bin hashes
  librz/bin/bfile.c
  librz/core/cconfig.c
  librz/core/cmd/cmd_info.c
  librz/hash/hash.c
  librz/include/rz_bin.h
  test/db/cmd/cmd_i
  test/integration/test_bin.c
Labels: rz-test, RzBin, API, RzCore, RzHash

#3960 Refactor <resources> from RzList to RzPVector in RzBinPlugin
  librz/bin/bobj.c
  librz/bin/bobj_process_file.c
  librz/bin/p/bin_pe.inc
  librz/core/cbin.c
  librz/include/rz_bin.h
Labels: RzBin, API, RzCore, PE

#3955 Remove redundant function info while disassembling
  librz/analysis/dwarf_process.c
  librz/core/disasm.c
  test/db/analysis/rl78
  test/db/analysis/vars
  test/db/cmd/dwarf
Labels: rz-test, RzAnalysis, RzCore, DWARF

#3948 analysis/meta: minor cleanup
  librz/analysis/analysis.c
  librz/analysis/meta.c
  librz/include/rz_analysis.h
Labels: RzAnalysis, API

#3954 Add debuginfod support
  .github/workflows/ci.yml
  .github/workflows/tcc.yml
  librz/analysis/dwarf_process.c
  librz/bin/dwarf/addr.c
  librz/bin/dwarf/attr.c
  librz/bin/dwarf/dwarf.c
  librz/bin/dwarf/dwarf_private.h
  librz/bin/dwarf/loclists.c
  librz/bin/dwarf/rnglists.c
  librz/core/cbin.c
  librz/core/cconfig.c
  librz/include/rz_bin_dwarf.h
  test/db/archos/linux-x64/debuginfod
Labels: infrastructure, rz-test, RzBin, RzAnalysis, API, RzCore, merge-when-green, DWARF

#3964 analysis/dwarf: fix use-after-free
  librz/analysis/var.c
Labels: RzAnalysis

#3961 Refactor <libs> from RzList to RzPVector in RzBinPlugin
  librz/bin/bin.c
  librz/bin/bin_language.c
  librz/bin/bobj.c
  librz/bin/bobj_process_file.c
  librz/bin/format/dex/dex.c
  librz/bin/format/dex/dex.h
  librz/bin/format/elf/elf.h
  librz/bin/format/elf/elf_info.c
  librz/bin/format/java/class_bin.c
  librz/bin/format/java/class_bin.h
  librz/bin/format/le/le.c
  librz/bin/format/le/le.h
  librz/bin/p/bin_coff.c
  librz/bin/p/bin_dex.c
  librz/bin/p/bin_dmp64.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_java.c
  librz/bin/p/bin_mach0.c
  librz/bin/p/bin_mdmp.c
  librz/bin/p/bin_nro.c
  librz/bin/p/bin_p9.c
  librz/bin/p/bin_pe.inc
  librz/bin/p/bin_wasm.c
  librz/bin/p/bin_xbe.c
  librz/core/cbin.c
  librz/core/cfile.c
  librz/include/rz_bin.h
  librz/include/rz_vector.h
  librz/main/rz-diff.c
  librz/util/vector.c
  test/unit/test_vector.c
Labels: rz-test, RzBin, rz-diff, API, RzCore, ELF, PE, Mach-O, RzUtil, java, DEX

#3962 Refactor <fields> from RzList to RzPVector in RzBinPlugin
  librz/bin/bin.c
  librz/bin/bobj.c
  librz/bin/bobj_process_field.c
  librz/bin/format/mach0/mach0.c
  librz/bin/format/mach0/mach0.h
  librz/bin/p/bin_coff.c
  librz/bin/p/bin_dmp64.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_pe.c
  librz/bin/p/bin_pe64.c
  librz/core/cbin.c
  librz/include/rz_bin.h
  librz/main/rz-diff.c
Labels: RzBin, rz-diff, API, RzCore, merge-when-green, ELF, PE, Mach-O

#3958 Enable show short/full function names in Vv mode
  librz/core/tui/vmenus.c
Labels: RzCore

#3969 Fix #3965
  librz/analysis/fcn.c
  librz/analysis/p/analysis_arm_cs.c
  test/db/analysis/arm
Labels: rz-test, RzAnalysis, ARM

#3970 core/tui: fix NULL deref with highlight when showing xrefs
  librz/core/tui/visual.c
Labels: RzCore

#3974 Fix format generation out of types
  librz/type/format.c
  test/db/cmd/types
Labels: rz-test, RzType

#3972 Added function get_symbol_at()
  librz/bin/bin.c
  librz/include/rz_bin.h
Labels: RzBin, API

#3978 Fix arm64 ldr mask in objc_stubs analysis
  librz/core/analysis_objc.c
Labels: RzCore

#3980 [Hexagon] Add new system instructions.
  librz/asm/arch/hexagon/hexagon_disas.c
  librz/asm/arch/hexagon/hexagon_insn.h
  test/db/asm/hexagon
Labels: rz-test, RzAsm-Disassembler

#3981 [Hexagon] Dwarf register mapping
  librz/analysis/dwarf_process.c
  librz/analysis/hexagon_dwarf_reg_num_table.inc
Labels: RzAnalysis, DWARF

#3986 Make rz_flag_set_next() try the addr before incremental numbers as suffix
  librz/core/cbin.c
  librz/flag/flag.c
  test/db/archos/darwin-arm64/dbg
  test/db/formats/elf/helloworld-gcc-elf
  test/db/formats/elf/reloc
  test/db/formats/mach0/relocs
  test/db/formats/mach0/thumb
  test/unit/test_flags.c
Labels: rz-test, RzCore, RzFlag

#3985 Create global variable from DWARF
  librz/analysis/dwarf_process.c
  librz/bin/dwarf/op.c
  librz/core/cbin.c
  librz/core/cdwarf.c
  librz/include/rz_analysis.h
  librz/include/rz_bin_dwarf.h
  test/db/abi/compilers/clang
  test/db/abi/compilers/clang_64
  test/db/abi/compilers/gcc
  test/db/abi/compilers/gcc_64
  test/db/cmd/cmd_flags
  test/db/cmd/dwarf
  test/integration/test_dwarf_integration.c
Labels: rz-test, RzBin, RzAnalysis, API, RzCore, DWARF

#3973 Fix FNEQ: x and y were interchanged.
  librz/include/rz_il/rz_il_opbuilder_begin.h
  librz/include/rz_il/rz_il_opbuilder_end.h
  test/db/asm/arm_32
Labels: rz-test, API

#3989 Update cmd_print.c
  librz/core/cmd/cmd_print.c
Labels: RzCore

#3991 Downgrade Meson to 1.2.3
  .appveyor.yml
  .github/workflows/ci.yml
  .github/workflows/code-analysis.yml
  .travis.yml
Labels: infrastructure, merge-when-green

#3993 Fix commit hash for capstone-next
  subprojects/capstone-next.wrap
Labels: merge-when-green

#3992 Fix minor issues in block-related APIs
  librz/core/cbin.c
  librz/core/core.c
Labels: RzCore

#3997 librz: fix move_mount syscall number
  librz/syscall/d/linux-x86-64.sdb.txt
Labels: RzSyscall

#4004 util: fix NULL deref in interval tree foreach
  librz/include/rz_util/rz_intervaltree.h
Labels: API

#4009 Fix the wrong condition in rz_core_write_at
  librz/core/cio.c
Labels: RzCore
