Repository rizinorg/rizin, pull requests merged in 2023-12, with the labels that each got.

#4014 Print value of global variable - `avgp`
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_type.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  test/db/cmd/cmd_avg
Labels: rz-test, RzCore

#3863 Introducing SM4 encryption and decryption
  librz/crypto/crypto.c
  librz/crypto/meson.build
  librz/crypto/p/crypto_sm4.h
  librz/crypto/p/crypto_sm4_ecb.c
  librz/include/rz_crypto.h
  test/db/tools/rz_hash
Labels: rz-test, API, RzCrypto

#4017 X-Refs to global variable - `avgx`
  librz/analysis/var_global.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/include/rz_analysis.h
  test/db/cmd/dwarf
Labels: rz-test, RzAnalysis, API, RzCore

#4012 Change io len parameter type to size_t
  librz/core/cvfile.c
  librz/include/rz_io.h
  librz/io/io.c
  librz/io/io_cache.c
  librz/io/io_desc.c
  librz/io/io_fd.c
  librz/io/io_memory.c
  librz/io/io_memory.h
  librz/io/io_plugin.c
  librz/io/p/io_ar.c
  librz/io/p/io_bfdbg.c
  librz/io/p/io_bochs.c
  librz/io/p/io_default.c
  librz/io/p/io_dmp.c
  librz/io/p/io_fd.c
  librz/io/p/io_gdb.c
  librz/io/p/io_gzip.c
  librz/io/p/io_ihex.c
  librz/io/p/io_mach.c
  librz/io/p/io_null.c
  librz/io/p/io_procpid.c
  librz/io/p/io_ptrace.c
  librz/io/p/io_qnx.c
  librz/io/p/io_rap.c
  librz/io/p/io_rzpipe.c
  librz/io/p/io_rzweb.c
  librz/io/p/io_self.c
  librz/io/p/io_shm.c
  librz/io/p/io_sparse.c
  librz/io/p/io_srec.c
  librz/io/p/io_w32.c
  librz/io/p/io_w32dbg.c
  librz/io/p/io_windbg.c
  librz/io/p/io_winedbg.c
  librz/io/p/io_winkd.c
  librz/io/p/io_zip.c
  librz/io/p_cache.c
  test/unit/mock_io.inl
Labels: rz-test, RzIO, API, RzCore, GDB, WinDbg

#4019 Fix use-after-free of _args[0] in RzRunProfile
  librz/socket/run.c
Labels: RzSocket

#4022 Remove work dir change of rz-bindgen plugin test
  .github/workflows/ci.yml
Labels: infrastructure

#4021 Create global variables from PDB
  librz/analysis/meson.build
  librz/analysis/pdb_process.c
  librz/bin/meson.build
  librz/bin/pdb/gdata.c
  librz/bin/pdb/gdata.h
  librz/bin/pdb/omap.c
  librz/bin/pdb/pdb.c
  librz/bin/pdb/pdb.h
  librz/bin/pdb/stream_pe.h
  librz/bin/pdb/symbol.c
  librz/bin/pdb/symbol.h
  librz/bin/pdb/symbol_enum.h
  librz/bin/pdb/tpi.c
  librz/bin/pdb/tpi.h
  librz/core/cbin.c
  librz/core/cpdb.c
  librz/include/rz_analysis.h
  librz/include/rz_pdb.h
  librz/include/rz_util/rz_buf.h
  librz/util/buf.c
  test/db/cmd/cmd_idp
  test/db/formats/pdb
  test/db/tools/rz_bin
  test/integration/test_pdb.c
Labels: rz-test, RzBin, RzAnalysis, API, RzCore, PDB, RzUtil

#4026 Fix rz_pvector_foreach
  librz/include/rz_vector.h
Labels: API, merge-when-green

#4025 Load symbols in modules from PDB
  librz/analysis/pdb_process.c
  librz/bin/format/pe/pe_security.c
  librz/bin/meson.build
  librz/bin/pdb/dbi.c
  librz/bin/pdb/dbi.h
  librz/bin/pdb/gdata.c
  librz/bin/pdb/modi.c
  librz/bin/pdb/modi.h
  librz/bin/pdb/omap.c
  librz/bin/pdb/pdb.c
  librz/bin/pdb/pdb.h
  librz/bin/pdb/stream_pe.c
  librz/bin/pdb/symbol.c
  librz/bin/pdb/symbol.h
  librz/bin/pdb/tpi.c
  librz/bin/pdb/tpi.h
  librz/core/cpdb.c
  librz/core/windows_heap.c
  librz/include/rz_core.h
  librz/include/rz_pdb.h
  librz/util/buf.c
  test/db/cmd/cmd_idp
  test/db/formats/pdb
  test/db/tools/rz_bin
  test/integration/test_pdb.c
Labels: rz-test, RzBin, RzAnalysis, API, RzCore, merge-when-green, PE, Windows, PDB, RzUtil

#4030 Update graph title after node was updated.
  librz/core/agraph.c
Labels: RzCore

#4001 Enable generation of inter-procedual control flow graph.
  librz/analysis/function.c
  librz/analysis/xrefs.c
  librz/core/cgraph.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/core.c
  librz/include/rz_analysis.h
  librz/include/rz_core.h
  librz/include/rz_util/rz_graph.h
  librz/util/graph.c
  test/db/cmd/cmd_graph
  test/unit/test_graph.c
Labels: rz-test, RzAnalysis, API, RzCore, RzUtil

#4035 Fix TriCore's `rfm` stack op set
  librz/analysis/p/analysis_tricore_cs.c
Labels: RzAnalysis, merge-when-green

#4036 Force usage of RzList methods instead of direct access of the fields
  librz/analysis/block.c
  librz/analysis/var.c
  librz/asm/asm.c
  librz/bin/format/le/le.c
  librz/bin/format/mach0/dyldcache.c
  librz/bin/format/mz/mz.c
  librz/bin/format/pe/pe_clr.c
  librz/bin/format/pyc/marshal.c
  librz/core/agraph.c
  librz/core/canalysis.c
  librz/core/cmd/cmd.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_eval.c
  librz/core/cmd/cmd_search.c
  librz/core/cmd/cmd_type.c
  librz/core/csign.c
  librz/core/disasm.c
  librz/core/tui/config.c
  librz/core/tui/visual.c
  librz/debug/p/debug_dmp.c
  librz/debug/p/native/windows/windows_debug.c
  librz/debug/p/native/xnu/xnu_threads.c
  librz/flag/flag.c
  librz/include/rz_list.h
  librz/io/p/io_ar.c
  librz/main/rz-ax.c
  librz/parse/p/parse_arm_pseudo.c
  librz/parse/p/parse_dalvik_pseudo.c
  librz/parse/p/parse_sh_pseudo.c
  librz/parse/p/parse_z80_pseudo.c
  librz/reg/arena.c
  librz/sign/create.c
  librz/sign/flirt.c
  librz/util/graph.c
  librz/util/list.c
  librz/util/table.c
  subprojects/rzgdb/src/gdbclient/xml.c
  test/integration/test_dwarf.c
  test/unit/test_agraph.c
  test/unit/test_analysis_block_invars.inl
  test/unit/test_analysis_class_graph.c
  test/unit/test_list.c
Labels: rz-test, RzIO, RzBin, RzAnalysis, RzDebug, rz-ax, API, RzCore, RzParse, RzFlag, PE, Mach-O, MacOS, Windows, GDB, FLIRT, RzUtil, RzReg

#4038 fix the Memory leak: ret
  librz/analysis/p/analysis_avr.c
Labels: RzAnalysis

#4023 Remove the dependency of core->block in pi/pI
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_print.yaml
  librz/core/core_private.h
  librz/core/disasm.c
  librz/core/meson.build
  test/db/analysis/tms320.c64x_32
  test/db/analysis/v850
  test/db/cmd/cmd_foreach
  test/db/cmd/cmd_open
  test/db/cmd/cmd_pi
Labels: rz-test, RzCore

#4040 [ARM64] Set correct family type for system hints.
  librz/analysis/p/analysis_arm_cs.c
  test/db/analysis/arm64
Labels: rz-test, RzAnalysis, ARM

#4042 Transition of virtual_files in RzBinPlugin (from list to pvector)
  librz/bin/bobj.c
  librz/bin/bobj_process_file.c
  librz/bin/format/le/le.c
  librz/bin/format/le/le.h
  librz/bin/format/mach0/mach0.c
  librz/bin/format/mach0/mach0.h
  librz/bin/p/bin_bflt.c
  librz/bin/p/bin_coff.c
  librz/bin/p/bin_dex.c
  librz/bin/p/bin_dyldcache.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_mach0.c
  librz/bin/p/bin_nso.c
  librz/bin/p/bin_xnu_kernelcache.c
  librz/core/cvfile.c
  librz/include/rz_bin.h
  test/unit/test_core_bin.c
Labels: rz-test, RzBin, API, RzCore, merge-when-green, ELF, Mach-O, DEX

#4041 Remove the deprecated API rz_core_handle_backwards_disasm
  librz/core/canalysis.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_print.c
  librz/core/core_private.h
  librz/core/cprint.c
  librz/core/disasm.c
  librz/include/rz_core.h
  test/db/cmd/cmd_0
  test/db/cmd/cmd_disassembly
  test/db/cmd/cmd_flags
  test/db/cmd/cmd_pd
  test/db/cmd/cmd_pd_bugs
  test/unit/test_analysis_op.c
Labels: rz-test, API, RzCore

#3890 Make it clear the "details" of command are available
  librz/core/cmd/cmd_api.c
  test/unit/test_cmd.c
Labels: rz-test, RzCore

#4049 Fix the memory leak in `rz_core_print_disasm_instructions_with_buf`
  librz/core/disasm.c
Labels: RzCore

#4050 Avoid spamming warnings when loading PE files
  librz/analysis/var.c
Labels: RzAnalysis

#4051 Allow to cancel and print progress of the current diffing job
  binrz/man/rz-diff.1
  librz/analysis/similarity.c
  librz/include/rz_analysis.h
  librz/include/rz_basefind.h
  librz/include/rz_th.h
  librz/main/rz-diff.c
  librz/util/thread_queue.c
  test/db/tools/rz_diff
Labels: rz-test, RzAnalysis, rz-diff, API, RzUtil

#4056 bin/elf: autodetect RL78 architecture
  librz/bin/format/elf/elf_info.c
  test/db/analysis/rl78
Labels: rz-test, RzBin, merge-when-green, ELF
