Repository rizinorg/rizin, pull requests merged in 2023-06, with the labels that each got.

#3542 Fix endian in Mach-O CPU_TYPE_ARM64 reading
  librz/bin/format/mach0/mach0.c
  librz/bin/format/mach0/mach0_specs.h
Labels: RzBin, Mach-O

#3547 Fixed fuzzing regressions
  librz/bin/bin_demangle.c
  librz/bin/bobj.c
  librz/bin/bobj_process_class.c
  librz/bin/bobj_process_file.c
  librz/bin/bobj_process_import.c
  librz/bin/bobj_process_symbol.c
Labels: RzBin, merge-when-green

#3550 Fix all compile warnings
  librz/analysis/fcn.c
  librz/asm/arch/arc/gnu/arcompact-dis.c
  librz/asm/arch/arm/armass64.c
  librz/asm/arch/lanai/gnu/lanai-dis.c
  librz/asm/arch/tricore/gnu/cpu-tricore.c
  librz/asm/arch/tricore/gnu/tricore-dis.c
  librz/bin/bin.c
  librz/bin/filter.c
  librz/bin/format/pe/dotnet.c
  librz/bin/format/pe/pe_imports.c
  librz/bin/format/xnu/rz_cf_dict.c
  librz/bin/p/bin_wasm.c
  librz/cons/html.c
  librz/cons/pager.c
  librz/core/cbin.c
  librz/core/tui/panels.c
  librz/type/format.c
Labels: RzBin, RzAnalysis, RzCore, merge-when-green, RzType, PE, ARM, RzCons, RzAsm-Disassembler, RzAsm-Assembler

#3558 Bump libdemangle version
  subprojects/libdemangle.wrap
Labels: merge-when-green

#3557 Adding tricore support for rz_debug_plugin_gdb
  librz/debug/debug.c
  librz/debug/p/debug_gdb.c
  librz/include/rz_types.h
  librz/util/sys.c
  subprojects/rzgdb/include/reg/tricore.h
  subprojects/rzgdb/src/libgdbr.c
  test/db/archos/linux-x64/cmd_list
  test/db/cmd/cmd_list
Labels: rz-test, RzDebug, API, merge-when-green, GDB, RzUtil

#3556 Modify capitalize flag to make entire OP uppercase ##disasm
  librz/core/disasm.c
Labels: RzCore, merge-when-green

#3561 Fix variable show
  librz/analysis/analysis_private.h
  librz/analysis/dwarf_process.c
  librz/analysis/var.c
  librz/core/canalysis.c
  librz/core/cmd/cmd_analysis.c
  librz/core/disasm.c
  librz/include/rz_analysis.h
  librz/include/rz_core.h
  test/db/analysis/vars
  test/db/analysis/x86_64
  test/db/cmd/types
  test/db/formats/mach0/swift
Labels: rz-test, RzAnalysis, API, RzCore, merge-when-green, DWARF

#3567 Remove tiny graphs
  librz/core/agraph.c
  librz/core/cagraph.c
  librz/core/cgraph.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/include/rz_agraph.h
  librz/include/rz_core.h
  test/db/cmd/cmd_ag
Labels: rz-test, API, RzCore, refactor, graph

#3569 Fix arguments alignment in PYC disassembler
  librz/asm/arch/pyc/pyc_dis.c
  test/db/formats/pyc
Labels: rz-test, RzAsm-Disassembler

#3559 Rename `separator_get_first` and `word_get_first` ##refactor
  librz/include/rz_util/rz_str.h
  librz/util/str.c
Labels: API, RzUtil

#3570 Fix forder return type and add feq macro
  librz/il/il_opcodes.c
  librz/include/rz_il/rz_il_opbuilder_begin.h
  librz/include/rz_il/rz_il_opbuilder_end.h
  librz/include/rz_il/rz_il_opcodes.h
Labels: API, RZIL

#3573 Remove last global from TUI
  librz/core/tui/panels.c
  librz/include/rz_cons.h
Labels: API, RzCore

#3574 Remove mention of `pz` from help
  librz/core/cmd/cmd_print.c
Labels: RzCore

#3575 Move RzPanels from RzCore to RzCoreVisual
  librz/core/agraph.c
  librz/core/cmd/cmd.c
  librz/core/core_private.h
  librz/core/tui/panels.c
  librz/core/tui/visual.c
  librz/include/rz_core.h
Labels: API, RzCore, merge-when-green

#3576 Move RzPanel types from RzCons to RzCore
  librz/core/core_private.h
  librz/core/tui/panels.c
  librz/include/rz_cons.h
Labels: API, RzCore

#3577 Python 3.10 Support
  librz/analysis/meson.build
  librz/analysis/p/analysis_pyc.c
  librz/asm/arch/pyc/opcode.c
  librz/asm/arch/pyc/opcode.h
  librz/asm/arch/pyc/opcode_310.c
  librz/asm/meson.build
  librz/bin/format/pyc/marshal.c
  librz/bin/format/pyc/marshal.h
  librz/bin/format/pyc/pyc_magic.c
  librz/bin/format/pyc/pyc_magic.h
  librz/bin/p/bin_pyc.c
  test/db/formats/pyc
Labels: rz-test, RzBin, RzAnalysis

#3579 Fix rz_buf_uleb128 when parsing 0xffffffffffffffffUL
  librz/util/buf.c
Labels: RzUtil

#3583 pyc: inizialize 'error' before calling 'magic_int_within'
  librz/bin/p/bin_pyc.c
Labels: RzBin

#3584 Remove old string detection methods.
  librz/analysis/data.c
  librz/core/canalysis.c
  librz/core/cmd/cmd_analysis.c
  librz/core/core.c
  librz/core/disasm.c
  librz/include/rz_analysis.h
  librz/include/rz_core.h
  librz/include/rz_util/rz_str_search.h
  librz/util/str_search.c
  test/db/cmd/cmd_ad
  test/db/cmd/cmd_pd
Labels: rz-test, RzAnalysis, API, RzCore, merge-when-green, RzUtil

#3585 Md2 - hash implementation added according to RFC 1319
  librz/hash/algorithms/md2/md2.c
  librz/hash/algorithms/md2/md2.h
  librz/hash/meson.build
  librz/hash/p/algo_md2.c
  librz/include/rz_hash.h
  test/db/cmd/cmd_list
  test/db/tools/rz_hash
  test/unit/test_hash.c
Labels: rz-test, API, RzHash

#3587 Remove dead code in analysis/data
  librz/analysis/data.c
Labels: RzAnalysis

#3588 Prefer BE in strings search when it is known
  librz/bin/bfile_string.c
  librz/core/canalysis.c
Labels: RzBin, RzCore

#3592 Add reason when failing loading a windows dll
  librz/util/sys.c
Labels: RzUtil

#3593 Fix ls command parser
  librz/util/syscmd.c
Labels: RzUtil

#3597 Add API to request function variables without arguments
  librz/analysis/fcn.c
  librz/analysis/var.c
  librz/include/rz_analysis.h
Labels: RzAnalysis, API

#3598 Breaking method is user defined.
  librz/core/basefind.c
Labels: RzCore

#3599 Extend Mach-O platform recognition
  librz/bin/format/mach0/mach0.c
  librz/bin/format/mach0/mach0.h
  librz/bin/format/mach0/mach0_common.c
  librz/bin/format/mach0/mach0_defines.h
  librz/bin/meson.build
  librz/bin/p/bin_mach0.c
  librz/syscall/d/ios-arm-32.sdb.txt
  librz/syscall/d/ios-arm-64.sdb.txt
  librz/syscall/d/ios-x86-32.sdb.txt
  librz/syscall/d/meson.build
  test/db/cmd/cmd_pipe
  test/db/formats/mach0/mach0
  test/db/tools/rz_bin
Labels: rz-test, RzBin, RzSyscall, Mach-O

#3601 Make rz-pipe tests invariant to local user config
  test/scripts/get-funcs.py
  test/scripts/shared_memory.py
Labels: rz-test

#3600 Refactor ls command for rzshell
  librz/core/cmd/cmd_shell.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_shell.yaml
  librz/include/rz_util/rz_sys.h
  librz/util/syscmd.c
Labels: API, RzCore, RzUtil

#3603 Add len check in esil code before calling rz_analysis_op
  librz/analysis/op.c
  librz/core/canalysis.c
Labels: RzAnalysis, RzCore, merge-when-green

#3606 Rename analop to analysis_op and aop
  librz/analysis/fcn.c
  librz/analysis/p/analysis_8051.c
  librz/analysis/p/analysis_amd29k.c
  librz/analysis/p/analysis_cris.c
  librz/analysis/p/analysis_h8300.c
  librz/analysis/p/analysis_m680x_cs.c
  librz/analysis/p/analysis_m68k_cs.c
  librz/analysis/p/analysis_mips_cs.c
  librz/analysis/p/analysis_mips_gnu.c
  librz/analysis/p/analysis_ppc_cs.c
  librz/analysis/p/analysis_riscv_cs.c
  librz/analysis/p/analysis_sparc_cs.c
  librz/analysis/p/analysis_sysz.c
  librz/analysis/p/analysis_tms320.c
  librz/analysis/p/analysis_tms320c64x.c
  librz/analysis/p/analysis_x86_cs.c
  librz/analysis/p/analysis_xcore_cs.c
  librz/analysis/p/analysis_xtensa.c
  librz/analysis/vtable.c
  librz/core/canalysis.c
  librz/core/casm.c
  librz/core/cmd/cmd_debug.c
  librz/core/cmd/cmd_search.c
  librz/core/core.c
  librz/core/hack.c
  librz/core/tui/biteditor.c
  librz/core/tui/esil.c
  test/db/cmd/cmd_pd
Labels: rz-test, RzAnalysis, RzCore, MIPS, PPC, X86

#3609 Boolean value assigned to pointer
  librz/asm/arch/sh/assembler.c
Labels: RzAsm-Assembler

#3611 Fix il vm aezi and aezs sync behavior
  librz/core/cil.c
  librz/il/il_validate.c
  librz/include/rz_il/rz_il_opbuilder_begin.h
Labels: API, ESIL, RzCore, RZIL

#3612 Refine MACH0_(imports_count)()
  librz/bin/format/mach0/mach0.c
Labels: RzBin, merge-when-green, Mach-O

#3614 Update libdemangle to 2c90eaa
  subprojects/libdemangle.wrap
Labels: merge-when-green

#3615 Always search for preludes if is not x86
  librz/core/canalysis.c
  test/db/formats/elf/helloworld-gcc-elf
Labels: rz-test, RzCore
