Repository rizinorg/rizin, pull requests merged in 2023-09, with the labels that each got.

#3817 regex: Support `\S`
  librz/util/regex/regcomp.c
  test/db/archos/linux-x64/dbg_trace1
Labels: rz-test, RzUtil

#3819 Support for compressed DWARF `.zdebug_*` sections
  librz/analysis/dwarf_process.c
  librz/bin/dwarf/addr.c
  librz/bin/dwarf/attr.c
  librz/bin/dwarf/dwarf.c
  librz/bin/dwarf/dwarf_private.h
  librz/bin/dwarf/line.c
  librz/bin/dwarf/lists.c
  librz/bin/dwarf/loclists.c
  librz/bin/dwarf/macro.inc
  librz/bin/dwarf/op.c
  librz/bin/dwarf/op.h
  librz/bin/dwarf/rnglists.c
  librz/bin/dwarf/unit.c
  librz/bin/dwarf/value.c
  librz/core/cdwarf.c
  librz/include/rz_bin_dwarf.h
  test/db/analysis/golang
Labels: rz-test, RzBin, RzAnalysis, API, RzCore, DWARF

#3812 Rename some of the environment variables
  doc/fortunes.tips
  librz/include/rz_lib.h
  librz/main/rizin.c
Labels: documentation, rizin, API

#3821 Fix: wrong exit condition in rz_analysis_optype_from_string
  librz/analysis/op.c
Labels: RzAnalysis

#3825 Fix DWARF FbReg Operation eval and fuzz test
  librz/analysis/dwarf_process.c
  librz/bin/dwarf/buf.c
  librz/bin/dwarf/dwarf.c
  librz/bin/dwarf/dwarf_private.h
  librz/bin/dwarf/line.c
  librz/bin/dwarf/op.c
  librz/bin/dwarf/op.h
  librz/bin/dwarf/unit.c
  librz/include/rz_bin_dwarf.h
Labels: RzBin, RzAnalysis, API, DWARF

#3820 bsd_generate_corefile for FreeBSD adjust version since the feature is…
  librz/debug/p/native/bsd/bsd_debug.c
Labels: RzDebug, BSD

#3823 Fix use after free in pyc due missing return while error handling
  librz/bin/format/pyc/marshal.c
Labels: RzBin, stable-backport

#3834 Implement 'add r#, K' in the x86 assembler
  librz/asm/p/asm_x86_nz.c
  test/db/asm/x86_64
Labels: rz-test, X86

#3836 Add `py38-expat` package to netbsd.yml
  .builds/netbsd.yml
Labels: infrastructure, merge-when-green, stable-backport

#3813 Replaced 'assert()' with 'rz_return_val_if_fail()'
  librz/util/buf_sparse.c
Labels: RzUtil

#3750 Gameboy RzIL Lifting
  librz/analysis/arch/gb/gb_il.inc
  librz/analysis/p/analysis_gb.c
  librz/asm/arch/gb/gb_op_table.h
  test/db/asm/gb
  test/db/rzil/gb
Labels: rz-test, RzAnalysis

#3838 Serialize seek history
  librz/core/project_migrate.c
  librz/core/serialize_core.c
  librz/include/rz_core.h
  librz/include/rz_project.h
  librz/include/rz_vector.h
  librz/util/vector.c
  test/db/cmd/project
  test/integration/test_project_migrate.c
  test/prj/v15-seek-history.rzdb
  test/unit/meson.build
  test/unit/test_serialize_seek.c
  test/unit/test_vector.c
Labels: rz-test, API, RzCore, merge-when-green, RzUtil

#3839 dbt: Don't show 2nd flag name if eql to 1st flag name
  librz/core/cdebug.c
  test/db/archos/linux-x64/dbg_trace1
  test/db/formats/dmp/dmp
Labels: rz-test, RzCore

#3840 Combine all dbg_trace# tests into 1 testfile
  test/db/archos/linux-x64/dbg_trace
  test/db/archos/linux-x64/dbg_trace2
  test/db/archos/linux-x64/dbg_trace3
Labels: rz-test

#3844 Fix `env` help
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_shell.yaml
Labels: RzCore, stable-backport

#3846 Remove warning about missing calling convention
  librz/core/cfile.c
Labels: RzCore

#3849 Fix #3802: Enforce space after `env`
  subprojects/rizin-shell-parser/grammar.js
  subprojects/rizin-shell-parser/src/grammar.json
  subprojects/rizin-shell-parser/src/parser.c
  test/db/cmd/cmd_env
Labels: rz-test

#3826 Fix the analysis_global_var test when running from the build dir.
  test/integration/test_analysis_global_var.c
Labels: rz-test, merge-when-green, stable-backport

#3828 Fix old math commands
  doc/debug.md
  doc/hud
  librz/analysis/p/analysis_mips_gnu.c
  librz/bin/format/xnu/scripts/machtraps.py
  librz/core/cautocmpl.c
  librz/core/cbin.c
  librz/core/cconfig.c
  librz/core/cfile.c
  librz/core/cmd/cmd.c
  librz/core/cmd/cmd_math.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_debug.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
  librz/core/cmd_descs/cmd_math.yaml
  librz/core/tui/config.c
  librz/core/tui/define.c
  librz/core/tui/panels.c
  librz/core/tui/vasm.c
  librz/core/tui/vmenus_graph.c
  librz/include/rz_egg.h
  librz/type/format.c
  subprojects/rizin-shell-parser/corpus/cmd_substitution.txt
  subprojects/rizin-shell-parser/corpus/comments.txt
  subprojects/rizin-shell-parser/corpus/escape_args.txt
  subprojects/rizin-shell-parser/corpus/grep_commands.txt
  subprojects/rizin-shell-parser/corpus/iter_commands.txt
  subprojects/rizin-shell-parser/corpus/quoted_args.txt
  subprojects/rizin-shell-parser/corpus/simple_commands.txt
  subprojects/rizin-shell-parser/corpus/special_commands.txt
  subprojects/rizin-shell-parser/src/scanner.c
  test/db/archos/not-windows-any/cmd_interpreter
  test/db/cmd/cmd_pipe
  test/db/cmd/feat_input
  test/db/tools/rz
  test/notworking_db/darwin-x64/dbg
  test/notworking_db/darwin-x64/dbg_cmdbps
  test/notworking_db/darwin-x64/dbg_dcu
  test/notworking_db/darwin-x64/dbg_step
  test/scripts/rztest.spp
Labels: documentation, rz-test, RzBin, RzAnalysis, API, RzCore, RzType, MIPS, stable-backport

#3852 Refactor relocs-related stuff from RzList to RzPVector
  librz/bin/bobj.c
  librz/bin/bobj_process_reloc.c
  librz/bin/format/coff/coff.h
  librz/bin/format/coff/coff_reloc.c
  librz/bin/format/le/le.c
  librz/bin/format/le/le.h
  librz/bin/format/mdmp/mdmp_pe.c
  librz/bin/format/ne/ne.c
  librz/bin/format/ne/ne.h
  librz/bin/format/pe/pe.h
  librz/bin/p/bin_bflt.c
  librz/bin/p/bin_coff.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_mach0.c
  librz/bin/p/bin_mdmp.c
  librz/bin/p/bin_mz.c
  librz/bin/p/bin_ne.c
  librz/bin/p/bin_pe.inc
  librz/bin/p/bin_qnx.c
  librz/include/rz_bin.h
  test/integration/test_bin.c
Labels: rz-test, RzBin, API, ELF, PE, Mach-O

#3856 Add space between the hex and vocabulary
  librz/core/cio.c
Labels: RzCore, merge-when-green

#3857 Fix "missing main stack frame fix (#3806)" test
  test/db/archos/linux-x64/dbg_trace
Labels: rz-test, merge-when-green

#3853 Remove the automatically appended n_instr while setting commands in p…
  librz/core/tui/modes.c
  librz/core/tui/modes.h
  librz/core/tui/panels.c
Labels: RzCore

#3866 Fix #3835: Fix off-by-1 for 32-bit x86 stack args
  librz/analysis/var.c
  test/db/analysis/x86_32
  test/db/cmd/types
Labels: rz-test, RzAnalysis

#3859 Refactor trycatch and classes from RzList to RzPVector
  librz/analysis/class.c
  librz/bin/bfile.c
  librz/bin/bin.c
  librz/bin/bobj.c
  librz/bin/bobj_process_class.c
  librz/bin/format/dex/dex.c
  librz/bin/format/dex/dex.h
  librz/bin/format/java/class_bin.c
  librz/bin/format/java/class_bin.h
  librz/bin/format/objc/mach0_classes.c
  librz/bin/format/objc/mach0_classes.h
  librz/bin/p/bin_dex.c
  librz/bin/p/bin_dyldcache.c
  librz/bin/p/bin_java.c
  librz/bin/p/bin_mach0.c
  librz/bin/p/bin_pe64.c
  librz/core/cbin.c
  librz/core/cmd/cmd_print.c
  librz/core/tui/classes.c
  librz/core/tui/hud.c
  librz/include/rz_bin.h
  librz/main/rz-diff.c
Labels: RzBin, RzAnalysis, rz-diff, API, RzCore, PE, Mach-O, java, DEX

#3868 Refactor <mem> from RzList to RzPVector
  librz/bin/bin.c
  librz/bin/bobj.c
  librz/bin/bobj_process_file.c
  librz/bin/p/bin_mdmp.c
  librz/bin/p/bin_nes.c
  librz/bin/p/bin_ningb.c
  librz/bin/p/bin_sfc.c
  librz/bin/p/bin_vsf.c
  librz/core/cbin.c
  librz/include/rz_bin.h
Labels: RzBin, API, RzCore, PE

#3870 Refactor <hashes> from RzList to RzPVector
  librz/bin/bfile.c
  librz/bin/bin.c
  librz/bin/p/bin_nin3ds.c
  librz/bin/p/bin_pe.inc
  librz/core/cmd/cmd_info.c
  librz/include/rz_bin.h
  librz/main/rizin.c
  test/integration/test_bin.c
Labels: rizin, rz-test, RzBin, API, RzCore, PE

#3869 Remove the use of rz_core_cmd_strf() in cprint.c
  librz/core/cprint.c
Labels: RzCore, merge-when-green

#3875 Removed signed-unsigned integer comparison in macro
  librz/include/rz_analysis.h
Labels: API, merge-when-green

#3878 w: Add some detailed help
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_write.yaml
Labels: RzCore

#3881 Update last section of rzshell.md
  doc/rzshell.md
Labels: documentation

#3884 Edit `w?`
  doc/rzshell.md
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_write.yaml
Labels: documentation, RzCore

#3883 PACKAGERS.md - use more up-to-date PKGBUILD example
  doc/PACKAGERS.md
Labels: documentation

#3888 Remove C++ compiler dependency for ZSTD
  subprojects/packagefiles/zstd-1.5.5/meson.build
Labels: merge-when-green

#3887 Pin Meson to 0.61.5 for old CentOS and Debian
  .github/workflows/ci.yml
Labels: infrastructure, merge-when-green

#3876 Remove designated array initializers in `rz_analysis.h`
  .appveyor.yml
  .github/workflows/ci.yml
  librz/include/rz_analysis.h
Labels: infrastructure, API

#3893 util: remove SDB journal
  librz/util/sdb/src/journal.c
  librz/util/sdb/src/main.c
  librz/util/sdb/src/meson.build
  librz/util/sdb/src/sdb.c
  librz/util/sdb/src/sdb.h
Labels: RzUtil

#3895 visual: add HJKL selection in help
  librz/core/tui/visual.c
Labels: RzCore

#3897 core/tui: fix j/k movements when in hexdump mode
  librz/core/tui/visual.c
Labels: RzCore

#3848 DWARF loading '.debug_str_offsets', '.debug_line_str' and relocate
  librz/analysis/dwarf_process.c
  librz/bin/dbginfo.c
  librz/bin/dwarf/abbrev.c
  librz/bin/dwarf/addr.c
  librz/bin/dwarf/aranges.c
  librz/bin/dwarf/attr.c
  librz/bin/dwarf/block.c
  librz/bin/dwarf/buf.c
  librz/bin/dwarf/dwarf.c
  librz/bin/dwarf/dwarf_private.h
  librz/bin/dwarf/endian_reader.c
  librz/bin/dwarf/line.c
  librz/bin/dwarf/line_str.c
  librz/bin/dwarf/lists.c
  librz/bin/dwarf/loclists.c
  librz/bin/dwarf/macro.inc
  librz/bin/dwarf/op.c
  librz/bin/dwarf/op.h
  librz/bin/dwarf/rnglists.c
  librz/bin/dwarf/str.c
  librz/bin/dwarf/str_offsets.c
  librz/bin/dwarf/unit.c
  librz/bin/dwarf/value.c
  librz/bin/format/elf/elf_relocs.c
  librz/bin/meson.build
  librz/bin/p/bin_elf.inc
  librz/core/cbin.c
  librz/core/cdwarf.c
  librz/include/rz_bin.h
  librz/include/rz_bin_dwarf.h
  librz/include/rz_core.h
  test/db/abi/compilers/clang
  test/db/abi/compilers/clang_64
  test/db/abi/compilers/gcc
  test/db/abi/compilers/gcc_64
  test/db/analysis/vars
  test/db/cmd/cmd_i
  test/db/cmd/dwarf
  test/db/formats/mach0/coresymbolication
  test/integration/test_dwarf.c
  test/integration/test_dwarf_info.c
  test/integration/test_dwarf_integration.c
Labels: rz-test, RzBin, RzAnalysis, API, RzCore, ELF, DWARF
