Repository rizinorg/rizin, pull requests merged in 2023-01, with the labels that each got.

#3260 Fix Coverity defects for `RzSubprocess` PTY changes
  librz/util/subprocess.c
Labels: RzUtil

#3263 Fixed wrong subvar in json
  librz/core/canalysis.c
  test/db/cmd/cmd_pd
Labels: rz-test, RzCore

#3264 Fixes and tests for type bitsizes
  librz/include/rz_type.h
  librz/type/type.c
  test/unit/test_type.c
Labels: rz-test, API, RzType

#3265 Add missing help for Vb modes in V?
  librz/core/tui/visual.c
Labels: RzCore

#3267 core/cmd: fix 'sleep' command to consider whole arg
  librz/core/cmd/cmd_shell.c
Labels: RzCore

#3266 Remove temporary type string conversion in DWARF integration
  librz/analysis/dwarf_process.c
  librz/include/rz_type.h
  librz/type/helpers.c
  librz/type/type.c
  test/integration/test_dwarf_integration.c
  test/unit/test_type.c
Labels: rz-test, RzAnalysis, API, RzType, DWARF

#3269 Patch Mach-O chained ptrs into sparse overlay RzBuffer
  librz/bin/format/mach0/kernelcache.c
  librz/bin/format/mach0/kernelcache.h
  librz/bin/format/mach0/mach0.c
  librz/bin/format/mach0/mach0.h
  librz/bin/format/mach0/mach0_rebase.c
  librz/bin/format/mach0/mach0_relocs.c
  librz/bin/format/objc/mach0_classes.c
  librz/bin/p/bin_xnu_kernelcache.c
  test/db/formats/mach0/relocs
Labels: rz-test, RzBin, Mach-O

#3270 Make xnu reg profile depend on cpu type instead of RzDebug.bits
  librz/core/cdebug.c
  librz/debug/debug.c
  librz/debug/dreg.c
  librz/debug/p/native/xnu/xnu_debug.c
  librz/debug/plugin.c
  test/db/archos/darwin-arm64/dbg
  test/db/archos/darwin-x64/dbg
Labels: rz-test, RzDebug, RzCore, MacOS

#3275 Raise timeout for some aez tests
  test/db/cmd/cmd_aez
Labels: rz-test

#3278 Fix some tests for platforms without native debugger
  test/db/archos/linux-x64/cmd_list
  test/db/cmd/cmd_list
Labels: rz-test

#3283 Temporary fix for the meta strings
  librz/analysis/meta.c
  test/db/cmd/metadata
  test/unit/test_serialize_analysis.c
Labels: rz-test, RzAnalysis

#3287 librz: remove non existing functions
  librz/include/rz_core.h
Labels: API

#3290 Fix pxj output
  librz/util/print.c
  test/db/cmd/cmd_pd_bugs
Labels: rz-test, RzUtil

#3289 Add comment on load opcodes with the loaded value
  librz/analysis/p/analysis_xtensa.c
  test/db/analysis/xtensa
Labels: rz-test, RzAnalysis

#3292 Make afs respect the cc (Fix #3291)
  librz/analysis/fcn.c
  librz/analysis/function.c
  librz/analysis/var.c
  librz/core/cmd/cmd_analysis.c
  librz/include/rz_analysis.h
  librz/include/rz_type.h
  librz/type/function.c
  test/db/cmd/types
  test/unit/test_analysis_cc.c
  test/unit/test_analysis_function.c
Labels: rz-test, RzAnalysis, API, RzCore, merge-when-green, RzType

#3277 Fix plugin removal and clean code
  librz/analysis/analysis.c
  librz/analysis/esil/esil_interrupt.c
  librz/analysis/esil/esil_sources.c
  librz/asm/asm.c
  librz/bin/bin.c
  librz/bp/bp.c
  librz/bp/bp_plugin.c
  librz/core/cmd/cmd_api.c
  librz/core/cmd/cmd_debug.c
  librz/core/cmd/cmd_plugins.c
  librz/core/cmd/cmd_write.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_plugins.yaml
  librz/core/core.c
  librz/core/cplugin.c
  librz/core/libs.c
  librz/core/p/core_dex.c
  librz/core/p/core_java.c
  librz/core/p/core_plugin_example.c
  librz/crypto/crypto.c
  librz/debug/debug.c
  librz/debug/plugin.c
  librz/demangler/demangler.c
  librz/egg/egg.c
  librz/hash/hash.c
  librz/include/rz_analysis.h
  librz/include/rz_asm.h
  librz/include/rz_bin.h
  librz/include/rz_bp.h
  librz/include/rz_core.h
  librz/include/rz_crypto.h
  librz/include/rz_debug.h
  librz/include/rz_demangler.h
  librz/include/rz_egg.h
  librz/include/rz_hash.h
  librz/include/rz_io.h
  librz/include/rz_lang.h
  librz/include/rz_lib.h
  librz/include/rz_parse.h
  librz/include/rz_syscall.h
  librz/include/rz_util/rz_sys.h
  librz/io/io_plugin.c
  librz/io/p/io_self.c
  librz/lang/lang.c
  librz/lang/p/c.c
  librz/lang/p/lib.c
  librz/main/rz-asm.c
  librz/main/rz-bin.c
  librz/main/rz-hash.c
  librz/parse/parse.c
  librz/socket/run.c
  librz/socket/rzpipe.c
  librz/util/lib.c
  librz/util/sys.c
  subprojects/rzwinkd/iob_net.c
  test/unit/legacy_unit/util/test-plugin.c
  test/unit/meson.build
  test/unit/test_crypto.c
Labels: rz-asm, rz-bin, rz-test, RzIO, RzLang, RzBin, RzAnalysis, RzDebug, API, ESIL, RzCore, RzCrypto, RzParse, merge-when-green, WinDbg, RzEgg, RzUtil, rz-hash, java, RzHash, RzBreakpoint, RzSocket

#3285 ci: add CI for rz-bindgen
  .github/workflows/ci.yml
Labels: infrastructure

#3297 Limit op cache in type matching
  librz/core/analysis_tp.c
Labels: RzCore

#3299 Fix English in docs files and updated/removed some tips
  doc/esil.md
  doc/fortunes.fun
  doc/fortunes.tips
Labels: documentation

#3303 Fix #3128 - Add overflow checks on dyldcache bin values.
  librz/bin/format/mach0/dyldcache.c
Labels: RzBin, Mach-O

#3284 Use proper methods to detect strings in analysis loop.
  librz/core/canalysis.c
  librz/core/cbin.c
  librz/include/rz_bin.h
  test/db/abi/compilers/pelles_c
  test/db/analysis/x86_32
  test/db/cmd/metadata
  test/db/formats/bflt
Labels: rz-test, API, RzCore

#3307 Fix string flag sizes after aar (Fix #3305)
  librz/core/canalysis.c
  test/db/analysis/hexagon
  test/db/formats/elf/strings
Labels: rz-test, RzCore

#3312 Set up srht builds to trigger through hottub
  .builds/freebsd.yml
  .builds/netbsd.yml
  .builds/openbsd.yml
Labels: infrastructure

#3300 Use compiler intrinsics for `rz_swap_*` functions
  librz/include/rz_endian.h
  librz/include/rz_userconf.h.in
  meson.build
  test/unit/test_endian.c
  test/unit/test_util.c
Labels: rz-test, API

#3315 Make bp usage check not depend on opex string
  librz/analysis/fcn.c
Labels: RzAnalysis

#3213 Convert `pC` commands to rzshell
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
  librz/core/core_private.h
  librz/core/cprint.c
  librz/core/tui/visual.c
  test/db/cmd/cmd_p_capital_c
  test/db/cmd/cmd_pd
Labels: rz-test, RzCore

#3317 Fix integer shift UB in ARM ESIL uplifting
  librz/analysis/arch/arm/arm_esil64.c
Labels: RzAnalysis

#3313 librz: do not duplicate plugins
  librz/analysis/analysis.c
  librz/asm/asm.c
  librz/bin/bin.c
  librz/bp/bp.c
  librz/core/cplugin.c
  librz/crypto/crypto.c
  librz/debug/plugin.c
  librz/demangler/demangler.c
  librz/egg/egg.c
  librz/hash/hash.c
  librz/include/rz_hash.h
  librz/include/rz_lang.h
  librz/include/rz_lib.h
  librz/include/rz_list.h
  librz/io/io_plugin.c
  librz/lang/lang.c
  librz/parse/parse.c
  librz/util/lib.c
  librz/util/list.c
Labels: RzIO, RzLang, RzBin, RzAnalysis, RzDebug, API, RzCore, RzCrypto, RzParse, RzEgg, RzUtil, RzHash, RzBreakpoint

#3319 core: implement simple 'help' command
  librz/core/cmd/cmd_help.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
Labels: RzCore

#3321 Refactor srec reading to not use sscanf
  librz/io/p/io_srec.c
  librz/util/hex.c
  test/db/io/srec
Labels: rz-test, RzIO, RzUtil

#3320 core: replace 'it' with 'iT'
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_info.yaml
  librz/core/tui/panels.c
  test/db/cmd/cmd_i
  test/db/formats/n3ds
  test/db/formats/pe/authentihash
  test/db/json/json3
Labels: rz-test, RzCore

#3326 Fix bx after add lr,pc,0 in arm32
  librz/analysis/fcn.c
  test/db/analysis/arm
Labels: rz-test, RzAnalysis

#3328 Fix #2859 - Use minstring in all bin plugins
  librz/bin/p/bin_bflt.c
  librz/bin/p/bin_dmp64.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_le.c
  librz/bin/p/bin_mach0.c
  librz/bin/p/bin_mach064.c
  librz/bin/p/bin_mdmp.c
  librz/bin/p/bin_pe.inc
  librz/bin/p/bin_psxexe.c
  librz/bin/p/bin_smd.c
  librz/core/cconfig.c
  librz/main/rz-bin.c
  test/db/cmd/cmd_i
  test/db/tools/rz_bin
Labels: rz-bin, rz-test, RzBin, RzCore, ELF, PE, Mach-O

#3306 Fix #3280 - Restores color on returning from Rh.
  librz/core/rtr_http.c
Labels: RzCore

#3329 Small refactoring of rtr_http.c code
  librz/core/cconfig.c
  librz/core/rtr.c
  librz/core/rtr_http.c
Labels: RzCore
