Repository rizinorg/rizin, pull requests merged in 2023-03, with the labels that each got.

#3405 Remove dead code in RzCons dietline
  librz/cons/dietline.c
Labels: dietline, RzCons

#3410 Move rz_mem_alloc() to rz_alloc.h
  librz/include/rz_util/rz_alloc.h
  librz/include/rz_util/rz_mem.h
  librz/util/alloc.c
  librz/util/mem.c
Labels: API, RzUtil

#3411 Remove inefficient rz_mem_swapendian()
  librz/asm/arch/arm/armass.c
  librz/asm/p/asm_sparc_gnu.c
  librz/include/rz_util/rz_mem.h
  librz/main/rz-ax.c
  librz/parse/filter.c
  librz/util/mem.c
Labels: rz-ax, API, RzParse, ARM, RzUtil, RzAsm-Assembler

#3412 Fix C++ use for rz_* allocation functions
  librz/include/rz_util/rz_alloc.h
Labels: API

#3414 Fix string search to use proper implementation
  librz/search/meson.build
  librz/search/search.c
  librz/search/strings.c
Labels: RzSearch

#3413 8051 IL fixes
  librz/analysis/arch/8051/8051_il.c
  librz/analysis/arch/8051/8051_il.h
  librz/analysis/arch/8051/8051_parse.c
  librz/analysis/p/analysis_8051.c
  test/db/asm/8051
Labels: rz-test, RzAnalysis

#3415 Remove unused global in RzCore analysis
  librz/core/canalysis.c
Labels: RzCore

#3417 Fix archive file io plugin
  librz/include/rz_util/rz_str_util.h
  subprojects/rzar/ar.c
  subprojects/rzar/ar.h
  test/db/formats/ar
Labels: rz-test, API

#3418 Set perm to 644 to multiple text files
  doc/examples/egg/hi.r
  librz/magic/d/default/archive
  test/notworking_db/darwin-x64/dbg_cmdbps
  test/notworking_db/darwin-x64/dbg_dcu
  test/notworking_db/darwin-x64/dbg_di
  test/notworking_db/darwin-x64/dbg_io
  test/notworking_db/darwin-x64/dbg_oo
  test/notworking_db/darwin-x64/dbg_step
  test/notworking_db/darwin-x64/me
  test/notworking_db/darwin-x64/shell_uname
  test/notworking_db/linux-arm/dbg_bps
Labels: documentation, rz-test, RzMagic

#3419 Fix ar naming and io read/write api
  librz/io/p/io_ar.c
  subprojects/rzar/ar.c
  test/db/formats/ar
Labels: rz-test, RzIO

#3386 doc: add release issue template
  .github/workflows/ci.yml
  doc/RELEASE.md
  doc/release-template.md
Labels: documentation, infrastructure

#3420 Add validation for rzil float theory
  librz/il/il_validate.c
  test/unit/test_il_validate.c
Labels: rz-test, RZIL

#3423 Remove leftovers from radare2 codebase
  doc/examples/egg/simple.r
  librz/include/sflib/darwin-arm-64/sfsyscall.h
Labels: documentation, API

#3422 Fix conversion from GDB register profile to rizin profile
  librz/debug/p/debug_gdb.c
  librz/debug/p/debug_io.c
  librz/include/rz_types_base.h
  librz/reg/profile.c
Labels: RzDebug, API, GDB, RzReg

#3424 rz_util: Fix cross-compilation when using system openssl
  librz/util/meson.build
Labels: RzUtil

#3426 Allow to perform auto-analysis also from plugins
  librz/core/canalysis.c
  librz/include/rz_core.h
Labels: API, RzCore

#3436 Fix Debian Jessie builds
  .github/workflows/ci.yml
Labels: infrastructure

#3433 convert RzBitmap to RzBitvector
  librz/bin/format/dmp/dmp64.c
  librz/include/meson.build
  librz/include/rz_util.h
  librz/include/rz_util/rz_bitmap.h
  librz/util/bitmap.c
  librz/util/meson.build
  test/unit/meson.build
  test/unit/test_bitmap.c
Labels: rz-test, RzBin, API, merge-when-green, RzUtil

#3432 comparison of integer expressions of different signedness issue
  librz/include/rz_util/rz_buf.h
Labels: API

#3439 SuperH should be less verbose.
  librz/analysis/arch/sh/sh_il.c
  librz/analysis/p/analysis_sh.c
Labels: RzAnalysis

#3441 Move `%a` to `ascii`, `%F` to `flush`
  librz/core/cmd/cmd_math.c
  librz/core/cmd/cmd_shell.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_math.yaml
  librz/core/cmd_descs/cmd_shell.yaml
Labels: RzCore
