Repository rizinorg/rizin, pull requests merged in 2023-07, with the labels that each got.

#3620 Limit aap scan like we do for strings.
  librz/core/cconfig.c
  librz/core/cmd/cmd_search.c
Labels: RzCore, merge-when-green

#3618 Remove type links and use global vars
  librz/analysis/analysis.c
  librz/analysis/meson.build
  librz/analysis/serialize_analysis.c
  librz/analysis/serialize_typelink.c
  librz/analysis/typelink.c
  librz/analysis/types.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_type.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_type.yaml
  librz/core/ctypes.c
  librz/core/disasm.c
  librz/core/project_migrate.c
  librz/include/rz_core.h
  librz/include/rz_project.h
  test/db/cmd/cmd_avg
  test/db/cmd/project
  test/db/cmd/types
  test/integration/test_project_migrate.c
Labels: rz-test, RzAnalysis, API, RzCore, merge-when-green

#3634 Refactoring debug plugin and cleanup output
  librz/core/cdebug.c
  librz/core/cmd/cmd_debug.c
  librz/core/cmd_descs/cmd_debug.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/debug/dmap.c
  librz/debug/p/debug_bf.c
  librz/debug/p/debug_bochs.c
  librz/debug/p/debug_gdb.c
  librz/debug/p/debug_io.c
  librz/debug/p/debug_native.c
  librz/debug/p/debug_qnx.c
  librz/debug/p/debug_rap.c
  librz/debug/p/debug_windbg.c
  librz/include/rz_debug.h
  test/unit/test_debug.c
Labels: rz-test, RzDebug, API, RzCore, GDB, WinDbg

#3635 Remove typelink remnants
  librz/include/rz_analysis.h
Labels: API, merge-when-green

#3636 Fix /wi by removing wrong fallthrough
  librz/core/cmd/cmd_search.c
  test/db/cmd/cmd_search
Labels: rz-test, RzCore

#3638 Remove typelink remnants
  librz/core/core_private.h
  librz/include/rz_core.h
Labels: API, RzCore

#3640 Show even sections with 0 size/vsize
  librz/bin/format/pe/pe_section.c
  librz/bin/p/bin_pe.inc
  test/db/formats/pe/virtsectblXP
Labels: rz-test, RzBin, PE

#3645 Fix ESIL issues: Shift by register, double word store
  librz/analysis/arch/arm/arm_accessors32.h
  librz/analysis/arch/arm/arm_esil32.c
Labels: RzAnalysis

#3528 Armv7 NEON and VFP for rzil
  librz/analysis/arch/arm/arm_il32.c
  librz/analysis/p/analysis_arm_cs.c
  librz/include/rz_il/rz_il_opbuilder_begin.h
  librz/include/rz_util/rz_float.h
  librz/util/float/float.c
  librz/util/float/float_internal.c
  test/db/abi/platforms/reg_profile
  test/db/analysis/arm
  test/db/formats/elf/core
  test/db/rzil/arm32
Labels: rz-test, RzAnalysis, API, high-priority, ARM, RzUtil

#3651 Fix capstone v3 support
  librz/analysis/arch/arm/arm_il32.c
  librz/analysis/p/analysis_sparc_cs.c
  librz/analysis/p/analysis_sysz.c
  librz/analysis/p/analysis_tms320c64x.c
  librz/analysis/p/analysis_x86_cs.c
  librz/analysis/p/analysis_xcore_cs.c
Labels: RzAnalysis, merge-when-green, X86

#3655 Easier API for creating global variable
  librz/analysis/var_global.c
  librz/include/rz_analysis.h
  test/integration/test_analysis_global_var.c
Labels: rz-test, RzAnalysis, API

#3654 Remove "rzk" and "gprobe" IO plugins
  doc/gprobe.md
  librz/include/rz_io.h
  librz/io/meson.build
  librz/io/p/io_gprobe.c
  librz/io/p/io_gprobe.h
  librz/io/p/io_rzk.c
  librz/io/p/io_rzk_linux.c
  librz/io/p/io_rzk_linux.h
  librz/io/p/io_rzk_windows.c
  librz/io/p/io_rzk_windows.h
  test/db/cmd/cmd_list
Labels: documentation, rz-test, RzIO, API, Windows

#3659 Add bin.demangle.flags to allow users to simplify or not mangled strings
  librz/bin/bin_demangle.c
  librz/bin/bobj_process.c
  librz/bin/bobj_process_import.c
  librz/bin/bobj_process_reloc.c
  librz/bin/bobj_process_symbol.c
  librz/bin/format/dex/dex.c
  librz/bin/format/java/class_bin.c
  librz/bin/i/private.h
  librz/core/cbin.c
  librz/core/cconfig.c
  librz/core/cmd/cmd_info.c
  librz/core/cpdb.c
  librz/core/p/core_java.c
  librz/demangler/demangler.c
  librz/include/rz_bin.h
  librz/include/rz_demangler.h
  librz/main/rz-bin.c
  subprojects/libdemangle.wrap
  test/db/analysis/java
  test/db/formats/demangling_bin
  test/db/formats/dex
Labels: rz-bin, rz-test, RzBin, API, RzCore, PDB, java, DEX

#3663 Add support for PT_OPENBSD_NOBTCFI detection
  librz/bin/format/elf/elf.h
  librz/bin/format/elf/elf_info.c
  librz/bin/format/elf/elf_specs.h
  librz/bin/p/bin_elf.inc
  librz/core/cbin.c
  librz/include/rz_bin.h
  test/db/formats/elf/sections
Labels: rz-test, RzBin, API, RzCore, ELF

#3671 Add entropy edges.131
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
  librz/util/table.c
  test/db/cmd/cmd_print
Labels: rz-test, RzCore, RzUtil

#3662 Add asm test for arm32 il lifter
  librz/analysis/arch/arm/arm_accessors32.h
  librz/analysis/arch/arm/arm_il32.c
  test/db/asm/arm_32
Labels: rz-test, RzAnalysis, high-priority

#3673 test: remove duplicate `dbg.fds.count` test
  test/db/archos/linux-x64/dbg_fds
Labels: rz-test

#3675 reuse: fix DEP5 format for multiline copyright
  .reuse/dep5
Labels: merge-when-green

#3674 arm: use `cortexm` cpu instead of `cortex`
  librz/analysis/p/analysis_arm_cs.c
  librz/asm/p/asm_arm_cs.c
  test/db/asm/arm_cortexm_16
  test/db/cmd/cmd_pd
  test/db/cmd/cmd_pd_bugs
  test/db/tools/rz_asm
Labels: rz-test, RzAnalysis, ARM

#3678 Fix `fl.` commands and add tests
  librz/core/cflag.c
  test/db/cmd/cmd_flags
Labels: rz-test, RzCore

#3680 Update rz-libdemangle
  subprojects/libdemangle.wrap
  test/db/cmd/cmd_i
  test/db/formats/mach0/relocs
Labels: rz-test

#3681 Improve help for `~:` command
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.yaml
Labels: RzCore

#3683 Update TinyCC CI job
  .github/workflows/tcc.yml
Labels: infrastructure

#3679 Move rz_core_analysis_var_display to public api
  librz/core/canalysis.c
  librz/core/core_private.h
  librz/include/rz_core.h
Labels: API, RzCore

#3672 Move RzOutputMode to rz_cmd.h
  librz/include/rz_cmd.h
  librz/include/rz_types.h
Labels: API

#3666 LE plugin rewrite
  README.md
  librz/bin/format/le/le.c
  librz/bin/format/le/le.h
  librz/bin/format/le/le_specs.h
  librz/bin/p/bin_le.c
  test/db/formats/le
Labels: rz-test, RzBin

#3682 Show flag realname too in `fl.t` table output
  librz/core/cflag.c
  test/db/cmd/cmd_flags
  test/db/cmd/tables
Labels: rz-test, RzCore

#3660 Not an error
  librz/core/cfile.c
  test/db/archos/linux-x64/dbg_oo
Labels: rz-test, RzCore

#3693 core: fix 'pxj' command to not use core->block
  librz/core/cprint.c
Labels: RzCore

#3687 Make rz_core_analysis_var_display work with stack vars when debugging
  librz/analysis/var.c
  librz/core/canalysis.c
  librz/core/cmd/cmd_type.c
  librz/include/rz_analysis.h
  librz/include/rz_core.h
  test/db/archos/linux-x64/dbg_afvd
Labels: rz-test, RzAnalysis, API, RzCore, merge-when-green

#3690 Fix #3647
  librz/core/tui/panels.c
Labels: RzCore
