Repository rizinorg/rizin, pull requests merged in 2023-04, with the labels that each got.

#3451 Convert ps to newshell
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
  test/db/archos/darwin-x64/dbg
  test/db/cmd/cmd_0
  test/db/cmd/cmd_foreach
  test/db/cmd/cmd_pf_elf
  test/db/cmd/cmd_ps
  test/db/cmd/cmd_psj
  test/db/cmd/cmd_r
  test/db/cmd/cmd_search_hit
  test/db/cmd/cmd_wox
  test/db/cmd/cmds
  test/db/cmd/feat_input
  test/db/cmd/feat_yank
  test/db/cmd/write
  test/db/esil/esil
  test/db/esil/mips_32
  test/db/formats/mach0/fatmach0
  test/db/formats/mach0/mach0
  test/db/io/resize
  test/db/rzil/ppc32
  test/db/rzil/ppc64
Labels: rz-test, RzCore

#3452 Improve cmd_help.yaml and fix random number generator
  librz/cons/cons.c
  librz/core/cio.c
  librz/core/cmd/cmd_math.c
  librz/core/cmd/cmd_shell.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_math.yaml
  librz/core/rtr_http.c
  librz/core/tui/colors.c
  librz/include/rz_util/rz_num.h
  librz/io/p/io_zip.c
  librz/socket/socket.c
  librz/util/file.c
  librz/util/unum.c
  subprojects/rzwinkd/iob_net.c
  test/unit/test_contrbtree.c
Labels: rz-test, RzIO, API, RzCore, WinDbg, RzUtil, RzCons, RzSocket

#3458 Add RzBin symbols API test
  test/integration/meson.build
  test/integration/test_bin_symbols.c
Labels: rz-test

#3445 Add Undo/Redo to dietline emacs mode
  librz/cons/dietline.c
  librz/cons/line.c
  librz/include/rz_cons.h
  test/unit/test_cons.c
Labels: rz-test, API, merge-when-green, dietline, RzCons

#3472 Bump version of libdemangle to support Delphi C++
  librz/bin/bin.c
  librz/demangler/demangler.c
  librz/main/rz-bin.c
  subprojects/libdemangle.wrap
  test/db/tools/rz_bin
Labels: rz-bin, rz-test, RzBin

#3474 Elf symbol versioning fixes
  librz/bin/format/elf/elf_info.c
  test/db/formats/elf/sym_version
Labels: rz-test, RzBin, ELF

#3464 cons: enable VI mode with ESC only, no alt-ESC
  librz/cons/dietline.c
Labels: dietline, RzCons

#3482 update i386 argument constraints
  librz/include/sflib/darwin-x86-32/sflib.h
  librz/include/sflib/darwin-x86-32/sfsyscall.h
  librz/include/sflib/darwin-x86-32/sfsysnr.h
  librz/include/sflib/linux-x86-32/sflib.h
  librz/include/sflib/linux-x86-32/sfsyscall.h
  librz/include/sflib/linux-x86-32/sfsysnr.h
Labels: API

#3480 Add threaded iterators
  librz/include/rz_th.h
  librz/util/meson.build
  librz/util/thread_iterators.c
  test/unit/test_threads.c
Labels: rz-test, API, RzUtil

#3479 Split bin field from class fields and fix demangling on java
  librz/bin/bfile.c
  librz/bin/bin.c
  librz/bin/bobj.c
  librz/bin/format/dex/dex.c
  librz/bin/format/dex/dex.h
  librz/bin/format/java/class_bin.c
  librz/bin/format/java/class_bin.h
  librz/bin/format/objc/mach0_classes.c
  librz/bin/i/private.h
  librz/bin/p/bin_dex.c
  librz/bin/p/bin_java.c
  librz/core/cbin.c
  librz/core/tui/classes.c
  librz/core/tui/hud.c
  librz/include/rz_bin.h
  librz/include/rz_core.h
  librz/main/rz-diff.c
  test/db/analysis/dalvik
  test/db/analysis/java
  test/db/cmd/cmd_i
  test/db/cmd/cmd_tc
  test/db/formats/dex
  test/db/formats/dyldcache
  test/db/formats/java
  test/db/formats/mach0/arm64e
  test/db/formats/mach0/fatmach0
  test/db/formats/mach0/objc
  test/db/tools/rz_bin
  test/db/tools/rz_diff
Labels: rz-test, RzBin, rz-diff, API, RzCore, java, DEX

#3484 return error codes on failures
  librz/egg/egg.c
  librz/include/rz_egg.h
  librz/main/rz-gg.c
  test/db/tools/rz_gg
Labels: rz-test, API, RzEgg, rz-gg
