Repository rizinorg/rizin, pull requests merged in 2023-08, with the labels that each got.

#3688 Visual p== mode.130
  librz/cons/histogram.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
  librz/include/rz_cons.h
Labels: API, RzCore, RzCons

#3692 core: fix output of pC commands
  librz/core/cmd/cmd_print.c
  test/db/cmd/cmd_p_capital_c
Labels: rz-test, RzCore

#3710 Fix jvm analysis and asm due wrong section address
  librz/analysis/p/analysis_java.c
  librz/asm/p/asm_java.c
Labels: RzAnalysis

#3711 Asm token docs
  doc/asm_strings.md
  doc/img/hexagon-asm-syntax-general.png
  doc/img/hexagon-asm-syntax-general.png.license
  doc/img/hexagon-asm-syntax-regex.png
  doc/img/hexagon-asm-syntax-regex.png.license
  librz/asm/asm.c
  librz/asm/p/asm_bf.c
  librz/asm/p/asm_hexagon.c
  librz/include/rz_asm.h
  librz/include/rz_util/rz_print.h
Labels: documentation, API

#3714 Fix a typo in ut128 type
  librz/include/rz_types_base.h
Labels: API

#3716 unit: test_str compiler warnings fixes
  test/unit/test_str.c
Labels: rz-test

#3717 Zero-initialize all members of ut128
  librz/include/rz_endian.h
Labels: API

#3708 Fix tricore sub jumps #3664
  librz/analysis/p/analysis_tricore_cs.c
  librz/asm/arch/tricore/tricore.h
  librz/asm/arch/tricore/tricore.inc
  librz/asm/asm.c
  librz/asm/meson.build
  librz/asm/p/asm_tricore_cs.c
  librz/core/disasm.c
  test/db/analysis/tricore
  test/db/analysis/vars
Labels: rz-test, RzAnalysis, RzCore

#3724 Add new command plf to print the RzIL of the function
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
  librz/include/rz_core.h
  test/db/cmd/cmd_plf
Labels: rz-test, API, RzCore

#3734 removed LE header free
  librz/bin/format/le/le.c
Labels: RzBin

#3718 Fix arrow keys on some terminals
  librz/cons/dietline.c
  librz/cons/input.c
Labels: dietline, RzCons

#3741 Fix memleak in ds_opstr_try_colorize()
  librz/core/disasm.c
Labels: RzCore

#3729 Fix Tricore disassembly performance
  librz/analysis/p/analysis_tricore_cs.c
  librz/asm/arch/tricore/tricore.inc
  librz/asm/p/asm_tricore_cs.c
  librz/core/disasm.c
Labels: RzAnalysis, RzCore, merge-when-green

#3742 util, cmd: fix rz_rand64 and %r
  librz/core/cmd/cmd_math.c
  librz/include/rz_userconf.h.in
  librz/util/unum.c
  meson.build
Labels: API, RzCore, RzUtil

#3738 Expand PC commands to accept size argument
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_print.yaml
  librz/util/lang_byte_array.c
  test/db/cmd/cmd_pc
Labels: rz-test, RzCore, merge-when-green, RzUtil

#3748 util: remove dead RzNum code
  librz/include/rz_util/rz_num.h
  librz/util/unum.c
Labels: API, merge-when-green, RzUtil

#3739 Fix AVX512 detection and build in blake3
  subprojects/packagefiles/blake3/meson.build
Labels: stable-backport

#3753 Update rz-libdemangle
  subprojects/libdemangle.wrap
Labels: merge-when-green, stable-backport

#3756 RzStrBuf: remove weakref related code
  librz/include/rz_util/rz_strbuf.h
  librz/util/strbuf.c
  test/unit/test_strbuf.c
Labels: rz-test, API, RzUtil

#3764 Fix blake3 build with incompatible assemblers
  subprojects/packagefiles/blake3/meson.build
  subprojects/packagefiles/blake3/unix_syntax_check.S
Labels: stable-backport

#3758 visual: remove `prc=a` mode
  librz/core/tui/modes.c
  librz/core/tui/modes.h
Labels: RzCore, stable-backport

#3757 visual: mention `o` key in help
  librz/core/tui/visual.c
Labels: RzCore, stable-backport

#3769 Add SM3 hash
  librz/hash/algorithms/openssl_common.h
  librz/hash/algorithms/sm3/sm3.c
  librz/hash/algorithms/sm3/sm3.h
  librz/hash/meson.build
  librz/hash/p/algo_sm3.c
  librz/include/rz_hash.h
  test/db/cmd/cmd_list
  test/db/tools/rz_hash
  test/unit/test_hash.c
Labels: rz-test, API, merge-when-green, RzHash

#3762 Fix: overflow of core->block in the handler of command plf
  librz/core/cmd/cmd_print.c
  test/db/cmd/cmd_plf
Labels: rz-test, RzCore

#3773 Unify crypto plugin api to match all the other plugins.
  librz/core/ccrypto.c
  librz/core/cmd/cmd_plugins.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_plugins.yaml
  librz/core/meson.build
  librz/crypto/crypto.c
  librz/include/rz_core.h
  librz/include/rz_crypto.h
  librz/main/rz-hash.c
Labels: API, RzCore, RzCrypto, rz-hash

#3774 Add '%$' command to deal with rizin variables
  librz/core/cmd/cmd_math.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_math.yaml
  librz/core/tui/config.c
  librz/include/rz_core.h
Labels: API, RzCore, stable-backport

#3770 Fold same-typed variables if there are more than 3
  librz/core/cconfig.c
  librz/core/disasm.c
Labels: RzCore

#3779 Fix several memleaks
  librz/analysis/arch/ppc/ppc_il_ops.c
  librz/asm/aop.c
  librz/core/canalysis.c
  librz/core/cmd/cmd_regs.c
  librz/il/theory_effect.c
Labels: RzAnalysis, RzCore, RZIL

#3759 subprojects/zlib: Improve meson.build, emulating configure script
  subprojects/packagefiles/zlib-1.3/meson.build
  subprojects/zlib.wrap
Labels: merge-when-green

#3781 Refactor imports-related stuff from RzList to RzPVector
  librz/bin/bin.c
  librz/bin/bin_language.c
  librz/bin/bobj.c
  librz/bin/bobj_process_import.c
  librz/bin/format/dex/dex.c
  librz/bin/format/dex/dex.h
  librz/bin/format/java/class_bin.c
  librz/bin/format/java/class_bin.h
  librz/bin/format/le/le.c
  librz/bin/format/le/le.h
  librz/bin/format/mdmp/mdmp_pe.c
  librz/bin/format/mdmp/mdmp_pe.h
  librz/bin/format/ne/ne.c
  librz/bin/format/ne/ne.h
  librz/bin/format/nxo/nxo.c
  librz/bin/format/nxo/nxo.h
  librz/bin/p/bin_coff.c
  librz/bin/p/bin_dex.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_java.c
  librz/bin/p/bin_mach0.c
  librz/bin/p/bin_mdmp.c
  librz/bin/p/bin_ne.c
  librz/bin/p/bin_nro.c
  librz/bin/p/bin_p9.c
  librz/bin/p/bin_pe.inc
  librz/bin/p/bin_wasm.c
  librz/core/cbin.c
  librz/core/cfile.c
  librz/core/cgraph.c
  librz/core/cmd/cmd.c
  librz/include/rz_bin.h
  librz/main/rz-diff.c
  librz/main/rz-find.c
  test/integration/test_bin.c
  test/integration/test_bin_symbols.c
Labels: rz-test, RzBin, rz-find, rz-diff, API, RzCore, merge-when-green, ELF, PE, Mach-O, java, DEX

#3783 Updating_man
  binrz/man/rizin.1
  binrz/man/rz-diff.1
Labels: merge-when-green

#3788 Refactor the pointer command to use the API
  librz/core/cmd/cmd.c
  librz/core/core.c
  test/db/cmd/cmd_pointer
Labels: rz-test, RzCore, stable-backport

#3791 Fix cmd_pointer test on Travis
  test/db/cmd/cmd_pointer
Labels: rz-test

#3792 Fix docker build
  librz/include/rz_analysis.h
Labels: API

#3793 Refactor pointer write command `*` to use the API
  librz/core/cmd/cmd.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.yaml
  librz/include/rz_util/rz_hex.h
  librz/reg/arena.c
  librz/util/hex.c
  test/db/cmd/cmd_pointer
Labels: rz-test, API, RzCore, RzUtil, RzReg

#3797 Fix segfault in rz_seek_end_handler
  librz/core/cmd/cmd_seek.c
Labels: RzCore

#3794 Restore original seek offset after iterating over flags with `@@f`
  librz/core/cmd/cmd.c
  test/db/analysis/golang
Labels: rz-test, RzCore

#3801 Refactor Golang-specific analysis to use the API
  librz/core/golang.c
Labels: RzCore, merge-when-green

#3795 DWARF support for load zlib and zstd compressed section
  librz/bin/dwarf/dwarf.c
  librz/bin/dwarf/op.c
  librz/bin/format/elf/glibc_elf.h
  librz/bin/meson.build
  librz/core/cdwarf.c
  meson.build
  subprojects/lz4.wrap
  subprojects/packagefiles/zstd-1.5.5/lib/meson.build
  subprojects/packagefiles/zstd-1.5.5/meson.build
  subprojects/packagefiles/zstd-1.5.5/meson_options.txt
  subprojects/zstd.wrap
  test/db/cmd/dwarf
Labels: rz-test, RzBin, RzCore, ELF, DWARF

#3800 rz-run resolve_value: Pass single-quoted strings unaltered
  librz/socket/run.c
  test/db/archos/linux-x64/dbg
Labels: rz-test, stable-backport, RzSocket

#3803 Fix div by zero in 's++' and 's--'
  librz/core/cmd/cmd_seek.c
  test/db/cmd/cmd_seek
Labels: rz-test, RzCore, merge-when-green, stable-backport

#3807 Coverity fixes - DWARF
  librz/analysis/var.c
  librz/bin/dwarf/dwarf_private.h
  librz/bin/dwarf/loclists.c
  librz/bin/dwarf/macro.inc
  librz/bin/dwarf/op.c
  librz/bin/dwarf/value.c
Labels: RzBin, RzAnalysis, merge-when-green

#3811 Fix several memleaks
  librz/core/cmd/cmd.c
  librz/core/cmd/cmd_eval.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd/cmd_seek.c
  librz/core/tui/visual.c
Labels: RzCore

#3810 Fix Resource leaks
  librz/analysis/dwarf_process.c
  librz/bin/dwarf/dwarf.c
  librz/bin/dwarf/dwarf_private.h
  librz/bin/dwarf/line.c
  librz/bin/dwarf/macro.inc
  librz/bin/dwarf/op.c
  librz/bin/dwarf/value.c
Labels: RzBin, RzAnalysis, DWARF

#3814 Fix rz-diff help message
  librz/main/rz-diff.c
Labels: rz-diff

#3809 Fix #3806: fuzzy `dbt` checks for CALL indirect on x86
  librz/debug/p/native/bt/fuzzy-all.c
  test/db/archos/linux-x64/dbg_trace1
Labels: rz-test, RzDebug
