Repository rizinorg/rizin, pull requests merged in 2023-02, with the labels that each got.

#3089 Convert `pr` commands to the rzshell
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
  test/db/archos/darwin-x64/cmd_i
  test/db/archos/linux-any/cmd_i
Labels: rz-test, RzCore

#3335 Coverity fixes - memory leaks, UAFs
  librz/analysis/arch/8051/8051_il.c
  librz/analysis/dwarf_process.c
  librz/analysis/similarity.c
  librz/analysis/var.c
  librz/analysis/xrefs.c
  librz/core/canalysis.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_help.c
  librz/core/cmd/cmd_open.c
  librz/core/cmd/cmd_print.c
  librz/core/rtr_http.c
  librz/debug/p/debug_bochs.c
  librz/include/rz_analysis.h
  librz/include/rz_core.h
  librz/main/rz-diff.c
  librz/util/log.c
Labels: RzAnalysis, RzDebug, rz-diff, API, RzCore, DWARF, RzUtil

#3327 Fix GitHub CodeQL code scanning warning 1657
  librz/core/linux_heap_glibc.c
Labels: RzCore

#3338 Fix variable declaration in `Vv` mode
  librz/core/tui/vmenus.c
Labels: RzCore

#3340 Fix big memory leak in parsing x86 disasm
  librz/parse/p/parse_x86_pseudo.c
Labels: RzParse

#3339 Coverity fixes - memory leaks, NULL dereferences
  librz/analysis/platform_target_index.c
  librz/analysis/rtti_msvc.c
  librz/analysis/similarity.c
  librz/analysis/var.c
  librz/bin/bfile_string.c
  librz/bin/format/ne/ne.c
  librz/bin/format/pe/pe_info.c
  librz/bin/p/bin_symbols.c
  librz/include/rz_util/rz_num.h
  librz/util/bitmap.c
  librz/util/buf.c
  librz/util/buf_file.c
  librz/util/debruijn.c
  librz/util/file.c
  librz/util/graph_drawable.c
  librz/util/hex.c
  librz/util/print.c
  librz/util/sdb/src/query.c
  librz/util/strbuf.c
  librz/util/table.c
  librz/util/unum.c
Labels: RzBin, RzAnalysis, API, merge-when-green, PE, RzUtil

#3341 Use theme color for `pxa` header
  librz/core/cmd/cmd_print.c
Labels: RzCore

#3343 Coverity fixes - memory leaks, integer overflows
  librz/asm/arch/8051/8051_ass.c
  librz/asm/arch/arm/armass.c
  librz/asm/arch/arm/armass64.c
  librz/asm/asm.c
  librz/asm/binutils_as.c
  librz/core/cmd/cmd_api.c
  librz/core/cmd/cmd_print.c
  librz/core/project_migrate.c
Labels: RzCore, ARM, RzAsm-Assembler

#3347 Add some missing Windows types
  librz/analysis/d/types-windows.sdb.txt
  librz/analysis/d/types-windows_processthreadsapi.sdb.txt
  test/db/cmd/types
Labels: rz-test, RzAnalysis, Windows

#3348 Coverity fixes - memory leaks
  librz/core/cautocmpl.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_meta.c
  librz/core/cprint.c
  librz/core/disasm.c
  librz/core/tui/hud.c
Labels: RzCore

#3342 Fix big memory leak in graph rendering
  librz/cons/canvas.c
  librz/core/agraph.c
Labels: RzCore, RzCons

#3346 Remove use of deprecated `set-output` in GHA
  .github/workflows/ci.yml
  .github/workflows/coverity-scan.yml
Labels: infrastructure

#3344 Linux heap - skip invalid addresses in main arena
  librz/core/linux_heap_glibc.c
Labels: RzCore

#3354 CI: env vars on windows work differently
  .github/workflows/ci.yml
Labels: infrastructure

#3352 Enable scroll in non-default printCmds in Vv mode
  librz/core/tui/vmenus.c
Labels: RzCore

#3355 Mute the mouse under hud mode
  librz/cons/dietline.c
Labels: dietline, RzCons

#3360 Remove old bash-based rz-pm
  .github/workflows/ci.yml
  CONTRIBUTING.md
  binrz/man/rz-pm.1
  binrz/meson.build
  binrz/rz-pm/meson.build
  binrz/rz-pm/rz-pm
  doc/avr.md
  librz/core/core.c
  meson_options.txt
  snapcraft.yaml
Labels: documentation, infrastructure, RzCore

#3361 Fix filling RzAnalysisDisasmText.arrow when asm.lines=false
  librz/core/disasm.c
  test/unit/test_analysis_op.c
Labels: rz-test, RzCore

#3366 Fix crash in `iA` commands for undefined arch
  librz/core/cbin.c
Labels: RzCore

#3323 io: return error when reading/writing to unmapped memory
  librz/analysis/esil/esil.c
  librz/bin/format/mach0/dyldcache_rebase.c
  librz/core/cil.c
  librz/core/cio.c
  librz/core/cmd/cmd_resize.c
  librz/core/cmd/cmd_write.c
  librz/core/tui/panels.c
  librz/core/tui/visual.c
  librz/include/rz_util/rz_buf.h
  librz/io/io.c
  librz/io/io_desc.c
  librz/io/p/io_default.c
  librz/util/buf_bytes.c
  librz/util/buf_io.c
  test/db/cmd/cmd_open
  test/db/cmd/cmd_pde
  test/unit/test_core_bin.c
  test/unit/test_io.c
Labels: rz-test, RzIO, RzBin, RzAnalysis, API, ESIL, RzCore, Mach-O, RzUtil, RZIL

#3184 Add fbasic theory to rzil using rz_util/float
  librz/core/cil.c
  librz/il/definitions/float.c
  librz/il/definitions/value.c
  librz/il/il_export.c
  librz/il/il_opcodes.c
  librz/il/il_vm_eval.c
  librz/il/meson.build
  librz/il/theory_fbasic.c
  librz/il/theory_init.c
  librz/include/rz_il/definitions/definitions.h
  librz/include/rz_il/definitions/float.h
  librz/include/rz_il/definitions/sort.h
  librz/include/rz_il/definitions/value.h
  librz/include/rz_il/rz_il_opcodes.h
  librz/include/rz_il/rz_il_vm.h
  librz/include/rz_util/rz_float.h
  librz/util/float/float.c
  librz/util/float/float_internal.c
  test/unit/test_float.c
  test/unit/test_il_vm.c
Labels: rz-test, API, ESIL, RzCore, RzUtil, RZIL

#3370 Fix install-headers and `float.h`
  librz/include/meson.build
  librz/include/rz_il/definitions/float.h
Labels: API

#3374 Fix rizinorg/cutter#3117 null deref due unknown type
  librz/type/format.c
Labels: merge-when-green, RzType, stable-backport

#3375 Fix rizinorg/cutter#3117 null deref due unknown type (#3374)
  librz/type/format.c
Labels: merge-when-green, RzType

#3378 Added agw details and fixed memleak
  librz/core/cgraph.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
Labels: RzCore

#3379 Added `agw` details and fixed memleak (#3378)
  librz/core/cgraph.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
Labels: RzCore, merge-when-green, stable-backport

#3373 Add macros to generate inf/nan for different types
  librz/include/rz_types_base.h
  librz/include/rz_util/rz_float.h
  librz/util/float/float.c
Labels: API, RzUtil

#3383 CI: fix system capstone meson flag
  .github/workflows/ci.yml
Labels: infrastructure

#3388 CI: install system capstone dependencies
  .github/workflows/ci.yml
Labels: infrastructure

#3385 fix cris-dis lto-type-mismatch warning
  librz/asm/arch/cris/gnu/cris-dis.c
Labels: RzAsm-Disassembler

#3389 Fix crash for union type formatting with unknown member
  librz/type/format.c
Labels: merge-when-green, RzType

#3384 Add GAS/AT&T syntax support in asm.c assembler
  librz/asm/asm.c
  test/db/tools/rz_asm
Labels: rz-test

#3394 Fix CI by making GAS test Linux x86-only
  test/db/archos/linux-x64/asm_x64_as
  test/db/tools/rz_asm
Labels: rz-test

#3401 Remove ip/eip/rip from lists of bound regs
  librz/analysis/arch/x86/x86_il.c
Labels: RzAnalysis

#3392 Fix Linux native debugger compilation for ARM64
  librz/debug/p/native/linux/linux_debug.c
Labels: RzDebug

#3402 x86 IL: fix infinite loop caused by x86_il_get_parity
  librz/analysis/arch/x86/x86_il.c
  test/db/analysis/x86_32
  test/db/asm/x86_16
  test/db/asm/x86_32
  test/db/asm/x86_64
Labels: rz-test, RzAnalysis

#3403 Convert `dcs` to the rzshell
  librz/core/cmd/cmd_debug.c
  librz/core/cmd_descs/cmd_debug.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
Labels: RzCore
