Repository rizinorg/rizin, pull requests merged in 2024-07, with the labels that each got.

#4379 Lift MSP430 machine language to RzIL
  librz/arch/isa/msp430/msp430_disas.c
  librz/arch/isa/msp430/msp430_disas.h
  librz/arch/isa/msp430/msp430_il.c
  librz/arch/isa/msp430/msp430_il.h
  librz/arch/isa/msp430/msp430_il_flags.h
  librz/arch/isa/msp430/msp430_il_getset.h
  librz/arch/isa/msp430/msp430_il_jmp_utils.h
  librz/arch/isa/msp430/msp430_register_names.h
  librz/arch/meson.build
  librz/arch/p/analysis/analysis_msp430.c
  test/db/asm/msp430
  test/db/cmd/cmd_list
  test/db/rzil/msp430
Labels: rz-test, RzAnalysis, merge-when-green, RZIL, RzAsm-Disassembler, MSP430

#4558 fix build error on loongarch64
  librz/debug/p/native/linux/linux_debug.c
  librz/debug/p/native/linux/linux_debug.h
  librz/debug/p/native/linux/reg/linux-loongarch64.h
  subprojects/rzheap/rz_jemalloc/internal/jemalloc_internal.h
Labels: RzDebug

#4560 Add environment variables documentation to manpages and -hh
  binrz/man/rizin.1
  binrz/man/rz-asm.1
  binrz/man/rz-bin.1
  binrz/man/rz-test.1
  librz/main/rizin.c
  librz/main/rz-asm.c
  librz/main/rz-bin.c
Labels: documentation, rizin, rz-asm, rz-bin

#4552 Ropchain constraint syntax parser
  .gitignore
  librz/arch/analysis.c
  librz/core/cconfig.c
  librz/core/cmd/cmd_search.c
  librz/core/cmd/cmd_search_rop.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_search.yaml
  librz/core/meson.build
  librz/core/project_migrate.c
  librz/core/rop.c
  librz/include/meson.build
  librz/include/rz_analysis.h
  librz/include/rz_project.h
  librz/include/rz_rop.h
  test/db/analysis/avr
  test/db/cmd/cmd_rop
  test/db/cmd/cmd_search
  test/db/cmd/project
  test/integration/test_project_migrate.c
  test/prj/v17-rop-config.rzdb
  test/unit/meson.build
  test/unit/test_rop_constraint.c
Labels: rz-test, RzAnalysis, API, RzCore, test-required, ROP

#4564 test/unit/rop: set arch explicitly
  test/unit/test_rop_constraint.c
Labels: rz-test, merge-when-green

#4568 doc: updating math expresion command in fortunes
  doc/fortunes.tips
Labels: documentation

#4571 Fix reachable Capstone assert.
  librz/arch/isa/arm/arm_esil32.c
  test/db/esil/arm_32
Labels: rz-test, RzAnalysis, ARM

#4570 Add NDS overlays sections and updated nds header.
  librz/bin/format/nin/nds.h
  librz/bin/p/bin_ninds.c
Labels: RzBin

#4579 Adjust OpenBSD code to set the process state to be less wrong.
  librz/debug/p/native/bsd/bsd_debug.c
Labels: RzDebug, BSD

#4575 Document the register profile in its own file.
  doc/register_profile.md
Labels: documentation

#4569 Refactor and grep rop info
  librz/arch/analysis.c
  librz/core/cmd/cmd_search.c
  librz/core/cmd/cmd_search_rop.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_search.yaml
  librz/core/rop.c
  librz/il/il_events.c
  librz/include/rz_analysis.h
  librz/include/rz_il/rz_il_events.h
  librz/include/rz_reg.h
  librz/include/rz_rop.h
  librz/reg/reg.c
Labels: RzAnalysis, API, RzCore, RzReg, RZIL
