Repository rizinorg/rizin, pull requests merged in 2024-03, with the labels that each got.

#4314 $: Add rzshell façade
  librz/core/cmd/cmd.c
  librz/core/cmd/cmd_alias.c
  librz/core/cmd_descs/cmd_alias.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
  librz/core/cmd_descs/meson.build
  librz/core/meson.build
  subprojects/rizin-shell-parser/grammar.js
  subprojects/rizin-shell-parser/src/grammar.json
  subprojects/rizin-shell-parser/src/parser.c
  subprojects/rizin-shell-parser/src/scanner.c
  test/db/cmd/cmd_alias
  test/db/cmd/cmd_interpret
  test/db/cmd/cmd_pt
Labels: rz-test, RzCore, merge-when-green

#4320 Use rz_pvector_join instead of loop
  librz/bin/bfile.c
  librz/bin/bfile_string.c
  librz/bin/p/bin_mdmp.c
Labels: RzBin, PE

#4319 Refine the heuristic rule for encoding detection
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_print.yaml
  librz/util/str.c
  test/db/cmd/cmd_ps
  test/db/cmd/cmd_psj
Labels: rz-test, RzCore, merge-when-green, RzUtil

#4323 $: Revert code changes in #4293
  librz/core/cmd/cmd.c
Labels: RzCore

#4318 java: fix `java_class_parse`
  librz/bin/format/java/class_bin.c
  librz/bin/format/java/class_method.c
Labels: RzBin, java

#4321 Fix the PageUp and PageDown in graph mode in Vv
  librz/core/tui/vmenus.c
Labels: RzCore

#4327 Remove `rz_core_autocomplete` prototype
  librz/include/rz_core.h
Labels: API

#4336 Fix memleak in rz_bin_string_database_new()
  librz/bin/bobj.c
Labels: RzBin

#4342 Move parse into arch
  binrz/rizin/meson.build
  librz/arch/arch.c
  librz/arch/deprecated_arch_helper.h
  librz/arch/filter.c
  librz/arch/meson.build
  librz/arch/p/arch_6502.c
  librz/arch/p/arch_arm_cs.c
  librz/arch/p/arch_avr.c
  librz/arch/p/arch_chip8.c
  librz/arch/p/arch_dalvik.c
  librz/arch/p/arch_m68k_cs.c
  librz/arch/p/arch_mips_cs.c
  librz/arch/p/arch_ppc_cs.c
  librz/arch/p/arch_sh.c
  librz/arch/p/arch_tms320.c
  librz/arch/p/arch_v850.c
  librz/arch/p/arch_wasm.c
  librz/arch/p/arch_x86_cs.c
  librz/arch/p/parse/parse_6502_pseudo.c
  librz/arch/p/parse/parse_arm_pseudo.c
  librz/arch/p/parse/parse_avr_pseudo.c
  librz/arch/p/parse/parse_chip8_pseudo.c
  librz/arch/p/parse/parse_dalvik_pseudo.c
  librz/arch/p/parse/parse_m68k_pseudo.c
  librz/arch/p/parse/parse_mips_pseudo.c
  librz/arch/p/parse/parse_ppc_pseudo.c
  librz/arch/p/parse/parse_sh_pseudo.c
  librz/arch/p/parse/parse_tms320_pseudo.c
  librz/arch/p/parse/parse_v850_pseudo.c
  librz/arch/p/parse/parse_wasm_pseudo.c
  librz/arch/p/parse/parse_x86_pseudo.c
  librz/arch/p_gnu/arch_riscv.c
  librz/arch/p_gnu/arch_z80.c
  librz/arch/p_gnu/parse/parse_riscv_gnu.c
  librz/arch/p_gnu/parse/parse_z80_gnu.c
  librz/arch/parse.c
  librz/arch/parse_helper.c
  librz/arch/parse_helper.h
  librz/core/libs.c
  librz/core/meson.build
  librz/include/rz_arch.h
  librz/include/rz_parse.h
  librz/main/meson.build
  librz/main/rizin.c
  librz/meson.build
  librz/parse/README.md
  librz/parse/meson.build
  librz/parse/p/parse_att2intel.c
  meson.build
  test/db/cmd/cmd_list
  test/integration/meson.build
  test/unit/meson.build
Labels: rizin, rz-test, API, RzCore, RzParse

#4200 Rz-find -E "filename" to execute command on match
  binrz/man/rz-find.1
  librz/main/rz-find.c
  test/db/tools/rz_find
Labels: documentation, rz-test, rz-find, merge-when-green

#4348 Remove rz_list_get_top/bottom & rz_list_get_head/tail_data
  librz/arch/isa/hexagon/hexagon_arch.c
  librz/bin/format/le/le.c
  librz/bin/format/mach0/mach0.c
  librz/bin/format/xnu/rz_cf_dict.c
  librz/core/casm.c
  librz/core/cdebug.c
  librz/core/cmd/cmd.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd/cmd_search.c
  librz/core/ctypes.c
  librz/debug/p/native/windows/windows_debug.c
  librz/flag/flag.c
  librz/include/rz_list.h
  librz/reg/arena.c
  librz/reg/profile.c
  librz/util/list.c
  test/integration/test_dwarf.c
Labels: rz-test, RzBin, RzAnalysis, RzDebug, API, RzCore, RzFlag, Mach-O, Windows, RzUtil, RzReg

#4349 Convert basic block into RzPVector
  librz/arch/analysis.c
  librz/arch/block.c
  librz/arch/fcn.c
  librz/arch/function.c
  librz/arch/jmptbl.c
  librz/arch/serialize_analysis.c
  librz/arch/similarity.c
  librz/arch/xrefs.c
  librz/bin/format/mz/mz.c
  librz/core/agraph.c
  librz/core/analysis_tp.c
  librz/core/canalysis.c
  librz/core/cfile.c
  librz/core/cgraph.c
  librz/core/cil.c
  librz/core/cmd/cmd.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_meta.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd/cmd_search.c
  librz/core/core.c
  librz/core/cprint.c
  librz/core/ctypes.c
  librz/core/disasm.c
  librz/core/golang.c
  librz/core/tui/panels.c
  librz/core/tui/visual.c
  librz/include/rz_analysis.h
  librz/main/rz-diff.c
  librz/sign/flirt.c
  librz/type/function.c
  librz/util/table.c
  test/unit/test_analysis_block.c
  test/unit/test_analysis_block_invars.inl
  test/unit/test_serialize_analysis.c
Labels: rz-test, RzBin, RzAnalysis, rz-diff, API, ESIL, RzCore, visual, panel, RzType, RzUtil, RZIL

#4350 Initialize RzAnalysisOp properly.
  librz/arch/analysis.c
  librz/arch/block.c
  librz/arch/fcn.c
  librz/arch/il/analysis_il.c
  librz/arch/jmptbl.c
  librz/arch/op.c
  librz/arch/p/analysis/analysis_arm_cs.c
  librz/arch/p/analysis/analysis_avr.c
  librz/arch/reflines.c
  librz/arch/vtable.c
  librz/core/canalysis.c
  librz/core/casm.c
  librz/core/cdebug.c
  librz/core/cesil.c
  librz/core/cgraph.c
  librz/core/cil.c
  librz/core/cio.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_debug.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd/cmd_search.c
  librz/core/cmd/cmd_seek.c
  librz/core/core.c
  librz/core/cprint.c
  librz/core/ctypes.c
  librz/core/disasm.c
  librz/core/golang.c
  librz/core/hack.c
  librz/core/seek.c
  librz/core/tui/biteditor.c
  librz/core/tui/define.c
  librz/core/tui/esil.c
  librz/debug/debug.c
  librz/debug/desil.c
  librz/debug/p/native/bt/fuzzy-all.c
  librz/debug/trace.c
  librz/main/rz-asm.c
  test/integration/test_analysis_il.c
  test/unit/test_analysis_op.c
Labels: rz-asm, rz-test, RzAnalysis, RzDebug, ESIL, RzCore, visual, panel, ARM, RZIL

#4351 Remove rz_pvector_index_ptr
  librz/include/rz_vector.h
  test/integration/test_bin.c
  test/integration/test_project_migrate.c
  test/unit/test_annotated_code.c
  test/unit/test_type.c
Labels: rz-test, API

#4353 Remove rz_analysis_get_fcns since dups rz_analysis_function_list
  librz/arch/analysis.c
  librz/include/rz_analysis.h
  librz/main/rz-diff.c
Labels: RzAnalysis, rz-diff, API

#4354 Add dcco: Continue until call (use step out)
  librz/core/cmd/cmd_debug.c
  librz/core/cmd_descs/cmd_debug.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
Labels: RzCore

#4343 Remove global variables from GNU z80 disassembler
  librz/arch/isa_gnu/z80/expressions.c
  librz/arch/isa_gnu/z80/z80asm.c
  librz/arch/isa_gnu/z80/z80asm.h
Labels: enhancement, RzAnalysis, merge-when-green

#4362 Work around for https://github.com/google/sanitizers/issues/1716
  .github/workflows/ci.yml
  BUILDING.md
Labels: infrastructure, merge-when-green

#4364 Fix memleak in rz_bin_file_compute_hashes()
  librz/bin/bfile.c
Labels: RzBin, merge-when-green

#4360 Fix potentially invalid memcpy in xtensa
  librz/arch/p_gnu/analysis/analysis_xtensa_gnu.c
Labels: RzAnalysis, merge-when-green

#4365 buf_format(): parse format string only once
  librz/util/buf.c
  test/unit/test_buf.c
Labels: rz-test, RzUtil

#4367 Update copyright information of 08A
  librz/bin/format/elf/elf.c
  librz/bin/format/elf/elf.h
  librz/bin/format/elf/elf64.c
  librz/bin/format/elf/elf64.h
  librz/bin/format/elf/elf64_arm.c
  librz/bin/format/elf/elf64_corefile.c
  librz/bin/format/elf/elf64_dynamic.c
  librz/bin/format/elf/elf64_ehdr.c
  librz/bin/format/elf/elf64_hash.c
  librz/bin/format/elf/elf64_imports.c
  librz/bin/format/elf/elf64_info.c
  librz/bin/format/elf/elf64_map.c
  librz/bin/format/elf/elf64_misc.c
  librz/bin/format/elf/elf64_notes.c
  librz/bin/format/elf/elf64_relocs.c
  librz/bin/format/elf/elf64_sections.c
  librz/bin/format/elf/elf64_segments.c
  librz/bin/format/elf/elf64_strtab.c
  librz/bin/format/elf/elf64_symbols.c
  librz/bin/format/elf/elf_arm.c
  librz/bin/format/elf/elf_corefile.c
  librz/bin/format/elf/elf_dynamic.c
  librz/bin/format/elf/elf_dynamic.h
  librz/bin/format/elf/elf_ehdr.c
  librz/bin/format/elf/elf_hash.c
  librz/bin/format/elf/elf_imports.c
  librz/bin/format/elf/elf_info.c
  librz/bin/format/elf/elf_map.c
  librz/bin/format/elf/elf_misc.c
  librz/bin/format/elf/elf_notes.c
  librz/bin/format/elf/elf_relocs.c
  librz/bin/format/elf/elf_sections.c
  librz/bin/format/elf/elf_segments.c
  librz/bin/format/elf/elf_specs.h
  librz/bin/format/elf/elf_strtab.c
  librz/bin/format/elf/elf_strtab.h
  librz/bin/format/elf/elf_symbols.c
Labels: RzBin, ELF

#4368 $: Refactor out code for $* and $**
  librz/core/cmd/cmd_alias.c
  test/db/cmd/cmd_alias
Labels: rz-test, RzCore

#4374 Add free function for `RzAsmParseParam`
  librz/arch/asm.c
  librz/core/cmd/cmd_search.c
  librz/core/disasm.c
  librz/core/tui/biteditor.c
  librz/core/tui/esil.c
  librz/include/rz_asm.h
Labels: RzAnalysis, API, RzCore, visual, panel

#4355 Enhance `dmht` tcache command
  librz/core/linux_heap_glibc.c
  librz/core/linux_heap_glibc.h
  librz/debug/debug.c
  librz/debug/p/debug_native.c
  librz/debug/p/native/linux/linux_debug.c
  librz/debug/p/native/linux/linux_debug.h
  librz/include/rz_debug.h
  librz/include/rz_heap_glibc.h
  test/integration/meson.build
  test/integration/test_glibc_version.c
Labels: rz-test, RzDebug, API, RzCore

#4378 Unblock arm and ppc build failures
  librz/core/linux_heap_glibc.c
  librz/debug/p/native/linux/linux_debug.c
Labels: RzDebug, RzCore, merge-when-green

#4377 $: Use rz_flag_get to check if flag exists
  librz/core/cmd/cmd_alias.c
  test/db/archos/darwin-x64/cmd_i
  test/db/archos/linux-any/cmd_i
  test/db/cmd/cmd_alias
Labels: rz-test, RzCore, merge-when-green

#4380 debug: i386 register profile lacks `gs_base`
  librz/debug/p/native/linux/linux_debug.c
Labels: RzDebug

#4382 debug: i386 register profile lacks `gs_base`
  librz/debug/p/native/linux/linux_debug.c
Labels: RzDebug, merge-when-green

#4384 Unblock android builds for x86_64
  librz/debug/p/native/linux/linux_debug.c
Labels: RzDebug

#4376 Fix broken CI
  librz/arch/isa/hexagon/hexagon_arch.c
  librz/arch/isa/hexagon/hexagon_il.c
  librz/util/time.c
  test/db/rzil/hexagon
Labels: rz-test, RzAnalysis, RzUtil, RZIL, Hexagon

#4388 Add note to not use `rz_time_now()` for timestamps.
  librz/debug/trace.c
  librz/util/time.c
Labels: RzDebug, RzUtil

#4389 Remove invalidate any string with a colon
  librz/core/golang.c
Labels: RzCore, merge-when-green

#4391 Fix several memleaks in DWARF related code
  librz/arch/dwarf_process.c
  librz/bin/dwarf/dwarf.c
  librz/bin/dwarf/line.c
  test/integration/test_dwarf.c
Labels: rz-test, RzBin, RzAnalysis, DWARF

#4392 izj/izzj: Fix escaping of special chars
  librz/core/cbin.c
  test/db/cmd/cmd_i
Labels: rz-test, RzCore

#4396 strings_print json: For efficiency, escape strings only once
  librz/core/cbin.c
Labels: RzCore

#4398 Fix leaked HtPP keys
  librz/arch/dwarf_process.c
  librz/core/disasm.c
Labels: RzAnalysis, RzCore, DWARF

#4403 Use fallback repo for xz 5.2.9
  subprojects/liblzma.wrap
  subprojects/packagefiles/xz-5.2.9/config.h.meson
  subprojects/packagefiles/xz-5.2.9/meson.build
  subprojects/packagefiles/xz-5.2.9/meson_options.txt
  subprojects/packagefiles/xz-5.2.9/src/common/tuklib_integer.h
  subprojects/packagefiles/xz-5.2.9/src/liblzma/meson.build
  subprojects/packagefiles/xz-5.2.9/src/meson.build
Labels: merge-when-green

#4408 Close capstone handle in m68k plugin dtor
  librz/arch/p/analysis/analysis_m68k_cs.c
Labels: RzAnalysis

#4402 Fix unescaping of `\\` esc seq
  librz/core/cmd/cmd_api.c
  test/db/cmd/cmd_i
  test/db/cmd/write
Labels: rz-test, RzCore

#4407 Fix memleak in define_cast_from_value macro
  librz/util/float/float.c
Labels: RzUtil

#4409 TriCore IL: fix `CSUB/CSUBN`
  librz/arch/isa/tricore/tricore_il.c
  test/db/asm/tricore
Labels: rz-test, RzAnalysis, RZIL, TriCore
