Repository rizinorg/rizin, pull requests merged in 2024-04, with the labels that each got.

#4411 Update libdemangle to latest main and add LD command as alias of iDl
  librz/core/cmd/cmd_plugins.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_plugins.yaml
  librz/demangler/demangler.c
  subprojects/libdemangle.wrap
  test/db/tools/rz_bin
Labels: rz-test, RzCore, merge-when-green

#4400 RzIL: replace float comparsion macros with functions
  librz/il/il_routines.c
  librz/include/rz_il/rz_il_opbuilder_begin.h
  librz/include/rz_il/rz_il_opcodes.h
  test/db/asm/arm_32
  test/db/asm/tricore
  test/db/asm/x86_64
Labels: rz-test, API, RZIL

#4412 rzshell_which.py: Ignore FAKE and INNER entries
  librz/core/cmd_descs/rzshell_which.py
Labels: RzCore

#4416 Fix memleak in x86.nz asm plugin
  librz/arch/p/asm/asm_x86_nz.c
Labels: RzAnalysis, X86, RzAsm-Assembler

#4413 Fix `EXEC_WITH_RMODE` macro and make the generated x86 IL more concise
  librz/arch/isa/x86/common.c
  librz/arch/isa/x86/common.h
  librz/arch/isa/x86/il_fp_ops.inc
  test/db/asm/x86_64
Labels: rz-test, RzAnalysis, X86

#4410 ELF: skip visited segments in compute_symbols_from_segment()
  librz/bin/format/elf/elf_symbols.c
Labels: RzBin, ELF

#4427 rz_cmd_desc_get_arg: Remove unused `cmd` param
  librz/core/cautocmpl.c
  librz/core/cmd/cmd_api.c
  librz/include/rz_cmd.h
  test/unit/test_cmd.c
Labels: rz-test, API, RzCore

#4417 .(: Don't unwrap quoted args
  librz/core/cmd/cmd.c
  librz/core/cmd/cmd_api.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_interpret.yaml
  librz/include/rz_cmd.h
  test/db/cmd/write
Labels: rz-test, API, RzCore

#4433 Add mention of str.search.* variables in the help of iz and izz
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_info.yaml
Labels: RzCore

#4437 Use Python venv on OpenBSD
  .builds/openbsd.yml
Labels: infrastructure

#4441 Remove ht_pp.h include from rz_list.h
  librz/include/rz_cons.h
  librz/include/rz_list.h
  test/unit/test_sdb_sdb.c
Labels: rz-test, API

#4429 Update libdemangle
  subprojects/libdemangle.wrap
Labels: merge-when-green

#4440 Remove useless static from asn1.c
  librz/util/asn1.c
Labels: RzUtil

#4442 Remove rz_list_of_sdblist API
  librz/include/rz_list.h
  librz/util/list.c
Labels: API, merge-when-green, RzUtil

#4444 Remove useless static and fix some pseudo grammar which broke.
  librz/arch/p/parse/parse_ppc_pseudo.c
Labels: RzAnalysis, RzParse

#4446 Remove globals and refactor to complete implementation of logging.
  librz/bin/dwarf/unit.c
  librz/core/cconfig.c
  librz/include/rz_util/rz_log.h
  librz/util/log.c
  test/db/archos/linux-x64/dbg_oo
  test/db/cmd/cmd_basefind
  test/db/cmd/cmd_flags
  test/db/formats/elf/main
  test/db/formats/elf/sections
  test/db/formats/pdb
  test/db/tools/rz_bin
  test/db/tools/rz_test
Labels: rz-test, RzBin, API, RzCore, DWARF, RzUtil

#4449 Replace Sdb with HT in panels.c
  librz/core/core_private.h
  librz/core/tui/panels.c
Labels: RzCore, visual, panel

#4450 .(: Don't unescape macro args
  librz/core/cmd/cmd.c
  librz/include/rz_cmd.h
  test/db/cmd/write
Labels: rz-test, API, RzCore

#4426 Fix memory leaks in linux heap flow
  librz/bin/bin.c
  librz/bin/format/mdmp/mdmp_pe.c
  librz/bin/p/bin_mach0.c
  librz/bin/p/bin_pe.inc
  librz/core/linux_heap_glibc.c
  librz/core/linux_heap_glibc.h
  librz/debug/p/native/linux/linux_debug.c
  test/db/formats/pe/imports_tinyW7
Labels: rz-test, RzBin, RzDebug, RzCore, PE, Mach-O

#4453 ..(: Declare macro args as raw
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_interpret.yaml
  test/db/cmd/write
Labels: rz-test, RzCore

#4455 Fix heap buffer over-read in pal.c
  librz/cons/pal.c
Labels: merge-when-green, RzCons

#4454 DWARF: fix type process with the same name
  librz/arch/dwarf_process.c
  librz/bin/dwarf/block.c
  librz/bin/dwarf/enum.c
  librz/bin/dwarf/loclists.c
  librz/bin/dwarf/op.c
  librz/include/rz_bin_dwarf.h
  test/integration/test_dwarf.c
  test/integration/test_dwarf_integration.c
Labels: rz-test, RzBin, RzAnalysis, API, merge-when-green, DWARF

#4448 Add rz_log and rz_core_notify functions usable with not-formatted strings.
  librz/core/core.c
  librz/include/rz_core.h
  librz/include/rz_util/rz_log.h
  librz/util/log.c
  test/unit/test_log.c
Labels: rz-test, API, RzCore, merge-when-green, RzUtil

#4459 Always check the length before returning the head or tail
  librz/include/rz_vector.h
Labels: API, merge-when-green

#4460 Error when log file cannot be opened.
  librz/core/cconfig.c
Labels: RzCore

#4458 RzIL: add unit-tests for float cmp helpers
  test/unit/test_il_helpers.c
Labels: rz-test, merge-when-green

#4462 Add rz_pvector_enumerate macro
  .clang-format
  librz/core/basefind.c
  librz/il/il_validate.c
  librz/include/rz_vector.h
  test/unit/test_vector.c
Labels: rz-test, API, RzCore, RZIL

#4463 Revert memory leak fix for relocs
  librz/bin/bin.c
  librz/bin/format/mdmp/mdmp_pe.c
  librz/bin/p/bin_mach0.c
  librz/bin/p/bin_pe.inc
  test/db/formats/pe/imports_tinyW7
Labels: rz-test, RzBin, PE, Mach-O

#4452 Refactor TUI panels and fix several memleaks
  librz/core/cmd/cmd.c
  librz/core/core.c
  librz/core/core_private.h
  librz/core/tui/panels.c
  librz/core/tui/visual.c
  librz/include/rz_util/rz_panels.h
Labels: API, RzCore, visual, panel

#4465 rizin: Clarify that `-q` runs both `-i` and `-c`
  librz/main/rizin.c
Labels: rizin
