Repository rizinorg/rizin, pull requests merged in 2024-06, with the labels that each got.

#4504 core/cmd: port `/R` commands to the rzshell
  librz/core/cmd/cmd_search.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
  librz/core/cmd_descs/cmd_search.yaml
  librz/core/cmd_descs/meson.build
  test/db/analysis/avr
  test/db/cmd/cmd_rop
  test/db/cmd/cmd_search
Labels: rz-test, RzCore, merge-when-green

#4524 Fix NetBSD 10 build
  librz/debug/p/native/bsd/bsd_debug.c
Labels: RzDebug, merge-when-green, BSD

#4526 Add MS-DOS and Win32 Timestamp Conversion to rz-ax
  librz/main/rz-ax.c
Labels: rz-ax

#4528 Added documentation for MS-DOS and Win32 timestamp conversions
  binrz/man/rz-ax.1
Labels: documentation, merge-when-green

#4527 Revert back only the changes for the threads code and ignores rz-test
  librz/arch/similarity.c
  librz/bin/bfile_string.c
  librz/core/cbin.c
  librz/core/cconfig.c
  librz/include/rz_basefind.h
  librz/include/rz_bin.h
  librz/include/rz_th.h
  librz/include/rz_userconf.h.in
  librz/util/thread_iterators.c
  librz/util/thread_pool.c
  librz/util/thread_queue.c
  meson.build
  meson_options.txt
  test/unit/test_threads.c
Labels: rz-test, RzBin, RzAnalysis, API, RzCore, RzUtil

#4530 Unlink named semaphores after opening them
  librz/util/thread_sem.c
Labels: RzUtil

#4514 tricore: lift remaining floating point instructions
  librz/arch/isa/tricore/tricore_il.c
  librz/arch/isa/tricore/tricore_il.h
  librz/arch/isa/tricore/tricore_il_fp.inc
  librz/arch/p/analysis/analysis_tricore_cs.c
  librz/core/cil.c
  librz/il/definitions/float.c
  librz/il/il_export_string.c
  librz/il/il_opcodes.c
  librz/il/il_validate.c
  librz/include/rz_il/rz_il_opbuilder_begin.h
  librz/include/rz_il/rz_il_opbuilder_end.h
  librz/include/rz_il/rz_il_opcodes.h
  test/db/analysis/tricore
  test/db/asm/tricore
  test/db/rzil/tricore
Labels: rz-test, RzAnalysis, API, ESIL, RzCore, merge-when-green, RZIL, TriCore

#4531 core/file: add API for the `oC` command
  librz/core/cfile.c
  librz/core/cmd/cmd_open.c
  librz/include/rz_core.h
  test/integration/test_analysis_il.c
Labels: rz-test, API, RzCore, merge-when-green

#4532 Fix `Pic18 call instructions not detected`
  librz/arch/isa/pic/pic18.c
  librz/arch/isa/pic/pic18_analysis.c
  librz/arch/isa/pic/pic18_il.inc
  librz/arch/p/analysis/analysis_pic.c
  librz/arch/p/asm/asm_pic.c
  test/db/analysis/pic
  test/db/cmd/cmd_list
Labels: rz-test, RzAnalysis, merge-when-green, RZIL, PIC

#4533 subprocess: Uniformize read access to `proc->ret`
  librz/util/subprocess.c
Labels: RzUtil

#4537 test/integration/il: use only API
  test/integration/test_analysis_il.c
Labels: rz-test

#4540 cons: remove useless member <lastline>
  librz/bin/dwarf/dwarf.c
  librz/cons/cons.c
  librz/core/tui/visual.c
  librz/include/rz_cons.h
  librz/include/rz_util/rz_file.h
  librz/util/file.c
Labels: RzBin, API, RzCore, visual, panel, merge-when-green, DWARF, RzUtil, RzCons

#4542 rz_core_task_enqueue: Set semaphore init val immediately
  librz/core/task.c
Labels: RzCore

#4544 Make `rz_line_readline_cb` pass `line` to `__move_cursor_left` instead of `NULL`
  librz/cons/dietline.c
Labels: dietline, RzCons

#4547 util/buf: remove rz_buf_peek_u16()
  librz/include/rz_util/rz_buf.h
Labels: API, merge-when-green

#4549 subprocess: Negate #else label
  librz/util/subprocess.c
Labels: RzUtil

#4550 Enable subproject tree-sitter-c in librz/type
  librz/type/meson.build
  meson.build
Labels: RzType

#4545 subprocess: Protect proc->ret with a semaphore
  librz/core/cmd/cmd.c
  librz/util/subprocess.c
  librz/util/thread_sem.c
Labels: RzCore, RzUtil

#4535 SoftFloat integration
  .gitignore
  doc/PACKAGERS.md
  librz/util/float/float.c
  librz/util/float/float_internal.c
  librz/util/meson.build
  meson.build
  meson_options.txt
  subprojects/softfloat.wrap
  test/unit/test_float.c
Labels: documentation, rz-test, RzUtil
