Repository rizinorg/rizin, pull requests merged in 2024-02, with the labels that each got.

#4170 canalysis: fix stack overflow in `process_reference_noreturn_cb`
  librz/core/canalysis.c
Labels: RzCore

#4171 TriCore: fix negative array index access
  librz/analysis/p/analysis_tricore_cs.c
Labels: RzAnalysis, merge-when-green

#4175 Fix SEP parsing crash
  librz/bin/p/bin_xtr_sep64.c
Labels: RzBin

#4174 Reduce heap use for ARM disassembly
  librz/asm/p/asm_arm_cs.c
Labels: ARM

#4176 Minor fixes in man pages
  binrz/man/rz-asm.1
  binrz/man/rz-gg.1
  librz/main/rz-asm.c
Labels: documentation, rz-asm

#4177 Add flags values to COFF section data.
  librz/bin/p/bin_coff.c
  test/db/formats/coff
Labels: rz-test, RzBin, merge-when-green

#4180 Disable analysis ARM hacks for Capstone 6
  librz/analysis/p/analysis_arm_cs.c
Labels: RzAnalysis, ARM

#4182 Improve man pages formatting
  binrz/man/rz-asm.1
  binrz/man/rz-bin.1
  binrz/man/rz-diff.1
Labels: documentation

#4179 Analysis: sort function by addr when print
  librz/asm/asm.c
  librz/core/canalysis.c
  librz/core/cmd/cmd_analysis.c
  librz/core/disasm.c
  test/db/analysis/arm
  test/db/analysis/dalvik
  test/db/analysis/ppc
  test/db/analysis/rl78
  test/db/analysis/sparc
  test/db/analysis/tricore
  test/db/analysis/v850
  test/db/analysis/x86_32
  test/db/analysis/x86_64
  test/db/archos/linux-x64/debuginfod
  test/db/cmd/cmd_af
  test/db/cmd/cmd_afl
  test/db/cmd/cmd_pipe
  test/db/cmd/cmd_signature
  test/db/cmd/tables
  test/db/formats/mach0/objc
Labels: rz-test, RzCore

#4103 V850: Improve RH850 support, add RzIL uplifting
  librz/analysis/arch/v850/v850_esil.inc
  librz/analysis/arch/v850/v850_il.c
  librz/analysis/arch/v850/v850_il.h
  librz/analysis/meson.build
  librz/analysis/p/analysis_v850.c
  librz/asm/arch/v850/v850_disas.c
  librz/asm/arch/v850/v850_disas.h
  test/db/analysis/v850
  test/db/asm/v850
  test/db/rzil/v850
Labels: rz-test, RzAnalysis, merge-when-green, high-priority, RzAsm-Disassembler

#4184 In group help, indicate detailed help is provided
  librz/core/cmd/cmd_api.c
  test/db/cmd/cmd_help
  test/unit/test_cmd.c
Labels: rz-test, RzCore

#4188 Fix usage hint for help on $variables
  librz/core/cmd/cmd.c
Labels: RzCore

#4178 Convert `rz_str_new` to `rz_str_dup`
  librz/analysis/class.c
  librz/analysis/dwarf_process.c
  librz/analysis/pdb_process.c
  librz/analysis/rtti_itanium.c
  librz/analysis/rtti_msvc.c
  librz/analysis/value.c
  librz/asm/aop.c
  librz/asm/arch/8051/8051_disas.c
  librz/asm/arch/luac/v53/disassembly_53.c
  librz/asm/arch/pyc/opcode_arg_fmt.c
  librz/asm/arch/pyc/pyc_dis.c
  librz/asm/p/asm_mips_gnu.c
  librz/bin/bin.c
  librz/bin/bobj.c
  librz/bin/bobj_process_class.c
  librz/bin/dwarf/dwarf.c
  librz/bin/dwarf/endian_reader.c
  librz/bin/dwarf/line.c
  librz/bin/format/elf/elf_sections.c
  librz/bin/format/elf/elf_symbols.c
  librz/bin/format/luac/luac_bin.c
  librz/bin/format/luac/v53/parse_53.c
  librz/bin/format/luac/v54/parse_54.c
  librz/bin/format/mach0/mach0.c
  librz/bin/format/pyc/marshal.c
  librz/bin/format/xnu/rz_cf_dict.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_mach0.c
  librz/bin/p/bin_qnx.c
  librz/core/casm.c
  librz/core/cbin.c
  librz/core/cmd/cmd_eval.c
  librz/core/cmd/cmd_print.c
  librz/core/core.c
  librz/core/disasm.c
  librz/core/linux_heap_glibc.c
  librz/core/tui/config.c
  librz/core/tui/panels.c
  librz/core/tui/rop.c
  librz/core/tui/visual.c
  librz/core/tui/vmenus.c
  librz/include/rz_bin_dwarf.h
  librz/include/rz_constructor.h
  librz/include/rz_util/rz_str.h
  librz/lang/p/lib.c
  librz/main/rz-ax.c
  librz/main/rz-diff.c
  librz/main/rz-sign.c
  librz/parse/filter.c
  librz/reg/reg.c
  librz/socket/run.c
  librz/type/base.c
  librz/type/type.c
  librz/util/axml.c
  librz/util/str.c
  librz/util/syscmd.c
  librz/util/table.c
  test/unit/test_table.c
Labels: rz-test, RzLang, RzBin, RzAnalysis, rz-ax, rz-diff, API, RzCore, RzParse, merge-when-green, RzType, ELF, Mach-O, DWARF, MIPS, RzUtil, RzReg, rz-sign, RzAsm-Disassembler, RzAsm-Assembler, RzSocket

#4190 DWARF: Fix ANSI Escape Sequence Injection vulns via DWARF
  librz/bin/dwarf/attr.c
  librz/bin/dwarf/dwarf_private.h
  librz/bin/dwarf/endian_reader.c
  librz/include/rz_bin_dwarf.h
  test/db/cmd/dwarf
Labels: rz-test, RzBin, API, merge-when-green

#4194 DWARF: `rz-bin -dd` download DWARF from `debuginfod` server
  binrz/man/rz-bin.1
  librz/include/rz_bin.h
  librz/main/rz-bin.c
Labels: documentation, rz-bin, API, merge-when-green

#4187 v850: Add some undocumented instructions
  librz/analysis/arch/v850/v850_il.c
  librz/asm/arch/v850/v850_disas.c
  librz/asm/arch/v850/v850_disas.h
  librz/core/disasm.c
  test/db/analysis/v850
  test/db/asm/v850
Labels: rz-test, RzAnalysis, RzCore, RzAsm-Disassembler

#4197 core/tui: use API instead of command calls
  librz/core/canalysis.c
  librz/core/cmd/cmd_print.c
  librz/core/core_private.h
  librz/core/cprint.c
  librz/core/tui/modes.c
  librz/core/tui/visual.c
  librz/core/tui/vmenus_graph.c
  librz/include/rz_util/rz_str.h
  librz/util/str.c
Labels: API, RzCore, merge-when-green, RzUtil

#4189 Add different types of RzGraphNodeInfos.
  librz/analysis/fcn.c
  librz/core/agraph.c
  librz/core/cgraph.c
  librz/include/rz_analysis.h
  librz/include/rz_util/rz_graph_drawable.h
  librz/util/graph_drawable.c
  test/db/cmd/cmd_graph
  test/integration/test_analysis_graph.c
  test/unit/test_analysis_class_graph.c
Labels: rz-test, RzAnalysis, API, RzCore, merge-when-green, RzUtil

#4199 Remove scr.rainbow option
  librz/core/cconfig.c
  librz/core/cmd/cmd_print.c
  librz/include/rz_util/rz_print.h
  librz/util/float/float.c
  librz/util/print.c
  test/db/cmd/cmd_eval
Labels: rz-test, API, RzCore, merge-when-green, RzUtil

#4201 Update PACKAGERS.md
  binrz/man/rz-sign.1
  doc/PACKAGERS.md
Labels: documentation

#4205 man: minor formatting fixes
  binrz/man/rizin.1
  binrz/man/rz-run.1
Labels: documentation

#4206 Complete nin.h enum
  librz/bin/format/nin/nin.h
Labels: RzBin, merge-when-green

#4202 Refactor how ASLR and implement rz_sys_execv using RzSubprocess
  librz/include/rz_util/rz_queue.h
  librz/include/rz_util/rz_sys.h
  librz/main/rz-run.c
  librz/socket/run.c
  librz/util/sys.c
Labels: API, RzUtil, rz-run, RzSocket

#4209 Fix windows warnings
  librz/asm/p/asm_hexagon.c
  librz/bin/dwarf/aranges.c
  librz/bin/dwarf/block.c
  librz/bin/dwarf/value.c
  librz/debug/p/debug_windbg.c
  librz/include/rz_bin_dwarf.h
  librz/util/vector.c
Labels: RzBin, RzDebug, API, merge-when-green, WinDbg, RzUtil

#4085 Better error messages when creating new function
  librz/analysis/function.c
  test/db/cmd/cmd_af
Labels: rz-test, RzAnalysis, merge-when-green

#4210 cons/grep: remove global state
  librz/cons/cons.c
  librz/cons/grep.c
  librz/include/rz_cons.h
Labels: API, merge-when-green, RzCons

#4211 Update github actions to remove warnings
  .github/workflows/ci.yml
  .github/workflows/code-analysis.yml
  .github/workflows/coverity-scan.yml
  .github/workflows/linter.yml
  .github/workflows/muon.yml
  .github/workflows/rzshell-treesitter-tests.yml
  .github/workflows/tcc.yml
Labels: infrastructure, merge-when-green

#4213 core: remove dead code
  librz/core/core.c
Labels: RzCore, merge-when-green

#4215 Fix openssl 3.0 support due changes on legacy algorithms.
  librz/hash/algorithms/openssl_common.h
  librz/hash/hash.c
  librz/include/rz_hash.h
Labels: API, merge-when-green, RzHash

#4214 core/disasm: remove static variables
  librz/core/cmd/cmd_print.c
  librz/core/disasm.c
  librz/include/rz_core.h
  librz/include/rz_util/rz_str.h
  librz/util/str_trim.c
  test/db/cmd/cmd_px
  test/db/cmd/cmd_pxw
Labels: rz-test, API, RzCore, RzUtil

#4217 Fix regression on panel due recent changes.
  librz/core/tui/panels.c
Labels: RzCore

#4219 DWARF: loading DWARF in `.dSYM`
  librz/bin/dwarf/dwarf.c
  librz/core/cbin.c
  librz/include/rz_bin.h
  librz/include/rz_bin_dwarf.h
  test/db/cmd/dwarf
Labels: rz-test, RzBin, API, RzCore

#4220 [Hexagon] Fix some token patterns for Hexagon mnemonics.
  librz/asm/p/asm_hexagon.c
  test/unit/test_tokens.c
Labels: rz-test

#4218 cons/dietline: remove some static variables
  librz/cons/dietline.c
  librz/include/rz_cons.h
Labels: API, dietline, RzCons

#4223 Rewrite how rz_cons_pipe_open/close behave to remove globals
  librz/cons/cpipe.c
  librz/core/cmd/cmd.c
  librz/debug/p/debug_rap.c
  librz/include/rz_cons.h
Labels: RzDebug, API, RzCore, merge-when-green, RzCons

#4224 core/disasm: remove static variables
  librz/core/cdebug.c
  librz/core/disasm.c
Labels: RzCore, merge-when-green

#4227 Trim grep expression before processing it.
  librz/cons/grep.c
  librz/include/rz_cons.h
  librz/util/str_trim.c
Labels: API, merge-when-green, RzUtil, RzCons

#4221 Add (i)CFG node type annotations + bug fix
  librz/core/agraph.c
  librz/core/cagraph.c
  librz/core/cgraph.c
  librz/include/rz_agraph.h
  librz/include/rz_util/rz_graph_drawable.h
  librz/include/rz_util/rz_str.h
  librz/util/graph_drawable.c
  librz/util/str.c
  test/db/cmd/cmd_graph
  test/integration/test_analysis_graph.c
  test/unit/test_agraph.c
Labels: rz-test, API, RzCore, RzUtil

#4229 Add V850 32bit register profile
  librz/analysis/arch/v850/v850_dwarf_reg_num_table.h
  librz/analysis/dwarf_process.c
  librz/asm/arch/v850/v850_disas.h
Labels: RzAnalysis, DWARF, RzAsm-Disassembler

#4232 Add ppc32, mips, sh, sparc, loongarch, s390, riscv DWARF register mapping.
  librz/analysis/dwarf_process.c
  test/db/rzil/ppc32
Labels: rz-test, RzAnalysis, merge-when-green, DWARF

#4230 Remove assert() calls
  librz/analysis/arch/v810/v810_il.c
  librz/analysis/block.c
  librz/analysis/p/analysis_arm_cs.c
  librz/asm/arch/arm/arm_it.c
  librz/asm/arch/luac/v53/assembly_53.c
  librz/asm/arch/luac/v54/assembly_54.c
  librz/asm/p/asm_arm_cs.c
  librz/core/project_migrate.c
  librz/util/str_search.c
Labels: RzAnalysis, RzCore, ARM, RzUtil, RzAsm-Assembler

#4233 [CFG] Prevent creation of node duplicates.
  librz/core/cgraph.c
  test/integration/test_analysis_graph.c
Labels: rz-test, RzCore

#4235 util/print: emove cb_eprintf()
  librz/core/core.c
  librz/include/rz_util/rz_print.h
  librz/util/print.c
Labels: API, RzCore, merge-when-green, RzUtil

#4240 Fix aeA when rz_analysis_op fails.
  librz/core/cmd/cmd_analysis.c
Labels: RzCore, merge-when-green

#4237 Add help and colors for rz-run -h (#4225)
  binrz/man/rz-run.1
  librz/include/rz_socket.h
  librz/main/rz-run.c
  librz/socket/run.c
Labels: documentation, API, merge-when-green, rz-run, RzSocket

#3467 Converting `pf` commands to rzshell
  librz/bin/d/bios
  librz/bin/d/dex
  librz/bin/d/elf32
  librz/bin/d/elf64
  librz/bin/d/fat
  librz/bin/d/macho
  librz/bin/d/meson.build
  librz/bin/d/mz
  librz/bin/d/ntfs
  librz/bin/d/pe32
  librz/bin/d/trx
  librz/bin/d/zip
  librz/core/canalysis.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd/cmd_type.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
  librz/core/core_private.h
  librz/core/cprint.c
  librz/core/ctypes.c
  librz/core/disasm.c
  librz/include/rz_type.h
  librz/include/rz_util/rz_str.h
  librz/type/format.c
  librz/util/str.c
  subprojects/rizin-shell-parser/corpus/pf_commands.txt
  subprojects/rizin-shell-parser/grammar.js
  subprojects/rizin-shell-parser/src/grammar.json
  subprojects/rizin-shell-parser/src/node-types.json
  subprojects/rizin-shell-parser/src/parser.c
  subprojects/rizin-shell-parser/src/scanner.c
  test/db/cmd/cmd_open
  test/db/cmd/cmd_pf
  test/db/cmd/cmd_pf2
  test/db/cmd/cmd_pf_elf
  test/db/cmd/cmd_pf_write
  test/db/cmd/cmd_pfd
  test/db/cmd/print
  test/db/cmd/types
  test/db/formats/mdmp
  test/db/tools/rz_test
Labels: rz-test, RzBin, API, RzCore, RzType, high-priority, pf, RzUtil, shell

#4243 core/cmd_print: remove unused oldshell code
  librz/core/cmd/cmd_print.c
Labels: RzCore

#4244 analysis/types: add more WinAPI types
  librz/analysis/d/types-windows.sdb.txt
Labels: RzAnalysis, Windows

#4245 core/flags: add complex unicode name test
  test/db/cmd/cmd_flags
Labels: rz-test

#4241 Integration test analysis rzil
  librz/analysis/arch/v850/v850_il.c
  librz/analysis/function.c
  librz/analysis/op.c
  librz/asm/arch/v850/v850_disas.c
  librz/core/canalysis.c
  librz/core/cil.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd/cmd_seek.c
  librz/core/core_private.h
  librz/core/disasm.c
  librz/include/meson.build
  librz/include/rz_analysis.h
  librz/include/rz_core.h
  librz/include/rz_util.h
  librz/include/rz_util/rz_iterator.h
  librz/util/iterator.c
  librz/util/meson.build
  test/integration/test_analysis_il.c
  test/unit/test_analysis_op.c
Labels: rz-test, RzAnalysis, API, ESIL, RzCore, RzUtil, RZIL, RzAsm-Disassembler

#4250 Convert `p2` and `p8` commands to rzshell
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
  test/db/cmd/cmd_print
Labels: rz-test, RzCore

#4198 Disassembler arch for RX microcontroller (MCU) family
  librz/analysis/d/cc-rx-32.sdb.txt
  librz/analysis/meson.build
  librz/analysis/p/analysis_rx.c
  librz/asm/arch/rx/rx.c
  librz/asm/arch/rx/rx.h
  librz/asm/arch/rx/rx_inst.c
  librz/asm/arch/rx/rx_inst.h
  librz/asm/arch/rx/rx_opcode_detail.c
  librz/asm/arch/rx/rx_opcode_detail.h
  librz/asm/arch/rx/rx_str.inc
  librz/asm/meson.build
  librz/asm/p/asm_rx.c
  librz/bin/format/elf/elf_info.c
  librz/include/rz_analysis.h
  librz/include/rz_asm.h
  test/db/analysis/rx
  test/db/asm/rx
  test/db/cmd/cmd_list
Labels: rz-test, RzBin, RzAnalysis, API, ELF

#3865 Add RzIL for floating-point x86 instructions
  librz/analysis/arch/x86/common.c
  librz/analysis/arch/x86/common.h
  librz/analysis/arch/x86/il_fp_ops.inc
  librz/analysis/arch/x86/il_ops.inc
  librz/analysis/arch/x86/x86_il.c
  librz/analysis/arch/x86/x86_il.h
  librz/analysis/p/analysis_x86_cs.c
  test/db/asm/x86_16
  test/db/asm/x86_32
  test/db/asm/x86_64
  test/db/cmd/cmd_ar
Labels: rz-test, RzAnalysis, high-priority, X86

#4255 Bump PCRE2 to 10.43 release.
  subprojects/packagefiles/pcre2/meson.build
  subprojects/packagefiles/pcre2_cross_native/meson.build
  subprojects/pcre2.wrap
  subprojects/pcre2_cross_native.wrap
Labels: merge-when-green

#4265 doc: fix packagers.md formatting
  doc/PACKAGERS.md
Labels: documentation

#4268 bin/dwarf: fix dSYM separate loading
  librz/bin/dwarf/dwarf.c
Labels: RzBin, merge-when-green

#4269 `pf` command help fixes
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_print.yaml
Labels: RzCore

#4271 V850 local variables
  librz/analysis/arch/v850/v850_esil.inc
  librz/analysis/p/analysis_v850.c
  test/db/analysis/v850
Labels: rz-test, RzAnalysis, merge-when-green

#4274 Fix several memleaks in regex.c
  librz/util/regex.c
  test/unit/test_regex.c
Labels: rz-test, RzUtil

#4275 Replace `sdb_fmt()` with `rz_strf()`.
  librz/core/agraph.c
Labels: RzCore, merge-when-green

#4272 type/format: fix output in `pf` commands
  librz/core/ctypes.c
  test/db/cmd/cmd_tc
  test/db/cmd/cmd_to
  test/db/cmd/types
Labels: rz-test, RzCore

#4276 rl78: add dwarf register profile
  librz/analysis/arch/rl78/rl78_dwarf_reg.h
  librz/analysis/dwarf_process.c
Labels: RzAnalysis, DWARF

#4279 core/analysis: API to calculate multiple instructions size
  librz/core/canalysis.c
  librz/include/rz_core.h
Labels: API, RzCore, merge-when-green

#4280 Weaken f80 assertions in test_float for non-x86
  test/unit/test_float.c
Labels: rz-test

#4282 Removed Static Variables from `RzAnalysis` Plugins
  librz/analysis/p/analysis_m680x_cs.c
  librz/analysis/p/analysis_m68k_cs.c
  librz/analysis/p/analysis_mips_cs.c
  librz/analysis/p/analysis_pic.c
  librz/analysis/p/analysis_ppc_cs.c
  librz/analysis/p/analysis_riscv_cs.c
  librz/analysis/p/analysis_sparc_cs.c
  librz/analysis/p/analysis_tms320c64x.c
  librz/analysis/p/analysis_x86_cs.c
  librz/analysis/p/analysis_xcore_cs.c
  librz/analysis/p/analysis_xtensa.c
Labels: RzAnalysis, merge-when-green, MIPS, PPC, X86

#4281 analysis/dwarf: extract register profiles in headers
  librz/analysis/arch/arm/arm_dwarf_regnum_table.h
  librz/analysis/arch/ppc/ppc_dwarf_regnum_table.h
  librz/analysis/arch/sh/sh_dwarf_regnum_table.h
  librz/analysis/arch/tricore/tricore_dwarf_regnum_table.h
  librz/analysis/arch/x86/x86_dwarf_regnum_table.h
  librz/analysis/dwarf_process.c
Labels: RzAnalysis, DWARF

#4283 analysis: fix capstone 4 and 5 builds
  librz/analysis/p/analysis_ppc_cs.c
Labels: RzAnalysis, merge-when-green, PPC

#4288 doc: improve man pages
  binrz/man/rizin.1
  binrz/man/rz-asm.1
  binrz/man/rz-ax.1
  binrz/man/rz-bin.1
  binrz/man/rz-find.1
  binrz/man/rz-gg.1
  binrz/man/rz-hash.1
  binrz/man/rz-run.1
  binrz/man/rz-test.1
Labels: documentation, merge-when-green

#4289 Fix mismatch 'rz_cons_break_push' and 'rz_cons_break_pop' calls.
  librz/analysis/reflines.c
  librz/analysis/rtti_msvc.c
  librz/core/canalysis.c
  librz/core/cesil.c
  librz/core/cmd/cmd.c
  librz/core/cmd/cmd_debug.c
  librz/core/cmd/cmd_search.c
  librz/debug/p/native/windows/windows_debug.c
Labels: RzAnalysis, RzDebug, RzCore, Windows

#4284 Fix arm64 analysis to fix regression on ARM64 switch tables.
  librz/analysis/p/analysis_arm_cs.c
  subprojects/capstone-next.wrap
  test/db/analysis/golang
  test/db/cmd/cmd_plf
Labels: rz-test, RzAnalysis, ARM

#4293 $: Fix `$alias=$`<backtick>`cmd`<backtick>
  librz/core/cmd/cmd.c
  test/db/archos/linux-x64/dbg_step_back
  test/db/cmd/cmd_alias
Labels: rz-test, RzCore

#4294 docs(PACKAGERS): fix meson option names
  doc/PACKAGERS.md
Labels: documentation

#4295 rzshell.md: Update `w?` example
  doc/rzshell.md
Labels: documentation

#4119 Remove the deprecated API rz_bin_get_info
  librz/bin/bin.c
  librz/bin/pdb/pdb_downloader.c
  librz/core/cbin.c
  librz/core/cesil.c
  librz/core/cmd/cmd_info.c
  librz/core/linux_heap_glibc.c
  librz/core/windows_heap.c
  librz/include/rz_bin.h
Labels: RzBin, API, RzCore, merge-when-green, Windows, PDB

#4287 Added API `rz_debug_switch_to_first_thread()` Instead of rizin commands
  librz/core/tui/visual.c
  librz/debug/debug.c
  librz/include/rz_debug.h
Labels: RzDebug, API, RzCore, merge-when-green

#4298 project: fix global var loading
  librz/analysis/serialize_analysis.c
Labels: RzAnalysis

#4300 core: remove plugin from list if init fails
  librz/core/cplugin.c
  librz/include/rz_lib.h
  librz/util/lib.c
Labels: API, RzCore, RzUtil

#4308 Fold XREFs line more than 3 when in the graph mode
  librz/core/cgraph.c
  test/db/formats/demangling_bin
Labels: rz-test, RzCore, merge-when-green

#4309 $?: Update to rzshell syntax
  librz/core/cmd/cmd.c
  librz/core/cmd/cmd_math.c
Labels: RzCore
