Repository rizinorg/rizin, pull requests merged in 2024-10, with the labels that each got.

#4658 Limit macos CI test threads to `hw.ncpu`
  .github/workflows/ci.yml
Labels: infrastructure

#4660 macos ci: Use `hw.activecpu` instead of `hw.ncpu`
  .github/workflows/ci.yml
Labels: infrastructure

#4659 arch/xap: refactor the code up to rizin standard
  librz/arch/isa/xap/dis.c
  librz/arch/isa/xap/dis.h
  librz/arch/p/analysis/analysis_xap.c
  librz/arch/p/asm/asm_xap.c
  test/db/analysis/xap
Labels: rz-test, RzAnalysis, merge-when-green, RzAsm-Disassembler, XAP

#4664 Redirect stderr to stdout via `-1`; Unbreak `dk 9` test
  .pylintrc
  librz/main/rizin.c
  test/db/archos/linux-x64/dbg
  test/scripts/dk_9.py
Labels: rizin, rz-test

#4666 RzBuffer consistency and make buffer type public
  librz/bin/format/mach0/dyldcache_rebase.c
  librz/include/rz_util/rz_buf.h
  librz/util/buf.c
  librz/util/buf_bytes.c
  librz/util/buf_file.c
  librz/util/buf_io.c
  librz/util/buf_io_fd.c
  test/unit/test_buf.c
Labels: rz-test, RzBin, API, Mach-O, RzUtil

#4668 Install rzpipe in "Run debug tests on Ubuntu 20.04" build
  .github/workflows/ci.yml
Labels: infrastructure

#4669 fix: dwarf infinite line loop
  librz/bin/dwarf/line.c
Labels: RzBin, merge-when-green, DWARF

#4670 Refactor ASAN LD_PRELOAD setup into script
  test/db/archos/linux-x64/dbg
  test/db/archos/not-windows-any/cmd_interpreter
  test/db/cmd/cmd_pipe
  test/scripts/set-LD_PRELOAD.rz
Labels: rz-test

#4671 Fix missing declaration of struct timezone.
  librz/include/rz_util/rz_time.h
Labels: API

#4648 Expose APIs for rz-solver
  librz/core/cmd/cmd_search_rop.c
  librz/core/rop.c
  librz/core/tui/rop.c
  librz/include/rz_rop.h
  test/unit/meson.build
  test/unit/test_rop.c
  test/unit/test_rop_constraint.c
Labels: rz-test, API, RzCore, visual, panel

#4672 struct timezone is obsolete/deprecated
  librz/include/rz_util/rz_time.h
  librz/util/time.c
  test/unit/test_analysis_block.c
  test/unit/test_intervaltree.c
Labels: rz-test, API, RzUtil

#4667 Aweful RzAsm <-> RzAnalysis pointer sharing and Hexagon unify
  librz/arch/asm.c
  librz/arch/isa/hexagon/hexagon.h
  librz/arch/isa/hexagon/hexagon_arch.c
  librz/arch/isa/hexagon/hexagon_arch.h
  librz/arch/isa/hexagon/hexagon_il.c
  librz/arch/isa/hexagon/hexagon_il.h
  librz/arch/isa/hexagon/il_ops/hexagon_il_non_insn_ops.c
  librz/arch/p/analysis/analysis_hexagon.c
  librz/arch/p/asm/asm_hexagon.c
  librz/config/config.c
  librz/core/cautocmpl.c
  librz/core/cmd/cmd_eval.c
  librz/core/core.c
  librz/core/cplugin.c
  librz/include/rz_analysis.h
  librz/include/rz_asm.h
  librz/include/rz_config.h
  librz/include/rz_core.h
  librz/include/rz_types.h
  test/db/analysis/hexagon
  test/db/asm/hexagon
  test/db/cmd/cmd_eval
  test/unit/test_tokens.c
Labels: rz-test, RzAnalysis, API, RzCore, RZIL, RzConfig, Hexagon

#4676 ci: Remove macos-12 build
  .github/workflows/ci.yml
Labels: infrastructure

#4677 Upgrade build-osx-pkg build to macos-14
  .github/workflows/ci.yml
Labels: infrastructure

#4682 ci: Reinstate `macos-meson-clang-tests` build on `macos-13`
  .github/workflows/ci.yml
Labels: infrastructure

#4688 ci: add Python 3.13 for macOS builders
  .github/workflows/ci.yml
Labels: infrastructure, merge-when-green

#4662 Capstone v6 update (without Mips)
  .github/workflows/ci.yml
  doc/PACKAGERS.md
  librz/arch/isa/arm/aarch64_meta_macros.h
  librz/arch/isa/arm/arm_accessors32.h
  librz/arch/isa/arm/arm_accessors64.h
  librz/arch/isa/arm/arm_cs.h
  librz/arch/isa/arm/arm_esil32.c
  librz/arch/isa/arm/arm_esil64.c
  librz/arch/isa/arm/arm_il32.c
  librz/arch/isa/arm/arm_il64.c
  librz/arch/isa/arm/asm-arm.h
  librz/arch/isa/x86/common.c
  librz/arch/p/analysis/analysis_arm_cs.c
  librz/arch/p/analysis/analysis_mips_cs.c
  librz/arch/p/analysis/analysis_sysz.c
  librz/arch/p/asm/asm_arm_cs.c
  librz/arch/p/asm/asm_sysz.c
  librz/arch/p/asm/cs_helper.h
  meson_options.txt
  subprojects/capstone-next.wrap
  subprojects/capstone-v6.wrap
  subprojects/packagefiles/capstone-6.0.0-alpha1/meson.build
  subprojects/packagefiles/capstone-next/meson.build
  test/db/analysis/arm64
  test/db/analysis/mips
  test/db/analysis/sparc
  test/db/analysis/sysz
  test/db/analysis/tricore
  test/db/asm/arm_64
  test/db/asm/mips_64
  test/db/asm/mips_v2_64
  test/db/asm/tricore
  test/db/cmd/cmd_pd
  test/db/cmd/cmd_pde
  test/db/esil/mips_32
  test/db/formats/elf/m68k
  test/db/formats/elf/mips
Labels: documentation, infrastructure, rz-test, RzAnalysis, ARM, MIPS, X86, RZIL

#4689 mac ci: Make PATH invariant to installed Python version
  .github/workflows/ci.yml
Labels: infrastructure

#4687 Refactor: Use HtSP for storing plugins.
  .clang-format
  librz/arch/analysis.c
  librz/arch/asm.c
  librz/bin/bin.c
  librz/bp/bp.c
  librz/bp/bp_plugin.c
  librz/core/canalysis.c
  librz/core/casm.c
  librz/core/cautocmpl.c
  librz/core/cbin.c
  librz/core/cconfig.c
  librz/core/ccrypto.c
  librz/core/cdebug.c
  librz/core/chash.c
  librz/core/cio.c
  librz/core/cmd/cmd_debug.c
  librz/core/cmd/cmd_egg.c
  librz/core/core.c
  librz/core/cplugin.c
  librz/crypto/crypto.c
  librz/debug/debug.c
  librz/debug/plugin.c
  librz/egg/egg.c
  librz/hash/hash.c
  librz/include/rz_analysis.h
  librz/include/rz_asm.h
  librz/include/rz_bin.h
  librz/include/rz_bp.h
  librz/include/rz_core.h
  librz/include/rz_crypto.h
  librz/include/rz_debug.h
  librz/include/rz_egg.h
  librz/include/rz_hash.h
  librz/include/rz_io.h
  librz/include/rz_lib.h
  librz/include/rz_list.h
  librz/include/rz_util/rz_str.h
  librz/io/io.c
  librz/io/io_plugin.c
  librz/main/rz-gg.c
  librz/main/rz-hash.c
  librz/util/iterator.c
  librz/util/list.c
  librz/util/str.c
  test/db/archos/linux-x64/cmd_list
  test/db/archos/linux-x64/dbg_dl
  test/db/cmd/cmd_list
  test/db/tools/rz_hash
  test/unit/test_list.c
Labels: rz-test, RzIO, RzBin, RzAnalysis, RzDebug, API, RzCore, RzCrypto, RzEgg, RzUtil, rz-hash, rz-gg, RzHash, RzBreakpoint

#4691 Use pre-v5 enum names which are now supported by compatibility macros.
  .github/workflows/ci.yml
  librz/arch/isa/arm/arm_accessors32.h
  librz/arch/isa/arm/arm_cs.h
  librz/arch/isa/arm/arm_esil32.c
  librz/arch/isa/arm/arm_esil64.c
  librz/arch/isa/arm/arm_il32.c
  librz/arch/isa/arm/arm_il64.c
  librz/arch/p/analysis/analysis_arm_cs.c
  librz/arch/p/analysis/analysis_sysz.c
  librz/arch/p/asm/asm_arm_cs.c
  librz/arch/p/asm/cs_helper.h
  meson.build
  subprojects/capstone-next.wrap
Labels: infrastructure, RzAnalysis, merge-when-green, ARM, RZIL

#4684 Rizin as subproject dist
  librz/include/rz_types.h
  librz/include/rz_util/rz_intervaltree.h
  meson.build
  subprojects/nettle/meson.build
  subprojects/packagefiles/blake3/meson.build
  subprojects/packagefiles/capstone-4.0.2/meson.build
  subprojects/packagefiles/capstone-5.0.1/meson.build
  subprojects/packagefiles/capstone-6.0.0-alpha1/meson.build
  subprojects/packagefiles/capstone-next/meson.build
  subprojects/packagefiles/libmspack/meson.build
  subprojects/packagefiles/libzip-1.9.2/meson.build
  subprojects/packagefiles/lz4-1.9.4/meson.build
  subprojects/packagefiles/pcre2/meson.build
  subprojects/packagefiles/rizin-grammar-c/meson.build
  subprojects/packagefiles/tree-sitter-0.21.0/meson.build
  subprojects/packagefiles/xz-5.2.9/meson.build
  subprojects/packagefiles/zlib-1.3.1/meson.build
  subprojects/rizin-shell-parser/meson.build
  subprojects/rzar/meson.build
  subprojects/rzgdb/meson.build
  subprojects/rzqnx/meson.build
  subprojects/rzwinkd/meson.build
  subprojects/xxhash/meson.build
  sys/meson_git_wrapper.py
  test/integration/meson.build
Labels: rz-test, API, buildsystem, merge-when-green, GDB, WinDbg

#4692 Print the max number of lines as default in pd
  librz/core/cmd/cmd_print.c
Labels: RzCore
