Repository rizinorg/rizin, pull requests merged in 2024-08, with the labels that each got.

#4584 Add feature to compare one similarity against all functions of another binary
  librz/arch/similarity.c
  librz/main/rz-diff.c
  test/db/tools/rz_diff
Labels: rz-test, RzAnalysis, rz-diff, merge-when-green

#4590 ci: install tomli for meson
  .appveyor.yml
  .travis.yml
Labels: infrastructure

#4591 ci/docker: install tomli for meson
  Dockerfile
Labels: merge-when-green

#4592 Add missing VFP-v3/Neon D0-D31 registers (#4589)
  librz/arch/isa/arm/arm_dwarf_regnum_table.h
Labels: RzAnalysis, ARM

#4593 add softfloat_dep when cross build
  librz/util/meson.build
  meson.build
Labels: RzUtil

#4582 Add RzAnalysis OP to ROP gadget info
  librz/core/cmd/cmd_print.c
  librz/core/cmd/cmd_search_rop.c
  librz/core/rop.c
  librz/core/tui/rop.c
  librz/include/rz_analysis.h
  librz/include/rz_core.h
  librz/include/rz_rop.h
Labels: API, RzCore, visual, panel, merge-when-green

#4598 core/analysis: API to get sourceline info for functions
  librz/core/canalysis.c
  librz/include/rz_core.h
Labels: API, RzCore

#4597 test/integration/open: check base address
  librz/core/cfile.c
  test/integration/test_open_analyse_save_load_project.c
Labels: rz-test, RzCore
