Repository rizinorg/rizin, pull requests merged in 2024-05, with the labels that each got.

#4461 Relocation and analysis improvement for Renesas RX
  librz/arch/opcodes/meson.build
  librz/arch/opcodes/rx.sdb.txt
  librz/arch/p/analysis/analysis_rx.c
  librz/bin/format/elf/glibc_elf.h
  librz/bin/p/bin_elf.inc
  test/db/analysis/rx
Labels: rz-test, RzBin, RzAnalysis, ELF

#4466 RzIL: add `aezsue` to support `Step until PC equals given address and output VM changes`
  librz/arch/il/analysis_il.c
  librz/core/cil.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/il/il_vm_eval.c
  librz/include/rz_analysis.h
  librz/include/rz_core.h
Labels: RzAnalysis, API, ESIL, RzCore, RZIL

#4470 Fix debuginfod test timeout under `-q`
  test/db/archos/linux-x64/debuginfod
Labels: rz-test

#4472 Fix double free issue in bin_luac.c
  librz/bin/p/bin_luac.c
Labels: RzBin

#4473 Fix double free issue in bin_le
  librz/bin/format/le/le.c
Labels: RzBin

#4474 rz_core_task_join: Return true on join
  librz/core/task.c
  librz/include/rz_core.h
  test/unit/test_core_task.c
Labels: rz-test, API, RzCore

#4471 Refactor sdb_foreach and related APIs
  librz/arch/analysis.c
  librz/arch/cc.c
  librz/arch/class.c
  librz/arch/platform_profile.c
  librz/arch/platform_target_index.c
  librz/arch/serialize_analysis.c
  librz/bp/serialize_bp.c
  librz/config/config.c
  librz/config/serialize_config.c
  librz/core/cbin.c
  librz/core/cdebug.c
  librz/core/cmd/cmd.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_search.c
  librz/core/project_migrate.c
  librz/core/serialize_core.c
  librz/core/tui/classes.c
  librz/debug/dsession.c
  librz/flag/serialize_flag.c
  librz/flag/tags.c
  librz/include/rz_analysis.h
  librz/syscall/syscall.c
  librz/type/serialize_functions.c
  librz/type/serialize_types.c
  librz/util/sdb/src/diff.c
  librz/util/sdb/src/main.c
  librz/util/sdb/src/query.c
  librz/util/sdb/src/sdb.c
  librz/util/sdb/src/sdb.h
  librz/util/sdb/src/sdbht.h
  librz/util/sdb/src/text.c
  librz/util/serialize_spaces.c
  test/unit/test_analysis_function.c
  test/unit/test_sdb_sdb.c
  test/unit/test_serialize_analysis.c
Labels: rz-test, RzAnalysis, RzDebug, API, RzCore, visual, panel, RzFlag, RzSyscall, RzType, RzUtil, RzBreakpoint, RzAsm-Assembler, RzConfig

#4478 Remove unused sdb hook feature
  librz/util/sdb/src/sdb.c
  librz/util/sdb/src/sdb.h
Labels: RzUtil

#4480 Use HtUP instead of SdbHt in bin_xnu_kernelcache.c
  librz/bin/p/bin_xnu_kernelcache.c
Labels: RzBin

#4481 core/canalysis.c: fix the ignored parameter in rz_core_analysis_function_signature_editor
  librz/core/canalysis.c
Labels: RzCore

#4483 Fix hexagon double free under `-q`
  librz/arch/p/asm/asm_hexagon.c
Labels: RzAnalysis

#4484 Fix dbginfo double free under `-q`
  librz/bin/dbginfo.c
Labels: RzBin

#4485 Fix bug in function_children_parse()
  librz/arch/dwarf_process.c
Labels: RzAnalysis, DWARF

#4468 rizin: Remove `-Q` flag
  binrz/rz-test/run.c
  librz/main/rizin.c
Labels: rizin, rz-test

#4488 Add note regarding rz_bin_reloc_free and bin_coff
  librz/bin/bin.c
Labels: RzBin

#4486 Refactor rz_core_theme_list() to return RzPVector
  librz/core/cmd/cmd_eval.c
  librz/core/core_private.h
  librz/core/tui/panels.c
  librz/include/rz_core.h
Labels: API, RzCore, visual, panel

#4492 Remove unused sdb ptr API
  librz/arch/esil/esil.c
  librz/util/sdb/src/num.c
  librz/util/sdb/src/sdb.h
Labels: RzAnalysis, ESIL, merge-when-green, RzUtil

#4495 Fix dbg_dmh test due to CI ubuntu-22.04 image 20240514.2.0
  test/db/archos/linux-x64/dbg_dmh
Labels: rz-test

#4489 Add extended insert/update methods for HT
  librz/include/rz_util/ht_inc.h
  librz/util/ht/ht_inc.c
  librz/util/str_constpool.c
  test/db/cmd/cmd_flags
  test/db/cmd/dwarf
  test/db/formats/pdb
  test/unit/test_sdb_hash.c
Labels: rz-test, API, RzUtil

#4496 Remove SdbList
  .clang-format
  librz/core/cmd/cmd_search.c
  librz/debug/dsession.c
  librz/util/sdb/src/diff.c
  librz/util/sdb/src/ls.c
  librz/util/sdb/src/ls.h
  librz/util/sdb/src/meson.build
  librz/util/sdb/src/ns.c
  librz/util/sdb/src/query.c
  librz/util/sdb/src/sdb.c
  librz/util/sdb/src/sdb.h
  librz/util/sdb/src/text.c
  test/unit/meson.build
  test/unit/test_sdb_ls.c
  test/unit/test_sdb_sdb.c
Labels: rz-test, RzDebug, RzCore, merge-when-green, RzUtil

#4499 Add rz prefix to set types/APIs
  librz/arch/analysis.c
  librz/arch/dwarf_process.c
  librz/arch/fcn.c
  librz/arch/rtti_itanium.c
  librz/bin/format/mach0/dyldcache.c
  librz/bin/format/mach0/dyldcache.h
  librz/bin/format/pe/pe_info.c
  librz/bin/p/bin_dyldcache.c
  librz/bin/p/bin_mach0.c
  librz/core/agraph.c
  librz/core/canalysis.c
  librz/core/cmd/cmd_eval.c
  librz/include/meson.build
  librz/include/rz_analysis.h
  librz/include/rz_util/rz_set.h
  librz/include/rz_util/set.h
  librz/util/set.c
Labels: RzBin, RzAnalysis, API, RzCore, merge-when-green, PE, Mach-O, DWARF, RzUtil

#4490 Fix bin_elf import & symbol leak
  librz/bin/bin.c
  librz/bin/bobj.c
  librz/bin/format/le/le.c
  librz/bin/format/le/le.h
  librz/bin/format/ne/ne.c
  librz/bin/p/bin_bflt.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_mz.c
  librz/bin/p/bin_qnx.c
  librz/include/rz_bin.h
Labels: RzBin, API, ELF

#4501 Fix ne fuzz tests
  librz/bin/format/ne/ne.c
Labels: RzBin

#4322 Rzil PIC
  librz/arch/il/analysis_il.c
  librz/arch/isa/pic/pic.h
  librz/arch/isa/pic/pic14.c
  librz/arch/isa/pic/pic14.h
  librz/arch/isa/pic/pic16.c
  librz/arch/isa/pic/pic16.h
  librz/arch/isa/pic/pic16_analysis.c
  librz/arch/isa/pic/pic16_esil.inc
  librz/arch/isa/pic/pic16_il.inc
  librz/arch/isa/pic/pic18.c
  librz/arch/isa/pic/pic18.h
  librz/arch/isa/pic/pic18_analysis.c
  librz/arch/isa/pic/pic18_esil.inc
  librz/arch/isa/pic/pic18_il.inc
  librz/arch/isa/pic/pic_baseline.c
  librz/arch/isa/pic/pic_baseline.h
  librz/arch/isa/pic/pic_il.inc
  librz/arch/isa/pic/pic_midrange.c
  librz/arch/isa/pic/pic_midrange.h
  librz/arch/isa/pic/pic_pic18.c
  librz/arch/isa/pic/pic_pic18.h
  librz/arch/meson.build
  librz/arch/p/analysis/analysis_pic.c
  librz/arch/p/asm/asm_pic.c
  librz/bin/format/elf/elf_info.c
  librz/core/cil.c
  test/db/analysis/pic
  test/db/asm/pic_pic16_8
  test/db/asm/pic_pic18_8
  test/db/cmd/cmd_list
  test/db/rzil/pic
Labels: rz-test, RzBin, RzAnalysis, ESIL, RzCore, ELF, RZIL, PIC

#4502 flags: new `fdt` command to print more information about flag
  librz/core/cmd/cmd_flag.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_flag.yaml
Labels: RzCore

#4503 Support ARM ELF THM_PC22 / THM_JUMP24 relocs
  librz/bin/p/bin_elf.inc
  test/db/formats/elf/elf-relarm
Labels: rz-test, RzBin, ELF

#4505 rz_core_task_join: Return fine-grained error values
  librz/core/task.c
  librz/include/rz_core.h
  test/unit/test_core_task.c
Labels: rz-test, API, RzCore

#4506 Refactor of rz-test to use thread safe functions.
  binrz/rz-test/run.c
  binrz/rz-test/rz-test.c
  binrz/rz-test/rz_test.h
  librz/util/subprocess.c
  test/unit/test_rz_test.c
Labels: rz-test, RzUtil

#4508 Support for assembling slti instructions.
  librz/arch/isa/mips/mips_assembler.c
Labels: RzAnalysis, MIPS, RzAsm-Assembler

#4512 Fix missing rz prefix for set_s_free
  librz/bin/format/pe/pe_info.c
  librz/core/cmd/cmd_eval.c
  librz/include/rz_util/rz_set.h
  librz/util/set.c
Labels: RzBin, API, RzCore, PE, RzUtil

#4511 Fix NULL dereference due invalid command.
  librz/core/cmd/cmd.c
  test/db/cmd/bug_backtick
Labels: rz-test, RzCore, merge-when-green

#4510 Add N_THREAD_LIMIT to limit the max number of threads (upper limit).
  .github/workflows/ci.yml
  binrz/rz-test/rz-test.c
  librz/arch/similarity.c
  librz/bin/bfile_string.c
  librz/core/cbin.c
  librz/core/cconfig.c
  librz/include/rz_basefind.h
  librz/include/rz_bin.h
  librz/include/rz_th.h
  librz/include/rz_userconf.h.in
  librz/util/thread_iterators.c
  librz/util/thread_pool.c
  librz/util/thread_queue.c
  meson.build
  meson_options.txt
  test/unit/test_threads.c
Labels: infrastructure, rz-test, RzBin, RzAnalysis, API, RzCore, RzUtil

#4519 Revert #4506
  .github/workflows/ci.yml
  binrz/rz-test/run.c
  binrz/rz-test/rz-test.c
  binrz/rz-test/rz_test.h
  librz/arch/similarity.c
  librz/bin/bfile_string.c
  librz/core/cbin.c
  librz/core/cconfig.c
  librz/include/rz_basefind.h
  librz/include/rz_bin.h
  librz/include/rz_th.h
  librz/include/rz_userconf.h.in
  librz/util/subprocess.c
  librz/util/thread_iterators.c
  librz/util/thread_pool.c
  librz/util/thread_queue.c
  meson.build
  meson_options.txt
  test/unit/test_rz_test.c
  test/unit/test_threads.c
Labels: infrastructure, rz-test, RzBin, RzAnalysis, API, RzCore, RzUtil

#4522 [MSP430] Removed code which deletes indicator characters for certain asm syntaxes
  librz/arch/p/asm/asm_msp430.c
  test/db/analysis/msp430
  test/db/asm/msp430
Labels: rz-test, RzAnalysis
