Repository rizinorg/rizin, pull requests merged in 2024-12, with the labels that each got.

#4753 Port debug commands to RzShell
  librz/core/cdebug.c
  librz/core/cio.c
  librz/core/cmd/cmd_api.c
  librz/core/cmd/cmd_debug.c
  librz/core/cmd/cmd_linux_heap_glibc.c
  librz/core/cmd_descs/cmd_debug.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_heap_glibc.yaml
  librz/core/linux_heap_glibc.c
  librz/core/linux_heap_jemalloc.c
  librz/core/tui/visual.c
  librz/debug/trace.c
  librz/include/rz_cmd.h
  librz/include/rz_core.h
  librz/include/rz_debug.h
  librz/include/rz_heap_glibc.h
  test/db/archos/darwin-arm64/dbg
  test/db/archos/darwin-x64/dbg
  test/db/archos/linux-x64/dbg_dmi
  test/db/archos/linux-x64/dbg_step
Labels: rz-test, RzDebug, API, RzCore, visual, panel

#4759 Revert "rz-test: Set default test dir to '.' (#4741)"
  binrz/rz-test/rz-test.c
Labels: rz-test

#4760 Fix rz-test `-i` fixing when REGEXP_FILTER_OUT/_ERR is set
  binrz/rz-test/rz-test.c
Labels: rz-test

#4761 rz-test: Refactor call to rz_regex_full_match_str()
  binrz/rz-test/run.c
  binrz/rz-test/rz-test.c
  binrz/rz-test/rz_test.h
Labels: rz-test

#4763 rz-test: Fix last line of diff when REGEXP_FILTER_OUT/_ERR is set
  binrz/rz-test/rz-test.c
Labels: rz-test

#4766 Remove rz_test_chdir()
  binrz/rz-test/rz-test.c
Labels: rz-test

#4764 Add Vv as alias for 'V v'.
  librz/core/cmd/cmd_interactive.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_interactive.yaml
Labels: RzCore

#4767 rz-diff: remove 5Mb size limitation
  librz/main/rz-diff.c
Labels: rz-diff, merge-when-green

#4768 rz-test: Assume `-C .` if `db/` dir not found
  binrz/rz-test/rz-test.c
Labels: rz-test

#4770 rz-test: Fix no XX if expected output truncated when REGEXP_FILTER_OUT is set
  binrz/rz-test/run.c
  test/db/archos/darwin-x64/dbg
Labels: rz-test

#4775 Set return type of rz_strbuf_length() to size_t
  binrz/rz-test/run.c
  binrz/rz-test/rz-test.c
  librz/include/rz_util/rz_strbuf.h
  librz/util/strbuf.c
Labels: rz-test, API, RzUtil

#4771 add rzil 'fexcept'|'FEXCEPT'
  librz/il/definitions/float.c
  librz/il/il_export_string.c
  librz/il/il_opcodes.c
  librz/il/il_validate.c
  librz/il/il_vm_eval.c
  librz/il/theory_fbasic.c
  librz/include/rz_il/definitions/float.h
  librz/include/rz_il/rz_il_opbuilder_begin.h
  librz/include/rz_il/rz_il_opcodes.h
  test/unit/test_il_vm.c
Labels: rz-test, API, RZIL

#4777 Clean up rz_test_cmp_cmd_output()
  binrz/rz-test/run.c
Labels: rz-test

#4758 Bump Capstone to newest next
  librz/arch/isa/arm/arm_il32.c
  librz/arch/p/analysis/analysis_arm_cs.c
  librz/arch/p/asm/asm_arm_cs.c
  subprojects/capstone-next.wrap
  test/db/analysis/arm
  test/db/analysis/ppc
Labels: rz-test, RzAnalysis, ARM, RZIL

#4778 Ve alias
  librz/core/cmd/cmd_interactive.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_interactive.yaml
Labels: RzCore

#4782 dsuir: Remove error msg on success
  librz/core/cmd/cmd_debug.c
  test/db/archos/linux-x64/dbg_trace
Labels: rz-test, RzCore

#4785 Make regex of `dsuir` test more real
  test/db/archos/linux-x64/dbg_trace
Labels: rz-test

#4772 add rz-test '-y' option to accept all
  binrz/rz-test/rz-test.c
Labels: rz-test

#4790 dbtj: Add space between flags in `desc` property
  librz/core/cdebug.c
  test/db/archos/linux-x64/dbg_trace
Labels: rz-test, RzCore

#4791 subprojects: update rz-libdemangle
  subprojects/libdemangle.wrap
Labels: merge-when-green

#4792 Remove trailing space in dbg_trace test
  test/db/archos/linux-x64/dbg_trace
Labels: rz-test

#4789 Add RzIL vm event memory (read|write) index
  librz/il/il_events.c
  librz/il/il_export_string.c
  librz/il/il_vm_eval.c
  librz/include/rz_il/rz_il_events.h
Labels: API, RZIL

#4793 Fix `:?`
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.yaml
Labels: RzCore

#4712 xtensa RzIL
  librz/arch/il/analysis_il.c
  librz/arch/isa/xtensa/xtensa.h
  librz/arch/isa/xtensa/xtensa_il.c
  librz/arch/meson.build
  librz/arch/p/analysis/analysis_xtensa_cs.c
  librz/include/rz_analysis.h
  test/db/asm/xtensa
  test/db/cmd/cmd_list
  test/db/esil/xtensa_32
  test/db/rzil/xtensa
Labels: rz-test, RzAnalysis, API, RZIL, Xtensa

#4795 dbtj: Replace `"(null)"` with `""`
  librz/core/cdebug.c
  test/db/archos/linux-x64/dbg_trace
Labels: rz-test, RzCore

#4786 Feature/filtering la
  librz/core/casm.c
  librz/core/cconfig.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_plugins.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_plugins.yaml
  librz/include/rz_core.h
  librz/main/rz-asm.c
  test/db/cmd/cmd_list
Labels: rz-asm, rz-test, API, RzCore

#4797 dbt: Don't print trailing space
  librz/core/cmd/cmd_debug.c
  test/db/archos/linux-x64/dbg_trace
  test/db/formats/dmp/dmp
Labels: rz-test, RzCore

#4798 Add `dbtt` (table version of `dbt`)
  librz/core/cmd/cmd_debug.c
  librz/core/cmd_descs/cmd_debug.yaml
  librz/core/cmd_descs/cmd_descs.c
  test/db/archos/linux-x64/dbg_trace
Labels: rz-test, RzCore

#4802 Remove mips.gnu
  librz/arch/meson.build
  librz/arch/p_gnu/analysis/analysis_mips_gnu.c
  librz/arch/p_gnu/arch_mips.c
  librz/arch/p_gnu/asm/asm_mips_gnu.c
  test/db/analysis/mips
  test/db/asm/mips.gnu_64
  test/db/cmd/cmd_list
  test/db/cmd/print
Labels: rz-test, RzAnalysis

#4800 Fix PowerPC LI & LIS instructions
  librz/arch/isa/ppc/ppc_il.c
  librz/arch/isa/ppc/ppc_il_ops.c
  librz/arch/p/analysis/analysis_ppc_cs.c
Labels: RzAnalysis, PPC, RZIL

#4801 XTENSA Always fallback on bad CPU and set illegal on bad decoding
  librz/arch/isa/xtensa/xtensa.c
  librz/arch/p/asm/asm_xtensa_cs.c
Labels: RzAnalysis, Xtensa

#4803 sort `avgl` by address
  librz/core/canalysis.c
  test/db/analysis/vars
  test/db/cmd/cmd_avg
  test/db/cmd/dwarf
  test/db/formats/pdb
Labels: rz-test, RzCore, merge-when-green

#4804 Add `VV` (alias of `V V`)
  librz/core/agraph.c
  librz/core/cmd/cmd_interactive.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_interactive.yaml
  librz/core/tui/visual.c
  test/db/cmd/cmd_visual
Labels: rz-test, RzCore, visual, panel

#4621 Mips update
  librz/arch/isa/mips/mips_esil.c
  librz/arch/isa/mips/mips_internal.h
  librz/arch/meson.build
  librz/arch/p/analysis/analysis_mips_cs.c
  librz/arch/p/arch_mips_cs.c
  librz/arch/p/asm/asm_mips_cs.c
  librz/bin/format/elf/elf_imports.c
  librz/bin/format/elf/elf_info.c
  librz/bin/format/elf/glibc_elf.h
  librz/bin/format/te/te.c
  librz/bin/format/te/te.h
  librz/bin/p/bin_coff.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_mach0.c
  librz/bin/p/bin_psxexe.c
  librz/bin/p/bin_te.c
  librz/core/cbin.c
  librz/core/cesil.c
  librz/core/golang.c
  test/db/abi/platforms/platform_detect
  test/db/analysis/java
  test/db/analysis/mips
  test/db/analysis/rl78
  test/db/analysis/rx
  test/db/asm/mips_mips2_64
  test/db/asm/mips_mips64v2_64
  test/db/asm/mips_mips64v6_64
  test/db/asm/mips_v2_64
  test/db/cmd/cmd_eval
  test/db/cmd/cmd_i
  test/db/cmd/cmd_open
  test/db/cmd/cmd_pipe
  test/db/esil/mips_32
  test/db/formats/dmp/dmp
  test/db/formats/dyldcache
  test/db/formats/elf/elf-riscv64
  test/db/formats/elf/m68k
  test/db/formats/elf/mips
  test/db/formats/elf/v850
  test/db/formats/mdmp
  test/db/formats/n3ds
  test/db/formats/ninds
  test/db/formats/pe/arm
  test/db/formats/prg
  test/db/formats/smd
  test/db/io/srec
  test/db/tools/rz_bin
Labels: rz-test, RzBin, RzAnalysis, RzCore, merge-when-green, high-priority, ELF, Mach-O, MIPS, blocker

#4807 Add test for `pxi`
  test/db/cmd/cmd_px
Labels: rz-test

#4811 pxi: Add missing `:` at Last_Offset+1
  librz/util/print.c
  test/db/cmd/cmd_px
Labels: rz-test, RzUtil
