Repository rizinorg/rizin, pull requests merged in 2024-11, with the labels that each got.

#4696 bump capstone and fix tricore plugin
  librz/arch/isa/tricore/tricore_il.c
  subprojects/capstone-next.wrap
  test/db/analysis/tricore
  test/db/asm/tricore
Labels: rz-test, RzAnalysis, RZIL, TriCore

#4700 ci: use `muon-bootstrap` name for bootstrap
  .github/workflows/muon.yml
Labels: merge-when-green

#4695 Use relocation types name defined by each bin format.
  librz/bin/p/bin_elf.inc
  librz/core/cbin.c
  librz/include/rz_bin.h
  test/db/analysis/rx
  test/db/cmd/cmd_i
  test/db/formats/demangling_bin
  test/db/formats/elf/elf-relarm
  test/db/formats/elf/elf-relro
  test/db/formats/elf/reloc
  test/db/tools/rz_bin
Labels: rz-test, RzBin, API, RzCore, ELF

#4701 Fix COFF reloc naming
  librz/bin/format/coff/coff_reloc.c
  test/db/formats/coff
Labels: rz-test, RzBin

#4703 Force Function Rename
  librz/arch/function.c
  librz/include/rz_analysis.h
  test/unit/test_analysis_function.c
Labels: rz-test, RzAnalysis, API, merge-when-green

#4704 Use st64 instead of int for rz_config_set_i_cb
  librz/config/config.c
  librz/include/rz_config.h
Labels: API, RzConfig

#4705 Remove dead code
  librz/arch/esil/esil.c
  librz/arch/esil/esil_interrupt.c
  librz/arch/fcn.c
  librz/arch/isa/arm/arm_esil32.c
  librz/arch/isa/arm/arm_esil64.c
  librz/arch/isa/arm/armass.c
  librz/arch/isa/avr/assembler.c
  librz/arch/isa/tms320/c55x_plus/hashtable.c
  librz/arch/p/analysis/analysis_mips_cs.c
  librz/arch/p/analysis/analysis_riscv_cs.c
  librz/arch/p/analysis/analysis_x86_cs.c
  librz/arch/p/asm/asm_lm32.c
  librz/arch/p/asm/asm_riscv_cs.c
  librz/arch/p/asm/asm_xap.c
  librz/bin/format/coff/coff.c
  librz/bin/format/mach0/mach0.c
  librz/bin/format/mdmp/mdmp.c
  librz/bin/format/objc/mach0_classes.c
  librz/bin/format/omf/omf.c
  librz/bin/format/pe/pe_section.c
  librz/bin/format/wasm/wasm.c
  librz/bin/p/bin_coff.c
  librz/bin/p/bin_menuet.c
  librz/bin/p/bin_pebble.c
  librz/bin/p/bin_sfc.c
  librz/bin/p/bin_symbols.c
  librz/bin/p/bin_xtr_pemixed.c
  librz/cons/cons.c
  librz/cons/cutf8.c
  librz/cons/input.c
  librz/core/cconfig.c
  librz/core/cmd/cmd_magic.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd/cmd_search.c
  librz/core/cmd/cmd_seek.c
  librz/core/core.c
  librz/core/linux_heap_glibc.c
  librz/core/rtr.c
  librz/core/rtr_shell.c
  librz/core/tui/visual.c
  librz/crypto/p/crypto_blowfish.c
  librz/crypto/p/crypto_cps2.c
  librz/debug/debug.c
  librz/debug/p/debug_gdb.c
  librz/debug/p/debug_io.c
  librz/debug/p/native/maps/darwin.c
  librz/debug/p/native/xnu/xnu_debug.c
  librz/debug/pid.c
  librz/egg/egg_lang.c
  librz/egg/emit_arm.c
  librz/egg/emit_trace.c
  librz/egg/emit_x86.c
  librz/search/search.c
Labels: RzBin, RzAnalysis, RzDebug, ESIL, RzCore, RzCrypto, visual, panel, PE, Mach-O, macOS, GDB, ARM, MIPS, X86, RzEgg, RzCons, RzAsm-Assembler, RzSearch, AVR, TMS320

#4706 Test rizinorg/rz-pipe#58 that discards startup banners
  test/scripts/dk_9.py
Labels: rz-test

#4654 Add Xtensa arch support
  librz/arch/isa/xtensa/xtensa.c
  librz/arch/isa/xtensa/xtensa.h
  librz/arch/isa/xtensa/xtensa_esil.c
  librz/arch/isa_gnu/xtensa/elf32-xtensa.c
  librz/arch/isa_gnu/xtensa/xtensa-dis.c
  librz/arch/isa_gnu/xtensa/xtensa-isa-internal.h
  librz/arch/isa_gnu/xtensa/xtensa-isa.c
  librz/arch/isa_gnu/xtensa/xtensa-isa.h
  librz/arch/isa_gnu/xtensa/xtensa-modules.c
  librz/arch/meson.build
  librz/arch/p/analysis/analysis_xtensa_cs.c
  librz/arch/p/arch_xtensa_cs.c
  librz/arch/p/asm/asm_tricore_cs.c
  librz/arch/p/asm/asm_xtensa_cs.c
  librz/arch/p_gnu/analysis/analysis_xtensa_gnu.c
  librz/arch/p_gnu/arch_xtensa.c
  librz/arch/p_gnu/asm/asm_xtensa_gnu.c
  librz/core/cconfig.c
  librz/core/cmd/cmd_print.c
  subprojects/capstone-next.wrap
  subprojects/packagefiles/capstone-next/meson.build
  test/db/analysis/xtensa
  test/db/cmd/cmd_list
Labels: rz-test, RzAnalysis, RzCore, merge-when-green, RzAsm-Disassembler, Xtensa

#4708 only enable xtensa_cs plugin when use capstone next
  librz/arch/meson.build
Labels: RzAnalysis, merge-when-green

#4698 Fix meson-build global_arguments
  .github/subproject_test/meson.build
  .github/subproject_test/subprojects/rizin.wrap
  .github/workflows/ci.yml
  meson.build
  test/integration/meson.build
Labels: infrastructure, rz-test

#4710 Fix field docs
  librz/include/rz_core.h
Labels: API, merge-when-green

#4714 Use blocksize to determine size for rz_cmd_disassembly_n_bytes_handler()
  librz/core/cmd/cmd_print.c
Labels: RzCore

#4719 socket_http.c: Show curl error on failure
  librz/socket/socket_http.c
Labels: RzSocket

#4720 socket_http_get_recursive: Free `err`
  librz/socket/socket_http.c
Labels: RzSocket

#4718 Fix disasm, if first instruction is at a map boundary.
  librz/arch/isa/hexagon/hexagon_arch.c
  test/db/analysis/hexagon
Labels: rz-test, RzAnalysis, Hexagon

#4721 ci: Remove `-Wno-cpp`
  .github/workflows/ci.yml
Labels: infrastructure

#4722 MZ format migrate to using new relocation naming
  librz/bin/p/bin_mz.c
  test/db/formats/mz/reloc
Labels: rz-test, RzBin

#4723 Tighten regex in "maps as flags" test
  test/db/archos/darwin-arm64/dbg
Labels: rz-test

#4724 Split rz_core_get_boundaries_prot and rewrite the code.
  librz/bin/bin.c
  librz/config/config.c
  librz/core/canalysis.c
  librz/core/cbounds.c
  librz/core/cconfig.c
  librz/core/cil.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_debug.c
  librz/core/cmd/cmd_magic.c
  librz/core/cmd/cmd_math.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd/cmd_search.c
  librz/core/cmd/cmd_search_rop.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_math.yaml
  librz/core/meson.build
  librz/core/rop.c
  librz/include/rz_bin.h
  librz/include/rz_core.h
  librz/include/rz_rop.h
  test/db/cmd/cmd_eval
  test/db/cmd/cmd_p-
  test/db/cmd/cmd_print
  test/db/cmd/cmd_search
  test/db/cmd/va
Labels: rz-test, RzBin, API, ESIL, RzCore, RZIL, RzConfig

#4727 Fix memory leaks in PE format
  librz/bin/format/pe/pe.h
  librz/bin/format/pe/pe_info.c
  librz/bin/format/pe/pe_relocs.c
  librz/bin/p/bin_pe.inc
Labels: RzBin, PE

#4725 Fix NE relocation naming
  librz/bin/format/ne/ne.c
  librz/bin/format/ne/ne_specs.h
  test/db/formats/ne
Labels: rz-test, RzBin, merge-when-green

#4728 Remove `-Wno-deprecated-non-prototype` from macos build
  .github/workflows/ci.yml
  subprojects/libdemangle.wrap
Labels: infrastructure

#4726 Convert `pj` to RzShell
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
  librz/include/rz_util/rz_print.h
  librz/util/json_indent.c
  test/db/cmd/print
Labels: rz-test, API, RzCore, RzUtil

#4059 DEC Alpha disassembly and analysis plugins
  librz/arch/isa/alpha/alpha.h
  librz/arch/isa/alpha/alpha.inc
  librz/arch/meson.build
  librz/arch/p/analysis/analysis_alpha_cs.c
  librz/arch/p/arch_alpha.c
  librz/arch/p/asm/asm_alpha_cs.c
  librz/bin/format/elf/elf_imports.c
  librz/bin/format/elf/elf_info.c
  librz/bin/p/bin_elf.inc
  test/db/cmd/cmd_list
Labels: rz-test, RzBin, RzAnalysis, ELF

#4735 librz/arch/alpha: build only for Capstone > 5
  librz/arch/meson.build
Labels: RzAnalysis, merge-when-green

#4737 Fix leaks of Capstone handle
  librz/arch/p/analysis/analysis_ppc_cs.c
Labels: RzAnalysis, PPC

#4741 rz-test: Set default test dir to '.'
  binrz/rz-test/rz-test.c
Labels: rz-test

#4744 Convert zero-output EXPECT_ERR=<<EOF to single-line EXPECT_ERR=
  test/db/abi/languages/freepascal
  test/db/analysis/avr
  test/db/archos/linux-x64/dbg_trace
  test/db/cmd/cmd_rop
  test/db/cmd/project
  test/db/cmd/warnings
  test/db/formats/elf/obj
  test/db/io/cache
  test/db/tools/rz
  test/db/tools/rz_bin
  test/db/tools/rz_hash
Labels: rz-test

#4745 Port `v` and `V` to RzShell
  librz/core/cmd/cmd.c
  librz/core/cmd/cmd_api.c
  librz/core/cmd/cmd_interactive.c
  librz/core/cmd/cmd_interactive_panel.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
  librz/core/cmd_descs/cmd_interactive.yaml
  librz/core/cmd_descs/cmd_interactive_panel.yaml
  librz/core/cmd_descs/meson.build
  librz/core/core_private.h
  librz/core/meson.build
  librz/core/tui/panels.c
  librz/core/tui/visual.c
  librz/include/rz_util/rz_panels.h
  test/db/analysis/arm
  test/db/cmd/cmd_visual
Labels: rz-test, API, RzCore, visual, panel, merge-when-green

#4749 Fix k test on BSD systems.
  test/db/cmd/cmd_k
Labels: rz-test

#4750 Port `ik` and `ik*` command to RzShell.
  librz/core/cmd/cmd_info.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_info.yaml
  test/db/cmd/cmd_i
Labels: rz-test, RzCore

#4752 Fix dwarf5 load
  librz/arch/dwarf_process.c
  librz/bin/dwarf/abbrev.c
  librz/bin/dwarf/addr.c
  librz/bin/dwarf/aranges.c
  librz/bin/dwarf/attr.c
  librz/bin/dwarf/dwarf.c
  librz/bin/dwarf/dwarf_private.h
  librz/bin/dwarf/endian_reader.c
  librz/bin/dwarf/line.c
  librz/bin/dwarf/line_str.c
  librz/bin/dwarf/loclists.c
  librz/bin/dwarf/op.c
  librz/bin/dwarf/rnglists.c
  librz/bin/dwarf/str.c
  librz/bin/dwarf/str_offsets.c
  librz/bin/dwarf/unit.c
  librz/core/cbin.c
  librz/core/cconfig.c
  librz/include/rz_bin_dwarf.h
  test/db/cmd/dwarf
  test/integration/test_dwarf.c
  test/integration/test_dwarf_integration.c
Labels: rz-test, RzBin, RzAnalysis, API, RzCore, DWARF
