Repository rizinorg/rizin, pull requests merged in 2024-01, with the labels that each got.

#4057 core/analysis: remove globals
  librz/analysis/analysis.c
  librz/core/canalysis.c
  librz/core/cil.c
  librz/core/core_private.h
  librz/include/rz_analysis.h
  librz/include/rz_core.h
Labels: RzAnalysis, API, ESIL, RzCore, RZIL

#4053 Use internal API instead of command
  librz/core/cmd/cmd_print.c
  librz/core/cprint.c
  librz/include/rz_core.h
  test/db/cmd/cmd_0
  test/db/cmd/cmd_pd
Labels: rz-test, API, RzCore, merge-when-green

#4062 Add a new helper to convert a `long double` to an 80-bit RzIL float
  librz/il/il_opcodes.c
  librz/include/rz_il/definitions/sort.h
  librz/include/rz_il/rz_il_opbuilder_begin.h
  librz/include/rz_il/rz_il_opbuilder_end.h
  librz/include/rz_il/rz_il_opcodes.h
  librz/include/rz_util/rz_float.h
  test/unit/test_il_validate.c
Labels: rz-test, API, merge-when-green, RZIL

#4064 Remove outdated AArch64 RzAsm plugin from binutils
  librz/asm/arch/arm/aarch64/aarch64-dis-2.c
  librz/asm/arch/arm/aarch64/aarch64-dis.c
  librz/asm/arch/arm/aarch64/aarch64-dis.h
  librz/asm/arch/arm/aarch64/aarch64-opc-2.c
  librz/asm/arch/arm/aarch64/aarch64-opc.c
  librz/asm/arch/arm/aarch64/aarch64-opc.h
  librz/asm/arch/arm/aarch64/aarch64-tbl.h
  librz/asm/arch/arm/aarch64/aarch64.h
  librz/asm/arch/arm/aarch64/sysdep.h
  librz/asm/meson.build
Labels: merge-when-green, ARM, RzAsm-Disassembler

#4066 Remove static and global varibles in esil_trace.c
  librz/analysis/esil/esil_trace.c
  librz/include/rz_analysis.h
Labels: RzAnalysis, API, ESIL

#4052 Transition of strings in RzBinPlugin (from list to pvector)
  librz/bin/bfile_string.c
  librz/bin/bin.c
  librz/bin/bobj.c
  librz/bin/bobj_process_string.c
  librz/bin/format/dex/dex.c
  librz/bin/format/dex/dex.h
  librz/bin/format/java/class_bin.c
  librz/bin/format/java/class_bin.h
  librz/bin/format/pyc/marshal.c
  librz/bin/format/pyc/marshal.h
  librz/bin/i/private.h
  librz/bin/p/bin_art.c
  librz/bin/p/bin_avr.c
  librz/bin/p/bin_bf.c
  librz/bin/p/bin_bflt.c
  librz/bin/p/bin_bios.c
  librz/bin/p/bin_bootimg.c
  librz/bin/p/bin_dex.c
  librz/bin/p/bin_dmp64.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_java.c
  librz/bin/p/bin_le.c
  librz/bin/p/bin_luac.c
  librz/bin/p/bin_mach0.c
  librz/bin/p/bin_mach064.c
  librz/bin/p/bin_mdmp.c
  librz/bin/p/bin_pe.inc
  librz/bin/p/bin_pebble.c
  librz/bin/p/bin_psxexe.c
  librz/bin/p/bin_pyc.c
  librz/bin/p/bin_smd.c
  librz/core/basefind.c
  librz/core/cbin.c
  librz/core/cmd/cmd.c
  librz/core/golang.c
  librz/include/rz_bin.h
  librz/include/rz_core.h
  librz/include/rz_vector.h
  librz/main/rz-bin.c
  librz/main/rz-diff.c
  librz/main/rz-find.c
  test/integration/test_bin.c
Labels: rz-bin, rz-test, RzBin, rz-find, rz-diff, API, RzCore, ELF, PE, Mach-O, java, DEX

#4071 Fix #4070
  librz/analysis/arch/arm/arm_esil64.c
  test/db/esil/arm_64
Labels: rz-test, RzAnalysis, merge-when-green

#4069 Add rz_th_queue_new3 to initialize a queue from a pvector
  librz/analysis/similarity.c
  librz/include/rz_th.h
  librz/util/thread_queue.c
Labels: RzAnalysis, API, RzUtil

#4075 Return empty ESIL for new instructions which have immediates where pr…
  librz/analysis/arch/arm/arm_esil64.c
  test/db/esil/arm_64
Labels: rz-test, RzAnalysis

#4081 Refactor the maps in RzBinPlugin from list to pvector
  librz/bin/bin.c
  librz/bin/bobj.c
  librz/bin/bobj_process_map.c
  librz/bin/format/le/le.c
  librz/bin/format/le/le.h
  librz/bin/format/mach0/mach0.c
  librz/bin/format/mach0/mach0.h
  librz/bin/format/mach0/mach0_relocs.c
  librz/bin/format/qnx/qnx.h
  librz/bin/p/bin_bf.c
  librz/bin/p/bin_bflt.c
  librz/bin/p/bin_coff.c
  librz/bin/p/bin_dex.c
  librz/bin/p/bin_dmp64.c
  librz/bin/p/bin_dyldcache.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_mach0.c
  librz/bin/p/bin_mdmp.c
  librz/bin/p/bin_nro.c
  librz/bin/p/bin_nso.c
  librz/bin/p/bin_pe.inc
  librz/bin/p/bin_qnx.c
  librz/bin/p/bin_xnu_kernelcache.c
  librz/bin/relocs_patch.c
  librz/core/cbin.c
  librz/core/cfile.c
  librz/core/golang.c
  librz/include/rz_bin.h
  librz/main/rz-diff.c
  test/unit/test_core_bin.c
Labels: rz-test, RzBin, rz-diff, API, RzCore, ELF, PE, Mach-O, DEX

#4082 Use `get-pip.py` to install pip in NetBSD
  .builds/netbsd.yml
Labels: infrastructure

#4083 netbsd.yml: Use `ensurepip` instead of `get-pip.py`
  .builds/netbsd.yml
Labels: infrastructure

#4046 coloring help output of rizin,rz-diff,rz-asm
  librz/include/rz_util/rz_print.h
  librz/main/rizin.c
  librz/main/rz-asm.c
  librz/main/rz-bin.c
  librz/main/rz-diff.c
  librz/main/rz-find.c
  librz/main/rz-gg.c
  librz/main/rz-hash.c
  librz/main/rz-sign.c
  librz/util/print.c
Labels: rizin, rz-asm, rz-bin, rz-find, rz-diff, API, RzUtil, rz-hash, rz-gg, rz-sign

#4090 small typo in the output of aai command
  librz/core/cmd/cmd_analysis.c
Labels: RzCore

#4079 Show how many pending failure cases are there in `rz-test -i`
  binrz/rz-test/rz-test.c
Labels: rz-test

#4091 Fix unsigned numbers in `i` commands JSON output
  librz/core/cbin.c
  test/db/cmd/cmd_i
Labels: rz-test, RzCore, merge-when-green

#4092 Remove static and global variables in TriCore RzAsm and RzAnalysis plugin
  librz/analysis/p/analysis_tricore_cs.c
  librz/asm/arch/tricore/tricore.h
  librz/asm/arch/tricore/tricore.inc
  librz/asm/asm.c
  librz/asm/p/asm_tricore_cs.c
  librz/core/disasm.c
  test/db/analysis/tricore
Labels: rz-test, RzAnalysis, RzCore

#4093 Add RzIL API `SEXTRACT32` and `NE`
  librz/il/il_routines.c
  librz/il/il_validate.c
  librz/include/rz_il/rz_il_opbuilder_begin.h
  librz/include/rz_il/rz_il_opbuilder_end.h
  librz/include/rz_il/rz_il_opcodes.h
Labels: API, RZIL

#4094 resolve some signed int issues in json output
  librz/core/cmd/cmd_search.c
Labels: RzCore

#4099 Fix windows debug plugin
  librz/debug/p/debug_native.c
  librz/debug/p/native/windows/windows_debug.c
Labels: RzDebug, Windows

#4097 Do not throw warning on empty RzIL
  librz/core/cmd/cmd_analysis.c
Labels: RzCore

#3478 RzIL TriCore Support
  librz/analysis/arch/tricore/tricore_il.c
  librz/analysis/arch/tricore/tricore_il.h
  librz/analysis/meson.build
  librz/analysis/p/analysis_tricore_cs.c
  librz/core/cmd/cmd_analysis.c
  test/db/asm/tricore
  test/db/rzil/tricore
Labels: rz-test, RzAnalysis, RzCore, high-priority, capstone

#4102 Build tricore_il only when cs =next or >v4
  librz/analysis/meson.build
  librz/asm/arch/tricore/tricore.inc
Labels: RzAnalysis

#4096 RzIL v810 support
  librz/analysis/arch/v810/v810.h
  librz/analysis/arch/v810/v810_il.c
  librz/analysis/meson.build
  librz/analysis/p/analysis_v810.c
  librz/bin/format/elf/elf_info.c
  librz/bin/format/elf/glibc_elf.h
  test/db/analysis/v810
  test/db/asm/v810
  test/db/rzil/v810
Labels: rz-test, RzBin, RzAnalysis, merge-when-green, ELF

#4105 rz-test help colored
  binrz/rz-test/rz-test.c
Labels: rz-test

#4037 Enable CFG generation.
  librz/analysis/op.c
  librz/core/cgraph.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/core.c
  librz/include/rz_analysis.h
  librz/include/rz_core.h
  test/db/cmd/cmd_graph
Labels: rz-test, RzAnalysis, API, RzCore, merge-when-green

#4111 Fix #4110
  librz/analysis/p/analysis_arm_cs.c
Labels: RzAnalysis, ARM

#4112 Fix tricore RzIL `ADDSC.A`
  librz/analysis/arch/tricore/tricore_il.c
  test/db/asm/tricore
Labels: rz-test, RzAnalysis

#4100 Removed Static Variable from rzasm
  librz/asm/p/asm_arc.c
  librz/asm/p/asm_bf.c
  librz/asm/p/asm_hexagon.c
  librz/asm/p/asm_m680x_cs.c
  librz/asm/p/asm_m68k_cs.c
  librz/asm/p/asm_mips_gnu.c
  librz/asm/p/asm_ppc_cs.c
  librz/asm/p/asm_sparc_gnu.c
  librz/asm/p/asm_sysz.c
  librz/asm/p/asm_x86_cs.c
Labels: merge-when-green, MIPS, PPC, X86

#2380 v850 support for getting main offset
  librz/bin/format/elf/elf_info.c
  test/db/analysis/v850
Labels: rz-test, RzBin, ELF

#4113 Patch for windows debugger to load libraries
  librz/debug/p/debug_native.c
  librz/debug/p/native/windows/windows_debug.c
Labels: RzDebug, Windows

#4114 Remove globals in RzAsm plugins
  librz/asm/p/asm_arm_cs.c
  librz/asm/p/asm_chip8.c
  librz/asm/p/asm_cr16.c
  librz/asm/p/asm_dalvik.c
  librz/asm/p/asm_ebc.c
  librz/asm/p/asm_h8300.c
  librz/asm/p/asm_m680x_cs.c
  librz/asm/p/asm_m68k_cs.c
  librz/asm/p/asm_mips_cs.c
  librz/asm/p/asm_msp430.c
  librz/asm/p/asm_or1k.c
  librz/asm/p/asm_ppc_cs.c
  librz/asm/p/asm_propeller.c
  librz/asm/p/asm_riscv_cs.c
  librz/asm/p/asm_sparc_cs.c
  librz/asm/p/asm_sysz.c
  librz/asm/p/asm_tms320.c
  librz/asm/p/asm_tms320c64x.c
  librz/asm/p/asm_v810.c
  librz/asm/p/asm_v850.c
  librz/asm/p/asm_x86_cs.c
  librz/asm/p/asm_x86_vm.c
  librz/asm/p/asm_xcore_cs.c
  librz/asm/p/cs_helper.h
  librz/asm/p/cs_mnemonics.c
Labels: ARM, MIPS, PPC, X86

#4116 tricore fixes coverity
  librz/analysis/arch/tricore/tricore_il.c
  test/db/asm/tricore
Labels: rz-test, RzAnalysis

#4106 Add simple POST-command and changed upload path (remote)
  .appveyor.yml
  .builds/freebsd.yml
  .builds/netbsd.yml
  .builds/openbsd.yml
  .github/workflows/ci.yml
  .github/workflows/tcc.yml
  .travis.yml
  librz/core/rtr_http.c
  test/db/cmd/cmd_http_post
  test/fuzz/scripts/fuzz_rz_asm.py
  test/scripts/http_post_cmd_upload.py
Labels: infrastructure, rz-test, RzCore

#4117 Remove static buffer from dwarf code.
  librz/analysis/dwarf_process.c
  librz/include/rz_analysis.h
Labels: RzAnalysis, API, DWARF

#4124 Add RZ_OWN/NULL/NULLABLE and implement rz_asm_op_setf_asm
  librz/asm/aop.c
  librz/include/rz_asm.h
Labels: API

#4122 Fix FreeBSD and NetBSD builds
  .builds/freebsd.yml
  .builds/netbsd.yml
Labels: infrastructure, merge-when-green

#4128 asm: reduce heap allocation use
  librz/asm/p/asm_ebc.c
  librz/asm/p/asm_h8300.c
  librz/asm/p/asm_ppc_cs.c
  librz/asm/p/asm_propeller.c
  librz/asm/p/asm_tricore_cs.c
  librz/asm/p/asm_v810.c
  librz/asm/p/asm_x86_vm.c
  librz/asm/p/asm_xcore_cs.c
Labels: PPC, X86

#4129 Add cache for source line
  librz/bin/dbginfo.c
  librz/bin/dwarf/line.c
  librz/core/cgraph.c
  librz/core/cmd/cmd_debug.c
  librz/core/disasm.c
  librz/include/meson.build
  librz/include/rz_bin.h
  librz/include/rz_bin_source_line.h
  librz/main/rz-bin.c
  test/db/cmd/dwarf
  test/db/tools/rz_bin
  test/integration/test_dwarf.c
Labels: rz-bin, rz-test, RzBin, API, RzCore

#4131 Remove some of the `sdb_fmt()` calls
  librz/asm/asm.c
  librz/core/canalysis.c
  librz/core/cfile.c
  librz/core/cil.c
  librz/core/disasm.c
  librz/core/project.c
  librz/flag/tags.c
Labels: ESIL, RzCore, RzFlag, RZIL

#4133 Remove `sdb_fmt()` calls in RzBin
  librz/bin/bin.c
  librz/bin/format/mach0/mach0.c
  librz/bin/format/mdmp/mdmp.c
  librz/bin/format/mdmp/mdmp_pe.c
  librz/bin/format/objc/mach0_classes.c
  librz/bin/format/pe/pe_imports.c
  librz/bin/format/pe/pe_rsrc.c
  librz/bin/format/pe/pe_tls.c
  librz/bin/p/bin_art.c
  librz/bin/p/bin_avr.c
  librz/bin/p/bin_coff.c
  librz/bin/p/bin_mdmp.c
  librz/bin/p/bin_pe.c
  librz/bin/p/bin_pe.inc
  librz/bin/p/bin_pe64.c
  librz/bin/p/bin_qnx.c
  librz/bin/p/bin_xnu_kernelcache.c
  librz/core/cmd/cmd_info.c
  librz/include/rz_bin.h
  librz/util/table.c
  test/db/cmd/cmd_i
Labels: rz-test, RzBin, API, RzCore, merge-when-green, PE, Mach-O, RzUtil

#4134 Remove some of `sdb_fmt()` calls in RzCore
  librz/core/analysis_tp.c
  librz/core/canalysis.c
  librz/core/cbin.c
  librz/core/cil.c
  librz/core/cmd/cmd_search.c
  librz/core/rtr.c
  librz/core/tui/define.c
  librz/core/tui/panels.c
Labels: ESIL, RzCore, RZIL

#4135 Remove `sdb_fmt()` calls in RzDebug
  librz/debug/debug.c
  librz/debug/dsession.c
  librz/debug/p/debug_io.c
  librz/debug/p/debug_native.c
  librz/debug/p/debug_windbg.c
  librz/debug/p/native/linux/linux_coredump.c
  librz/debug/trace.c
Labels: RzDebug, WinDbg

#4130 sdb_fmt() to setf_asm() in /arch/pic|/riscv|/z80
  librz/asm/arch/pic/pic_baseline.c
  librz/asm/arch/pic/pic_baseline.h
  librz/asm/arch/pic/pic_midrange.c
  librz/asm/arch/pic/pic_midrange.h
  librz/asm/arch/pic/pic_pic18.c
  librz/asm/arch/pic/pic_pic18.h
  librz/asm/arch/riscv/riscv.c
  librz/asm/arch/z80/z80.c
  librz/asm/p/asm_pic.c
Labels: merge-when-green, high-priority, refactor

#4138 Use git depth 1 for Meson subprojects
  .github/workflows/ci.yml
  subprojects/blake3.wrap
  subprojects/capstone-next.wrap
  subprojects/capstone-v4.wrap
  subprojects/capstone-v5.wrap
  subprojects/libdemangle.wrap
  subprojects/libmspack.wrap
  subprojects/sigdb.wrap
  subprojects/tree-sitter-c.wrap
Labels: infrastructure, merge-when-green

#4139 Removd sdb_fmt() calls from RzAsm
  librz/asm/arch/snes/snesdis.c
Labels: merge-when-green, RzAsm-Disassembler

#4146 small typo in rz-bin help
  librz/main/rz-bin.c
Labels: rz-bin

#4142 [RzIL] Print PC bitvector in hex
  librz/il/theory_effect.c
Labels: RZIL

#4148 Fix DWARF parsing
  librz/bin/dwarf/attr.c
  librz/bin/dwarf/unit.c
  librz/include/rz_bin_dwarf.h
Labels: RzBin, API, merge-when-green

#4151 v850: Add RzAsm and RzAnalysis support for rh850
  librz/analysis/arch/v850/v850_esil.inc
  librz/analysis/p/analysis_v850.c
  librz/asm/arch/v850/v850_disas.c
  librz/asm/arch/v850/v850_disas.h
  librz/asm/p/asm_v850.c
  test/db/analysis/v850
  test/db/asm/v850
  test/db/formats/elf/v850
Labels: rz-test, RzAnalysis, RzAsm-Disassembler

#4152 DWARF: fix loclists dump
  librz/bin/dwarf/unit.c
  librz/core/canalysis.c
  librz/core/cdwarf.c
  librz/include/rz_bin_dwarf.h
Labels: RzBin, API, RzCore, DWARF

#4155 PowerPC DWARF Register Mapping (from PPC ELF ABI v1)
  librz/analysis/dwarf_process.c
Labels: RzAnalysis, DWARF

#4031 [Hexagon] Add support for Hexagon imports.
  librz/bin/format/elf/elf_imports.c
  test/db/formats/elf/dynimports
Labels: rz-test, RzBin, ELF

#4162 Fix wrong help message in visual mode
  librz/core/cmd/cmd_math.c
  librz/core/tui/panels.c
  librz/core/tui/visual.c
Labels: RzCore

#4159 Disable ARM hacks for Capstone 6
  librz/asm/p/asm_arm_cs.c
  test/db/analysis/arm64
  test/db/asm/arm_64
Labels: rz-test, merge-when-green, ARM

#4140 Remove some more of `sdb_fmt()` calls
  librz/core/cagraph.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_magic.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd/cmd_search.c
  librz/core/csyscall.c
  librz/io/p/io_winedbg.c
  librz/syscall/syscall.c
  subprojects/rzgdb/src/gdbclient/core.c
Labels: RzIO, RzCore, RzSyscall, merge-when-green, GDB

#4169 Name variables more descriptive.
  librz/include/rz_util/rz_str.h
  librz/util/str.c
Labels: API, RzUtil

#1699 Add support for more AArch64 ELF relocs
  librz/bin/format/elf/elf_relocs.c
  librz/bin/p/bin_elf.inc
  librz/include/rz_types.h
  test/db/formats/elf/elf-relarm
Labels: help wanted, rz-test, RzBin, API, test-required, merge-when-green, high-priority, ELF, blocker

#4145 Update tools help and man pages
  .github/labeler.yml
  binrz/man/rizin.1
  binrz/man/rz-asm.1
  binrz/man/rz-ax.1
  binrz/man/rz-bin.1
  binrz/man/rz-diff.1
  binrz/man/rz-esil.7
  binrz/man/rz-find.1
  binrz/man/rz-gg.1
  binrz/man/rz-hash.1
  binrz/man/rz-run.1
  binrz/man/rz-sign.1
  binrz/man/rz-test.1
  binrz/rz-test/rz-test.c
  librz/main/rizin.c
  librz/main/rz-asm.c
  librz/main/rz-ax.c
  librz/main/rz-bin.c
  librz/main/rz-diff.c
  librz/main/rz-find.c
  librz/main/rz-gg.c
  librz/main/rz-hash.c
  librz/main/rz-run.c
  librz/main/rz-sign.c
Labels: rizin, rz-asm, rz-bin, rz-test, rz-find, rz-ax, rz-diff, merge-when-green, high-priority, rz-hash, rz-run, rz-gg, blocker, rz-sign
