Repository rizinorg/rizin, pull requests merged in 2024-09, with the labels that each got.

#4603 librz: link to tree-sitter directly
  librz/type/meson.build
Labels: RzType

#4610 cmd: `t` - add long mode, show size and kind
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_type.yaml
  librz/core/ctypes.c
  test/db/cmd/types
Labels: rz-test, RzCore, merge-when-green

#4609 cmd: rename `avg` into `avgl`, add table mode
  librz/core/canalysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  test/db/cmd/cmd_avg
  test/db/cmd/dwarf
  test/db/cmd/types
  test/db/formats/pdb
  test/integration/test_autocmplt.c
Labels: rz-test, RzCore, merge-when-green

#4604 Refactor native debugger
  librz/debug/p/debug_native.c
  librz/debug/p/native/android_arm.c
  librz/debug/p/native/android_arm64.c
  librz/debug/p/native/android_x86_64.c
  librz/debug/p/native/apple_aarch64.c
  librz/debug/p/native/apple_x86_64.c
  librz/debug/p/native/dragonfly.c
  librz/debug/p/native/kfbsd.c
  librz/debug/p/native/linux_arm.c
  librz/debug/p/native/linux_arm64.c
  librz/debug/p/native/linux_x86_64.c
  librz/debug/p/native/netbsd.c
  librz/debug/p/native/openbsd.c
  librz/debug/p/native/windows.c
Labels: RzDebug

#4612 analysis: add function equality API
  librz/arch/similarity.c
  librz/include/rz_analysis.h
Labels: RzAnalysis, API

#4617 core/cmd: add QUIET mode for global vars listing
  librz/core/canalysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
Labels: RzCore

#4616 types: add missing atomic integer types
  librz/arch/types/types-16.sdb.txt
  librz/arch/types/types-32.sdb.txt
  librz/arch/types/types-64.sdb.txt
  librz/arch/types/types-atomic.sdb.txt
  test/db/analysis/x86_64
  test/db/archos/linux-x64/debuginfod
  test/db/cmd/cmd_open
  test/db/cmd/dwarf
  test/db/cmd/types
  test/db/formats/mdmp
Labels: rz-test, RzAnalysis, merge-when-green

#4626 Rename tree-sitter-c fork to avoid confusion
  librz/type/meson.build
  librz/type/parser/c_cpp_parser.c
  meson.build
  subprojects/packagefiles/rizin-grammar-c/meson.build
  subprojects/rizin-grammar-c.wrap
  subprojects/tree-sitter-c.wrap
Labels: merge-when-green, RzType

#4629 Fix CVE-2022-1207: out of bound read in GNU cris analysis plugin
  librz/arch/p_gnu/analysis/analysis_cris_gnu.c
Labels: RzAnalysis

#4628 Remove instance of `rz_core_cmd_strf` from `tui/rop.c`
  librz/core/cmd/cmd_print.c
  librz/core/cmd/cmd_search.c
  librz/core/cmd/cmd_search_rop.c
  librz/core/rop.c
  librz/core/tui/rop.c
  librz/core/tui/vmenus_graph.c
  librz/include/rz_core.h
  librz/include/rz_rop.h
Labels: API, RzCore, visual, panel

#4635 Load sourceline information for global variables
  librz/arch/dwarf_process.c
  librz/arch/var_global.c
  librz/bin/dwarf/line.c
  librz/bin/dwarf/unit.c
  librz/core/canalysis.c
  librz/include/rz_analysis.h
  librz/include/rz_bin_dwarf.h
  test/db/analysis/vars
  test/integration/test_analysis_global_var.c
  test/integration/test_dwarf.c
Labels: rz-test, RzBin, RzAnalysis, API, RzCore, merge-when-green, DWARF

#4632 Added linkerversion to rz-bin -I
  librz/bin/bobj_process.c
  librz/bin/format/pe/pe.h
  librz/bin/format/pe/pe_info.c
  librz/bin/p/bin_pe.inc
  test/db/analysis/golang
  test/db/cmd/cmd_pipe
  test/db/formats/pe/arm
Labels: rz-test, RzBin, PE

#4636 Change permissions of some tests to 0644 from 0755
  test/db/analysis/thumb
  test/db/asm/arm_16
Labels: rz-test

#4637 Workaround on UAF in dwarf-process.c
  librz/arch/dwarf_process.c
Labels: RzAnalysis, DWARF

#4638 Add libm as dependency.
  librz/arch/meson.build
Labels: RzAnalysis

#4625 `RzTable` API Refactoring
  librz/include/rz_util/rz_table.h
  librz/util/table.c
Labels: API, RzUtil

#4640 Print asm test exit status for failing asm tests
  binrz/rz-test/run.c
  binrz/rz-test/rz-test.c
  binrz/rz-test/rz_test.h
Labels: rz-test

#4642 Fix permission of xorencoder.asm
  binrz/rz-gg/xorencoder.asm
Labels: rz-gg

#4644 analysis.noncode does not exist.
  test/db/analysis/x86_64
Labels: rz-test

#4645 subprocess: Provide signal number on signal termination
  librz/util/subprocess.c
Labels: RzUtil

#4643 Refactor te.c
  librz/bin/format/te/te.c
Labels: RzBin

#4646 Print stderr for failing asm tests
  binrz/rz-test/run.c
  binrz/rz-test/rz-test.c
  binrz/rz-test/rz_test.h
Labels: rz-test

#4639 Implement iterator for hash tables and sets
  DEVELOPERS.md
  librz/include/rz_util/ht_inc.h
  librz/include/rz_util/rz_set.h
  librz/util/ht/ht_inc.c
  librz/util/set.c
  test/unit/meson.build
  test/unit/test_ht.c
Labels: rz-test, API, RzUtil

#4649 analysis/function: improve API
  librz/arch/fcn.c
  librz/include/rz_analysis.h
Labels: RzAnalysis, API

#4650 Spin Linux `dk 9` tests
  test/db/archos/linux-x64/dbg
Labels: rz-test

#4653 Declare `dk 9` test broken
  test/db/archos/linux-x64/dbg
Labels: rz-test

#4651 Check for jumps to preludes by default.
  librz/arch/analysis.c
  librz/arch/fcn.c
  librz/arch/isa/hexagon/hexagon_arch.c
  librz/arch/isa/hexagon/hexagon_arch.h
  librz/arch/isa/hexagon/hexagon_disas.c
  librz/arch/op.c
  librz/core/canalysis.c
  librz/core/cconfig.c
  librz/core/disasm.c
  librz/include/rz_analysis.h
  test/db/analysis/arm64
  test/db/analysis/golang
  test/db/analysis/hexagon
  test/db/analysis/vars
  test/db/analysis/x86_32
  test/db/analysis/x86_64
  test/db/cmd/cmd_pde
  test/db/cmd/cmd_signature
  test/db/io/baddr
Labels: rz-test, RzAnalysis, API, RzCore, RzAsm-Disassembler, Hexagon
