Repository rizinorg/rizin, pull requests merged in 2025-09, with the labels that each got.

#5313 Add: Mark API
  librz/core/cmark.c
  librz/core/cmd/cmd_mark.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
  librz/core/cmd_descs/cmd_mark.yaml
  librz/core/cmd_descs/meson.build
  librz/core/core.c
  librz/core/core_private.h
  librz/core/meson.build
  librz/core/project_migrate.c
  librz/core/serialize_core.c
  librz/core/tui/vmarks.c
  librz/include/meson.build
  librz/include/rz_core.h
  librz/include/rz_mark.h
  librz/include/rz_project.h
  librz/mark/mark.c
  librz/mark/meson.build
  librz/mark/serialize_mark.c
  librz/meson.build
  meson.build
  test/db/cmd/cmd_mark
  test/db/cmd/project
  test/unit/meson.build
  test/unit/test_marks.c
  test/unit/test_serialize_mark.c
Labels: rz-test, API, RzCore, visual, panel

#5249 Remove static variables from `io_windbg.c`
  librz/include/rz_io.h
  librz/io/p/io_windbg.c
Labels: RzIO, API, WinDbg

#5341 Add `I=RzIL` to `rz-asm -L` help
  binrz/man/rz-asm.1
  librz/main/rz-asm.c
Labels: documentation, rz-asm

#5343 Add missing quote marks to `rizin -h`
  librz/main/rizin.c
Labels: rizin

#5342 Separate the setters for binfile objects and current binfile in RzBin.
  librz/bin/bfile.c
  librz/bin/bin.c
  librz/bin/bobj.c
  librz/bin/i/private.h
  librz/core/cbin.c
  librz/core/cfile.c
  librz/core/cmd/cmd_debug.c
  librz/core/linux_heap_glibc.c
  librz/core/linux_heap_jemalloc.c
  librz/core/windows_heap.c
  librz/debug/p/native/windows.c
  librz/include/rz_bin.h
Labels: RzBin, RzDebug, API, RzCore, Windows

#5338 Sparc/MC680x0 Mach-O issues
  librz/arch/p/analysis/analysis_m68k_cs.c
  librz/bin/bfile.c
  librz/bin/bin.c
  librz/bin/bobj.c
  librz/bin/format/mach0/mach0.c
  librz/bin/format/mach0/mach0.h
  librz/bin/format/mach0/mach0_common.c
  librz/bin/format/mach0/mach0_specs.h
  librz/bin/i/private.h
  librz/bin/p/bin_mach0.inc
  librz/bin/p/bin_xtr_fatmach0.c
  librz/core/cbin.c
  librz/core/cmd/cmd_open.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_open.yaml
  librz/include/rz_bin.h
  librz/include/rz_core.h
  librz/main/rz-bin.c
  test/db/analysis/m68k
  test/db/cmd/cmd_i
  test/db/cmd/cmd_open
  test/db/formats/mach0/fatmach0
  test/db/formats/mach0/imports
  test/db/formats/mach0/leb128
  test/db/tools/rz_bin
Labels: rz-bin, rz-test, RzBin, RzAnalysis, API, RzCore, merge-when-green, Mach-O

#5353 Back up and reset flag space on RzBinObject switching.
  librz/core/cmd/cmd_open.c
  librz/flag/flag.c
  librz/include/rz_flag.h
  test/db/cmd/cmd_open
  test/db/formats/mach0/imports
Labels: rz-test, API, RzCore, RzFlag

#5368 workflows/labeler.yml: Checkout Rizin before labeling
  .github/workflows/labeler.yml
Labels: infrastructure

#5374 Bump actions/labeler from 4 to 6
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: infrastructure

#5358 String search integration tests
  .github/workflows/ci.yml
  codecov.yml
  librz/core/csearch.c
  librz/include/rz_search.h
  librz/include/rz_util/rz_buf.h
  librz/include/rz_util/rz_str.h
  librz/search/options.c
  librz/search/search.c
  librz/search/string_search.c
  librz/util/buf.c
  librz/util/str.c
  test/db/cmd/cmd_search_z
  test/integration/meson.build
  test/integration/test_str_search.c
Labels: infrastructure, rz-test, API, RzCore, RzUtil, RzSearch

#5377 Name properly gcovr install step in Codecov build
  .github/workflows/ci.yml
Labels: infrastructure

#5371 Address Coverity issues.
  librz/core/csearch.c
  librz/include/rz_util/rz_str.h
  librz/search/search.c
  librz/search/string_search.c
  librz/util/str_search.c
Labels: API, RzCore, RzUtil, RzSearch

#5385 Install Inno Setup in Windows installer builds
  .github/workflows/ci.yml
Labels: infrastructure

#5372 Add several memory helpers (required for speed up of string search).
  librz/include/rz_endian.h
  librz/include/rz_types_base.h
  librz/include/rz_userconf.h.in
  librz/include/rz_util/rz_bits.h
  librz/include/rz_util/rz_mem.h
  librz/util/mem.c
  meson.build
  test/unit/test_bits.c
  test/unit/test_endian.c
  test/unit/test_mem.c
Labels: rz-test, API, merge-when-green, RzUtil

#5387 Pin meson to 1.8.3 in Windows installer builds
  .github/workflows/ci.yml
Labels: infrastructure

#5378 Enable string search collection to search for multiple encodings.
  librz/bin/bfile_string.c
  librz/core/canalysis.c
  librz/core/cmeta.c
  librz/core/csearch.c
  librz/include/rz_search.h
  librz/include/rz_util/rz_str_search.h
  librz/search/string_search.c
  librz/util/str.c
  librz/util/str_search.c
  test/integration/test_str_search.c
  test/unit/test_str_search.c
Labels: rz-test, RzBin, API, RzCore, RzUtil, RzSearch

#5393 Fix and extend string search integration tests
  librz/include/rz_search.h
  librz/include/rz_util/rz_str_search.h
  librz/search/string_search.c
  librz/util/str_search.c
  test/db/cmd/cmd_search_z
  test/integration/test_str_search.c
Labels: rz-test, API, merge-when-green, RzUtil, RzSearch

#5401 Touch up `rz-ax -h`
  binrz/man/rz-ax.1
  librz/main/rz-ax.c
Labels: documentation, rz-ax

#5398 core: remove `pg` and visual ROP
  librz/core/agraph.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
  librz/core/core.c
  librz/core/core_private.h
  librz/core/meson.build
  librz/core/tui/panels.c
  librz/core/tui/rop.c
  librz/core/tui/visual.c
  librz/include/rz_core.h
  test/db/cmd/cmd_pg
  test/db/cmd/cmd_visual
Labels: rz-test, API, RzCore, visual, panel, refactor

#5384 Add s390x cross build example.
  BUILDING.md
  doc/examples/cross_builds/meson-linux-s390x.ini
Labels: documentation

#5402 Test `<program> -h`
  test/db/tools/rz
Labels: rz-test

#5407 Unpin meson in Windows installer builds
  .github/workflows/ci.yml
Labels: infrastructure

#5421 `-h`: Refactor out colored help printing code
  binrz/rz-test/rz-test.c
  librz/include/rz_util/rz_print.h
  librz/main/rizin.c
  librz/main/rz-asm.c
  librz/main/rz-ax.c
  librz/main/rz-bin.c
  librz/main/rz-diff.c
  librz/main/rz-find.c
  librz/main/rz-gg.c
  librz/main/rz-hash.c
  librz/main/rz-run.c
  librz/main/rz-sign.c
  librz/util/print.c
Labels: rizin, rz-asm, rz-bin, rz-test, rz-find, rz-ax, rz-diff, API, RzUtil, rz-hash, rz-run, rz-gg, rz-sign
