Repository rizinorg/rizin, pull requests merged in 2025-03, with the labels that each got.

#3667 Update libzip from 1.9.2 to 1.11.3
  librz/io/p/io_zip.c
  meson.build
  subprojects/libzip.wrap
  subprojects/packagefiles/libzip-1.11.3/cmake-config.h.in
  subprojects/packagefiles/libzip-1.11.3/cmake-zipconf.h.in
  subprojects/packagefiles/libzip-1.11.3/create_zip_err_str.py
  subprojects/packagefiles/libzip-1.11.3/meson.build
  subprojects/packagefiles/libzip-1.11.3/meson_options.txt
  subprojects/packagefiles/libzip-1.9.2/lib/zip_source_file_win32.h
  subprojects/packagefiles/libzip-1.9.2/lib/zip_source_file_win32_ansi.c
  subprojects/packagefiles/libzip-1.9.2/lib/zip_source_file_win32_utf16.c
Labels: RzIO

#4946 Refactoring wasm and allow string to be longer than 256 bytes.
  librz/bin/format/wasm/wasm.c
  librz/bin/format/wasm/wasm.h
  test/db/formats/web_assembly
Labels: rz-test, RzBin

#4951 Add WASM instructions i8x16.bitmask and i32x4.abs
  librz/arch/isa/wasm/wasm.c
  librz/arch/isa/wasm/wasm.h
  test/db/asm/wasm
Labels: rz-test, RzAnalysis, WASM

#4952 Handling minimum value of st64 in rz_num_abs
  librz/include/rz_util/rz_num.h
  test/unit/test_unum.c
Labels: rz-test, API

#4959 librz/magic: fix CVE-2015-8865
  librz/magic/funcs.c
Labels: merge-when-green

#4954 Search for cryptographic material
  librz/core/cmd/cmd_search.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_search.yaml
  librz/core/csearch.c
  librz/include/rz_core.h
  librz/include/rz_search.h
  librz/include/rz_util/rz_asn1.h
  librz/search/cryptographic_search.c
  librz/search/cryptographic_search_aes.c
  librz/search/cryptographic_search_pki.c
  librz/search/cryptographic_search_x509.c
  librz/search/meson.build
  librz/search/privkey-find.c
  librz/search/search.c
  librz/search/search_internal.h
  librz/util/asn1.c
  librz/util/asn1_oids.h
  test/db/cmd/cmd_search
  test/db/cmd/cmd_search_crypto
  test/db/cmd/cmd_search_hit
Labels: rz-test, API, RzCore, RzUtil, RzSearch

#4962 Add descriptions to /cm types
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_search.yaml
Labels: RzCore

#4963 librz/search: support for SM4 expanded key in memory
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_search.yaml
  librz/crypto/p/crypto_sm4.h
  librz/crypto/p/crypto_sm4_ecb.c
  librz/include/meson.build
  librz/include/rz_crypto/rz_aes.h
  librz/include/rz_crypto/rz_sm4.h
  librz/include/rz_search.h
  librz/search/cryptographic_search.c
  librz/search/cryptographic_search_aes.c
  librz/search/cryptographic_search_sm4.c
  librz/search/meson.build
  test/db/cmd/cmd_search_crypto
Labels: rz-test, API, RzCore, RzCrypto, merge-when-green, RzSearch

#4957 Port `R` commands to RzShell
  librz/core/cfile.c
  librz/core/cmd/cmd.c
  librz/core/cmd/cmd_remote.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_remote.yaml
  librz/core/rtr.c
  librz/core/rtr_http.c
  librz/include/rz_core.h
Labels: API, RzCore

#4966 Safecurves to SafeCurves
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_search.yaml
Labels: RzCore

#4969 Port x (alias of px) to RzShell.
  librz/core/cmd/cmd.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
  test/db/cmd/dwarf
Labels: rz-test, RzCore

#4950 search.show_progress: Show search intervals
  librz/core/cconfig.c
  librz/core/cmd/cmd_search.c
  librz/core/csearch.c
  librz/include/rz_search.h
  librz/search/bytes_search.c
  librz/search/cryptographic_search.c
  librz/search/options.c
  librz/search/search.c
  librz/search/search_internal.h
  librz/search/string_search.c
  test/db/cmd/regexp
Labels: rz-test, API, RzCore, RzSearch

#4968 Fix undefined behavior if size is negative.
  librz/type/format.c
Labels: RzType

#4973 search: Add `rz_search_opt_get_show_progress()`
  librz/core/cmd/cmd_search.c
  librz/include/rz_search.h
  librz/search/options.c
  librz/search/search_internal.h
Labels: API, RzCore, RzSearch

#4974 rz_cons_clear_line: Change param type to `FILE *`
  librz/cons/cons.c
  librz/cons/dietline.c
  librz/core/agraph.c
  librz/core/canalysis.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_magic.c
  librz/core/cmd/cmd_search.c
  librz/include/rz_cons.h
  librz/main/rz-diff.c
Labels: rz-diff, API, RzCore, dietline, RzCons

#4978 Port /o and /O to RzShell.
  librz/core/cmd/cmd_search.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_search.yaml
Labels: RzCore

#4977 Implement a bounded interval.
  librz/include/rz_util/rz_itv.h
  librz/util/itv.c
  librz/util/meson.build
  test/unit/test_itv.c
Labels: rz-test, API, RzUtil

#4981 search: Fix `rz_search_opt_set_elemet_size` typo
  librz/core/csearch.c
  librz/include/rz_search.h
  librz/search/options.c
Labels: API, RzCore, RzSearch

#4986 Fix tests on non-x86 platforms.
  test/db/cmd/cmd_search_v
Labels: rz-test, merge-when-green

#4976 Python 3.11
  librz/arch/isa/pyc/opcode.c
  librz/arch/isa/pyc/opcode.h
  librz/arch/isa/pyc/opcode_10.c
  librz/arch/isa/pyc/opcode_11.c
  librz/arch/isa/pyc/opcode_12.c
  librz/arch/isa/pyc/opcode_13.c
  librz/arch/isa/pyc/opcode_14.c
  librz/arch/isa/pyc/opcode_15.c
  librz/arch/isa/pyc/opcode_16.c
  librz/arch/isa/pyc/opcode_20.c
  librz/arch/isa/pyc/opcode_21.c
  librz/arch/isa/pyc/opcode_22.c
  librz/arch/isa/pyc/opcode_23.c
  librz/arch/isa/pyc/opcode_24.c
  librz/arch/isa/pyc/opcode_25.c
  librz/arch/isa/pyc/opcode_26.c
  librz/arch/isa/pyc/opcode_27.c
  librz/arch/isa/pyc/opcode_2x.c
  librz/arch/isa/pyc/opcode_30.c
  librz/arch/isa/pyc/opcode_31.c
  librz/arch/isa/pyc/opcode_310.c
  librz/arch/isa/pyc/opcode_311.c
  librz/arch/isa/pyc/opcode_32.c
  librz/arch/isa/pyc/opcode_33.c
  librz/arch/isa/pyc/opcode_34.c
  librz/arch/isa/pyc/opcode_35.c
  librz/arch/isa/pyc/opcode_36.c
  librz/arch/isa/pyc/opcode_37.c
  librz/arch/isa/pyc/opcode_38.c
  librz/arch/isa/pyc/opcode_39.c
  librz/arch/isa/pyc/opcode_3x.c
  librz/arch/isa/pyc/opcode_analysis.c
  librz/arch/isa/pyc/pyc_dis.c
  librz/arch/meson.build
  librz/bin/format/pyc/marshal.c
  librz/bin/format/pyc/marshal.h
  librz/bin/format/pyc/pyc_magic.c
  test/db/formats/pyc
Labels: rz-test, RzBin, RzAnalysis, RzAsm-Disassembler, PYC

#4991 Extend some rz_file function docs
  librz/include/rz_util/rz_file.h
  librz/util/file.c
Labels: API, RzUtil

#4990 Make OpenBSD magic lib somewhat thread safe.
  librz/include/rz_magic.h
  librz/magic/apprentice.c
  librz/magic/file.h
  librz/magic/funcs.c
  librz/magic/magic.c
  librz/magic/mdump.c
  librz/magic/softmagic.c
Labels: API, RzMagic

#4997 Fix unaligned ut16 reads in PIC highend ESIL
  librz/arch/isa/pic/pic_highend_esil.inc
Labels: RzAnalysis, PIC

#4989 ci: Upgrade to Ubuntu 24.04 (Noble)
  .github/workflows/ci.yml
  .github/workflows/code-analysis.yml
  .github/workflows/coverity-scan.yml
  .github/workflows/labeler.yml
  .github/workflows/linter.yml
  .github/workflows/muon.yml
  .github/workflows/rzshell-treesitter-tests.yml
  .github/workflows/tcc.yml
  librz/arch/isa_gnu/arc/arc-dis.c
  librz/arch/isa_gnu/arc/arcompact-dis.c
  librz/core/cmd/cmd_print.c
  test/db/archos/linux-x64/dbg_dmh
  test/db/archos/linux-x64/dbg_dmi
  test/db/archos/linux-x64/dbg_maps
Labels: infrastructure, rz-test, RzAnalysis, RzCore, RzAsm-Disassembler, ARC

#5000 Fix for stacking mixed output redirects.
  librz/core/cmd/cmd.c
  test/db/cmd/feat_redirect
Labels: rz-test, RzCore

#5001 librz/core+bin: Remove obr (bin rebase command)
  librz/bin/bobj_process.c
  librz/bin/i/private.h
  librz/core/cfile.c
  librz/core/cmd/cmd_open.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_open.yaml
  librz/include/rz_bin.h
  librz/include/rz_core.h
Labels: RzBin, API, RzCore

#4999 Lazy port of /g to RzShell.
  librz/core/cmd/cmd_search.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_search.yaml
  test/db/cmd/cmd_search_g
Labels: rz-test, RzCore

#5002 Move initialization of all crypto search methods to the add() function.
  librz/core/cmd/cmd_search.c
  librz/core/csearch.c
  librz/include/rz_search.h
  librz/search/cryptographic_search.c
Labels: API, RzCore, RzSearch

#5005 Fix #4098.
  librz/core/casm.c
  test/db/cmd/cmd_search_a
Labels: rz-test, RzCore

#5004 Remove old shell
  doc/rzshell.md
  librz/core/cmd/cmd.c
  librz/core/cmd/cmd_api.c
  librz/core/cmd/cmd_math.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd/rz-shell-parser-cmds.inc
  librz/core/cmd_descs/cmd_descs.yaml
  librz/core/cmd_descs/cmd_descs_generate.py
  librz/core/cmd_descs/cmd_descs_util.py
  librz/core/cmd_descs/rzshell_which.py
  librz/core/hack.c
  librz/include/rz_cmd.h
  librz/include/rz_core.h
  subprojects/rizin-shell-parser/corpus/quoted_args.txt
  subprojects/rizin-shell-parser/grammar.js
  subprojects/rizin-shell-parser/src/grammar.json
  subprojects/rizin-shell-parser/src/node-types.json
  subprojects/rizin-shell-parser/src/parser.c
  test/unit/test_cmd.c
Labels: documentation, rz-test, API, RzCore

#5006 ci: Use `--print-errorlogs` with `meson test`
  .github/workflows/ci.yml
Labels: infrastructure

#5008 Prevent installation of `libzstd.pc`
  subprojects/packagefiles/zstd-1.5.7/lib/meson.build
  subprojects/packagefiles/zstd-1.5.7/meson.build
Labels: merge-when-green

#5010 asan ci: Show ODR violations
  .github/workflows/ci.yml
  subprojects/rzwinkd/profiles.h
Labels: infrastructure, WinDbg

#5012 librz/asm: improve plugin descriptions
  librz/arch/p/analysis/analysis_alpha_cs.c
  librz/arch/p/asm/asm_8051.c
  librz/arch/p/asm/asm_alpha_cs.c
  librz/arch/p/asm/asm_amd29k.c
  librz/arch/p/asm/asm_arm_cs.c
  librz/arch/p/asm/asm_avr.c
  librz/arch/p/asm/asm_cil.c
  librz/arch/p/asm/asm_cr16.c
  librz/arch/p/asm/asm_dalvik.c
  librz/arch/p/asm/asm_dcpu16.c
  librz/arch/p/asm/asm_ebc.c
  librz/arch/p/asm/asm_h8300.c
  librz/arch/p/asm/asm_i4004.c
  librz/arch/p/asm/asm_i8080.c
  librz/arch/p/asm/asm_lm32.c
  librz/arch/p/asm/asm_loongarch_cs.c
  librz/arch/p/asm/asm_luac.c
  librz/arch/p/asm/asm_m680x_cs.c
  librz/arch/p/asm/asm_m68k_cs.c
  librz/arch/p/asm/asm_malbolge.c
  librz/arch/p/asm/asm_mcs96.c
  librz/arch/p/asm/asm_mips_cs.c
  librz/arch/p/asm/asm_msp430.c
  librz/arch/p/asm/asm_null.c
  librz/arch/p/asm/asm_or1k.c
  librz/arch/p/asm/asm_pic.c
  librz/arch/p/asm/asm_ppc_cs.c
  librz/arch/p/asm/asm_propeller.c
  librz/arch/p/asm/asm_pyc.c
  librz/arch/p/asm/asm_riscv_cs.c
  librz/arch/p/asm/asm_rsp.c
  librz/arch/p/asm/asm_sh.c
  librz/arch/p/asm/asm_snes.c
  librz/arch/p/asm/asm_sparc_cs.c
  librz/arch/p/asm/asm_spc700.c
  librz/arch/p/asm/asm_sysz.c
  librz/arch/p/asm/asm_tms320.c
  librz/arch/p/asm/asm_tricore_cs.c
  librz/arch/p/asm/asm_v810.c
  librz/arch/p/asm/asm_v850.c
  librz/arch/p/asm/asm_wasm.c
  librz/arch/p/asm/asm_x86_cs.c
  librz/arch/p/asm/asm_xap.c
  librz/arch/p/asm/asm_xcore_cs.c
  librz/arch/p/asm/asm_xtensa_cs.c
  librz/arch/p_gnu/asm/asm_cris_gnu.c
  librz/arch/p_gnu/asm/asm_lanai_gnu.c
  librz/arch/p_gnu/asm/asm_riscv_gnu.c
  librz/arch/p_gnu/asm/asm_sparc_gnu.c
  librz/arch/p_gnu/asm/asm_vax_gnu.c
  librz/arch/p_gnu/asm/asm_z80_gnu.c
  test/db/cmd/cmd_aL
  test/db/cmd/cmd_list
  test/db/tools/rz_asm
Labels: RzAnalysis, merge-when-green, ARM, MIPS, PPC, X86

#5015 Fix leaks of token patterns.
  librz/arch/asm.c
  librz/arch/isa/hexagon/hexagon_arch.c
Labels: RzAnalysis, Hexagon

#5016 Reduce repetition in "dmh allocated" test with macro
  test/db/archos/linux-x64/dbg_dmh
Labels: rz-test

#5003 Python 3.12 and 3.13 support
  librz/arch/isa/pyc/opcode.c
  librz/arch/isa/pyc/opcode.h
  librz/arch/isa/pyc/opcode_310.c
  librz/arch/isa/pyc/opcode_311.c
  librz/arch/isa/pyc/opcode_312.c
  librz/arch/isa/pyc/opcode_313.c
  librz/arch/isa/pyc/opcode_39.c
  librz/arch/isa/pyc/opcode_analysis.c
  librz/arch/meson.build
  librz/bin/format/pyc/marshal.c
  librz/bin/format/pyc/pyc_magic.c
  test/db/formats/pyc
Labels: rz-test, RzBin, RzAnalysis, PYC

#5017 Reduce repetition in "dbg.maps.count.after.map" test with alias
  test/db/archos/linux-x64/dbg_maps
Labels: rz-test

#5021 Invoke `dm` only once in "dbg.maps.count.after.map" test
  test/db/archos/linux-x64/dbg_maps
Labels: rz-test

#5022 Reduce false postives for xrefs based on register+offset.
  librz/core/canalysis.c
  test/db/analysis/x86_64
  test/db/cmd/cmd_afl
  test/integration/test_analysis_graph.c
Labels: rz-test, RzCore, merge-when-green

#5024 Document paddr members and highlight they are not related to MMU physical address space.
  librz/include/rz_bin.h
Labels: API

#4920 Add RzIL for MIPS32/64 Revision 6.01
  librz/arch/isa/mips/il/atomic.c
  librz/arch/isa/mips/il/common.c
  librz/arch/isa/mips/il/fp.c
  librz/arch/isa/mips/mips_il.c
  librz/arch/p/analysis/analysis_mips_cs.c
  test/db/asm/mips_mips2_32
  test/db/asm/mips_mips32r6_32
  test/db/asm/mips_mips64r2_64
  test/db/asm/mips_mips64r6_64
  test/db/rzil/mips
Labels: rz-test, RzAnalysis, MIPS, RZIL

#5025 Remove Cd format calls with side effects, and handle section layout with the API.
  librz/bin/bin.c
  librz/bin/format/luac/luac_bin.c
  librz/bin/format/mach0/mach0.c
  librz/bin/p/bin_dyldcache.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_xnu_kernelcache.c
  librz/core/cbin.c
  librz/core/cfile.c
  librz/include/rz_analysis.h
  librz/include/rz_bin.h
Labels: RzBin, API, RzCore, ELF, Mach-O

#5020 Add hexagon relocs for ir.
  librz/bin/p/bin_elf.inc
  test/db/analysis/hexagon
Labels: rz-test, RzBin, merge-when-green, ELF

#5030 Add emulateme test for mips32r6
  test/db/rzil/mips
Labels: rz-test, merge-when-green

#5027 Removes limit of just printing program entrypoints.
  librz/core/cbin.c
  test/db/abi/platforms/platform_detect
  test/db/cmd/cmd_i
  test/db/formats/elf/pie
  test/db/formats/elf/thumb
  test/db/formats/mdmp
  test/db/formats/pe/CoST
  test/db/formats/pe/tls_entrypoints
  test/db/formats/pe/tls_noEP
  test/db/io/baddr
  test/db/tools/rz_bin
Labels: rz-test, RzCore

#5032 Add unit test for `rz_list_sorted_uniq`
  test/unit/test_list.c
Labels: rz-test

#5031 Feat unicode lines
  librz/core/cmd/cmd_api.c
  librz/include/rz_cmd.h
Labels: API, RzCore, merge-when-green

#5036 librz/magic: Fix rz_magic_buffer parameter types for sys magic
  librz/magic/magic.c
Labels: RzMagic

#5039 librz/cons: fix defragger theme
  librz/cons/d/defragger
Labels: RzCons

#5040 doc: update rzshell page
  doc/rzshell.md
Labels: documentation, merge-when-green

#5044 Reduce repetition in search consistency tests with macros and aliases
  test/db/cmd/cmd_search
  test/db/cmd/regexp
Labels: rz-test

#5046 Remove RAP protocol
  doc/rap.md
  librz/core/cfile.c
  librz/core/cmd/cmd_remote.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_remote.yaml
  librz/core/core.c
  librz/core/rtr.c
  librz/debug/meson.build
  librz/debug/p/debug_rap.c
  librz/include/rz_core.h
  librz/include/rz_socket.h
  librz/io/meson.build
  librz/io/p/io_rap.c
  librz/socket/meson.build
  librz/socket/socket_rap_client.c
  librz/socket/socket_rap_server.c
  test/db/archos/linux-x64/cmd_list
  test/db/archos/linux-x64/dbg_dl
  test/db/cmd/cmd_list
Labels: documentation, rz-test, RzIO, RzDebug, API, RzCore, merge-when-green, RzSocket

#5043 Fix some coverity issues.
  librz/arch/isa/avr/avr_il.c
  librz/arch/platform_target_index.c
  librz/bin/bobj.c
  librz/bin/format/coff/coff.c
  librz/bin/format/coff/coff.h
  librz/bin/format/elf/elf_info.c
  librz/bin/format/java/class_attribute.c
  librz/bin/p/bin_java.c
  librz/cons/html.c
  librz/core/agraph.c
  librz/core/golang.c
  librz/crypto/p/crypto_sm4_ecb.c
  librz/il/il_export_json.c
  librz/include/rz_bin.h
  librz/search/entropy_search.c
  librz/search/hash_search.c
  librz/search/search.c
  librz/search/string_search.c
  librz/sign/create.c
  librz/sign/flirt.c
  librz/util/bitvector.c
  librz/util/thread_iterators.c
  test/db/analysis/mips
Labels: rz-test, RzBin, RzAnalysis, API, RzCore, RzCrypto, ELF, RzUtil, java, RzCons, RZIL, RzSearch, AVR

#5047 Remove outdated MIPS RzArch plugin remnants
  librz/arch/isa_gnu/mips/mips-dis.c
  librz/arch/isa_gnu/mips/mips-opc.c
  librz/arch/isa_gnu/mips/mips16-opc.c
Labels: RzAnalysis, MIPS, RzAsm-Disassembler

#5042 librz/bin: add Alpha DWARF mapping
  librz/arch/dwarf_process.c
  librz/arch/isa/alpha/alpha_dwarf_regnum_table.h
  librz/arch/p/analysis/analysis_alpha_cs.c
Labels: RzAnalysis, DWARF

#5049 Rewrite of the mips assembler for mips1-mips5
  librz/arch/isa/mips/mips_assembler.c
  librz/arch/isa/mips/mips_internal.h
  librz/arch/p/asm/asm_mips_cs.c
  test/db/asm/mips_mips2_32
  test/db/asm/mips_mips3_32
  test/db/asm/mips_mips5_32
Labels: rz-test, RzAnalysis, MIPS, RzAsm-Assembler

#5048 Refactor out string consistency test macros
  test/db/cmd/cmd_search
  test/db/cmd/regexp
  test/scripts/string-consistency-test.rz
Labels: rz-test

#5052 Echo `cmd` in string consistency test macros
  test/db/cmd/cmd_search
  test/db/cmd/regexp
  test/scripts/string-consistency-test.rz
Labels: rz-test

#5019 Fix asm tokens leaking horrendously because they used Vector and PVector
  librz/arch/aop.c
  librz/arch/asm.c
  librz/arch/isa/hexagon/hexagon_arch.c
  librz/arch/isa/hexagon/hexagon_il.c
  librz/arch/p/asm/asm_bf.c
  librz/core/canalysis.c
  librz/core/casm.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_debug.c
  librz/core/cmd/cmd_print.c
  librz/core/cmd/cmd_search.c
  librz/core/cmd/cmd_seek.c
  librz/core/cmp.c
  librz/core/core.c
  librz/core/disasm.c
  librz/core/rop.c
  librz/core/tui/biteditor.c
  librz/core/tui/esil.c
  librz/core/tui/panels.c
  librz/core/tui/visual.c
  librz/include/rz_util/rz_print.h
  librz/main/rz-asm.c
  librz/util/print.c
  test/unit/test_tokens.c
Labels: rz-asm, rz-test, RzAnalysis, API, RzCore, visual, panel, merge-when-green, RzUtil, RZIL, Hexagon
