Repository rizinorg/rizin, pull requests merged in 2025-02, with the labels that each got.

#4873 Clarify inclusivity of `search.from` and `search.to`
  librz/core/cconfig.c
  test/db/cmd/cmd_search
Labels: rz-test, RzCore

#4875 `^` grep op: Skip whitespace
  librz/cons/grep.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.yaml
  test/db/cmd/cmd_i
Labels: rz-test, RzCore, RzCons

#4876 Fix inconsistency between `/` and `/e`
  librz/search/regexp.c
  test/db/cmd/regexp
Labels: rz-test, RzSearch

#4877 Fix null deref and output of aezsue
  librz/arch/il/analysis_il.c
  librz/core/cil.c
  librz/include/rz_il/rz_il_opbuilder_begin.h
Labels: RzAnalysis, API, ESIL, RzCore, RZIL

#4878 add xtensa dwarf register mapping
  librz/arch/dwarf_process.c
  librz/arch/isa/xtensa/xtensa_dwarf_regnum_table.h
Labels: RzAnalysis, DWARF, Xtensa

#4880 search: Print dot in results for nonprintable chars
  librz/core/cmd/cmd_search.c
  test/db/cmd/basic
  test/db/cmd/cmd_json
  test/db/cmd/cmd_search
  test/db/cmd/cmd_search_hit
  test/db/cmd/regexp
Labels: rz-test, RzCore

#4885 search: Use blue dot for nonprintable chars
  librz/core/cmd/cmd_search.c
  test/db/cmd/regexp
Labels: rz-test, RzCore

#4886 Add bit counting and address alignment calculation helper.
  librz/include/rz_util/rz_bits.h
  librz/include/rz_util/rz_mem.h
  librz/util/mem.c
  test/unit/meson.build
  test/unit/test_bits.c
  test/unit/test_mem.c
Labels: rz-test, API, RzUtil

#4887 Add RZ_ANALYSIS_IL_STEP_UNIMPLEMENTED_IL
  librz/arch/il/analysis_il.c
  librz/core/cil.c
  librz/include/rz_analysis.h
  test/db/cmd/cmd_aez
Labels: rz-test, RzAnalysis, API, ESIL, RzCore, RZIL

#4888 Fix various mips CPU info and ensure compatibility where possible.
  librz/arch/p/arch_mips_cs.c
  librz/bin/format/elf/elf_info.c
  librz/bin/format/le/le.c
  librz/bin/format/pe/pe.h
  librz/bin/format/pe/pe_info.c
  librz/bin/p/bin_coff.c
  librz/bin/p/bin_pe.inc
  test/db/cmd/cmd_eval
  test/db/cmd/cmd_i
Labels: rz-test, RzBin, RzAnalysis, ELF, PE

#4890 Fix CS4 & CS5 build since CS_MODE_MIPS4 is available only on CS6+
  librz/arch/p/arch_mips_cs.c
Labels: RzAnalysis

#4894 cmd_search.c: Refactor out context coloring
  librz/core/cmd/cmd_search.c
Labels: RzCore

#4895 Fix some leaks
  librz/arch/asm.c
  librz/core/casm.c
  librz/core/cio.c
  librz/core/cmd/cmd_search.c
  test/unit/test_str_search.c
Labels: rz-test, RzAnalysis, RzCore

#4903 Add several new regex functions.
  librz/include/rz_util/rz_regex.h
  librz/util/regex.c
Labels: API, merge-when-green, RzUtil

#4902 Alignment
  librz/arch/analysis.c
  librz/arch/asm.c
  librz/arch/op.c
  librz/arch/p/analysis/analysis_hexagon.c
  librz/arch/p/analysis/analysis_java.c
  librz/arch/p/analysis/analysis_v850.c
  librz/arch/p/analysis/analysis_x86_cs.c
  librz/bin/format/mach0/fatmach0.c
  librz/core/canalysis.c
  librz/core/casm.c
  librz/core/cbin.c
  librz/core/cconfig.c
  librz/core/cesil.c
  librz/core/cil.c
  librz/core/cmd/cmd_magic.c
  librz/core/cmd/cmd_search.c
  librz/core/seek.c
  librz/core/tui/visual.c
  librz/core/yank.c
  librz/include/rz_util/rz_print.h
  librz/main/rz-find.c
  librz/search/search.c
  librz/util/print.c
  test/db/analysis/java
  test/db/cmd/cmd_i
  test/db/cmd/cmd_open
  test/db/cmd/cmd_pipe
  test/db/formats/dmp/dmp
  test/db/formats/mdmp
  test/db/tools/rz_bin
  test/db/tools/rz_find
Labels: rz-test, RzBin, RzAnalysis, rz-find, API, ESIL, RzCore, visual, panel, merge-when-green, Mach-O, X86, RzUtil, RZIL, RzSearch

#4907 search: Streamline colored hit context generation
  librz/core/cmd/cmd_search.c
  test/db/cmd/regexp
Labels: rz-test, RzCore

#4909 Fix analysis cpu usage
  librz/arch/dwarf_process.c
  librz/arch/p/asm/asm_arm_cs.c
  librz/core/cconfig.c
Labels: RzAnalysis, RzCore, DWARF, ARM

#4912 Fix CVE-2025-1378 Always ensure skip value is less equal to length.
  librz/main/rz-asm.c
  test/db/tools/rz_asm
Labels: rz-asm, rz-test

#4882 Add RzIL implementation of MIPS32 ops
  librz/arch/isa/mips/il/atomic.c
  librz/arch/isa/mips/il/common.c
  librz/arch/isa/mips/il/cop2.c
  librz/arch/isa/mips/il/fp.c
  librz/arch/isa/mips/il/hw.c
  librz/arch/isa/mips/mips_il.c
  librz/arch/isa/mips/mips_internal.h
  librz/arch/meson.build
  librz/arch/p/analysis/analysis_mips_cs.c
  librz/arch/p/arch_mips_cs.c
  librz/arch/p/asm/asm_mips_cs.c
  librz/bin/format/elf/elf_info.c
  librz/include/rz_il/rz_il_opbuilder_end.h
  test/db/analysis/mips
  test/db/asm/mips_mips2_32
  test/db/asm/mips_mips64_64
  test/db/asm/mips_mips64r2_64
  test/db/asm/mips_mips64v2_64
  test/db/asm/mips_mips64v6_64
  test/db/cmd/cmd_aL
  test/db/cmd/cmd_i
  test/db/cmd/cmd_list
  test/db/rzil/mips
Labels: rz-test, RzBin, RzAnalysis, API, ELF, MIPS, RZIL, blocker

#4914 Fix UB of left shift.
  librz/arch/p/analysis/analysis_arm_cs.c
  librz/arch/value.c
  librz/include/rz_analysis.h
Labels: RzAnalysis, API, ARM

#4916 Fix MIPS IL for addi, move and negu
  librz/arch/isa/mips/il/common.c
  librz/arch/isa/mips/il/hw.c
  test/db/asm/mips_mips2_32
Labels: rz-test, RzAnalysis, MIPS

#4921 Format files according to black v25.
  sys/check_meson_subproject.py
  sys/create_tags_rz.py
  sys/meson_cmake_prefix_dir.py
  sys/meson_git_wrapper.py
  sys/syscall_preprocessing.py
  sys/version.py
Labels: buildsystem

#4922 Prefix Analysis Fix
  librz/core/canalysis.c
Labels: RzCore

#4924 Fix typo: Exampels -> Examples
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_search.yaml
Labels: RzCore

#4923 Sync with latest LLVM Hexagon v79 version.
  librz/arch/isa/hexagon/hexagon_disas.c
  librz/arch/isa/hexagon/hexagon_il.h
  librz/arch/isa/hexagon/hexagon_il_getter_table.h
  librz/arch/isa/hexagon/hexagon_insn.h
  librz/arch/isa/hexagon/il_ops/hexagon_il_A6_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_A7_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_C2_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_C4_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_F2_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_G4_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_IMPORTED_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_J2_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_J4_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_L2_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_L4_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_L6_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_M2_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_M4_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_M5_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_M6_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_M7_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_R6_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_S2_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_S4_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_S5_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_S6_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_SA1_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_SL1_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_SL2_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_SS1_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_SS2_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_UNDOCUMENTED_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_V6_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_Y2_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_Y4_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_Y5_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_Y6_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_dep_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_invalid_ops.c
  librz/arch/isa/hexagon/il_ops/hexagon_il_non_insn_ops.c
Labels: RzAnalysis, RZIL, RzAsm-Disassembler, Hexagon

#4925 Sort search results to prevent random failures due to racing search threads.
  librz/search/search.c
  librz/search/search_internal.h
Labels: RzSearch

#4927 Rename PIC instruction sets (asm.cpu)
  librz/arch/isa/pic/pic.h
  librz/arch/isa/pic/pic14.c
  librz/arch/isa/pic/pic14.h
  librz/arch/isa/pic/pic16.c
  librz/arch/isa/pic/pic16.h
  librz/arch/isa/pic/pic18.h
  librz/arch/isa/pic/pic_baseline.c
  librz/arch/isa/pic/pic_baseline.h
  librz/arch/isa/pic/pic_highend.c
  librz/arch/isa/pic/pic_highend.h
  librz/arch/isa/pic/pic_highend_analysis.c
  librz/arch/isa/pic/pic_highend_esil.inc
  librz/arch/isa/pic/pic_highend_il.inc
  librz/arch/isa/pic/pic_midrange.c
  librz/arch/isa/pic/pic_midrange.h
  librz/arch/isa/pic/pic_midrange_analysis.c
  librz/arch/isa/pic/pic_midrange_esil.inc
  librz/arch/isa/pic/pic_midrange_il.inc
  librz/arch/meson.build
  librz/arch/p/analysis/analysis_pic.c
  librz/arch/p/asm/asm_pic.c
  test/db/analysis/pic
  test/db/asm/pic_highend_8
  test/db/asm/pic_midrange_8
  test/db/cmd/cmd_aL
  test/db/rzil/pic
  test/db/tools/rz_asm
Labels: rz-test, RzAnalysis, RZIL, PIC

#4928 Fix param decls of string_find() and bytes_find()
  librz/search/bytes_search.c
  librz/search/string_search.c
Labels: RzSearch

#4929 Remove RZ_NULLABLE from RzSearchFindBytesCallback function pointer type
  librz/search/search_internal.h
Labels: RzSearch

#4936 Remove unnecessary regex search collection.
  librz/include/rz_search.h
Labels: API

#4934 Add feature and CPU version to the Hexagon plugin.
  librz/arch/p/asm/asm_hexagon.c
Labels: RzAnalysis

#4938 search: Show progress on stderr
  librz/core/cmd/cmd_search.c
  test/db/cmd/cmd_search_z
Labels: rz-test, RzCore

#4935 Fix UB.
  librz/arch/isa/arm/armass.c
Labels: RzAnalysis, ARM, RzAsm-Assembler

#4932 librz/core: Fix disassembly (e.g. pd) with unmapped gaps
  librz/core/cmd/cmd_print.c
  librz/include/rz_io.h
  librz/io/io.c
  test/db/cmd/cmd_pd
  test/unit/test_io.c
Labels: rz-test, RzIO, API, RzCore

#4931 Move `/a` to RzShell
  librz/core/cmd/cmd_search.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_search.yaml
  librz/include/rz_asm.h
  test/db/cmd/cmd_search
  test/db/cmd/cmd_search_a
  test/db/cmd/cmd_search_hit
Labels: rz-test, API, RzCore

#4941 Using x86.as assembler fails on non-x86 systems.
  test/db/cmd/cmd_search_a
Labels: rz-test

#4943 search: Clear progress before results
  librz/core/cmd/cmd_search.c
  librz/search/search.c
  test/db/cmd/cmd_search_z
Labels: rz-test, RzCore, RzSearch

#4947 Revert #4943's test
  test/db/cmd/cmd_search_z
Labels: rz-test
