Repository rizinorg/rizin, pull requests merged in 2025-08, with the labels that each got.

#5119 Add RZIL support for h8300/h8300h
  librz/arch/dwarf_process.c
  librz/arch/isa/h8300/h8300_disas.c
  librz/arch/isa/h8300/h8300_disas.h
  librz/arch/isa/h8300/h8300_dwarf_regnum_table.h
  librz/arch/isa/h8300/h8300_esil.c
  librz/arch/isa/h8300/h8300_il.c
  librz/arch/meson.build
  librz/arch/p/analysis/analysis_h8300.c
  librz/arch/p/asm/asm_h8300.c
  librz/bin/format/elf/elf_info.c
  librz/il/il_reg.c
  librz/include/rz_util/rz_bits.h
  test/db/analysis/h8300
  test/db/asm/h8300
  test/db/asm/h8300_h8300h
  test/db/cmd/cmd_aL
  test/db/cmd/cmd_list
  test/db/rzil/h8300
Labels: rz-test, RzBin, RzAnalysis, API, merge-when-green, ELF, DWARF, RZIL, blocker, RzAsm-Disassembler, H8300

#5191 Class Analysis in C++
  librz/arch/analysis.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/devirtualize_cxx.c
  librz/core/meson.build
  librz/include/rz_analysis.h
  test/db/cmd/cmd_avD
  test/db/cmd/cmd_avx
Labels: rz-test, RzAnalysis, API, RzCore

#5291 Fix cast of negative zero to integer.
  librz/util/float/float.c
  test/unit/test_float.c
Labels: rz-test, RzUtil

#5294 Add NULL checks.
  librz/il/theory_fbasic.c
Labels: RZIL

#5293 Add vtables to classes for cxx binaries w/o RTTI
  librz/arch/meson.build
  librz/arch/no_rtti.c
  librz/arch/rtti.c
  librz/core/canalysis.c
  librz/include/rz_analysis.h
  test/db/cmd/cmd_acll
  test/db/cmd/cmd_avD
Labels: rz-test, RzAnalysis, API, RzCore

#5297 doc/fortunes: fix incorrect hash calculation command
  doc/fortunes.tips
Labels: documentation

#5299 Upload Codecov coverage only if build is enabled
  .github/workflows/ci.yml
Labels: infrastructure

#5298 Add rz-libswift as dependency and disable globally use_swift_demangler
  .github/workflows/ci.yml
  .gitignore
  librz/bin/bobj_process.c
  librz/bin/bobj_process_symbol.c
  librz/bin/i/private.h
  librz/demangler/demangler.c
  librz/demangler/meson.build
  librz/include/rz_userconf.h.in
  meson.build
  meson_options.txt
  subprojects/libswift.wrap
  test/db/archos/not-windows-any/cmd_interpreter
  test/db/formats/mach0/swift
  test/db/tools/rz_bin
Labels: infrastructure, rz-test, RzBin, API

#5271 BaseXX Support and Refactor (#5216)
  librz/crypto/crypto.c
  librz/crypto/meson.build
  librz/crypto/p/crypto_base16.c
  librz/crypto/p/crypto_base32.c
  librz/crypto/p/crypto_base36.c
  librz/crypto/p/crypto_base85.c
  librz/include/meson.build
  librz/include/rz_crypto.h
  librz/include/rz_util.h
  librz/include/rz_util/rz_base16.h
  librz/include/rz_util/rz_base32.h
  librz/include/rz_util/rz_base36.h
  librz/include/rz_util/rz_base85.h
  librz/util/base16.c
  librz/util/base32.c
  librz/util/base36.c
  librz/util/base64.c
  librz/util/base85.c
  librz/util/hex.c
  librz/util/meson.build
  subprojects/rzwinkd/iob_net.c
  test/db/tools/rz_hash
  test/unit/meson.build
  test/unit/test_base16.c
  test/unit/test_base32.c
  test/unit/test_base36.c
  test/unit/test_base85.c
Labels: rz-test, API, RzCrypto, WinDbg, RzUtil

#5301 Add `util` lib to FreeBSD debug deps
  librz/debug/meson.build
Labels: RzDebug

#5306 Fix Loongarch undefined behavior and underflow.
  librz/arch/p/analysis/analysis_loongarch_cs.c
Labels: RzAnalysis

#5308 Bump Capstone to latest next (v6-Alpha5 + two fixes).
  librz/arch/p/analysis/analysis_loongarch_cs.c
  librz/arch/p/analysis/analysis_sparc_cs.c
  librz/arch/p/asm/asm_sparc_cs.c
  subprojects/capstone-next.wrap
  subprojects/capstone-v6.wrap
  subprojects/packagefiles/capstone-6.0.0-alpha5/meson.build
  subprojects/packagefiles/capstone-next/meson.build
  test/db/analysis/loongarch
  test/db/analysis/sparc
Labels: rz-test, RzAnalysis

#5296 Added class methods identification and inheritance in swift using `rz-libswift` demangler
  librz/arch/meson.build
  librz/arch/rtti.c
  librz/arch/swift_rtti.c
  librz/bin/bobj_process.c
  librz/bin/bobj_process_symbol.c
  librz/bin/i/private.h
  librz/include/rz_analysis.h
  librz/include/rz_demangler.h
  test/db/cmd/cmd_acll
  test/db/formats/mach0/mach0
  test/db/formats/mach0/objc
  test/db/formats/mach0/swift
Labels: rz-test, RzBin, RzAnalysis, API

#5318 Add missing include guards to fix v5/v4 Capstone build.
  librz/arch/isa/sparc/sparc_il.c
  librz/arch/isa/sparc/sparc_il.h
  librz/arch/isa/sparc/sparc_il_ops.c
  librz/arch/p/analysis/analysis_sparc_cs.c
Labels: RzAnalysis, RZIL, SPARC

#5288 Update `libmagic` to openbsd/src@0e59d0d
  librz/bin/p/bin_any.c
  librz/include/rz_magic.h
  librz/magic/apprentice.c
  librz/magic/ascmagic.c
  librz/magic/d/default/network
  librz/magic/file.h
  librz/magic/file_opts.h
  librz/magic/fsmagic.c
  librz/magic/funcs.c
  librz/magic/is_tar.c
  librz/magic/magic-common.c
  librz/magic/magic-load.c
  librz/magic/magic-test.c
  librz/magic/magic.c
  librz/magic/magic.h
  librz/magic/mconfig.h
  librz/magic/mdump.c
  librz/magic/meson.build
  librz/magic/names.h
  librz/magic/patchlevel.h
  librz/magic/softmagic.c
  librz/magic/tar.h
  librz/search/magic_search.c
  librz/util/str.c
  test/db/cmd/cmd_print
  test/db/tools/rz_find
Labels: rz-test, RzBin, API, RzUtil, RzMagic, RzSearch

#5320 Remove rz-libswift to avoid embedding C++ projects.
  .github/workflows/ci.yml
  librz/demangler/demangler.c
  librz/demangler/meson.build
  librz/include/rz_demangler.h
  meson.build
  subprojects/libswift.wrap
  test/db/cmd/cmd_acll
  test/db/formats/mach0/mach0
  test/db/formats/mach0/objc
  test/db/formats/mach0/swift
  test/db/tools/rz_bin
Labels: infrastructure, rz-test, API

#5322 Pin meson to 1.8.3 for ubuntu debug tests CI
  .github/workflows/ci.yml
Labels: infrastructure

#5325 Remove static vars from `cris-dis.c` && Add `asmutils.h`
  librz/arch/isa_gnu/cris/cris-dis.c
  librz/arch/isa_gnu/cris/cris_context.h
  librz/arch/p_gnu/asm/asm_cris_gnu.c
Labels: RzAnalysis, RzAsm-Disassembler, CRIS

#5326 Remove static vars from `librz/core/windows_heap.c`
  librz/bin/pdb/symbol.c
  librz/core/cpdb.c
  librz/core/windows_heap.c
  librz/include/rz_core.h
  librz/include/rz_debug.h
  librz/include/rz_pdb.h
Labels: RzBin, API, RzCore, Windows, PDB

#5327 Add `-Wno-error` to relevant `meson.build` and unpin meson
  .github/workflows/ci.yml
  subprojects/packagefiles/libzip-1.11.3/meson.build
  subprojects/packagefiles/rizin-grammar-c/meson.build
Labels: infrastructure

#5324 Fix libmagic endianness
  librz/magic/magic-test.c
Labels: RzMagic

#5329 Fix ucalls from plt/stubs
  librz/arch/fcn.c
  test/db/analysis/mips
Labels: rz-test, RzAnalysis
