Repository rizinorg/rizin, pull requests merged in 2025-04, with the labels that each got.

#5055 Rename (string -> search)-consistency-test.rz
  test/db/cmd/cmd_search
  test/db/cmd/regexp
  test/scripts/search-consistency-test.rz
Labels: rz-test

#5054 Fix: add meta size in code count
  librz/core/canalysis.c
  librz/include/rz_core.h
  test/db/cmd/cmd_coverage
  test/unit/meson.build
  test/unit/test_analysis_coverage.c
Labels: rz-test, API, RzCore

#5059 echo: Allow literal `$` printing
  librz/core/cmd/cmd_shell.c
  test/db/cmd/cmd_system
Labels: rz-test, RzCore

#5033 Add ~ and long register names as tokens.
  librz/arch/p/asm/asm_hexagon.c
  test/unit/test_tokens.c
Labels: rz-test, RzAnalysis

#5063 Add search-consistency-test macro to reduce repetition
  test/db/cmd/cmd_search
  test/db/cmd/regexp
  test/scripts/search-consistency-test.rz
Labels: rz-test

#5057 Use Codecov action to upload coverage data every PR.
  .github/workflows/ci.yml
  codecov.yml
Labels: infrastructure

#5066 Add missing matrix.enabled check.
  .github/workflows/ci.yml
Labels: infrastructure

#5069 Don't add unreadable sections to the search boundaries (IO fails).
  librz/core/cbounds.c
Labels: RzCore

#5068 Add hint about the command name and to settings.
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.yaml
Labels: RzCore

#5065 update: lengeds in La cmd help
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_plugins.yaml
  test/db/cmd/cmd_help
Labels: rz-test, RzCore

#5073 Fix: Emitted the license instead of the author.
  librz/core/cbin.c
  test/db/cmd/cmd_list
Labels: rz-test, RzCore

#5074 Add details to '<' command docs.
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.yaml
Labels: RzCore

#5072 Fix leaks in integration test.
  test/integration/test_bin_vfiles.c
Labels: rz-test

#5064 Bump capstone to 5b5c5ed856ff453f04cebbb4b3daace1329d53e7
  librz/arch/isa/mips/il/common.c
  librz/arch/isa/tms320/c64x/c64x.c
  subprojects/capstone-next.wrap
  test/db/analysis/tms320.c64x_32
  test/db/asm/mips_mips3_32
  test/db/asm/mips_mips64r2_64
Labels: rz-test, RzAnalysis, merge-when-green, MIPS, TMS320

#5077 Normalize the output of L subcommands
  librz/arch/p/asm/asm_avr.c
  librz/core/casm.c
  librz/core/cbin.c
  librz/core/cconfig.c
  librz/core/ccrypto.c
  librz/core/cdebug.c
  librz/core/chash.c
  librz/core/clang.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_api.c
  librz/core/cmd/cmd_info.c
  librz/core/cmd/cmd_plugins.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_debug.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs_generate.py
  librz/core/cmd_descs/cmd_flag.yaml
  librz/core/cmd_descs/cmd_math.yaml
  librz/core/cmd_descs/cmd_plugins.yaml
  librz/core/cmd_descs/cmd_search.yaml
  librz/core/core.c
  librz/core/cparser.c
  librz/crypto/p/crypto_aes.c
  librz/include/rz_core.h
  librz/main/rz-asm.c
  test/db/archos/linux-x64/cmd_list
  test/db/cmd/cmd_help
  test/db/cmd/cmd_list
  test/db/tools/rz_hash
Labels: rz-asm, rz-test, RzAnalysis, API, RzCore, RzCrypto

#5076 /z: Warn if |search literal| < search.str.min_length
  librz/core/cmd/cmd_search.c
  test/db/cmd/cmd_search_z
Labels: rz-test, RzCore

#5082 rz_utf8_strlen: Change return type to size_t and add Doxygen
  librz/bin/format/pyc/marshal.c
  librz/core/cmd/cmd_search.c
  librz/include/rz_util/rz_utf8.h
  librz/util/utf8.c
Labels: RzBin, API, RzCore, RzUtil

#5083 /z: Set `min_length` to max(|search literal|, search.str.min_length)
  librz/core/cmd/cmd_search.c
  librz/core/csearch.c
  librz/include/rz_core.h
  librz/util/utf8.c
Labels: API, RzCore, RzUtil

#5084 Show RZ_LOG_WARN warnings by default for all build opt levels
  meson.build
  meson_options.txt
  test/db/archos/linux-x64/dbg_oo
  test/db/cmd/cmd_flags
  test/db/cmd/cmd_search_z
  test/db/formats/elf/main
  test/db/formats/elf/sections
  test/db/tools/rz_bin
  test/db/tools/rz_test
Labels: rz-test

#5088 Update Rizin C grammar to tree-sitter-0.25.3
  subprojects/rizin-grammar-c.wrap
  test/db/cmd/types
Labels: rz-test

#5056 A command to show just strings that have code or data references to them
  librz/core/cbin.c
  librz/core/cmd/cmd_info.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_info.yaml
  librz/include/rz_core.h
  test/db/cmd/cmd_i
Labels: rz-test, API, RzCore

#5090 Reject NULL values in rz_platform_profiles_init()
  librz/arch/platform_profile.c
  librz/core/canalysis.c
  librz/include/rz_platform.h
  test/db/cmd/cmd_eval
Labels: rz-test, RzAnalysis, API, RzCore, merge-when-green

#5098 Fix jsdec build on v0.8.0 release
  .github/workflows/ci.yml
Labels: infrastructure

#5099 build: enable GNU C99 extension by default
  .github/workflows/ci.yml
  meson.build
Labels: infrastructure

#5094 rz_core_warn_after_output: Print warnings after command output
  librz/core/cmd/cmd.c
  librz/core/cmd/cmd_search.c
  librz/core/core.c
  librz/core/core_private.h
  librz/include/rz_core.h
  test/db/cmd/cmd_search_z
Labels: rz-test, API, RzCore
