Repository rizinorg/rizin, pull requests merged in 2025-07, with the labels that each got.

#5244 Update archos/netbsd-x64/dbg maps test
  test/db/archos/netbsd-x64/dbg
Labels: rz-test

#5243 librz/bin: remove dead code from mdt.c
  librz/bin/format/mdt/mdt.c
Labels: RzBin

#5234 Run tests in OpenBSD with doas.
  .builds/openbsd.yml
  test/db/archos/netbsd-x64/dbg
Labels: infrastructure, rz-test

#5062 Add `?**`, `?**e`, `?***` for interactive search of command and settings details
  librz/cons/hud.c
  librz/core/cconfig.c
  librz/core/cmd/cmd.c
  librz/core/cmd/cmd_api.c
  librz/core/cmd/cmd_help.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
  librz/core/cmd_descs/cmd_help.yaml
  librz/core/cmd_descs/meson.build
  librz/core/meson.build
  librz/include/rz_cmd.h
  subprojects/rizin-shell-parser/grammar.js
  subprojects/rizin-shell-parser/src/grammar.json
  subprojects/rizin-shell-parser/src/parser.c
  test/db/cmd/cmd_help
  test/db/cmd/cmd_interactive_modes
Labels: rz-test, API, RzCore, waiting-for-author, RzCons

#5241 Remove static variables from io_qnx.c
  librz/io/p/io_qnx.c
Labels: RzIO

#5237 Remove static varaibles from `io_mach.c`
  librz/io/p/io_mach.c
Labels: RzIO

#5252 Remove static variables from `librz/io/p/io_self.c`
  librz/io/p/io_self.c
Labels: RzIO

#5268 Remove unused rz_sys_cmdbg() function
  librz/include/rz_util/rz_sys.h
  librz/util/sys.c
Labels: API, RzUtil

#5270 Remove old #if !MACRO and split bin_mach0.c into bin_mach0.inc
  librz/bin/p/bin_mach0.c
  librz/bin/p/bin_mach0.inc
  librz/bin/p/bin_mach064.c
  librz/bin/p/bin_menuet.c
  librz/bin/p/bin_nro.c
  librz/bin/p/bin_nso.c
  librz/bin/p/bin_p9.c
Labels: RzBin, Mach-O

#5273 Remove incomplete RISC-V ESIL uplifting
  librz/arch/p/analysis/analysis_riscv_cs.c
  test/db/cmd/cmd_aL
  test/db/cmd/cmd_list
Labels: rz-test, RzAnalysis

#5277 docker: update to Debian 11 (Bullseye)
  Dockerfile
Labels: merge-when-green

#5282 Enable initialization of negative zero and add float neg tests.
  librz/il/definitions/value.c
  librz/include/rz_util/rz_float.h
  librz/util/float/float.c
  test/unit/test_float.c
  test/unit/test_il_vm.c
Labels: rz-test, API, RzUtil, RZIL

#5284 Remove global variables from `sdb/main.c`
  librz/util/sdb/src/main.c
Labels: RzUtil

#5287 Add horizontal histogram ruler
  librz/cons/histogram.c
  librz/core/cconfig.c
  librz/core/cmd/cmd_print.c
  librz/include/rz_cons.h
Labels: API, RzCore, RzCons
