Repository rizinorg/rizin, pull requests merged in 2025-01, with the labels that each got.

#4812 NetBSD: Upgrade to Python 3.9
  .builds/netbsd.yml
Labels: infrastructure

#4810 Add initial support to loongarch 32/64
  librz/arch/isa/loongarch/loongarch.h
  librz/arch/isa/loongarch/loongarch.inc
  librz/arch/meson.build
  librz/arch/p/analysis/analysis_loongarch_cs.c
  librz/arch/p/arch_loongarch_cs.c
  librz/arch/p/asm/asm_loongarch_cs.c
  librz/bin/format/elf/elf_imports.c
  subprojects/packagefiles/capstone-next/meson.build
  test/db/analysis/loongarch
  test/db/cmd/cmd_list
Labels: rz-test, RzBin, RzAnalysis, merge-when-green, ELF

#4779 librz/util: optimize RzBuffer for hot paths
  librz/include/rz_util/rz_buf.h
  librz/util/buf.c
Labels: API, RzUtil, performance

#4815 `@?`: Add note on application of multiple @-modifiers
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.yaml
Labels: RzCore

#4813 Fix leaks during register profile parsing.
  librz/include/rz_debug.h
  librz/reg/profile.c
Labels: API, RzReg

#4819 Fix UB: Shifting by 24 on `int` is not defined.
  librz/core/cmd/cmd_print.c
Labels: RzCore

#4822 Remove BROKEN=1 from tests that are not broken.
  test/db/asm/arm_32
  test/db/asm/arm_64
  test/db/asm/mips_mips64v2_64
  test/db/asm/ppc_64
  test/db/asm/x86_32
  test/db/formats/pe/maxsecXP
  test/db/tools/rz_find
Labels: rz-test

#4821 Ensure ELF symbols always have a name.
  librz/bin/p/bin_elf.inc
  test/db/cmd/cmd_i
  test/db/cmd/dwarf
  test/db/formats/elf/elf-riscv64
  test/db/formats/elf/symbols
  test/db/tools/rz_bin
Labels: rz-test, RzBin, ELF

#4827 Update capstone next to use CS_OPT_SYNTAX_NO_DOLLAR on loongarch
  librz/arch/isa/loongarch/loongarch.inc
  librz/arch/p/asm/asm_loongarch_cs.c
  subprojects/capstone-next.wrap
Labels: RzAnalysis

#4830 Fix #4829
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_flag.yaml
  test/db/cmd/cmd_flags
Labels: rz-test, RzCore

#4831 Remove static global t9_pre from mips_cs
  librz/arch/p/analysis/analysis_mips_cs.c
Labels: RzAnalysis, MIPS

#4824 Fix leaks in rz-test
  binrz/rz-test/run.c
  binrz/rz-test/rz-test.c
Labels: rz-test

#4833 ci: Put ASAN CFLAGS in one place
  .github/workflows/ci.yml
Labels: infrastructure

#4834 Fix OOB read in rz_str_nlen()
  librz/util/str.c
Labels: RzUtil

#4836 Fix Muon sdb build-host mismatch
  librz/util/meson.build
Labels: RzUtil

#4828 Fix #4799: Use Meson to set `c_std=c99`
  meson.build
  subprojects/rzspp/spp.h
  test/unit/test_float.c
Labels: rz-test

#4837 grammar: Rename `tmp_*_stmt` to `tmp_*_op`
  librz/core/cautocmpl.c
  librz/core/cmd/cmd.c
  librz/core/cmd/rz-shell-parser-cmds.inc
  subprojects/rizin-shell-parser/corpus/cmd_substitution.txt
  subprojects/rizin-shell-parser/corpus/repeated_commands.txt
  subprojects/rizin-shell-parser/corpus/special_commands.txt
  subprojects/rizin-shell-parser/corpus/temporary_changes.txt
  subprojects/rizin-shell-parser/grammar.js
  subprojects/rizin-shell-parser/src/grammar.json
  subprojects/rizin-shell-parser/src/node-types.json
  subprojects/rizin-shell-parser/src/parser.c
Labels: RzCore

#4844 cautocmpl.c: Rename `stmt` to `op`
  librz/core/cautocmpl.c
Labels: RzCore

#4848 @x: Show error on invalid hexpair char
  librz/core/cmd/cmd.c
  test/db/cmd/hex
Labels: rz-test, RzCore

#4850 `iS`/`iSS`: Right-align "align" column
  librz/core/cbin.c
  test/db/abi/platforms/sections
  test/db/analysis/avr
  test/db/analysis/x86_64
  test/db/archos/linux-x64/debuginfod
  test/db/cmd/cmd_i
  test/db/cmd/cmd_search
  test/db/cmd/dwarf
  test/db/cmd/feat_variables
  test/db/formats/ar
  test/db/formats/bflt
  test/db/formats/coff
  test/db/formats/dyldcache
  test/db/formats/elf/elf-relro
  test/db/formats/elf/helloworld-gcc-elf
  test/db/formats/elf/overlapped-segment
  test/db/formats/elf/sections
  test/db/formats/gba
  test/db/formats/gbc
  test/db/formats/java
  test/db/formats/le
  test/db/formats/luac/luac
  test/db/formats/luac/luac53
  test/db/formats/mach0/mach0
  test/db/formats/mdmp
  test/db/formats/mz/cblp0
  test/db/formats/n3ds
  test/db/formats/ne
  test/db/formats/ninds
  test/db/formats/nro
  test/db/formats/nso
  test/db/formats/omf
  test/db/formats/pe/96emptysections
  test/db/formats/pe/96workingsections
  test/db/formats/pe/pe
  test/db/formats/pe/sectiondata
  test/db/formats/plan9
  test/db/formats/psx
  test/db/formats/pyc
  test/db/formats/qnx
  test/db/formats/smd
  test/db/formats/spc700
  test/db/formats/web_assembly
  test/db/formats/z64
  test/db/io/srec
  test/db/tools/rz_bin
Labels: rz-test, RzCore

#4847 Feature/asm cpu desc
  librz/arch/p/asm/asm_arm_cs.c
  librz/arch/p/asm/asm_avr.c
  librz/arch/p/asm/asm_m680x_cs.c
  librz/arch/p/asm/asm_m68k_cs.c
  librz/arch/p/asm/asm_mips_cs.c
  librz/arch/p/asm/asm_pic.c
  librz/arch/p/asm/asm_ppc_cs.c
  librz/arch/p/asm/asm_sparc_cs.c
  librz/arch/p/asm/asm_tms320.c
  librz/arch/p/asm/asm_tricore_cs.c
  librz/arch/p/asm/asm_xtensa_cs.c
  librz/core/casm.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/include/rz_asm.h
  librz/include/rz_core.h
  test/db/cmd/cmd_aL
Labels: rz-test, RzAnalysis, API, RzCore, merge-when-green, ARM, MIPS, PPC

#4854 `p-h`: Right-align "offset" column
  librz/core/cmd/cmd_print.c
  test/db/cmd/cmd_p-
Labels: rz-test, RzCore

#4851 Fuzz missing null check
  librz/core/analysis_tp.c
  test/db/cmd/cmd_af
Labels: rz-test, RzCore

#4856 Fix `/e` entry in `/?`
  librz/core/cmd/cmd_search.c
Labels: RzCore

#4858 UTF-16 encode/decode fixes
  librz/include/rz_util/rz_utf16.h
  librz/util/utf16.c
  test/unit/meson.build
  test/unit/test_encodings.c
Labels: rz-test, API, RzUtil

#4860 Rename `RzRune` to `RzCodePoint`
  librz/bin/pdb/cab_extract.c
  librz/core/disasm.c
  librz/include/rz_util/rz_ebcdic.h
  librz/include/rz_util/rz_utf16.h
  librz/include/rz_util/rz_utf32.h
  librz/include/rz_util/rz_utf8.h
  librz/search/keyword.c
  librz/util/ebcdic.c
  librz/util/json_parser.c
  librz/util/str.c
  librz/util/str_search.c
  librz/util/utf16.c
  librz/util/utf32.c
  librz/util/utf8.c
  test/unit/test_encodings.c
Labels: rz-test, RzBin, API, RzCore, PDB, RzUtil, RzSearch

#4861 Feature/supported cpu
  binrz/man/rz-asm.1
  librz/main/rz-asm.c
  test/db/tools/rz_asm
Labels: documentation, rz-asm, rz-test

#4862 `/e`: Set NUL (`\0`) as newline
  librz/arch/asm.c
  librz/arch/filter.c
  librz/arch/p/parse/parse_arm_pseudo.c
  librz/arch/p/parse/parse_mips_pseudo.c
  librz/arch/p/parse/parse_x86_pseudo.c
  librz/cons/less.c
  librz/core/casm.c
  librz/core/linux_heap_glibc.c
  librz/core/tui/visual.c
  librz/include/rz_util/rz_regex.h
  librz/magic/softmagic.c
  librz/search/regexp.c
  librz/util/regex.c
  librz/util/str.c
  test/db/cmd/regexp
  test/unit/test_regex.c
Labels: rz-test, RzAnalysis, API, RzCore, visual, panel, RzParse, RzUtil, RzCons, RzMagic, RzSearch

#4863 Add parameter annotation and make length type unsigned.
  librz/include/rz_util/rz_utf16.h
  librz/util/utf16.c
Labels: API, RzUtil

#4864 `/e`: Omit length from herald
  librz/core/cmd/cmd_search.c
  test/db/cmd/regexp
Labels: rz-test, RzCore

#4865 `/e`: Fix match highlight length
  librz/search/regexp.c
  test/db/cmd/regexp
Labels: rz-test, RzSearch

#4867 Bump Capstone v6 to Alpha3
  .github/workflows/ci.yml
  subprojects/capstone-v6.wrap
  subprojects/packagefiles/capstone-6.0.0-alpha3/meson.build
Labels: infrastructure

#4868 `/e`: Set `RZ_REGEX_MULTILINE` for `^` and `$`
  librz/core/cmd/cmd_search.c
  librz/search/regexp.c
  test/db/cmd/regexp
Labels: rz-test, RzCore, RzSearch

#4870 `/e`: Fix matching at block end
  librz/core/cmd/cmd_search.c
  test/db/cmd/regexp
Labels: rz-test, RzCore

#4871 Fix search range notation in search herald
  librz/core/cmd/cmd_search.c
  librz/include/rz_util/rz_itv.h
  test/db/cmd/regexp
Labels: rz-test, API, RzCore
