Repository rizinorg/rizin, pull requests merged in 2025-06, with the labels that each got.

#5188 Fix pre-v5 Capstone build.
  librz/arch/isa/arm/arm_esil64.c
Labels: RzAnalysis, merge-when-green, ARM

#5187 Refactor and improvements on ELF relocations
  librz/bin/format/elf/elf.h
  librz/bin/format/elf/elf64_relocs_conversion.c
  librz/bin/format/elf/elf64_relocs_patching.c
  librz/bin/format/elf/elf_imports.c
  librz/bin/format/elf/elf_relocs.c
  librz/bin/format/elf/elf_relocs_conversion.c
  librz/bin/format/elf/elf_relocs_patching.c
  librz/bin/format/elf/elf_specs.h
  librz/bin/format/elf/glibc_elf.h
  librz/bin/format/elf/nanomips_elf.h
  librz/bin/meson.build
  librz/bin/p/bin_elf.inc
  test/db/analysis/hexagon
  test/db/analysis/mips
  test/db/analysis/x86_32
  test/db/formats/elf/elf-relmips
  test/db/formats/elf/reloc
Labels: rz-test, RzBin, ELF

#5190 Refactor: improve `rz-bin -L` output
  librz/bin/p/bin_any.c
  librz/bin/p/bin_art.c
  librz/bin/p/bin_avr.c
  librz/bin/p/bin_bf.c
  librz/bin/p/bin_bflt.c
  librz/bin/p/bin_bios.c
  librz/bin/p/bin_bootimg.c
  librz/bin/p/bin_cgc.c
  librz/bin/p/bin_coff.c
  librz/bin/p/bin_dex.c
  librz/bin/p/bin_dmp64.c
  librz/bin/p/bin_dol.c
  librz/bin/p/bin_dyldcache.c
  librz/bin/p/bin_elf.c
  librz/bin/p/bin_elf64.c
  librz/bin/p/bin_java.c
  librz/bin/p/bin_luac.c
  librz/bin/p/bin_mach0.c
  librz/bin/p/bin_mach064.c
  librz/bin/p/bin_mbn.c
  librz/bin/p/bin_mdmp.c
  librz/bin/p/bin_menuet.c
  librz/bin/p/bin_mz.c
  librz/bin/p/bin_nes.c
  librz/bin/p/bin_nin3ds.c
  librz/bin/p/bin_ninds.c
  librz/bin/p/bin_ningb.c
  librz/bin/p/bin_ningba.c
  librz/bin/p/bin_nro.c
  librz/bin/p/bin_nso.c
  librz/bin/p/bin_omf.c
  librz/bin/p/bin_p9.c
  librz/bin/p/bin_pe.c
  librz/bin/p/bin_pe64.c
  librz/bin/p/bin_pebble.c
  librz/bin/p/bin_prg.c
  librz/bin/p/bin_psxexe.c
  librz/bin/p/bin_pyc.c
  librz/bin/p/bin_sfc.c
  librz/bin/p/bin_smd.c
  librz/bin/p/bin_sms.c
  librz/bin/p/bin_spc700.c
  librz/bin/p/bin_symbols.c
  librz/bin/p/bin_te.c
  librz/bin/p/bin_vsf.c
  librz/bin/p/bin_wasm.c
  librz/bin/p/bin_xbe.c
  librz/bin/p/bin_xnu_kernelcache.c
  librz/bin/p/bin_z64.c
  librz/bin/p/bin_zimg.c
  librz/core/cbin.c
  test/db/cmd/cmd_list
Labels: rz-test, RzBin, RzCore, ELF, PE, Mach-O, java, DEX

#5193 bin/elf: print warnings about unhandled relocs
  librz/bin/format/elf/elf_relocs_conversion.c
Labels: RzBin, ELF, reloc

#5208 Add NetBSD debug tests and fix errors
  binrz/rz-test/rz_test.h
  librz/debug/debug.c
  librz/debug/p/native/bsd/bsd_debug.c
  librz/debug/p/native/netbsd.c
  librz/debug/p/native/reg/netbsd-x64.h
  test/db/archos/netbsd-x64/dbg
Labels: rz-test, RzDebug, merge-when-green, BSD

#5212 [RzEgg] Remove Static variables in `emit_arm.c`
  librz/egg/egg.c
  librz/egg/emit_arm.c
  librz/egg/emit_trace.c
  librz/egg/emit_x86.c
  librz/include/rz_egg.h
Labels: API, RzEgg

#5218 util/table: clean up and add tests
  librz/util/table.c
  test/unit/test_table.c
Labels: rz-test, merge-when-green, RzUtil

#3273 Add FreeBSD x86_64 debug tests
  librz/core/cfile.c
  librz/debug/p/native/bsd/bsd_debug.c
  librz/debug/p/native/kfbsd.c
  librz/debug/p/native/reg/kfbsd-x64.h
  test/db/archos/freebsd-x64/dbg
Labels: rz-test, RzDebug, RzCore, merge-when-green, BSD

#5217 Remove relocation of offsets which were relative.
  librz/arch/function.c
  librz/arch/var.c
  librz/include/rz_analysis.h
Labels: RzAnalysis, API

#5222 Remove static variables in bin_avr.c
  librz/bin/p/bin_avr.c
Labels: RzBin

#5230 Add log.show.sources test for warnings after output
  test/db/cmd/cmd_search_z
Labels: rz-test
