Repository rizinorg/rizin, pull requests merged in 2025-05, with the labels that each got.

#5106 Move cmd_search_z prompt test to not-windows-any
  test/db/archos/not-windows-any/cmd_search_z
  test/db/cmd/cmd_search_z
Labels: rz-test

#5113 rz-find: do not print filenames without match
  librz/main/rz-find.c
Labels: rz-find

#5112 Forbid aav execution if arch is mips
  librz/core/canalysis.c
  test/db/analysis/mips
Labels: rz-test, RzCore

#5115 fix: `pxf` command prints function hexdump
  librz/core/cmd/cmd_print.c
  test/db/cmd/cmd_print
Labels: rz-test, RzCore, merge-when-green

#5116 fix: `izx` command help in `iz?`
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_info.yaml
Labels: RzCore

#5114 MIPS: correct alignment based on cpu
  librz/arch/p/analysis/analysis_mips_cs.c
  test/db/analysis/mips
Labels: rz-test, RzAnalysis, MIPS

#5087 Split very large basic blocks
  librz/arch/analysis.c
  librz/arch/block.c
  librz/arch/fcn.c
  librz/core/canalysis.c
  librz/core/cconfig.c
  librz/include/rz_analysis.h
  test/integration/meson.build
  test/integration/test_analysis_fcn.c
Labels: rz-test, RzAnalysis, API, RzCore

#5120 Fix possible null deref when malloc fails in crypto
  librz/crypto/crypto.c
Labels: RzCrypto

#5118 cmd_search_z prompt test: Set search.show_progress=false
  test/db/archos/not-windows-any/cmd_search_z
  test/db/cmd/cmd_search_z
Labels: rz-test

#5126 hexII mode: add option to hide dots in for printable characters
  librz/core/cconfig.c
  librz/include/rz_util/rz_print.h
  librz/util/print.c
Labels: API, RzCore, RzUtil

#5123 Fix memory leaks of rz_analysis_xrefs_get_to
  librz/core/analysis_objc.c
  librz/core/cbin.c
  librz/core/cmd/cmd_analysis.c
  librz/core/cmd/cmd_print.c
  librz/core/tui/vmenus_graph.c
Labels: RzCore, visual, panel

#5125 Fix: Cannot scroll to the first page of the long function using PgUp …
  librz/core/tui/vmenus.c
Labels: RzCore, visual, panel

#5128 Fix: Vv visual mode shows the unexpected menu when scr.color=0
  librz/core/tui/vmenus.c
Labels: RzCore, visual, panel

#5132 colorize afi output
  librz/core/cmd/cmd_analysis.c
Labels: RzCore, merge-when-green

#5129 rz-find: print filename for symbol and import search
  librz/main/rz-find.c
Labels: rz-find, merge-when-green

#5133 Fix: wrong access of the config scr.color
  librz/core/canalysis.c
  librz/include/rz_heap_glibc.h
  librz/include/rz_heap_jemalloc.h
Labels: API, RzCore, merge-when-green

#5138 librz/bin: add ELF MIPS relocations
  librz/bin/p/bin_elf.inc
  test/db/formats/elf/elf-relmips
Labels: rz-test, RzBin, ELF

#5136 elf.c: Check `e_shstrndx` against `sections`' length, not capacity
  librz/bin/format/elf/elf.c
Labels: RzBin, ELF

#5139 Remove unused mips asm test
  test/db/asm/mips_v2_64
Labels: rz-test

#5140 Include fuzz tests in Codecov
  .github/workflows/ci.yml
Labels: infrastructure

#5141 Show variables with complex storage in afi
  librz/core/cmd/cmd_analysis.c
  test/db/cmd/cmd_af
Labels: rz-test, RzCore, merge-when-green

#5102 Make code compilable under `checks_level` 0 and 3
  librz/arch/class.c
  librz/arch/isa/rl78/rl78_instr.c
  librz/arch/isa/x86/common.c
  librz/arch/isa/xtensa/xtensa_il.c
  librz/arch/reflines.c
  librz/arch/var_global.c
  librz/bin/bin.c
  librz/bin/format/luac/v54/parse_54.c
  librz/bin/format/mdmp/mdmp_pe.c
  librz/bin/p/bin_mdmp.c
  librz/core/analysis_objc.c
  librz/core/cmd/cmd.c
  librz/include/rz_util/rz_assert.h
  librz/include/rz_util/rz_log.h
  librz/io/p/io_mach.c
  test/integration/test_autocmplt.c
  test/integration/test_glibc_version.c
  test/unit/test_cmd.c
  test/unit/test_core_cmd.c
  test/unit/test_encodings.c
Labels: rz-test, RzIO, RzBin, RzAnalysis, API, RzCore, PE, X86, RZIL, RzAsm-Assembler, RL78, Xtensa

#5143 Set `checks_level`=3 on codecov build
  .github/workflows/ci.yml
Labels: infrastructure

#5144 Set `checks_level`=0 on `linux-meson-clang-tests` build
  .github/workflows/ci.yml
Labels: infrastructure

#5145 Update capstone to the latest next
  subprojects/capstone-next.wrap
  test/db/analysis/arm64
Labels: rz-test, merge-when-green

#5146 Do not print warning on NONE MIPS relocation
  librz/bin/p/bin_elf.inc
Labels: RzBin, ELF

#5147 Remove "not" from rz_path(_set)_prefix func comments
  librz/util/path.c
Labels: RzUtil

#5149 Fixes for Haiku OS
  librz/arch/isa/tricore/tricore_il.c
  librz/cons/input.c
  librz/debug/p/debug_native.c
  librz/debug/p/native/unsupported.c
  librz/include/rz_debug.h
  librz/util/sys.c
Labels: RzAnalysis, RzDebug, API, RzUtil, RzCons, RZIL, TriCore

#5153 Update hexdump & breakpoint list visual panel commands.
  librz/core/tui/panels.c
Labels: RzCore, visual, panel

#5154 Fix divide by zero in visual open list command
  librz/core/cmd/cmd_open.c
Labels: RzCore

#5160 Set RzAnalysisOp family in mips
  librz/arch/p/analysis/analysis_mips_cs.c
  test/db/analysis/mips
Labels: rz-test, RzAnalysis, MIPS

#5161 Use `rz_buf_new_file` when loading PDB & FLIRT files.
  librz/bin/pdb/pdb.c
  librz/core/csign.c
  librz/sign/flirt.c
Labels: RzBin, RzCore, PDB, FLIRT

#5157 add ppc64le dbg tests
  binrz/rz-test/rz-test.c
  binrz/rz-test/rz_test.h
  test/db/archos/linux-ppc/dbg_mem
  test/db/archos/linux-ppc/dbg_reg
  test/db/archos/linux-ppc/dbg_sig
  test/db/archos/linux-ppc/dbg_step
Labels: rz-test

#5163 Revert "add ppc64le dbg tests"
  binrz/rz-test/rz-test.c
  binrz/rz-test/rz_test.h
  test/db/archos/linux-ppc/dbg_mem
  test/db/archos/linux-ppc/dbg_reg
  test/db/archos/linux-ppc/dbg_sig
  test/db/archos/linux-ppc/dbg_step
Labels: rz-test

#5122 Refine the output of iz command and remove ordinal in RzBinString
  librz/bin/bfile_string.c
  librz/bin/format/dex/dex.c
  librz/bin/format/java/class_bin.c
  librz/bin/format/pyc/marshal.c
  librz/core/cbin.c
  librz/core/golang.c
  librz/include/rz_bin.h
  librz/main/rz-bin.c
  librz/main/rz-find.c
  test/db/cmd/cmd_i
  test/db/cmd/cmd_string
  test/db/cmd/utf32
  test/db/cmd/write
  test/db/formats/elf/strings
  test/db/formats/java
  test/db/formats/mdmp
  test/db/formats/smd
  test/db/tools/rz_bin
Labels: rz-bin, rz-test, RzBin, rz-find, API, RzCore, java, DEX

#5166 Enable rz-test to test for multiple instructions in a single asm test case
  binrz/rz-test/run.c
  librz/main/rz-asm.c
  test/README.md
  test/db/asm/arm_16
Labels: rz-asm, rz-test

#5170 Fix leak in error case
  librz/main/rz-asm.c
Labels: rz-asm

#5167 Add calculation of total information content and information temperature
  librz/bin/bfile.c
  librz/core/cconfig.c
  librz/core/cmd/cmd_print.c
  librz/hash/algorithms/temperature/temperature.c
  librz/hash/algorithms/temperature/temperature.h
  librz/hash/hash.c
  librz/hash/meson.build
  librz/hash/p/algo_temperature.c
  test/db/cmd/cmd_i
  test/db/cmd/cmd_list
  test/db/formats/n3ds
  test/db/formats/pe/authentihash
  test/db/tools/rz_hash
  test/unit/test_hash.c
Labels: rz-test, RzBin, RzCore, RzHash

#5183 Tst esil fix
  librz/arch/isa/arm/arm_esil64.c
  test/db/esil/arm_64
Labels: rz-test, RzAnalysis, ARM
