Repository rizinorg/rizin, pull requests merged in 2025-10, with the labels that each got.

#5416 Fix using system zydis
  librz/arch/isa/x86/x86_il.h
  librz/arch/isa/x86/x86_mnemonics.h
  librz/arch/p/analysis/analysis_x86_zydis.c
  librz/arch/p/asm/asm_x86_zydis.c
  librz/include/rz_userconf.h.in
  meson.build
Labels: RzAnalysis, API, X86, RZIL, RzAsm-Disassembler

#5426 `-h`: Convert camelCase vars to snake_case
  librz/util/print.c
Labels: RzUtil

#5427 rz_print_colored_help: Add guard condition to check `options` length
  librz/util/print.c
Labels: RzUtil

#5340 Add Renesas H8/500 plugin
  librz/arch/isa/h8500/h8500.c
  librz/arch/isa/h8500/h8500.h
  librz/arch/meson.build
  librz/arch/p/analysis/analysis_h8500.c
  librz/arch/p/arch_h8500.c
  librz/arch/p/asm/asm_h8500.c
  librz/bin/format/coff/coff.c
  librz/bin/format/coff/coff_specs.h
  librz/bin/p/bin_coff.c
  test/db/analysis/h8500
  test/db/asm/h8500
  test/db/cmd/cmd_aL
  test/db/cmd/cmd_list
  test/db/formats/coff
Labels: rz-asm, rz-test, RzBin, RzAnalysis

#5429 Remove `-X` from `rz-bin -h`
  binrz/man/rz-bin.1
  librz/main/rz-bin.c
  test/db/tools/rz
Labels: documentation, rz-bin, rz-test

#5434 Add DOTALL flag to regex.
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_search.yaml
  librz/include/rz_util/rz_regex.h
  librz/util/regex.c
Labels: API, RzCore, RzUtil

#5432 Add some doxygen
  librz/include/rz_util/rz_regex.h
  librz/include/rz_util/rz_str.h
Labels: API

#5437 Add unit test for #5425
  test/unit/test_vector.c
Labels: rz-test, API, RzUtil

#5431 Utf16/32 strings to utf8 strings
  librz/bin/format/dmp/dmp64.c
  librz/bin/p/bin_mdmp.c
  librz/core/cbin.c
  librz/include/rz_util/rz_str.h
  librz/include/rz_util/rz_utf16.h
  librz/include/rz_util/rz_utf32.h
  librz/util/axml.c
  librz/util/str.c
  librz/util/utf16.c
  librz/util/utf32.c
  subprojects/rzwinkd/winkd.c
  test/unit/test_str.c
Labels: rz-test, RzBin, API, RzCore, PE, WinDbg, RzUtil

#5439 Remove brackets from args in `rz-find -h`
  binrz/man/rz-find.1
  librz/main/rz-find.c
  test/db/tools/rz
Labels: documentation, rz-test, rz-find

#5406 Bin str search
  librz/bin/bfile_string.c
  librz/bin/bobj_process.c
  librz/bin/bobj_process_string.c
  librz/bin/format/mbn/mbn.c
  librz/bin/meson.build
  librz/bin/p/bin_pe.c
  librz/bin/p/bin_pe.inc
  librz/bin/p/bin_pe64.c
  librz/bin/p/bin_wasm.c
  librz/core/cconfig.c
  librz/include/rz_bin.h
  librz/include/rz_search.h
  librz/include/rz_util/rz_regex.h
  librz/include/rz_util/rz_str.h
  librz/include/rz_util/rz_utf8.h
  librz/search/search.c
  librz/search/string_search.c
  librz/util/regex.c
  librz/util/str.c
  librz/util/str_search.c
  librz/util/utf8.c
  test/db/analysis/golang
  test/db/cmd/basic
  test/db/cmd/cmd_i
  test/db/cmd/cmd_json
  test/db/cmd/cmd_search
  test/db/cmd/cmd_search_hit
  test/db/cmd/cmd_search_z
  test/db/cmd/regexp
  test/integration/test_str_search.c
Labels: rz-test, RzBin, API, RzCore, PE, WinDbg, RzUtil, RzSearch
