Repository rizinorg/rizin, changes with the owners that CODEOWNERS names for each.
All owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc, @yossizap

CODEOWNERS:

* @wargio @XVilka @kazarmy @thestr4ng3r @ret2libc
*.js @wargio
CODEOWNERS @wargio @XVilka @kazarmy @thestr4ng3r @ret2libc
librz/analysis/ @thestr4ng3r
librz/analysis/esil* @wargio
librz/analysis/xrefs.c @ret2libc
librz/arch/gb/ @wargio
librz/asm/ @wargio
librz/asm/p/x86_* @ret2libc
librz/asm/p/arm_* @wargio
librz/bin/ @ret2libc @wargio
librz/bin/format/elf/ @ret2libc @kazarmy
librz/bin/format/mach0/ @wargio
librz/bin/format/objc/ @wargio
librz/bin/format/wasm/ @wargio
librz/config/ @wargio @ret2libc
librz/cons/ @thestr4ng3r @wargio
librz/core/cmd.c @ret2libc @wargio
librz/debug/ @yossizap @wargio
librz/egg/ @wargio
librz/flag/ @ret2libc @wargio
librz/fs/ @wargio
librz/io/ @wargio @ret2libc
librz/lang/ @thestr4ng3r @wargio @ret2libc
librz/magic/ @wargio
librz/parse/ @ret2libc @wargio
librz/reg/ @XVilka @wargio
librz/socket/ @XVilka @yossizap
librz/syscall/ @ret2libc @wargio
librz/type/ @XVilka
librz/util/ @ret2libc @thestr4ng3r
shlr/gdb/ @yossizap
shlr/ptrace-wrap/ @thestr4ng3r
shlr/rizin-shell-parser/ @ret2libc
shlr/w32dbg_wrap/ @yossizap
shlr/winkd/ @yossizap

Update librz/bin/format/mach0/coresymbolication.c
  librz/bin/format/mach0/coresymbolication.c
Owners: @wargio

Remove `-` (open editor) from rzshell (#1596)
  librz/core/cmd.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
Owners: @ret2libc, @wargio, @XVilka, @kazarmy, @thestr4ng3r

bin/format/mach0: check for int overflow before allocating segments (#1625)
  librz/bin/format/mach0/coresymbolication.c
Owners: @wargio

Fix minor leak in union parsing (#1627)
  librz/type/parser/types_parser.c
Owners: @XVilka

Remove `-` (open editor) from rzshell (#1596)
  librz/core/cmd.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
Owners: @ret2libc, @wargio, @XVilka, @kazarmy, @thestr4ng3r

bin/format/mach0: check for int overflow before allocating segments (#1625)
  librz/bin/format/mach0/coresymbolication.c
Owners: @wargio

Fix minor leak in union parsing (#1627)
  librz/type/parser/types_parser.c
Owners: @XVilka

Update licenses
  librz/bp/serialize_bp.c
  librz/debug/serialize_debug.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc, @yossizap

Add tests for debug (RzDebug) serialization
  test/unit/meson.build
  test/unit/test_serialize_debug.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Temporary removal of project migration tests for debug serialization
  test/unit/test_project_migrate.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix type name parsing in `tc` and `tcd`
  librz/core/cmd_type.c
  librz/core/core_private.h
  librz/core/ctypes.c
  test/db/cmd/cmd_tc
  test/db/cmd/types
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

bin/format/mach0: check for int overflow before allocating segments (#1625)
  librz/bin/format/mach0/coresymbolication.c
Owners: @wargio

Fix minor leak in union parsing (#1627)
  librz/type/parser/types_parser.c
Owners: @XVilka

Add `RZ_BUILD_DEBUG` compile time definition for debug logging (#1616)
  librz/core/cmd.c
  librz/include/rz_userconf.h.in
  librz/include/rz_util/rz_log.h
  librz/type/parser/c_cpp_parser.c
  meson.build
Owners: @ret2libc, @wargio, @XVilka, @kazarmy, @thestr4ng3r

Fix OOB read in UTF-8 length function (#1622)
  librz/util/str.c
Owners: @ret2libc, @thestr4ng3r

Add tips for storing project in compressed format and global variables
  doc/fortunes.tips
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix some leaks detected by Coverity (#1619)
  librz/bin/bobj.c
  librz/core/cbin.c
  librz/core/cmd_info.c
  librz/core/cmd_type.c
Owners: @ret2libc, @wargio, @XVilka, @kazarmy, @thestr4ng3r

Bump Project version to 5, add `unknown_t`
  librz/core/project_migrate.c
  librz/include/rz_project.h
  test/db/cmd/project
  test/unit/test_project_migrate.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix debugger on Alpine Linux by using proper ptrace type and data (#1623)
  librz/include/rz_io.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Remove `-` (open editor) from rzshell (#1596)
  librz/core/cmd.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
Owners: @ret2libc, @wargio, @XVilka, @kazarmy, @thestr4ng3r

Fix atomic type format serialization
  librz/type/serialize_types.c
Owners: @XVilka

Fix .- command parsing
  shlr/rizin-shell-parser/corpus/simple_commands.txt
  shlr/rizin-shell-parser/grammar.js
  shlr/rizin-shell-parser/src/grammar.json
  shlr/rizin-shell-parser/src/parser.c
Owners: @ret2libc

Load bit-specific types before arch-specific
  librz/type/type.c
Owners: @XVilka

Use source_fallback_url when failing (#1604)
  subprojects/libuv.wrap
  subprojects/lz4.wrap
  subprojects/zlib.wrap
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

debug: generate coredump on netbsd. (#1603)
  librz/core/cmd_debug.c
  librz/debug/p/debug_native.c
  librz/debug/p/debug_windbg.c
  librz/debug/p/native/bsd/bsd_debug.c
  librz/debug/p/native/bsd/bsd_debug.h
  librz/include/rz_debug.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc, @yossizap

Implement `t*` and remove `tn*` because not needed/working
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_type.yaml
  librz/core/ctypes.c
  test/db/cmd/types
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Load types, callables, classes before functions and variables
  librz/analysis/serialize_analysis.c
Owners: @thestr4ng3r

Fixed OOB read in mach0.c
  librz/bin/format/mach0/mach0.c
Owners: @wargio

Use UTC timezone for tests
  binrz/rz-test/rz-test.c
  test/README.md
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Resolve MMIO and extended registers
  librz/analysis/arch_profile.c
  librz/analysis/op.c
  librz/analysis/p/analysis_avr.c
  librz/core/disasm.c
  librz/include/rz_analysis.h
  librz/include/rz_arch.h
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Migrate project from v5 to v6
  librz/core/project_migrate.c
  librz/include/rz_project.h
  test/db/cmd/project
  test/unit/test_project_migrate.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Added test
  test/db/analysis/avr
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Use UTC timezone for tests
  binrz/rz-test/rz-test.c
  test/README.md
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Update tree-sitter to 0.19.5
  subprojects/packagefiles/tree-sitter-0.19.5/meson.build
  subprojects/tree-sitter.wrap
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Resolve MMIO and extended registers (#1631)
  librz/analysis/arch_profile.c
  librz/analysis/op.c
  librz/analysis/p/analysis_avr.c
  librz/core/disasm.c
  librz/include/rz_analysis.h
  librz/include/rz_arch.h
  test/db/analysis/avr
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Update tree-sitter to 0.19.5 (#1633)
  subprojects/packagefiles/tree-sitter-0.19.5/meson.build
  subprojects/tree-sitter.wrap
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Use UTC timezone for tests
  binrz/rz-test/rz-test.c
  test/README.md
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Resolve MMIO and extended registers (#1631)
  librz/analysis/arch_profile.c
  librz/analysis/op.c
  librz/analysis/p/analysis_avr.c
  librz/core/disasm.c
  librz/include/rz_analysis.h
  librz/include/rz_arch.h
  test/db/analysis/avr
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Update tree-sitter to 0.19.5 (#1633)
  subprojects/packagefiles/tree-sitter-0.19.5/meson.build
  subprojects/tree-sitter.wrap
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Remove `cb_printf` from `RzConfig`
  librz/core/cmd_eval.c
  librz/include/rz_config.h
  librz/main/rizin.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc
