Repository rizinorg/rizin, changes with the owners that CODEOWNERS names for each.
All owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc, @yossizap

Fix #807 - Don't use `cmd.prompt` to update register flags (#1705)
  librz/core/cconfig.c
  librz/core/cdebug.c
  librz/core/cio.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/core.c
  librz/core/core_private.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fixes for WinDbg plugin debugging (#1675)
  librz/debug/p/debug_windbg.c
  librz/io/p/io_windbg.c
Owners: @yossizap, @wargio, @ret2libc

Add macro to simplified rz_buf_read_* and rz_buf_write_* definition
  librz/include/rz_util/rz_buf.h
  librz/util/buf.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add rz_buf_write_* API to read ut16, ut32, ut64 from a buf
  librz/bin/format/coff/coff.c
  librz/bin/format/elf/elf_imports.c
  librz/bin/format/elf/elf_misc.c
  librz/bin/format/le/le.c
  librz/bin/format/mach0/mach0.c
  librz/include/rz_util/rz_buf.h
  librz/util/buf.c
Owners: @ret2libc, @wargio, @kazarmy, @XVilka, @thestr4ng3r

Add Doxygen documentation for `rz_type_as_pretty_string`
  librz/include/rz_type.h
  librz/type/type.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Strip trailing comma in enum type pretty string
  librz/type/type.c
Owners: @XVilka

WIP get_lowest_unmapped_addr !!!
  librz/bin/format/elf/elf.h
  librz/bin/format/elf/elf64_patch.c
  librz/bin/format/elf/elf_patch.c
  librz/bin/format/elf/elf_relocs.c
  librz/bin/p/bin_elf.inc
Owners: @ret2libc, @kazarmy, @wargio

WIP
  librz/bin/format/elf/elf.c
  librz/bin/format/elf/elf.h
  librz/bin/format/elf/elf64_ehdr.c
  librz/bin/format/elf/elf_ehdr.c
  librz/bin/format/elf/elf_specs.h
  librz/bin/meson.build
  librz/bin/p/bin_cgc.c
  librz/bin/p/bin_elf.c
  librz/bin/p/bin_elf.inc
  librz/bin/p/bin_elf64.c
  test/db/cmd/cmd_i
  test/db/cmd/metadata
  test/db/formats/elf/thumb
  test/db/tools/rz_bin
Owners: @ret2libc, @kazarmy, @wargio, @XVilka, @thestr4ng3r

WIP Move to rz_buf_write and split reloc patching
  librz/bin/format/elf/elf.h
  librz/bin/format/elf/elf_patch.c
  librz/bin/format/elf/elf_relocs.c
  librz/bin/meson.build
Owners: @ret2libc, @kazarmy, @wargio

RzVirtTermMode for more clarity & rename to rz_cons_detect_vt_mode
  librz/cons/cons.c
  librz/cons/dietline.c
  librz/cons/input.c
  librz/cons/line.c
  librz/cons/output.c
  librz/core/cconfig.c
  librz/core/visual.c
  librz/include/rz_cons.h
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Add `RZ_TYPE_PRINT_NO_OPTS` for specifying no options
  librz/include/rz_type.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Minor changes to the type pretty printing API
  librz/type/type.c
Owners: @XVilka

Add tests for `rz_type_as_pretty_string`
  test/unit/test_type.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

fix rz_is_ebcdic
  librz/util/ebcdic.c
Owners: @ret2libc, @thestr4ng3r

ebcdic.c add ASCII<->EBCDIC conversion
  librz/include/rz_util/rz_ebcdic.h
  librz/util/ebcdic.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add ebcdic.c#ibm037_to_unicode
  librz/include/rz_util/rz_ebcdic.h
  librz/util/ebcdic.c
  librz/util/meson.build
  test/unit/meson.build
  test/unit/test_ebcdic.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

fix ebcdic_es_to_unicode
  librz/util/ebcdic.c
Owners: @ret2libc, @thestr4ng3r

fix
  librz/util/ebcdic.c
Owners: @ret2libc, @thestr4ng3r

ebcdic.c generate tables
  librz/util/ebcdic.c
Owners: @ret2libc, @thestr4ng3r

modified: librz/util/ebcdic.c
  librz/util/ebcdic.c
Owners: @ret2libc, @thestr4ng3r

EBCDIC
  librz/include/rz_util/rz_ebcdic.h
  librz/util/ebcdic.c
  test/unit/test_ebcdic.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

fix ebcdic_es_page20
  librz/util/ebcdic.c
Owners: @ret2libc, @thestr4ng3r

Refactor skipping of archos category
  binrz/rz-test/load.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

`archos/`: Support `any` arch for `not-` categories
  binrz/rz-test/load.c
  test/db/archos/not-windows-any/cmd_pt
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Unicode fixes for Windows (#1703)
  librz/main/rizin.c
  librz/main/rz-diff.c
  librz/main/rz-sign.c
  librz/util/file.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

UTF-16 be, UTF-32 be support (#1535)
  librz/bin/bfile.c
  librz/bin/bin.c
  librz/core/cbin.c
  librz/include/rz_bin.h
  librz/include/rz_util.h
  librz/include/rz_util/rz_str_search.h
  librz/include/rz_util/rz_utf32.h
  librz/meson.build
  librz/util/meson.build
  librz/util/str_search.c
  test/db/cmd/cmd_i
  test/db/formats/mdmp
  test/unit/meson.build
  test/unit/test_str_search.c
Owners: @ret2libc, @wargio, @XVilka, @kazarmy, @thestr4ng3r

Do not use VLA - MSVC does not support them (#1706)
  librz/util/str_search.c
Owners: @ret2libc, @thestr4ng3r

Fix #807 - Don't use `cmd.prompt` to update register flags (#1705)
  librz/core/cconfig.c
  librz/core/cdebug.c
  librz/core/cio.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/core.c
  librz/core/core_private.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fixes for WinDbg plugin debugging (#1675)
  librz/debug/p/debug_windbg.c
  librz/io/p/io_windbg.c
Owners: @yossizap, @wargio, @ret2libc

Add check for `subname`
  binrz/rz-test/load.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

io: silent warning on openbsd
  librz/include/rz_io.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add doxygen for ebcdic.c
  librz/util/ebcdic.c
Owners: @ret2libc, @thestr4ng3r

format
  librz/util/ebcdic.c
Owners: @ret2libc, @thestr4ng3r

io: silent warning on openbsd (#1715)
  librz/include/rz_io.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

`archos/`: Support `any` arch for `not-` categories (#1713)
  binrz/rz-test/load.c
  test/db/archos/not-windows-any/cmd_pt
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix more restrictions and add tests
  librz/analysis/class.c
  test/db/cmd/cmd_ac
  test/db/cmd/project
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Remove the rest of sdb_fmt()
  librz/analysis/class.c
  test/db/cmd/cmd_ac
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Update SDB
  subprojects/sdb.wrap
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix handling of long Analysis Class names
  librz/analysis/class.c
Owners: @thestr4ng3r

Mark as unbroken
  test/db/cmd/cmd_ac
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

CODEOWNERS:

* @wargio @XVilka @kazarmy @thestr4ng3r @ret2libc
*.js @wargio
CODEOWNERS @wargio @XVilka @kazarmy @thestr4ng3r @ret2libc
librz/analysis/ @thestr4ng3r
librz/analysis/esil* @wargio
librz/analysis/xrefs.c @ret2libc
librz/arch/gb/ @wargio
librz/asm/ @wargio
librz/asm/p/x86_* @ret2libc
librz/asm/p/arm_* @wargio
librz/bin/ @ret2libc @wargio
librz/bin/format/elf/ @ret2libc @kazarmy
librz/bin/format/mach0/ @wargio
librz/bin/format/objc/ @wargio
librz/bin/format/wasm/ @wargio
librz/config/ @wargio @ret2libc
librz/cons/ @thestr4ng3r @wargio
librz/core/cmd.c @ret2libc @wargio
librz/debug/ @yossizap @wargio
librz/egg/ @wargio
librz/flag/ @ret2libc @wargio
librz/fs/ @wargio
librz/io/ @wargio @ret2libc
librz/lang/ @thestr4ng3r @wargio @ret2libc
librz/magic/ @wargio
librz/parse/ @ret2libc @wargio
librz/reg/ @XVilka @wargio
librz/socket/ @XVilka @yossizap
librz/syscall/ @ret2libc @wargio
librz/type/ @XVilka
librz/util/ @ret2libc @thestr4ng3r
shlr/gdb/ @yossizap
shlr/ptrace-wrap/ @thestr4ng3r
shlr/rizin-shell-parser/ @ret2libc
shlr/w32dbg_wrap/ @yossizap
shlr/winkd/ @yossizap
