Repository rizinorg/rizin, changes with the owners that CODEOWNERS names for each.
All owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc, @yossizap

CODEOWNERS:

* @wargio @XVilka @kazarmy @thestr4ng3r @ret2libc
*.js @wargio
CODEOWNERS @wargio @XVilka @kazarmy @thestr4ng3r @ret2libc
librz/analysis/ @thestr4ng3r
librz/analysis/esil* @wargio
librz/analysis/xrefs.c @ret2libc
librz/arch/gb/ @wargio
librz/asm/ @wargio
librz/asm/p/x86_* @ret2libc
librz/asm/p/arm_* @wargio
librz/bin/ @ret2libc @wargio
librz/bin/format/elf/ @ret2libc @kazarmy
librz/bin/format/mach0/ @wargio
librz/bin/format/objc/ @wargio
librz/bin/format/wasm/ @wargio
librz/config/ @wargio @ret2libc
librz/cons/ @thestr4ng3r @wargio
librz/core/cmd.c @ret2libc @wargio
librz/debug/ @yossizap @wargio
librz/egg/ @wargio
librz/flag/ @ret2libc @wargio
librz/fs/ @wargio
librz/io/ @wargio @ret2libc
librz/lang/ @thestr4ng3r @wargio @ret2libc
librz/magic/ @wargio
librz/parse/ @ret2libc @wargio
librz/reg/ @XVilka @wargio
librz/socket/ @XVilka @yossizap
librz/syscall/ @ret2libc @wargio
librz/type/ @XVilka
librz/util/ @ret2libc @thestr4ng3r
shlr/gdb/ @yossizap
shlr/ptrace-wrap/ @thestr4ng3r
shlr/rizin-shell-parser/ @ret2libc
shlr/w32dbg_wrap/ @yossizap
shlr/winkd/ @yossizap

Fix comment
  librz/util/time.c
Owners: @ret2libc, @thestr4ng3r

Acknowledge that mktime() on Windows adjusts towards UTC
  librz/util/time.c
Owners: @ret2libc, @thestr4ng3r

Fix coverity bugs (#1654)
  binrz/rz-test/rz-test.c
  librz/asm/asm.c
  librz/bin/format/java/class_bin.c
  librz/core/disasm.c
  librz/main/rz-hash.c
  librz/main/rz-run.c
  librz/main/rz-sign.c
  librz/util/strpool.c
  librz/util/subprocess.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

CID 315924: Out-of-bounds access (OVERRUN) (#1653)
  librz/util/file.c
Owners: @ret2libc, @thestr4ng3r

Advance 1 day instead
  librz/util/time.c
Owners: @ret2libc, @thestr4ng3r

Acknowledge that mktime() normalizes time
  librz/util/time.c
Owners: @ret2libc, @thestr4ng3r

Minimal migration from index approach tree-like approach
  librz/analysis/p/analysis_bf.c
  librz/analysis/rzil/rzil.c
  librz/analysis/rzil/rzil_stats.c
  librz/analysis/rzil/rzil_trace.c
  librz/core/cil.c
  librz/il/definitions/effect.c
  librz/il/rzil_vm.c
  librz/il/theory_bitv.c
  librz/il/theory_bool.c
  librz/il/theory_effect.c
  librz/il/theory_init.c
  librz/il/theory_mem.c
  librz/il/vm_layer.c
  librz/include/rz_il/definitions/effect.h
  librz/include/rz_il/rzil_opcodes.h
  librz/include/rz_il/rzil_vm.h
  librz/include/rz_il/vm_layer.h
  test/unit/test_il_definitions.c
  test/unit/test_il_vm.c
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Check if mktime() returns -1
  librz/util/time.c
Owners: @ret2libc, @thestr4ng3r

Use `__WINDOWS__` instead
  librz/util/time.c
Owners: @ret2libc, @thestr4ng3r

Use `_r` versions of `ctime()`, `gmtime()` and `localtime()`
  librz/include/rz_util/rz_time.h
  librz/util/time.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Remove yank test where we alloc 2 GB of ram for no reason (#1652)
  test/db/cmd/feat_yank
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Default build to Windows 10/Windows Server 2016 (#1649)
  librz/asm/arch/arc/gnu/arc-dis.c
  librz/asm/arch/arc/gnu/arcompact-dis.c
  librz/asm/arch/hppa/gnu/hppa-dis.c
  librz/asm/arch/xtensa/gnu/xtensa-isa.c
  librz/include/rz_types.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix function pointers printing in complex types
  librz/analysis/fcn.c
  librz/core/ctypes.c
  librz/include/rz_type.h
  librz/type/base.c
  librz/type/function.c
  librz/type/helpers.c
  librz/type/type.c
  test/db/cmd/types
  test/unit/test_type.c
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Fix enum printing
  librz/type/parser/types_parser.c
  test/db/cmd/types
  test/unit/test_type.c
Owners: @XVilka, @wargio, @kazarmy, @thestr4ng3r, @ret2libc

core: While doing @dm gather all addresses first, then iterate
  librz/core/cmd.c
Owners: @ret2libc, @wargio

Update tree-sitter to 0.19.5 (#1633)
  subprojects/packagefiles/tree-sitter-0.19.5/meson.build
  subprojects/tree-sitter.wrap
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add tests for `rz_type*_as_string()` functions
  librz/type/function.c
  librz/type/type.c
  test/db/cmd/cmd_avg
  test/db/cmd/cmd_tc
  test/db/cmd/types
  test/unit/test_pdb.c
  test/unit/test_serialize_analysis.c
  test/unit/test_type.c
Owners: @XVilka, @wargio, @kazarmy, @thestr4ng3r, @ret2libc

Revert "Do not glitch the prompt when using scr.color=0 ##cons (#18057)" (#1647)
  librz/cons/dietline.c
Owners: @thestr4ng3r, @wargio

Fix array printing in complex types
  librz/core/ctypes.c
  librz/include/rz_type.h
  librz/type/base.c
  librz/type/type.c
  test/unit/test_type.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix Windows functions test
  test/db/cmd/types
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fixing Coverity detected leaks in types (#1644)
  librz/type/type.c
Owners: @XVilka

Use UTC timezone for tests
  binrz/rz-test/rz-test.c
  test/README.md
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Resolve MMIO and extended registers (#1631)
  librz/analysis/arch_profile.c
  librz/analysis/op.c
  librz/analysis/p/analysis_avr.c
  librz/core/disasm.c
  librz/include/rz_analysis.h
  librz/include/rz_arch.h
  test/db/analysis/avr
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Use PJ in `config_print_node()` (#1488)
  librz/config/config.c
  librz/core/cconfig.c
  librz/core/cmd.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_eval.yaml
  librz/core/cmd_eval.c
  librz/include/rz_config.h
  librz/include/rz_core.h
  librz/main/rizin.c
  test/db/cmd/cmd_eval
  test/db/cmd/regexp
Owners: @wargio, @ret2libc, @XVilka, @kazarmy, @thestr4ng3r

Run `dist` builds [revert before merge]
  .github/workflows/ci.yml
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Revert "Run `dist` builds [revert before merge]"
  .github/workflows/ci.yml
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add UTC timezone to timestamps (#1639)
  librz/include/rz_util/rz_time.h
  librz/util/time.c
  test/db/archos/darwin-x64/cmd_pt
  test/db/archos/linux-x64/cmd_pt
  test/db/archos/windows-x64/cmd_pt
  test/db/cmd/cmd_i
  test/db/cmd/cmd_pt
  test/db/formats/pe/arm
  test/db/formats/pe/resource
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add new auto convertion code
  librz/il/rzil_vm.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Set `_WIN32_WINNT`/`NTDDI_VERSION` before including `sdkddkver.h`
  librz/include/rz_types.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix bug in new rzil op struct
  librz/analysis/p/analysis_bf.c
  librz/core/cil.c
  librz/il/theory_bool.c
  librz/il/theory_effect.c
  librz/il/vm_layer.c
  librz/include/rz_il/rzil_vm.h
  librz/include/rz_il/vm_layer.h
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Clang-format code
  librz/core/cil.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Run `dist` builds [revert before merge]
  .github/workflows/ci.yml
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Try defining WINVER as well
  librz/include/rz_types.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Revert "Try defining WINVER as well"
  librz/include/rz_types.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Revert "Set `_WIN32_WINNT`/`NTDDI_VERSION` before including `sdkddkver.h`"
  librz/include/rz_types.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

#undef `_WIN32_WINNT` and `NTDDI_VERSION` before redefining them
  librz/include/rz_types.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

io: fix ptrace wrap call types for Darwin.
  librz/include/rz_io.h
  librz/util/time.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Revert "Run `dist` builds [revert before merge]"
  .github/workflows/ci.yml
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

#undef `_WIN32_WINNT` and `NTDDI_VERSION` before redefining them (#1657)
  librz/include/rz_types.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

io: fix ptrace wrap call types for Darwin.
  librz/include/rz_io.h
  librz/util/time.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc
