Repository rizinorg/rizin, changes with the owners that CODEOWNERS names for each.
All owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc, @yossizap

Fix Windows functions test
  test/db/cmd/types
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix array printing in complex types
  librz/core/ctypes.c
  librz/include/rz_type.h
  librz/type/base.c
  librz/type/type.c
  test/unit/test_type.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fixing Coverity detected leaks in types (#1644)
  librz/type/type.c
Owners: @XVilka

core: While doing @dm gather all addresses first, then iterate
  librz/core/cmd.c
Owners: @ret2libc, @wargio

Add tests for `rz_type*_as_string()` functions
  librz/type/function.c
  librz/type/type.c
  test/db/cmd/cmd_avg
  test/db/cmd/cmd_tc
  test/db/cmd/types
  test/unit/test_pdb.c
  test/unit/test_serialize_analysis.c
  test/unit/test_type.c
Owners: @XVilka, @wargio, @kazarmy, @thestr4ng3r, @ret2libc

Fix Windows functions test
  test/db/cmd/types
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add tests for `rz_type*_as_string()` functions
  librz/type/function.c
  librz/type/type.c
  test/db/cmd/cmd_avg
  test/db/cmd/cmd_tc
  test/db/cmd/types
  test/unit/test_pdb.c
  test/unit/test_serialize_analysis.c
  test/unit/test_type.c
Owners: @XVilka, @wargio, @kazarmy, @thestr4ng3r, @ret2libc

Fix Windows functions test
  test/db/cmd/types
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

LNK2005: SocketNotificationRetrieveEvents already defined
  librz/asm/arch/arc/gnu/arc-dis.c
  librz/asm/arch/arc/gnu/arcompact-dis.c
  librz/asm/arch/hppa/gnu/hppa-dis.c
  librz/asm/arch/xtensa/gnu/xtensa-isa.c
  librz/include/rz_types.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix tests
  test/db/cmd/cmd_pt
  test/db/formats/pe/arm
  test/db/formats/pe/resource
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Use same code for Windows
  librz/util/time.c
Owners: @ret2libc, @thestr4ng3r

core: While doing @dm gather all addresses first, then iterate
  librz/core/cmd.c
Owners: @ret2libc, @wargio

Fix #1642 - remove `toe` command
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_type.yaml
  librz/core/cmd_type.c
  librz/core/core_private.h
  librz/core/ctypes.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

use NTDDI_WIN10
  librz/include/rz_types.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Remove sign from minutes and seconds
  librz/util/time.c
Owners: @ret2libc, @thestr4ng3r

Add test for Asia/Kuala_Lumpur and Pacific/Kiritimati timezones
  test/db/cmd/cmd_pt
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Move timezone tests to archos/
  test/db/archos/darwin-x64/cmd_pt
  test/db/archos/linux-x64/cmd_pt
  test/db/cmd/cmd_pt
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Default build to Windows 10/Windows Server 2016 (#1649)
  librz/asm/arch/arc/gnu/arc-dis.c
  librz/asm/arch/arc/gnu/arcompact-dis.c
  librz/asm/arch/hppa/gnu/hppa-dis.c
  librz/asm/arch/xtensa/gnu/xtensa-isa.c
  librz/include/rz_types.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Revert "Do not glitch the prompt when using scr.color=0 ##cons (#18057)"
  librz/cons/dietline.c
Owners: @thestr4ng3r, @wargio

Support Windows
  librz/util/time.c
  test/db/archos/windows-x64/cmd_pt
Owners: @ret2libc, @thestr4ng3r, @wargio, @XVilka, @kazarmy

Remove yank test where we alloc 2 GB of ram for no reason
  test/db/cmd/feat_yank
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Remove yank test where we alloc 2 GB of ram for no reason (#1652)
  test/db/cmd/feat_yank
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Revert "Do not glitch the prompt when using scr.color=0 ##cons (#18057)" (#1647)
  librz/cons/dietline.c
Owners: @thestr4ng3r, @wargio

CID 315924: Out-of-bounds access (OVERRUN)
  librz/util/file.c
Owners: @ret2libc, @thestr4ng3r

CID 316614: Use after free (USE_AFTER_FREE)
  librz/asm/asm.c
Owners: @wargio

CID 316535: Use after free (USE_AFTER_FREE)
  librz/core/disasm.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

CID 316652: Use after free (USE_AFTER_FREE)
  librz/util/strpool.c
Owners: @ret2libc, @thestr4ng3r

CID 316504: Unsigned compared against 0 (NO_EFFECT)
  librz/util/subprocess.c
Owners: @ret2libc, @thestr4ng3r

CID 316439: Resource leak (RESOURCE_LEAK)
  librz/util/subprocess.c
Owners: @ret2libc, @thestr4ng3r

CID 356127: Dereference after null check (name can never be NULL)
  librz/bin/format/java/class_bin.c
Owners: @ret2libc, @wargio

CID 320881: Resource leak (RESOURCE_LEAK)
  librz/main/rz-hash.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

CID 320885: Missing break in switch (MISSING_BREAK)
  librz/main/rz-hash.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

CID 316679: Resource leak (RESOURCE_LEAK)
  librz/main/rz-run.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

CID 316574: Explicit null dereferenced (FORWARD_NULL)
  librz/main/rz-sign.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

CID 356105: Resource leak (RESOURCE_LEAK)
  binrz/rz-test/rz-test.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fixed uninitialized building issue
  librz/util/subprocess.c
Owners: @ret2libc, @thestr4ng3r

core: While doing @dm gather all addresses first, then iterate
  librz/core/cmd.c
Owners: @ret2libc, @wargio

Default build to Windows 10/Windows Server 2016 (#1649)
  librz/asm/arch/arc/gnu/arc-dis.c
  librz/asm/arch/arc/gnu/arcompact-dis.c
  librz/asm/arch/hppa/gnu/hppa-dis.c
  librz/asm/arch/xtensa/gnu/xtensa-isa.c
  librz/include/rz_types.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Remove yank test where we alloc 2 GB of ram for no reason (#1652)
  test/db/cmd/feat_yank
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Revert "Do not glitch the prompt when using scr.color=0 ##cons (#18057)" (#1647)
  librz/cons/dietline.c
Owners: @thestr4ng3r, @wargio

CODEOWNERS:

* @wargio @XVilka @kazarmy @thestr4ng3r @ret2libc
*.js @wargio
CODEOWNERS @wargio @XVilka @kazarmy @thestr4ng3r @ret2libc
librz/analysis/ @thestr4ng3r
librz/analysis/esil* @wargio
librz/analysis/xrefs.c @ret2libc
librz/arch/gb/ @wargio
librz/asm/ @wargio
librz/asm/p/x86_* @ret2libc
librz/asm/p/arm_* @wargio
librz/bin/ @ret2libc @wargio
librz/bin/format/elf/ @ret2libc @kazarmy
librz/bin/format/mach0/ @wargio
librz/bin/format/objc/ @wargio
librz/bin/format/wasm/ @wargio
librz/config/ @wargio @ret2libc
librz/cons/ @thestr4ng3r @wargio
librz/core/cmd.c @ret2libc @wargio
librz/debug/ @yossizap @wargio
librz/egg/ @wargio
librz/flag/ @ret2libc @wargio
librz/fs/ @wargio
librz/io/ @wargio @ret2libc
librz/lang/ @thestr4ng3r @wargio @ret2libc
librz/magic/ @wargio
librz/parse/ @ret2libc @wargio
librz/reg/ @XVilka @wargio
librz/socket/ @XVilka @yossizap
librz/syscall/ @ret2libc @wargio
librz/type/ @XVilka
librz/util/ @ret2libc @thestr4ng3r
shlr/gdb/ @yossizap
shlr/ptrace-wrap/ @thestr4ng3r
shlr/rizin-shell-parser/ @ret2libc
shlr/w32dbg_wrap/ @yossizap
shlr/winkd/ @yossizap
