Repository rizinorg/rizin, changes with the owners that CODEOWNERS names for each.
All owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc, @yossizap

Fix atomic type format serialization
  librz/type/serialize_types.c
Owners: @XVilka

Fixed OOB read in mach0.c
  librz/bin/format/mach0/mach0.c
Owners: @wargio

debug: generate coredump on netbsd. (#1603)
  librz/core/cmd_debug.c
  librz/debug/p/debug_native.c
  librz/debug/p/debug_windbg.c
  librz/debug/p/native/bsd/bsd_debug.c
  librz/debug/p/native/bsd/bsd_debug.h
  librz/include/rz_debug.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc, @yossizap

Load bit-specific types before arch-specific
  librz/type/type.c
Owners: @XVilka

Bump Project version to 5, add `unknown_t`
  librz/core/project_migrate.c
  librz/include/rz_project.h
  test/db/cmd/project
  test/unit/test_project_migrate.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Use source_fallback_url when failing (#1604)
  subprojects/libuv.wrap
  subprojects/lz4.wrap
  subprojects/zlib.wrap
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add tips for storing project in compressed format and global variables
  doc/fortunes.tips
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix type name parsing in `tc` and `tcd`
  librz/core/cmd_type.c
  librz/core/core_private.h
  librz/core/ctypes.c
  test/db/cmd/cmd_tc
  test/db/cmd/types
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Implement `t*` and remove `tn*` because not needed/working
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_type.yaml
  librz/core/ctypes.c
  test/db/cmd/types
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Use file size directly as a rvalue without creating a local variable
  librz/type/parser/c_cpp_parser.c
Owners: @XVilka

Add `RZ_BUILD_DEBUG` in `rz_userconf.h.in`
  librz/include/rz_userconf.h.in
  librz/include/rz_util/rz_log.h
  meson.build
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Use rvalue to avoid unused variable error when building in release mode
  librz/core/cmd.c
Owners: @ret2libc, @wargio

Fix CID 356308
  librz/bin/bobj.c
  librz/core/cbin.c
Owners: @ret2libc, @wargio, @XVilka, @kazarmy, @thestr4ng3r

Fix CID 356308
  librz/core/cmd_type.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix CID 356303
  librz/core/cmd_type.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix CID 356302
  librz/core/cmd_type.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix CID 356300
  librz/core/cmd_type.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Search up to the last byte in a block.
  librz/core/casm.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

debug: generate core dump for FreeBSD.
  librz/debug/p/native/bsd/bsd_debug.c
  meson.build
Owners: @yossizap, @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add `RZ_BUILD_DEBUG` compile time definition for debug logging (#1616)
  librz/core/cmd.c
  librz/include/rz_userconf.h.in
  librz/include/rz_util/rz_log.h
  librz/type/parser/c_cpp_parser.c
  meson.build
Owners: @ret2libc, @wargio, @XVilka, @kazarmy, @thestr4ng3r

Fix OOB read in UTF-8 length function
  librz/util/str.c
Owners: @ret2libc, @thestr4ng3r

Add `RZ_BUILD_DEBUG` compile time definition for debug logging (#1616)
  librz/core/cmd.c
  librz/include/rz_userconf.h.in
  librz/include/rz_util/rz_log.h
  librz/type/parser/c_cpp_parser.c
  meson.build
Owners: @ret2libc, @wargio, @XVilka, @kazarmy, @thestr4ng3r

Fix debugger on alpine system by using proper ptrace type and data
  librz/include/rz_io.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Free libname and symname before going to next iteration
  librz/core/cbin.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

rz_listinfo_new already strdup the humansz string
  librz/core/cmd_info.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Replace 'obr' with 'obR'
  librz/core/cmd_open.c
  test/db/analysis/java
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Remove rz_core_bin_rebase()
  librz/core/cfile.c
  librz/core/cmd_open.c
  librz/include/rz_core.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix .- command parsing
  shlr/rizin-shell-parser/corpus/simple_commands.txt
  shlr/rizin-shell-parser/grammar.js
  shlr/rizin-shell-parser/src/grammar.json
  shlr/rizin-shell-parser/src/parser.c
Owners: @ret2libc

Rename and move core_bin_reload() -> RZ_API rz_core_file_reload()
  librz/core/cbin.c
  librz/core/cmd_open.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix debugger on Alpine Linux by using proper ptrace type and data (#1623)
  librz/include/rz_io.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix OOB read in UTF-8 length function (#1622)
  librz/util/str.c
Owners: @ret2libc, @thestr4ng3r

Fix .- command parsing
  shlr/rizin-shell-parser/corpus/simple_commands.txt
  shlr/rizin-shell-parser/grammar.js
  shlr/rizin-shell-parser/src/grammar.json
  shlr/rizin-shell-parser/src/parser.c
Owners: @ret2libc

Fix debugger on Alpine Linux by using proper ptrace type and data (#1623)
  librz/include/rz_io.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix OOB read in UTF-8 length function (#1622)
  librz/util/str.c
Owners: @ret2libc, @thestr4ng3r

Fix some leaks detected by Coverity (#1619)
  librz/bin/bobj.c
  librz/core/cbin.c
  librz/core/cmd_info.c
  librz/core/cmd_type.c
Owners: @ret2libc, @wargio, @XVilka, @kazarmy, @thestr4ng3r

Fix some leaks detected by Coverity (#1619)
  librz/bin/bobj.c
  librz/core/cbin.c
  librz/core/cmd_info.c
  librz/core/cmd_type.c
Owners: @ret2libc, @wargio, @XVilka, @kazarmy, @thestr4ng3r

Fix minor leak in union parsing
  librz/type/parser/types_parser.c
Owners: @XVilka

bin/format/mach0: check for int overflow before allocating segments
  librz/bin/format/mach0/coresymbolication.c
Owners: @wargio

Fixed various Out of Memory issues
  librz/bin/format/mach0/coresymbolication.c
Owners: @wargio

Search up to the last byte in a block. (#1621)
  librz/core/casm.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

CODEOWNERS:

* @wargio @XVilka @kazarmy @thestr4ng3r @ret2libc
*.js @wargio
CODEOWNERS @wargio @XVilka @kazarmy @thestr4ng3r @ret2libc
librz/analysis/ @thestr4ng3r
librz/analysis/esil* @wargio
librz/analysis/xrefs.c @ret2libc
librz/arch/gb/ @wargio
librz/asm/ @wargio
librz/asm/p/x86_* @ret2libc
librz/asm/p/arm_* @wargio
librz/bin/ @ret2libc @wargio
librz/bin/format/elf/ @ret2libc @kazarmy
librz/bin/format/mach0/ @wargio
librz/bin/format/objc/ @wargio
librz/bin/format/wasm/ @wargio
librz/config/ @wargio @ret2libc
librz/cons/ @thestr4ng3r @wargio
librz/core/cmd.c @ret2libc @wargio
librz/debug/ @yossizap @wargio
librz/egg/ @wargio
librz/flag/ @ret2libc @wargio
librz/fs/ @wargio
librz/io/ @wargio @ret2libc
librz/lang/ @thestr4ng3r @wargio @ret2libc
librz/magic/ @wargio
librz/parse/ @ret2libc @wargio
librz/reg/ @XVilka @wargio
librz/socket/ @XVilka @yossizap
librz/syscall/ @ret2libc @wargio
librz/type/ @XVilka
librz/util/ @ret2libc @thestr4ng3r
shlr/gdb/ @yossizap
shlr/ptrace-wrap/ @thestr4ng3r
shlr/rizin-shell-parser/ @ret2libc
shlr/w32dbg_wrap/ @yossizap
shlr/winkd/ @yossizap
