Repository rizinorg/rizin, changes with the owners that CODEOWNERS names for each.
All owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc, @yossizap

Fix CID 356594
  librz/core/ctypes.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix CID 356593
  librz/core/cmd_type.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix CID 356604
  librz/core/canalysis.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix CID 356587
  librz/core/ctypes.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix CID 356590
  librz/analysis/var.c
Owners: @thestr4ng3r

Fix CID 356605
  librz/core/ctypes.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Check for not declared keys earlier to prevent segfault.
  binrz/rz-test/load.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add break to the end of aac handler (#1682)
  librz/core/cmd_analysis.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Move linux specific thing used only in the debugger out of RUtil
  librz/debug/p/debug_native.c
  librz/include/rz_util/rz_sys.h
  librz/util/sys.c
Owners: @yossizap, @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix un released lock
  binrz/rz-test/rz-test.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

commands: 'toe' accept a type argument
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_type.yaml
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix leaks found by Coverity (#1687)
  librz/analysis/serialize_analysis.c
  librz/analysis/var.c
  librz/core/canalysis.c
  librz/core/cmd_type.c
  librz/core/ctypes.c
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Fix leaks found by Coverity (#1687)
  librz/analysis/serialize_analysis.c
  librz/analysis/var.c
  librz/core/canalysis.c
  librz/core/cmd_type.c
  librz/core/ctypes.c
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

analysis: fix size of element put in vector in get_delta_jmptbl_info
  librz/analysis/jmptbl.c
Owners: @thestr4ng3r

rz-test: check for undeclared keys to fix segfault. (#1689)
  binrz/rz-test/load.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

analysis: fix size of element put in vector in get_delta_jmptbl_info (#1692)
  librz/analysis/jmptbl.c
Owners: @thestr4ng3r

rz-test: check for undeclared keys to fix segfault. (#1689)
  binrz/rz-test/load.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

analysis: fix size of element put in vector in get_delta_jmptbl_info (#1692)
  librz/analysis/jmptbl.c
Owners: @thestr4ng3r

io/io_ar: Check for NULL when doing strdup
  librz/io/p/io_ar.c
Owners: @wargio, @ret2libc

Add some missing Windows types
  librz/analysis/d/types-windows.sdb.txt
  test/db/cmd/types
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Update librz/io/p/io_ar.c
  librz/io/p/io_ar.c
Owners: @wargio, @ret2libc

Add some missing Windows types (#1693)
  librz/analysis/d/types-windows.sdb.txt
  test/db/cmd/types
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Add some missing Windows types (#1693)
  librz/analysis/d/types-windows.sdb.txt
  test/db/cmd/types
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Make cpu and in RzTypeTarget owned
  librz/include/rz_type.h
  librz/type/type.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Make cpu and in RzTypeTarget owned (#1695)
  librz/include/rz_type.h
  librz/type/type.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Make cpu and in RzTypeTarget owned (#1695)
  librz/include/rz_type.h
  librz/type/type.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

io/io_ar: Check for NULL when doing strdup (#1694)
  librz/io/p/io_ar.c
Owners: @wargio, @ret2libc

io/io_ar: Check for NULL when doing strdup (#1694)
  librz/io/p/io_ar.c
Owners: @wargio, @ret2libc

Fix Global Variable UAF after deleting flag manually
  librz/analysis/var_global.c
  librz/include/rz_analysis.h
  librz/include/rz_core.h
  test/unit/test_analysis_global_var.c
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Fix Global Variable UAF after deleting flag manually (#1697)
  librz/analysis/var_global.c
  librz/include/rz_analysis.h
  librz/include/rz_core.h
  test/unit/test_analysis_global_var.c
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Fix Global Variable UAF after deleting flag manually (#1697)
  librz/analysis/var_global.c
  librz/include/rz_analysis.h
  librz/include/rz_core.h
  test/unit/test_analysis_global_var.c
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Convert `pm` to rz-shell
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_print.yaml
  librz/core/cmd_print.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add a test for `pmj` and remove an unwanted newline
  librz/core/cmd_magic.c
  test/db/cmd/cmd_print
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix un released lock
  binrz/rz-test/rz-test.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

io/io_ar: Check for NULL when doing strdup (#1694)
  librz/io/p/io_ar.c
Owners: @wargio, @ret2libc

Add some missing Windows types (#1693)
  librz/analysis/d/types-windows.sdb.txt
  test/db/cmd/types
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Add break to the end of aac handler (#1682)
  librz/core/cmd_analysis.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix leaks found by Coverity (#1687)
  librz/analysis/serialize_analysis.c
  librz/analysis/var.c
  librz/core/canalysis.c
  librz/core/cmd_type.c
  librz/core/ctypes.c
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

analysis: fix size of element put in vector in get_delta_jmptbl_info (#1692)
  librz/analysis/jmptbl.c
Owners: @thestr4ng3r

rz-test: check for undeclared keys to fix segfault. (#1689)
  binrz/rz-test/load.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

CODEOWNERS:

* @wargio @XVilka @kazarmy @thestr4ng3r @ret2libc
*.js @wargio
CODEOWNERS @wargio @XVilka @kazarmy @thestr4ng3r @ret2libc
librz/analysis/ @thestr4ng3r
librz/analysis/esil* @wargio
librz/analysis/xrefs.c @ret2libc
librz/arch/gb/ @wargio
librz/asm/ @wargio
librz/asm/p/x86_* @ret2libc
librz/asm/p/arm_* @wargio
librz/bin/ @ret2libc @wargio
librz/bin/format/elf/ @ret2libc @kazarmy
librz/bin/format/mach0/ @wargio
librz/bin/format/objc/ @wargio
librz/bin/format/wasm/ @wargio
librz/config/ @wargio @ret2libc
librz/cons/ @thestr4ng3r @wargio
librz/core/cmd.c @ret2libc @wargio
librz/debug/ @yossizap @wargio
librz/egg/ @wargio
librz/flag/ @ret2libc @wargio
librz/fs/ @wargio
librz/io/ @wargio @ret2libc
librz/lang/ @thestr4ng3r @wargio @ret2libc
librz/magic/ @wargio
librz/parse/ @ret2libc @wargio
librz/reg/ @XVilka @wargio
librz/socket/ @XVilka @yossizap
librz/syscall/ @ret2libc @wargio
librz/type/ @XVilka
librz/util/ @ret2libc @thestr4ng3r
shlr/gdb/ @yossizap
shlr/ptrace-wrap/ @thestr4ng3r
shlr/rizin-shell-parser/ @ret2libc
shlr/w32dbg_wrap/ @yossizap
shlr/winkd/ @yossizap
