Repository rizinorg/rizin, changes with the owners that CODEOWNERS names for each.
All owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc, @yossizap

Make cpu and in RzTypeTarget owned (#1695)
  librz/include/rz_type.h
  librz/type/type.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix Global Variable UAF after deleting flag manually (#1697)
  librz/analysis/var_global.c
  librz/include/rz_analysis.h
  librz/include/rz_core.h
  test/unit/test_analysis_global_var.c
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

commands: 'toe' accept a type argument
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_type.yaml
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Move linux specific thing used only in the debugger out of RUtil
  librz/debug/p/debug_native.c
  librz/include/rz_util/rz_sys.h
  librz/util/sys.c
Owners: @yossizap, @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add `nonwindows-x64` category to `archos/`
  binrz/rz-test/load.c
  test/db/archos/linux-x64/cmd_pt
  test/db/archos/nonwindows-x64/cmd_pt
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Use `not-windows-x64` instead
  binrz/rz-test/load.c
  test/db/archos/not-windows-x64/cmd_pt
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix Leaks in Types string conversions
  librz/type/type.c
Owners: @XVilka

Fix leaks in test_type
  test/unit/test_type.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix Leaks in Types string conversions
  librz/type/type.c
  test/unit/test_type.c
Owners: @XVilka, @wargio, @kazarmy, @thestr4ng3r, @ret2libc

Remove reference to windows
  binrz/rz-test/load.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add `not-windows-x64` category to `archos/` (#1700)
  binrz/rz-test/load.c
  test/db/archos/linux-x64/cmd_pt
  test/db/archos/not-windows-x64/cmd_pt
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fixes for Windows input when `e scr.vtmode=1` (#1688)
  librz/cons/cons.c
  librz/cons/input.c
  librz/core/cconfig.c
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Changed parameter order in rz_scan_strings
  librz/bin/bfile.c
  librz/include/rz_bin.h
  librz/include/rz_util/rz_str_search.h
  librz/util/str_search.c
  test/unit/test_str_search.c
Owners: @ret2libc, @wargio, @XVilka, @kazarmy, @thestr4ng3r

Changed heuristic for UTF BE detection
  librz/util/str_search.c
Owners: @ret2libc, @thestr4ng3r

Changed UTF BE heuristic
  librz/util/str_search.c
  test/unit/test_str_search.c
Owners: @ret2libc, @thestr4ng3r, @wargio, @XVilka, @kazarmy

Refactored string search
  librz/bin/bfile.c
  librz/include/rz_util/rz_str_search.h
  librz/meson.build
  librz/util/meson.build
  librz/util/str_search.c
Owners: @ret2libc, @wargio, @XVilka, @kazarmy, @thestr4ng3r

Fixed unit test in str_search
  test/unit/test_str_search.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Added preferred endianess switch in RzUtilStrScanOptions
  librz/bin/bfile.c
  librz/include/rz_util/rz_str_search.h
  librz/util/str_search.c
  test/unit/test_str_search.c
Owners: @ret2libc, @wargio, @XVilka, @kazarmy, @thestr4ng3r

Fixed needle reset in rz_string_search
  librz/util/str_search.c
Owners: @ret2libc, @thestr4ng3r

Decoupled rz_str_search with rz_bin
  librz/bin/bfile.c
  librz/bin/bin.c
  librz/core/cbin.c
  librz/include/rz_bin.h
  librz/include/rz_util.h
  librz/include/rz_util/rz_str_search.h
  librz/util/str_search.c
  test/unit/meson.build
  test/unit/test_str_search.c
Owners: @ret2libc, @wargio, @XVilka, @kazarmy, @thestr4ng3r

add license
  librz/util/str_search.c
  test/unit/test_str_search.c
Owners: @ret2libc, @thestr4ng3r, @wargio, @XVilka, @kazarmy

Small format fixes in str_search
  librz/util/str_search.c
  test/unit/test_str_search.c
Owners: @ret2libc, @thestr4ng3r, @wargio, @XVilka, @kazarmy

UTF-16BE and UTF-32BE support
  librz/bin/bfile.c
  librz/bin/bin.c
  librz/include/rz_bin.h
  librz/include/rz_util/rz_utf32.h
  librz/util/str_search.c
Owners: @ret2libc, @wargio, @XVilka, @kazarmy, @thestr4ng3r

Fixed str_search regression tests
  test/db/cmd/cmd_i
  test/db/formats/mdmp
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Refactored rz_scan_strings and better UTF16-LE and UTF16-BE detection
  librz/include/rz_util/rz_str_search.h
  librz/util/str_search.c
  test/unit/test_str_search.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Remove unnecessary calls to `rz_acp_to_utf8()` from function on Windows
  librz/main/rizin.c
  librz/main/rz-diff.c
  librz/main/rz-sign.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Make `rz_file` APIs use `W` variant of Windows APIs
  librz/util/file.c
Owners: @ret2libc, @thestr4ng3r

Rename variables from `var_` -> `wvar`
  librz/util/file.c
Owners: @ret2libc, @thestr4ng3r

Fix Leaks in Types string conversions
  librz/type/type.c
  test/unit/test_type.c
Owners: @XVilka, @wargio, @kazarmy, @thestr4ng3r, @ret2libc

Fixes for Windows input when `e scr.vtmode=1` (#1688)
  librz/cons/cons.c
  librz/cons/input.c
  librz/core/cconfig.c
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Fix #807 - Don't use `cmd.prompt` to update register flags
  librz/core/cconfig.c
  librz/core/cdebug.c
  librz/core/cio.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/core.c
  librz/core/core_private.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix unused variable error
  librz/core/cio.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Unicode fixes for Windows (#1703)
  librz/main/rizin.c
  librz/main/rz-diff.c
  librz/main/rz-sign.c
  librz/util/file.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

UTF-16 be, UTF-32 be support (#1535)
  librz/bin/bfile.c
  librz/bin/bin.c
  librz/core/cbin.c
  librz/include/rz_bin.h
  librz/include/rz_util.h
  librz/include/rz_util/rz_str_search.h
  librz/include/rz_util/rz_utf32.h
  librz/meson.build
  librz/util/meson.build
  librz/util/str_search.c
  test/db/cmd/cmd_i
  test/db/formats/mdmp
  test/unit/meson.build
  test/unit/test_str_search.c
Owners: @ret2libc, @wargio, @XVilka, @kazarmy, @thestr4ng3r

Do not use VLA - MSVC does not support them
  librz/util/str_search.c
Owners: @ret2libc, @thestr4ng3r

Add `rz_strbuf_strip` to allow for removing bytes at end of `RzStrBuf`
  librz/include/rz_util/rz_strbuf.h
  librz/util/strbuf.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add unit test for `rz_strbuf_strip`
  test/unit/test_strbuf.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix `rz_strbuf_strip` to pass the unit tests
  librz/util/strbuf.c
Owners: @ret2libc, @thestr4ng3r

Imrove test for `RzStrBuf` by adding test cases for over stripping and complete stripping
  test/unit/test_strbuf.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Do not use VLA - MSVC does not support them (#1706)
  librz/util/str_search.c
Owners: @ret2libc, @thestr4ng3r

CODEOWNERS:

* @wargio @XVilka @kazarmy @thestr4ng3r @ret2libc
*.js @wargio
CODEOWNERS @wargio @XVilka @kazarmy @thestr4ng3r @ret2libc
librz/analysis/ @thestr4ng3r
librz/analysis/esil* @wargio
librz/analysis/xrefs.c @ret2libc
librz/arch/gb/ @wargio
librz/asm/ @wargio
librz/asm/p/x86_* @ret2libc
librz/asm/p/arm_* @wargio
librz/bin/ @ret2libc @wargio
librz/bin/format/elf/ @ret2libc @kazarmy
librz/bin/format/mach0/ @wargio
librz/bin/format/objc/ @wargio
librz/bin/format/wasm/ @wargio
librz/config/ @wargio @ret2libc
librz/cons/ @thestr4ng3r @wargio
librz/core/cmd.c @ret2libc @wargio
librz/debug/ @yossizap @wargio
librz/egg/ @wargio
librz/flag/ @ret2libc @wargio
librz/fs/ @wargio
librz/io/ @wargio @ret2libc
librz/lang/ @thestr4ng3r @wargio @ret2libc
librz/magic/ @wargio
librz/parse/ @ret2libc @wargio
librz/reg/ @XVilka @wargio
librz/socket/ @XVilka @yossizap
librz/syscall/ @ret2libc @wargio
librz/type/ @XVilka
librz/util/ @ret2libc @thestr4ng3r
shlr/gdb/ @yossizap
shlr/ptrace-wrap/ @thestr4ng3r
shlr/rizin-shell-parser/ @ret2libc
shlr/w32dbg_wrap/ @yossizap
shlr/winkd/ @yossizap
