Repository rizinorg/rizin, changes with the owners that CODEOWNERS names for each.
All owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc, @yossizap

Bring the iterator outside the function
  librz/config/config.c
Owners: @wargio, @ret2libc

Move `rz_config_list` and `rz_config_eval` to cconfig.c
  librz/config/config.c
  librz/core/cconfig.c
Owners: @wargio, @ret2libc, @XVilka, @kazarmy, @thestr4ng3r

Use `RzOutputMode`
  librz/config/config.c
Owners: @wargio, @ret2libc

Rename `rz_config_list` to `rz_core_config_print_all`
  librz/core/cconfig.c
  librz/core/cmd_eval.c
  librz/include/rz_config.h
  librz/include/rz_core.h
  librz/main/rizin.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Label the `else` part as quiet mode
  librz/config/config.c
Owners: @wargio, @ret2libc

Initial refactor to use PJ in `config_print_node`
  librz/config/config.c
Owners: @wargio, @ret2libc

Use switch case and remove `rz_core_config_eval_and_print()`
  librz/core/cconfig.c
  librz/core/cmd_eval.c
  librz/main/rizin.c
  test/db/cmd/cmd_eval
  test/db/cmd/regexp
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Address comments
  librz/core/cconfig.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_eval.yaml
  librz/core/cmd_eval.c
  librz/include/rz_config.h
  librz/include/rz_core.h
  test/db/cmd/cmd_eval
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Return if `NULL` on `rz_config_eval`
  librz/config/config.c
Owners: @wargio, @ret2libc

Add tests and fix the output of `elJ` and `elj`
  librz/core/cconfig.c
  librz/core/cmd_eval.c
  test/db/cmd/cmd_eval
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Apply suggestions from code review
  librz/core/cconfig.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Use `RzOutputMode` in `rz_core_config_print_all`
  librz/core/cconfig.c
  librz/core/cmd_eval.c
  librz/include/rz_config.h
  librz/include/rz_core.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Use `rz_str_startswith` while comparing the argument with the `node->name`s
  librz/core/cconfig.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Free `rz_cmd_escape_arg` and fix tests
  librz/core/cconfig.c
  librz/main/rizin.c
  test/db/cmd/cmd_eval
  test/db/cmd/regexp
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add Doxygen docs and other fixes
  librz/config/config.c
  librz/core/cconfig.c
Owners: @wargio, @ret2libc, @XVilka, @kazarmy, @thestr4ng3r

Run `clang-format` and bring back `rz_config_eval` to fix the tests
  librz/config/config.c
  librz/core/cconfig.c
  librz/include/rz_config.h
  librz/main/rizin.c
Owners: @wargio, @ret2libc, @XVilka, @kazarmy, @thestr4ng3r

Remove `rz_cmd_eval` and run clang-format
  librz/core/cconfig.c
  librz/core/cmd.c
  librz/core/cmd_eval.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Free `name` in `rz_config_eval`
  librz/config/config.c
  librz/main/rizin.c
Owners: @wargio, @ret2libc, @XVilka, @kazarmy, @thestr4ng3r

Use `rz_strf` insted of `snprintf`
  librz/bp/serialize_bp.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add new namespaces added in v6
  librz/core/project_migrate.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add Doxygen documentation for `rz_core_config_print_all`
  librz/core/cconfig.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Update librz/config/config.c
  librz/config/config.c
Owners: @wargio, @ret2libc

Fix function pointers printing in complex types
  librz/analysis/fcn.c
  librz/core/ctypes.c
  librz/include/rz_type.h
  librz/type/base.c
  librz/type/function.c
  librz/type/helpers.c
  librz/type/type.c
  test/db/cmd/types
  test/unit/test_type.c
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Fix enum printing
  librz/type/parser/types_parser.c
  test/db/cmd/types
  test/unit/test_type.c
Owners: @XVilka, @wargio, @kazarmy, @thestr4ng3r, @ret2libc

Use PJ in `config_print_node()` (#1488)
  librz/config/config.c
  librz/core/cconfig.c
  librz/core/cmd.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_eval.yaml
  librz/core/cmd_eval.c
  librz/include/rz_config.h
  librz/include/rz_core.h
  librz/main/rizin.c
  test/db/cmd/cmd_eval
  test/db/cmd/regexp
Owners: @wargio, @ret2libc, @XVilka, @kazarmy, @thestr4ng3r

debug: generate core dump for FreeBSD.
  librz/debug/p/native/bsd/bsd_debug.c
  meson.build
Owners: @yossizap, @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix function pointers printing in complex types
  librz/analysis/fcn.c
  librz/core/ctypes.c
  librz/include/rz_type.h
  librz/type/base.c
  librz/type/function.c
  librz/type/helpers.c
  librz/type/type.c
  test/db/cmd/types
  test/unit/test_type.c
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Fix enum printing
  librz/type/parser/types_parser.c
  test/db/cmd/types
  test/unit/test_type.c
Owners: @XVilka, @wargio, @kazarmy, @thestr4ng3r, @ret2libc

Use PJ in `config_print_node()` (#1488)
  librz/config/config.c
  librz/core/cconfig.c
  librz/core/cmd.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_eval.yaml
  librz/core/cmd_eval.c
  librz/include/rz_config.h
  librz/include/rz_core.h
  librz/main/rizin.c
  test/db/cmd/cmd_eval
  test/db/cmd/regexp
Owners: @wargio, @ret2libc, @XVilka, @kazarmy, @thestr4ng3r

Fix function pointers printing in complex types
  librz/analysis/fcn.c
  librz/core/ctypes.c
  librz/include/rz_type.h
  librz/type/base.c
  librz/type/function.c
  librz/type/helpers.c
  librz/type/type.c
  test/db/cmd/types
  test/unit/test_type.c
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Fix enum printing
  librz/type/parser/types_parser.c
  test/db/cmd/types
  test/unit/test_type.c
Owners: @XVilka, @wargio, @kazarmy, @thestr4ng3r, @ret2libc

temporary change
  librz/core/cbin.c
  librz/core/meson.build
  librz/core/rz_basefind.c
  librz/core/rz_basefind.cpp
  librz/include/rz_basefind.h
  meson.build
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add UTC timezone to timestamps
  librz/util/time.c
  test/db/cmd/cmd_i
Owners: @ret2libc, @thestr4ng3r, @wargio, @XVilka, @kazarmy

Fix array printing in complex types
  librz/core/ctypes.c
  librz/include/rz_type.h
  librz/type/base.c
  librz/type/type.c
  test/unit/test_type.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix array printing in complex types
  librz/core/ctypes.c
  librz/include/rz_type.h
  librz/type/base.c
  librz/type/type.c
  test/unit/test_type.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix CID 356334
  librz/type/type.c
Owners: @XVilka

Fix CID 356331
  librz/type/type.c
Owners: @XVilka

Fix CID 356330
  librz/type/type.c
Owners: @XVilka

Fixing Coverity detected leaks in types (#1644)
  librz/type/type.c
Owners: @XVilka

Add tests for `rz_type*_as_string()` functions
  librz/type/function.c
  librz/type/type.c
  test/db/cmd/cmd_avg
  test/db/cmd/cmd_tc
  test/db/cmd/types
  test/unit/test_pdb.c
  test/unit/test_serialize_analysis.c
  test/unit/test_type.c
Owners: @XVilka, @wargio, @kazarmy, @thestr4ng3r, @ret2libc

CODEOWNERS:

* @wargio @XVilka @kazarmy @thestr4ng3r @ret2libc
*.js @wargio
CODEOWNERS @wargio @XVilka @kazarmy @thestr4ng3r @ret2libc
librz/analysis/ @thestr4ng3r
librz/analysis/esil* @wargio
librz/analysis/xrefs.c @ret2libc
librz/arch/gb/ @wargio
librz/asm/ @wargio
librz/asm/p/x86_* @ret2libc
librz/asm/p/arm_* @wargio
librz/bin/ @ret2libc @wargio
librz/bin/format/elf/ @ret2libc @kazarmy
librz/bin/format/mach0/ @wargio
librz/bin/format/objc/ @wargio
librz/bin/format/wasm/ @wargio
librz/config/ @wargio @ret2libc
librz/cons/ @thestr4ng3r @wargio
librz/core/cmd.c @ret2libc @wargio
librz/debug/ @yossizap @wargio
librz/egg/ @wargio
librz/flag/ @ret2libc @wargio
librz/fs/ @wargio
librz/io/ @wargio @ret2libc
librz/lang/ @thestr4ng3r @wargio @ret2libc
librz/magic/ @wargio
librz/parse/ @ret2libc @wargio
librz/reg/ @XVilka @wargio
librz/socket/ @XVilka @yossizap
librz/syscall/ @ret2libc @wargio
librz/type/ @XVilka
librz/util/ @ret2libc @thestr4ng3r
shlr/gdb/ @yossizap
shlr/ptrace-wrap/ @thestr4ng3r
shlr/rizin-shell-parser/ @ret2libc
shlr/w32dbg_wrap/ @yossizap
shlr/winkd/ @yossizap
