Repository rizinorg/rizin, changes with the owners that CODEOWNERS names for each.
All owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc, @yossizap

CODEOWNERS:

* @wargio @XVilka @kazarmy @thestr4ng3r @ret2libc
*.js @wargio
CODEOWNERS @wargio @XVilka @kazarmy @thestr4ng3r @ret2libc
librz/analysis/ @thestr4ng3r
librz/analysis/esil* @wargio
librz/analysis/xrefs.c @ret2libc
librz/arch/gb/ @wargio
librz/asm/ @wargio
librz/asm/p/x86_* @ret2libc
librz/asm/p/arm_* @wargio
librz/bin/ @ret2libc @wargio
librz/bin/format/elf/ @ret2libc @kazarmy
librz/bin/format/mach0/ @wargio
librz/bin/format/objc/ @wargio
librz/bin/format/wasm/ @wargio
librz/config/ @wargio @ret2libc
librz/cons/ @thestr4ng3r @wargio
librz/core/cmd.c @ret2libc @wargio
librz/debug/ @yossizap @wargio
librz/egg/ @wargio
librz/flag/ @ret2libc @wargio
librz/fs/ @wargio
librz/io/ @wargio @ret2libc
librz/lang/ @thestr4ng3r @wargio @ret2libc
librz/magic/ @wargio
librz/parse/ @ret2libc @wargio
librz/reg/ @XVilka @wargio
librz/socket/ @XVilka @yossizap
librz/syscall/ @ret2libc @wargio
librz/type/ @XVilka
librz/util/ @ret2libc @thestr4ng3r
shlr/gdb/ @yossizap
shlr/ptrace-wrap/ @thestr4ng3r
shlr/rizin-shell-parser/ @ret2libc
shlr/w32dbg_wrap/ @yossizap
shlr/winkd/ @yossizap

Add test for opex cimm/pimm in ARM
  test/db/cmd/cmd_ao
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Use else if instead of if
  librz/type/type.c
Owners: @XVilka

Fix pimm/cimm opex printing in ARM instructions (#1730)
  librz/analysis/p/analysis_arm_cs.c
  test/db/cmd/cmd_ao
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

For now, let's just ignore C0209 pylint error
  .pylintrc
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fixed GCC 11 warning in rz-test
  binrz/rz-test/rz-test.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Mark test as broken
  test/db/archos/linux-x64/cmd_i
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

For now, let's just ignore C0209 pylint error (#1735)
  .pylintrc
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Move `cmd_interpreter` test into `not-windows-any` + diff btw `cmd_i` tests of `linux-x64` and `darwin-x64` (#1723)
  test/db/archos/darwin-x64/cmd_i
  test/db/archos/linux-x64/cmd_i
  test/db/archos/linux-x64/cmd_interpreter
  test/db/archos/not-windows-any/cmd_interpreter
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add function to check if a register is a system register
  librz/include/rz_reg.h
  librz/reg/reg.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Check for system registers in ARM64 when printing registers using "dr"
  librz/core/cdebug.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Search up to the last byte in a block. (#1621)
  librz/core/casm.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

debug: generate core dump for FreeBSD.
  librz/debug/p/native/bsd/bsd_debug.c
  meson.build
Owners: @yossizap, @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

For now, let's just ignore C0209 pylint error (#1735)
  .pylintrc
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix pimm/cimm opex printing in ARM instructions (#1730)
  librz/analysis/p/analysis_arm_cs.c
  test/db/cmd/cmd_ao
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Add pid/pidfile on man/rz-run and make pid option a boolean
  librz/socket/run.c
  man/rz-run.1
Owners: @XVilka, @yossizap, @wargio, @kazarmy, @thestr4ng3r, @ret2libc

Apply suggestions from code review
  man/rz-run.1
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix pimm/cimm opex printing in ARM instructions (#1730)
  librz/analysis/p/analysis_arm_cs.c
  test/db/cmd/cmd_ao
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

For now, let's just ignore C0209 pylint error (#1735)
  .pylintrc
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Search up to the last byte in a block. (#1621)
  librz/core/casm.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

debug: generate core dump for FreeBSD.
  librz/debug/p/native/bsd/bsd_debug.c
  meson.build
Owners: @yossizap, @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

[import] Fix unshown warning in `zb` command when size is small (radare2#18656)
  librz/core/cmd_zign.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Optimize list_types_json
  librz/analysis/sign.c
Owners: @thestr4ng3r

[import] Make z/ search signatures seen in z* (radare2#18657)
  librz/analysis/sign.c
  test/db/cmd/cmd_zignature
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

[import] Refactor output of signatures (radare2#18660)
  librz/analysis/sign.c
  librz/core/cmd_zign.c
  librz/include/rz_sign.h
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Use RzOutputMode instead of old format
  librz/analysis/sign.c
  librz/core/cmd_zign.c
  librz/include/rz_sign.h
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

[import] Small optimization to rz_strbuf_vappendf (radare2#18665)
  librz/util/strbuf.c
Owners: @ret2libc, @thestr4ng3r

Renamed RzSignType RZ_SIGN_REFS & RZ_SIGN_XREFS
  librz/analysis/sign.c
  librz/core/cmd_zign.c
  librz/include/rz_sign.h
  test/unit/test_sign.c
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

[import] Refactor signature matching (radare2#18651)
  librz/analysis/sign.c
  librz/core/cmd_zign.c
  librz/include/rz_sign.h
  test/db/cmd/cmd_zignature
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Add pid/pidfile on man/rz-run and make pid option a boolean (#1741)
  librz/socket/run.c
  man/rz-run.1
Owners: @XVilka, @yossizap, @wargio, @kazarmy, @thestr4ng3r, @ret2libc

Fixed some memory leaks
  librz/analysis/sign.c
  librz/core/cbin.c
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc
