Repository rizinorg/rizin, changes with the owners that CODEOWNERS names for each.
All owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc, @yossizap

Fix coverity bugs (#1654)
  binrz/rz-test/rz-test.c
  librz/asm/asm.c
  librz/bin/format/java/class_bin.c
  librz/core/disasm.c
  librz/main/rz-hash.c
  librz/main/rz-run.c
  librz/main/rz-sign.c
  librz/util/strpool.c
  librz/util/subprocess.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

CID 315924: Out-of-bounds access (OVERRUN) (#1653)
  librz/util/file.c
Owners: @ret2libc, @thestr4ng3r

Add UTC timezone to timestamps (#1639)
  librz/include/rz_util/rz_time.h
  librz/util/time.c
  test/db/archos/darwin-x64/cmd_pt
  test/db/archos/linux-x64/cmd_pt
  test/db/archos/windows-x64/cmd_pt
  test/db/cmd/cmd_i
  test/db/cmd/cmd_pt
  test/db/formats/pe/arm
  test/db/formats/pe/resource
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

#undef `_WIN32_WINNT` and `NTDDI_VERSION` before redefining them (#1657)
  librz/include/rz_types.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

io: fix ptrace wrap call types for Darwin.
  librz/include/rz_io.h
  librz/util/time.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix `toe` command
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_type.yaml
  librz/core/cmd_type.c
  librz/core/core_private.h
  librz/core/ctypes.c
  librz/include/rz_type.h
  librz/type/base.c
  librz/type/type.c
  test/unit/test_type.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix warnings about undefined behaviour with rz_buf_read_*
  librz/bin/format/mdmp/mdmp.c
  librz/bin/p/bin_ne.c
Owners: @ret2libc, @wargio

Fix warnings about undefined behaviour with rz_buf_read_*
  librz/bin/format/mdmp/mdmp.c
  librz/bin/p/bin_ne.c
Owners: @ret2libc, @wargio

Fix warnings about undefined behaviour with rz_buf_read_*
  librz/bin/format/mdmp/mdmp.c
  librz/bin/p/bin_ne.c
Owners: @ret2libc, @wargio

Fix `toe` command
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_type.yaml
  librz/core/cmd_type.c
  librz/core/core_private.h
  librz/core/ctypes.c
  librz/include/rz_type.h
  librz/type/base.c
  librz/type/type.c
  test/unit/test_type.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix `toe` command
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_type.yaml
  librz/core/cmd_type.c
  librz/core/core_private.h
  librz/core/ctypes.c
  librz/include/rz_type.h
  librz/type/base.c
  librz/type/type.c
  test/unit/test_type.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Move `pt` UTC timezone tests out of `archos/`
  test/db/archos/windows-x64/cmd_pt
  test/db/cmd/cmd_pt
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Acknowledge that when setting TZ using UTC, sign must be reversed
  test/db/cmd/cmd_pt
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Parse comments in types definitions
  librz/core/ctypes.c
  librz/type/base.c
  librz/type/format.c
  librz/type/parser/types_parser.c
  test/db/cmd/types
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Restrict builds.sr.ht to Specific Refs
  .builds/freebsd.yml
  .builds/netbsd.yml
  .builds/openbsd.yml
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add dist-* too
  .builds/freebsd.yml
  .builds/netbsd.yml
  .builds/openbsd.yml
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Restrict builds.sr.ht to Specific Refs (#1669)
  .builds/freebsd.yml
  .builds/netbsd.yml
  .builds/openbsd.yml
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Restrict builds.sr.ht to Specific Refs (#1669)
  .builds/freebsd.yml
  .builds/netbsd.yml
  .builds/openbsd.yml
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Try doing Windows adjustment if `__OpenBSD__`
  librz/util/time.c
Owners: @ret2libc, @thestr4ng3r

Parse comments in types definitions
  librz/core/ctypes.c
  librz/type/base.c
  librz/type/format.c
  librz/type/parser/types_parser.c
  test/db/cmd/types
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Parse comments in types definitions
  librz/core/ctypes.c
  librz/type/base.c
  librz/type/format.c
  librz/type/parser/types_parser.c
  test/db/cmd/types
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix comment
  librz/util/time.c
Owners: @ret2libc, @thestr4ng3r

Restrict builds.sr.ht to Specific Refs (#1669)
  .builds/freebsd.yml
  .builds/netbsd.yml
  .builds/openbsd.yml
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix `toe` command
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_type.yaml
  librz/core/cmd_type.c
  librz/core/core_private.h
  librz/core/ctypes.c
  librz/include/rz_type.h
  librz/type/base.c
  librz/type/type.c
  test/unit/test_type.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

CID 315924: Out-of-bounds access (OVERRUN) (#1653)
  librz/util/file.c
Owners: @ret2libc, @thestr4ng3r

io: fix ptrace wrap call types for Darwin.
  librz/include/rz_io.h
  librz/util/time.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Parse comments in types definitions
  librz/core/ctypes.c
  librz/type/base.c
  librz/type/format.c
  librz/type/parser/types_parser.c
  test/db/cmd/types
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add UTC timezone to timestamps (#1639)
  librz/include/rz_util/rz_time.h
  librz/util/time.c
  test/db/archos/darwin-x64/cmd_pt
  test/db/archos/linux-x64/cmd_pt
  test/db/archos/windows-x64/cmd_pt
  test/db/cmd/cmd_i
  test/db/cmd/cmd_pt
  test/db/formats/pe/arm
  test/db/formats/pe/resource
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix coverity bugs (#1654)
  binrz/rz-test/rz-test.c
  librz/asm/asm.c
  librz/bin/format/java/class_bin.c
  librz/core/disasm.c
  librz/main/rz-hash.c
  librz/main/rz-run.c
  librz/main/rz-sign.c
  librz/util/strpool.c
  librz/util/subprocess.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix warnings about undefined behaviour with rz_buf_read_*
  librz/bin/format/mdmp/mdmp.c
  librz/bin/p/bin_ne.c
Owners: @ret2libc, @wargio

#undef `_WIN32_WINNT` and `NTDDI_VERSION` before redefining them (#1657)
  librz/include/rz_types.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Move `pt` UTC timezone tests out of `archos/` (#1668)
  librz/util/time.c
  test/db/archos/windows-x64/cmd_pt
  test/db/cmd/cmd_pt
Owners: @ret2libc, @thestr4ng3r, @wargio, @XVilka, @kazarmy

Fix Android API type library
  librz/analysis/d/functions-android.sdb.txt
Owners: @thestr4ng3r

Fix Android API type library (#1673)
  librz/analysis/d/functions-android.sdb.txt
Owners: @thestr4ng3r

Fix Android API type library (#1673)
  librz/analysis/d/functions-android.sdb.txt
Owners: @thestr4ng3r

Fixes for WinDbg plugin debugging
  librz/debug/p/debug_windbg.c
  librz/io/p/io_windbg.c
Owners: @yossizap, @wargio, @ret2libc

Convert to `struct tm` first
  librz/util/time.c
Owners: @ret2libc, @thestr4ng3r

Do 1 Jan 1970 hack for every OS
  librz/util/time.c
Owners: @ret2libc, @thestr4ng3r

Bump SDB revision
  subprojects/sdb.wrap
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Free RZ_OWN string after printing
  librz/core/cmd_type.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

CODEOWNERS:

* @wargio @XVilka @kazarmy @thestr4ng3r @ret2libc
*.js @wargio
CODEOWNERS @wargio @XVilka @kazarmy @thestr4ng3r @ret2libc
librz/analysis/ @thestr4ng3r
librz/analysis/esil* @wargio
librz/analysis/xrefs.c @ret2libc
librz/arch/gb/ @wargio
librz/asm/ @wargio
librz/asm/p/x86_* @ret2libc
librz/asm/p/arm_* @wargio
librz/bin/ @ret2libc @wargio
librz/bin/format/elf/ @ret2libc @kazarmy
librz/bin/format/mach0/ @wargio
librz/bin/format/objc/ @wargio
librz/bin/format/wasm/ @wargio
librz/config/ @wargio @ret2libc
librz/cons/ @thestr4ng3r @wargio
librz/core/cmd.c @ret2libc @wargio
librz/debug/ @yossizap @wargio
librz/egg/ @wargio
librz/flag/ @ret2libc @wargio
librz/fs/ @wargio
librz/io/ @wargio @ret2libc
librz/lang/ @thestr4ng3r @wargio @ret2libc
librz/magic/ @wargio
librz/parse/ @ret2libc @wargio
librz/reg/ @XVilka @wargio
librz/socket/ @XVilka @yossizap
librz/syscall/ @ret2libc @wargio
librz/type/ @XVilka
librz/util/ @ret2libc @thestr4ng3r
shlr/gdb/ @yossizap
shlr/ptrace-wrap/ @thestr4ng3r
shlr/rizin-shell-parser/ @ret2libc
shlr/w32dbg_wrap/ @yossizap
shlr/winkd/ @yossizap
