Repository rizinorg/rizin, changes with the owners that CODEOWNERS names for each.
All owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc, @yossizap

Relax some maximum key sizes
  librz/type/serialize_functions.c
  librz/type/serialize_types.c
Owners: @XVilka

debug: handle signals on NetBSD and little build fix.
  librz/debug/p/debug_native.c
  librz/debug/p/native/bsd/bsd_debug.c
  librz/include/rz_io.h
Owners: @yossizap, @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Remove length restrictions in analysis classes and various serializations (#1718)
  librz/analysis/class.c
  librz/type/serialize_functions.c
  librz/type/serialize_types.c
  subprojects/sdb.wrap
  test/db/cmd/cmd_ac
  test/db/cmd/project
Owners: @thestr4ng3r, @XVilka, @wargio, @kazarmy, @ret2libc

io: silent warning on openbsd (#1715)
  librz/include/rz_io.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Remove length restrictions in analysis classes and various serializations (#1718)
  librz/analysis/class.c
  librz/type/serialize_functions.c
  librz/type/serialize_types.c
  subprojects/sdb.wrap
  test/db/cmd/cmd_ac
  test/db/cmd/project
Owners: @thestr4ng3r, @XVilka, @wargio, @kazarmy, @ret2libc

Fix incompatible return type warnings
  librz/analysis/arch_profile.c
  librz/analysis/serialize_typelink.c
  librz/analysis/sign.c
  librz/analysis/typelink.c
  librz/bin/format/elf/elf_dynamic.c
  librz/core/cautocmpl.c
  librz/type/base.c
  librz/type/function.c
  librz/type/helpers.c
  librz/type/serialize_functions.c
  librz/type/serialize_types.c
  librz/util/str.c
Owners: @thestr4ng3r, @ret2libc, @kazarmy, @wargio, @XVilka

Fix incompatible return type warnings (#1721)
  librz/analysis/arch_profile.c
  librz/analysis/serialize_typelink.c
  librz/analysis/sign.c
  librz/analysis/typelink.c
  librz/bin/format/elf/elf_dynamic.c
  librz/core/cautocmpl.c
  librz/type/base.c
  librz/type/function.c
  librz/type/helpers.c
  librz/type/serialize_functions.c
  librz/type/serialize_types.c
  librz/util/str.c
Owners: @thestr4ng3r, @ret2libc, @kazarmy, @wargio, @XVilka

debug: handle signals on NetBSD and little build fix. (#1719)
  librz/debug/p/debug_native.c
  librz/debug/p/native/bsd/bsd_debug.c
  librz/include/rz_io.h
Owners: @yossizap, @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

RzVirtTermMode for more clarity & rename to rz_cons_detect_vt_mode (#1707)
  librz/cons/cons.c
  librz/cons/dietline.c
  librz/cons/input.c
  librz/cons/line.c
  librz/cons/output.c
  librz/core/cconfig.c
  librz/core/visual.c
  librz/include/rz_cons.h
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Fix incompatible return type warnings (#1721)
  librz/analysis/arch_profile.c
  librz/analysis/serialize_typelink.c
  librz/analysis/sign.c
  librz/analysis/typelink.c
  librz/bin/format/elf/elf_dynamic.c
  librz/core/cautocmpl.c
  librz/type/base.c
  librz/type/function.c
  librz/type/helpers.c
  librz/type/serialize_functions.c
  librz/type/serialize_types.c
  librz/util/str.c
Owners: @thestr4ng3r, @ret2libc, @kazarmy, @wargio, @XVilka

debug: handle signals on NetBSD and little build fix. (#1719)
  librz/debug/p/debug_native.c
  librz/debug/p/native/bsd/bsd_debug.c
  librz/include/rz_io.h
Owners: @yossizap, @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

RzVirtTermMode for more clarity & rename to rz_cons_detect_vt_mode (#1707)
  librz/cons/cons.c
  librz/cons/dietline.c
  librz/cons/input.c
  librz/cons/line.c
  librz/cons/output.c
  librz/core/cconfig.c
  librz/core/visual.c
  librz/include/rz_cons.h
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Move more tests into `not-windows-any`
  test/db/archos/linux-x64/cmd_i
  test/db/archos/linux-x64/cmd_interpreter
  test/db/archos/not-windows-any/cmd_i
  test/db/archos/not-windows-any/cmd_interpreter
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Abort movement of `cmd_i` test
  test/db/archos/darwin-x64/cmd_i
  test/db/archos/linux-x64/cmd_i
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Differentiate btw `cmd_i` tests of `linux-x64` and `darwin-x64`
  test/db/archos/darwin-x64/cmd_i
  test/db/archos/linux-x64/cmd_i
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Extract few more APIs for w and idp commands
  librz/core/cbin.c
  librz/core/cio.c
  librz/core/cmd_info.c
  librz/core/cmd_write.c
  librz/include/rz_core.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Move rz_core_types_link to API to use it in Cutter instead of tl command
  librz/core/core_private.h
  librz/core/ctypes.c
  librz/include/rz_core.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Extract few more APIs for w, tl and idp commands (#1709)
  librz/core/cbin.c
  librz/core/cio.c
  librz/core/cmd_info.c
  librz/core/cmd_write.c
  librz/core/core_private.h
  librz/core/ctypes.c
  librz/include/rz_core.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Extract few more APIs for w, tl and idp commands (#1709)
  librz/core/cbin.c
  librz/core/cio.c
  librz/core/cmd_info.c
  librz/core/cmd_write.c
  librz/core/core_private.h
  librz/core/ctypes.c
  librz/include/rz_core.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Extract few more APIs for w, tl and idp commands (#1709)
  librz/core/cbin.c
  librz/core/cio.c
  librz/core/cmd_info.c
  librz/core/cmd_write.c
  librz/core/core_private.h
  librz/core/ctypes.c
  librz/include/rz_core.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Unicode fixes for Windows (#1703)
  librz/main/rizin.c
  librz/main/rz-diff.c
  librz/main/rz-sign.c
  librz/util/file.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

io: silent warning on openbsd (#1715)
  librz/include/rz_io.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fixes for Windows input when `e scr.vtmode=1` (#1688)
  librz/cons/cons.c
  librz/cons/input.c
  librz/core/cconfig.c
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

debug: handle signals on NetBSD and little build fix. (#1719)
  librz/debug/p/debug_native.c
  librz/debug/p/native/bsd/bsd_debug.c
  librz/include/rz_io.h
Owners: @yossizap, @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix incompatible return type warnings (#1721)
  librz/analysis/arch_profile.c
  librz/analysis/serialize_typelink.c
  librz/analysis/sign.c
  librz/analysis/typelink.c
  librz/bin/format/elf/elf_dynamic.c
  librz/core/cautocmpl.c
  librz/type/base.c
  librz/type/function.c
  librz/type/helpers.c
  librz/type/serialize_functions.c
  librz/type/serialize_types.c
  librz/util/str.c
Owners: @thestr4ng3r, @ret2libc, @kazarmy, @wargio, @XVilka

UTF-16 be, UTF-32 be support (#1535)
  librz/bin/bfile.c
  librz/bin/bin.c
  librz/core/cbin.c
  librz/include/rz_bin.h
  librz/include/rz_util.h
  librz/include/rz_util/rz_str_search.h
  librz/include/rz_util/rz_utf32.h
  librz/meson.build
  librz/util/meson.build
  librz/util/str_search.c
  test/db/cmd/cmd_i
  test/db/formats/mdmp
  test/unit/meson.build
  test/unit/test_str_search.c
Owners: @ret2libc, @wargio, @XVilka, @kazarmy, @thestr4ng3r

RzVirtTermMode for more clarity & rename to rz_cons_detect_vt_mode (#1707)
  librz/cons/cons.c
  librz/cons/dietline.c
  librz/cons/input.c
  librz/cons/line.c
  librz/cons/output.c
  librz/core/cconfig.c
  librz/core/visual.c
  librz/include/rz_cons.h
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Fix Leaks in Types string conversions
  librz/type/type.c
  test/unit/test_type.c
Owners: @XVilka, @wargio, @kazarmy, @thestr4ng3r, @ret2libc

Remove length restrictions in analysis classes and various serializations (#1718)
  librz/analysis/class.c
  librz/type/serialize_functions.c
  librz/type/serialize_types.c
  subprojects/sdb.wrap
  test/db/cmd/cmd_ac
  test/db/cmd/project
Owners: @thestr4ng3r, @XVilka, @wargio, @kazarmy, @ret2libc

Fixes for WinDbg plugin debugging (#1675)
  librz/debug/p/debug_windbg.c
  librz/io/p/io_windbg.c
Owners: @yossizap, @wargio, @ret2libc

Do not use VLA - MSVC does not support them (#1706)
  librz/util/str_search.c
Owners: @ret2libc, @thestr4ng3r

Fix #807 - Don't use `cmd.prompt` to update register flags (#1705)
  librz/core/cconfig.c
  librz/core/cdebug.c
  librz/core/cio.c
  librz/core/cmd_analysis.c
  librz/core/cmd_debug.c
  librz/core/core.c
  librz/core/core_private.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Port ax commands to newshell
  librz/analysis/xrefs.c
  librz/bin/format/xnu/scripts/machtraps.py
  librz/core/canalysis.c
  librz/core/cmd_analysis.c
  librz/core/cmd_descs/cmd_analysis.yaml
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_print.c
  librz/core/core.c
  librz/core/panels.c
  librz/include/rz_analysis.h
  test/db/analysis/arm
  test/db/analysis/avr
  test/db/analysis/mips
  test/db/analysis/x86_32
  test/db/analysis/x86_64
  test/db/archos/linux-x64/dbg_aslr
  test/db/archos/linux-x64/dbg_gdbserver_rebase
  test/db/archos/windows-x64/dbg_rebase
  test/db/cmd/cmd_ax
  test/db/cmd/cmd_pd
  test/db/cmd/cmd_pd2
  test/db/cmd/cmd_zignature
  test/db/extras/cmd/udis86
  test/db/formats/mach0/objc
  test/db/formats/pe/ioli
  test/db/json/json2
Owners: @ret2libc, @wargio, @XVilka, @kazarmy, @thestr4ng3r

Remove unnecessary option `RZ_TYPE_PRINT_IDENTIFIER`
  librz/include/rz_type.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add support for function pointers
  librz/type/type.c
Owners: @XVilka

Add tests for nested structs, unions, enums and function pointers
  test/unit/test_type.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Format according to clang-format
  test/unit/test_type.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add comments to type pretty printing API
  librz/type/type.c
Owners: @XVilka

Fix pimm/cimm opex printing in ARM instructions
  librz/analysis/p/analysis_arm_cs.c
Owners: @thestr4ng3r

Use only one space after and before braces in type pretty printing
  librz/type/type.c
  test/unit/test_type.c
Owners: @XVilka, @wargio, @kazarmy, @thestr4ng3r, @ret2libc

CODEOWNERS:

* @wargio @XVilka @kazarmy @thestr4ng3r @ret2libc
*.js @wargio
CODEOWNERS @wargio @XVilka @kazarmy @thestr4ng3r @ret2libc
librz/analysis/ @thestr4ng3r
librz/analysis/esil* @wargio
librz/analysis/xrefs.c @ret2libc
librz/arch/gb/ @wargio
librz/asm/ @wargio
librz/asm/p/x86_* @ret2libc
librz/asm/p/arm_* @wargio
librz/bin/ @ret2libc @wargio
librz/bin/format/elf/ @ret2libc @kazarmy
librz/bin/format/mach0/ @wargio
librz/bin/format/objc/ @wargio
librz/bin/format/wasm/ @wargio
librz/config/ @wargio @ret2libc
librz/cons/ @thestr4ng3r @wargio
librz/core/cmd.c @ret2libc @wargio
librz/debug/ @yossizap @wargio
librz/egg/ @wargio
librz/flag/ @ret2libc @wargio
librz/fs/ @wargio
librz/io/ @wargio @ret2libc
librz/lang/ @thestr4ng3r @wargio @ret2libc
librz/magic/ @wargio
librz/parse/ @ret2libc @wargio
librz/reg/ @XVilka @wargio
librz/socket/ @XVilka @yossizap
librz/syscall/ @ret2libc @wargio
librz/type/ @XVilka
librz/util/ @ret2libc @thestr4ng3r
shlr/gdb/ @yossizap
shlr/ptrace-wrap/ @thestr4ng3r
shlr/rizin-shell-parser/ @ret2libc
shlr/w32dbg_wrap/ @yossizap
shlr/winkd/ @yossizap
