Repository rizinorg/rizin, changes with the owners that CODEOWNERS names for each.
All owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc, @yossizap

CODEOWNERS:

* @wargio @XVilka @kazarmy @thestr4ng3r @ret2libc
*.js @wargio
CODEOWNERS @wargio @XVilka @kazarmy @thestr4ng3r @ret2libc
librz/analysis/ @thestr4ng3r
librz/analysis/esil* @wargio
librz/analysis/xrefs.c @ret2libc
librz/arch/gb/ @wargio
librz/asm/ @wargio
librz/asm/p/x86_* @ret2libc
librz/asm/p/arm_* @wargio
librz/bin/ @ret2libc @wargio
librz/bin/format/elf/ @ret2libc @kazarmy
librz/bin/format/mach0/ @wargio
librz/bin/format/objc/ @wargio
librz/bin/format/wasm/ @wargio
librz/config/ @wargio @ret2libc
librz/cons/ @thestr4ng3r @wargio
librz/core/cmd.c @ret2libc @wargio
librz/debug/ @yossizap @wargio
librz/egg/ @wargio
librz/flag/ @ret2libc @wargio
librz/fs/ @wargio
librz/io/ @wargio @ret2libc
librz/lang/ @thestr4ng3r @wargio @ret2libc
librz/magic/ @wargio
librz/parse/ @ret2libc @wargio
librz/reg/ @XVilka @wargio
librz/socket/ @XVilka @yossizap
librz/syscall/ @ret2libc @wargio
librz/type/ @XVilka
librz/util/ @ret2libc @thestr4ng3r
shlr/gdb/ @yossizap
shlr/ptrace-wrap/ @thestr4ng3r
shlr/rizin-shell-parser/ @ret2libc
shlr/w32dbg_wrap/ @yossizap
shlr/winkd/ @yossizap

Revert "Added support to swift demangling (#1595)"
  .gitignore
  librz/bin/blang.c
  librz/bin/bobj.c
  librz/bin/demangle.c
  librz/bin/filter.c
  librz/bin/format/java/class_bin.c
  librz/bin/i/private.h
  librz/bin/mangling/swift-sd.c
  librz/bin/mangling/swift.c
  librz/bin/meson.build
  librz/core/cbin.c
  librz/core/cconfig.c
  librz/core/cmd_info.c
  librz/debug/meson.build
  librz/include/rz_bin.h
  librz/main/rz-bin.c
  meson.build
  subprojects/libswift.wrap
  subprojects/libuv.wrap
  test/db/formats/mach0/swift
  test/db/formats/mangling/swift
  test/db/tools/rz_bin
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc, @yossizap

Use source_fallback_url when failing
  subprojects/libuv.wrap
  subprojects/lz4.wrap
  subprojects/zlib.wrap
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Use source_fallback_url when failing (#1604)
  subprojects/libuv.wrap
  subprojects/lz4.wrap
  subprojects/zlib.wrap
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Map 'obr' to 'oba' and 'ob-X'
  librz/core/cmd_open.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Patch relocs not once, but each time 'patch_relocs' is set.
  librz/bin/p/bin_elf.inc
  librz/core/cfile.c
Owners: @ret2libc, @wargio, @XVilka, @kazarmy, @thestr4ng3r

Fixed OOB read in mach0.c
  librz/bin/format/mach0/mach0.c
Owners: @wargio

debug: generate coredump on netbsd.
  librz/core/cmd_debug.c
  librz/debug/p/debug_native.c
  librz/debug/p/debug_windbg.c
  librz/debug/p/native/bsd/bsd_debug.c
  librz/debug/p/native/bsd/bsd_debug.h
  librz/include/rz_debug.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc, @yossizap

Check for null before serializing strings
  librz/bp/serialize_bp.c
  librz/core/serialize_core.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add checks while loading the serialized breakpoint data
  librz/bp/serialize_bp.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Create xrefs for conditional jumps when `analysis.jmp.cref` is true
  librz/core/canalysis.c
  test/db/tools/rz_diff
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix the tests
  test/db/analysis/x86_64
  test/db/formats/elf/elf-riscv64
  test/db/formats/mach0/objc
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

debug: generate coredump on netbsd. (#1603)
  librz/core/cmd_debug.c
  librz/debug/p/debug_native.c
  librz/debug/p/debug_windbg.c
  librz/debug/p/native/bsd/bsd_debug.c
  librz/debug/p/native/bsd/bsd_debug.h
  librz/include/rz_debug.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc, @yossizap

Load types, callables, classes before functions and variables
  librz/analysis/serialize_analysis.c
Owners: @thestr4ng3r

Load bit-specific types before arch-specific
  librz/type/type.c
Owners: @XVilka

Fix atomic type format serialization
  librz/type/serialize_types.c
Owners: @XVilka

Bump Project version to 5, add `unknown_t`
  librz/core/project_migrate.c
  librz/include/rz_project.h
  test/db/cmd/project
  test/unit/test_project_migrate.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add serialize_debug.c to allow for better interface
  librz/core/serialize_core.c
  librz/debug/meson.build
  librz/debug/serialize_debug.c
  librz/include/rz_debug.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc, @yossizap

Remove `test_serialize_bp`
  test/unit/meson.build
  test/unit/test_serialize_bp.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add null checks for function arguments
  librz/debug/serialize_debug.c
Owners: @yossizap, @wargio

Add Doxygen documentation for serialization functions for debug and bp
  librz/bp/serialize_bp.c
  librz/debug/serialize_debug.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc, @yossizap

Remove `-` (open editor) from rzshell
  librz/core/cmd.c
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_descs.h
  librz/core/cmd_descs/cmd_descs.yaml
Owners: @ret2libc, @wargio, @XVilka, @kazarmy, @thestr4ng3r

Load bit-specific types before arch-specific
  librz/type/type.c
Owners: @XVilka

Fix atomic type format serialization
  librz/type/serialize_types.c
Owners: @XVilka

Load types, callables, classes before functions and variables
  librz/analysis/serialize_analysis.c
Owners: @thestr4ng3r

Bump Project version to 5, add `unknown_t`
  librz/core/project_migrate.c
  librz/include/rz_project.h
  test/db/cmd/project
  test/unit/test_project_migrate.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add tips for storing project in compressed format and global variables
  doc/fortunes.tips
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Use RZ_LOG_INFO instead of RZ_LOG_WARN for hash/gnu_hash sections
  librz/bin/format/elf/elf_symbols.c
Owners: @ret2libc, @kazarmy

Add `RZ_BUILD_DEBUG` compile time definition for debug logging
  librz/include/rz_util/rz_log.h
  meson.build
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add some test about bitvector
  librz/analysis/p/analysis_bf.c
  librz/analysis/rzil/rzil.c
  librz/analysis/rzil/rzil_trace.c
  librz/core/cil.c
  librz/il/definitions/bag.c
  librz/il/definitions/bitvector.c
  librz/il/definitions/bool.c
  librz/il/definitions/effect.c
  librz/il/definitions/mem.c
  librz/il/definitions/value.c
  librz/il/definitions/variable.c
  librz/il/rzil_opcodes.c
  librz/il/rzil_vm.c
  librz/il/theory_init.c
  librz/il/vm_layer.c
  librz/include/rz_il/definitions/bitvector.h
  librz/include/rz_il/definitions/value.h
  librz/include/rz_il/rzil_vm.h
  test/unit/meson.build
  test/unit/test_il_definitions.c
  test/unit/test_il_vm.c
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Address new comments
  librz/analysis/analysis.c
  librz/analysis/p/analysis_bf.c
  librz/analysis/rzil/rzil.c
  librz/analysis/rzil/rzil_stats.c
  librz/analysis/rzil/rzil_trace.c
  librz/il/definitions/bag.c
  librz/il/definitions/bitvector.c
  librz/il/definitions/bool.c
  librz/il/definitions/effect.c
  librz/il/definitions/mem.c
  librz/il/rzil_vm.c
  librz/il/theory_effect.c
  librz/il/theory_mem.c
  librz/il/vm_layer.c
  librz/include/rz_il/definitions/bitvector.h
  librz/include/rz_il/definitions/bool.h
  librz/include/rz_il/definitions/effect.h
  librz/include/rz_il/rzil_opcodes.h
  librz/include/rz_il/rzil_vm.h
  librz/include/rz_il/vm_layer.h
  test/unit/test_il_definitions.c
  test/unit/test_il_vm.c
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Add unit tests for effect and mem
  librz/il/definitions/effect.c
  test/unit/test_il_definitions.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Change the style of struct name of RzIL basic structure
  librz/analysis/p/analysis_bf.c
  librz/analysis/rzil/rzil.c
  librz/analysis/rzil/rzil_stats.c
  librz/analysis/rzil/rzil_trace.c
  librz/core/cil.c
  librz/il/definitions/bag.c
  librz/il/definitions/bitvector.c
  librz/il/definitions/bool.c
  librz/il/definitions/effect.c
  librz/il/definitions/mem.c
  librz/il/definitions/value.c
  librz/il/definitions/variable.c
  librz/il/rzil_opcodes.c
  librz/il/rzil_vm.c
  librz/il/theory_bitv.c
  librz/il/theory_bool.c
  librz/il/theory_effect.c
  librz/il/theory_init.c
  librz/il/theory_mem.c
  librz/il/vm_layer.c
  librz/include/rz_analysis.h
  librz/include/rz_il/definitions/bag.h
  librz/include/rz_il/definitions/bitvector.h
  librz/include/rz_il/definitions/bool.h
  librz/include/rz_il/definitions/effect.h
  librz/include/rz_il/definitions/mem.h
  librz/include/rz_il/definitions/value.h
  librz/include/rz_il/definitions/variable.h
  librz/include/rz_il/rzil_opcodes.h
  librz/include/rz_il/rzil_vm.h
  librz/include/rz_il/vm_layer.h
  test/unit/test_il_definitions.c
  test/unit/test_il_vm.c
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Fix .- command parsing
  shlr/rizin-shell-parser/corpus/simple_commands.txt
  shlr/rizin-shell-parser/grammar.js
  shlr/rizin-shell-parser/src/grammar.json
  shlr/rizin-shell-parser/src/parser.c
Owners: @ret2libc

Implement `t*` and remove `tn*` because not needed/working
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_type.yaml
  librz/core/ctypes.c
  test/db/cmd/types
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add tips for storing project in compressed format and global variables
  doc/fortunes.tips
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix type name parsing in `tc` and `tcd`
  librz/core/cmd_type.c
  librz/core/core_private.h
  librz/core/ctypes.c
  test/db/cmd/cmd_tc
  test/db/cmd/types
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Use the variables to avoid `unused variables` warning when building
  librz/type/parser/c_cpp_parser.c
Owners: @XVilka

Fix type name parsing in `tc` and `tcd`
  librz/core/cmd_type.c
  librz/core/core_private.h
  librz/core/ctypes.c
  test/db/cmd/cmd_tc
  test/db/cmd/types
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Implement `t*` and remove `tn*` because not needed/working
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_type.yaml
  librz/core/ctypes.c
  test/db/cmd/types
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Load types, callables, classes before functions and variables
  librz/analysis/serialize_analysis.c
Owners: @thestr4ng3r
