Repository rizinorg/rizin, changes with the owners that CODEOWNERS names for each.
All owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc, @yossizap

Add types pretty printing functions
  librz/include/rz_type.h
  librz/type/type.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Use 31-Dec-1969 epoch instead of hack
  librz/util/time.c
Owners: @ret2libc, @thestr4ng3r

Format according to clang-format
  librz/type/type.c
Owners: @XVilka

Remove unnecessary comments; Fix assignment to avoid warnings
  librz/type/type.c
Owners: @XVilka

Fix brace printing, typedef printing
  librz/type/type.c
Owners: @XVilka

Expose rz_core_load_theme() as API
  librz/core/cmd_eval.c
  librz/core/core_private.h
  librz/include/rz_core.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

`rz_time_stamp_to_str`: Use 31-Dec-1969 epoch instead of hack (#1679)
  librz/util/time.c
Owners: @ret2libc, @thestr4ng3r

Bump SDB revision
  subprojects/sdb.wrap
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Move `pt` UTC timezone tests out of `archos/` (#1668)
  librz/util/time.c
  test/db/archos/windows-x64/cmd_pt
  test/db/cmd/cmd_pt
Owners: @ret2libc, @thestr4ng3r, @wargio, @XVilka, @kazarmy

`rz_time_stamp_to_str`: Use 31-Dec-1969 epoch instead of hack (#1679)
  librz/util/time.c
Owners: @ret2libc, @thestr4ng3r

Bump SDB revision
  subprojects/sdb.wrap
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Expose rz_core_load_theme() as API (#1680)
  librz/core/cmd_eval.c
  librz/core/core_private.h
  librz/include/rz_core.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Expose rz_core_load_theme() as API (#1680)
  librz/core/cmd_eval.c
  librz/core/core_private.h
  librz/include/rz_core.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add rz_buf_write_* API to read ut16, ut32, ut64 from a buf
  librz/bin/format/coff/coff.c
  librz/bin/format/elf/elf_imports.c
  librz/bin/format/elf/elf_misc.c
  librz/bin/format/le/le.c
  librz/bin/format/mach0/mach0.c
  librz/include/rz_util/rz_buf.h
  librz/util/buf.c
Owners: @ret2libc, @wargio, @kazarmy, @XVilka, @thestr4ng3r

Add macro to simplified rz_buf_read_* and rz_buf_write_* definition
  librz/include/rz_util/rz_buf.h
  librz/util/buf.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Add break to the end of aac handler
  librz/core/cmd_analysis.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Move `pt` UTC timezone tests out of `archos/` (#1668)
  librz/util/time.c
  test/db/archos/windows-x64/cmd_pt
  test/db/cmd/cmd_pt
Owners: @ret2libc, @thestr4ng3r, @wargio, @XVilka, @kazarmy

Bump SDB revision
  subprojects/sdb.wrap
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Expose rz_core_load_theme() as API (#1680)
  librz/core/cmd_eval.c
  librz/core/core_private.h
  librz/include/rz_core.h
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

`rz_time_stamp_to_str`: Use 31-Dec-1969 epoch instead of hack (#1679)
  librz/util/time.c
Owners: @ret2libc, @thestr4ng3r

Add break to the end of aac handler (#1682)
  librz/core/cmd_analysis.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Modify ternary conditional operator to build on Windows
  librz/type/type.c
Owners: @XVilka

Added crc32 and entropy values
  librz/bin/bfile.c
  librz/core/cconfig.c
  librz/core/cmd_info.c
  librz/include/rz_bin.h
  librz/main/rizin.c
  test/db/cmd/cmd_i
  test/unit/test_bin.c
Owners: @ret2libc, @wargio, @XVilka, @kazarmy, @thestr4ng3r

Move linux specific thing used only in the debugger out of RUtil
  librz/debug/p/debug_native.c
  librz/include/rz_util/rz_sys.h
  librz/util/sys.c
Owners: @yossizap, @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix un released lock
  binrz/rz-test/rz-test.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

commands: 'toe' accept a type argument
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_type.yaml
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fixed test
  test/db/formats/pe/authentihash
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix un released lock
  binrz/rz-test/rz-test.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Move linux specific thing used only in the debugger out of RUtil
  librz/debug/p/debug_native.c
  librz/include/rz_util/rz_sys.h
  librz/util/sys.c
Owners: @yossizap, @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

commands: 'toe' accept a type argument
  librz/core/cmd_descs/cmd_descs.c
  librz/core/cmd_descs/cmd_type.yaml
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix CID 356621
  librz/core/ctypes.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix CID 356618
  librz/core/ctypes.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix CID 356617
  librz/core/cmd_type.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix CID 356615
  librz/core/canalysis.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

Fix CID 356613
  librz/analysis/serialize_analysis.c
Owners: @thestr4ng3r

Fix CID 356610
  librz/analysis/serialize_analysis.c
Owners: @thestr4ng3r

Fix mouse input on Windows with `e scr.vtmode=1`
  librz/cons/cons.c
  librz/core/cconfig.c
Owners: @thestr4ng3r, @wargio, @XVilka, @kazarmy, @ret2libc

Fix shifted keys not being handled in some terminal on Windows
  librz/cons/input.c
Owners: @thestr4ng3r, @wargio

Use define instead of constant
  librz/cons/input.c
Owners: @thestr4ng3r, @wargio

Fix CID 356597
  librz/core/ctypes.c
Owners: @wargio, @XVilka, @kazarmy, @thestr4ng3r, @ret2libc

CODEOWNERS:

* @wargio @XVilka @kazarmy @thestr4ng3r @ret2libc
*.js @wargio
CODEOWNERS @wargio @XVilka @kazarmy @thestr4ng3r @ret2libc
librz/analysis/ @thestr4ng3r
librz/analysis/esil* @wargio
librz/analysis/xrefs.c @ret2libc
librz/arch/gb/ @wargio
librz/asm/ @wargio
librz/asm/p/x86_* @ret2libc
librz/asm/p/arm_* @wargio
librz/bin/ @ret2libc @wargio
librz/bin/format/elf/ @ret2libc @kazarmy
librz/bin/format/mach0/ @wargio
librz/bin/format/objc/ @wargio
librz/bin/format/wasm/ @wargio
librz/config/ @wargio @ret2libc
librz/cons/ @thestr4ng3r @wargio
librz/core/cmd.c @ret2libc @wargio
librz/debug/ @yossizap @wargio
librz/egg/ @wargio
librz/flag/ @ret2libc @wargio
librz/fs/ @wargio
librz/io/ @wargio @ret2libc
librz/lang/ @thestr4ng3r @wargio @ret2libc
librz/magic/ @wargio
librz/parse/ @ret2libc @wargio
librz/reg/ @XVilka @wargio
librz/socket/ @XVilka @yossizap
librz/syscall/ @ret2libc @wargio
librz/type/ @XVilka
librz/util/ @ret2libc @thestr4ng3r
shlr/gdb/ @yossizap
shlr/ptrace-wrap/ @thestr4ng3r
shlr/rizin-shell-parser/ @ret2libc
shlr/w32dbg_wrap/ @yossizap
shlr/winkd/ @yossizap
